[2022-10-28 18:27] davidbrochart opened #13338 "Collaborative consoles"
I also opened this issue [in jupyter-server](https://github.com/jupyter-server/jupyter_server/issues/1041).

### Problem

Consoles are currently not collaborative, because they don't have a corresponding shared document.

### Proposed Solution

A console can be seen as a notebook in which one can only append cells, and not re-execute previous cells. Then, we could use a [YNotebook](https://github.

[2022-10-28 18:30] davidbrochart opened #13339 "Collaborative terminals"
I also opened this issue [in jupyter-server](https://github.com/jupyter-server/jupyter_server/issues/1040).

### Problem

Currently, terminals are rendered in JupterLab with [xterm.js](https://xtermjs.org), and the backend serves the "terminal protocol" over WebSocket. This allows collaboration, as the back-end broadcasts terminal events to all front-ends, and so everyone sees what others are doin

[2022-10-28 18:42] krassowski commented on #10753
Closing as this appears resolved. Please reopen if needed.

[2022-10-28 18:42] #10753 closed

[2022-10-28 19:09] krassowski commented on #13324
The reasoning here is incorrect: the fact that a change in JupyterLab can workaround an issue you experience in a non-maintained third-party extension does not imply that the fault lies in JupyterLab.

Context: The upstream dependency used by JupyterLab to parse URLs (url-parse) has changed how it handles some edge cases (URLs for file schema). This was due to a rewrite of some url-parse logic whi

[2022-10-28 19:19] krassowski commented on #13324
I updated the title to reflect the core issue. I just want to stress that changing the behaviour back to how it was in 3.0.10 might go against the specification (I am not convinced here), so any PR needs to be presented with a good research and strong rationale.

[2022-10-28 20:11] krassowski commented on #10004
An important data point is Microsoft Word Office 365 (which is the Word version running in the browser). It responds to zoom:
- mouse-driven
   - when you hovers over the document, it zooms the document
   - when you hovers over the non-document UI (Ribbon or statusbar) it zooms the entire page
- keyboard-driven:
   - zooms document if document is focused or nothing is focused
   - zooms entire UI

[2022-10-28 20:44] williamstein commented on #13338
"CoCalc consoles" are completely orthogonal to the rest of our realtime sync framework.   Here I'm talking about xterm terminals, i.e., those that are rendered by xterm.js.   Collaboration for these (as implemented in cocalc) is very easy to implement since you never seen anything until it is echo'd back, so all you have to do is feed all user input to the backend, then render everything that come

[2022-10-28 22:46] subwaymatch commented on #12803
@jleman Deleting all workspace files in `~/.jupyter/lab/workspaces` fixed the issue for me as well. Thank you for sharing the tip. 👍

[2022-10-28 23:14] afshin commented on #13316
This is a bit perplexing. Just for an apples-to-apples comparison, I installed the exact package versions you have:
[code]
Then I ran the command:
[code]
And when I try out `!pwd` in a notebook cell I see the correct result:

<img width="340" alt="Screenshot 2022-10-29 at 00 13 16" src="https://user-images.githubusercontent.com/159529/198749168-40c5a137-40b2-46dc-b5ab-386d7151ebf9.png">

I am runn

[2022-10-29 06:47] linlol commented on #13319
sorry that I am new to jupyterlab community, thanks for your help!

[2022-10-29 07:03] linlol commented on #13326
Thanks a lot!

I took a further look on our case and let me make a better description here.

suppose that we have a mounted directory /mount, and a symbolink /mount/code from container storage /code

in this case, I found that when clicking /mount/code at directory, it invokes API /content/mount/code?content=1&{timestamp}, which takes more than 5 seconds in devtools, while actually it takes just 2

[2022-10-29 07:43] mfib commented on #11934
hi, thank you very much, this helped me as well.
but i also crosschecked w/ tornado 6.2, which also cures the symptom(!?).

python 3.10.5
ipykernel            6.15.0
ipython              8.4.0
ipython-genutils     0.2.0
jupyter-client       7.3.4
jupyter-core         4.10.0
jupyter-server       1.17.1
jupyterlab           3.5.0
jupyterlab-pygments  0.2.2
jupyterlab-server    2.14.0
nbclassic

[2022-10-29 09:57] davidbrochart commented on #13338
Thanks for the detailed feedback William.

Yes, this is also how terminals are rendered in JupyterLab.

They are also collaborative in JupyterLab, but conflicts are not handled. I gave the following example in the other [issue](https://github.com/jupyterlab/jupyterlab/issues/13339#issue-1427646801):
"imagine a text editing terminal application, like vim. Ultimately, this is equivalent to a shared

[2022-10-29 13:35] krassowski commented on #13311
Hi @charizard-knows I opened #13340 to improve the behaviour. It is targeting 4.0 release. I do not plan to backport it myself because there were extensive changes in search-and-replace between 3.x and 4.0, but if you or someone else would like to backport it, I am happy to review.

[2022-10-29 14:42] williamstein commented on #13338
Yjs will solve conflicts.

Wow, if you can get that to work in a terminal that would be amazing!  I definitely have no idea how to do that.    And yes, that's right, the terminal-based console in CoCalc doesn't have rich outputs at all.

[2022-10-30 04:17] charizard-knows commented on #13316
@altruistcoder Can you also post your locale settings and/or if you have any aliases set in the terminal. I think something is preventing the directory to fed properly as an argument, causing jupyter to fall back to the root directory when opening.

One other thing that you can do is create a temporary user on your Ubuntu installation (you can delete this afterwards of course), install jupyter for

[2022-10-30 21:20] altruistcoder commented on #13316
Hello, first of all thanks a lot @charizard-knows and @afshin for providing solutions to solve this problem.

There's some observations that I got. I'll divide my observations and things I have tried into three cases:

Case (I): When I simply pass the `--notebook-dir=/home/jovyan/work` as command-line args in my deployment definition running on my openshift cluster:

Observation: In this case, I a

[2022-10-31 06:23] fperez opened #13342 "Lab 3.5.0 hides cells with a markdown horizontal line (`---`)"
## Description

In Lab 3.5.0, any markdown cell that begins with a horizontal ruler marker is rendered invisible, as illustrated here:

![image](https://user-images.githubusercontent.com/57394/198944009-2c522e03-e5f6-4de1-a67d-52571e774476.png)

## Reproduce

All it takes is making a markdown cell with

[code]

and once rendered, it gets displayed as a blank space as shown above.

As best I can te

[2022-10-31 06:28] fperez commented on #13342
I should add that the cells with a line also get removed from the navigation outline (left bar). That makes the bug doubly nasty, as those cells become extremely hard to find - they appear to be gone from the notebook.

[2022-10-31 07:12] suganya-sk opened #13343 "Scrollbar jumps back in a virtualized notebook on scrolling"
## Description

In a virtualized notebook, on scrolling, the scrollbar jumps back and shrinks as more content is rendered. This is a bit jarring visually and the original scrollbar is not indicative of the actual size of the notebook.

## Reproduce

In a notebook running from Jupyterlab >= 4.0.0a29,

1. Open a notebook with about a 100 cells - the scrollbar at this point does not reflect the actua

[2022-10-31 10:20] teleginzhenya opened #13345 "Disabling @jupyterlab/notebook-extension does not disable @jupyterlab/notebook-extensions:copy-output in 3.4.x"
https://github.com/jupyterlab/jupyterlab/blob/ad66d84e61369debfa4894ceb8f7ad76e2a68b9d/packages/notebook-extension/src/index.ts#L672

I've disabled `@jupyterlab/notebook-extension` in order to replace everything with my fork of `notebook-extension` package (since I couldn't find way to customize it, lol)

Steps to reproduce
1. `jupyter labextension disable @jupyterlab/notebook-extension`
2. `jupyt

[2022-10-31 14:16] #13331 closed

[2022-10-31 16:12] fperez commented on #13342
Interestingly, on another machine I'm not being able to reproduce this. So while it's happening somewhere, it may not be so widespread as to be critical.

I'll do more testing to see if I can identify what the causing issue is.

[2022-10-31 16:12] afshin commented on #13342
I was unable to reproduce this issue on 3.5.0 with Firefox 106.0.1 on macOS. Has anyone else reproduced it?

[2022-10-31 16:18] jasongrout commented on #13342
I am not seeing this on JLab 3.5.0 with Firefox 106.0.3 on macOS.

[2022-10-31 16:22] andrii-i commented on #13342
I can't reproduce this on jupyterlab 3.5.0 with Google Chrome 07.0.5304.62 on macos Monterey 12.6.1

[2022-10-31 16:26] andrii-i commented on #13342
@fperez could you please advise on the browser / environment you are using when seeing this bug?

[2022-10-31 17:40] fcollonval commented on #13343
Some background on the root cause:

Virtual rendering requires the estimation of content not rendered. This is a very hard problem for notebook as we have no good way to estimate their sizes. The height estimator is very crude for now (some heuristic for rendered markdown cells and cell outputs would definitely be beneficial) as it only take into account the number of lines in the cell sources to

[2022-10-31 17:48] fcollonval commented on #13345
Thanks @teleginzhenya

This is really unfortunate. But as we consider plugin id as part of the API, we have a policy not to change them except when doing a new major release (you can actually see that it is corrected on [master](https://github.com/jupyterlab/jupyterlab/blob/master/packages/notebook-extension/src/index.ts#L710) that is targeting v4).

Could you try running `jupyter labextension dis

[2022-10-31 19:05] teleginzhenya commented on #13345
@fcollonval makes sense about breaking changes. I've disabled this extension directly and it worked. However, issue might be usefull for anyone who could face same issue.

[2022-10-31 21:12] fperez commented on #13342
Mmh, the plot thickens... I've been able to reproduce the problem again on my M1 MacBook Pro 14", running Monterey (MacOS 12.6), with _all three major browsers_:

![image](https://user-images.githubusercontent.com/57394/199111257-ff26aabb-0d6c-4d6e-a05b-705ad1a88b72.png)

On my Intel Mac Mini it's not happening, but it's happening on all three here. System has been rebooted, and while I keep sever

[2022-10-31 21:15] fperez commented on #13342
One more data point - if I add a blank line _before_ the `---` marker, the cell renders fine.

As for @afshin's question this morning - I looked at the JS consoles and there's nothing reported other than this message, which I don't think is related:

[code]

In any case, odd bug... I hope it's not hitting anyone else, though I somehow doubt it...

[2022-10-31 21:16] jasongrout commented on #13342
As a next debugging step: can you open up the DOM inspector and see what the DOM looks like? Does the DOM contain the contents of the markdown cell, and the rendering is not tall enough to display it, or is the contents of the rendered markdown cell missing?

[2022-10-31 21:47] ellisonbg commented on #13342
@andrii-i should have tie to tackle this on Wednesday of this week.

[2022-11-01 00:47] fperez commented on #13342
@jasongrout I'm not an expert at DOM debugging, but from what I can see, it looks like the contents of the rendered markdown is indeed missing. I see an enclosing div, but nothing inside, while for a correctly rendered cell, the DOM tree has further nodes and I can read the text inside in the DOM browser...

I only checked this in FFox, but I'm guessing it's the same in all three.

[2022-11-01 06:51] divyansshhh opened #13361 "Race condition in kernel restart and cell execution"
## Description
If kernel is restarted and cell execution commands are given quickly, then some cells tend to be skipped. There appears to be a race condition here.

## Reproduce
This is flaky to reproduce but restarting the kernel and running cells quickly should work.

## Expected behavior
Cells shouldn't be skipped

[2022-11-01 09:04] suganya-sk commented on #13343
Thanks for the quick reply here.

I agree guessing dimensions of content that has not been rendered is a difficult problem to solve and we wouldn't want to do something that foregoes all the benefit virtualization has brought in.

This isn't much of an improvement but can we consider adding the something like this to èstimateWidgetSize` - it already estimates size of a cell by accessing the number

[2022-11-01 10:29] schmidi314 opened #13362 "Code folding is broken"
## Description

Code folding does not work any more.

## Reproduce

![Peek 2022-10-15 15-42](https://user-images.githubusercontent.com/74381262/199213274-edf9f3af-3386-4c8e-a8d4-7c282fcc28a7.gif)

1. Activate code folding [Notebook->Code Cell Configuration->Code Folding]
2. Try to collapse a function.

## Expected behavior

A triangle should appear that, when clicked, collapses the function bodies

[2022-11-01 18:44] kylestahl commented on #4209
Any updates on this? I currently do this in VS Code and really want to move to JupyterLab but this is a blocker.

[2022-11-01 18:52] kylestahl commented on #4209
Nevermind, I found that "show all kernel activity" checkbox that achieves the same thing after connecting all the files to the same kernel. Thanks!

<img width="413" alt="image" src="https://user-images.githubusercontent.com/25934982/199314467-c5f3dbf3-68d4-4a6b-a5e2-d99c3514189c.png">

[2022-11-01 23:48] dnoliver opened #13363 "Page load performance degradation on jupyter/datascience-notebook:lab-3.5.0"
## Description

Got a problem while trying to access a Jupyter Lab webpage using an slow internet connection.
I was able to reproduce the issue by simulating an slow network connection with Chrome CDT (Disable Cache + Slow 3G)
Started a jupyter-lab container, using the latest available version in Docker Hub:

[code]

And then used a clean Chrome Version 107.0.5304.63 (64-bit) to try to load Lab (D

[2022-11-02 08:07] fcollonval commented on #13343
Except for the code editor, as you said, it is really hard to get an idea of the element heights. Currently I think we would be even more robust by
- either caching the sizes to be able to restore it between user sessions
- or better using a self trained size estimator for which will cached the parameters to restore it between user sessions.

I like a bit better the second one as it will allow som

[2022-11-02 16:21] krassowski commented on #13342
1. Approximately, how many cells were in the notebook? Can you share the example notebook?
2. Did you use table of contents?
3. Could you share the list of extensions? I seejupyterlab-favourites.

[2022-11-02 17:42] fperez commented on #13342
@krassowski any blank notebook with any cell like this:

[code]

shows the problem. But only on this one laptop so far!! Really odd...

[2022-11-02 17:44] fperez commented on #13342
As for 3 - I don't have my laptop handy right now but will update when I do...

[2022-11-02 18:03] mlucool commented on #10422
I tried this and it did not work. I set a breakpoint at jupyterlab_server/config.py:42 and only saw it called once (which is surprising if this is how it must get the list) and
[code]
passed in `[]`.

Did you try setting a breakpoint? Maybe my setup is wrong

[2022-11-02 19:12] andrii-i commented on #13342
Hi @fperez. I surfaced this bug during todays jupyterlab call and asked participants to attempt to reproduce it and we had 0 hits. Getting more info about your environment would be helpful. Following up and expanding on what @krassowski asked above, could you please (in the environment that you're getting error at):
1. Run `jupyter --version` in terminal and share output
2. Run `jupyter serverexte

[2022-11-02 20:36] Atcold commented on #443
Are there any updates on this?

[2022-11-02 20:49] anthonytec2 commented on #443
From my understanding this was released recently: https://github.com/jupyterlab/jupyterlab/blob/f0790b3ffd187b7dc923156b8ae227855abecefb/packages/inspector/README.md. There is now a little bug on the side of the jupyterlab panel, where the variable inspector is.

[2022-11-02 22:02] andrii-i commented on #13342
Replicating this bug using https://jupyter.org/try-jupyter/lab/ or binder would help us verify if problem has to do with jupyterlab or with local environment

[2022-11-02 22:05] ellisonbg commented on #13342
We should also search for instances of `if (user === 'fperez')` in the code
:-)

On Wed, Nov 2, 2022 at 3:02 PM Andrii Ieroshenko ***@***.***>
wrote:

--
Brian E. Granger

Senior Principal Technologist, AWS AI/ML ***@***.***)
On Leave - Professor of Physics and Data Science, Cal Poly
@ellisonbg on GitHub

[2022-11-02 22:32] jakirkham commented on #443
Yeah thought this was done a while ago (unless I'm misunderstanding the ask)

https://blog.jupyter.org/a-visual-debugger-for-jupyter-914e61716559

[2022-11-03 03:12] fperez commented on #13342
Hi folks, thanks for the help! Today I updated my laptop to macOS 13 (ventura). Bug still there.

## Summary of info requests:

<details>
<summary>`jupyter --version`</summary>
[code]
</details>

<details>
<summary> `jupyter serverextension list`</summary>
[code]
</details>

<details>
<summary>`jupyter labextension list` </summary>
[code]
</details>

<details>
<summary>`jupyter troubleshoot` </sum

[2022-11-03 03:12] fperez commented on #13342
## Other info
* JupyterLite: problem doesn't happen.
* Notebook to reproduce: it happens with _any_ notebook with a cell that starts with a `---`, pre-existing or freshly made...

## Recording of the problem

![hruler-jlab-bug](https://user-images.githubusercontent.com/57394/199640938-68c8876f-a48d-4a6c-92f6-ec7752744740.gif)

[2022-11-03 03:15] fperez commented on #13342
And I think @ellisonbg is onto something here ;)

[2022-11-03 04:17] fperez commented on #13342
BTW, here's another recording showing how the cell disappears from the TOC sidebar - it happens at render time. Something is entirely removing it:

![hruler-jlab-bug2](https://user-images.githubusercontent.com/57394/199646639-91bced79-4be6-4cff-98d6-285008bba229.gif)

[2022-11-03 10:34] fcollonval opened #13366 "Add runtime check for realtime collaboration"
## Description

With the maturation of RTC in 3.6.0, the requirements are higher: jupyter server 2.0.0 and jupyter server file id (to support renaming).
To keep backward compatibility with jupyter server 1, we should add a runtime check to check those dependencies if collaborative mode is turned on.

This will ensure the enthusiastic users get the best RTC experience with 3.6.0.

[2022-11-03 15:47] Atcold commented on #443
That requires using some niece kernel, where matplotlib and other libraries don't work.
I was just hoping one could glance at an interactive output of `%whos`.

[2022-11-03 17:10] andrii-i commented on #13320
Triage notes: it looks like this is an issue with C# kernel, not with jupyterlab. We recommend to follow-up on the [dotnet interactive issue](https://github.com/dotnet/interactive/issues/2380)

[2022-11-03 17:10] #13320 closed

[2022-11-03 17:27] andrii-i commented on #13345
Since immediate problem is resolved, we're setting the status to "Answered". However, in the future versions of lab we should revisit semantic association of commands provided by extensions with extensions themselves as they might clash.

[2022-11-03 17:32] andrii-i commented on #13361
Issue #5554 and #8477 addressed similar issue previously and were solved but it seems that issue is happening again

[2022-11-03 17:35] andrii-i commented on #13362
This is mentioned as a task in issue #12812

[2022-11-03 17:44] andrii-i commented on #13363
Thank you for filing this issue! We found few issues that cover these performance problems and are already tracked there: issue #13189 , issue #4634.

https://github.com/jupyterlab/jupyterlab/issues/4634#issuecomment-803147946
This comment includes a workaround. Feel free to take a look and try it out.

[2022-11-03 17:44] #13363 closed

[2022-11-03 20:30] dnoliver commented on #13363
Thanks @andrii-i  for that pointer!

I did a quick tests, using jupyter/datascience-notebook:lab-3.2.8 images.

[code]

Left one is with compression enabled, right one is without it.

![image](https://user-images.githubusercontent.com/7730267/199826337-31e4b5dd-05ea-4cca-b1a2-f14e8435419d.png)

The score is 3x better. Not bad. But the most important thing for me was the size of the files we have t

[2022-11-03 22:24] hsun3163 opened #13372 "Grammarly still not working for jupyterlab 3.5.0"
## Description

Based on this post on the ticket https://github.com/jupyter/notebook/issues/5123

It was said that Grammarly should work properly on jupyterlab. However, even after updating the jupyter lab to 3.5. Grammarly is still not working, as demonstrated in the screenshot below:
![Annotation 2022-11-03 18074_grammerly](https://user-images.githubusercontent.com/54919134/199843780-6a20e007-05

[2022-11-04 00:53] rickmcgeer opened #13373 "Update documentation in APOD tutorial"
### Proposed Solution

### Additional context

[2022-11-04 02:57] #10765 closed

[2022-11-04 03:32] andrii-i commented on #13363
@dnoliver That's great! Happy we were able to help.

[2022-11-04 05:04] charizard-knows commented on #13316
@altruistcoder I understand your cases but still I'll recommend you to try this
`cd /home/jovyan/work` and `jupyter lab`. Please try this.

[2022-11-04 05:05] charizard-knows commented on #13316
@altruistcoder I understand your cases but still I'll recommend you to do this
`cd /home/jovyan/work` and `jupyter lab`. Please try this.

[2022-11-04 07:33] #11728 closed

[2022-11-04 08:01] #13301 closed

[2022-11-04 08:17] #13155 closed

[2022-11-04 10:04] fcollonval opened #13376 "CI failure on 3.6.x branch"
## Description

[code]

See e.g. https://github.com/jupyterlab/jupyterlab/actions/runs/3392406333/jobs/5638578393#step:5:34612

[2022-11-04 10:48] fcollonval commented on #13234
For now we are moving forward with synchronizing everything.

[2022-11-04 10:48] #13234 closed

[2022-11-04 12:46] randolf-scholz opened #13379 "Syntax Highlighting for `match-case` statements (Python 3.10 - Structural Pattern Matching - PEP634, PEP635, PEP636)"
Consider this example:

[code]
Executing this in Jupyter yields a funny result: the original code is not highlighted correctly, but the trace back is!

![image](https://user-images.githubusercontent.com/39696536/199975526-3f3cd821-e8f9-4360-bbc1-a95488c1e884.png)

[2022-11-04 12:50] randolf-scholz commented on #13379
It seems a fix for this was merged in codemirror a few days ago: https://github.com/lezer-parser/python/pull/11

[2022-11-04 13:51] altruistcoder commented on #13316
Hello @charizard-knows, actually my Jupyter instance is running inside a pod deployed on my openshift cluster. The GPU enabled image for this Jupyter environment was created using the following blog and source code mentioned in it:
https://cschranz.medium.com/set-up-your-own-gpu-based-jupyterlab-e0d45fcacf43

The command-line arguments which are passed while running the image are as follows:
[code

[2022-11-04 14:00] cnydw commented on #13301
@hbcarlos Thanks for the fix!

[2022-11-04 17:59] firai commented on #13372
Only JupyterLab 4, which is still in alpha testing, has been upgraded to CodeMirror 6 (see https://github.com/jupyterlab/jupyterlab/pull/11638). JL 3.x, including 3.5, will still be on CM 5. I'm not really familiar with the Jupyter Notebook side of things, but I believe Notebook 7 will be based on JL 4, which is (partly) why Notebook 7 is also still in alpha. Maybe you can try it on the latest JL

[2022-11-04 18:10] hsun3163 commented on #13372
Hi @firai, thanks for the prompt reply! In this case I shall wait until the JL4's release then!

[2022-11-04 19:04] mcrutch opened #13381 "JupyterLab MDI, notebooks can affect the output cells of other notebooks when you use HTML & Element IDs"
## Description
Related to https://github.com/jupyter/notebook/issues/6598 but in JupyterLab.
Rather than two cells in the same notebook, one notebook affects the DOM of the other notebook since they aren't self-contained in their own iframes

## Reproduce
Notebook 1
[code]
Notebook 2
[code]
![image](https://user-images.githubusercontent.com/51446717/200053054-38cf183a-490d-4c36-9206-0c0353fe6b03.p

[2022-11-05 06:01] dat-linux opened #13382 "Changing "Text Editor Theme" has no effect"
## Description

Yes, I'm talking about the text editor, not the notebook code cell. Changing the theme to anything other than "jupyter" has no effect.

## Reproduce

1. Go to 'Settings -> Text editor Theme'
2. Click on '[any theme other than 'jupyter']'
3. Open a text/code file, eg file.py
4. No theme is applied to syntax styling
5. Switch back to "jupyter" theme
6. Close+open a text/code file, eg

[2022-11-05 10:27] jamesdbrock opened #13383 "cell execution asterisk does not change to cell execution number"
## Description

When executing cells with the IHaskell kernel, the cell execution asterisk does not change to a cell execution number after execution has finished.

However, it will change after some number of other cells have been executed.

In this demo GIF, the cell execution asterisk will change after two more cells have completed execution. (I have also observed sometimes that the cells chang

[2022-11-05 22:54] krassowski commented on #13381
Thank you for checking the behaviour in JupyterLab. An alternative to iframes would be to attach main area widgets using closed shadow DOM (https://github.com/jupyterlab/lumino/issues/434). This is more likely to happen than encapsulation of individual outputs (by default) discussed in the linked notebook issues because it would not break most of the notebooks available out in the wild.

[2022-11-06 01:26] theolange01 opened #13385 "Background of output cells has turned grey"
## Description

Hi,

I was working on JupyterLab when the background of all the output cells turned grey on my notebooks as shown on the image.
I tried to restart JupyterLab but that changed nothing. Moreover it seems that this is the case for all my notebooks.

I don't know how this happened but I would like to turn it back to white as it is by default.

![Capture d’écran 2022-11-06 011904](https

[2022-11-06 02:00] theolange01 commented on #13385
Thank you for your answer,

I am actually using Chrome and using the guide I was able to change the background color back to white. It was indeed a browser extension that added this stylesheet.

Thank you @krassowski

[2022-11-06 03:12] tmushayahama commented on #3224
any words on this. This is a not a fun workflow. I thought it was expected to select text and copy and paste using the right click (context menu)

[2022-11-06 03:42] jamesdbrock commented on #13383
The JavaScript error

[code]

Was also happening in Jupyter v3.0.16 which doesn’t have this bug, so I don’t think that’s the problem.

[2022-11-06 03:51] jamesdbrock commented on #13383
Possibly related? #5366

[2022-11-06 05:52] krassowski opened #13386 "Token-based completions do not work anymore"
## Description

The kernel-less completions in files do not work anymore on 4.0 alpha. This is likely related to CodeMirror 6 migration.

## Reproduce

1. Open a new Python file
2. Enter the following text:
[code]
4. Place cursor at the last character of last line
5. Invoke completer and see no completions

However, if we set cursor on `test2` and press <kbd>tab</kbd> we see a single completion `t

[2022-11-06 22:09] mindey opened #13387 "One-click Python + associated Console window starter icon."
It takes 6-7 points-clicks and drags to open Python with connected Console window.
https://wiki.mindey.com/shared/shots/9293c6a6f4376220d7a442c53-jupyterlab-shortcut-suggestion.mp4

[2022-11-07 02:28] krassowski commented on #13386
In particular, the token collection with:

https://github.com/jupyterlab/jupyterlab/blob/cb9551ce7b50dfadbd1748ed84e5c8a5e83b71fa/packages/codemirror/src/editor.ts#L669-L688

Does not return tokens but entire lines, at least for Python. This seems to have been based on suggestion from https://discuss.codemirror.net/t/cm6-equivalent-for-getlinetokens-gettokenat/3727 but there were no tests, so brea

[2022-11-07 08:46] #13311 closed

[2022-11-07 10:18] jamesdbrock commented on #13383
I check JupyterLab v3.1.17 and it does not have this bug. So the list looks like this:

Bug is not present:

* JupyterLab v.3.0.16
* JupyterLab v3.1.17

Bug is present:

* JupyterLab v3.2.5
* JupyterLab v3.3.1
* JupyterLab v3.4.6
* JupyterLab v3.5.0

[2022-11-07 21:27] scmmmh commented on #13045
I've been looking into this and I have a question, which may be caused by my misunderstanding of the architecture. Since the MainAreaWidget is generic, shouldn't the aria-label value be taken from the Widget that is used to parameterise the MainAreaWidget?

[2022-11-07 21:38] vivian-rook opened #13393 "Run terminal commands from launcher"
I'm looking to make a jupyterlab extension that would install an arbitrary plugin. The intention being that a user could install R, or openrefine without having to load these into the container image before hand. As such I'm looking for guidance on how one can run arbitrary commands from an extension.
https://github.com/jupyterlab/jupyterlab/issues/5759 suggests that this was possible. Though some

[2022-11-08 00:48] flerxu opened #13394 "Can not change notebook font family and font size"
## Description
I can't change notebook font family and font size while I can do it with non-app jupyterlab.

## Reproduce

 1. Go to 'Settings'
2. Click on 'Notebook'
3. Fill 'Font family' with 'Roboto Mono'
4. Fill 'Font size' with '16'
5. Save, but nothing happened.

[2022-11-08 02:34] krassowski commented on #13045
@scmmmh you are right, sorry about inaccurate suggestion. Indeed for the most part we do not subclass `MainAreaWidget` (`DocumentWidget` aside). Using a property from the parameter Widget seems like a good idea!

Maybe it is the Widget's responsibility to set the `aria-label` and `rule` on its node, and not a responsibility of `MainAreaWidget`, so we could remove `MainAreaWidget` from the equation

[2022-11-08 08:05] jamesdbrock commented on #13383
So there it is, this bug was introduced somewhere in JupyterLab v3.2.5 https://github.com/jupyterlab/jupyterlab/blob/master/CHANGELOG.md#325

[2022-11-08 08:20] jamesdbrock commented on #13383
Here are some versions of packages installed in the JupyterLab v3.2.4 image:

[code]

And here's what's installed in the JupyterLab v3.2.5 image:

[code]

[2022-11-08 09:25] scmmmh commented on #13045
@krassowski I agree, the Widget is probably the better place to add that support. I'll look into that and then this issue can be used to track updating the MainAreaWidget when the lumino Widget has been updated.

[2022-11-08 09:38] #13394 closed

[2022-11-08 12:25] jamesdbrock commented on #13383
I've published some IHaskell Docker images for anyone who wants to try to debug this issue.

JupyterLab v3.2.4 image:

[code]

JupyterLab v3.2.5 image:

[code]

[2022-11-08 23:45] rosscoleman opened #13397 "Selected text highlight too hard to see on Macbook Pro. Need more color contrast."
https://github.com/jupyterlab/jupyterlab/blob/20bfb579e1b025ca0c7af321483185b971f82591/packages/theme-light-extension/style/variables.css#L329

When I select text in a JupyterLab code cell, I have a really difficult time seeing what is selected. That is because the highlight color is too close to white. It isn't so bad on an external (gaming) monitor, but it's really difficult to see on the built-

[2022-11-09 00:15] rosscoleman commented on #13397
I am using JupyterLab 3.4.3. I think this may have been fixed in a later version, but I'm not an admin on our JupyterHub server, so I'm trying to figure that out.

[2022-11-09 03:55] rosscoleman commented on #13397
I found the problem. I forgot that I increased contrast after I had laser eye surgery. That makes grays look white, for some reason that isn't intuitive to me. When I set the contrast slider back to normal, I can see the highlights fine.

<img width="667" alt="image" src="https://user-images.githubusercontent.com/4631316/200734309-ac5700d0-f381-463c-9dbc-c630a5ada13b.png">

[2022-11-09 08:29] The-Compiler commented on #4778
This also seems to work on Windows with a Swiss German layout, FWIW (while `Ctrl + -` just triggers the browser's zoom out function).

[2022-11-09 10:39] scruel commented on #9265
Why not support multiple environment rather than just notebook paths(

[2022-11-09 10:40] dchirikov commented on #12729
From what I see base_url have no effect no the logo url anymore.
Logic was removed here:
https://github.com/jupyterlab/jupyterlab/commit/6f272309ba34a7d557b8e5793dbf456995f8fd7e#diff-82d8a669b06f79e5d4ff72509d17fb00238e7dfd33f5b1a8be7a48f19289672bL195

[2022-11-09 17:39] jweill-aws commented on #13397
The contrast between these two colors is 1.41:1, well below the WCAG requirements of 4.5:1 for normal text or 3:1 for large text. Source: https://webaim.org/resources/contrastchecker/?fcolor=D9D9D9&bcolor=FFFFFF . Thank you for filing this!

[2022-11-09 17:53] jweill-aws commented on #13397
The purplish background color in the first screen shot in [this comment](https://github.com/jupyterlab/jupyterlab/issues/13397#issuecomment-1308001002) is `#d7d4ee`, which has a contrast ratio of 1.44:1 with the `#ffffff` color used as general light background. Still too low of a contrast for WCAG guidelines.

https://webaim.org/resources/contrastchecker/?fcolor=D7D4EE&bcolor=FFFFFF

[2022-11-09 18:08] andrii-i opened #13401 "Request visual preview of features being introduced in Pull Requests"
### Problem

When I'm reviewing a Pull Request (PR) for a new feature for the sake of speed and convenience I want to see a visual preview (preferably GIF or video but at least screenshots) of changes being introduced (if there are any)

### Proposed Solution

Update jupyterlab PR template (https://github.com/jupyterlab/jupyterlab/blob/master/.github/pull_request_template.md) to encourage/expect o

[2022-11-09 18:14] krassowski opened #13402 "Show memory usage and load time in extension manager"
### Problem

With many extensions installed the performance may slow down. Users have no way to know how much of a performance penalty each extension introduces.

### Proposed Solution

- Measure time for plugin loading and delta in memory usage using `window.performance` functions.
- Discretely show the result in the extension manager (possibly only for plugins exceeding certain load time/size)
-

[2022-11-09 18:24] krassowski commented on #13401
The template you linked already includes an encouragement to include screenshots under "User-facing changes":

[code]

If we were to change something, I would say that maybe each major UI addition should include a documentation screenshot. This way we will both document the state of the feature when the PR was merged AND ensure that the accurate information is exposed to the users in documentation

[2022-11-09 18:43] andrii-i commented on #13401
These are really good points. It should not be a hard requirement for sure. How would you feel about mentioning this as an option and providing guidance e.g. text below?

[2022-11-09 21:25] krassowski commented on #13397
Colours in syntax-highlighted editors are hard. Chance is that if you change a background colour, it will make another part of the line unreadable. See https://github.com/jupyterlab/jupyterlab/issues/10388 for an example. We could "free" some colours by using borders as suggested in https://github.com/jupyterlab/jupyterlab/issues/10388#issuecomment-861870577 (this is what chromium debugger and vsc

[2022-11-09 23:36] krassowski commented on #13387
Adding an icon for every scenario in a default installation may not be possible, but I believe we should allow users to easily add an icon for specific commands, the same way menus and toolbars can be configured.

For now, would a keyboard shortcut suffice? A custom shortcut can be mapped to `apputils:run-all-enabled` with arguments specifying commands to run in succession; there might be some adj

[2022-11-10 06:59] suganya-sk commented on #13343
I'm happy to open a PR here. I'm a bit pinched for time for the next couple of weeks and will be able to work on this after. Does that timeline sound okay?

[2022-11-10 11:08] npalmius opened #13403 "jupyter lab build fails with [Errno 13] Permission denied on copying templates in WSL"
## Description

Running `jupyter lab build` on Windows Subsystem for Linux (version 1) on a drive mapped from Windows fails with the following `shutil` error:

[code]

However, the `templates` directory is actually successfully copied, so I suspect that this is similar to issue #5233 - and adding `[Errno 13]` to the list of 'non-real' errors on [line 1269 in `jupyterlab/commands.py`](https://githu

[2022-11-10 18:04] jweill-aws commented on #13372
Closing per @firai's comment. Thank you!

[2022-11-10 18:04] #13372 closed

[2022-11-10 18:06] jweill-aws commented on #13376
@fcollonval Has #13377 fixed this?

[2022-11-10 18:11] jweill-aws commented on #13381
Triage notes: Currently, JupyterLab is not designed to have ID elements be isolated to one view. Reclassifying this as an enhancement. This would require us to do a substantial amount of reorganization to get this to work. Thank you for your contribution!

[2022-11-10 18:18] jweill-aws commented on #13382
Triage notes: Using Firefox and the latest JupyterLab (4.0), I am able to select the two "solarized" themes and my text editor changes themes as expected. A coworker, using Chrome, could not reproduce it in 3.6. Another coworker had intermittent failures using Jupyter Desktop 3.5.

Do you see any errors in the console when you try to change themes?

[2022-11-10 18:22] jweill-aws commented on #13385
Closing; there's nothing more we can do here. @theolange01 thank you for your contribution!

[2022-11-10 18:36] jweill-aws commented on #13403
We've seen this permissions error on Windows come up a few times before, such as in #7831 and #10133. In #7831, the user was able to complete the install by running WSL as an administrator.

If `[Errno 13]` does not represent a real error in any context, it would be fine to add it as an exclusion.

[2022-11-10 18:38] afshin commented on #13393
Thanks for opening this issue. You can absolutely write an extension that does this. One way would be to use the [extension cookiecutter](https://github.com/jupyterlab/mimerender-cookiecutter-ts) to create an extension that contains both a front-end JupyterLab extension *and* a back-end Jupyter server extension:

- In the front-end extension, you could add a button the launcher that invokes a comm

[2022-11-10 18:38] #13393 closed

[2022-11-10 19:31] Buddyli82 opened #13411 "Allow configurable size for docstring popup - current parameters are hardcoded and popup size too small"
### Problem

When pressing Shift-Tab in Jupyter notebook, it pops-up docstring (help for the function). Currently, the pop-up window is so small and annoying to read through a long documentation. See attached picture.

[https://stackoverflow.com/questions/74323204/increase-height-width-of-docstring-in-jupyter-notebook](url)
![2022-11-04 14_30_18-Lab3_Part1_RCh7570 - Jupyter Notebook](https://user-

[2022-11-10 19:53] krassowski commented on #13411
While screenshot is for Notebook, Lab does hardcode the box size too; they are currently hard-coded in:

https://github.com/jupyterlab/jupyterlab/blob/93efc13ea4db87706cd08c02cc39fcc897285113/packages/tooltip/src/widget.ts#L30-L38

I think that we add [plugin setting](https://jupyterlab.readthedocs.io/en/latest/extension/extension_dev.html#plugin-settings) in `tooltip-extension` package allowing t

[2022-11-11 04:46] dat-linux commented on #13382
See screencast: https://drive.google.com/file/d/1_9K3x1WtnaXoTBoyyQ4KkTRRpnk5ibX1/view?usp=sharing

Console shows no errors.

[2022-11-11 09:54] choldgraf commented on #10354
Adding some of my own experience because I also find this confusing.

**What I expect**

1. Highlight multiple cells with `shift+click`
2. In `Property Inspector`, click on a tag
3. All highlighted cells now have this tag
4. If some had it before, and some didn't, then it behaves similarly to how `ctrl+b` to bold text works...first it bolds all, then none.

**What happens**

1. Highlight multiple

[2022-11-12 23:08] Tim-K-DFW opened #13412 "Auto-numbering of markdown cells glitches since v.3.3.0"
## Description

`Auto-Numbering` works only when the side panel is visible.

## Reproduce

1. Create a new notebook, make one markdown cell `# Header1`, enter.
2. Open side panel, hit `Table of Contents`, hit `Toggle Auto-Numbering` -> the cell gets its index (auto-number).
3. Now close the side panel.
4. Create another markdown cell `# Header2`, enter. -> it does NOT get its index.
5. Now open th

[2022-11-13 01:10] astrojuanlu commented on #443
The blog post is outdated: ipykernel, the mainstream kernel, supports the debugging protocol since 6.0.0, released in June 2021: https://github.com/ipython/ipykernel/releases/tag/6.0.0, https://jupyterlab.readthedocs.io/en/stable/user/debugger.html#requirements

![image](https://user-images.githubusercontent.com/316517/201500743-4b073929-4dab-4c65-8b2b-5a7e0af69efe.png)

[2022-11-13 01:10] krassowski commented on #7604
Closing since the discussion narrowed down to changing cwd which was implemented in https://github.com/jupyterlab/jupyterlab/pull/12250 which was included in JupyterLab 3.4. Please reopen if I misunderstood.

[2022-11-13 01:10] #7604 closed

[2022-11-13 16:02] #12881 closed

[2022-11-14 07:58] #13401 closed

[2022-11-14 08:19] fcollonval commented on #13379
Thanks for reporting @randolf-scholz

Small note: the fix in codemirror will only impact CodeMirror 6 (used in JupyterLab 4+). That does not fix JupyterLab <4 - and it will be unlikely to be fixed upstreamed for CodeMirror 5; for reference on CodeMirror 5, the Python keywords are defined [there](https://github.com/codemirror/codemirror5/blob/9296326b0a9e37489e00d4d7bfabd4725f6bfb7b/mode/python/pyt

[2022-11-14 08:25] fcollonval commented on #13382
@dat-linux I'm not able to reproduce it (JLab 3.5.0, FF98, Debian 11). Do you have extensions installed?

[2022-11-14 08:27] fcollonval commented on #13383
@jamesdbrock could you install [jupyterlab-kernelspy](https://pypi.org/project/jupyterlab-kernelspy/) and display the kernel reply when executing a cell?

[2022-11-14 08:36] MaryArgentum commented on #12768
Hi, I would like to ask if there is any updates on this issue? I have the same problem.
Thanks

[2022-11-14 08:42] fcollonval commented on #13387
Thanks @mindey if you are willing to improve this by opening a PR, as mentionned by Mike, the _create console_ command needs to be improved to allow custom positioning of the console (for now it is hard coded `split-bottom`) there:

https://github.com/jupyterlab/jupyterlab/blob/ebe33ad5513d6f372c4ec3c427027f4ce055b5fd/packages/fileeditor-extension/src/commands.ts#L187

Basically the PR, will repla

[2022-11-14 08:45] fcollonval commented on #13376
Thanks for the ping - indeed it fixes it.

[2022-11-14 08:45] #13376 closed

[2022-11-14 08:48] fcollonval commented on #13343
Thanks for proposing your help @suganya-sk Don't worry about the timeline, contributions are always welcomed.

[2022-11-14 09:56] npalmius commented on #13403
Thanks @jweill-aws, I would say that `[Errno 13]` can represent a real error, but in this case since the directory is deleted first, and has been created, it is likely that the copy has been successful (and I think the same argument applies for the other errors checked for here). Would be good to get to the underlying cause of these errors of course.

[2022-11-14 14:53] davidbrochart commented on #12603
Done in #13389.

[2022-11-14 14:53] #12603 closed

[2022-11-14 20:20] jakirkham commented on #443
Sounds like this issue should be closed then?

[2022-11-14 20:38] eddienko opened #13414 "Open Terminal in current working directory in file browser"
The pull request https://github.com/jupyterlab/jupyterlab/pull/12250 introduced the ability to open a Terminal in the current working directory as shown in the File Browser from File -> New Launcher-> Terminal.

However opening a terminal using the menu File -> New -> Terminal still opens the terminal in the home directory. For consistency  It would be good if this opens the terminal in the File B

[2022-11-14 22:12] ellisonbg commented on #13061
I am seeing this error in a clean conda env and a fresh build in master, I had to install a particular version of nodejs to get it to work (14).

[2022-11-15 00:39] jamesdbrock commented on #13383
Thanks for the advice @fcollonval , I'll try that.

[2022-11-15 01:20] jamesdbrock commented on #13383
## First Execution

![Screenshot from 2022-11-15 10-00-30](https://user-images.githubusercontent.com/1526224/201802349-cddd1cdb-eb49-446c-8d96-bbda499197b1.png)

## Second Execution

![Screenshot from 2022-11-15 10-03-28](https://user-images.githubusercontent.com/1526224/201802396-b9bbe3cb-fea3-41da-a250-8bd06a34ee4b.png)

## Sixth Execution

When I clicked Execute for the sixth time, the kernelsp

[2022-11-15 03:00] lneves12 commented on #12802
this would be very helpful to me as well. @IngeCeux have you found any workaround to this ? Thanks!

[2022-11-15 08:42] iceux commented on #12802
I created a fork of the repo and removed the 'readonly' from the token in `packages/services/src/serverconnection.ts` as a temporary fix. I do very much still hope a fix for this gets implemented in the main repo, because the fork creates more maintenance work.

[2022-11-15 09:59] jtpio commented on #13373
Thanks @rickmcgeer for suggesting this :+1:

Would you like to open a PR to propose these changes? Thanks!

[2022-11-15 13:26] #7384 closed

[2022-11-15 18:42] JLTastet commented on #7704
In Jupyter Lab 3.4.5 and 3.5.0 I still encounter this issue, but only with Firefox (106.0.5). I have no problem with Brave (1.45.123) or Safari (16.1). I am on macOS 12.6.1 (ARM).

[2022-11-15 19:37] eliasdabbas opened #13423 "Pages with status 404 - not found"
## Description

A few pages are returning a 404 "not found" error on the documentation website.

## Reproduce

URLs in the `url` column here, have links to 404 pages:

|    | url                                                                         | link_text                        | notfound_url

[2022-11-16 00:32] rutviklhase commented on #13402
Hey @jweill-aws ! Is anyone working on this? Would love to take this one up!

[2022-11-16 00:34] jweill-aws commented on #13402
@rutviklhase Nobody's picked this one up yet. Please feel free to submit a pull request if you'd like to implement this!

[2022-11-16 00:35] rutviklhase commented on #13402
@jweill-aws Awesome! I'll start working on it

[2022-11-16 04:52] fperez commented on #13342
Bingo @jangenoe!!! That was it indeed. Great eye, thank you!

The myst parser needs to distinguish between a full YAML metadata block and a simple md ruler.

Excellent, will close this and open over there, much appreciated!

I wasn't crazy folks - I know you all think I am, but I swear, these bugs do happen ;)

[2022-11-16 04:52] #13342 closed

[2022-11-16 11:04] praksharma commented on #5011
Is this fixed?

[2022-11-16 14:09] lneves12 commented on #12802
ah I see, yeah that would be nice to have on upstream as well.

I found a different workaround that seems to be working fine in my initial tests:

I basically extended the ServerConnection.makeSettings function to inject my own implementation of websockets + fetch

[code]

[2022-11-16 16:23] davidbrochart commented on #11561
OK so the issue is that currently we don't forward the awareness of a client to itself. If we do, there are some UI glitches because the user sees their own cursor, but that's another issue. We should broadcast awareness messages to every client, including the client it originates from.

[2022-11-16 16:33] ellisonbg commented on #13342
Fantastic, thanks everyone for helping to figure this out!

On Tue, Nov 15, 2022 at 8:52 PM Fernando Perez ***@***.***>
wrote:

--
Brian E. Granger

Senior Principal Technologist, AWS AI/ML ***@***.***)
On Leave - Professor of Physics and Data Science, Cal Poly
@ellisonbg on GitHub

[2022-11-16 17:37] fcollonval commented on #13383
@jamesdbrock thanks for all the information - I was looking at this a bit.

I tried your docker and can confirm your issue (thanks for that). I tried also your binder at https://mybinder.org/v2/gh/gibiansky/IHaskell/mybinder and the issue does not appear for me (JupyterLab is 3.2.9 in that binder). Did you implement a workaround that is deployed on the Binder or not?

[2022-11-16 18:25] fcollonval commented on #13383
Trying to dive into this one a bit more, I added jupyterlab-kernelspy in the docker image (JLab 3.2.5) and compare what we get for the haskell kernel (above) and the Python kernel (below):

![image](https://user-images.githubusercontent.com/8435071/202261770-accaa745-92ba-4f1b-8f3e-04bc74041567.png)

... no error this time - you can actually see that I get `shell.execute_reply` as part of the `she

[2022-11-16 22:17] mlucool commented on #13221
Can we backport https://github.com/jupyterlab/jupyterlab/pull/12502 to be included here? cc @telamonian

[2022-11-17 00:00] krassowski opened #13427 "Document how to set text on CodeEditor in JupyterLab 4.0"
In JupyterLab 3.x extension authors could do `widget.content.model.value.text = 'something'` on FileEditor.
In JupyterLab 4.0 this no longer works but can be achieved with:

[code]

This should be added to [migration guide](https://jupyterlab.readthedocs.io/en/latest/extension/extension_migration.html) for easy reference.
Currently `sharedModel` does not appear in the migration guide at all.

For

[2022-11-17 02:13] #13345 closed

[2022-11-17 08:27] jamesdbrock commented on #13383
Thanks for the investigation @fcollonval .

I didn't know that https://github.com/IHaskell/IHaskell/blob/master/Dockerfile is working with JupyterLab 3.2.9 (and it does work, I confirmed.)

I've been using https://github.com/IHaskell/ihaskell-notebook/blob/master/Dockerfile for this issue.

[2022-11-17 08:35] fcollonval commented on #13383
I did not try to update the JupyterLab version within the local docker I used. But my guess is that as Binder is a distant server the network messaging is slower and we fall on the _good_ side of the race condition.

I'm confident the error is coming because that promise is not resolved at the expected time:

https://github.com/jupyterlab/jupyterlab/blob/c41be9b2a1085c98b3c278667644578f4a2cbaf3/pa

[2022-11-17 09:35] stevejpurves opened #13429 "Enable jupyterlab client packages to be imported in server side code"
### Problem

Currently is it not possible of difficult to include some `juptyerlab` packages within a code base that use different build systems, or web frameworks. For example,`remix.run` and `next.js` or additionally systems that use alternatives to `webpack` for bundling, such as `esbuild`

Frameworks like this are typically geared up for server side rendering (SSR), which is clearly beyond the

[2022-11-17 09:44] stevejpurves commented on #13429
I have local changes based on the `3.5.x` branch addressing some of this - happy to open a PR, but should the be on `3.6.x` or `main`?

[2022-11-17 11:11] davidbrochart opened #13432 "User name changes in collaborative mode with no authentication"
## Description

In JupyterLab `master` branch, with collaborative mode enabled, the name of the anonymous user periodically changes.

## Reproduce

1. Install JupyterLab's `master` branch.
2. Launch JupyterLab with `jupyter lab --dev-mode --collaborative`.
3. Wait a couple of minutes.
4. See the name of the user change in the upper-right corner of the UI.

## Expected behavior

The user name shoul

[2022-11-17 12:51] michaelaye commented on #6420
I'm for b) and/or a config setting

[2022-11-17 13:12] #11561 closed

[2022-11-17 13:20] fcollonval commented on #13432
@davidbrochart do you think it is linked to the websocket for the global awareness to be reopened?

[2022-11-17 13:24] davidbrochart commented on #13432
I don't think so, because it still happens after https://github.com/y-crdt/ypy-websocket/pull/42.

[2022-11-17 13:27] davidbrochart commented on #13432
Also, it happens even when no document is opened.

[2022-11-17 13:48] davidbrochart commented on #13432
I think I didn't get your question, it could be linked to the global awareness yes.

[2022-11-17 13:58] jamesdbrock commented on #13383
Another note: when I build and run JuptyerLab with the IHaskell kernel using the latest https://github.com/tweag/jupyterWith , I get JupyterLab v3.4.3 and the bug occurs. So the bug isn't caused only by the https://github.com/IHaskell/ihaskell-notebook/blob/master/Dockerfile . This bug is a puzzle.

[2022-11-17 13:59] davidbrochart commented on #13432
Actually, it is the backend which sends the new name on `/api/me`.

[2022-11-17 14:04] davidbrochart commented on #13432
It only happens when launching `jupyter lab --ServerApp.token='' --ServerApp.password=''`, and seems to be because of https://github.com/jupyter-server/jupyter_server/issues/1033.

[2022-11-17 15:18] jtpio commented on #13429
Thanks @stevejpurves for reporting.

Linking to https://github.com/jupyterlab/jupyterlab/pull/12519 which should help address some of these points.

Usually PRs target `master` (not renamed to `main` yet), and are then backported to other branches.

[2022-11-17 15:57] 3coins opened #13436 "Inline image attachments in a notebook do not show in collaborative mode"
## Description
Inline images in a notebook do not show when jupyterlab is running with the `--collaborative` flag on. The inline image attachments are loading fine without the collaborative flag on.

## Reproduce
Copy the attached notebook to jupyterlab workspace and open in collaborative mode `jupyter lab --collaborative`.  Second image in the attached notebook does not load.

[inline-image-test.

[2022-11-17 16:13] davidbrochart commented on #13436
Is `test.png` supposed to be a local file?

[2022-11-17 16:18] davidbrochart commented on #13436
Got it, you need to drag and drop the image into the cell.

[2022-11-17 16:29] davidbrochart commented on #13436
It seems to be a frontend issue, because the image is shown if it is already in the notebook, but dragging and dropping doesn't seem to work.

[2022-11-17 20:06] jtpio opened #13438 "Check links timeout on CI"
## Description

The `check_links` CI check has been timing out on CI lately.

## Reproduce

Example run: https://github.com/jupyterlab/jupyterlab/actions/runs/3489065666/jobs/5838690911

![image](https://user-images.githubusercontent.com/591645/202549787-76f347ce-4ea5-4400-bf2c-84cebfa4287b.png)

## Expected behavior

It should pass like before.

## Context

Happening on the latest commits and PRs

[2022-11-17 20:14] ericsnekbytes opened #13439 "JupyterLab extension tutorial error, on open/close/reopen empty panel"
## Description

Possible bug in the [JupyterLab extension tutorial](https://jupyterlab.readthedocs.io/en/stable/extension/extension_tutorial.html#extension-tutorial), during the blank tab close/reopen step at this exact passage in the tutorial page (can copy/paste to find in this spot in the tutorial):

## Reproduce

1. Follow the JupyterLab extension tutorial up to and including the passage "Clic

[2022-11-17 21:44] 3coins commented on #13436
@davidbrochart
Don't follow how drag-drop is the issue here. The 2nd image here is referring to the first image, which is loaded from a URL; there is no need to add the image to the workspace. This is working as expected in non-collaborative mode with both images loaded correctly.

[2022-11-17 22:03] jt0dd commented on #12709
To to reiterate my need / use-case / support for this feature since my issue was closed in favor of this one:

https://user-images.githubusercontent.com/42309086/202569577-f8ec0c19-3069-4e99-a8eb-6e679f32e2c7.mp4

Right now for a project I’m working on, I’m building a fairly complex GUI inside of Jupyter and want to abstract the configuration of some states related to a given notebook away from th

[2022-11-18 00:19] dlqqq opened #13440 "enable document model specific collaboration"
### Problem

Custom extensions that add their own file types to the document registry often break when RTC is enabled. It would be much nicer if developers could instead "opt-in" to collaboration by explicitly setting a flag that their file type (and its corresponding widgets and models) support collaboration. That way we preserve the existing behavior for custom file types when RTC is enabled.

#

[2022-11-18 03:14] 3coins commented on #13436
@davidbrochart
Updated the summary and attached a notebook file to test.

[2022-11-18 08:04] #13110 closed

[2022-11-18 08:30] jtpio opened #13442 "Jupyter Releaser v2 fails to publish the release (`ensure-sha` step)"
## Description

Publishing the release fails when using the Releaser v2 workflows with the following:

[code]

This is because the versioning scripts create two commits during the release:

![image](https://user-images.githubusercontent.com/591645/202656472-2a14902b-bf8b-4d25-bb01-41f6bd3dcc09.png)

## Reproduce

Here is an example run for reference: https://github.com/jtpio/jupyter_releaser/actio

[2022-11-18 11:02] fcollonval commented on #13412
This is most certainly a consequence of that change (block updates to reduce performance impact when the toc is hidden):

https://github.com/jupyterlab/jupyterlab/pull/11804/files#diff-eee234215f6f68373e6d4d0395ccc6479710b735d349c2389efc1e9cf252396e

[2022-11-18 14:17] fcollonval commented on #13438
The trouble is due to a broken link; see [log](https://github.com/jupyterlab/jupyterlab/actions/runs/3495798323/jobs/5852968433):

Error: /home/runner/work/jupyterlab/jupyterlab/docs/source/extension/internationalization.rst: https://www.labri.fr/perso/fleury/posts/programming/a-quick-gettext-tutorial.html

That page does not seem to load but it does not raise any error neither. Hence the error I

[2022-11-18 15:28] #13438 closed

[2022-11-18 16:30] Atcold commented on #443
I don't think so.
I just tried using the debugger for showing some `ndarray`s and `tensor`s, and it's basically unusable.
[code]
![image](https://user-images.githubusercontent.com/2119355/202750455-3dbd63aa-b653-4eb6-82b5-c47b0ffc80c6.png)
![image](https://user-images.githubusercontent.com/2119355/202750606-a78ff4ad-cb8e-485b-b932-71105a07ce1f.png)
To be more explicit, for an `ndarray` and a `tens

[2022-11-18 16:37] jakirkham commented on #443
That sounds like a new issue. Given this issue was about implementing the feature (as opposed to usability bugs with the feature)

[2022-11-18 17:12] Atcold commented on #443
Fine with me.
Let's close this and I'll open the new one.

[2022-11-18 18:43] isabela-pf commented on #10004
**Summary:** Let's informally vote on which of the above directions we want to pursue so we can move this issue forward into fixes!

---

Based on discussions in this issue and this week’s [JupyterLab meeting](https://github.com/jupyterlab/team-compass/issues/152#issuecomment-1318224125), we’re going to take an informal poll on this issue to figure out which direction to pursue reflow/zoom fixes f

[2022-11-18 20:02] hbcarlos commented on #13436
Hi @3coins, I can reproduce it now. I look into it.
Actually, seams to work fine in Lab 4.0.

[2022-11-19 11:05] krassowski commented on #13439
On gitter @fcollonval commented that making this work would involve the use of a tracker as in:

https://github.com/jupyterlab/jupyterlab/blob/bb0c19aefd2fcb19f048571ac28ac10c4b64dfb8/packages/settingeditor-extension/src/index.ts#L107-L113

Which is correct for a singleton widget (such as settings).

If multiple widgets of given type are desired, and approach presented in the [widgets example](htt

[2022-11-19 11:11] krassowski commented on #13439
Another note: tracker is not required; we can just re-generate the widget if disposed (see example below). All that the tracker gives us is the ability to restore the widget after browser refresh (which is a nice thing but maybe not strictly required for the tutorial? on the other hand, it is a common question/surprise of users who finished the tutorial, so maybe adding tracker is a good idea).

[

[2022-11-19 11:35] fcollonval commented on #13439
Thanks @krassowski

I would say we should use something more similar to your second snippet and closer to the final code state with the tracker

https://jupyterlab.readthedocs.io/en/stable/extension/extension_tutorial.html#restore-panel-state-when-the-browser-refreshes

[2022-11-19 12:20] echarles commented on #13182
Has this been effectively fixed in https://github.com/jupyterlab/jupyterlab/pull/13168?

Question: De we really want to have the outputs history (can be large for binary content like images) in the CRDT structure?

[2022-11-19 15:45] krassowski commented on #10004
Another comment: I often use zoom at ~150% when using 4k screen as I prefer that over increasing fractional scaling desktop environment-wise. It is not clear to me at which point the proposed change to the UI layout from option 1 would be triggered, but I would prefer it to be based on the available space rather than zoom alone (or both, e.g. condition like `zoom > 200% AND screen resolution/zoom

[2022-11-20 01:21] SyrakuShaikh opened #13451 "Start a GUI App/Tool in notebook/terminal of Jupyter lab from client/local machine"
*First of all, I'm new to jupyter and not sure if this is a feature request or a naive question, sorry for this.*

## Problem

Our team works on a project that needs to provide GUI for beamline researchers and we choose jupyter lab/notebook.
A docker image with jupyter and all other dependencies packed is deployed by K8s. This is the server side.
Researchers connect the server from web browsers on

[2022-11-20 01:23] atimeofday commented on #12764
I am also having this issue. I can provide information/screenshots if they would help, but I'm not sure what would be needed.

[2022-11-20 01:48] SylvainCorlay commented on #12644
Should we close this issue since #13037 is merged?

[2022-11-20 02:36] alexlenail commented on #8374
Still unresolved?

[2022-11-20 05:08] krassowski commented on #12764
@atimeofday can you please list: JupyterLab version, browser and operating system versions, JupyterLab extensions installed, and any browser extensions installed.

[2022-11-20 08:55] Thenorthernsea opened #13452 "shift-left clicking event is blocked when no text is selected"
https://github.com/jupyterlab/jupyterlab/blob/26999c5df85dd8a088580b5dafbc5404ef9b4a44/packages/notebook/src/widget.ts#L2140
This caused select multiple widget in ipywidgets to not functioning as expected when try to use shift + click to select in range.

related issue: https://github.com/jupyter-widgets/ipywidgets/issues/3615

[2022-11-20 10:57] atimeofday commented on #12764
jupyter --version:
IPython              : 8.4.0
ipykernel            : 6.15.2
ipywidgets         : 8.0.2
jupyter_client     : 7.3.5
jupyter_core      : 4.11.1
jupyter_server   : 1.18.1
jupyterlab          : 3.3.2
nbclient              : 0.5.13
nbconvert          : 6.4.4
nbformat            : 5.5.0
notebook           : 6.4.12
qtconsole          : not installed
traitlets              : 5.1.1

Vivald

[2022-11-20 13:52] #12644 closed

[2022-11-21 01:48] krassowski commented on #13386
Also, `token` getting passed to `ContextCompleterProvider.getCompletionTokens()` from `editor.getTokenAtCursor()` is actually the root token ("Script") so even with fix for the above issue the token-based completion does not work

[2022-11-21 06:44] rollmark opened #13455 "pywin32"
Could not find a version that satisfies the requirement pywin32>=1.0; sys_platform == "win32" and platform_python_implementation != "PyPy" (from jupyter-core->jupyterlab) (from versions: )
No matching distribution found for pywin32>=1.0; sys_platform == "win32" and platform_python_implementation != "PyPy" (from jupyter-core->jupyterlab)

python3:
Python 3.8.10 (tags/v3.8.10:3d8993a, May  3 2021, 1

[2022-11-21 13:25] fcollonval commented on #13436
Fixed by #13450

[2022-11-21 13:25] #13436 closed

[2022-11-21 15:49] jtpio opened #13456 "Split all the nodejs-relevant commands and features into a sidecar package"
### Problem

Originally posted by @bollwyvl in https://github.com/jupyterlab/jupyterlab/pull/13321#issuecomment-1321249395

Requiring Node.js on end-user machines to enable some functionalities can sometimes be problematic and difficult to deal with.

### Proposed Solution

### Additional context

Discussed in:

- https://github.com/jupyterlab/jupyterlab/issues/11336
- https://github.com/jupyterla

[2022-11-21 16:22] fcollonval opened #13457 "Events service - follow-up for JLab v4"
## Remaining `TODO` follow-on PRs
- [x] ~~In `EventManager#_subscribe()`, make the test emission a request with a registered schema. This requires registering a schema with the back-end application's event bus.~~
- [x] Remove capability probing for `api/events` in `EventManager#_subscribe()` after `jupyter_server` 2 becomes a hard requirement.
- [ ] Write tests for `EventManager` in the `@jupyterl

[2022-11-21 18:07] dlqqq commented on #13440
It makes more sense to place the `collaborative` optional on the document model rather than the file type, since different file types often share the same document model (which is guaranteed to either support or not support collaboration). See comments in #13441.

[2022-11-21 19:08] sorenwacker opened #13459 "Tab completion not working with JupyterLab 3.4.7, even with jedi==0.17.2"
This might be reported already, but I did not find an issue with above mentioned version. Usually, installing jedi 0.17.2 fixed the issue in the past, but now this does not seem to work anymore. Which jedi version is recommended nowadays?

[2022-11-21 20:22] jtpio opened #13460 "Flaky `js-services` check on CI"
## Description

The `js-services` check on CI has been flaky for quite a while now.

## Reproduce

Here is an example run on the latest commit (79013299873236a01590feaf1dde6bc6ba5fdc0f) on `master`: https://github.com/jupyterlab/jupyterlab/actions/runs/3516180912/jobs/5892407924

![image](https://user-images.githubusercontent.com/591645/203151099-db10b463-acb3-4a5c-95d1-337e19d3fa48.png)

## Expec

[2022-11-21 22:01] jtpio opened #13461 "[4.0.0a31 / 3.6.0a4] Icons are not properly rendered with custom themes"
## Description

There seems to be either a regression or a breaking changes related to the theming of icons in JupyterLab 4.0.

**JupyterLab 4.0.0a31**

![image](https://user-images.githubusercontent.com/591645/203165970-ba700da6-12ea-49b9-82bf-9e37922487ea.png)

**JupyterLab 3.5.0**

![image](https://user-images.githubusercontent.com/591645/203166209-1d7a734d-df78-428d-b7ee-486dd4332bec.png)

##

[2022-11-21 22:02] jtpio commented on #13461
Tried to find something related in the extension migration guide but there doesn't seem to be anything: https://jupyterlab.readthedocs.io/en/latest/extension/extension_migration.html#jupyterlab-3-x-to-4-x

[2022-11-21 22:12] jtpio commented on #13461
This also looks fine on `4.0.0a30`:

![image](https://user-images.githubusercontent.com/591645/203168458-e2bbacc6-63d3-4794-ae45-22d6f0b00c6b.png)

So this is likely something that broke with `4.0.0a31`, not sure if it was intentional or not.

[2022-11-22 07:28] jtpio opened #13463 "[3.6.0a4] Can't create a notebook with RTC enabled"
## Description

With `3.6.0a4` on Binder it's not  possible to create a new notebook from the launcher:

https://user-images.githubusercontent.com/591645/203251342-4f744a8d-e506-45a0-bb43-17d2dce533ea.mp4

## Reproduce

Using this gist on Binder which has RTC enabled: https://gist.github.com/jtpio/d063489b0843547ceeaaf5ee9832e69d

## Expected behavior

It should be possible to create new notebooks

[2022-11-22 07:28] jtpio commented on #13461
Adding to the `3.6.0` milestone since this is also an issue there:

![image](https://user-images.githubusercontent.com/591645/203250498-4e645b6f-681c-4993-a7dd-ccbe994f694d.png)

[2022-11-22 07:39] davidbrochart commented on #13463
Thanks for reporting @jtpio.
It looks like `PUT /api/yjs/roomid/{path}` returns a `404`. I will look into it.

[2022-11-22 07:50] davidbrochart commented on #13463
I opened https://github.com/jupyter-server/jupyter_server_ydoc/pull/61.

[2022-11-22 08:05] jtpio commented on #13463
Nice thanks @davidbrochart!

[2022-11-22 08:19] davidbrochart commented on #13463
https://github.com/jupyter-server/jupyter_server_ydoc/pull/61 was merged and released in `jupyter-server-ydoc` v0.5.0.

[2022-11-22 08:54] jtpio commented on #13049
With the end of the codespaces beta having a JupyterLab dev setup compatible with codespaces sounds more interesting now: https://github.blog/changelog/2022-11-09-codespaces-for-free-and-pro-accounts/

[2022-11-22 09:56] davidbrochart commented on #13463
JupyterLab does a `GET` request to the created notebook before the `PUT /api/yjs/roomid/{path}`, so this is not the issue.

[2022-11-22 10:07] davidbrochart commented on #13463
So the reply to `PUT /api/yjs/roomid/{path}` is an HTML document with:
[code]
@jtpio maybe a clue to what's going on?

[2022-11-22 10:07] vherasme commented on #12071
I am using Windows 10 Enterprise, I have seen this a couple of times:
[code]

[2022-11-22 14:45] ericsnekbytes commented on #13439
Thanks for your work on this. I'm ramping up on Lab extension development, so this will be helpful :)

[2022-11-22 16:19] jtpio commented on #13463
Should the GitHub Release be deleted then? https://github.com/jupyter-server/jupyter_server_ydoc/releases/tag/v0.5.0

[2022-11-22 16:26] davidbrochart commented on #13463
Thanks, done.

Yes, on Binder only. It works locally even when I change the server `base_url`.
Yes it could be hitting the classic notebook server, as in the previous release `jupyter-server-ydoc` was previously handling the base URL manually and was compatible with the classic notebook server.

[2022-11-22 23:45] jmk89 commented on #13452
In particular, `window.getSelection()` doesn't detect when the list item in the SelectMultiple widget is selected, or has been selected. The call to `window.getSelection()` detects when something else has been **highlighted.** It will also detect a selection if some text **within** the SelectMultiple widget has been highlighted.

https://github.com/jupyterlab/jupyterlab/blob/6bfef5d478969a6ac59a0e

[2022-11-23 08:41] jtpio opened #13471 "`js-apputils` check fails on CI"
## Description

The `js-apputils` CI check has started failing on multiple PRs recently with the following:

[code]

![image](https://user-images.githubusercontent.com/591645/203502930-bb545de2-85ba-4af6-a56f-5003737ec8aa.png)

## Reproduce

This is also reproducible with the latest commit on `master` (6bfef5d478969a6ac59a0ed65405a2df6cdf9109) at the moment: https://github.com/jupyterlab/jupyterla

[2022-11-23 09:45] mathause opened #13473 "`%config` line magic errors in notebooks"
## Description

Calling the `%config` line magic errors.

## Reproduce

[code]

Calling the above line in a notebook raises an error (in jupyterlab and jupyter notebookl). It does not seem to raise in a `ipython` console, which is why I report it here - but of course this might also belong somewhere else.

Traceback:

<details>

[code]
</details>

## Expected behavior

No error

## Context

- Oper

[2022-11-23 10:48] stevejpurves commented on #13429
Opened a draft PR to help discussion on this 👆🏻

Note that I am so needed to make changes to the `@lumino/domutils` (will open an issue over there) and extensive changes to the `codemirror` in order to get the `juptyerlab` deps that `thebe` has to importin remix. There is little chance i think that `codemirror` can be made server friendly, but how codemirror is consumed in `juptyerlab` and **when*

[2022-11-23 13:24] jtpio opened #13477 "Test for mimerender and theme extensions breaking changes"
### Problem

There has already been some discussions about testing for breaking changes (will add links to this issue later as needed if any).

However most of the time this requires manually checking and thinking about the implications of the proposed changes in a PR.

Ideally there could be some automated check that would help catch such changes.

### Proposed Solution

Maybe the existing Galata

[2022-11-23 13:35] jtpio commented on #13477
Adding to `4.0` milestone for consideration (although not blocking)

[2022-11-24 09:42] fcollonval commented on #13471
This is fixed by https://github.com/jupyter-server/jupyter_server/pull/1088

[2022-11-24 09:42] #13471 closed

[2022-11-24 10:03] jtpio commented on #13471
Nice, for reference this was released in `2.0.0rc7`: https://github.com/jupyter-server/jupyter_server/releases/tag/v2.0.0rc7

[2022-11-24 10:17] fcollonval opened #13481 "Example CI is failing on master"
## Description

Recently the examples job are failing with the following error:

[code]

As we use the latest Jupyter Server v2 release candidate, it may be a side effect of https://github.com/jupyter-server/jupyter_server/pull/1047

Friendly ping to @Zsailer

## Reproduce

See for example https://github.com/jupyterlab/jupyterlab/actions/runs/3534539836/jobs/5940893186

## Expected behavior

No er

[2022-11-24 16:15] hbcarlos commented on #13182
Hey @echarles!

Yes, this is now fixed. We can close this issue.

I think so, at least for now. Indeed, the document's history can get quite big, but we are considering this problem. See: https://github.com/y-crdt/ypy-websocket/pull/53

In addition, for now, every client collaborating on the same document shares the execution environment, so we need to share the results of the execution with every

[2022-11-24 16:15] #13182 closed

[2022-11-24 16:23] echarles commented on #13182
@hbcarlos Any link for that?

Are there any figures to illustrate the document growth based on reproducible benchmarking?

[2022-11-24 16:32] hbcarlos commented on #13182
Yes, it was fixed in #13168

No, or at least I'm not aware of that, but it would be great to have some benchmarks.

[2022-11-24 16:53] hbcarlos commented on #13432
@davidbrochart, https://github.com/jupyter-server/jupyter_server/pull/1076 was merged and released in jp-server v2.0.0rc5.
I guess this issue is now fixed? I can not reproduce it.

[2022-11-24 17:09] hbcarlos commented on #13432
Closing as fixed by https://github.com/jupyter-server/jupyter_server/pull/1076.
I can see the backend always sending the same user identity, even when not using authentication.

[2022-11-24 17:09] #13432 closed

[2022-11-24 17:10] davidbrochart commented on #13432
Yes, it is [fixed](https://github.com/jupyter-server/jupyter_server/pull/1076#pullrequestreview-1186423251).

[2022-11-24 20:15] jtpio opened #13483 "Theme the DataGrid scrollbar"
### Problem

There is already a setting to theme scrollbars:

![image](https://user-images.githubusercontent.com/591645/203858189-823f555a-eff3-4da1-8f57-be6db67ec27f.png)

However this setting does not apply to data grids:

![image](https://user-images.githubusercontent.com/591645/203858276-f0eecc4f-0737-4ebf-bf72-1f141ac210af.png)

### Proposed Solution

It would be nice if the data grid scrollb

[2022-11-24 21:47] The1iAmNeo commented on #10700
did this ever get answered?

[2022-11-24 21:54] QuantFreedom1022 opened #13484 "Duplicate a line of code"
I was able to do it in jupyter notebook .. but how do you make a keyboard shortcut to duplicate the line in juypterlab ... or is there already the ability to do so

[2022-11-25 08:13] skukhtichev opened #13486 "[Security][CVE-2022-25887] sanitize-html before 2.7.1 are vulnerable to Regular Expression Denial of Service"
The package sanitize-html before 2.7.1 are vulnerable to Regular Expression Denial of Service (ReDoS) due to insecure global regular expression replacement logic of HTML comment removal.

CVE Details: https://nvd.nist.gov/vuln/detail/CVE-2022-25887

There is `"sanitize-html": "~2.5.3"` installed in apputils package: https://github.com/jupyterlab/jupyterlab/blob/master/packages/apputils/package.jso

[2022-11-25 11:24] #13258 closed

[2022-11-25 11:35] hbcarlos commented on #12790
Closing as fixed by #11599

[2022-11-25 11:35] #12790 closed

[2022-11-25 13:28] fcollonval commented on #13461
Fixed by https://github.com/jupyterlab/jupyterlab/pull/13468

[2022-11-25 13:28] #13461 closed

[2022-11-25 13:29] fcollonval commented on #13366
Fixed by https://github.com/jupyterlab/jupyterlab/pull/13472

[2022-11-25 13:29] #13366 closed

[2022-11-25 13:31] fcollonval commented on #13332
Add a section about binder configuration to address https://github.com/jupyterlab/jupyterlab/issues/13463

[2022-11-25 14:02] jtpio commented on #13221
FYI I started updated to the JupyterLab 3.6 packages downstream in https://github.com/jupyterlite/jupyterlite/pull/876 to help catch potential issues and breaking changes early.

[2022-11-25 14:04] fcollonval commented on #13221
Thanks @jtpio

[2022-11-25 14:39] jtpio commented on #13221
Opened https://github.com/jupyterlab/jupyterlab/pull/13490 which might help fix one.

[2022-11-25 15:06] hbcarlos commented on #12053
This is fixed in JupyterLab v3.6.x and v4. I opened a PR to fix it in v3.1.x - v3.5.x

[2022-11-25 16:03] martinRenou opened #13493 "ui-components CSS should probably not change "global" elements CSS?"
## Description

ui-components's CSS contains the following:

[code]

In here https://github.com/jupyterlab/jupyterlab/blob/master/packages/ui-components/style/base.css#L23

This CSS snippet should probably live in the application packages CSS? The look of a custom web page containing sub-components from JupyterLab packages should probably not be polluted by this CSS snippet.

Any thought?

Happy t

[2022-11-25 16:10] jtpio commented on #13493
Thanks @martinRenou for opening this issue.

This sounds good at first glance. Maybe the git history provides more information why we have them there.

[2022-11-25 16:46] #11602 closed

[2022-11-26 07:24] ibdafna opened #13495 "Notification commands provided by `apputils` seem to not be available"
## Description

Commands provided by the `apputils` package, used to create and update notifications seem to not be available in JupyterLab 3.5. Importing the `Notifications` module from `'@jupyterlab/apputils'` also resolves to undefined. The extension guide has an example of this notification command: https://jupyterlab.readthedocs.io/en/stable/extension/ui_helpers.html#using-commands

## Reprod

[2022-11-26 08:31] jtpio commented on #13495
Thanks @ibdafna.

According to https://github.com/jupyterlab/jupyterlab/pull/12959, it looks like the PR was only backported to `3.6.x` but not `3.5` which can explain why it's not available.

[2022-11-26 11:17] haugstve commented on #9539
Spent almost a day down the rabbit whole because of this. Maybe a warning or hint in the commands about the other lists to make it easier to understand and search for help?

[2022-11-26 11:58] krassowski commented on #13483
Using native scroollbars would also help: https://github.com/jupyterlab/lumino/issues/360

[2022-11-26 14:16] krassowski opened #13496 "Follow-up on completer refactor notes"
Notes on a few issues I see with the refactored completer API which I would want to fix before 4.0:

1. The timeout is set globally, no option to set it on completion provider basis (contrary to current LSP implementation)
2. `resolve` takes [`patch?: Completer.IPatch`](https://github.com/jupyterlab/jupyterlab/blob/198d01058290155f7cbbc91519f5d3c15452c6aa/packages/completer/src/handler.ts#L488-L49

[2022-11-26 14:26] krassowski commented on #13496
On a higher level we could ask: do we want extensions to be able to swap `IProviderReconciliator`/connector at all? I can see an argument for an extension like LSP having custom `IProviderReconciliator` that would have more advanced reconciliation rules.

However, if they swap the default `IProviderReconciliator` for the old `ICompletionItemsConnector` completions would continue to work (with the

[2022-11-26 14:38] krassowski commented on #13496
https://github.com/jupyterlab/jupyterlab/blob/198d01058290155f7cbbc91519f5d3c15452c6aa/packages/completer/src/connectorproxy.ts#L133-L136

appears unused; do you remember why it was added?

[2022-11-26 16:29] vidartf commented on #13455
Thanks for your report! This is a dependency of `jupyter-core`, as your report indicates, so it would have been better opened there. That said, are you using public PyPI? https://pypi.org/project/pywin32/#history seems to have many matching versions, and that dependency declaration has worked on Windows for many years. There might be an issue with your version/config of pip? At least, it does not

[2022-11-26 16:29] #13455 closed

[2022-11-27 06:27] yashpalgoyal1304 commented on #12883
yeah, got reminded that those notations are called caret notation (for control characters), and there's also emacs notation.

found while searching for https://github.com/TeamNewPipe/NewPipe/pull/9471

[2022-11-27 21:40] roblourens opened #13497 "Built-in variables inspector and API"
Hi, I work on VS Code notebooks, and our Jupyter extension's variables view. I heard a rumor that Jupyter Lab might work on a built-in variable inspector. By "variable inspector" I mean the kind of thing that the variable inspector extension does- https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/nbextensions/varInspector/README.html give a list of variables/values in the kernel while

[2022-11-27 22:01] krassowski commented on #443
Just to point out, since JupyterLab 3.3 you can hover over the list and click loop icon (or-right click to be offered an option to render the variable), as in:

![demo_render_variable](https://user-images.githubusercontent.com/8435071/120511259-89f0c580-c3ca-11eb-8572-5996fb0c6639.gif)

Currently it uses the default MIME type but we should be able to do better (like render a table for tabular pand

[2022-11-27 22:06] krassowski commented on #13497
Hi @roblourens nice to have you here. There is a prior discussion in: https://github.com/jupyterlab/jupyterlab/issues/443 but I do not recall any recent discussion of current progress of making a debugger-less variable inspector. It might be worth asking during the [JupyterLab weekly call](https://github.com/jupyterlab/team-compass#weekly-jupyterlab-team-meeting) if you have time on Wednesday.

As

[2022-11-28 08:10] jtpio commented on #9539
In the case of entering `jupyter lab extension list` there should ideally be a warning like "Did you mean jupyter labextension?".

[2022-11-28 10:25] JumpWill commented on #9647
when the num of file in a dirctory is very large,
the api about file will be slow and google  browser will may crash down.
adding  paging in api/contents is a solution to solve the above problem in jupyterlab4.

[2022-11-28 15:33] jablka commented on #12891
hello,
are you sure that this is fixed?
I just installed the JupyterLab via `pip`,
went to:
`Settings | Advanced Settings Editor` and then `JSON Settings Editor`
and this is what I get:
<img width="338" alt="image" src="https://user-images.githubusercontent.com/20874763/204316031-5c0731d8-e7ec-45dc-982b-da9e2658d0e1.png">

Even when I try it online at https://jupyter.org/try-jupyter/lab/
<img widt

[2022-11-28 15:37] HaudinFlorence opened #13501 "Jupyter and notebook icons colors don't comply with Jupyter brand color."
## Description

In variable.ccs the colors set for the jupyter and notebook icons are:
`--jp-warn-color0: var(--md-orange-900)` for the light theme

`--jp-warn-color0: var(--md-orange-700)` for the dark theme.

Whereas it seems that the official color should be `#F37626`
## Reproduce

## Expected behavior
Propose the same official color for both themes. Done in PR https://github.com/jupyterlab/jup

[2022-11-28 15:50] jweill-aws commented on #9647
@JumpWill We have an issue about this: see #10351.

[2022-11-28 16:48] trungleduc commented on #13496
Hi @krassowski, thanks a lot for your feedback. I'm completely in line with the list you posted.

I have some comments:

Which interface we should use for the `resolve`?

IIRC i removed it in favor of a more flexible interface (`IConnectorProxy`) since we used only the `fetch` method. The remaining references are my mistakes. The deprecation notice of the `connector` in  `CompletionHandler.IOption

[2022-11-28 17:02] trungleduc commented on #13496
My bad!. This should be removed

[2022-11-28 17:43] GabrielaVives opened #13502 "Introduce disabled states for the cell move up/move down icons in the toolbar"
### Problem

The icons on the cell toolbar to move a cell up or down currently have the following states:
- enabled
- hover

However, the following cases should be visually different to users:
- when a cell is at the top of the notebook, the "move upwards" icon should be disabled.
- when a cell is at the bottom of the notebook, the "move downwards" should be disabled.

Although it can seem obvious

[2022-11-28 18:02] krassowski commented on #9757
Comparing MathJax2 vs MathJax3 with the [`test.ipynb`](https://raw.githubusercontent.com/UCB-stat-159-s21/site/acc5cb36363ff056936568592126875418671f3c/Notes/tests.ipynb) (math-heavy) notebook open, using [`jupyterlab-ui-profiler`](https://pypi.org/project/jupyterlab-ui-profiler/): the performance improvements on migration to MathJax 3 are notable in JupyterLab 3.5 with Chrome:

| Scenario | Speed

[2022-11-28 18:09] GabrielaVives opened #13503 "Bring consistency to the tooltips of the toolbar actions"
### Problem

The tooltips of the toolbar actions are either inconsistent, or do not correctly  represent the action they represent.
For example, some refer to "cells" even though the action will apply only to one cell. This can create misunderstandings for new users, and can be easily fixed.

### Proposed Solution

Change the tooltips as in the illustration below:

![Consistent tooltips](https://u

[2022-11-29 02:54] SyrakuShaikh commented on #13451
Hi there, any clue, comment, or suggestion? Thanks！

[2022-11-29 08:23] jtpio opened #13505 "CI not triggered when the bot pushes updated snapshots"
## Description

As noticed in https://github.com/jupyterlab/jupyterlab/pull/13500#issuecomment-1329592227 and other PRs, CI does not seem to be properly triggered when the bot commits new snapshots and pushes them to the branch.

![image](https://user-images.githubusercontent.com/591645/204476755-ca9ff7be-6984-4da7-9dcf-572d00d7b4b0.png)

![image](https://user-images.githubusercontent.com/591645/2

[2022-11-29 09:08] ggrrll opened #13507 "show line / cell number in "find and replace""
### Problem

where there are many occurrences of a searched string , it's not sometimes easy to get to the one we need
(when "search in all cells" is activated )

### Proposed Solution

it could help to show line and / or cell number  next to each result of "find  and replace "

(see example below)

<img width="408" alt="Screenshot 2022-11-29 at 10 08 35" src="https://user-images.githubusercontent

[2022-11-29 09:51] fcollonval commented on #13497
FYI there is at least that extension in JupyterLab: https://github.com/lckr/jupyterlab-variableInspector

[2022-11-29 10:00] fcollonval commented on #13495
It seems that the 3.6.0 pre releases are set to be the stable channel on read the docs. Hence the misleading documentation. Sorry for that @ibdafna

[2022-11-29 15:31] ahmadmahmood4040 commented on #6119
I am also facing the black page for jupyterLab using firefox. Below is the error, i found it in the browser console:

SyntaxError: invalid regexp group
jlab_core.e37d4bbc8c984154bc26.js:2:941202
Error:
main.bf515ddb81bbc946ace6.js:1:68352
SyntaxError: invalid identity escape in regular expression
3308.3a94151c0d57440646ab.js:1:10762
Source map error: request failed with status 404
Resource URL: ht

[2022-11-29 17:16] ericsnekbytes commented on #13439
@krassowski Your tutorial code changes above worked for me :) I'm going to start work on porting your tutorial code changes above to the subsequent tutorial sections (so the later sections have the changes made here), I'll post updates and related info here.

[2022-11-30 07:13] GabrielaVives opened #13511 "Improve the scroll behaviour when moving a cell up or down"
### Problem
There is a usability issue in the "move cell up"/"move cell down" actions in the cell toolbar:

![down cells](https://user-images.githubusercontent.com/105775162/204510332-8cc528c6-86ae-409a-815a-ed9245083165.png)

The (cell+toolbar) the user just clicked on moves to the bottom or the top. If a user wants to click several times on the same button to move a cell to the top of the notebo

[2022-11-30 13:01] fcollonval opened #13513 "js-services CI job failing"
## Description

The js-services job is failing for other reasons that the usual timeout on restart since https://github.com/jupyterlab/jupyterlab/pull/13508 (I'm also hitting those connection error locally).

[2022-11-30 13:02] jtpio commented on #13513
So this is different than https://github.com/jupyterlab/jupyterlab/issues/13460, right?

[2022-11-30 13:03] fcollonval commented on #13513
Oh no you are right - I missed that one. Indeed they are the same error -> closing this one.

[2022-11-30 13:04] fcollonval commented on #13460
I'm working to bump Jest to v29 in https://github.com/jupyterlab/jupyterlab/pull/12584

We will then be able to take advantage of the github action reporter to ease failure analysis as the log for those tests is too long to be handled in GitHub and the ansi color makes the raw format though to work with.

[2022-11-30 17:24] jtpio commented on #13221
Looks like we could make a new 3.6 alpha release now that https://github.com/jupyterlab/jupyterlab/pull/13490 has been merged.

Maybe after CI has been stabilized (https://github.com/jupyterlab/jupyterlab/pull/13515 and others).

[2022-11-30 19:56] roblourens commented on #13497
Thanks @krassowski. That's interesting, I will look at your DAP extensions. I was just a bit too late coming back to this notification for this week, so maybe I will be able to join in the future.

[2022-11-30 22:38] jasongrout commented on #6119
This sounds like a very different problem from this issue. Can you file a new issue, and include your browser name and version? My first guess is that there is some code in jupyterlab or a plugin you've installed that your browser doesn't support.

[2022-11-30 22:52] ahmadmahmood4040 commented on #6119
@jasongrout, my issue has been fixed after updating my firfox to the latest version. JupyterLab is not supporting the firefox version which is less than 56.