[2021-08-02 20:31] mwakaba2 commented on #8230
This issue seems related to #8700.
@echarles is working on a PR to add pagination on the jupyter server side: https://github.com/jupyter-server/jupyter_server/issues/538

[2021-08-02 20:47] mlucool commented on #10760
I agree that the cursor position looks worse in the example above. I too think that the cursor should stay at the same spot relative to where it was in the previous cell in both cases. In the case above, it should be start of line (as you suggest) and at the end of the line when highlighting/using split.

[2021-08-02 23:00] mlucool commented on #10732
The restart state looks more like a bug than something to fix with user setting. As you can see here, it's working well until you restart, then the notebook becomes unusable.

![lock](https://user-images.githubusercontent.com/1813603/127933847-4fadf55a-3560-45df-aa47-754d7e630e2d.gif)

[2021-08-02 23:06] mlucool commented on #10694
This would be great to do. To some users, this behavior is detrimental to their workflow.

[2021-08-03 00:11] wsfreund opened #10764 "Remove Your Input is Requested for ipdb or using flag"
Jupyterlab Version 3.1.1

### Problem

* Use %debug, pdb or ipdb;
* Get a Your Input is Requested dialog at every ipdb prompt;

### Proposed Solution

* Do not prompt dialog for debuggers; or
* Allow user to disable prompt via a flag.

[2021-08-03 05:36] echarles commented on #10732
Rereading this issue, there may be different issues reported:

- The modal to get input which is annoying
- The usage of ipdb which should not block multiple input requests? - I am not clear on this one.
- The usage of %debug which should not block multiple input requests? - I am not clear on this one.
- The issue mentioned in the title where the blocking flag should be reset ofter restart.

[2021-08-03 05:52] hanmala123 commented on #10763
This is binder [link](https://hub.gke2.mybinder.org/user/jupyterlab-jupyterlab-demo-ovyrrppw/doc/tree/demo/binder.ipynb)
---
I just copied fastai widget source code in order to not install redundant packages.
In jupyterlab output, it's incomplete, but in  "new view for output", it is normal.
![00](https://user-images.githubusercontent.com/35035210/127964223-5d37d8b7-b9f5-4eff-83df-c7f7b38b372c.png

[2021-08-03 05:54] echarles commented on #10764
I commented more on https://github.com/jupyterlab/jupyterlab/issues/10732#issuecomment-891544400. Could we have further discussion on the initial issue to fully understand the issues and their fixes? Then we can come back here if we confirm this is the fix to implement.

[2021-08-03 09:00] timfeirg opened #10765 "Customize user login for JupyterLab"
### Problem

JupyterHub brings multi-user support to JupyterLab, via a multi-kernel architecture, but now since JupyterLab itself supports real-time collaboration, it's possible for multiple user to operate under the same JupyterLab server, which is even greater collaboration experience than what JupyterHub is offering.

Why? Because JupyterHub spawns a separate kernel for each user, thus it looks

[2021-08-03 09:17] krassowski commented on #10765
There is a discussion on RTC in JupyterHub on Jupyter Discurse: https://discourse.jupyter.org/t/plans-on-bringing-rtc-to-jupyterhub/9813/7 - it might be a good place to discuss it there since there are members of both Lab and Hub teams there.

[2021-08-03 10:45] krassowski commented on #10763
The binder link that you posted does not seem to work. I would recommend you to create a gist: https://gist.github.com/ by dragging notebook into the gist editor and share that gist. I can then create the binder from that.

[2021-08-03 11:19] hanmala123 commented on #10763
[gist link](https://gist.github.com/hanmala123/290dabc1269e21d8ea622b9c25a7dc7a)

[2021-08-03 11:22] wsfreund commented on #10732
My point concerns only this one: getting this prompt every time the user interacts with ipdb reduces the speed he interacts with the code and, hence, the productivity.

Users should be able to disable such dialog if they wish to do so, and I even dare to say that perhaps it would be better if it is disabled by default for debugging prompts.... but I am not sure how difficult it would be to impleme

[2021-08-03 11:32] stromal opened #10767 "Enable Scrolling for output - stick to the latest output line like in a terminal"
I would like to request the following feature:
1.) When I Enable Scrolling for output in Jupyter Lab
2.) I would like that the latest output would be shown in the bottom of the output box like in a terminal

[2021-08-03 14:30] isabela-pf commented on #6422
Hi @javabrett, thanks for opening this issue!

Keyboard shortcuts are always tricky in JupyterLab since we are balancing browser shortcuts, the number of reasonable key combinations (we usually aim for three or less keys at a time), and the many commands in JupyterLab. If you do want to push for this to be a standard shortcut, it would help if you could add
- What shortcut you would prefer (and ho

[2021-08-03 14:50] isabela-pf commented on #6418
Hi @flying-sheep, it's nice to find a familiar face (or profile picture) across repos! Do you know if the status of this issue has changed since you posted?

This isn't something I'm familiar with, but my guess is that JupyterLab leaned on the side of caution when not marking SVGs as safe by default because that is usually what happens if nobody at the time has a clear answer to a question like th

[2021-08-03 21:43] krassowski commented on #7308
This was fixed in #7835 included in JupyterLab 2.0 release. I will close this issue as we are currently at JupyterLab 3.1.

[2021-08-03 21:43] #7308 closed

[2021-08-03 21:50] krassowski commented on #6701
This was fixed in #7835 included in JupyterLab 2.0 release. I will close this issue as we are currently at JupyterLab 3.1.

Demo of this working as expected:

![works-ok-now](https://user-images.githubusercontent.com/5832902/128090951-7a83bb02-b38a-4f9a-afe0-a73b11afcbaa.gif)

[2021-08-03 21:50] #6701 closed

[2021-08-03 21:52] krassowski commented on #9437
This was fixed in #7835 included in JupyterLab 2.0 release. I will close this issue as we are currently at JupyterLab 3.1.

And yes, this is a duplicate - thanks for cross-referencing it @filipinascimento.

[2021-08-03 21:52] #9437 closed

[2021-08-03 22:03] krassowski commented on #7881
The highlighted line:

https://github.com/jupyterlab/jupyterlab/blob/7a97756d3808240a5881f9d63d2f955a27acb9eb/packages/documentsearch/src/searchoverlay.tsx#L626-L628

means "if the regular expression matches an empty string, then do not match anything".  `/x^/` is an expression that never matches.

I do not know how we to highlight a beginning of the line, as this is an empty character indeed - co

[2021-08-03 22:09] krassowski opened #10768 "Do not un-render markdown cells for search and replace if not needed"
### Problem

Currently the markdown cells get un-rendered for search operations and stay as such until the search bar gets closed. This is annoying visually as the context (e.g. rendered equations) is lost and performance-wise as it causes layout shift in the notebook.

### Proposed Solution

Instead of showing un-rendered cell we can hook into marked.js renderer using its public API (https://mark

[2021-08-03 22:10] mlucool commented on #10726
Can we add fixes to the document undo/redo https://github.com/jupyterlab/jupyterlab/issues/10694 (or maybe this should be 3.1.x)?

[2021-08-03 22:20] krassowski commented on #10726
The PR fixing #10694 is already tagged to 3.1.x (assuming we go with this fix). I would also champion for a fix to #10732 to go into 3.1.x.

[2021-08-03 22:28] mlucool commented on #10726
I only see a PR for undo/redo of outputs. Is there another PR for "allowing users to disable the document-wide history tracking when not in RTC mode"?

I agree that  #10732 should also go into 3.1.x.

[2021-08-03 22:42] mlucool commented on #4292
I'd encourage anyone who plans to attend tomorrow to read through https://jupyterlab-benchmarks.readthedocs.io/en/latest/. It has a lot of brainstorming ideas.

@echarles Did we ever resolve https://github.com/jupyterlab/benchmarks/issues/49? If not, I think that thread may be helpful for people to read up on to understand the lumino/jlab/codemirror interaction.

[2021-08-03 23:02] mlucool commented on #4292
Also while much has been implemented from https://github.com/jupyterlab/jupyterlab/issues/9279, @echarles's slide deck shows some of what is done and some of what we have thought about but did not do: https://jupyterlab-benchmarks-root-causes.echarles.vercel.app/

[2021-08-04 00:57] echarles commented on #4292
https://github.com/jupyterlab/benchmarks/issues/49 is about finding the root causes of the performance issues. A first step is to split the place where issues occur as document on https://jupyterlab-benchmarks.readthedocs.io/en/latest/issues/types.html

[code]

The less obvious one to explain is at the Browser side, for which the profiling https://jupyterlab-benchmarks.readthedocs.io/en/latest/mea

[2021-08-04 05:26] jasongrout commented on #10732
Another discussion about this from @fperez is at https://gitter.im/jupyterlab/jupyterlab?at=610a1f36933ee46b753babb2

[2021-08-04 05:31] fperez commented on #10732
Thanks @jasongrout for pointing me here, indeed I think this should be reverted so we can explore a cleaner solution... Even with the new debugger, many of us use `%debug` reflexively, and having a pop-up in the middle of that is super jarring.

I also listed on the gitter thread other issues with things like audio control, in addition to how easy it is to render the notebook unusable after interr

[2021-08-04 05:34] jasongrout commented on #10732
Here's another idea for dealing with the original problem at https://github.com/jupyterlab/jupyterlab/issues/8632: revert   #8713 and introduce a new kernel (pseudo-)state that is "waiting for input", shown as a kernel status like busy, idle, etc. If the user loses the input box that comes up in the output region of a cell like explained in #8632, they can click on the "waiting for input" status i

[2021-08-04 05:52] fperez commented on #10732
I like @jasongrout's idea... While it may require a bit more user interaction and is perhaps slightly less discoverable, I do find it preferable to a fully blocking modal dialog.  If people still get a little confused, we could consider stronger visual cues, such as styling the in-notebook input box with a more visible border/highlight, and/or coloring the status bar kernel indicator in these case

[2021-08-04 06:51] echarles commented on #10732
https://github.com/jupyterlab/jupyterlab/pull/8713 had two things:

1. A modal that says "Waiting on input - Please submit your input before running again the cell" which is the gist of the fix for the issue - This was the initial implementation but in the discussion on https://github.com/jupyterlab/jupyterlab/pull/8713 , we came with the second modal.
2. A modal with the exact same input text fie

[2021-08-04 10:47] Pardova opened #10770 "Editor writes inserted text to different in-file location than displayed #2951"
## Description

Open a ipynb file contain "\r\n" at the end of the line.
Try to edit the line cause error which may cause delete or insert text in wrong location in the same line after saving the file.
![image](https://user-images.githubusercontent.com/49127268/128165011-4a7cce8a-9ca4-494f-8b53-0fbcbce7ce76.png)
![image](https://user-images.githubusercontent.com/49127268/128165139-1a85efd7-09f5-43

[2021-08-04 14:28] fperez commented on #10732
Thx @echarles for the clear description! I agree that the first modal isn't nearly as problematic - my only issue with it is that, as noted above, I've seen it _mistriggered_. If we can resolve that, then I see no problem with keeping it...

The misfire seems to arise if the kernel is interrupted while waiting on a loop say like

[code]

If you interrupt the kernel and then try to run a new cell,

[2021-08-04 14:32] echarles commented on #10732
Thx a lot @fperez for bringing on this case. I have read another case where the popup 1 was shown after kernel restart (if you restart, any new input should be allowed).

I will review those cases and make sure modal 1 is not *mistriggered* and will get rid of modal 2 in all cases.

[2021-08-04 16:22] #10702 closed

[2021-08-04 16:38] echarles commented on #4292
Another profile snapshot (taken at the start of a tab switch and stopped when the tab become usable) that shows (looks at the % column) that most of the time is spent in `codemirror.js`

<img width="757" alt="Screenshot 2021-08-04 at 18 37 29" src="https://user-images.githubusercontent.com/226720/128220016-72bfa524-63f8-4948-a7a9-7f10e8e8d3ac.png">

[2021-08-04 16:38] vidartf commented on #10694
I don't think having undo/redo of outputs makes sense. While it might make sense to keep the history, I think it should be marked in some way to not be included in the undo/redo stream.

[2021-08-04 16:48] ajbozarth commented on #8148
Copying some notes from todays dev meeting:

  - [example](https://user-images.githubusercontent.com/45380/91661883-b890e700-eaac-11ea-83dc-b0e2e1926d34.png) of desired customized settings (crusty [PR](https://github.com/krassowski/jupyterlab-lsp/pull/328))
  - additional [shortcuts UI](https://github.com/deathbeds/jupyterlab-keycaps) implementation

[2021-08-04 16:59] ellisonbg commented on #4292
@echarles There is a simple test we can do to better understand this. On the classic notebook (which also uses codemirror) is there a similar number of calls to the codemirror API as JupyterLab?

[2021-08-04 18:02] echarles commented on #10103
@williamstein I have have react component for jupyterlab as mentioned on https://github.com/jupyterlab/jupyterlab/issues/10655

Happy to discuss on how to use them in conjunction with cocalc ones.

[2021-08-04 21:22] Ayad0net commented on #10768
The same issue with "**Show Contextual Help**", the Markdown is still un-rendered!

[2021-08-05 07:43] kangsan0420 commented on #7081
we have the same problem on JupyterHub, even with only two people.

[2021-08-05 08:17] echarles commented on #10046
Looks to me this is a duplicate of https://github.com/jupyterlab/jupyterlab/issues/10045 which has more details and comments.

Closing this one in favor of https://github.com/jupyterlab/jupyterlab/issues/10045

Please reopen if you think it should not be closed.

[2021-08-05 08:17] #10046 closed

[2021-08-05 08:17] krassowski commented on #2951
This issue should not get locked, as we have an explicit dialog telling users to paste their debug reports here:

https://github.com/jupyterlab/jupyterlab/blob/a2d2c5b26f16b97e605b43e47cfb9a301620921d/packages/codemirror/src/editor.ts#L1138-L1146

wit most recent report today in #10770

[2021-08-05 08:22] krassowski commented on #9465
But it turns out VS Code does it as well: https://github.com/microsoft/vscode-jupyter/issues/4576. I agree with @telamonian's assessment, we should fallback to conversion of line-endings on first read.

[2021-08-05 08:24] krassowski commented on #10770
Thank you for the report. Where did this notebook came from? Was it created by another editor perhaps, or downloaded from a specific website? It looks like related to #9465.

[2021-08-05 09:54] odedbadtcloudinary opened #10777 "The new green "Panel" button opens a new tab that renders a 404 message"
It seems this new green  "Panel" button is an undocumented feature (I googled all around for it):
<br>
<br>

<img width="300" alt="Screen Shot 2021-08-05 at 12 46 46" src="https://user-images.githubusercontent.com/76327382/128330510-b834a30b-a232-40e6-a49c-237633bcc192.png">
I write a "panel" rich notebook and clicked it and all I got was a new tab with a 404:
<img width="600" alt="Screen Shot 202

[2021-08-05 10:56] krassowski commented on #10777
Hi @odedbadtcloudinary, thanks for opening the issue. This is not a part of JupyterLab - we do not have a green Panel button. I think it might be coming from [holoviz Panel](https://panel.holoviz.org/index.html) extension and seems like an installation issue. I would guess that you may have only one part of the extension installed (the frotnend one), but are missing the backend (server extension)

[2021-08-05 10:56] odedbadtcloudinary commented on #10777
Thanks!

[2021-08-05 12:48] sinkingtitanic commented on #3424
No updates on this? :)

[2021-08-05 14:53] chriswininger commented on #9602
Sadly not an option for folks on python 3.6 as ipython 7.20 and above does not offer support of python 3.6 :crying_cat_face:

https://github.com/ipython/ipython/issues/12821#issuecomment-806763164

[2021-08-05 15:55] #10777 closed

[2021-08-05 16:03] krassowski commented on #9602
This is correct. In that case you can still downgrade Jedi to 0.17, but I would recommend upgrading Python instead as Python 3.6 will stop receiving security updates in 4 months time (and if there are issues that you need to work out, reluctant administrators, or dependencies that need to be pushed to upgrade it would be better to work it out now rather than after the security support ceases - for

[2021-08-05 16:03] jasongrout commented on #10732
Another problem with global modals: What happens if you have two notebook tabs A and B simultaneously executing, and notebook B has an input requested? How do you know it is for notebook B, and not A? What if B is in a tab behind A, so you can't even see B or its context?

One thought is that we have tab-specific modals (similar to how we have application-specific modals on macOS). But I think bet

[2021-08-05 16:07] echarles commented on #10732
@jasongrout Are you saying to completely revert https://github.com/jupyterlab/jupyterlab/pull/8713, removing also the guard? In that case, the user risks to block his kernel if he requests a second input.

[2021-08-05 16:18] jasongrout commented on #10732
Which just puts us back to the status quo up through 3.0. The question (for me) is about which behavior is more disruptive - the chance that a user deadlocks their kernel (which we've always had up to this point), or the disruption we're seeing with the modal.

From https://github.com/jupyterlab/jupyterlab/issues/10732#issuecomment-889842485 and https://github.com/jupyterlab/jupyterlab/issues/1073

[2021-08-05 16:22] echarles commented on #10732
Maybe you mean "... revert even the modal saying Waiting on input - Please submit your input before running again the cell" ?

[2021-08-05 16:22] krassowski commented on #3424
The file browser now has a shortcut for file renaming since the recent version 3.1 (by default <kbd>F2</kbd>). There is indeed no direct shortcut for creating new files, but in the version 3.x you can press <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>c</kbd> to bring up the [command palette](https://jupyterlab.readthedocs.io/en/stable/user/commands.html) and start typing "New file" or "New notebook"

[2021-08-05 16:50] jasongrout commented on #10732
Thanks for being generous in your interpretation. I was getting confused between the two modals. It sounds like your comment far above:

and your other comment more recently above:

are calling for the same thing. +1 to your plan in https://github.com/jupyterlab/jupyterlab/issues/10732#issuecomment-892709812 for the immediate future.

I still think using modals is probably not a good long-term sol

[2021-08-05 16:59] echarles commented on #10732
Sounds good and sounds like a plan. Thx you for your attention on this.

I will start working towards a PR tomorrow and hope to find ways to fix the mistriggered modal 1 (the good thing is that we have reproducers for that).

[2021-08-05 18:05] fperez commented on #10732
Thanks for all the work on this, folks... My gut tells me that perhaps there's a good solution to be found with no modals at all, but given that a) @echarles seems reasonably convinced the misfires with the simpler dialog can be managed, b) it does address another nasty failure mode; c) it hasn't generated nearly as many concerns; I'm for now happy to try a "minimal reversion" as Eric suggests.

O

[2021-08-05 18:34] jasongrout commented on #10732
Given the user reports and disruption, can we target this to 3.1.x, instead of waiting 2 months for 3.2?

[2021-08-05 18:42] fperez commented on #10732
Yes, please! I'm holding back on updating our working research hub to 3.1 b/c of this. For me, 3.1 is basically not usable, I'm afraid, due to this issue.

[2021-08-05 18:53] geozeke commented on #10732
+1

Please from me, too! Classes start on August 23rd. Would love to see this rolled back before then :-)

[2021-08-05 22:27] MichaelMadden-SDev commented on #10770
I am experiencing this issue as well, and my notebook did come from a co-worker.  Same \r\n issue

[2021-08-05 22:37] fperez commented on #10732
Good point, @geozeke!! I'd forgotten about that part - I was talking about a small research hub above, but I need to settle on our image for our 1,000+ person [Data 100](https://ds100.org) course that also starts very soon! And I can't use 3.1 in its current form, unfortunately.

[2021-08-06 07:15] echarles commented on #10732
Sorry to read that! It sounds like there is enough emergency here to completely revert and ensure we don't introduce edge behavior for the users.

I have opened https://github.com/jupyterlab/jupyterlab/pull/10779 to revert on 3.1.x branch which I think is the one upon which the next 3.1 release will be done with this fix (cc/ @blink1073).

I guess the revert should be ported to master. Then of cou

[2021-08-06 07:23] fperez commented on #10732
No worries @echarles, your rapid response is much appreciated. And you were trying to solve a tricky problem! Unforeseen side effects of a solution do happen, and we just iterate and keep improving, no worries :)

With a rapid update for a 3.1.x release with this fixed, 3.1 will be awesome, and we can continue testing better approaches to this. We now know of a number of edge cases to watch for, s

[2021-08-06 14:05] huyfam commented on #8746
I got into exactly the same issue for some time.
My system:
- Ubuntu 20.04.2
- Jupyter lab 3.1.2 (via conda)
- Firefox 90.0.2
@pakrentos Is your solution still working? I had problem trying to install custom-css, can't try it now.

[2021-08-06 17:46] williamstein commented on #10103
Can you email me at wstein@sagemath.com and we'll setup a video chat early next week?

[2021-08-07 00:18] jasongrout commented on #10763
Thanks for reporting this.

I think this is an ipywidgets issue. I investigated and narrowed it down to what I think the root problem is at https://github.com/jupyter-widgets/ipywidgets/issues/3247

Let's move the conversation over there.

[2021-08-07 00:18] #10763 closed

[2021-08-07 00:52] cameron-toy opened #10784 "Notebook version reverts to 4.4 during RTC"
## Description

When multiple people are collaborating on a notebook, the notebook reversion reverts from 4.5 to 4.4

## Reproduce

Start a notebook session with RTC enabled. Open a notebook--the version should be 4.5. Connect with another client, open the same notebook, and check the notebook version again.

EDIT:
The collaborator must edit and save before the notebook version change happens.

##

[2021-08-07 11:06] willemavjc commented on #10714
Can confirm @krassowski 's settings make things work as expected. I'm currently working on a (huge?) notebook with 50 or 60 headers going from level 1 to 4. (Un)Collapsing was stopping after the few first ones. The most scaring part was that in fact it was acting like it could not do the action but closing and reopening the notebook was resulting in cells disappearing! (Like they never even existe

[2021-08-07 11:23] willemavjc commented on #10440
I'm in for the idea of having a `TAB` command focusing on the next cell actually focused rather than the first one. To be honest, the scenario described by @krassowski on the first post happens to me ...everyday; because every other app tends to work that way when it implements a `TAB` shifting feature.

[2021-08-07 11:34] willemavjc opened #10785 "Feature: Collapse/Uncollapse cells with LEFT and RIGHT keyboard's arrows keys."
### Search the opened issues for the same idea

Done: None found.

### Problem

I'm faster with keyboard's shortcuts than the mouse so that I use `UP` and `DOWN` keyboard's arrows keys to move up or down in my notebooks. I cannot do *collapsing* or *uncollapsing* of cells though either than clicking with the mouse on this small UX arrow icon.

### Proposed Solution

It would be great - if possible

[2021-08-08 05:12] echarles commented on #10732
fyi the complete revert is merged in 3.1.x and master branch. It is now a matter to cut the next 3.1.x release so you can use it.

[2021-08-09 03:47] paravatha commented on #10701
@JohanMabille, I am seeing the same issue in jupyterlab==3.1.4
is this bug introduced recently? if it is, appreciate if you could let me know which version I should roll-back to!

[2021-08-09 04:48] krassowski commented on #10684
Another one, same manifestation but different traceback:

[code]

JupyterLab version: 3.1.4

[2021-08-09 11:58] hbcarlos commented on #10784
Hi @cameron-toy, thanks for opening this issue. I can take a look.

I'm a bit lost on the notebook version. Is it the `nbformat` and `nbformat_minor` attributes on the notebook's metadata?

[2021-08-09 12:57] fcollonval commented on #10701
@paravatha you will hit this issue as soon as you use a kernel with debug capability (and JupyterLab 3).

[2021-08-09 14:29] agoose77 commented on #10785
You can already implement this with a custom keyboard shortcut!

[code]

[2021-08-09 14:31] willemavjc commented on #10785
Oh, that's interesting! Shouldn't that be bundled in by default? Wouldn't that make sense?

[2021-08-09 14:35] krassowski commented on #2951
I got this error today in JupyterLab version 3.1.4 with the following traceback, which I think might have been triggered by <kbd>ctrl</kbd> + <kbd>z</kbd> after I noticed that I lost one of my cells with important output (I figured I must have deleted it accidentally but it might have been a bug instead):

[code]

and following (redacted) log at first occurrence

[code]

this repeated a few times

[2021-08-09 15:01] agoose77 commented on #10785
Perhaps! This might be where other developers with more of an eye for feature creep might weigh in :)

[2021-08-09 16:02] paravatha commented on #10701
Thanks @fcollonval
If I don't upgrade ipykernel, use the below versions..I should be good?
[code]

[2021-08-09 16:33] cameron-toy commented on #10784
@hbcarlos yes, `nbformat`.`nbformat_minor`

Before collaborator connects:
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/38936057/128740917-994b9ad0-8e54-42e0-8f92-eec3e70465ef.png">

After collaborator connects, edits the notebook, and saves it:
http://localhost:8888/lab/workspaces/auto-j/tree/new%20notebook.ipynb

The 4.5->4.4 shift is significant because 4.4 doesn'

[2021-08-09 17:44] goanpeca commented on #10726
I am not sure we are tracking that as a separate issue. @krassowski do we have such issue?

[2021-08-09 17:45] fperez commented on #10732
On Sat, Aug 7, 2021 at 10:12 PM Eric Charles ***@***.***>
wrote:

Thank you so much Eric for your diligence on this one, much appreciated!

[2021-08-09 19:52] blink1073 commented on #10732
Fix is released: https://github.com/jupyterlab/jupyterlab/releases/tag/v3.1.5

[2021-08-09 21:04] krassowski opened #10791 "Allow to disable the document-wide history tracking"
#10694 highlighted some issues with the document-wide history tracking relating to outputs, but in the discussion it also came up that it might be a good idea to allow to disable this feature entirely. @mlucool noted that this behavior is detrimental to the workflow of some users (https://github.com/jupyterlab/jupyterlab/issues/10694#issuecomment-891390472).

During the weekly call (https://github

[2021-08-09 21:06] krassowski commented on #10694
Closing as fixed in #10756 (released in 3.1.2). I opened #10791 to track allowing to disable the history tracking entirely.

[2021-08-09 21:06] #10694 closed

[2021-08-09 21:08] krassowski commented on #10726
We didn't but now we do: #10791.

[2021-08-09 21:16] krassowski commented on #2951
CC @hbcarlos and @dmonad on the above issue which seems to be a new addition to the repertoire; the traceback is coming from on of the non-null assertion operators in:

https://github.com/jupyterlab/jupyterlab/blob/21b3fdf053701368569736bce7661ad3925236fb/packages/shared-models/src/ymodels.ts#L553-L570

this is just FYI for now, I am not yet confident if the shared models are the culprit or just a

[2021-08-09 22:29] mlucool commented on #10791
FWIW, I think its perfectly reasonable to always have document level history so long as users can continue to have cell level redo/undo as in previous version of Jupyter. The problem users like being able to think of cells closer to how IDEs treat files. This means sometimes undo between files has meaning at times (e.g. undo a rename), but ctrl-z inside a file (i.e. in a codecell) means undo my la

[2021-08-10 06:41] fperez commented on #10732
Huge thanks all! Should we close this one?

[2021-08-10 06:44] echarles commented on #10732
I am working on a PR for 3.2 for Modal 1 and plan to link this PR to this issue. There is very good reproducer logged here, so I would prefer keep it open until we have a decision for 3.2.

[2021-08-10 06:50] fperez commented on #10732
np @echarles  - feel free to ping if you'd like more testing/input once the PR goes up, happy to take a look!

[2021-08-10 11:40] echarles commented on #10732
Thx. I have opened https://github.com/jupyterlab/jupyterlab/pull/10792 and would like more user tests to identify any issue with the implementation. Compared to the previous attempt (1) the second modal asking for user input is not more shown (2) the interrupt, shutdown and restart kernel resets the guard.

Looking forward feedback from any contributor to this thread or anyone interested.

[2021-08-10 11:51] hbcarlos commented on #10784
The issue comes from RTC not sharing the state attributes like `nbformat`, `nbformatMinor`, and `dirty`.

The default `nbformat` version supported in JupyterLab is 4.4 (see #10018). When loading a notebook from disk, if the format version of the notebook is higher than the default version, JupyterLab updates the state of the notebook to the corresponding version in the method `fromJSON()`:
https:/

[2021-08-10 13:13] echarles commented on #4292
Did a few more analysis. During the tab switching, I was expecting to see a lot of codemirror refresh invocation, but finally only saw 2 of them, related to the focus event. I then manually changed the CSS of the notebook panel to see how much time it was taking to hide / unhide it self. I have the impression that time take during that manual change corresponds to the time taken when I change tab,

[2021-08-10 16:37] williamstein commented on #4292
I also did some more tests last night which are consistent with what
@echarles observed above:

- I tried comparing the time to switch to a notebook tab in both
CoCalc and JupyterLab, and it was about the same.  Both are just using
the approach of CSS to show/hide.
- I tried CoCalc's "Jupyter classic in an iframe", which also uses CSS
to show/hide, and it was just as slow.  This suggests the appro

[2021-08-10 17:00] echarles commented on #4292
Are you considering something like RStudio which has a single editor hosting the cells? I have implemented something similar a few years ago with CodeMirror and have recently been looking at it with the Monaco and CodeMirror.next APIs. But if the number of DOM nodes to hide/display is confirmed to be the bottleneck, some windowing/virtualization system will be anyway needed. @williamstein any link

[2021-08-10 17:25] williamstein commented on #4292
I think that's almost exactly what I meant by "Sage Worksheets" in CoCalc.    CodeMirror automatically does configurable windowing/virtualization.  To play with this in CoCalc, in a project:
1. Click +New
2. Click "Sage Worksheet"
3. Type some python and hit shift+enter.

This is the core of the Slate windowing implementation: https://github.com/sagemathinc/cocalc/blob/master/src/packages/frontend

[2021-08-11 08:35] dsaad68 commented on #9698
I have the same problem on JupyterLab 3.1.4.

[2021-08-11 10:53] flying-sheep commented on #6418
Hi! Same! I like finding people who I know are nice!

About this one: Yes, it’s still an issue. Executing the following will add the metadata but not take it into account for rendering.

[code]

The SVG code is just base64-encoded and put into the `<img>` tag’s `src` attribute, the `width` and `height` discarded.

[2021-08-11 11:37] stromal opened #10798 "Back & Forward jump between markers"
Goal:
It would speed up the workflow drastically in a long notebook if when I have the 'Table of Contents' I could just jump to the back previous tag I was at or Forward if I want to go to the tag I jumped back from.

Example Scenario.:
- I have navigated to a header markdown field by clicking on it in the 'Table of Contents' .
- Than I start scrolling around and I just want to get back quickly to

[2021-08-11 12:04] krassowski commented on #5741
@Serhiy-Shekhovtsov thanks for mentioning it! I think that a better way to toggle it may be by using the Settings menu ("Settings" → "Auto Close Brackets", which is the seventh option in default JupyterLab 3.1 installations):

![Screenshot from 2021-08-11 13-00-07](https://user-images.githubusercontent.com/5832902/129025113-bef5634e-2ccc-4d64-b6ad-5c333e686e99.png)

It is better because it should

[2021-08-11 13:43] hbcarlos opened #10800 "Save to disk notebook's metadata from shared models"
## Description
Because of some metadata (`kernelspecs` and `language_info`), notebook's metadata is not included in the shared model. In case other extensions want to share the metadata, developers can use the shared model to manage the metadata. The problem comes when saving the notebook. ModelDB and the shared model are not in sync regarding the metadata and when the context call the method `toJ

[2021-08-11 13:48] hbcarlos commented on #10784
This is solved in #10795

[2021-08-11 14:31] SarunasAzna commented on #10722
I am testing 3.1.4 and after each build (`jupyter lab build --name='MyFancyName'`) you can see `MyFancyName` for a short time but it is being replaced with `JupyterLab`  immediately. So it seems like the issue is not being solved, or am I doing something wrong?

[2021-08-11 15:54] LustigePerson opened #10805 "Wrong workspace files names requested / set"
## Description

There was an [issue](https://github.com/jupyterlab/jupyterlab/issues/9590) https://github.com/jupyterlab/jupyterlab/issues/9590 with the workspaces, not loading correctly and I guess it was fixed in [this PR](https://github.com/jupyterlab/jupyterlab/pull/10603) https://github.com/jupyterlab/jupyterlab/pull/10603.

However, another issues resulted from this when using `jupyter lab w

[2021-08-11 16:29] vidartf commented on #9538
Closable now?

[2021-08-11 18:59] bollwyvl commented on #9538
Let's keep it until the warehouse pr is merged. 😜

[2021-08-11 19:25] krassowski opened #10807 "Reconcile kernel statuses"
#10738 created a map of kernel statuses to enable translation of statuses in 3.1 and 3.2 versions, but those should really be defined in one place only. As the refactor will need to change some public APIs tagging this for 4.0

[2021-08-12 05:07] geonhui-hong opened #10808 "dialog hasClose"
hasClose is unconditionally true.(associated with https://github.com/jupyterlab/jupyterlab/pull/7885)
## Description

I want to prevent the modal from closing when clicking outside the modal with hasClose. However, according to this code, the hasClose variable is unconditionally true .

![image](https://user-images.githubusercontent.com/79886295/129141115-e8cac0f1-e545-4166-916f-54d093b00a9e.png)

[2021-08-12 05:20] franckchen opened #10809 "Session context error dialog print error message twice"
## Description

The error message in Session error dialog appears twice.
By review the source code. can clearly find the message print twice, the code is quite simply.
https://github.com/jupyterlab/jupyterlab/blob/00b7ed51df46ed7d3a75eed7f3bdad3089d90e0e/packages/apputils/src/sessioncontext.tsx#L957

## Reproduce

Dont need for this step. can find this problem by a simple code review. https://gith

[2021-08-12 07:25] fcollonval commented on #10437
Hey @abitrolly

The writing of the notebook is done using [`nbformat` package](https://github.com/jupyter/nbformat).

But I'm surprised by your comment as per default it should write a notebook using one single space indentation: https://github.com/jupyter/nbformat/blob/f101cd2b062609823e9cdbf0e8de697a6c22638e/nbformat/v4/nbjson.py#L47

[2021-08-12 10:47] abitrolly commented on #10437
@fcollonval the bug it is easily repeatable,

1. Go https://jupyter.org/try
2. Click "Try JupyterLab"
3. Select Python and type anything
4. Click "Download"

You should get this JSON.
[code]

[2021-08-12 11:34] astrojuanlu commented on #9538
xref: https://github.com/pypa/warehouse/pull/9882

[2021-08-12 12:33] fcollonval commented on #10437
On which OS are you because for me the notebook is indented:

[code]

[2021-08-12 12:55] krassowski opened #10816 "Undo does not work correctly with paste event after moving cells"
## Description

Undo does not work correctly with pasted text after moving cells. This has detrimental effects after a few move operations and few attempts to undo leading to a big mess. I lost some uncommitted code today - not happy.

## Reproduce

![undo--issue](https://user-images.githubusercontent.com/5832902/129199962-e40c5ec4-c783-4a18-af08-b3471a61f15e.gif)

0. create two cells: a cell with

[2021-08-12 13:11] abitrolly commented on #10437
@fcollonval Linux, Fedora 34, Firefox 90.

Not sure why would OS matter for the download from online service. Does the Binder attempt content negotiation based on target OS? The complete URL is https://hub.gke2.mybinder.org/user/jupyterlab-jupyterlab-demo-13p85w1v/lab/tree/demo/Untitled.ipynb

[Untitled.zip](https://github.com/jupyterlab/jupyterlab/files/6975666/Untitled.zip)

[2021-08-12 13:22] ayaka-kms opened #10818 "A high severity vulnerability introduced in @jupyterlab/buildutils"
Hi, a vulnerability CVE-2021-27290 is introduced in npm-cli-login  via:
●  @jupyterlab/buildutils@3.1.6 ➔ npm-cli-login@0.1.1 ➔ npm-registry-client@8.6.0 ➔ ssri@5.3.0

However, npm-cli-login is a legacy package, which has not been maintained for about 3 years.
Is it possible to migrate npm-cli-login to other package or remove it to remediate this vulnerability?

I noticed several migration records

[2021-08-12 14:53] llinfeng opened #10820 "Looking for an option to fix tab title for Version 3.1.x"
### Problem
It is distracting and impractical to have the following ever-changing tab-title when I switch across multiple notebooks in a workspace.
![CannotFix_TabTitle](https://user-images.githubusercontent.com/5890407/129217511-f2761865-1547-4b05-8b6b-4bb9d7b83f40.gif)

The old way of fixing the tab title no longer works as intended. Upon fixing the tab title in one notebook, switching to anothe

[2021-08-12 14:54] #10808 closed

[2021-08-12 14:55] #10809 closed

[2021-08-12 15:52] abitrolly commented on #10437
@yes, it is indented for me too in console. But when I download it, it is still one line long. And the size of downloaded blob is different.

![image](https://user-images.githubusercontent.com/8781107/129227217-5f17c4e6-4e4e-4f50-86bf-3ff94a8adb11.png)

[2021-08-12 18:54] krassowski commented on #10820
I agree that this should be user-customizable. This was originally suggested in https://github.com/jupyterlab/jupyterlab/issues/6946#issuecomment-664604505 and some suggestions on variables to be made available is in https://github.com/jupyterlab/jupyterlab/issues/6946#issuecomment-675804557.

[2021-08-12 19:04] krassowski commented on #10820
https://xkcd.com/1172/ ;) [Just joking, I fully appreciate your use case and as mentioned earlier I do agree this should be improved].

In case if you would like to take a stab at it, the PR which introduced this feature is: https://github.com/jupyterlab/jupyterlab/pull/10002

[2021-08-12 19:18] llinfeng commented on #10820
@krassowski Thanks a lot for pulling the relevant threads together. As advised by <https://xkcd.com/1205/> (seriously, lol), I will live with my current workaround based on the following observation:
* When the tab-title updates, it always contains the first 15 characters of the current working directory for the noetbook.

Since I don't have too many variants for the working directories, I will ad

[2021-08-12 20:49] krassowski commented on #10791
Adding a help plea encountered in the wild: https://stackoverflow.com/q/68763795/6646912. Tangential to the matter, we should really make a better effort in making changelogs describe what happens to UX (as they previously did) and why.

[2021-08-12 21:23] krassowski opened #10826 "It is difficult to find the right width of panel for toolbar to display intended items"
#10720 implemented a responsive toolbar by adding a pop-up tray hidden behind a toolbar button `[...]` to collect toolbar items that would overflow. However the current experience when resizing is a bit jumpy:

![resize-event-handling](https://user-images.githubusercontent.com/5832902/129271764-31d117ca-a325-4fe0-addb-2018b737c9a3.gif)

with the relevant code in:

https://github.com/jupyterlab/jup

[2021-08-12 22:06] JesseRop opened #10827 ""The kernel appears to have died. It will restart automatically." error in jupyterlab 3.1.6 that is solved by reverting to jupyter 3.0.5 :"
Dear jupyterlab developers,

Many thanks for the great tool!

While importing scvelo 0.2.3 (installed using pip in a conda environment) on jupyterlab 3.1.6, I was getting an error, "The kernel appears to have died. It will restart automatically.".
However, this resolved when I reverted to jupyterlab 3.0.5 and I am able to import scvelo 0.2.3 successfully.

Kindly check on this.

Thanks

[2021-08-12 22:10] mlucool commented on #10139
I'd like to expand this idea a bit to include that it (optionally) acts a bit like `%debug` in that you can apply it after the exception was raised. I'm not sure of the UX, but maybe a modal which asks you if you want to step into the last exception?
![image](https://user-images.githubusercontent.com/1813603/129276271-1505f343-a5f4-45c2-8f97-911bd4ddb5f0.png)

CC @goanpeca

[2021-08-12 23:42] mlucool commented on #10791
One idea to improve document-wide history is to force the browser to focus on the last undo operation. This would help the undoing the+2 case above as it would jump to where the edit just happened to make it more obvious. This doesn't change my overall view from above, but I think would improve the UX for those who want to keep the new style.

[2021-08-13 01:16] krassowski commented on #10827
Thanks for opening the issue. I tried to reproduce it but my attempts were not successful - `import scvelo` works fine for me when using:

after installing it with pip in conda environment. I tested with: JupyterLab 3.1.0, 3.1.5, JupyterLab 4.0.0a2 and also checked two different versions of ipykernel (6.1.0 and 5.5.0) and xeus-python kernel 0.12.5.

It would be much easier to help you if you could

[2021-08-13 04:43] 3coins commented on #10826
@krassowski
Yes, this might help with smoothing out the resize. Feel free to assign this issue to me.

[2021-08-13 06:39] fcollonval commented on #10437
Thanks for trying that out. Now with your screenshot I got it. We were not using the same _Download_ capability.

The one that bring you this issue is actually an extension for Binder: (jupyter-offlinenotebook)[https://github.com/manics/jupyter-offlinenotebook/].

It had the _Download_ button in the notebook toolbar. And looking at the code, they are doing something different that what I said:

ht

[2021-08-13 07:05] #7756 closed

[2021-08-13 07:07] fcollonval commented on #10139
We really need a toast system for those kind of things :cry:

[2021-08-13 07:48] abitrolly commented on #10437
Opened an issue in `jupyter-offlinenotebook`. Using `File -> Download` produces indented JSON indeed.

[2021-08-13 12:33] #10541 closed

[2021-08-13 14:38] #10419 closed

[2021-08-13 14:39] #10431 closed

[2021-08-13 14:54] #10189 closed

[2021-08-13 15:28] afreix-bricks commented on #10103
@bollwyvl what are you referring to when you mention CodeMirror.next. If you're referring to https://codemirror.net/6/ it looks like

according to the site. This lead me to believe that there wouldn't be any performance gains from upgrading

[2021-08-13 16:45] blois opened #10831 "Trust this notebook dialog missing linkification"
## Description

The 'trust this notebook' dialog has an anchor tag / URL which isn't rendered as a link:
![image](https://user-images.githubusercontent.com/2152569/129392276-0614eb59-9d70-4579-8ac7-acfaf086c980.png)

## Reproduce
Execute 'Trust Notebook'

## Expected behavior

Anchor is rendered as a navigable link.

## Context

- JupyterLab version:  3.0.16

[2021-08-13 16:51] jasongrout commented on #10831
For reference, that text is here: https://github.com/jupyterlab/jupyterlab/blob/ae1846768e7cb22fbef63cce325fe5ad395b655f/packages/notebook/src/actions.tsx#L1741

[2021-08-13 18:28] #10818 closed

[2021-08-14 09:03] krassowski commented on #10818
Hi @ayaka-kms thank you for the nudge on this one. This dependency was only used for testing and not invoked in user-facing part ever so it should not be a problem given that the vulnerability in question is a ReDoS. Still, the package in question was indeed outdated and unnecessary dependency and it was just removed in #10828.

In future, if you discover a security vulnerability in JupyterLab, or

[2021-08-14 11:46] MNejc commented on #9250
Anonther very dirty  fix is to just go in paths file and change line 93
https://github.com/jupyter/jupyter_core/blob/e69a436529838dce8b41e6d4508f94930c87b559/jupyter_core/paths.py#L93

to return "C:\\Users\\USER\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\\LocalCache\\Roaming\\jupyter\\"

[2021-08-14 12:33] jasongrout commented on #9250
@florianbussmann - I just realized you may have been waiting for feedback on  jupyter/jupyter_core#222 to move that forward.

[2021-08-14 14:47] rvalieris commented on #4040
I will go a step further and say that instead of an option, it should behave like on google colab, where a kernel is only started if the user tries to execute a code cell.

very often I will open a old notebook just to check what I did last time, if I am not careful I end up with a bunch of idle kernels open because of this,  I need to manually close each one.

there are also other bugs related to

[2021-08-15 03:21] choldgraf opened #10834 "Update documentation theme to pydata_sphinx_theme"
# Background

In #8768 @fcollonval mentioned that the JupyterLab team decided that they'd like to use `pydata-sphinx-theme` in this repository. This is an issue to keep track of the major things you'd need to consider for this. I might be able to help out with this in the coming weeks, but I'm not sure whether I'll have time, so invite others to give it a shot.

# Major tasks to do

- Decide if yo

[2021-08-15 15:05] RafalSkolasinski opened #10835 "typing bracket with highlighted code removes code instead of surrounding it with brackets"
Seems like regression between 3.0.x and 3.1.x (works fine on 3.0.16 and 3.0.17 and does not work on 3.1.6)

## Description

When selecting code and pressing `(` or `[` to surround it with brackets code gets removed instead.

## Reproduce

1. Code cell
2. type code
3. select code
4. press `(`

## Expected behavior

Code gets surrounded with brackets and not removed.

## Context

- Operating System

[2021-08-15 15:29] krassowski commented on #10835
Hi @RafalSkolasinski, this is related to the highly requested disabling auto-closing bracket by default, see #5741 (the default changed in JupyterLab 3.1). However, it is easy to re-enable this behaviour as shown in https://github.com/jupyterlab/jupyterlab/issues/5741#issuecomment-896768246. Would that work for you, or would you expect the surrounding with brackets to work even if auto-closing bra

[2021-08-15 15:38] RafalSkolasinski commented on #10835
Hi @krassowski, when now googling for the issue I hit few times the "auto-closing" of brackets - first I didn't even think these are related.

I can confirm that in 3.1.6 if I set `Settings -> Auto Close Brackets` then indeed it starts to work as expected (does not remove the selected code - so it kind of solves the issue for me.

However, I somehow have the feeling that with closing-brackets opti

[2021-08-15 15:53] krassowski commented on #10835
I agree. I think this should be implemented together with analogue behaviour for `"`, `'` and ` as suggested in #9897 and have a separate setting.

[2021-08-15 16:24] relaxxpls commented on #2951
[code]

[2021-08-15 16:30] krassowski opened #10837 "Links in dialogs are not visually distinct"
Looking into #10836 remained me that the links in popup dialogs are not visually distinct:

![Screenshot from 2021-08-15 17-13-28](https://user-images.githubusercontent.com/5832902/129485059-a49fc82c-888e-42cf-8919-5ac9245673d1.png)

"the the Jupyter security documentation" is a link.

Should we change the colours of links and maybe add some other visual indicators?

Here is another example of how

[2021-08-15 17:52] #10831 closed

[2021-08-15 23:19] meeseeksmachine commented on #10791
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/how-to-limit-undo-only-to-code-edits-in-active-cell/10374/2

[2021-08-16 03:42] sachinkaushik opened #10839 "How to open direct jupyter terminal instead of home/launcher page in jupyterlab"
Hi Team,

I need your help. This is not bug.

We have an requirement where we want to launch/home Jupyter Terminal directly instead of Home/Launcher page, when User get access to jupyter lab(localhost:8888/lab). Instead of clicking on Terminal at home page, we want to open/launch Terminal directly.

Can you please help me here?

What else config required. I'm using a container file and installing

[2021-08-16 07:52] fcollonval commented on #10834
Thanks for starting this. I'll have a look at the doc.

[2021-08-16 07:56] mariajmolina opened #10840 "Cells not rendering or loading and code seems lost in jupyterlab notebook"
Hello! I frequently use JupyterLab and notebooks within the platform.

Certain cells that contain code can stop loading at times, and I am unable to click on them or view the code contained in the cells (see screenshot).

Has anyone else encountered this? Is this related to internet connection or something else? It took about 10 minutes for the cells to show up despite reloading the notebook, stop

[2021-08-16 08:08] SarunasAzna opened #10841 "Custom Lab name is overridden by updateTabTitle function"
After building JupyterLab with a custom name: `jupyter lab build --name='Different Name'` you should be seeing that name on the browser tab. However,  newly created function [updateTabTitle](https://github.com/jupyterlab/jupyterlab/blob/26c35fef04a6b34564662965741f561701becf05/packages/apputils-extension/src/index.ts#L335) overrides that name to JupyterLab.

![jlab name](https://user-images.github

[2021-08-16 08:15] krassowski commented on #10840
Thanks for opening this issue. It sounds like it could be related to a new performance optimization in JupyterLab 3.1 not working as intended. Could you please confirm which exact version of JupyterLab you are using (you can get it from the top menu bar "Help" → "About JupyterLab")?

[2021-08-16 13:57] benbini opened #10848 "Import Existing Python Scripts Into Jupyter Notebook"
### Feature Request

It would enhance Jupyter Lab usability to be able to easily convert, via web UI, existing Python scripts/logic into ipynb format (and render automatically in the Jupyter UI, perhaps after user confirm).

### Proposed Solution

The  backend logic for doing this is apparently [currently possible](https://stackoverflow.com/questions/62510114/converting-from-py-to-ipynb) using a p

[2021-08-16 14:00] krassowski commented on #10848
Thanks for opening the issue. It sounds like on of the functions of [jupytext](https://github.com/mwouts/jupytext) - have you tried it already?

[2021-08-16 14:04] benbini commented on #10848
Thanks for the reply and pointing me in that direction, could you please provide example of how jupytext provides python script *to* notebook conversion (lazy read of the MD seems to indicate jupytext works in the other, already-somewhat supported direction)?  If so, I still feel like this should be directly baked into the UI, particularly given the existence already of an "Export" option under Fi

[2021-08-16 14:27] krassowski commented on #10848
jupytext "just works" if you use context menu "open with" → "notebook" (and if you want to get an ipynb out of this you can pair the script with notebook which will create the .ipynb file on dist); you can try it on binder from [my gist](https://gist.github.com/krassowski/c8921d090fec969b00bd9b1e6f01d5bf):

![jupytext-pairing](https://user-images.githubusercontent.com/5832902/129579490-1426f1c0-10

[2021-08-16 14:30] benbini commented on #10848
Ah excellent,  that would be another already-available logic to integrate
directly (and transparently) into the standard UI, then.  Thanks for the
illustration

On Mon, Aug 16, 2021 at 10:28 AM Michał Krassowski ***@***.***>
wrote:

[2021-08-16 15:46] NeilGirdhar opened #10851 "Please consider using appdirs"
[appdirs](https://pypi.org/project/appdirs/) takes care of OS dependent directories.  Using it would be a small change to [this file](https://github.com/jupyterlab/jupyterlab/blob/e9a3c6e93d7fa598a78e7379124a98cf90d3b4f8/jupyterlab/commands.py#L135).

[2021-08-16 15:49] dclong opened #10852 "Real-time collaborative editing is broken"
## Description

I  visited the same JupyterLab server (with RTC enabled) from 2 computers. RTC keeps adding copies of existing cells into the notebook. And the worst thing was that the latest change from a computer was lost.

## Reproduce

I do not know how to reproduce this issue exactly but I can describe my situation here.
Hopefully, someone can confirm the same observation later.

1. Started a

[2021-08-16 16:44] mariajmolina commented on #10840
Thanks so much, @krassowska ! The version of JupyterLab I am using is 3.1.6. Please let me know if you need any additional information.

[2021-08-16 16:51] krassowski commented on #10840
Thank you. A few more questions:

1. When this happens, is there any error message in the [browser developer console](https://webmasters.stackexchange.com/a/77337)? That would be very helpful to determine.
2. How many cells is there in your notebook? Is there a notebook in which it happened repeatedly? If so, would you possibly be able to share such a notebook?
3. What browser do you use? What is

[2021-08-16 17:47] willemavjc commented on #10785
@agoose77 Oh, I took the time to try out your tip! How could I make it work for every cell? (including markdown etc.)

[2021-08-16 17:55] danieltomasz opened #10853 "Jupyteran 3.1.7 Table of content of notebook seems to be broken"
After updating to Jupyterl 3.1.7 table of content with markdown headers doesn't seems to work anymore.

I check this installing jupyterlab in clean test environment.

- Operating System and version:
- Browser and version:  latest Firefox,Chrome
- JupyterLab version:  3.1.7

[2021-08-16 17:57] krassowski commented on #10816
This is actually even worse as it is limited to paste event (which is how I initially observed it). It happens on any change following moving the cells:

![undo-stack-wrong-after-moving-cells](https://user-images.githubusercontent.com/5832902/129608325-cb97ece3-2cb4-494f-96ec-af55eb4b3bff.gif)

[2021-08-16 18:05] krassowski commented on #10853
Hi @danieltomasz what do you mean by "doesn't seems to work anymore"?  Could you please provide reproducible steps showing what is not working? I just verified that Table of Contents works fine, but maybe you are thinking about some specific feature that I did not check - please see the GIF below:

![toc-works](https://user-images.githubusercontent.com/5832902/129609091-1aef3a22-df80-4386-92d6-c28

[2021-08-16 18:34] mariajmolina commented on #10840
Some answers:

1. Yes! There are quite a few error messages, I am not sure if all are related to this. Screenshots below. Screenshots were taken before the notebook was reloaded and issue (at least temporarily) resolved.

2. There are 87 cells. This issue has happened a few times, but I would not say it is consistent. I raised this github issue because I was scared that I lost my code in the respe

[2021-08-16 20:16] danieltomasz commented on #10853
It work for newly created ones
Then it doens switch to new notebooks.

![image](https://user-images.githubusercontent.com/7980381/129623580-186621e5-979d-4b4f-9e04-7738f04ab2fc.png)

![image](https://user-images.githubusercontent.com/7980381/129624289-cfe2b758-76d5-4044-884a-d7e6ed4db8ba.png)

![image](https://user-images.githubusercontent.com/7980381/129624229-2b52b474-85b3-4e5c-a4b1-b33514684793

[2021-08-16 20:30] krassowski commented on #10840
Thank you very much! The notebook might help if you can provide it (after removing any content you would prefer not to share - I think that we would be just interested in the layout of cells i.e. how many consecutive code/markdown cells there are and which cells were affected). CC @echarles who may have more ideas.

[2021-08-16 20:44] krassowski commented on #10853
Thank you. I tried to reproduce it but failed to do so, just yet (it might be specific to certain edge cases) so it would be a great help if you could answer three more questions:

1. When the Table of Contents does not render:
   - a) are there any error messages in the [browser developer console](https://webmasters.stackexchange.com/a/77337)?
   - b) if you open the search bar in notebook (<kbd>

[2021-08-16 21:15] jasongrout commented on #10851
That file uses `jupyter_config_path`, from the [jupyter_core](https://github.com/jupyter/jupyter_core/blob/2dc34f70806b6668f965bfaa39623143cb2cda59/jupyter_core/paths.py#L56) package, to be consistent with other Jupyter programs. If we were to switch to using appdirs, `jupyter_core` would likely be the right place to make the change.

[2021-08-16 21:39] danieltomasz commented on #10853
Output from console on notebebook that doesnt load toc
[code]
I was  earlier on 3.1.6, know even on a clean install on empty  virtualenv with  jupyterlab 3.1.6 the toc doesn't work on this specific notebook
so it may be as well issue with some dependency or the notebook itself

There is ~100 cells, with ~400 being the highest number by cell. I created this notebook before update, I had open it who

[2021-08-16 21:40] danieltomasz commented on #10853
Yes I got this error when ctr +F
`This document is still loading. Only loaded content will appear in search results until the entire document loads.`

[2021-08-16 22:16] krassowski commented on #10853
Thank you, this is a great help - indeed this fit together with an earlier report from today with the same error message (`Cannot read property 'widgets' of undefined`) in #10840. I think we have two problems:
1. the missing check prior to one of the three `.widgets` accessors (not sure which one yet) in [`generators/notbook/index.tsx`](https://github.com/jupyterlab/jupyterlab/blob/16ad59be7abca32

[2021-08-16 22:20] krassowski commented on #10840
I further narrowed it down in https://github.com/jupyterlab/jupyterlab/issues/10853#issuecomment-899853917 and I _think_ it is related to naive casting of cell to code cell (but we might be getting a placeholder instead). I can imagine that adding a cell type check could alleviate the issue for now, but I am not sure if that would be a good general solution, or if there is anything else we need to

[2021-08-16 22:22] #10597 closed

[2021-08-17 00:25] #10851 closed

[2021-08-17 00:25] NeilGirdhar commented on #10851
Thanks, I submitted it there.

[2021-08-17 04:57] echarles commented on #10840
Hi, I have never seen the error printed in the console. Looks like it is related to SVG rendering. A Cell type check would avoid the stacktrace, but I don't think it will help to get the cell rendered.

As @krassowski mentioned, a reproducer will help to understand the issue. @mariajmolina Looking forward your notebook so we can work on it. Thx a lot.

[2021-08-17 05:22] echarles commented on #10853
Are you referring to the message `This document is still loading. Only loaded content will appear in search results until the entire document loads.` or another feature that we should cover in the virtual loading? Any reproducer for this? Thx.

[2021-08-17 08:35] krassowski commented on #10853
No, I was referring to `Cannot read property 'widgets' of undefined` as it _seems_ that it interrupts notebook loading.

[2021-08-17 09:00] echarles commented on #10853
I guess any encountered exception in the notebook cell rendering will the notebook display. Wouldn't the fix you mentioned `the missing check prior to one of the three .widgets accessors ...` be enough. we can think more how to make the virtual rendering more "robust", but any prior exception stoping the rendering would anyway break the process imho.

[2021-08-17 09:21] krassowski commented on #10853
I think so too, but I do believe  should not

Yes making it more robust is my point: the notebook is the crucial component and a failure in ToC subroutine should not cause all subsequent cells to stay unrendered and search function not working. If we get a try-except on a cell rendering level we could display all but faulty cells which would make debugging easier in future (allowing to narrow down

[2021-08-17 10:31] NanisTe commented on #4778
Please fix. German Keyboard on mac.

[2021-08-17 13:29] Mithil467 commented on #9623
I tested a few things and I think this issue can be further generalized to User preferences for the Text Editor section not being considered. I would like to try and fix this issue.

[2021-08-17 13:49] djangoliv opened #10856 "Real-time collaborative edition rename file if the widget title is changed"
## Description

I have an extension that renames the title of the notebooks tab. In this case, opening the file with collaborative editing will rename the file according to the tab title.

## Reproduce

Create en extension with this few lines:
[code]
In this case, the file "notebook_name.ipynb" will be renamed to "custom-title".

## Expected behavior

There is 2 solutions:
- prevent developer from

[2021-08-17 15:01] mohmad-null opened #10857 "Dark theme dropdown unreadable"
Version 3.1.7 - first time using it; completely new install; firefox
I changed the theme to JupyterLab Dark. Then I try and create a new notebook and the dropdown looks like:

![image](https://user-images.githubusercontent.com/22342282/129750512-e3b3884f-389b-452c-9015-628216eaff40.png)

[2021-08-17 15:07] mohmad-null opened #10858 "Inconsistent "New" menu's"
Brand new to Jupyter, I was trying to create a new notebook and right clicked in the file explorer expecting to create a new jupyter file. I figured it was "New File", but actually that should be "New Textfile".
Turns out, this right-click menu doesn't have New Notebook creating abilities at all, which was super weird. Need to go to the file -> New -> New Notebook for that.

This seems counter int

[2021-08-17 15:27] krassowski commented on #10858
Not anymore :tada: #10666  merged just 4 days ago added "New Notebook" to the context menu (this will be a part of 4.0 release).

I agree - having a "New" sub-menu in context menu of file browser could be a good idea.

Maybe we could use "New Text File". An alternative solution would be to add a dialog allowing to easily change file extension, though it is already relatively easy to change it when

[2021-08-17 15:40] krassowski commented on #10857
This does not look good indeed. I wanted to fix it so first I tried to reproduce it but I could not reproduce it with information that you provided alone. Using Firefox 91 on Ubuntu 21.04 I opened JupyterLab 3.1.7 with Dark Theme:

![firefox](https://user-images.githubusercontent.com/5832902/129756829-8a7d73c2-d418-493c-acb9-c8b6f65d9f9a.gif)

It wold greatly help if you could provide more informa

[2021-08-17 15:43] MPKenning opened #10859 "Creating a script called metrics.py in a top-level folder called metrics means it can't be opened."
## Description

Jupyter will throw an error when a Python script named 'metrics.py' is opened in a top-level folder called 'metrics'. It's very straightforward.

## Reproduce

1. Open Jupyter Lab in a new folder.
2. Create a new folder and call it 'metrics'.
3. Open the folder.
4. Create a Python script called 'metrics.py'.
5. Try to open it.
6. Witness the error!

The error has been reproduced on

[2021-08-17 15:47] echarles commented on #10726
We will need also https://github.com/jupyterlab/jupyterlab/issues/10714 in 3.2

[2021-08-17 16:18] choies1 commented on #10457
Thank you for your response.

The function of "Begin numbering at" is essential for me. If it is not enhanced in a short time, please let me know how I can change starting number.

[2021-08-17 16:55] krassowski commented on #10726
Did your #10793 fix that? If yes, I would say we should backport to 3.1.

[2021-08-17 16:58] mohmad-null commented on #10857
Firefox 60.6.1esr on win 7
No firefox themes that I'm aware of. Nor any extensions that touch theming either I don't think.

[2021-08-17 17:00] echarles commented on #10726
Yes, https://github.com/jupyterlab/jupyterlab/issues/10793  is a fix for https://github.com/jupyterlab/jupyterlab/issues/10714 in master and also ported and merged in 3.1.x with https://github.com/jupyterlab/jupyterlab/pull/10797

[2021-08-17 17:05] krassowski commented on #10857
That is an old version of Firefox it seems. I just looked it up and the currently supported versions of Firefox (by Mozilla) are:
- Firefox 91.0
- Firefox 91.0 ESR
- Firefox 78.13 ESR

I don't know how much other maintainers are willing to support old releases of browsers, but I personally cannot install software which is not currently supported (like Firefox 60) due to potential security issues.

[2021-08-17 17:10] krassowski commented on #10714
Closing as fixed by #10793 which was backported in #10797 and released with JupyterLab 3.1.6.

[2021-08-17 17:10] #10714 closed

[2021-08-17 17:12] krassowski commented on #10726
Thanks! I closed that issue for now to make it clear. I think that 3.2 will just branch off 3.1 so we should not worry about picking up individual PRs that were already backported, but a confirmation from @goanpeca would help here.

[2021-08-17 17:29] krassowski commented on #10859
Thank you. I can reproduce it after adding an extra step to add an empty `__init__.py` in the folder `metrics`. The error dialog is:

![Screenshot from 2021-08-17 18-27-09](https://user-images.githubusercontent.com/5832902/129772836-ba557095-d20b-4670-800e-da57413b5269.png)

Which says: `File Load Error for metrics.py` `Failed to fetch`. The error is on the server side:

![Screenshot from 2021-08-

[2021-08-17 18:22] #10826 closed

[2021-08-17 18:33] rohittrimalle commented on #10305
Can I solve this issue?

[2021-08-17 18:33] NoobMaster1999 commented on #8867
I want to solve this issue. Can anyone please assign me the issue..???

[2021-08-17 18:37] NoobMaster1999 commented on #10369
I want to solve the issue.. is this still open??

[2021-08-17 18:40] blink1073 commented on #8867
@fish-dango, were you currently working on this?  If not, we can assign it to @NoobMaster1999.

[2021-08-17 18:40] blink1073 commented on #10305
Assigned!

[2021-08-17 18:41] NoobMaster1999 commented on #8867
No I am not working on this. I want to start

[2021-08-17 18:49] arpit-sat commented on #10305
Can I solve this issue? It will be my first Open Source Contribution.

[2021-08-17 20:01] blink1073 commented on #10305
Hi @arpit-sat, this issue is already being worked on by @rohittrimalle.

[2021-08-17 21:43] TomAugspurger commented on #10840
I believe that https://github.com/microsoft/PlanetaryComputerExamples/blob/main/tutorials/landcover.ipynb reproduces the issue (apologies, it's a bit large and requires a GPU to execute... If I spot another example I'll add it).

The issues start showing up around "Predicting land cover for each pixel"

![image](https://user-images.githubusercontent.com/1312546/129804466-4f3ba29c-8722-4af7-8ce8-b1

[2021-08-17 22:57] zaneselvans commented on #10840
I think I might be having the same issue. When I do "run all cells" in notebooks that have previously been fine, there are now a bunch of cells that get skipped and don't run. If I step through one cell at a time, the cells will run, but then the cell focus becomes ambiguous and if I hit shift-enter again, the previous output is lost. Sometimes whole cells vanish.

Currently:
* I'm running Jupyter

[2021-08-18 03:24] konstell opened #10861 "Interpreting content between two `$`s when it shouldn't"
This was originally raised as a [JupyterLite bug](https://github.com/jupyterlite/jupyterlite/issues/305), but now we believe it's from JupyterLab.

## Description

Inside code fences in a Markdown cell, JupyterLite is interpreting things between two dollar signs as MathJax. This is presumably unintended.

## Reproduce

In a Markdown cell, put in
[code]
The text rendered is
[code]
The content betwe

[2021-08-18 04:22] rohittrimalle commented on #10305
can anyone help me solving this issue

[2021-08-18 05:12] HarshShroff commented on #8710
Open your notebook (.ipynb file) in VS Code with Jupyter extension installed and click F11 (If you're using Windows) to make it full screen.

[2021-08-18 05:32] echarles commented on #10840
@mariajmolina @TomAugspurger  @zaneselvans  Thx a lot for reporting. Can you confirm if you face the issue on the initial page load, or when you invoke "Run All Cells".

I have tried to linked notebook, but the need dependencies that don't install on my env. I the simple reproducer is not possible, the error shown in the browser console will help.

[2021-08-18 05:43] abdelq commented on #10816
Looks like #10812 fixes it.

[2021-08-18 05:51] echarles commented on #10840
Regarding my previous comment, I just wanted to make sure the issue was arising on the initial notebook load (it should be, I have been confused reading comment).

This is interesting. @mariajmolina @TomAugspurger @zaneselvans could I ask you to downgrade step by step from 3.1.7 to 3.1.0 and report when the issue does not arise anymore. Also the full stacktrace in the browser console will help.

[2021-08-18 06:37] echarles commented on #10840
I have downloaded the following notebooks and opened them in Chrome, Firefox and Safari (on MacOS). They render correctly, without cells remaining unrendered. I can not run them as I am missing python dependencies on my environment, but the virtual notebook rendering is only used on the page load, not on cell run.

- https://github.com/catalyst-cooperative/pudl-examples/blob/main/notebooks/03-pudl

[2021-08-18 06:48] abdelq commented on #10816
Introduced in 16cba948f03a07578cb249c368ead7589b9cae6f with the addition of RTC

[2021-08-18 06:54] fcollonval commented on #9623
Hey @Mithil467 as you mentioned on Gitter, I confirm that the text editor settings are not taking into account :confused:

To give you some pointers:
- The settings are defined and handle in the `fileeditor-extension`
  - They are set to a global variable with `Commands.updateSettings` at https://github.com/jupyterlab/jupyterlab/blob/bac24a158a6ba887996edac12796da9c2009c0f9/packages/fileeditor-ext

[2021-08-18 06:58] mariajmolina commented on #10840
Hi @echarles -- Apologies for the delay in getting back to you -- I have not been able to reproduce this issue in any of my JupyterLab notebooks today. The issue went away after my Chrome (on MacOS) updated (my updates are scheduled via a work scheduler) and I know that I was overdue for the update when this JupyterLab issue was occurring. Currently, I am using Chrome Version 92.0.4515.131 (Offici

[2021-08-18 07:01] mariajmolina commented on #10840
I should also add that I am using JupyterLab Version 3.0.16.

[2021-08-18 08:20] krassowski commented on #10840
Hi @mariajmolina just to confirm, are you running with the settings I suggested in point four of https://github.com/jupyterlab/jupyterlab/issues/10840#issuecomment-899661421 enabled? If yes, then you will not be able to reproduce the issue anymore (unless having a really huge notebook) as effectively turn off the mechanism which is contributing to the problem. If you want to test a redacted versio

[2021-08-18 08:32] krassowski commented on #10861
Hi @konstell thanks for opening the issue. It looks like a duplicate of #6774 - could you have a look and confirm, please?

[2021-08-18 10:52] mohmad-null commented on #10857
That particular install of FF can only access localhost so I don't bother keeping it updated.
I can confirm that accessing it on a FF91 it looks as expected, same if I use a chromium browser.

I'm happy if you flag this as "won't fix". Thanks!

[2021-08-18 11:04] krassowski commented on #10857
Thanks!

[2021-08-18 13:19] krassowski commented on #10861
No, I'm sorry - this is a different bug indeed.

[2021-08-18 13:45] krassowski commented on #6774
I looked into this one. The clean solution would be to re-write the `CodeMirror.multiplexingMode` to use the context of the outer mode (`gfmMode`) when deciding whether to proceed with switching to the inner mode, but this is a difficult thing as we would need to manage concurrent parsers (modes) consuming the same stream (as does the `overlayMode`) which might end up very error-prone (and might n

[2021-08-18 14:05] TomAugspurger commented on #10840
I might have messed something up, but I was only able to reproduce the cell rendering bug when jupyterlab via a (remote) JupyterHub session.

[code]

That's the image running on my Hub's singleuser, so I expected that opening the `tutorials/landcover.ipynb` notebook would reproduce the error locally (in that docker container), but it didn't.

Like I said though, I could have easily messed somethin

[2021-08-18 15:39] zaneselvans commented on #10840
@echarles I was only seeing the weird rendering behavior when I attempted to run the cells. Opening the notebook up it always looked fine, until getting to one of the problematic cells and trying to run it, at which point the input/output number gets blanked out, and that weird horizontal line appears between cells. It would also not move the focus to the next cell -- no cell would be focused.

St

[2021-08-18 16:44] vidartf opened #10869 "Large file check vs notebook < 5.1"
## Description

In https://github.com/jupyterlab/jupyterlab/pull/9628 we tried to revert the large file check logic so that we would support notebook < 5.1, which does not support uploading files larger than 15 MB. However, we are currently only checking the `jupyter_server` version, and not the notebook server version, irrespective of which server we actually use. See:

https://github.com/jupyter

[2021-08-18 18:07] vidartf commented on #4705
How about for 4.0? https://yarnpkg.com/getting-started/migration

[2021-08-18 18:28] akitxu opened #10871 "With With Firefox + Jupyter Lab the computer crashes"
Dear All
My operating system is LinuxMint20.2 and I have installed all the Firefox updates proposed by the application manager. I also have Jupyter Lab 3.0.16 installed.
Normally, when I turn on the computer, I enter a virtual environment and load Jupyter Lab; I open three or four notebooks of sizes: 14.5MB, 9.1MB, 5.1MB and 19MB. and at the same time one or two web pages.
For a few months I have

[2021-08-18 18:50] krassowski commented on #10871
Could you please fill in all the details requested in the [bug report template](https://github.com/jupyterlab/jupyterlab/issues/new?assignees=&labels=bug&template=bug_report.md) to help us help you to determine what might be causing this issue? This includes: running `jupyter troubleshoot`, logs from `jupyter lab --debug`, any relevant console errors and details on browser version.

[2021-08-18 19:32] krassowski opened #10872 "Toolbar error when opening the file editor on 4.0.0a4"
## Description

There are issues on master relating to toolbar, which might be the root cause of the https://github.com/jupyterlab/jupyterlab/pull/10868#issuecomment-901369268

## Reproduce

1. Open a new empty file editor
2. Open console
3. See error in the console:

[code]

![Screenshot from 2021-08-18 20-27-42](https://user-images.githubusercontent.com/5832902/129960372-043cd270-846c-4ced-bf9a-

[2021-08-18 20:00] WardBrian commented on #5504
This issue seemed to die out without a finished solution - is there a clear path forward for a language like Stan in JupyterLab? I'd love to highlight both `.stan` files and try to rig something up to highlight `%%stan` magics in python files

[2021-08-18 20:09] SylvainCorlay commented on #10701
Note that this should be fixed as a byproduct of https://github.com/jupyterlab/jupyterlab/pull/10730.

[2021-08-18 20:51] akitxu commented on #10871
I have checked the consumption of RAM memory with three open noteboosks, first only open, then, executing their scripts and the result has been the following
`enri@enri-260-p100ns:~$ conda activate python37
(python37) enri@enri-260-p100ns:~$ free -h
              total       usado       libre  compartido búfer/caché  disponible
Memoria:       3,7Gi       1,6Gi       383Mi       392Mi       1,8Gi

[2021-08-18 21:13] akitxu opened #10873 "importing variables from another notebook into Jupyter Lab"
I want to close and delete this query. I have found answers to it on StacjOverflow, so it cannot be considered as an Issue. excuse me

[2021-08-18 23:30] mmarich1 commented on #2951
Just got these errors

vendors~main.d6ae31c7fff1f92f0bb6.js:2 Please paste the following to https://github.com/jupyterlab/jupyterlab/issues/2951
_checkSync @ vendors~main.d6ae31c7fff1f92f0bb6.js:2
vendors~main.d6ae31c7fff1f92f0bb6.js:2 {"model":"## New compact query adjusted with dynanic date range\r\n\r\nsql_query = \"\"\"\r\nSELECT \r\nproduct_id\r\nFROM shopify.pro\t\t\t\t \r\nORDER by 1\r\n;\"

[2021-08-19 01:22] thehappycheese commented on #5660
I only want the old behaviour so that I can programmatically restart the kernel in a cell without generating a popup.
All solutions in python itself seem to cause labs to generate a popup.

[2021-08-19 07:39] imcovangent commented on #10374
@vyason @krassowski Having the same issue. Just two tips for workarounds that I found:

1. When you slightly change the width of one of the sidebars the PDFs appear again!
2. Instead of using the standard browser PDF viewer I switched to the PDF viewer that comes with the latex extension (PDFJS). That one does not have this issue. I changed the default PDF viewer in the overrides.json and everythi

[2021-08-19 08:15] gioarma opened #10874 "Auto-close brackets does not work in console"
## Description

After turning on `Auto Close Brackets`, the feature works in the notebook, but not in the console.

## Reproduce

1. Open a new notebook
2. Click on `Settings -> Auto Close Brackets` to turn on the feature
3. Type `(` in the notebook and `()` automatically appears
4. Open a new console for the notebook and repeat 3.  `()` does not appear

## Expected behavior

Auto Close Brackets w

[2021-08-19 08:25] imcovangent opened #10875 "Changing default viewer for PDF in User Preferences does not work"
## Description

I want to change the default PDF viewer from the standard PDF viewer to PDFJS. The options in the Settings tab clearly indicates that this is possible:

![image](https://user-images.githubusercontent.com/15325525/130033651-b770f417-2cc2-4991-8feb-790eed7f1cdb.png)

However, when I apply this setting. My PDFs still open in the standard PDF viewer and not in PDFJS.

## Reproduce

Ins

[2021-08-19 08:32] nibheis opened #10876 "workspace is restored instead of loading requested document via `/tree/notebook.ipynb`"
## Description

Using `/user-redirect/...` does not get the user to the destination **if** the workspace is not **empty** (i.e. a notebook was already opened previously). Instead of opening the requested URL, the user is sent to his restored workspace.

If the workspace has been cleaned (closing all tabs and terminals, leaving only the launcher) before using the `/user-redirect/...` URL, then the

[2021-08-19 09:34] krassowski commented on #10871
Yes, it is likely a memory issue, and yes 4GB may be too little depending on what data you are processing. I asked for the details to check if there is a candidate to blame for a memory leak in one of the extensions, but I cannot do that without seeing the requested outputs.

[2021-08-19 09:36] krassowski commented on #10872
CC @fcollonval

[2021-08-19 10:18] set92 commented on #5897
@isabela-pf Is there any news on this? Maybe as a quick fix for 4.0 there could be an option in settings to enable by default "Enable scrolling for outputs" instead of needing to use the right-click menu to enable it per output cell?

[2021-08-19 10:22] krassowski commented on #10873
No worries, we can close this :)

However, it would probably help if you could link to the StackOverflow post that you found helpful as other users will likely find this issue via their search engine and may benefit from a suggestion ;)

A few useful links from me:
- https://stackoverflow.com/questions/31621414/share-data-between-ipython-notebooks/60863662
- https://stackoverflow.com/questions/195

[2021-08-19 10:22] #10873 closed

[2021-08-19 11:53] akitxu commented on #10871
enri@enri-260-p100ns:~$ conda activate python37
(python37) enri@enri-260-p100ns:~$ jupyter troubleshoot
$PATH:
	/home/enri/anaconda3/envs/python37/bin
	/home/enri/.nvm/versions/node/v14.16.1/bin
	/home/enri/anaconda3/condabin
	/usr/local/sbin
	/usr/local/bin
	/usr/sbin
	/usr/bin
	/sbin
	/bin
	/usr/games
	/usr/local/games
	/snap/bin
	/opt/wine-stable/bin

sys.path:
	/home/enri/anaconda3/envs/python

[2021-08-19 11:59] krassowski commented on #5504
Looking at https://discourse.mc-stan.org/t/jupyter-notebook-codemirror-support/1701/3 there seems to be a mode for stan available in https://github.com/Arvinds-ds/Stan-Code/blob/master/codemirror/mode/stan/stan.js. If someone is willing to make it into a jupyterlab extension I can help with making it work for `%%stan` magic using https://github.com/krassowski/jupyterlab-lsp.

[2021-08-19 12:22] WardBrian commented on #5504
That code mirror mode seems to be old enough that I can no longer make it work, unfortunately. It’s also for a version of the language which is out of date, so I’ve been starting a simple CodeMirror.simpleMode grammar. It would be great if we could use the existing Atom or VSCode spec though

I have also been working on https://github.com/WardBrian/CmdStanJupyter which implements said magic. If yo

[2021-08-19 17:25] Mithil467 commented on #10816
To add up to the issue, it seems like any changes made in moved cell are not undoable, and when tried to undo, these changes are skipped.
![Change](https://user-images.githubusercontent.com/41439841/130114684-7ba3a680-5b90-4040-b39b-0a05a5e17f55.gif)

When undoing reaches a stage that the freshly moved cell is returned to its previous position, at this point, redoing does restore the contents of t

[2021-08-20 01:02] anselmobattisti commented on #6682
I'm facing the same issue here.

Every time i open my csv i need to go and click in ';' option

Would be great if we could configure it

[2021-08-20 06:09] alikaanguven commented on #2833
If you want to monitor output in realtime, you can write these two lines first:

`import sys`
`sys.stdout = open('my_log.log', 'w')`

And after your code, add this one to close:

`sys.stdout.close()`

Then you can simply monitor it from bash. You don't need to wait for the cell to be finished.

[2021-08-20 06:28] eemilhaa commented on #10874
Was able to reproduce this with:
- Operating system: Linux, Pop_os 21.04
- Browser and version: Firefox 91.0 (64-bit)
- JupyterLab versions 3.1.4 and 3.1.7

Also noticed that disabling/enabling the setting once the console window has been opened seems to work

[2021-08-20 07:27] NoobMaster1999 commented on #8867
@blink1073 is there any update??

[2021-08-20 09:26] pborer commented on #9582
I am also experiencing this and find that it severely degrades the debugger usability.

[2021-08-20 09:41] blink1073 commented on #8867
I've assigned you @NoobMaster1999

[2021-08-20 12:15] fcollonval commented on #10834
Here are my suggestions

I think it will be nice to add the JupyterLab logo as there is one; this will fit the pattern used by jupyter-server (but not by jupyterlab-server)

I agree with that. This means:
- Getting Started
- User Guide
- Extension Developer Guide
- JupyterLab Developer Guide

External links:

- It will be nice to link to `jupyter-server` and `jupyterlab-server` documentation. Alth

[2021-08-20 12:38] mokkabonna commented on #10275
Your plugin is very useful, and we are depending on it in our project.

I did a test with your library with the only change to get the location.href in the roof of the activate function, instead of after `panel.sessionContext.ready`, then it works fine. However it also reads the `reset` parameter then. MAyeb filter out any buildt in query parameters when updating the `# Parameters:` cell? https://

[2021-08-20 12:41] fcollonval commented on #7881
I can confirm that the fallback is to avoid freezing JupyterLab. If you remove it and use `$` or `^` as regexp, the browser tab freezes.

I try to search for `/^/` and `/$/` in the codemirror [search demo](https://codemirror.net/demo/search.html). It actually does not find anything. So I assume this is a limitation of codemirror and we won't be to do anything about it... But it the same time, I do

[2021-08-20 13:03] Mithil467 opened #10879 "Terminal theme option should not be available if terminal feature is disabled"
## Description

Terminal feature was disabled by default for me. This is the output I get in the console.
![image](https://user-images.githubusercontent.com/41439841/130236456-cb547e61-fd4c-40cc-976a-914c28980efe.png)

But still I can see the `Terminal Theme` option under Settings.
![image](https://user-images.githubusercontent.com/41439841/130236303-06ec1906-7abe-491b-b947-93113bdaa679.png)

Furt

[2021-08-20 14:09] olifly commented on #10275
@mokkabonna - Good catch!  I'm a little worried that reading the href on plugin activation won't work properly if you already have a jupyterlab windows open.  I'll take a look at this on monday and, if the activateExtension is unsuited for that then maybe there is a hook that is called before jupyterlab rewrites the url

[2021-08-20 14:31] DanielBell-Io opened #10881 "JupyterLab | stdin user input via. shell. Entry into output cell field"
`Google Colab` allows you to enter values into an output cell, during runtime.

**Can I enter in user input, when calling a program via. the shell?**

**Can JupyterLab handle stdin from the shell?**

Example:

Cell: `!tensorboard dev upload --logdir tb_logs --name "OntologyTagger" --description "OntologyTagger" --one_shot`

Output: `Continue? (yes/NO)`, I click a text field and enter text.
[![ente

[2021-08-20 16:23] WardBrian commented on #5504
I have a good working simpleMode highlighter [here](https://github.com/WardBrian/jupyterlab-stan-highlight), based on the example discussed way earlier in this thread and a few of the existing stan syntax specs. Works great in `.stan` files, but I'd really love if I could enable it in python notebooks when the `%%stan` magic is used. @krassowski - can you help with this? Happy to discuss details o

[2021-08-20 17:09] GF-Huang opened #10882 "Auto Close Brackets not works in Code Console"
![image](https://user-images.githubusercontent.com/4510984/130269170-a0c51884-cb52-442a-86a3-93adaa464f9c.png)

It does not auto add the `)`, why?

![image](https://user-images.githubusercontent.com/4510984/130269205-bbfb8e3a-11a0-4f8a-b846-b7d627a890ef.png)

![image](https://user-images.githubusercontent.com/4510984/130269246-f37c4b0f-e726-4fad-aa47-0342f519eb5b.png)

![image](https://user-images

[2021-08-20 23:14] jasongrout commented on #10881
Colab does some interesting tricks to enable the input. IIRC, Colab waits a bit (like 500ms) and then assumes the shell is waiting for input and puts in an input. I thought we had an issue open discussing this, but I can't find it now.

CC @blois

[2021-08-20 23:17] ajye92 commented on #10840
I have encountered the same issue for a couple of small ipynb files with Jupyterlab version 3.1.6 and 3.1.7. There was no error messages in the console window. One additional issue I had was that "Run All Cells" may skip a few cells in the middle or at the end of the file. I can confirm that version 3.1.4 has no such issues. I tried Safari, Chrome, and Edge in MacOS Big Sur but with no luck.

[2021-08-20 23:18] jasongrout commented on #10881
Oh yes, here is the issue where we discussed this: https://github.com/jupyterlab/jupyterlab/issues/8522

The conclusion there was that the issue should be brought up in the ipykernel repo. In other words, it's the kernel's responsibility to monitor the shell output, and send a stdin request to the frontend if needed.

[2021-08-20 23:22] jasongrout commented on #10881
More discussion, including how Colab seems to function, is at the ipykernel issue: https://github.com/ipython/ipykernel/issues/513 (it seems like the 500ms idea was from our discussion on that issue, and not necessarily what Colab does).

[2021-08-21 03:54] arsenetar commented on #5781
Since this was linked in recent issues/PRs over at https://github.com/arsenetar/send2trash letting you guys know there is a pre-release package published at https://pypi.org/project/Send2Trash/1.8.1b0/ which should address the issues reported here based on the information I have.  If there are still issues, I will need more information on the environments (mount points and paths involved).

I will

[2021-08-21 07:50] echarles commented on #10840
Thx all for the reports. It sounds like the issue is not there on 3.1.4 but for 3.1.6 and 3.1.7.

@krassowski FWIW 3.1.4 had already the virtual notebook merged in https://github.com/jupyterlab/jupyterlab/blob/v3.1.4/packages/notebook/src/widget.ts#L198-L219

The only change after that for the virtual notebook in 3.1.x branch is https://github.com/jupyterlab/jupyterlab/pull/10797. I am trying to m

[2021-08-21 10:13] fcollonval commented on #10872
The modification in the toolbar generation, creates an asynchronous race that can result it that error.

[2021-08-21 15:06] krassowski commented on #10840
Here is one reproducible issue (I doubt it is a root cause but it looks related to some of the reports in here):

**When notebook is not full rendered then cells do not get rendered to proper state after "Restart and run all cells"**

To reproduce reliably:
1. use the binder image for convenience [![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gist/krassowski/fd91a4124fd20

[2021-08-21 15:19] krassowski commented on #10882
@GF-Huang thanks for reporting it. This looks like a duplicate of #10874, can you please confirm whether this is correct?

[2021-08-21 15:22] GF-Huang commented on #10882
Yes.

[2021-08-21 15:30] krassowski commented on #10840
And there is some traceback in the console:

[code]

and

[code]

[2021-08-21 15:35] krassowski commented on #10840
A very similar effect can be achieved when running all cells by pressing Shift + Enter and keeping it pressed for a dozen of seconds:

[code]

[2021-08-21 15:45] krassowski commented on #10840
Some thoughts:
- should there be a semaphore for `_renderPlaceholderCell`? Looking at the code it seems that if both the intersection observer and idle renderer (`renderPlaceholderCells`) kick in at the same time, this could potentially lead to out-of-order rendering.
- should we increase the default `numberCellsToRenderDirectly` to say 100 (we talked about it on Wednesday as a possible mitigation

[2021-08-21 15:47] krassowski commented on #10882
Thank you. I will close this one to focus the discussion in #10874.

[2021-08-21 15:47] #10882 closed

[2021-08-21 16:03] echarles commented on #10840
Without testing, but just from what I have in mind of the current implementation, the case you describe, "Restart and Run All Cells" when all the cells are not yet fully rendered can certainly cause issues like the one described.

In terms of solution, the semaphore may be a good step, but I am not sure it would be enough to avoid all side effects (need to test). If this is not enough, another sol

[2021-08-21 17:00] michaelkarlcoleman commented on #5781
@arsenetar It might be a bit before I can test this, but eyeballing the commit (https://github.com/arsenetar/send2trash/commit/5e4517aa53fbfc2f93d3c4983bac3a2d4b2c6e89), it appears reasonable.

I'm wondering, though, why not just invoke `shutil.move` in all cases?  It appears that it already uses `os.rename` or not internally, as appropriate.

[2021-08-21 17:20] KVSSKPRADEEP commented on #10305
Sure, your struck at ? Open to help

[2021-08-21 19:57] arsenetar commented on #5781
@michaelkarlcoleman The reason as to why `shutil.move` is not used in all cases is due to it potentially not being appropriate in all cases.  I'll expand on this with the flow of how trashing determines where to trash (in order):

1. User's home trash if the file is on the same device
2. The top directory trash of the device (.Trash) where the file to trash exists if the top directory trash is usa

[2021-08-21 20:26] michaelkarlcoleman commented on #5781
@arsenetar I see.  Thanks for the detailed explanation.

FWIW, our use case is a multi-user Linux system (OOD on HPC).  At least in our shop, the only plausible locations for a `.Trash` directory would be in `$HOME` or `$PWD`.  On a single-user system, other things could work, as you say.

One troublesome case would be if the trashed file is huge, especially if a copy attempt is made (though even

[2021-08-21 20:33] arsenetar commented on #5781
@michaelkarlcoleman I would be okay with adding a flag to the send2trash call for this implementation to only allow trashing to the user's home trash if that would be helpful.

Of course depending on the usage environment this may cause copies to happen more "aggressively" into the user's home trash.  I am also considering a flag to prevent copies (i.e. the current behavior without this fix) as we

[2021-08-21 20:49] murari2401 commented on #9838
I am interested to work on this issue .. Can someone assign me with this

[2021-08-22 12:23] newyorker123 opened #10883 "Can't update my module by import"
## Description

I have a module my_module.py , and define a function my_fun1 in it.
I import my_module in ipynb and can use my_func1 normally.

But if I add a new function my_func2 in the module and save the .py module, and import the module again in ipynb, my_func2 still can not be found. And raise an AttributeError .

Only by restarting the kernal can solve the problem, but all variables will be

[2021-08-22 12:50] krassowski commented on #9976
This was also recently mentioned in https://stackoverflow.com/questions/68869710/preventing-markdown-cells-from-un-rendering-jupyter. CC @krassowska who originally prompted me to start the preceding gitter discussion ([here](https://gitter.im/jupyterlab/jupyterlab?at=60566f5083533831b4f34637) and [here](https://gitter.im/jupyterlab/jupyterlab?at=605675d888edaa1eb8cd6acc)).

I think that we have th

[2021-08-22 12:54] krassowski commented on #9976
Also, any preference towards the single on-click action vs having a context-menu like pop-over with a few actions to choose from? CC @isabela-pf?

[2021-08-22 13:04] krassowski commented on #10883
Hi @newyorker123, thanks for opening this issue. This is not a bug but a behaviour which can be changed in the kernel (as most things related to any specific programming language are related to the kernels, not to JupyterLab itself). I am not sure which kernel you are using because you omitted the troubleshoot output in the bug report template, so I will just assume that it is IPython/ipykernel.

[2021-08-22 13:41] agoose77 commented on #9976
* :+1: on promoting `readonly` to a cell-toolbar widget. In my view, anything *standardised* in the notebook schema should be rendered.
* I think the idea of a lock icon is good, but I would suggest a different use - as a `:focused { visibility: visible; }`  for read-only cells (independent of the `showEditorForReadOnlyMarkdown` proposal). This way, we don't clutter the UI, as (in my opinion) read

[2021-08-22 13:55] krassowski commented on #9976
Folks do care about the overall look and feel of the notebook so I am not a fan of having the icon take up vertical space. Taking up horizontal space would be better, but still awkward because cells would end up having different width. My preference remains to have it on hover. I like the idea of showing a cue on focus. We could manipulate the opacity:
- focus: 25% (text underneath is still visibl

[2021-08-22 14:03] agoose77 commented on #9976
Sure, the mockup is only to emphasise "visible-on-active". I'd probably suggest putting the icon in the top right corner of the cell itself (overlay). I like the idea of a phased visibility. That would work better with the icon overlaid over the cell, rather than requiring special padding.

[2021-08-22 14:48] krassowski commented on #10736
Also, capitalize:

https://github.com/jupyterlab/jupyterlab_server/blob/c8f4d9c4385aba403864db37aa620c40ec0c2150/jupyterlab_server/translation_utils.py#L190

actually makes subsequent letters lower-case, transforming correct "polish (Polska)" into incorrect "Polish (polska)".

[2021-08-22 21:36] #10736 closed

[2021-08-22 21:37] #10760 closed

[2021-08-22 22:24] behrouz-bakhtiari commented on #9976
Hi,
I really like the idea of the lock icon on hover. Just wanted to mention that right now the code cells are still clickable even when "editable": false is added. You realize that it is not editable when you try to erase or add something, not before. So a non-editable markdown cell could also potentially behave the same way, for consistency reasons. But of course adding more visual cues are alwa

[2021-08-22 23:01] krassowski commented on #9976
Thanks @balamuruganvg, you are raising a very good point - we should decide if we want the lock (/pencil) icon to apply to markdown cells only, or to the code cells as well (not necessarily in the first PR which would implement it, but in the future).

For the non-editable code cells, in addition to the lock icon, we could also hide the cursor by applying `CodeMirror-readonly` class and changing t

[2021-08-23 01:31] sanbales commented on #2951
[code]

[2021-08-23 01:34] behrouz-bakhtiari commented on #9976
That's right. In fact, I realized that I could make code cells read only just yesterday and it already felt "more like a hack" rather than a standard procedure, exactly because there are no visual cues indicating a code cell is now read-only. So I am all for keeping the code and markdown cell behaviour consistent for read-only cells.

[2021-08-23 08:09] DanielBell-Io commented on #10881
I've had a read of #8522. Might there be a way to mock stdin via. a code cell, in Python?

[2021-08-23 09:29] baggiponte opened #10890 "Add `list` to `jupyter lab workspace` to see all workspaces"
### Problem

Switching from one workspace to another is not super easy unless you save a `.jupyterlab-workspace` within the project directory. Problem: sometimes said file is exactly in the directory you want to open.

Opening workspaces is straightforward, as outlined in the [docs](https://jupyterlab.readthedocs.io/en/stable/user/urls.html#managing-workspaces-ui). However, sometimes one might not

[2021-08-23 09:40] hbcarlos commented on #10856
Hi @djangoliv, thanks for opening this issue!
After digging a little bit, I find out this is coming from https://github.com/jupyterlab/jupyterlab/pull/10518.
There is a discussion here https://github.com/jupyterlab/jupyterlab/issues/10269.

Pinging @cameron-toy and @jasongrout since they were working on this.

[2021-08-23 09:51] hbcarlos commented on #10852
Hi @dclong, this is an issue we have been trying to reproduce for a while without success.

Maybe this could be related to #10816, which I'm working on right now.

I'll keep updating this thread with new findings.

[2021-08-23 10:08] wanburana opened #10892 "Cannot open the cloned notebook (File Load Error for <filename.ipynb> Unhandled error)"
## Description

When I tried to open the clone notebook, this happened
![image](https://user-images.githubusercontent.com/66191669/130429054-40367e73-0a2d-4120-9f1e-16303ddfff7b.png)

When I looked at my command line, this error show up

[code]
It  worked perfectly when I import it to Colab, so the notebook file is not corrupted.

I still don't understand what is the problem, not having a checkpoi

[2021-08-23 13:01] wanburana commented on #10892
solved, the problem is too long filepath, renaming some folder solve the issue

[2021-08-23 13:01] #10892 closed

[2021-08-23 13:02] blink1073 commented on #9838
Hi @murari2401, @Nazeeh21 has already been assigned the issue and has a work in progress pull request in #10596

[2021-08-23 13:11] agoose77 commented on #10883
To add to @krassowski's point; Jupyter Notebooks are powered by Jupyter Kernels, which run code for different languages (simplified). Most kernels are stateful, which means that the result of running one cell can change the result of running a later cell. For example,

[code]
[code]
[code]

In Python, importing a module modifies the state of the interpreter: it stores the created `ModuleType` obje

[2021-08-23 13:42] fcollonval commented on #3965
@blink1073 @goanpeca Could we close this?

[2021-08-23 13:48] blink1073 commented on #3965
Yep!

[2021-08-23 13:48] #3965 closed

[2021-08-23 13:52] agoose77 commented on #10839
I think you are looking for the ability to set a default workspace. It seems like the workspace API is a little broken at the moment, but in the meantime you can manually patch the default workspace.
[code]

You need to place this file in the Jupyter workspaces directory, which is given by the following bash script:
[code]

If you don't want to change the default URL of JupyterLab, then the worksp

[2021-08-23 13:54] agoose77 opened #10894 "Open terminal in current path (file browser)"
I sometimes miss the ability to open a new terminal from the context menu in the file browser. I would expect this to behave in a similar manner to, say, Windows Explorer which (if memory serves) provides the ability to open a new terminal in the current directory.

Is this something that other users would see benefit in having, or is this too niche a case to be worth adding another context menu o

[2021-08-23 14:18] Doggie52 opened #10895 "3-7 cells in middle of notebook run but display no output (introduced in 3.1.6, not present in 3.1.4)"
## Description

On and after `3.1.6`, some 3-7 cells usually in the middle of the notebook (typically after cell 10) do not show `[*]` when all cells are run and show no output. However, they are run, as one can access the variables created in them later.

## Reproduce

Be on version `3.1.6` or `3.1.7`.

1. Have a notebook ready with at least 20 code cells, and perhaps some markdown cells too (hav

[2021-08-23 14:55] hbcarlos commented on #10816
I'm working on this. I think the error comes from [here]( https://github.com/jupyterlab/jupyterlab/blob/68a6066dc03dc7cc76141ae78e945faf99da5205/packages/shared-models/src/ymodels.ts#L370).
When a cell changes we change the `undoManger` on this cell. Probably we lose part of the history there but I'm not sure, I need to keep looking.

[2021-08-23 15:14] agoose77 commented on #10894
I ended up implementing this as an extension
https://github.com/agoose77/jupyterlab-filebrowser-terminal

[2021-08-23 15:14] #10894 closed

[2021-08-23 15:53] shadow150519 commented on #8423
i encounter the same problem, so how to fix it

[2021-08-23 16:17] akitxu opened #10896 "Hide the code in the exported html"
Dear all, is there any possibility of exporting a notebook to html, hiding its code? Another option would be to be able to hide the code in the exported html, is it possible? Kind regards

[2021-08-23 16:25] goanpeca commented on #10896
Hi @akitxu, thanks for the suggestion, could you provide an example to explain in more detail the feature you are requesting?

Cheers!

[2021-08-23 16:26] goanpeca commented on #10895
@echarles could this be related to the virtual notebook when interacting with the dirty state `[*]` indicator introducedt recently?

[2021-08-23 16:32] goanpeca commented on #6682
Wanna give a shot at working on it @anselmobattisti ?

[2021-08-23 16:32] shadow150519 commented on #8423
i installed jupyterlab by anaconda, i was using notebook before, when i run ` jupyter labextension install @jupterlab/XXX` ,i also encounter the same problem, maybe it's due to `https://registry.npm.taobao.org`?
[code]

[2021-08-23 16:32] krassowski commented on #10895
Thank you @Doggie52. Would you be able to share a shortest possible notebook with which the problem can be reproduced (replacing all code content with placeholders, and all markdown text with placeholder, but preserving the cell structure)? Would you be able to run any of the online CPU benchmarks and provide a result for comparison?

This looks very similar to the issue described in https://githu

[2021-08-23 16:33] goanpeca commented on #8423
@shadow150519 what extension are you trying to install? if it is already available as a pip package then you could use that

[2021-08-23 16:34] krassowski commented on #10895
@goanpeca, the dirty indicator was introduced in 3.1.0, but now multiple users say they saw a deterioration of the rendering issues in releases after 3.1.4 so I would say it is not the best candidate for an explanation. I think that `[*]` refers to the busy state in the report above.

[2021-08-23 16:39] goanpeca commented on #10895
Got it!

[2021-08-23 16:42] shadow150519 commented on #8423
emm..., in fact, i can't install any extension except the debugger extension. even when i run `jupyter lab build`, it also fails. i open the log file and the error is the same as the issue. i change the npm registry to ` https://registry.npmjs.org`, but it sill says `"error An unexpected error occurred: "https://registry.npm.taobao.org/@types/react/-/react-17.0.18.tgz: Request failed \"404 Not Fou

[2021-08-23 16:44] shadow150519 commented on #8423
i'm a newb to jupyterlab, so maybe it has something to do with me,too

[2021-08-23 16:46] shadow150519 commented on #8423
below is the log
[code]

[2021-08-23 16:49] krassowski commented on #10840
@ajye92, @zaneselvans, @Doggie52 and anyone else experiencing this issue, if you would like to help to narrow down this issue you can dissect it by testing the following online instances of JupyterLab (on Binder) which correspond to commits made between 3.1.4 and 3.1.6 from the oldest (closest to 3.1.4) to the newest:

1. ["Markdown url resolver no longer throws for malformed URLs in isLocal check

[2021-08-23 16:52] Doggie52 commented on #10895
[reproduce.ipynb.zip](https://github.com/jupyterlab/jupyterlab/files/7033648/reproduce.ipynb.zip)

Here's as minimal of a working example as I can manage. If you open it in its current state, you can see the 2 cells that are empty.

I'm running a 15" 2019 Macbook with a 6-core Intel Core i7 @ 2.6 GHz.

[2021-08-23 16:57] shadow150519 commented on #8423
when i run `jupyter lab build `,  below is the log
[code]

[2021-08-23 17:06] krassowski commented on #10896
@akitxu could the answers in this link [Hide Code when exporting Jupyter notebook to HTML](https://stackoverflow.com/questions/49907455/hide-code-when-exporting-jupyter-notebook-to-html) be of any use? It does require going to command line and IMO JupyterLab should enable users to customize nbconvert from GUI. This was previously suggested in https://github.com/jupyterlab/jupyterlab/issues/8129#is

[2021-08-23 17:08] krassowski commented on #10896
There seems to be extension for that as suggested in https://github.com/jupyterlab/jupyterlab/issues/8629#issuecomment-651885819: https://github.com/timkpaine/jupyterlab_nbconvert_nocode but I really believe this should be baked in the core and have a dialog or more extensive customization.

[2021-08-23 17:10] echarles commented on #10895
I have applied the following procedure on the given `reproduce.ipynb` and everything is working fine on my "Super Power" laptop (Powerfull MacBookPro bought 8 months ago). All cells are executed and outputs are shown.

[code]

@Doggie52 Would you have time to record in an animated GIF what you do and see and upload it on this issue? This would be super helpful to try to understand.

2 more questio

[2021-08-23 17:11] timkpaine commented on #10896
@krassowski its exposed but only from the CLI, Jlab powers the dialog off the present nbconvert entry points so nbconvert or jupyter would need to put this on disk. Me and @vidartf are the only contributors so we can relicense to bsd and ingest into either project if we want.

[2021-08-23 17:14] krassowski commented on #10895
Thank you! I was able to reproduce the issue using `reproduce.ipynb` on the following binder: 3. ["Support collapsible headers with virtual notebook rendering"](https://mybinder.org/v2/gh/meeseeksmachine/jupyterlab/auto-backport-of-pr-10793-on-3.1.x?urlpath=lab-dev) and not on any earlier, narrowing down the issue to that commit.

[code]

@echarles I was able to reproduce it on my fairly powerful

[2021-08-23 17:15] krassowski commented on #10840
I think this is now narrowed down the the link number 3, please see https://github.com/jupyterlab/jupyterlab/issues/10895#issuecomment-903960185.

[2021-08-23 17:29] krassowski commented on #10896
Well, we can change how JupyterLab learns about nbconvert capabilities to make it more flexible :)

I do not know much about nbconvert (just basics), but I would love to have all [configuration options](https://nbconvert.readthedocs.io/en/latest/config_options.html) customizable from a pop-up (and maybe even include a template editor!), building upon the mock-up from https://github.com/jupyterlab/

[2021-08-23 17:42] krassowski commented on #10895
@echarles could it be that https://github.com/jupyterlab/jupyterlab/pull/10793 leads to non-contiguous blocks of rendered and non-rendered cells, or more precisely the [`this._incrementRenderedCount()`](https://github.com/jupyterlab/jupyterlab/pull/10793/files#diff-5d4be2d463ce0219eead775eeb3bbc80160d57d64673559fc0e928640637ff6aR574) call in the `else` block which is now run for markdown cells tha

[2021-08-23 17:54] krassowski commented on #8423
@shadow150519 I cannot help you with npm registry configuration, but if you use JupyterLab 3.x I can encourage you to abandon `jupyter labextension install` and use `pip install extension-name` or `conda install -c conda-forge extension-name` instead. This will eliminate npm out of equation completely; most major extensions support both ways of installing, but the `pip`/`conda` way is much simpler

[2021-08-23 18:06] shadow150519 commented on #8423
my jupyter lab version is 3.1.7.  i think i can download the extension but i can't successfully run `jupyter lab build`.

![image](https://user-images.githubusercontent.com/55205022/130494937-2ced9fa7-6807-42e0-ba18-c497d9594091.png)

[2021-08-23 18:07] echarles commented on #10895
I can indeed reproduce on binder. I see now an issue with the rendering of markdown cells to take into account the collapsible headers. I will hopefully come wit a PR tomorrow. We have now a reproducer which will help.

[2021-08-23 18:34] krassowski commented on #8423
Once, again please try the `pip` way. To reiterate in simple steps:

1. `jupyter labextension uninstall @jupyterlab/git @jupyterlab/geojson-extension`
2. `pip install jupyterlab-geojson jupyterlab-git` **or** if using conda: `conda install -c conda-forge jupyterlab-geojson jupyterlab-git`

[2021-08-23 21:14] meeseeksmachine commented on #10840
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/crowdsourcing-for-a-blog-cool-binder-features/10462/3

[2021-08-23 21:18] abdelq commented on #10816
@hbcarlos I didn't spend much time on this, but to me the commented lines in https://github.com/jupyterlab/jupyterlab/blob/master/packages/shared-models/src/ymodels.ts#L276 are intriguing.

[2021-08-23 21:31] Doggie52 commented on #10895
Thank you @krassowski, @echarles and @goanpeca for the help, much appreciated. Looking forward to see what comes out of this :)

[2021-08-23 21:44] akitxu commented on #10896
In jupyter notebook, with cells in mode raw, with this code that I found in Intermnet, you export an notebook as html in which ther is a boton to hire the sscript.
Cell 1
 `<script>
  jQuery(document).ready(function($) {

  $(window).on('load', function(){
    $('#preloader').fadeOut('slow',function(){$(this).remove();});
  });

  });
</script>

<style type="text/css">
  div#preloader { position:

[2021-08-23 21:52] akitxu commented on #10896
krassowski .
In my opinion, the usefulness is that if we make a script whose result interests a group of people who do not know programming, they can get it as clean as possible.
For example, let's imagine a script with an investment strategy that a potential user can customize with a specific investment / investments, and whose execution reports certain statistical data.
Another possible use woul

[2021-08-24 08:59] hbcarlos commented on #10816
@abdelq I think you are right. The problem is that when inserting new cells (moving/adding cells), those don't have undo manager.

[2021-08-24 09:16] hbcarlos commented on #10791
In my case, I also prefer a cell level undo/redo. It would be great to make it configurable but could be a bit tricky to implement.
I can work on this.

Btw, there is an RTC meeting on Mondays. We could discuss this there.
https://zoom.us/my/jovyan?pwd%3Dc0JZTHlNdS9Sek9vdzR3aTJ4SzFTQT09

[2021-08-24 10:02] RafalSkolasinski commented on #10791
Well, it was working on cell-level before 3.1.x so fact that now it is a global history is just breaking my (and probably many other users) workflow...

[2021-08-24 10:52] Mithil467 commented on #10879
The check for terminal feature being enabled or not is done here -
https://github.com/jupyterlab/jupyterlab/blob/68a6066dc03dc7cc76141ae78e945faf99da5205/packages/terminal-extension/src/index.ts#L95-L100

Here we have some info about how to remove the added menu option. https://github.com/jupyterlab/jupyterlab/pull/10254#issuecomment-845490123
It says to set the widget parent to `null`. Is this th

[2021-08-24 10:53] #6774 closed

[2021-08-24 12:20] SarunasAzna opened #10902 "Fix browser tab name representation of files with longer than 15 character path"
Tab renaming which was introduced in 3.1.X version shows only [first 15 characters](https://github.com/jupyterlab/jupyterlab/blob/386b5758bbf4d56f08786df9c3f4e5bda14563f5/packages/apputils-extension/src/index.ts#L344) of the file full name. Which can end up showing only a tiny fraction of the path without a file name.
![image](https://user-images.githubusercontent.com/10515132/130612219-13be01cf-a

[2021-08-24 12:31] krassowski commented on #10902
I agree that full path can be hidden unless if there are two notebooks of the same name (e.g. two Untitled.ipynb) open at the same time, in which case it would be actually useful.

Also, as mentioned in https://github.com/jupyterlab/jupyterlab/issues/10820#issuecomment-897887893 I would very much suport making all of this user-customizable. I don't think anyone committed to working on this, so con

[2021-08-24 13:20] nibheis commented on #10876
Hi all,

This bug is quite annoying. I've been tracing it for hours, but I could not find anything (nothing appears in the debug logs).
I also took the time to update all the components (jupyther hub 1.4.2, lab 3.1.7 and more) to their latest versions... but nothing solves this issue.

It is very easy to reproduce:

https://user-images.githubusercontent.com/52066010/130621661-57d495b0-2d9f-4783-bd

[2021-08-24 13:23] KVSSKPRADEEP commented on #8876
Is the issue still needs to be contributed or is it resolved?
can i go ahead to contribute since i worked on it ? (since i am beginner, need your valuable inputs)

Thank you in advance

[2021-08-24 16:39] Mithil467 commented on #10879
I tried doing this
[code]
Which gave me this output
![image](https://user-images.githubusercontent.com/41439841/130655792-63210d30-017f-4e3f-a08a-7a2320cf79f2.png)

[2021-08-24 17:04] bollwyvl commented on #5504
@WardBrian cool, seems neat!

The work did stall, but I did eventually get the necessary APIs added upstream to make this more modular, and indeed, we're _using_ them in `jupyter-lsp` :laughing:. If there _is_ a `stan` language server, you'll _for sure_ want to go through the `jupyter-lsp` route, so that someone can install both the syntax support and language support in one shot!

Meanwhile, I ha

[2021-08-24 17:26] akitxu commented on #10896
@Krassowski
I found a solution in your link. `jupyter nbconvert @bandas_bollinger.ipynb --no-input --to html
`
Regarding the  `jupyterlab_nbconvert_nocode` extension, it seems good to me. The problem I see is that it cannot be installed with either pip or conda. I am trying to do it from the linux console and so far I have not succeeded. `./configure` gives me error. I'll keep trying, but I insist

[2021-08-24 18:21] meeseeksmachine commented on #5504
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/contributing-a-codemirror-mode-for-a-new-language/10481/2

[2021-08-24 19:09] jasongrout commented on #8876
It looks like several people have offered to help in various ways, but I don't see any PRs linked, so I don't think anything has changed. Feel free to submit a PR to help improve the issues listed above, and mention in the PR this issue.

[2021-08-24 19:10] WardBrian commented on #5504
There isn't a stan language server (yet, a few have discussed but it doesn't rank very highly on priority lists), so the simple mode I defined and the somewhat hacky way of handling the magic cells is probably the best for now. Of course, it could break if codemirror or jupyter change, so a more officially supported solution would be great long-term

[2021-08-24 21:38] krassowski commented on #10879
This looks like a regression introduced in #10373. The `terminal-extension` bails if it finds no terminals available, which previously meant that no menus were added, but now the menus are added whether it bails or not. @fcollonval is there a way for an extension to stop the transformation of its settings once it is loaded, or do we need to use the old API to remove the menu post-hoc as @Mithil467

[2021-08-24 22:01] krassowski commented on #10876
I am not familiar with this part of the codebase, but I would suggest asking on the [JupyterHub gitter](https://gitter.im/jupyterhub/jupyterhub) or on the [Discourse](http://discourse.jupyter.org/).

[2021-08-24 22:11] 3coins opened #10906 "Remove build step to add new icon class"
### Problem

Current integrity check has a build step to add icon classes to deprecated.css which is a legacy feature. This step is redundant for new icons added to the repository.

### Proposed Solution

Remove the code that adds css classes for icons.

### Additional context

[2021-08-25 03:37] Mithil467 commented on #10879
The above fix is giving this error - `Property 'removeItem' does not exist on type 'ISettingsMenu'`

[2021-08-25 03:55] jasongrout commented on #10835
Thanks for bringing this up. Since the suggestion is already being tracked over in #9897, let's consolidate the discussion over in that issue.

[2021-08-25 03:55] #10835 closed

[2021-08-25 03:57] jasongrout commented on #9897
The suggestion over at #10835 is that this behavior should work happen even with autoClosingBracket false.

[2021-08-25 04:15] jasongrout commented on #10634
Yes, but the services package assumes it is connecting to a notebook server, not directly to a kernel (not sure which you are trying to do based on your question). You'll need to pass the services manager a serverConnection setting:
https://github.com/jupyterlab/jupyterlab/blob/0aed1cca194f5724d95c7d7896682eaacb8be925/packages/services/src/basemanager.ts#L101
https://github.com/jupyterlab/jupyterl

[2021-08-25 04:21] sachinkaushik commented on #10839
Hi @agoose77 ,

Thank you for your response.!

We want to use only Terminal feature of Jupyterlab, So we want to open/launch directly Terminal instead of home/launcher page where we have to choose terminal.

I will create **terminal-4e68.jupyterlab-workspace** but where I mean in which directory I have place it. As I'm using containerfile/dockerfile to to spawn container.

Can you please help me h

[2021-08-25 04:30] jasongrout commented on #10784
Fixed by https://github.com/jupyterlab/jupyterlab/pull/10795

[2021-08-25 04:30] #10784 closed

[2021-08-25 05:11] KVSSKPRADEEP commented on #8876
Thanks @jasongrout. Can I get this issue to be assigned to me?
To make my PR to this issue and do the needful.

[2021-08-25 05:55] karthikayan4u commented on #10890
Hello @agoose77 , I wish to work on this issue. Should I be assigned for this issue to work on the same? I am a complete beginner to open source.

[2021-08-25 06:39] nibheis commented on #10876
Thanks @krassowski ; I went and ask on the [JupyterHub gitter](https://gitter.im/jupyterhub/jupyterhub).
Can you try to reproduce this issue on your side by any chance?

[2021-08-25 06:58] fcollonval commented on #10879
@Mithil467 Could you update the following line:

https://github.com/jupyterlab/jupyterlab/blob/0aed1cca194f5724d95c7d7896682eaacb8be925/packages/ui-components/src/components/menu.ts#L16

To

[code]

Then it should work.

[2021-08-25 07:04] minrk commented on #10876
I don't think JupyterHub is involved in this. It should be purely a JupyterLab issue. Visiting `/user-redirect/` is just a redirect to lab with the same path. So the result should be the same if you exclude `/user-redirect/` and visit the lab urls directly:

[code]

Can you reproduce the issue without involving `/user-redirect/`?

[2021-08-25 07:16] nibheis commented on #10876
Hi @minrk,
I confirm the same issue without involving `/user-redirect/`: The notebook referenced in the URL is opened only if the workspace was empty.

I can reproduce this on 2 platforms that I migrated to jupyterlab 3.1.x ; in fact, in both cases I completely re-installed the servers from scratch, so there should not be left-overs from jupyterlab 1.x.
All that is left over are the user files ; a

[2021-08-25 07:27] nibheis commented on #10876
I started with a clean `~/.jupyter` dir (I deleted it), but nothing changed.

[2021-08-25 08:05] Mithil467 commented on #10879
Thank you! @fcollonval @krassowski
I have done the required fixes in this PR.

[2021-08-25 08:23] hbcarlos commented on #10800
Solved in #10804

[2021-08-25 08:23] #10800 closed

[2021-08-25 09:21] minrk commented on #10876
Yup, this is easily reproducible with a regular local lab (3.1.7)

1. `jupyter lab`
1. create notebooks `A`, `B`
2. visit `/lab/tree/A.ipynb`
3. edit URL to `/lab/tree/B.ipynb` and press enter
4. page loads and redirects to`/lab/tree/A.ipynb` instead of opening B

presumably something like restoring the workspace taking priority over the requested URL

https://user-images.githubusercontent.com/151

[2021-08-25 09:37] blink1073 commented on #8876
Done!

[2021-08-25 09:43] vidartf opened #10911 "Visual indicator that a file filter is in effect"
### Problem

Currently, users might have a file filter active in the file browser, and not realize it (particularly since it is retained even after browsing into a different folder, which is probably unexpected). They will then be annoyed when they cannot find their files, and instead only see empty folders (with a few files if they happen to match the filter).

### Proposed Solution

A number of

[2021-08-25 09:47] krassowski commented on #10911
Also, we already have a quick find option (just start typing in the listing), and I believe that the filter field is redundant with respect to that. I think that the quick find on listing is the thing that should receive an indicator (to show what prefix is being used for quick find). I will follow up after hours.

[2021-08-25 09:49] gMatas commented on #5741
I'm of the same opinion and experience like https://github.com/jupyterlab/jupyterlab/issues/5741#issuecomment-447369613.
Up until auto-close brackets became disabled by default now, the idea that it should be disabled or even coming here to comment in support of this feature didn't even come to my mind as it felt like the auto-closing is a natural way for the work commonly done in notebooks. Thus

[2021-08-25 10:10] #10879 closed

[2021-08-25 10:35] ariso-sac commented on #10890
Hi Team !!
I would like to work on this issue.
Could you help me with code architecture and place where this shell commands are placed ?

[2021-08-25 11:30] muh-hassani opened #10913 "After Jupyterlab update to 3.1.8, jupyter lab build fails!"
On our production system, which is a Linux machine (SUSE Linux Enterprise Server 15 SP1), after the latest update of our conda environment, `Jupyter lab build` fails. I have brought below further details. I hope someone can give me a hint on how to fix this issue.

- the output of jupyter labextension list`:
[code]

- the error I found in the log of `jupyter lab build --debug`
[code]
I tried to do

[2021-08-25 12:36] agoose77 commented on #10890
Hi all -
JupyterLab is split into a "front end" in TypeScript, and a "back end" in Python. The Python-side uses the `traitlets` library to implement configurable, typed, reactive objects. Traitlets is *also* used to implement (through layers of inheritance) a command-line API. The classes that implement the workspace commands are in `jupyterlab/labapp.py`, e.g. the `LabWorkspaceExportApp`
https://

[2021-08-25 12:45] nibheis commented on #10876
I'm willing to investigate and dig into the code ; can anyone offer pointers to where I should start ?

This bug is annoying, especially for our LTI users, and more generally to anyone using a nbgitpuller link... which represents 90% of our users. Getting this fixed before the start of the semester is my goal.

[2021-08-25 13:29] vidartf commented on #10911
@krassowski Yes, I do not see that the quick-find functionality was mentioned in the [original issue](https://github.com/jupyterlab/jupyterlab/issues/8157) or [PR](https://github.com/jupyterlab/jupyterlab/pull/8615).

[2021-08-25 13:31] vidartf commented on #818
A file filter was implemented in https://github.com/jupyterlab/jupyterlab/pull/8615, so closing this (please comment if I misunderstood what the issue was about).

[2021-08-25 13:31] #818 closed

[2021-08-25 13:35] jasongrout commented on #5741
@gMatas - thanks for bringing up the point that it is more likely that someone annoyed with the setting will be looking for a way to turn it off rather than a person that didn't know it was even a possible setting.

FYI, the decision to disable it was not just based on a number of complaints about the feature per se, but also on an analysis of a number of common cases we found where the autoclosin

[2021-08-25 13:46] gMatas commented on #5741
Makes sense then. Thanks for the notice

[2021-08-25 14:01] karthikayan4u commented on #10890
Thank you @agoose77 . I will complete and raise a PR. In case I get stuck somewhere, I will get back to you.

[2021-08-25 16:19] #4328 closed

[2021-08-25 19:09] jasongrout opened #10921 "Simplify IRankedMenu interface"
## Description

In https://github.com/jupyterlab/jupyterlab/pull/10909, this line was changed:

https://github.com/jupyterlab/jupyterlab/pull/10909/files#diff-10d72a5eea33520df6a5801ea65b535d663f6992db9991d69e933d9cd491ecfeR16

[code]
became
[code]

and this change was released in JupyterLab 3.1.9.

This is a big expansion of that IRankedMenu interface from a very simple interface with only a few

[2021-08-25 19:21] rickmcgeer opened #10922 "Firm API Documentation Needed"
### Problem
I have written an extension for JupyterLab which has worked for months, and after the August 23 upgrade is running into obscure compilation issues; specifically, I am told that our classes no long implement ICodeModel or IModel, though the tsc error messages seem to indicate that the types are still compatible.

The point is, this shouldn't happen.   An upgrade shouldn't change the API

[2021-08-26 00:53] behrouz-bakhtiari opened #10924 "Curser after cell execution"
### Problem
Right now, if a code is executed on the last cell of the notebook, a new cell is automatically created below and the curser moves into that cell, blinking and ready for typing. This is, however not the case if we execute the a cell, below which there is already another cell. The cell below will become active, so it can be run. But it is not visually indicating because the curser does n

[2021-08-26 13:14] icankeep opened #10926 "Undo cell action vs editor action is confusing with document-wide history tracking"
I have some confusion after upgrading 3.x.

Command+z only undo the operation of a specified single cell in 2.x
but it will undo the operation of cells of the entire notebook in 3.x

[2021-08-26 15:58] Emman-Lopez-Oso opened #10927 "Build Failure likely tied to Variable Inspector tool:"
## Description

When opening an instance of Jupyter lab on my Macbook, I am told to generate a build for the variable inspector:

[code]

After running the jupyter lab build in my environment, I receive the following output:

[code]

The log provides me with the following:

[code]

## Reproduce

1. Activate environment
2. Type `jupyter lab` in the terminal
3. Run
4. Press Build

- Operating System

[2021-08-26 16:38] krassowski opened #10928 "Paste should have a separate undo event (3.1 regression)"
## Description

Since JupyterLab 3.1 the history aggregation leads to the undo event often removing way too much code. In particular, uno after paste event, often remove text written prior to undo event, which is quite annoying when trying to correct text written prior to paste.

## Reproduce

JupyterLab  3.0:

![jl-3 0](https://user-images.githubusercontent.com/5832902/131001578-887382e5-b771-4fd

[2021-08-26 20:29] ypsah opened #10930 "Notebook links without workspaces do not navigate to the right notebook"
## Description

Notebook links without workspaces navigate to the last opened notebook unless
one already has JupyterLab opened in another tab in their browser.

## Reproduce

From a clean virtual environment:

[code]

In your browser, inside your lab:

1. create a new notebook and name it `foo.ipynb`;
1. create another new notebook and name it `bar.ipynb`;
1. open `foo.ipynb`;
1. use the `Copy sh

[2021-08-26 20:42] #10930 closed, assigned to nobody

[2021-08-27 05:18] echarles opened #10933 "[DISCUSS] Notebook actions while the notebook is not yet fully rendered by the virtual notebook"
This is a followup of https://github.com/jupyterlab/jupyterlab/issues/10840

I looks also that the reported case https://github.com/jupyterlab/jupyterlab/issues/10840#issuecomment-903130229 still gives failures

The initial idea of the virtual notebook was to have 2 cell "areas":

1. The first one at the top of the notebook which are rendered directly.
2. The second one after the first one, which

[2021-08-27 07:20] Dervis-vL opened #10934 "Jupyter notebook stuck loading, not showing content, in VSCode"
When I open an .ipynb file in VSCode it pops up on my screen but no content appears. The loading bar keeps going and nothing happens. So I am not able to use Jupyter or access and modify existing or new files.

Screenshot of the loading bar:
![image](https://user-images.githubusercontent.com/65704977/131088400-51c0a456-0e6e-455b-af93-47f88b20c262.png)

I can't seem to find similar issues that solv

[2021-08-27 07:34] RAJSINGH-Bitian opened #10935 "Treating of pure python files in jupyter notebook using GUI"
### In many organisation and persons uses pytorch ,spider and other ide for development process this is alright whenever evey one in the organisation familar with same type of ide but if a new employee or the organisation want to coleborate with other organisation its cause a platform using error. for this jupyter notebook have a command line  solution  but we can implement this to the Graphical u

[2021-08-27 13:44] fcollonval opened #10939 "Use toolbar item factory for debug button"
@fcollonval
This requires a lot of changes as the button currently is embedded inside the handler, I will add this change to a separate PR. I have made all the other changes as per your suggestions.

_Originally posted by @3coins in https://github.com/jupyterlab/jupyterlab/issues/10727#issuecomment-905152909_

[2021-08-27 13:45] gorlop opened #10940 "Jupyter lab moves back to subfolder automatically after moving up a folder"
## Description

When I click on the folder icon to move up a folder in jupyter lab, after a few seconds (i.e. there is a noticeable delay) it changes to the folder and then almost immediately moves back. Sometimes if I do this several times, it will eventually move up a folder and stay there.

I've tried clicking slowly to make sure I'm not double clicking. I've also uninstalled jupyter and reinst

[2021-08-27 14:29] BruniGui opened #10941 "Code Editor out of Sync"
{"model":"# Local:\r#df = pd.read_csv('./dados/brasileirao2018_p.csv', index_col = 0)\r","view":"# Local:\n#df = pd.read_csv('./dados/brasileirao2018_p.csv', index_col = 0)\n","selections":[{"uuid":"98fc8ccd-0035-4151-9847-91f3fc05415a","start":{"line":0,"column":0},"end":{"line":0,"column":0},"style":{"className":"","displayName":"","color":"black"}}],"cursor":{"line":0,"column":0},"lineSep":null

[2021-08-27 15:11] HenryJi529 opened #10942 "jupyterlab 3 can't recongize nodejs installed by nvm"
## Description

jupyterlab 3 can't recongize nodejs installed with nvm.

<img width="985" alt="Screen Shot 2021-08-27 at 10 59 45 PM" src="https://user-images.githubusercontent.com/41288155/131147874-ad21afca-8745-454d-877b-d5828ced79f2.png">

## Reproduce
 Node16.x has been Installed with nvm.
<img width="439" alt="Screen Shot 2021-08-27 at 11 01 20 PM" src="https://user-images.githubusercontent.

[2021-08-28 00:31] HenryJi529 commented on #10942
The dialog is still there.

[2021-08-28 01:04] RAJSINGH-Bitian commented on #10935
i'm not talking about only allow to edit i'm talking about.provide full interface which is provided to .ipynb .and we didn't need the cell information inside of .py beacause In  maximum of the ide codes are works as a single unit.

[2021-08-28 01:57] RAJSINGH-Bitian commented on #10935
@agoose77  i need your help , if you are ready to guide me  i will be very greatful to you. let me know how can we communicate.

[2021-08-28 07:34] echarles commented on #10791
Hi, I wanted to make sure what is needed for the "document-wide history tracking disabling".

I have read the initial issue reported on https://github.com/jupyterlab/jupyterlab/issues/10694#issue-952117882 by @krassowski . However, I see https://github.com/jupyterlab/jupyterlab/pull/10756 implemented by @hbcarlos which disables the outputs to be undo/redo (see the false attribute):
[code]

I have

[2021-08-28 08:01] SullivanTan opened #10944 "lab 3.1.9 keep conneting to Kernel"
I installed lab3.1.9 on Centos. However, I couldnot run  my code and lab kept connecting to kernel.
I check the issues
https://github.com/jupyterlab/jupyterlab/issues/6062
But the required tornado is 6.1
Any thing I should check?

[2021-08-28 09:21] agoose77 commented on #10935
@RAJSINGH-Bitian please read the links I sent you earlier - they provide a way to treat '.py' files (and others) as notebooks (and provide the user interface)

[2021-08-28 09:59] meeseeksmachine commented on #10890
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/introduce-yourself/17/265

[2021-08-28 10:44] krassowski commented on #10791
Yes, this is independent of the output undo issue.

Yes, that would be basically it. I would call it `enableDocumentWideUndoRedo` to represent the UX rather than implementation detail and only mention RTC in the description.

[2021-08-28 14:43] #10480 closed

[2021-08-28 14:57] meeseeksmachine commented on #10095
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/whats-wrong-with-the-way-im-using-codemirror-in-this-prebuilt-version-of-jupyterlab-ihaskell/10539/3

[2021-08-28 15:01] krassowski commented on #10942
Please try: `jupyter server extension enable --py jupyterlab_git` and run `jupyter server extension list` again to check if this shows up this time. There are further troubleshooting instructions in https://github.com/jupyterlab/jupyterlab-git#troubleshoot if this does not help. In any case please let me know if it helped!

[2021-08-28 16:04] HenryJi529 commented on #10942
[code]
At first, the config dir(`/usr/etc/jupyter`) doesn't exist.
After making the config dir in `/usr`,  the jupyterlab-git works now.

[2021-08-28 16:10] krassowski commented on #10942
That's great! I would recommend using a virtual environment (pyenv-virtualenv, conda, or any number of others) for future Python installations it removes a lot of headaches like that.

No. It does not need Node.js at all, if you installed Node.js only for that purpose you can uninstall it... unless you would like to contribute, then for developing jupyterlab-git Node.js is indeed useful (but not n

[2021-08-28 16:21] tejasmorkar commented on #6443
Hello @jasongrout, can you please elaborate a little about what needs to be done here to work on this issue, if possible and if the issue is still relevant?
I can understand that the `directories` field needs to be added to the package.json to specify a structure, and _ensure-repo_ as mentioned by @blink1073, will be a good place to assert the same while checking integrity. Are there any specific

[2021-08-28 16:45] tejasmorkar commented on #10902
Hello @krassowski, I would like to work on this issue if this is still relevant and up for grabs.

As I can understand from the mentioned statements, the tab name needs to be updated from the first 15 letters to just the file name of the current notebook truncated and JupyterLab appended to it. This will provide better context than just seeing the path. I can start working on it immediately if I c

[2021-08-28 17:08] SullivanTan commented on #10944
I found it's weird.
When I used jump server connecting to a windows platform and linked to jupyterlab, everything was ok.
However, when I used VPN  connecting to jupyterlab through DNS, it kept connecting to kernel.
What's going wrong?

[2021-08-28 17:08] westurner commented on #2815
"How to implement LSP for a multi-language kernel (SoS)?" https://github.com/krassowski/jupyterlab-lsp/issues/282

Is this fair?:
Any sufficient solution for polyglot kernels must install with just `pip install jupyterlab`.

What are the existing polyglot kernel approaches?

- allthekernels
- "SoS"
- others?

Do any require Apache Arrow as a kernel dependency for inter-language intercell data exch

[2021-08-28 21:41] slonik-az opened #10947 "Toggling Single Document mode (Simple Interface) On & Off messes up multi-pane layout"
## Description
If I start with Jupyterlab layout with two or more panes (arranged horizontally or vertically) and then switch _Simple Interface_ On and then Off the resulting layout has only one pane remaining (not counting the sidebar). The other panes appear as tabs. Here are the screenshots:

### Before
I started with having 3 panes:
<img width="1536" alt="jupyterlab-before" src="https://user-i

[2021-08-28 23:10] krassowski commented on #10902
Thank you, assigned! As for how to make it customisable, it deserves a bit more discussion. We could explore using a template string as a setting, for example:

[code]

The problem is that we do not want to show `{count}` if it is zero or one, and do not want to show workspace if it is the default workspace. I see four possible solutions:
- a) have multiple settings like `windowTitle`, `windowTitl

[2021-08-29 03:21] ksmq opened #10948 "Bad ANSI + URL html rendering"
## Description

Run something like in a notebook cell:

`print('\x1b[48;2;185;0;129mwww.python.\x1b[0m\x1b[48;2;113;0;119morg\x1b[0m')`

Prints:

` www.python. style="background-color:rgb(113,0,119)">org`

with no background colour from the space onwards.

With inspect element we see that the href seems to consume the span tags:

`<a href="www.python.</span><span" rel="noopener" target="_blank"><s

[2021-08-29 06:59] #10942 closed

[2021-08-29 08:54] tejasmorkar commented on #10902
Hi @krassowski, I've created PR #10952 for the issue and changed the tab name to a truncated file name as suggested by @SarunasAzna. This will be helpful as the starting 15 characters of the path did not provide any important information.

If there are multiple files open with the same file names, the path can be shown to differentiate as you said, but should it be added to the tab name? Because p

[2021-08-29 14:08] agoose77 commented on #10940
@gorlop does this happen when you don't have any files open? It sounds similar to the "Show active file in file-browser" setting that we have.

[2021-08-29 14:10] krassowski commented on #9518
@bollwyvl can we close this one, or is there anything else to do? I see the PR was merged and released in 3.1.

[2021-08-29 14:15] agoose77 commented on #10934
This is not a JupyterLab issue, so this might not be the best place to ask for help. I would suggest filing an issue over at https://github.com/microsoft/vscode

It "might" be something to do with the Jupyter Server, but until we know more we can't provide much help. Hopefully, someone over at vscode will have some suggestions.

[2021-08-29 14:27] krassowski commented on #9114
Closing as implemented in #10025 and released in 3.1. Please correct me if I am wrong here.

[2021-08-29 14:27] #9114 closed

[2021-08-29 15:32] bollwyvl commented on #9518
Yeah, we landed all the plumbing, the 3.x line now ships with `third-party-licenses.json`, and all extensions built with `@jupyterlab/builder: ^3.1.0` will include the third party license information. So hooray!

What we did _not_ add:

This would probably take:
- determine a list of licenses which core _may not ship_
  - IANAL, but
    - imagine AGPL is among these
    - as are some of the new-fa

[2021-08-29 15:58] bollwyvl commented on #9518
So I will admit to having looked :rofl: This is the reduced list (simplifying some `OR` LicenseRefs) of JS licenses we currently ship, and there are no `null`s:

[code]

So it may be easier to fiat _these are the licenses we ship_, start testing them, and address novel dependencies on a case-by-case basis.

[2021-08-29 16:03] bollwyvl commented on #9518
I guess I don't know where the test would actually land:

- jupyter_releaser?
- python unit tests?
- random `script`?

Similarly, the list of licenses seems... important. It should end up in _exactly one place_, but that could be:

- `package.json`
- `pyproject.toml`
- some random `script`
- the docs

Thoughts?

[2021-08-29 16:30] krassowski opened #10955 "Galata failures on master, lack of artifacts, empty report"
## Description

- [x] After merging #10796 there are failures on master
- [ ] I tried to download `ui-test-output` artifacts as instructed in https://jupyterlab.readthedocs.io/en/latest/developer/contributing.html#visual-regression-and-ui-tests but this artifact is no longer there; the two artifacts that are downloadable contain:
   - `galata-test-assets`: it only contains `.webm` movies, and I ca

[2021-08-29 18:10] krassowski commented on #10940
That was my first guess, but this setting is not on according to [this comment](https://stackoverflow.com/questions/68928822/jupyter-lab-moves-back-to-subfolder-automatically-after-moving-up-a-folder#comment121834679_68928822).

@gorlop I drafted a comment earlier but forgot to send it. The Browser output seems to include the output of the browser logs rather than the website logs. Could you pleas

[2021-08-29 19:46] ellisonbg commented on #10944
I am seeing the same thing on a clean conda env on OS X.

[2021-08-29 20:08] krassowski commented on #9518
I would put that test together with repo integrity check. I think that running it on release may be to late, it would be better to be able to catch issues with new dependencies at a PR stage.

As for the place documenting the third-party licenses, the docs seem natural to me.

[2021-08-29 23:48] drorcohengithub commented on #6112
Still sorely missing this :(

[2021-08-30 01:39] bolliger32 commented on #10636
@jasongrout I just checked again and can confirm that I am no longer seeing this issue. One example of other settings that were not being overridden were rulers and line numbers, i.e.

[code]

but these are working now (I'm now on 3.0.16). I had a long list of things that weren't being overridden but they now seem to all be working (including autoClosingBrackets).

[2021-08-30 02:41] RAJSINGH-Bitian commented on #10935
i need a contribuation to any project whose hit star is greater than 100 for interview of microsoft .will you please help me?
@agoose77

[2021-08-30 06:46] JohanMabille commented on #9114
Please notice the backend has been improved to return an array of `IVariable` when receiving an `inspectVariable` request. This way the behavior is consistent with the `variables` request and no further change is required in the frontend.

See https://github.com/ipython/ipykernel/pull/753

[2021-08-30 06:55] ChavezCheong commented on #2951
{"model":"### Problem 1.1\r\n$ g = \\nabla V(x) \\newline = \\begin{bmatrix} (1+k)x_0 - kx_1 \\\\ (1+k)x_1 - kx_0 \\end{bmatrix} $\n\n$ H(x) = \\begin{bmatrix} k+1 & -k \\\\ -k & k+1 \\end{bmatrix} $x} $","view":"### Problem 1.1\n\n$ g = \\nabla V(x) \\newline = \\begin{bmatrix} (1+k)x_0 - kx_1 \\\\ (1+k)x_1 - kx_0 \\end{bmatrix} $\n\n$ H(x) = \\begin{bmatrix} k+1 & -k \\\\ -k & k+1 \\end{bmatrix}

[2021-08-30 07:33] raulotaolea commented on #10560
I like _Copy Link_, it is more accurate. And it removes the _shareable_ word what I think is the reason why it is confusing.

[2021-08-30 08:37] agoose77 commented on #10935
If you want to contribute to the Jupyter ecosystem, then I would recommend looking at some of the `good-first-issue` issues on different repositories, e.g.
- https://github.com/jupyterlab/jupyterlab/labels/good%20first%20issue
- https://github.com/jupyter/nbconvert/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2021-08-30 09:49] Dharanikanna commented on #10874
Hello All,
I'm Dharani Kanna. I have interested to Contribute and resolve this issue. I'm just beginner for open source contribution. Please some one guide me to catch the path of a open source contributor.

[2021-08-30 10:48] blink1073 commented on #10636
I verified that @Zsailer was getting caught by the fact that data files are not handled by editable installs (pending https://github.com/jupyter/jupyter-packaging/issues/103).  Overrides are working for us now.

[2021-08-30 10:48] #10636 closed

[2021-08-30 12:23] gorlop commented on #10940
@agoose77 - Yes, this does happen without any files open.

@krassowski  - I added the logs from the web developer console tool.

[2021-08-30 13:18] liaoran opened #10960 "A problem with the new version"
Jupyterlab version: 3.1.9
Python version: 3.8.11
OS: Ubuntu 20.04.02
Question:
When I use jupyter lab, it gives me an error, the information is as follows:
[code]

[2021-08-30 13:52] krassowski commented on #10940
Thank you! The logs suggest that there are a few non-standard extensions. Have you tired to disable those one by one (and restart JupyterLab after each disable) and see if those could be a reason? I also wonder why there are so many warnings about shortcuts. Could you show what shortcuts you have customized?

[2021-08-30 13:55] fcollonval commented on #10955
I'm working on #10950 to make them more robust

galata-test-assets: it only contains .webm movies, and I cannot easily find the folder for the movie for the failing test case
galata-report: .webm movies and some .png files, but those are not helpful due to their names

The two artifacts are now:
- galata-test-assets: Raw artifacts with one folder per tests - artifacts are videos and some images if

[2021-08-30 14:00] krassowski commented on #10955
:tada:

The previous instructions were very simple (download a folder, copy-paste). It was a good developer experience (running the docker locally was a bit tedious, so I came to prefer using CI).

I would prefer to be able to just open it in browser, but I guess that for now adding a README.txt with this instruction would suffice.

[2021-08-30 14:09] gorlop commented on #10940
@krassowski  - I'm not sure what extensions are installed. I typed the following at the command line to see what extensions I have installed:
jupyter labextension list

And it just returns this:
JupyterLab v3.1.7

Is there another way to check what extensions I have installed? I was using the instructions from this link: https://jupyterlab.readthedocs.io/en/stable/user/extensions.html#managing-ext

[2021-08-30 14:12] krassowski commented on #10940
That's very interesting. After taking a second look indeed those are default extensions.

[2021-08-30 14:39] raghuvv commented on #5897
This is what I did in the meantime to avoid having to click enable scrolling on each cell:

1. INSTALL "Stylus" extension for Chrome
2. Add a custom CSS override for local JupyterLab URL with the following CSS snippet.

[code]

This is to automatically scroll the contents of cell outputs (without having to manually right-click and select "Enable Scrolling for Output").

In future updates to Jupyte

[2021-08-30 15:48] ellisonbg opened #10962 "Entire file is overwritten with empty state with a large number of contributors"
## Description

In the weekly JupyterLab meetings we sometimes observe that a file with is overwritten with empty state when a large number of contributors open it at about the same time. In talking to @hbcarlos and @dmonad we suspect that this is related to the server-side lock that is used during the initial opening, and possibly slow server and or clients. We have not reproduced yet.

## Reprod

[2021-08-30 16:03] ellisonbg commented on #10448
The Jupyter interns at Cal Poly built a prototype of a commenting extension that works with the new real-time collaboration capabilities of JupyterLab 3.x:

https://github.com/jupytercalpoly/jupyterlab-comments

The interns would love to eventually move that over to the JupyterLab org.

[2021-08-30 16:25] krassowski commented on #10448
Would it supersede https://github.com/jupyterlab/jupyterlab-commenting? Is the jupyterlab-comments extension based on jupyterlab-commenting or is it a fresh restart?

Spinning up binder to check it out!

[2021-08-30 17:05] ellisonbg commented on #10448
Yes, it would supersede the existing extension. A lot of the lessons and
ideas about the technical architecture and UX design from the first one
were taken into account, but the new one is a clean start from the code
perspective.

On Mon, Aug 30, 2021 at 9:25 AM Michał Krassowski ***@***.***>
wrote:

--
Brian E. Granger

Principal Technical Program Manager, AWS AI Platform ***@***.***)
On Leave -

[2021-08-30 18:43] dmonad commented on #10625
It is nearly impossible to render the username outside of the codemirror editor (** there is a solution, but I don't think we should implement it). The username is rendered within a scroll-element. While we can use `z-index` to layer elements on-top of other elements, this doesn't work to bring things out of a scroll-element.

** It is possible to calculate the window-position of the cursor on eve

[2021-08-30 19:04] dmonad commented on #10791
We could make it configurable to fall back to the old (a separate undo manager for each cell and another one for moving cells). We can achieve this with Yjs undo manager as well (just create a separate undo manager for each cell). In any case, we should use the Yjs undo manager for this. Otherwise, users will be able to undo changes from remote users.

My perception of applications is that there i

[2021-08-30 19:24] dmonad commented on #10852
This is probably related to the locking mechanism that we implemented. When many users connect, there is a chance that a user with a slow network connection writes a document with a timed-out lock. I recommend that we first increase the lock-timeout and then also check locally whether the lock has expired before overwriting a document.

[2021-08-30 19:49] hbcarlos commented on #10625
Yes, I can do the round corners.

[2021-08-30 20:09] Dervis-vL commented on #10934
I see the issue is already closed unfortunately.

VSCode refers all extension related issues directly to the extensions repo. I'm looking for possible settings in Jupyter that could cause Jupyter to not load any cells. The notebook stays empty and no input is shown at all.

[2021-08-30 20:25] pplonski opened #10964 "Not consistent output of URLExt.join for Windows / Unix"
First of all, thank you! I'm using Jupyter almost every day. Thank you!

## Description

I'm working on a desktop application that will be notebook with graphical interface to generate python code (it is an electron app). I'm using `@jupyterlab/services` TS packages in my app.

I have a problem with `SessionManager`. I got an error: `Can only be used for notebook server request`. I have this error

[2021-08-30 20:38] krassowski commented on #10964
Thank you for opening this! Could you please check with version lower than 5.1?

I suspect that this could be a regression in the `url-parse` dependency introduced when they were fixing a ReDOS, which got pulled in #10219. There were patch releases since then so maybe we can just upgrade, but it would be best to understand this better as an attempt to bump to a patch release in #10755 lead to some

[2021-08-30 20:48] hbcarlos commented on #10962
More comment on this issue here https://github.com/jupyterlab/jupyterlab/issues/10852#issuecomment-908623789

I'll work on this.

[2021-08-30 21:06] hbcarlos opened #10965 "IUser to represent a connected users"
### Problem
Now that we have real-time collaboration, we have a list of connected users in the same document. Now we are using anonymous users but it would be great to define a generic interface with the different attributes for the user. Also, we could create a new plugin that exports the connected user soo other plugins can use this information.

### Additional context
Some of the attributes  fr

[2021-08-30 21:29] jasongrout commented on #10934
We don't maintain the VSCode extension for ipynb files. I suggest filing an issue with the maintainers (who work at Microsoft, IIRC).

[2021-08-30 21:29] jasongrout commented on #10934
I think it is this repo: https://github.com/microsoft/vscode-jupyter

[2021-08-30 22:26] pplonski commented on #10964
@krassowski thank you for help!

After downgrade of `@jupyterlab/coreutils` to 5.0.7 there is still wrong output on Windows. After downgrade to 4.3.1 the output on Windows and Unix is the same.

However, I can't make `@jupyterlab/services` classes to work. I still get error that url is wrong. I was trying to downgrade to 5.3.1 and then to 5.1.0 and now I have some installation problems, probably s

[2021-08-30 23:11] ellisonbg commented on #10965
Thanks Carlos for opening this issue. Can you talk a bit more about the
`ICurrentUser` plugin that you have been exploring and how that fits into
the overall picture of real-time collaboration and the above `IUser`
interface?

On Mon, Aug 30, 2021 at 2:06 PM Carlos Herrero ***@***.***>
wrote:

--
Brian E. Granger

Principal Technical Program Manager, AWS AI Platform ***@***.***)
On Leave - Profess

[2021-08-31 00:38] liaoran commented on #10960
I passed conda install -c coda-forge jupyterlab, and there was no problem at startup.

[2021-08-31 00:38] #10960 closed

[2021-08-31 06:29] vikramkanishka opened #10966 "bugs are solved"
Add the CLI subcommand jupyter lab workspaces list to see all workspaces (and location?). In this way, one can simply copy-paste the name inside the URL bar.

[2021-08-31 06:33] vikramkanishka opened #10967 "bugs are there"
## Description

## Reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error '...'

## Expected behavior

## Context

- Operating System and version:
- Browser and version:
- JupyterLab version:

<details><summary>Troubleshoot Output</summary>
<pre>
Paste the output from running `jupyter troubleshoot` from the command line here.
You may want to sanitize the paths in the outp

[2021-08-31 07:56] jtpio opened #10968 "Publish test results as a PR comment"
### Problem

For now `galata` is able to generate a repot with the test results, as demoed in https://github.com/jupyter-widgets/ipywidgets/pull/3172#issuecomment-807587761:

![image](https://user-images.githubusercontent.com/40003442/112549807-9d086900-8d7b-11eb-84db-6baff4347d5e.png)

It would be nice if these reports could make it to the PR as a comment when galata is running on CI.

When doing

[2021-08-31 07:57] jtpio commented on #10967
Thanks @vikramkanishka.

Closing as this appears to be a mistake.

[2021-08-31 07:57] #10967 closed

[2021-08-31 08:01] jtpio commented on #10955
Ideally we can find a way to make the report more easily accessible, for example by publishing the content as a PR comment: https://github.com/jupyterlab/jupyterlab/issues/10968

[2021-08-31 08:05] krassowski opened #10970 "How to test modal command palette?"
I would like to prevent command palette regressions like https://github.com/jupyterlab/jupyterlab/issues/10638. It appears galata has no mention of command palette nor editor inside of cells. Could galata support such a test case?

[2021-08-31 08:25] martinRenou commented on #10968
@fcollonval for awareness

[2021-08-31 11:57] fcollonval commented on #10872
Running with a break point on the `extender[label]` line don't raise that error but others from bad react update call:

![image](https://user-images.githubusercontent.com/8435071/131498322-5265020b-6346-40cd-9c9b-2d6ec2d0106d.png)

[2021-08-31 12:36] Sti2nd commented on #2951
"Code Editor out of Sync" kept popping up on me on each save.

![image](https://user-images.githubusercontent.com/6373430/131503606-5dd6cd0c-3a03-416b-ae08-54527d46aed1.png)

{"model":"with open(\"./.json\", encoding=\"utf-8\") as f:\r\n    data = json.load(f)","view":"with open(\"./.json\", encoding=\"utf-8\") as f:\n    data = json.load(f)","selections":[{"uuid":"192d1578-4b22-47b8-8d3e-25262486

[2021-08-31 13:49] fcollonval opened #10975 "Remove the non-null assertion on `IDebugger.ISources`"
A follow-up for this could be to try to remove the non-null assertion, since `IDebugger.ISources` might not be available.

_Originally posted by @jtpio in https://github.com/jupyterlab/jupyterlab/pull/10462#discussion_r696475570_

[2021-08-31 14:25] isabela-pf commented on #5897
@set92 sorry, I'm not actively working on this. At this point I'm not even sure why Gonzalo said I was. I'll stay subscribed to this issue and keep it on my list, but I honestly don't know when I will get to it. Sorry about that.

[2021-08-31 15:11] #10872 closed

[2021-08-31 15:40] #10975 closed

[2021-08-31 15:55] #10525 closed

[2021-08-31 16:47] krassowski commented on #10737
- [ ] Debugger is missing some translations that I missed earlier: ![Screenshot from 2021-08-31 17-45-15](https://user-images.githubusercontent.com/5832902/131543238-979a50bb-855c-43d0-bb5f-da029c66f8d7.png). I do not know hot to handle "Globals". Should it be translated or not?

[2021-08-31 16:54] goanpeca commented on #10737
I think it should, why do you think it should not?

[2021-08-31 17:02] krassowski commented on #10737
Because it looks like there is some logic conditioned on it, but I am not sure if I interpret it correctly:

https://github.com/jupyterlab/jupyterlab/blob/a38c46183a192ff759e99bbd1cca66686ded2086/packages/debugger/src/service.ts#L290-L296

Any thoughts @JohanMabille?

[2021-08-31 21:03] cossio commented on #2833
Now that RTC was released, are there any updates on this issue?

[2021-08-31 22:17] ebw44 commented on #4778
On a MacBook with a Swiss French (Apple) layout under windows, comment/un-comment works with "Ctrl + §" (key left of "1").

[2021-08-31 23:46] krassowski commented on #10948
I wonder if this IPython traceback issue is related:

[code]

![Screenshot from 2021-09-01 00-31-10](https://user-images.githubusercontent.com/5832902/131588802-a8b1a03c-57c9-4869-b537-36edeb67d5e1.png)

To fix that the `autolink` would need to run prior to `ansiSpan` and became aware of the `ansi` control codes (ignoring those in capture phase, and then striping from the URL put in href, but pres

[2021-09-01 06:46] echarles commented on #10732
@fperez I understand you are not asking party for this feature and that you have so many other things to do, but as you proposed your help, feel free to test your typical workflow case and report any feedback your would have here.

The PR has been tested by @goanpeca who has told me it was working fine.

The link to the binder is https://hub-binder.mybinder.ovh/user/datalayer-externals-jupyterlab-

[2021-09-01 08:29] #10680 closed

[2021-09-01 09:39] #10921 closed

[2021-09-01 09:54] #9867 closed

[2021-09-01 11:08] camilamacedo86 opened #10984 "Operator projects using the removed APIs in k8s 1.22 requires changes."
### Problem Description

Kubernetes has been deprecating API(s), which will be removed and are no longer available in 1.22. Operators projects using [these APIs](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22) versions will **not** work on Kubernetes 1.22 or any cluster vendor using this Kubernetes version(1.22), such as OpenShift 4.9+. Following the APIs that are most lik

[2021-09-01 11:15] pplonski commented on #10964
@krassowski I can help with this issue. Is it a matter of fixing `URLExt.join()` to not change slashes direction?

[2021-09-01 11:22] krassowski commented on #10964
Thank you, you are welcome to do so! I think that it would be a good idea to first bump `url-parse` in the dependencies to the latest version, and then try to fix the slashes, and add a test case for that. I am not 100% sure if this won't break someone else's use case, but I *think* that the slashes should not change between Unix and Windows when using `URLExt`.

Also, you may get more prompt feed

[2021-09-01 11:29] krassowski commented on #10984
Hi @camilamacedo86 thank you for reaching out! I wonder if this is the right repository for this issue; from a quick look at the jupyterlab-operator config it seems to mention https://github.com/atef23/jupyterlab-operator and it seems to be the place where the maintenance is happening. Would it be a good idea to move this issue there, or is an action required from the JupyterLab team?

CC @atef23.

[2021-09-01 12:59] camilamacedo86 commented on #10984
Hi @krassowski,

Done: https://github.com/atef23/jupyterlab-operator/issues/3

thank you for let me know.

[2021-09-01 12:59] #10984 closed

[2021-09-01 13:32] mlucool commented on #10732
I did a quick test and it looks good to me.

[2021-09-01 15:52] krassowski commented on #10895
Hi @Doggie52, just letting you know that the fix was released in 3.1.10. Could you please see how it works for ou?

[2021-09-01 15:55] krassowski commented on #10840
Hi all, please give the recent 3.1.10 a try, a fix by @echarles was included, and it would be great to have confirmation on the state of the matters.

[2021-09-01 16:24] krassowski commented on #8776
Since we are now generating videos by default, how much work would it take to make the videos into GIFs for docs?
@lgfunderburk are you still working on this, or should I unassign you?

[2021-09-01 16:38] akitxu commented on #10896
This link is helpful  [How to make polished Jupyter presentations with optional code visibility] `https://chris-said.io/2016/02/13/how-to-make-polished-jupyter-presentations-with-optional-code-visibility/`

[2021-09-01 16:58] lgfunderburk commented on #8776
Whoops!
Apologies for this. I removed assignment from myself.
Haven't been able to make progress in this

[2021-09-01 16:59] adrienrenaud commented on #4778
Same issue on a french macbook (chrome and firefox). So sad :(

[2021-09-01 18:32] meeseeksmachine commented on #9763
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/jedi-autocompletion-disappears-after-typing-the-first-word/10586/2

[2021-09-01 19:22] krassowski commented on #10737
- [ ] context missing for Open With submenu?
   ![Screenshot from 2021-09-01 20-10-58](https://user-images.githubusercontent.com/5832902/131731305-33a0354b-a1da-4aed-ac20-8f7ee8e9f976.png)

[2021-09-01 22:07] ajye92 commented on #10840
Thanks! It appears to me that the problem has been solved in 3.1.10.

[2021-09-02 00:39] fperez opened #10990 "Dead keys incorrectly handled by the terminal - issue is really in xterm.js"
## Description

This is really a bug in xterm.js - I'm opening this one so we can track its resolution over there and make the appropriate port (plus testing that any suggested fix actually works for us).

I've [comented here](https://github.com/xtermjs/xterm.js/issues/2151#issuecomment-910954223) on the xtermjs repo. That issue was recently closed (not sure why as I still see the problem on xterm

[2021-09-02 03:13] jasongrout commented on #10966
This is already being discussed on #10890, so let's please move the discussion there.

[2021-09-02 03:13] #10966 closed

[2021-09-02 04:01] echarles commented on #10732
Thx a lot @fperez and @mlucool for your time and feedbacks. Happy to see the new PR doesn't break the normal flow of data analysts when using jupyterlab and debugging their code.

[2021-09-02 07:05] hbcarlos commented on #10965
Sure. JupyterLab was meant to be used by a single user, soo we didn't need to keep information like (name, username, email, etc.) about the user. With real-time collaboration, we have multiple users in the same JupyterLab, and we need to identify them.

I think would be beneficial to JupyterLab if we go one step ahead and define a generic interface to represent a user. Otherwise, every extension w

[2021-09-02 08:01] JohanMabille commented on #10737
@krassowski I think this name should be translated. Although "Globals" is not part of the Debug Adapter Protocol, it has the same purpose as `Locals`, `Arguments`, or `registers`, which are used as name to display in the UI and should be translated.

[2021-09-02 08:14] jtpio commented on #5041
Thanks all.

@arogozhnikov @bybyte would you be able to try again with a recent release to see if it is still an issue?

- https://github.com/jupyterlab/jupyterlab/releases/tag/v3.1.10
- https://github.com/jupyterlab/jupyterlab/releases/tag/v4.0.0a7

[2021-09-02 08:32] jtpio commented on #4444
Thanks @SimonBiggs for the report.

Consoles should now be restored with the recent JupyterLab releases.

Just tested with `3.1.10` and it seems to be the case:

https://user-images.githubusercontent.com/591645/131810534-879f6ba5-ee52-4de6-95a8-9edba81f4f6a.mp4

[2021-09-02 08:36] jtpio commented on #5293
This is something also discussed here: https://github.com/jupyterlite/jupyterlite/issues/148

Being able to toggle between a vertical and horizontal split would be very handy and a good first step.

@bollwyvl shared a sketch of what it could look like in https://github.com/jupyterlite/jupyterlite/issues/148#issuecomment-863434415:

![a mockup](https://raw.githubusercontent.com/gist/bollwyvl/a3c666

[2021-09-02 08:51] jtpio commented on #497
Closing as tracked in the `ipywidgets` repo: https://github.com/jupyter-widgets/ipywidgets/issues/2370

With an initial POC implementation in: https://github.com/jupyter-widgets/ipywidgets/pull/3004

[2021-09-02 08:51] #497 closed

[2021-09-02 08:59] SimonBiggs commented on #4444
Thanks @jtpio :slightly_smiling_face:

[2021-09-02 08:59] #4444 closed

[2021-09-02 12:01] Tyriar commented on #10990
FYI xtermjs.org is on the stable 4.13 so the fixes won't be there yet. This is fixed afaik with https://github.com/xtermjs/xterm.js/pull/3430, https://github.com/xtermjs/xterm.js/pull/3432 and https://github.com/xtermjs/xterm.js/pull/3437

[2021-09-02 13:58] cossio commented on #7825
Any updates on this?

[2021-09-02 14:00] ianozsvald opened #10996 "`breakpoint()` not working [ipykernel bug]"
Using a fresh install of Jupyter Lab my usual `breakpoint()` to invoke the debugger in a Notebook is skipped (see screenshot). Using `import pdb; pdb.set_trace()` instead invokes `pdb` as expected.

I was expecting (am I wrong?) that a call to `breakpoint()` in a cell would invoke `pdb`.

This is using a fresh conda install of Jupyter Lab this morning, no reconfiguration of the environment has occ

[2021-09-02 14:40] gorlop commented on #10940
I copied all of my notebook files and folders to a different network drive and updated jupyter_notebook_config.py to use the new folder, but the problem behavior didn't go away. I then tried a local drive on my computer, and I no longer seem to be having the issue. I've tried repeatedly to reproduce it using the local drive but I haven't been able to so far.

I can't work from a local drive as a p

[2021-09-02 14:59] agoose77 commented on #10940
Hmm, so you're using a network drive? Could you try a clean install of JupyterLab inside a virtual environment and report back whether it works there?

[2021-09-02 15:56] fperez commented on #10990
Ah, cool, thanks @Tyriar, I understand now.

Great to know this is now getting fixed upstream, we can update then the version on our end when 4.14 is out with these improvements.

I hope the comment about the PC-International layout is useful to your team - I've used that layout on Macs, Windows and Linux and it offers an easy way to get dead keys on regular US keyboards, so perhaps it can  be of

[2021-09-02 16:29] gorlop commented on #10940
I've never setup or used a virtual environment so I'm not sure if I did this right. Here's what I did:

#From command line:
pip install --user pipenv
# due to warnings when installing pipenv, I added this to PATH
C:\Users\gorlop\AppData\Roaming\Python\Python39\Scripts
# restarted machine
# setup environment
pipenv --three
# locate the environment
pipenv --venv
# go to that folder (not sure if this

[2021-09-02 16:41] idontgetoutmuch commented on #9863
I also have this problem

[code]

[code]

Using

[code]

and

[code]

[2021-09-02 18:00] ianozsvald commented on #10996
There may be more clues here. `breakpoint()` appears to have been reconfigured to `debugpy` (I don't know what this is). The environment variable that can control `breakpoint()` has not been set (I didn't expect it to be set, I haven't messed with it).

Calling `sys.breakpointhook()` does nothing, calling `sys.__breakpointhook__()` drops into `pdb`.

![image](https://user-images.githubusercontent.

[2021-09-02 18:13] krassowski commented on #10996
Hi @ianozsvald, nice to see you here, thank you for your work on PyDataLondon!

Yes, that's sounds right: beginning with version [6.0](https://github.com/ipython/ipykernel/releases/tag/6.0.0) ipykernel supports the debugger adapter protocol and uses debugpy underneath. Starting with JupyterLab 3.0 we have a [GUI debugger](https://jupyterlab.readthedocs.io/en/stable/user/debugger.html), which is st

[2021-09-02 22:22] rvalieris commented on #3413
I tried to set this on the jupyterhub config:
`c.Spawner.environment = {
	'TERM': 'xterm-256color'
}`

the variable is set on a notebook kernel, but not on the terminal !

if I understand the code here right: https://github.com/jupyter/terminado/blob/master/terminado/management.py#L175

the TERM variable is always being overwritten by `self.term_settings.get("type", DEFAULT_TERM_TYPE)`, regardless

[2021-09-02 23:26] blink1073 commented on #3413
Hi @rvalieris, I'm afk for a long weekend, will circle back next week

[2021-09-02 23:48] fperez opened #10997 "With RTC enabled, large notebooks to fail on save and whole UI becomes extremely sluggish."
## Description

When Lab is started with `--collaborative`, certain large notebooks fail to save or take inordinately long to do so.

## Reproduce

[This Gist](https://gist.github.com/06cc8cab195a7ebaa97bf42ff77dd141.git) contains a notebook that illustrates the problem. To reproduce, clone the gist and run side-by-side JupyterLab with and without `--collaborative`.

I tested on a Mac Mini with Bi

[2021-09-03 05:36] thethereza commented on #2951
I wrote some jupyter notebooks code in VS code and copied it to a unix server -- and got this message all the time.   After some experimentation, it seemed that the literal "\r" (carriage returns) in the code was the culprit.

`in.ipynb | sed 's/\\r//g' > out.ipynb`

fixed the issue I was having.   I see that "\r" appears in a number of comments above.  Hope this helps.

[2021-09-03 08:16] echarles commented on #10997
Does this happen only when multiple users are using the notebook (which has implications because the shared models are solicited more) or also if a single user is using the notebook without any other collaborators ?

... or maybe the user is doing collaborative sessions before (or in other notebooks) and at some points hits a condition which makes jupyterlab sluggish?

More context on how the issu

[2021-09-03 08:25] fperez commented on #10997
Single user - as I mention above, you can replicate it at home right now :) Just clone that gist (or download the notebook in it) and open it with Lab, with and without `--collaborative`. At least for me, the difference is immediately apparent: with collaborative mode on, once I change anything in the notebook, it's almost impossible to save it (and the UI gets really sluggish).

The test case in

[2021-09-03 08:29] fperez commented on #10997
I just tested it again on a different machine (Macbook Pro 13, 16GB RAM), same story. With `--collaborative` on, it won't save.

[2021-09-03 08:30] fperez commented on #10997
Gotta sleep now but I'll check in tomorrow, thanks for looking into it!

[2021-09-03 09:05] echarles commented on #10997
Oops, the reproducer is there with documentation. . sorry I have not read carefully enough.

I have tried the given notebook on a powerfull MacBook Pro, and I confirm that I face exactly the same reported issue. Another simple notebook saves fine. Looking at the network, the connection to ws://localhost:8888/api/yjs/notebook:Untitled.ipynb consantanly retries its Y.js Websocket connection after ex

[2021-09-03 09:36] icankeep opened #10998 "I don’t know why the cell becomes a horizontal line"
![image](https://user-images.githubusercontent.com/39434627/131984237-b927d62a-5ca5-4468-8eaf-62b9077804bd.png)

As shown in the picture, I don’t know why the code in the cell is gone, and it has become a line. Since I upgraded to 3.1.4 and turned on rtc, I found a lot of bugs

[2021-09-03 09:38] krassowski commented on #10998
This was fixed in JupyterLab 3.1.10 (https://github.com/jupyterlab/jupyterlab/pull/10898). Could you please upgrade and confirm that the fix works for you?

[2021-09-03 09:43] krassowski commented on #10840
Thank you for confirmation that JupyterLab 3.1.10 fixed the most prevalent issue!
I will close this one to focus discussion on remaining edge cases in https://github.com/jupyterlab/jupyterlab/issues/10933 (please feel welcome to leave your feedback there).

[2021-09-03 09:43] #10840 closed

[2021-09-03 09:44] krassowski commented on #10895
We got confirmation that JupyterLab 3.1.10 fixes the major issue in the other thread.
I will close this one to focus discussion on remaining edge cases in https://github.com/jupyterlab/jupyterlab/issues/10933 (please feel welcome to leave your feedback there).

[2021-09-03 09:44] #10895 closed

[2021-09-03 10:29] icankeep commented on #10998
thank you for your reply. [comment](https://github.com/jupyterlab/jupyterlab/issues/10840#issuecomment-899661421)can solve my problem. I'll upgrade lab to 3.1.10

[2021-09-03 11:36] rvalieris commented on #3413
no problem, have a nice weekend !

[2021-09-03 13:09] echarles commented on #10997
The notebook has only 45 cells but weights 18 Mbytes.

Firefox has relative pain to display the tree, and VSCode (with a json tree viewer) has pain to open it.

<img width="341" alt="Screenshot 2021-09-03 at 15 09 05" src="https://user-images.githubusercontent.com/226720/132010300-bda011bd-79d0-4f43-b537-32100b92d820.png">

<img width="453" alt="Screenshot 2021-09-03 at 15 09 16" src="https://user

[2021-09-03 13:13] dmonad commented on #10997
The problem is that tornado's Websocket connections are configured to close when they receive messages larger than 10mb. The client indefinitely reconnects and tries to send the same large document which will break the connection again. Since computing the Yjs update for such a large document is mildly expensive (~300ms), you will get noticeable performance problems.

I'll fix this problem by incr

[2021-09-03 14:27] stromal opened #11002 "Cell Types and Their Export to py file"
Add Tabs to New group
1.)
After finishing a Project I have many cells that are just checking values, visualizing, etc.
I want to give a different grouping to these cells so when I export the project to a .py file I can export only the serving part of the dataset.

2.)
Also "RAW" cells should be commented code when I export the notebook to a .py file.

3.)
File / Export Notebook As... / Export Note

[2021-09-03 14:36] fcollonval commented on #10310
The `selector` attribute is missing. If the `overrides.json5` contains:

[code]

it works as expected.

[2021-09-03 15:01] krassowski commented on #11002
There will be different opinions on how export should behave, so it sounds something that could be part of the proposed nbconvert export options dialog: https://github.com/jupyterlab/jupyterlab/issues/8129#issuecomment-609089019.

[2021-09-03 15:20] ianozsvald commented on #10996
@krassowski many thanks for your reply and thanks for the hat-tip :-) I haven't tried the graphical debugger yet, that's on my list now. I'm on `jupyter lab      : 3.1.10` (all version details noted above). I haven't tried the new debugger interface (at all) in Labs, I need to have a play.
I did try `breakpoint()` having flicked the debugger toggle and it didn't break on my line, I also tried `imp

[2021-09-03 15:32] dmonad commented on #10997
Thanks for this super helpful bug report @fperez!

I provided a fix in #11003

[2021-09-03 15:37] stromal commented on #11002
The issue with nbconvert that that is also thinks that raw cells should become runnable code in the .py file. While the point of the raw filed that it keeps the code readable for the human eye while keep it UN-runnable code for the machine. So we need to do better than nbconvert.

[2021-09-03 15:42] fperez commented on #10997
Awesome, thanks so much @echarles and @dmonad for the fast response! The fix is basically a one-liner, that's great to see!

Credit for tracking this down goes to @consideRatio and @tsnow03, who found the original problem and patiently dealt with it, for weeks privately in our hub and finally on [this issue](https://github.com/pangeo-data/jupyter-earth/issues/78) once we had enough specifics to re

[2021-09-03 15:53] echarles commented on #10997
I can imagine a visual toggle per notebook, with a rtc metadata true/false stored in the ipynb file). That is not implemented today, but should be fairly easy to do and really useful to avoid penalties.

[2021-09-03 16:01] XBH5 commented on #9752
Hi, I had the same problem as you and I would like to know how you solved it.

[2021-09-03 16:01] XBH5 commented on #9752
Hi, I had the same problem as you and I would like to know how you solved it.

[2021-09-03 16:40] echarles opened #11004 "Toogle RTC per notebook"
### Problem

https://github.com/jupyterlab/jupyterlab/issues/10997 has shown that RTC can bring non needed time load and performance penalties if the user runs on a --collaborative enabled server but does not uses the RTC features.

It would be nice to have a visual toogle (with its related metadata on notebook level in the ipynb format) that would say if the notebook session is collaborative or n

[2021-09-03 16:41] echarles commented on #10997
I have opened https://github.com/jupyterlab/jupyterlab/issues/11004

Thinking a bit more, we may face various use case less easy than expected. Potential difficulties are:

- What if 2 users have already loaded the same notebook and start to make it collaborative at different time.

Pretty sure there are other user-facing issues to identify and that will appear...

[2021-09-03 16:52] davidbrochart opened #11005 ""orig_nbformat: 1" in content metadata?"
## Description

Saving a notebook sends `orig_nbformat: 1` in the content metadata.

## Reproduce

1. Launch Jupyter Lab
2. Create a new notebook
3. Save the notebook
4. In the network monitor of the browser, you can see a `PUT` at e.g. `http://localhost:8888/api/contents/Untitled.ipynb?1630687142498`, with a request payload of e.g.:

[code]

Note the `"content":{"metadata":{"orig_nbformat":1` in

[2021-09-03 19:07] mrtkp9993 commented on #2951
Code editor out of sync error:

[code]

[2021-09-03 20:24] krassowski commented on #10737
Thank you! I will translate `Globals`. I did not find `Locals` though.

---

Another translation issue ("Rename %s file" in context menu on tab bar):

- [ ] ![Screenshot from 2021-09-03 21-22-01](https://user-images.githubusercontent.com/5832902/132061777-4eb559f9-8767-41a1-8ba9-a5f29d8eea63.png)

[2021-09-03 20:49] thethereza commented on #2951
Look at the last comment

[2021-09-03 21:20] krassowski commented on #2951
Thanks for sharing the workaround @thethereza. This confirms that this issue in VScode is the culprit: https://github.com/microsoft/vscode-jupyter/issues/4576.

[2021-09-04 05:58] arita37 commented on #8548
please add this one thanks

[2021-09-04 06:51] mrtkp9993 commented on #2951
Thanks for the solution. For me, code formatting tools also work weird, after this solution, they are starting properly again.

[2021-09-04 09:34] echarles commented on #10732
https://github.com/jupyterlab/jupyterlab/pull/1079 is merged in 3.1.x branch. I am closing now this issue.

Thank you all for the reports and constructive discussions.

Please reopen this (or a new issue) if you encounter more troubles with the recent code merge.

[2021-09-04 09:34] #10732 closed

[2021-09-04 12:03] krassowski opened #11009 "Rendering on "special variables" and "function variables" should not be possible/break the debugger"
## Description

The new variable renderer for the debugger should not show when hovering over "special variables" or "function variables".
Clicking on "function variables" leads to a traceback in xeus-kernel, while clicking on "special variables" freezes the GUI

## Reproduce

1. Open JupyterLab 4.0a
2. Activate the debugger
3. Set a breakpoint and run the cell with the breakpoint
4. See that  the

[2021-09-04 12:06] krassowski commented on #11009
Related: rendering of lists is now broken on master

![broken-rendering-of-lists-2](https://user-images.githubusercontent.com/5832902/132093843-9ef54969-2d8c-49a2-adf0-ccc3eed20d94.gif)

[2021-09-04 15:05] jasongrout commented on #9698
@gonzalezhomar @dsaad68 - this particular issue was fixed in JupyterLab 3.0.7. You may also have a build failure, but from a different underlying issue. Can you open a new issue with a report of what is failing for you? I suggest using the [reporting guidelines](https://jupyterlab.readthedocs.io/en/stable/getting_started/issue.html) to try to narrow down the problem first before opening an issue.

[2021-09-04 18:19] krassowski opened #11012 "Default variable filters no longer work for xeus-python"
## Description

The default variable filters do not seem to work anymore in the debugger for xeus on 4.0 / master. It works well on JupyterLab 3.1 demo binder.

## Reproduce

1. Switch to xeus-python kernel
2. Activate the debugger
3. Enter a breakpoint
4. See that `debugpy` shows up on the list of variables

![Screenshot from 2021-09-04 19-12-24](https://user-images.githubusercontent.com/5832902/

[2021-09-04 21:28] meeseeksmachine commented on #1145
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/how-do-you-search-a-folder-for-all-instances-of-a-keyword/10610/2

[2021-09-04 23:49] krassowski commented on #10856
Ouch, this is bad. I am changing tab titles for external files in a couple of extensions (LSP, jump-to-definition) to show " (external)" annotation. It turns out that now it renames the files, including system files on disk, see https://github.com/krassowski/jupyterlab-lsp/issues/669#issuecomment-913055706, breaking users conda/Python installations. I really believe we should retain the separation

[2021-09-05 00:41] jasongrout commented on #10856
We hadn't considered a usecase like this (the tab title for a document not being the document name). We'll have to figure out, then how to reconcile that with the workflow of double-clicking on a tab to edit the document name. I suppose an obvious solution is to introduce a new piece of data in the widget title, which is the editable data in the title. Another solution would be to have a concept o

[2021-09-05 12:07] vigneshgig opened #11014 "Run the cell which are pre selected sequentially"
Thanks for your great projects, I feel this feature may help all other data science developers. As a data science or machine learning developer, we do a lot of changes to code and do trial and error. What if I can select the cell sequentially which needed to be run and also save the selected cell sequence so that when every I need to run that particular sequence of cell.

Thanks,
Vignesh E

[2021-09-05 14:51] gloryVine commented on #10443
If anybody still has this problem, see this issue [this issue](https://github.com/jupyterlab/jupyterlab/pull/10485) for the solution.

[2021-09-06 08:50] icankeep commented on #10998
@krassowski hello, my jupyterlab upgraded to 3.1.10, but it still have the same problem when I opened the previous file. Is this the expected state?

[2021-09-06 12:12] krassowski commented on #10998
Can you create a reproducible example please, so we can try to re-create this and diagnose the issue?

[2021-09-06 12:24] dmonad commented on #11004
I'm not against this. But this should only be done as a short-term solution.

RTC doesn't impose a significant performance overhead. Actually, when used correctly it should make the system faster and lead to shorter loading times (e.g. when content is cached in the browser). The problem is that we are currently doing everything twice to keep compatibility to the old API: We apply every action and

[2021-09-06 12:29] icankeep commented on #10998
I don’t know the steps to reproduce, but it can be reproduced by opening this notebook with the lab of 3.1.10

[code]

[2021-09-06 12:32] icankeep commented on #10998
![image](https://user-images.githubusercontent.com/39434627/132217823-8b53d4b5-9be9-418c-9fe2-544f45d16321.png)

When deleting some cells, these horizontal lines will disappear

[2021-09-06 12:34] dmonad commented on #11005
We originally enforced that this property is set as it is defined in the `nbformat`. Not defining it is technically not allowed. But I can see that the convention might not follow the spec.

https://github.com/jupyterlab/jupyterlab/blob/master/packages/nbformat/src/index.ts#L46-L49

[2021-09-06 12:41] davidbrochart commented on #11005
Then maybe it should be set to the actual version of `nbformat` that Jupyter Lab supports?

[2021-09-06 12:43] dmonad commented on #11005
Oh yeah definitely. I think I copied this from somewhere and assumed that `1` is the current version. What is the current version?

[2021-09-06 12:45] davidbrochart commented on #11005
[The latest seems to be 5.1.3](https://nbformat.readthedocs.io/en/latest), but I'm not sure which one JLab supports.

[2021-09-06 12:53] dmonad commented on #11005
That is the package version of `nbformat`. In many cases spec-version is something different from package version. Since `orig_nbformat` must be an integer, is there any indication that `jupyter_server` creates versions with `orig_nbformat: 5`?

[2021-09-06 13:02] davidbrochart commented on #11005
I think `orig_nbformat` is the major version number.
Actually, I'm a bit confused about the `orig_nbformat` field, since [it should not be saved to the notebook file format](https://github.com/jupyter/nbformat/blob/f101cd2b062609823e9cdbf0e8de697a6c22638e/nbformat/v4/nbformat.v4.5.schema.json#L58-L62). That's also why I opened this issue.

[2021-09-06 13:08] dmonad commented on #11005
I saw that as well. Then what does the `orig_nbformat` is used for if it is not stored?

I'm a bit hesitant to set this to 5 as I don't see any other plugin setting it to `5`. The spec is super confusing I would not be surprised if 4 is the current spec version.

You are right though that spec version 1 is not supported as it is said in https://github.com/jupyterlab/jupyterlab/blob/master/packages

[2021-09-06 13:12] davidbrochart commented on #11005
That's why I opened this issue :smile:
In any case, it shouldn't be set to a fixed value, but instead it should be retrieved from JLab (JLab "implements" a specific nbformat). I have no idea how/where to get it, though.

[2021-09-06 14:04] nicogab34 opened #11016 "command not found"
## Description

## Reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error '...'

## Expected behavior

## Context

- Operating System and version:
- Browser and version:
- JupyterLab version:

<details><summary>Troubleshoot Output</summary>
<pre>
Paste the output from running `jupyter troubleshoot` from the command line here.
You may want to sanitize the paths in the outp

[2021-09-06 14:42] dmonad commented on #11005
The shared model only implements it because it is enforced by the typing information.

Setting it to a fixed value seems to be the only if we want to keep shared-model independent from JupyterLab.

[2021-09-06 14:57] davidbrochart commented on #11005
I understand your point of view. It seems you are forced to specify it, but don't really know to which value.
In this case, maybe we can agree on a "don't care" value (like `0` or `-1`, something that cannot be a valid version number), and ignore this value in JLab?

[2021-09-06 15:17] gonzalezhomar commented on #9698
Hey! Since I didn't understand the issue, I solved it by completely uninstalling anaconda distribution and reinstalling it. I believe it was a pip package and it's requirements the things that generate a different issue.

[2021-09-06 15:51] jasongrout commented on #11005
`orig_nbformat` is defined here in the spec: https://github.com/jupyter/nbformat/blob/f101cd2b062609823e9cdbf0e8de697a6c22638e/nbformat/v4/nbformat.v4.5.schema.json#L58-L62

The current spec version is 4.5. (The current nbformat python package number is 5.something, but this field is talking about the spec version.)

Basically, when the notebook server opens a new notebook file, it automatically c

[2021-09-06 16:08] jasongrout commented on #11005
There are several fields that are inserted by the server (really by the python nbformat package) that are not in the on-disk format, as we see at https://github.com/jupyter/nbformat/blob/373d926154d47fa09c453958720786f8ee8aa737/nbformat/v4/rwbase.py#L89-L99, including notebook signature and trusted status. However, the only one of these fields that is in the spec is `orig_nbformat`. I think the sp

[2021-09-06 16:10] jtpio commented on #11016
Closing as this appears to be a mistake.

[2021-09-06 16:10] #11016 closed

[2021-09-06 16:10] jasongrout commented on #11016
@nicogab34 - it appears to be a mistake because no information is filled out above. Please open an issue and fill out the information requested if you would like help.

[2021-09-06 16:36] dmonad commented on #11005
Thanks so much for the explanation @jasongrout!

I'll create a PR to use the current nbformat version. Now that we have a shared-model we might benefit from sharing the version-number that was used to create the notebook. There is no schema for Yjs documents, applications have to make sure that clients understand the content of the shared model. Future versions of shared-model recognize when `orig

[2021-09-06 18:41] SeanCPatrick commented on #2951
I am also getting a "code editor out of sync" error.

It seems like this is the information you guys want, but let me know if it isn't.

`{"model":"# Add Matplotlib inline magic command\r\n%matplotlib inline\r\n# Dependencies and Setup\r\nimport matplotlib.pyplot as plt\r\nimport pandas as pd\r\n\r\n# File to Load (Remember to change these)\r\ncity_daota = _to_ladChallenge5./PyBer/Resources/city_d

[2021-09-06 18:51] #10369 closed

[2021-09-06 18:54] blink1073 commented on #3413
That sounds right to me, mind making a PR to terminado?

[2021-09-06 19:07] #10414 closed

[2021-09-06 19:38] rvalieris commented on #3413
cool ! I will.

there is one thing I forgot to say tho, and it goes back to the original issue @athornton reported.
the TERM variable is supposed to communicate the capabilities of the terminal emulator, so the default value should be correctly set for everyone, it seems that terminado supports up to 256 colors: [script](https://gist.github.com/HaleTom/89ffe32783f89f403bba96bd7bcd1263/f08769c32800

[2021-09-06 19:54] blink1073 commented on #3413
That sounds right to me too, also based on  https://wiki.archlinux.org/title/Xterm#TERM_Environmental_Variable

[2021-09-06 21:46] #10997 closed

[2021-09-07 13:10] rvalieris commented on #3413
uh oh, I just realized if you start jupyterlab directly from the terminal the existing TERM variable will be used by terminado, this will cause issues if the TERM is too different...
I guess the original behavior of ignoring env[TERM] was right after all... sorry I didn't catch this earlier. I will make another PR to revert this part.

so that doesn't leave any easy way for the user to override th

[2021-09-07 13:38] gorlop commented on #10940
I organized some of the folders in my root folder into sub folders, so that now there are only 11 (previously 62).

Since I did this, I haven't had the issue.

[2021-09-07 16:06] biphasic commented on #4422
this used to work when running `jupyter lab build --name=my_instance` but that's not the case in version 3.1.7 anymore... Instead it now displays the path of my working directory in the tab name. It would be nice to be able to provide a custom name when working with multiple instances connected to different machines to be able to tell them apart easily.

[2021-09-07 17:48] fcollonval commented on #11002
I would like to highlight the point of @krassowski as the export feature is using `nbconvert`. So adding some dialogs to customize the exporter tool sounds like a good enhancement.

Regarding nbconvert and _raw cells_, would you mind open a enhancement suggestion; maybe proposing to get some configuration to choose the behavior.

Finally regarding the naming, this is more complicated that it looks

[2021-09-08 06:18] SeongchunYang commented on #9410
Same issue now. Only on <code>3.6</code>. Just switched my env to <code>3.7</code> and no longer had this issue.

[2021-09-08 08:03] JohanMabille opened #11023 "Rendering special and function variables broken after executing a cell"
## Description

The special variabels and function variables cannot be expanded after a cell has been executed, as shown below:

![bug_inspect_variable](https://user-images.githubusercontent.com/6754742/132469446-6b6d4a0f-b8d9-4cb6-8cc6-d71ecb1e0b1d.gif)

## Reproduce

1. Start the debugger
2. Click the special (or function) variables in the variables panel of the debugger => it's empty but that's

[2021-09-08 09:10] eudoxos commented on #9532
I fully second this. I have to *read* the traceback, then identify those lines in the cell code (if it is traceback from the cell code itself). The best would be to automatically position cursor at the exception location in the code, highlight that line in red, and show the exception text as tooltip at the exception location. The traceback could also be somewhere else than under the cell (not usef

[2021-09-08 10:57] LunarLanding opened #11027 "Shift-Enter on debug magic hides prompt, execution frozen"
## Description

Execution frozen, requiring  kernel restart, if shift+enter is used on debug cell.
This maybe did not happen before.

## Reproduce
 In cell:
[code]
Then run `%debug` in a new cell. Kernel is shown as executing as expected.
Then select prompt, and press `shift+enter`.
Prompt will be hidden; debug cannot be exited since it requires entering `exit()` at prompt.
Interrupting also does

[2021-09-08 12:52] agoose77 commented on #10853
I saw this today (similar issue to OP), so can reproduce :)

[2021-09-08 12:53] krassowski commented on #10853
@agoose77 can you repro on 3.1.10, or was it seen in an earlier release?

[2021-09-08 12:54] agoose77 commented on #10853
Oh, good catch! My mistake, I'm lagging by the patch version.

[2021-09-08 13:08] jtpio commented on #11023
Thanks @JohanMabille for reporting and @hbcarlos for investigating.

Looks like the relevant place in the code is here:

https://github.com/jupyterlab/jupyterlab/blob/96d76ef86fde932e8cfa6e9ffb69ac5a38a943a4/packages/debugger/src/panels/variables/tree.tsx#L157

And adding `variablesReference` to the key should help fix this case.

[2021-09-08 13:25] jtpio commented on #11023
@JohanMabille which version of JupyterLab is it? To know whether this needs a backport to 3.1.

[2021-09-08 13:30] JohanMabille commented on #11023
I was testing with 3.1.8.

[2021-09-08 14:14] Mithil467 opened #11030 "`jlpm run build` command modifies json files on windows due to path style differences"
## Description

Following the [instructions](https://jupyterlab.readthedocs.io/en/latest/developer/contributing.html#installing-jupyterlab) on the contributing guidelines, running `jlpm run build` on windows results in changes to some of the json files.

<details><summary>git status output</summary>
<pre>
        modified:   builder/tsconfig.json
        modified:   buildutils/template/tsconfig.js

[2021-09-08 14:15] meeseeksmachine commented on #8668
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/configuring-jupyterlab-markdown-highlighter-to-support-myst/6625/3