[2020-03-18 17:38] jasongrout commented on #8051
That would be great if you wanted to work on this!

[2020-03-18 18:33] telamonian commented on #8052
Spooky.

All of the browser launching stuff is handled by the `webbrowser` python package (go [here](https://jupyter-notebook.readthedocs.io/en/stable/config.html#options) and search for "webbrowser" for the docs), rather than anything in jlab proper.

Did Signal somehow get set as your system's default browser? If not, then somehow the default config for `webbrowser` has gotten into a weird state

[2020-03-18 18:42] telamonian commented on #8048
`var(--jp-icon-caret-right)`. See https://github.com/jupyterlab/jupyterlab/blob/master/packages/ui-components/style/deprecated.css for the full list of icons available for use as CSS background images

[2020-03-18 18:44] #8048 closed

[2020-03-18 20:16] BrianChevalier commented on #3275
HUGE update on iPadOS! A mouse/trackpad works like a regular cursor that does hovering, supports right click and supports rearranging tabs! These features require a pointing device and don’t work with touch but they’re now possible! This is available in iOS 13.4 available for the public next week!

https://twitter.com/_brianchevalier/status/1240370028643377152?s=21

[2020-03-18 22:47] jasongrout commented on #3275
This is so great to hear. Thanks for sharing!

[2020-03-18 23:48] isabela-pf commented on #5524
This came to my attention because of @dhirschfeld via #7039. I've just started working on this, and I'm curious to hear what people think the most useful or unknown default shortcuts are in JupyterLab. If you want to look at available shortcuts in list form, you can check my [WIP command palette inventory](https://airtable.com/invite/l?inviteId=inv6VRrH2sJ4e2Hdz&inviteToken=09a2c782157eb958469c545

[2020-03-19 07:29] aquirdTurtle opened #8054 "Where did execution timings go? (Jupyterlab 2.0)"
Hello, I noticed a while ago when [this](https://github.com/jupyterlab/jupyterlab/pull/6864) PR was merged. In jupyterlab version 1.2.6 I can make use of this. But now, in Jupyterlab 2.0, I no longer see the `Toggle Recording Cell Timing` command, and adding the `"record_timing": true` metadata to the notebook metadata manually doesn't seem to work either. Where did it go? I was just about to impl

[2020-03-19 12:31] jasongrout commented on #8054
Look in the Advanced Settings for notebooks - we made it a system-wide setting, rather than a setting in specific notebooks. See the changelog at https://jupyterlab.readthedocs.io/en/stable/getting_started/changelog.html#v2-0-0, in particular:

[2020-03-19 14:38] saulshanabrook commented on #8038
I would like to help make a 2.1.0 release happen, so we don't have to wait on 3.0.0 for non breaking changes to be published. I can be the point person for that release if that is useful.

Do we have timelines nailed down between pre-release releases and the final release?

A schedule could be:

1. Release a 2.1.0 prerelease next wednesday.
2. Release 2.1.0 final a week after that.

[2020-03-19 15:01] jasongrout commented on #8038
First of all, *thank you*!

We have 66 open PRs. I'm sure some of them are like your PR that we merged, in that they are backwards compatible and could go into a 2.1. Do you want to take a pass through the PRs to see what else could go in?

I *think* we haven't merged anything into master that is backwards incompatible. According to the timeline above, we should branch off a 2.x branch now, but un

[2020-03-19 16:39] consideRatio opened #8055 "SourceMap mislocated on JupyterLab running on a JupyterHub?"
I lack a lot of understanding of relevance here, but I think I fail to get SourceMap's for JupyterLab when working against a JupyterLab instance in JupyterHub where the root path of the jupyterlab server is `/home/erik` rather than `/`.

Could this be the reason for me failing to inspect non-minimized source code? I would love to improve the debugging experience on JupyterLab's served through Jupy

[2020-03-19 18:29] aquirdTurtle opened #8056 "Recording execution timings seems to break notebook"
## Description

When I set the recordTimings option to be true with
[code]
in the user preferences for the notebook, the "execution timings" get outputted to the cell metadata, but the kernel doesn't seem to actually execute the cell.  For example, print("hello world!") won't print, `1+1` won't output `2`, and the cell reports jibberish as having evaluated normally instead of causing an error.
![i

[2020-03-19 18:42] aquirdTurtle commented on #8054
Great, thanks.

[2020-03-19 18:42] #8054 closed

[2020-03-19 19:48] mlucool commented on #8054
@aquirdTurtle I actually already wrote a plugin that does this. Let me see if I can get it in shape to share. Would you mind holding off a week or so?

[2020-03-19 20:01] aquirdTurtle commented on #8054
@mlucool Ah, this type of thing seems to happen all the time with jupyterlab extensions. Unfortunately I've already put in a good chunk of work - if it weren't for [this](https://github.com/jupyterlab/jupyterlab/issues/8056) issue I ran into in Jupyterlab 2.0 I'd have an early version already ready to publish. But quite possibly your version would be far superior - I'm a very inexperienced with ja

[2020-03-19 20:25] VPetukhov commented on #2275
Thanks so much @kgryte !
So it's merged, and it works perfectly! Should the issue be closed?

[2020-03-19 20:53] kgryte commented on #2275
On my end, yes, this issue can be closed due to the ToC extension; however, not clear whether desire exists to build this directly into core.

[2020-03-19 21:39] jasongrout commented on #8056
I reproduced this with stock jlab 2.0.1 as well.

[2020-03-19 21:50] jonathaneichelberger commented on #7081
I believe the issue is still occurring, but I'll wait for others to chime in. Is there a commit that suggests this issue should be resolved? Is there a timeout like @nibheis mentioned that can be configured to alleviate this issue for those with poor network connections? I imagine this is not a problem for those that use juptyerlab on their local machines/laptops. This is more of an issue for thos

[2020-03-19 22:14] meeseeksmachine commented on #7279
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/plugin-extension-development-adding-a-widget-to-header-area-of-jupyterfrontend-ishell-does-not-make-the-area-visible/3682/5

[2020-03-19 22:18] nibheis commented on #7081
I have not been testing 2.0, because last time I tried (couple a weeks ago), some extensions were not ready yet.

I agree that in ideal conditions (lab running locally, or simply a good network) this issue almost never occurs... but right now, all our thousands of students are working from home, lectures are happening online - well, you know what's going on. All in all, the network is overloaded a

[2020-03-19 22:20] stefansimik commented on #8040
Pull request ready:
https://github.com/jupyterlab/jupyterlab/pull/8058

[2020-03-19 23:33] jasongrout commented on #7279
The reason the top bar shows up is that we explicitly set a min height for it: https://github.com/jupyterlab/jupyterlab/blob/0731248dfdfba497d5a156c38b6e39b68bc8e790/packages/application/style/base.css#L38

[2020-03-19 23:40] meeseeksmachine commented on #7279
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/plugin-extension-development-adding-a-widget-to-header-area-of-jupyterfrontend-ishell-does-not-make-the-area-visible/3682/6

[2020-03-19 23:45] jasongrout commented on #7279
So, it looks like you could follow what the top area does and just set a min-height for the jp-header-panel:

[code]
That isn't a very satisfying solution, but will work with what we have now. For the future, I suggest we change the header to a box panel, like the bottom area is already, and then you'd be able to just set a min-height for the widget you are adding, and the header will automaticall

[2020-03-19 23:54] jasongrout commented on #7279
I did this in #8059.

[2020-03-19 23:54] meeseeksmachine commented on #7279
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/plugin-extension-development-adding-a-widget-to-header-area-of-jupyterfrontend-ishell-does-not-make-the-area-visible/3682/7

[2020-03-20 00:16] jasongrout commented on #8038
@saulshanabrook - I added back a 2.1 milestone and have been assigning a few PRs there for consideration.

[2020-03-20 00:17] saulshanabrook commented on #8038
Thanks @jasongrout! I am working on getting some time for this.

[2020-03-20 03:33] its-dhung commented on #7967
Looks great! A couple of thoughts regarding the disclaimer dropdown.

1. I like the copy used in the modal mockup above. It's more clear in what it's warning the user about IMHO.
2. Instead of a checkbox to enable the extension manager, how about a button? A button may make it more obvious that the user needs to do something in order to access extensions. However, if we think users may want to dis

[2020-03-20 05:28] EvelyneC commented on #7081
I cannot test this until november due to maternity leave.
Issue was indeed associated with a remote jupyterlab instance.
Will inform our platform admin.

[2020-03-20 09:02] machafulla commented on #7279
I understand that this would fix the issue, but I don't know how to do this from the application plug-in extension. I can see that e.g.  `#jp-bottom-panel` is defined in <jupyterlab_1.2.6>\packages\application\style\base.css, and there's no definition for `#jp-header-panel`... can I just set #jp-header-panel as you say somewhere in the extension and it would be used? I have seem that there are ext

[2020-03-20 09:05] meeseeksmachine commented on #7279
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/plugin-extension-development-adding-a-widget-to-header-area-of-jupyterfrontend-ishell-does-not-make-the-area-visible/3682/8

[2020-03-20 09:12] machafulla commented on #7279
That was a very near future indeed!

[2020-03-20 09:57] machafulla commented on #7279
Yes that did it! 🎉

[2020-03-20 10:23] WangChangsongGit opened #8060 "After upgrading to jupyterlab2.0, pictures referenced in JavaScript do not take effect"
## Description

## Reproduce

1. In my extension, Use UI components to pass icon addresses to components in javascript like this:
icon: require('../../assets/style/images/toolbar/data.png')

2. install the extension

## Expected behavior

The icons on the UI can be displayed normally in jupyterlab 1.2.x, but when I upgrade both jupyterlab and my extensions to 2.0, the icons can not show.

The css

[2020-03-20 10:28] WangChangsongGit opened #8061 "How to internationalize"
I want to internationalize Jupyterlab's menus and other contents, but I don't see the introduction of an internationalization framework in Jupyterlab. How can I complete the internationalization without intruding into the Jupyterlab source code?

[2020-03-20 10:28] asteppke commented on #7468
Just a small data point from a user perspective. Currently two points are really painful in the current extension system.

- The Typescript extension version and Python (or other) package are not by default checking their respective version compatibility. This leads to all kinds of scenarios of mismatches with errors ranging from subtle bugs to total crashes of the Jupyterlab interface. Some exten

[2020-03-20 10:32] WangChangsongGit commented on #8060
Are there any alternatives?
My requirement is: I can reference the image files in the style directory of my project in the JavaScript of my plugin.
Because I use a third-party UI framework, I need the icon address as an input parameter

[2020-03-20 12:18] saulshanabrook commented on #7468
Thanks @asteppke that's helpful! Yeah the plan that @blink1073 is working on would I think address both of these, because all packages would be python packages and so we could use conda/pip to verify that versions are pinned correctly. And each package would come pre-built so you would less global shared state, unless you chose to bundle them all together for performance.

[2020-03-20 12:46] vidartf commented on #7081
It might be useful to also post about this on the JupyterHub repo (or discourse) linking to this one. If this is hub specific, that might get the eyes of someone who has more expertise with that.

[2020-03-20 14:23] fm75 commented on #7952
Seeing this also with:
jupyter --version
jupyter core     : 4.6.3
jupyter-notebook : 6.0.3
qtconsole        : 4.7.1
ipython          : 7.13.0
ipykernel        : not installed
jupyter client   : 6.0.0
jupyter lab      : 2.0.1
nbconvert        : 5.6.1
ipywidgets       : not installed
nbformat         : 5.0.4
traitlets        : 4.3.3

[2020-03-20 15:54] asodeur commented on #8049
This was caused by a broken Bokeh installation. Sorry for the noise.

[2020-03-20 15:54] #8049 closed

[2020-03-20 15:58] jasongrout commented on #7952
This is a documented problem in codemirror: https://github.com/codemirror/CodeMirror/issues/2344

I elaborated on the current state of the code causing this issue at https://github.com/codemirror/CodeMirror/issues/2344#issuecomment-601774481

[2020-03-20 16:12] saulshanabrook commented on #8038
I also just went through and added milestones to most of the recent PRs. I will go through the existing PRs tagged with 2.1 and see what the next step is.

[2020-03-20 16:21] ianhi opened #8062 "Pasting image from system to markdown cell either doesn't render image or adds extra text"
## Description
There are two seemingly related issues here.
1. When I paste an image that I copied from the file browser the image is not embedded:
**Expected**: `![image.png](attachment:image.png)`
**Actual**:
[code]
2. When I copy an image by right clicking on the image in the system image viewer it pastes extra text into the markdown cell
**Expected** : `![image.png](attachment:image.png)`
**Ac

[2020-03-20 16:42] jasongrout commented on #8062
For me on macOS 10.14 and Firefox, I get:

* Drag and drop from Finder
  * If the image has a space in its filename, I get the text `![image with space.png](attachment:image with space.png)`, but rendering the markdown cell does *not* show the image, just this text
  * If the image does not have a space in its filename, I get the text `![image.png](attachment:image.png)` and rendering does show th

[2020-03-20 16:50] blink1073 opened #8063 "The app shutdown behavior should be customizable"
## Description
Currently the app shutdown behavior is provided as a command in the [main menu extension](https://github.com/jupyterlab/jupyterlab/blob/6d86917d74202e04b73459993b30f5a281704910/packages/mainmenu-extension/src/index.ts#L354).  That command cannot easily be overridden by deployments that want to provide a custom shutdown behavior.  For example, they may want to close all open notebook

[2020-03-20 16:51] blink1073 commented on #7996
I'd like to implement just the ability to override the `NotebookWidgetFactory` in 2.1 and save the more invasive changes for 3.0.

[2020-03-20 16:54] blink1073 commented on #8038
Thanks @saulshanabrook!  I added two issues to the list and assigned them to myself.  I should have the two PRs done by the end of the weekend.

[2020-03-20 17:08] jasongrout commented on #8063
This sounds like a great idea. We've also had commands hardcoded in the main menu that were not easy to override. Perhaps this should be the general pattern?

[2020-03-20 17:09] jasongrout commented on #7996
Sounds good to me.

[2020-03-20 17:31] ianhi commented on #8062
### spaces in names
I have the same issue when there are spaces in the name. However, when I copy from the image viewer names with spaces do end up being rendered. I think this is because the spaces are replaced with `%20` by my image viewer.
Results in this: `file:///home/ian/Pictures/name%20with%20space.png![image.png](attachment:image.png)` which does render the image.

### extra text
1. I trie

[2020-03-20 17:39] blink1073 commented on #8063
I agree.  Our app has a workaround for now to remove the item directly from the file menu by command id.  I'll save this for 3.0.

[2020-03-20 18:13] jasongrout commented on #8063
Note that a more invasive hack would be going into the command registry and modifying the command to always be not visible or enabled (maybe you can also directly remove it?). That would disable the command system-wide, rather than just from the menu.

[2020-03-20 18:43] jasongrout commented on #7952
I've given at least one suggestion for how someone could fix this in codemirror at https://github.com/codemirror/CodeMirror/issues/2344#issuecomment-601788164 - feel free to take a look if you'd like to help and submit a PR to codemirror!

[2020-03-20 19:26] jasongrout commented on #8062
Yes, and those are completely separate from the browser drag/drop events.

Yes

I'm wondering if that extra text before the image is being added *before* this handler is called (which is why it would show up first), so the stop propagation wouldn't fix it. Can you log the contents of the cell when we hit this handler to see if something has added the text already? Or even better, you can put a bre

[2020-03-20 20:14] #7760 closed

[2020-03-20 22:47] ianhi commented on #8062
You're right, the extra text is being added before the handler is called.
I added a firefox debugger breakpoint on clipboard events which immediately brings us to [these](https://github.com/codemirror/CodeMirror/blob/master/src/input/TextareaInput.js#L48-L49) lines in the code mirror source:
[code]
The text appears during the `handlePaste` call.  I dug deeper into that function but I'm sure how us

[2020-03-20 23:17] jasongrout commented on #8062
I'm impressed! You seem comfortable and competent with these tools.

[2020-03-20 23:21] jasongrout commented on #8062
Though the nice thing is that we do have exactly the data that was pasted in:

So presumably we could easily find that data right at the cursor position, delete it, and add our own.

[2020-03-20 23:24] jasongrout commented on #8062
Even better, it appears that codemirror fires a paste event: https://codemirror.net/doc/manual.html#event_dom

It looks like you can give the event a property to have codemirror ignore it.

[2020-03-20 23:28] ianhi commented on #8062
Thanks :). Mostly, I just really like using jupyter, so I'm motivated.

I figured out a partial fix, I think with some work it could be solution though that will require more work. The codeeditor widget as an event listener for paste added [here](https://github.com/jupyterlab/jupyterlab/blob/22bc5448518337fe16eda7cb5338d2dd49bdadd1/packages/codemirror/src/editor.ts#L167-L171):
[code]
if we change

[2020-03-20 23:30] jasongrout commented on #8062
Or since we've abstracted codemirror out, so the cell doesn't know it is dealing with codemirror, perhaps in the codemirror editor.ts file, we hook into the paste event and turn it off *always*, and then just handle the paste event from JupyterLab code, pasting text or files or whatever we want.

[2020-03-20 23:34] jasongrout commented on #8062
Right, this is trapping the event in the capture phase, but I think that should probably be a last resort. I think it's probably just cleaner to turn it off in codemirror always, since the codemirror default action is really very simple, and just implement it ourselves. Another option is to make this part of the abstract editor interface, so that it is exposed to user code.

[2020-03-20 23:43] jasongrout commented on #8062
For example, this turns off codemirror paste handling:

[code]

[2020-03-20 23:49] jasongrout commented on #8062
Perhaps the editor config at https://github.com/jupyterlab/jupyterlab/blob/22bc5448518337fe16eda7cb5338d2dd49bdadd1/packages/codeeditor/src/editor.ts#L579 can be modified to have a new flag for whether the editor should handle paste events. Then the codemirror editor can look at the value of that flag and decide whether to disable codemirror handling or not dynamically. Then most editors would use

[2020-03-21 00:02] ianhi commented on #8062
That's a good solution. Perhaps the insertion of normal text should be done using the `insertText` function that is being implemented in: https://github.com/jupyterlab/jupyterlab/pull/7908

Aside:

Can you explain why this should be a last resort?

[2020-03-21 00:04] jasongrout commented on #8062
Something like this:

[code]

[2020-03-21 00:11] jasongrout commented on #8062
In general, handling events in the capturing phase messes up the usual bubbling semantics, so we try to be really careful about how we use it. It definitely does the trick in here by getting to that event before codemirror, but is sort of a hack in that way. And in this case, I think it's a bad idea because this would encode in the editor component some hardcoded criteria for when the paste event

[2020-03-21 00:20] blink1073 commented on #8063
Looking at the command registry apis, it isn't possible for someone other than the command registerer to affect a registered command.

[2020-03-21 00:30] Roffild opened #8065 "Is there any shortcut to insert a new line below the current line?"
https://github.com/jupyter/notebook/issues/3918

In JupyterLab, I tried to change the behavior using this config:
[code]
I probably need the option "notebook:linebreak", which is not there.

[2020-03-21 00:33] jasongrout commented on #8063
Not unless you throw off the hood and use internal details *evil grin*. I thought we were talking about hacks...

[2020-03-21 00:35] jasongrout commented on #8065
Doesn't Enter insert a new line below the current line in the notebook?

[2020-03-21 17:21] lrq3000 commented on #5492
This should be in standard jupyterlab AND jupyter notebook! I did not even know that Jupyter could work directly on .py files, I thought these could only be generated from nbconvert (and I am very early Jupyter adopter!). Please add this functionality in standard!

[2020-03-21 18:23] jaepil-choi opened #8067 "Images that has spaces in its filename/path can't be displayed using ![](filename.png) method."
## Description
![image](https://user-images.githubusercontent.com/25889304/77233553-9a64b800-6beb-11ea-9419-97e2b123763c.png)

As you can see, a file with spaces can't be displayed using a standard `![](filename.png)` way.

## Reproduce

It's pretty much self-explanatory. Dragging in the image doesn't solve the problem, as it invokes the same action described above.

1. Go to '...'
2. Click on '..

[2020-03-21 18:31] jaepil-choi commented on #8067
Temporary solution:

Replace all spaces to `_` using cmd command. Say, you're changing all `*.png` files.

`$ cmd /e:on /v:on /c "for %f in ("* *.png") do (set "n=%~nxf" & set "n=!n: =_!" & ren "%~ff" "!n!" )"`

See more: https://stackoverflow.com/questions/20791264/how-to-replace-all-spaces-by-underscores-in-all-file-names-of-a-folder

[2020-03-21 21:10] Roffild commented on #8065
The Jupyter QtConsole documentation in the "Multiline editing" section has an excellent description of the behavior of the code editor.

https://github.com/jupyter/qtconsole/blob/f65369c602a659ad0e3bb6e87ccc4df50ba2907c/qtconsole/usage.py#L26

I would like to have a full implementation of the Jupyter QtConsole behavior in JupyterLab Web.

[2020-03-22 00:22] jasongrout commented on #8065
I think we have some of that already in the Console, which is the analog to the qt console in JupyterLab. We'd welcome discussion and PRs to make it better, of course!

[2020-03-22 00:25] jasongrout commented on #8065
It's still not clear to me exactly what you are advocating for, though. Are you advocating for changes in the notebook, or the JupyterLab console? You mention qt console, so that would be most similar to the JupyterLab console, but you brought up the notebook above, so I'm confused.

[2020-03-22 01:00] Roffild commented on #8065
To create Python scripts, Pycharm suited me. But the statistical syntax analyzer does not work well with Pandas. Now I am looking for an alternative.

I tried JupyterLab Web first, but the code execution behavior didn't work for me.

Tried Jupyter QtConsole today. I liked the method of running the code.

[2020-03-22 02:40] jasongrout commented on #8065
Thanks for the extra context. Try the Code Console in JupyterLab for similar behavior: https://jupyterlab.readthedocs.io/en/stable/user/code_console.html

Adjust the way enter/shift-enter works by changing the "Console Run Keystroke" in the settings menu.

Or keep using qt console if you're happy with it, of course. It's a fine Jupyter frontend as well!

[2020-03-22 07:16] echarles opened #8068 "CI Linux Docs step fails due to too many requests for url"
## Description

The Azure `Linux Docs` build step systematically fails with

Error message taken from e.g. https://dev.azure.com/jupyterlab/jupyterlab/_build/results?buildId=5617

[code]

## Reproduce

Open an pull request on jupyterlab repository and look at the CI build result.

[2020-03-22 13:01] blink1073 commented on #8068
cf https://github.com/minrk/pytest-check-links/pull/7 for a fix

[2020-03-22 13:33] #7279 closed

[2020-03-22 13:43] nanoant commented on #1281
I concur. Very desirable feature but somewhat not catching attention of the developers here. It seems all the necessary infrastructure is there. Can we have these both https://codemirror.net/demo/visibletabs.html and https://codemirror.net/demo/trailingspace.html exposed via advanced settings please?

[2020-03-22 22:33] CrisBMoya opened #8070 "No shortcut for 'clear console cells' option under edit menu."
Hello.

In JupyterLab, there's no shortcut to clear console cells, but there's an option under edit menu though. No way to map that one to a keyboard shortcut.

Current edit menu shortcuts are:
[code]
And no one for 'clear console cells'

Thanks.

[2020-03-23 08:16] echarles commented on #7933
Snippet to install and try the listing branches.

[code]

[2020-03-23 11:02] #8040 closed

[2020-03-23 11:05] vidartf commented on #1281
PRs to help out are of course always welcome. Even a first attempt where you ask if someone can help clean it up will typically make it easier to get through 👍

[2020-03-23 11:13] taojiaming19961115 opened #8071 "Failed validating schema (@jupyterlab/github:package): '^0.18.0' is not valid under any of the given schemas"

[2020-03-23 11:13] taojiaming19961115 opened #8072 "Failed validating schema (@jupyterlab/github:package): '^0.18.0' is not valid under any of the given schemas"

[2020-03-23 11:13] taojiaming19961115 commented on #8072
Failed validating schema (@jupyterlab/github:package): '^0.18.0' is not valid under any of the given schemas

[2020-03-23 11:13] taojiaming19961115 commented on #8072
Failed validating schema (@jupyterlab/github:package): '^0.18.0' is not valid under any of the given schemas

[2020-03-23 11:13] taojiaming19961115 commented on #8072
Failed validating schema (@jupyterlab/github:package): '^0.18.0' is not valid under any of the given schemas

[2020-03-23 11:23] vidartf commented on #8061
Unfortunately, there is no internationalization frameworks used in lab :( While the classic notebook uses [Jed](https://messageformat.github.io/Jed/) for the client side, I think we might want to go for something more flexible? E.g. https://www.i18next.com. Thoughts?

For the server side messages (in console and sent to the client) we can probably reuse what is done by notebook (/ jupyter-server).

[2020-03-23 15:00] agoose77 commented on #6936
I'm working on other deadlines at the moment, but I think the patch itself could be quite simple:
http://www.mergely.com/MpZ2Sn60/

[2020-03-23 16:15] misterbeebee commented on #7932
I've started a PR 8073, but I don't have a test environment set up yet. I might have one later.

If anyone has an automatically integrating test environment set up, this is a simple change to merge in and test.

[2020-03-23 18:36] misterbeebee commented on #7932
Automatic testing of PR #8073 failed, but I can't see how failures are caused by this PR.

[2020-03-23 18:47] #7996 closed

[2020-03-23 19:01] jtpio commented on #8072
Closing as duplicate of https://github.com/jupyterlab/jupyterlab/issues/8071

[2020-03-23 19:01] #8072 closed

[2020-03-23 22:30] jasongrout commented on #7393
I'll also add that xterm.js, for example, has a much more complicated regex: https://github.com/xtermjs/xterm.js/blob/fb5ff49008558f42050d4566f327cda5e578d059/addons/xterm-addon-web-links/src/WebLinksAddon.ts#L9-L27

[2020-03-24 14:55] vidartf commented on #8048
For clarity: the (deprecated) CSS caret icons got an accidental rename in 2.0 (dash added).

[2020-03-24 15:18] samuelhwilliams opened #8077 "Custom extension icon is transparent after upgrading to v2.0.0"
## Description
I've just upgraded to JupyterLab v2.0.0. I've got a custom extension that adds a toolbar button with a database icon (via font-awesome `fa fa-database` classes). Since upgrading, the icon has become transparent. Inspecting the icon, I've found the following:

<img width="647" alt="Screenshot 2020-03-24 at 15 14 23" src="https://user-images.githubusercontent.com/2920760/77442285-39eb

[2020-03-24 15:54] jasongrout commented on #8048
If it was accidental - is this something we'd like to fix to ease transition? Especially if it is deprecated - the point of deprecation is to provide an easy transition so your old things keep working in the near future.

@telamonian, thoughts?

[2020-03-24 17:00] saulshanabrook opened #8079 "Warn users about extension manager hitting external servers"
As mentioned [by @vidartf](https://github.com/jupyterlab/jupyterlab/issues/8043#issuecomment-599611692) it would be good to tell users we are sending requests to an external URL when they enable the extension manager. If we also query github for icons (https://github.com/jupyterlab/jupyterlab/pull/8078) we should mention that as well.

[2020-03-24 17:42] stefansimik opened #8081 "File Browser: Hide or resize 'Last modified' column"
## Description

Hi,
it would be nice to allow to hide / change width of **Last modified** column in File Browser.

Explanation why?
* **We know, it is possible to resize the File Browser horizontally**.  This helps a lot in general,
but for our cases this is not friendly solution, because resizing FileBrowser cause re-rendering of all displayed notebooks. We mostly have quite **big notebooks** and

[2020-03-24 17:46] echarles commented on #8079
Are you seeing an update of the warning text we work on for the black and white listings as described [here](https://github.com/jupyterlab/jupyterlab/issues/7967#issuecomment-599072699)?

[2020-03-24 17:48] saulshanabrook commented on #8079
Yeah I think we should add something to the copy about making requests to NPM and GitHub.

[2020-03-24 17:53] echarles commented on #8079
Adding @tgeorgeux to the discussion so he can make a proposal for an improved warning message.

[2020-03-24 20:11] #8056 closed

[2020-03-24 22:24] #7393 closed

[2020-03-25 11:04] vidartf commented on #7972
I'm not sure if this is an alternative to implementing support for black/white lists, but rather an alternative to *needing a default blacklist for security reasons*.

[2020-03-25 11:10] echarles commented on #7972
Thx @vidartf for your input. Let's discuss that today in a broader context also. I would like to get feedback from the community if JupyterLab org should or not maintain a blacklist.

Asking npm to remove an extension can be compared to blacklist with a bit more latency to remove the extensions and also no ability for the user to see if a installed extension is blacklisted. It is IMHO not comparab

[2020-03-25 11:18] vidartf commented on #8012
I'm not sure if magics are the way to go (magics are not involved with the client at all). You could write a lab extension though that:
- Monitors creation of kernels by notebooks, and does an execution of code to inject `__file__` into the global namespace.
- Monitors renames of notebooks with open kernels to update `__file__` as needed (user code would need to be careful not to cache the value,

[2020-03-25 11:36] vidartf commented on #7972
There are a bunch of assumptions that go into trying to predict which list would have the shortest latency...

[2020-03-25 11:47] echarles commented on #7972
Well, if JupyterLab org hosts and owns the repository with the blacklist, I can expect that a PR can be quickly merged if urgent. But yes, this is just an assumption to be confirmed.

On the transparency level, a PR gives also the opportunity to the blacklisted extension to defend his case. The downside is that it may become a raw.

To also avoid confusion, asking NPM to remove an extension does n

[2020-03-25 12:56] vidartf commented on #7972
Do you actually have sources for these statements? AFAICT, npm publishes security notifications about this. As for timings, see e.g. https://www.veracode.com/blog/research/discovering-malicious-packages-published-npm, section "Disclosure timeline". That seems pretty professional (same-day confirmation and removal, deferred public advisory publishing).

[2020-03-25 13:21] echarles commented on #7972
I have searched for npm official policy but did not find it - There is https://docs.npmjs.com/auditing-package-dependencies-for-security-vulnerabilities which allows you to audit a package.

the veracode story you link to is interessting and demonstrates that for clear malicious code, npm can be reactive, and a sens of history can be seen based on something like the following (taken from https://w

[2020-03-25 13:38] vidartf commented on #7972
The policies for the public NPM registry can be found here: https://www.npmjs.com/policies/terms

The most relevant paragraph is perhaps here:

[2020-03-25 13:45] echarles commented on #7972
Thx @vidartf. Very helpful. It sounds to me that NPM covers malicious code and inappropriate content.

I still miss the case where an extension is so badly written that it degrades so much jupterlab performance and behaviour (or maybe breaks some of its features). Even with the warning we have planned to implement (with the user being forced to check a box before installing anything), I expect som

[2020-03-25 16:46] saulshanabrook commented on #7289
We talked about in our meeting today whether adding new method constitutes a backwards compatible change. Two reasons that it should:

* You can [extend a class as an interface](https://www.typescriptlang.org/docs/handbook/classes.html#using-a-class-as-an-interface) and implement it without extending that class, as long as that class doesn't have private attributes/methods 🤷‍♂
* If you extend this

[2020-03-25 17:10] afshin opened #8083 "Enable Node 10+ to work with JupyterLab 2.1"
We currently require Node 12+ but we should re-enable Node 10+.

[2020-03-25 17:25] jasongrout commented on #8083
See https://github.com/jupyterlab/jupyterlab/pull/7677

[2020-03-25 17:26] jasongrout commented on #8083
From https://github.com/jupyterlab/jupyterlab/pull/7677 - the situation now (I think) is that we *do* support node <12, just that many users will need to set the max memory node options variable.

[2020-03-25 18:05] saulshanabrook commented on #8083
So next step is to revert changes in that PR

[2020-03-25 18:11] saulshanabrook opened #8084 "2.1 Release Plan"
for jupyterlab server:

1. Merge in JLab server PR https://github.com/jupyterlab/jupyterlab_server/pull/82/files
2. Create release of JLab Server
3. Upgrade JupyterLab to require this newer release

for jupyterlab

1. Create branch  from 2.0.1 release (branching after last bugfix) to create 2.0.x branch
2. Choose other bugfixes that have been merged to merge into 2.0.x (some kind of meeseeks bot w

[2020-03-25 20:13] krassowski commented on #7713
Just saw this merged. I am not necessarily happy with this being assigned to backspace. What bothers me is that this is is a destructive action if one tries to clean a cell and start writing its content anew. Un-doing the delete action requires two to three key strokes (Esc → shift + z, or Esc → b).

As an alternative, could we change it to shift-backspace?

[2020-03-25 20:32] jasongrout commented on #7713
Thanks for voicing an opinion about this. How do you imagine someone cleaning a cell? I imagine ctrl/cmd-A to select all the text, then pressing backspace once, or just starting to type the new content.

Shift-backspace would be a more conservative shortcut, but still would give some of the benefits if people knew about it.

[2020-03-25 22:20] edzkite commented on #7289
What about adding new optional methods? This could be a way to introduce new functions to a interface without adversely affecting downstream classes.

[2020-03-25 22:21] jasongrout opened #8085 "Backwards compatibility policy"
Following up on our dev meeting conversation from this morning:

In a patch release, we expect with a high degree of certainty that extensions will still work. In particular, classes, interfaces, and functions should have no additional arguments, attributes, or methods, and existing meaning should be preserved.

In a minor release, we expect existing extensions should still work. In particular:
*

[2020-03-25 22:23] jasongrout commented on #7289
Oops, I just opened a new issue for this. I'll close that and copy the contents over here.

[2020-03-25 22:23] jasongrout commented on #7289
Following up on our dev meeting conversation from this morning:

In a patch release, we expect with a high degree of certainty that extensions will still work. In particular, classes, interfaces, and functions should have no additional arguments, attributes, or methods, and existing meaning should be preserved.

In a minor release, we expect existing extensions should still work. In particular:
*

[2020-03-25 22:24] jasongrout commented on #8085
Duplicate of #7289

[2020-03-25 22:24] #8085 closed

[2020-03-25 22:35] fggrimmer opened #8086 "Enhance Advanced Settings Editor user preferences"
<h3>Description</h3>
As extensions are providing schemas for User Preferences, JupyterLab should provide a better user experience for users to modify, and extensions to set, these values. Current implementation is for the user to modify a raw JSON file. Users may not be familiar with JSON syntax, as well this approach is prone to user errors.

<h3>Expected Behavior</h3>
This screen shot shows the

[2020-03-25 22:40] edzkite commented on #7289
Sgtm!

[2020-03-25 22:47] saulshanabrook commented on #7289
Yep sounds great!

[2020-03-25 23:20] astrojuanlu commented on #3049
https://blog.jupyter.org/a-visual-debugger-for-jupyter-914e61716559

I guess this can be closed then? :tada:

[2020-03-26 01:22] roachsinai commented on #3049
Looks awesome!!!

[2020-03-26 06:16] hzfmer opened #8087 "The cell tag does select filtered cells"
1. Add a tag to any cell:
![](https://i.imgur.com/5jCI2sd.png)

2. Filter the cells with the tag in table of contents:
![](https://i.imgur.com/DueBPrA.png)

3. No cells are listed.

## Expected behavior

The cells with this tag should be listed and able to select, by which users may want to rerun/merge/edit these cells.

The "celltags" extension used to work in the way below:
![image](https://user

[2020-03-26 06:22] chuaxr commented on #8047
Thanks for the reply, a workaround I'm trying is to remap other keys for my desired functionality (e.g.
 [https://vi.stackexchange.com/questions/3728/how-can-i-work-with-splits-in-vim-without-ctrl-w](url)).

I also realized that v (as opposed to Ctrl-V) suffices to enter visual mode.

[2020-03-26 06:22] #8047 closed

[2020-03-26 10:48] dbalabka opened #9111 "Add support for evaluating code when stopped at a breakpoint"
Currently, during a debug session, ipython console isn't available because is blocked by debug session.
It would be great to get the possibility to add custom expressions into variables panel. As I understood, the variable panel represents only current scope variables and there no such possibility.
![image](https://user-images.githubusercontent.com/1269372/77638478-ea32de80-6f5f-11ea-8d69-3f392365

[2020-03-26 10:50] MichaelChirico commented on #7845
Confirming this, it's quite disorienting behavior & means I have to proactively close my Find bar all the time

[2020-03-26 11:17] RamanjiReddyvempalli opened #8088 "Unable to mount volume in kubernetes pod."
Hi ,

I have installed Jupyterhub in kubernetes cluster now trying to add PersistentVolumeClaim in kubernetes but not able to mount followed below link.

https://zero-to-jupyterhub.readthedocs.io/en/latest/customizing/user-storage.html

I am running below config.yaml

proxy:
  secretToken: 31902aeec8913068eaa380e057d6b3522173328e64b42c694364b855c59ff8b6
singleuser:
  storage:
    extraVolumes:

[2020-03-26 11:29] umdstu commented on #5492
So yeah... where does the jupyterlab team stand on this? It's 2020 and we still can't create other useful file types without installing the aforementioned extension which only applies to Python files.

Worst case the File > New should allow an 'arbitrary' file extension to be set (in a popup), and could also give the oppotunity to set the file name rather than get Untitled by default. When you do

[2020-03-26 11:47] krassowski commented on #7713
Indeed for a cell with a lot of code, it is <kbd>ctrl</kbd> + <kbd>A</kbd> followed by <kbd>backspace</kbd> or <kbd>ctrl</kbd> + <kbd>x</kbd>. But if this is just a few characters keeping <kbd>backspace</kbd> pressed continuously is often what people (including myself) do.

It is true that this is what you would expect in a text processor (removing a paragraph), but in a text, processor adding a n

[2020-03-26 12:22] pawadski commented on #7713
Can you elaborate why removing a cell of nothing is destructive to your workflow? Do you happen to lose any data/code when removing an empty cell?

[2020-03-26 12:32] krassowski commented on #7713
No, it is not destructive to my workflow, but by definition, deletion is a destructive action.

An empty cell (as in "cell with no code or text") can still contain metadata (output/plot and/or tags) which would get removed. It is not very bad because the user can undo the deletion with <kbd>Esc</kbd> + <kbd>Z</kbd> - only potentially inconvenient. While I see that I am alone in my concerns here, t

[2020-03-26 12:37] Judape commented on #3506
Easy solution:

1. Go to the prompt/terminal where you first opened the notebook.
2. Copy the URL link to login with a token when you connect for the first time. It should look like this

                http://localhost:8888/?token=f1a75b69989e62e...

3. Paste the link into a new tab in your browser where you're working and close the old "Home" one. Everything should work now :)

[2020-03-26 14:33] jasongrout commented on #7845
Can you try in JupyterLab 2.0? I think this may be fixed.

[2020-03-26 14:39] jasongrout commented on #5492
1. You can create files of any type, but it does require an awkward two-step process of creating the file, then renaming it. I don't think anyone really likes that.
2. I think the thing to do is to really think through the workflow and ux, based on the ideas above and others, of what should be there - let's not settle for worst-case :). Clearly we can't have icons in the launcher for every file ty

[2020-03-26 14:43] jasongrout commented on #5492
We can get a list of kernels, but unfortunately the kernel metadata doesn't tell us the file extension for that language (for example, it's easy to see that we have a Julia kernel, but that [won't tell us](https://jupyter-client.readthedocs.io/en/stable/kernels.html#kernel-specs) that the file extension should be `.jl`, so we would have to have a manual lookup table for now)

[2020-03-26 14:50] jasongrout commented on #7713
I *really* appreciate you taking the time to explain your point. We're well aware that only a few people are participating here, but likely represent a lot more people that aren't tracking these issues.

So what do people think? Shift-Backspace is nearly as convenient, and wouldn't be as surprising to people used to the notebook never deleting cells in edit mode. I came at this from the Sage noteb

[2020-03-26 14:53] jasongrout commented on #7713
Moving to 2.1 milestone so it stays at the top of our queue until we resolve this discussion, which may involve another PR to 2.1.

CC also @tgeorgeux and @ellisonbg, who have also paid a lot of attention to ux, but haven't commented here, and may not be aware of this discussion.

[2020-03-26 15:04] pawadski commented on #7713
I don't know but I might be an outlier too! It would be interesting to see how other people view this.

It seems consistent to have Shift+Backspace delete a cell, as you can use Shift+Enter to create cells (for example).

[2020-03-26 15:21] jasongrout commented on #7713
I think we're all guessing :).

I would support moving to shift-backspace as a more conservative option, and seeing if that is convenient enough.

[2020-03-26 16:01] Felihong commented on #7872
+1, have the same issue here.

Have been used the same image for a long time, and like suddenly the extension manager is broken. The problem can be resolved by uninstalling all extensions `
[code]
But I haven't get the logic here, anyone knows what is going on?

[2020-03-26 16:26] nscozzaro commented on #7751
When I run `jupyter lab --watch` I also get the 404 error:
![image](https://user-images.githubusercontent.com/15185105/77670616-d8037100-6f5c-11ea-8f7a-ad077af85d3a.png)

[2020-03-26 16:27] jasongrout commented on #7751
Run `jupyter lab --dev-mode --watch`

[2020-03-26 16:36] longshuicy opened #8089 "@jupyterlab/codemirror does not work with the latest @types/codemirror"
## Description
When build and installing custom jupyterlab extension that utilizing @jupyterlab/codemirror, build will not be successful if using the latest verison of @jupyterlab/codemirror + @types/codemirror.

The specific issues is in .../node_modules/@jupyterlab/codemirror/lib/editor.d.ts:
line1: /// <reference types="codemirror/searchcursor" />

which is only exists in old version of @types/

[2020-03-26 16:37] longshuicy commented on #8089
To fix this issue, I'm proposing that changing the line of `
``
/// <reference types="codemirror/searchcursor" />
[code]
/// <reference types="codemirror/addon/search/searchcursor" />
[code]

[2020-03-26 16:40] dustinfreeman opened #8090 "[Feature Request] Inline Markdown with Code"
As I'm writing a notebook, I go between writing text motivating what I'm about to do, code itself, with resulting output, and then text describing the results. Currently, Jupyter requires us to explicitly declare Code cells vs Markdown cells.

I wish instead that I could just write markdown in line with python code. Having to explicitly declare the type of the block is cumbersome. Sometimes I writ

[2020-03-26 16:45] nscozzaro commented on #7751
Unfortunately I get the same error with `jupyter lab --dev-mode --watch`.
`jupyter lab --watch` used to work fine for me with JupyterLab 1.x, but I recently upgraded to 2.x (and Python 3.8 though I wouldn't think that's related...), and it started giving me the error.

[2020-03-26 17:16] urfdvw commented on #3275
As iPadOS 13.4 arrive, secondary clock and drag ability is added to cursor. Jupyter lab is fully usable now.

[2020-03-26 17:35] jasongrout commented on #8089
Right now, we require `@types/codemirror ^0.0.76`. We would probably have to upgrade that as well, right? That sounds like it would be a backwards-incompatible change, so should wait for jlab 3.0?

[2020-03-26 17:37] jasongrout commented on #8090
Intriguing. Can you walk through in more detail exactly what the workflow would look like? I.e., at each step, what you would type, and what the state of the notebook would be? Or perhaps even screenshot what the notebook would look like? That would help us understand exactly what you are proposing.

[2020-03-26 17:40] jasongrout commented on #7751
@nscozzaro - can you start in a fresh environment and see if you can reproduce it, then give us the instructions to reproduce it from scratch? It's not clear exactly what you've done up to this point.

[2020-03-26 18:53] stevenruidigao opened #8092 "PhosphorJS"
I was just curious, what are you guys doing / how are you guys doing things now that PhosphorJS has been discontinued?

[2020-03-26 19:08] jasongrout commented on #8092
JupyterLab 2.0 has switched to Lumino, which is a successor of Phosphor maintained by Project Jupyter (and most of the original phosphorjs developers).

[2020-03-26 19:08] jasongrout commented on #8092
https://github.com/jupyterlab/lumino

[2020-03-26 19:14] nscozzaro commented on #7751
My problem was that at the top of the files `/usr/local/bin/jupyter`, `/usr/local/bin/jupyter-extension`, `/usr/local/bin/jupyter-notebook` it still had my previous Python version (3.6) at the top after installing the new Python (3.8). I uninstalled 3.6, installed 3.8, then installed jupyterlab but it seems those files weren't updated. So I just edited the top of those files and it started working

[2020-03-26 19:17] jasongrout commented on #7751
Thanks for following up here for the benefit of others!

[2020-03-26 20:05] sanchezvivi opened #8093 "Jupyter Lab not loading on Safari 13.1 - Mac OS 10.15.4"
After updating to Mac OS 10.15.4, I haven't been able to load Jupyter lab. It looks like it keeps reloading and cloning(?) updating the following messages:

[I 16:58:15.290 LabApp] 301 GET /lab/workspaces/auto-Q/?clone (::1) 0.85ms
[I 16:58:15.584 LabApp] 301 GET /lab/workspaces/auto-v/?clone=auto-Q (::1) 0.60ms
[I 16:58:15.732 LabApp] 301 GET /lab/workspaces/auto-h/?clone=auto-v (::1) 0.65ms
[I 1

[2020-03-26 20:16] jasongrout commented on #8093
What happens if you clear your cookies? What version of JupyterLab?

[2020-03-26 20:30] sanchezvivi commented on #8093
had already cleared the cookies =\
it’s the version 1.1.4, tried reinstalling and updating as well.

[2020-03-26 20:48] jasongrout commented on #8093
Updating to what? Does it have a problem with JupyterLab 2.0.1?

[2020-03-26 20:54] jasongrout commented on #8093
It might be this issue, I think fixed in 1.2.0: https://github.com/jupyterlab/jupyterlab/issues/6921

[2020-03-26 20:54] ianhi commented on #8062
A few thoughts about the images with spaces in the name. This seems to have been discussed somewhat extensively in https://github.com/jupyterlab/jupyterlab/issues/5153 and related issues. My understanding of the upshot is that spaces in a markdown link is not part of the markdown spec. That said it seems that images with spaces in the name ought to be allowed. This would be my expectation as a use

[2020-03-26 21:20] jasongrout commented on #8062
I think we should not deviate from the markdown (commonmark) spec. That would mean every frontend displaying notebooks would have to also support this nonstandard parsing of our "markdown".

I think your first option, making sure we are inserting correct markdown links, is the right one.

[2020-03-26 22:11] Juan-132 opened #8094 "Improvement to Save dialog"
A small suggestion for further improvement of the UI

Current situation:
When exiting a notebook file with unsaved changes, the user is presented with this dialog.
![image](https://user-images.githubusercontent.com/59505296/77701270-2ee96480-6fb6-11ea-9686-e3e76e6ac8b1.png)

Expected result:
Present the user with the option to Save the notebook, while also making the choices more explicit.
Suggest

[2020-03-26 22:49] sanchezvivi commented on #8093
Thanks! worked after updating to Version 1.2.6 with `conda update --all`

[2020-03-26 22:50] #8093 closed

[2020-03-26 22:59] jasongrout commented on #8094
This sounds like a great idea.

[2020-03-26 23:01] jasongrout commented on #8094
Labeling as a good first issue. The dialog in question is here: https://github.com/jupyterlab/jupyterlab/blob/d8c66c009df2c04ceff454f88e25fe1650b58312/packages/docmanager/src/widgetmanager.ts#L352-L358

[2020-03-26 23:06] jasongrout commented on #8093
Great!

[2020-03-26 23:18] jasongrout commented on #8062
@ianhi - since you already have a diff, do you want to put in a PR?

[2020-03-26 23:49] ianhi commented on #8062
Happily. I didn't because I thought it might be better do include that along the other changes fixing image embedding discussed above. Is it better to keep things more granular? If so, I'll make one now.

[2020-03-27 00:07] ianhi commented on #8062
w.r.t the original issue it is indeed pretty easy to recreate the default paste behavior using the soon to be added `replaceSelection` method but there two things I'd like input on:

1. Should markdown cells allow the pasting of rich text like HTML? They currently do not,  but seeing as they render html it seems to me that they ought to be able to accept pasted html.
     - You can paste text with

[2020-03-27 01:50] dhirschfeld commented on #5492
Maybe make it an optional extra argument that kernel authors can use or not? If not present it could default to `.txt`

[2020-03-27 02:00] jasongrout commented on #5492
It would be interesting for kernel authors to give file extensions (probably a list? C++ has at least .cpp and .hpp). That's a discussion for another repo, though. For us immediately, we can make a list of common extensions for now.

[2020-03-27 04:18] rahulpshah opened #8096 "Ability to disable/add exporters to JupyterLab"
As a jupyter lab user, I want to disable some exporters like PDF converter that require external dependencies.

[2020-03-27 06:16] jasongrout commented on #8062
As a datapoint, pasting that into the GitHub comment box just gives the text: as and example: try pasting this

[2020-03-27 06:17] jasongrout commented on #8062
Yes? Like you, I find it difficult to imagine copying a combination of files and unrelated text that you want to paste along with the file...

[2020-03-27 06:36] lresende commented on #8088
This would be a better question/issue on the [zero-to-jupyterhub](https://github.com/jupyterhub/zero-to-jupyterhub-k8s) repository that is owned by the JupyterHub colleagues.

Having said that, I have done some ansible scripts that you could as an example [here](https://github.com/lresende/ansible-kubernetes-cluster/blob/master/roles/jupyterhub/templates/jupyterhub-config.yaml.j2).

[2020-03-27 06:43] lresende commented on #8013
Give a couple days to re-create my hub test env and I will take a look at this.

[2020-03-27 06:44] jasongrout commented on #5492
One place to add such commands is in the fileeditor-extension plugin, perhaps around here: https://github.com/jupyterlab/jupyterlab/blob/d8c66c009df2c04ceff454f88e25fe1650b58312/packages/fileeditor-extension/src/commands.ts#L583-L590

Setting as a good first issue. I could see, for example, using the `app` object to query the kernel spec manager for each kernel spec in the system, then having a lo

[2020-03-27 06:46] lresende commented on #7990
This should be fixed by the PR linked above? Otherwise, please reopen this issue.

[2020-03-27 06:46] #7990 closed

[2020-03-27 06:49] jasongrout commented on #7751
@AmberSong - is your issue resolved as well?

[2020-03-27 06:51] lresende commented on #7852
@vidartf seems to have found the issue with the example above. Please reopen if you are still seeing issues.

[2020-03-27 06:51] #7852 closed

[2020-03-27 06:51] jasongrout commented on #8092
Closing as answered. Thanks!

[2020-03-27 06:51] #8092 closed

[2020-03-27 07:00] youweiliang commented on #3506
The problem is a nightmare. I lost my work.

[2020-03-27 09:00] chengyumeng commented on #2020
I write an easy plugin https://github.com/mkzilla/notebook-snippets, if there are  lots of people need it,I will make a better one!

[2020-03-27 09:27] dhirschfeld commented on #5492
For maximum flexibility, it could be a user-configurable setting from JupyterLab... though this might add some complexity around the implementation.

[2020-03-27 09:46] diallobakary4 commented on #2020
Definitely needed.
I am trying to install it but hitting a "X is notebook_snippets
importable?" when I run jupyter-serverextension enable notebook_snippets.
Full error here:
Enabling: notebook_snippets
- Writing config: /home/bakary/.jupyter
    - Validating...
Error loading server extension notebook_snippets
      X is notebook_snippets importable?
The extension seems "partially installed".

[ima

[2020-03-27 10:07] jasongrout commented on #5492
I think that sounds fine too.

[2020-03-27 10:44] umdstu commented on #5492
I think these are some great (complex) ideas tossed around. Generating file types that can populate the list of options based on what the user has installed could become quite extensive though (I could be wrong). That said, one may even want to use Labs as a simple text editor for which no kernels are installed or associated with. User configurability would help that and dramatically reduce the po

[2020-03-27 12:06] krassowski opened #8098 "Cannot replace with an empty text"
## Description

Replacing text with an empty string is not possible.

![replace_does_not_work_if_empty](https://user-images.githubusercontent.com/5832902/77754261-e025e400-7022-11ea-80b8-46f81530655f.gif)

## Reproduce

1. Open search bar
2. Enter some text which exists in the document
3. Open the replace bar, do not enter anything in the replace input
4. Press the "Replace" button
4. See that not

[2020-03-27 12:11] krassowski commented on #8098
Also, the buttons do not have pressed (`:active`) state (as you can see on the gif it is hard to tell that I pressed the replace button many times) - should I open a bug report for that, or is this a design decision?

[2020-03-27 13:18] sammy-shao opened #8099 "Apache Toree kernel doesn't work in Jupyterlab launched by anaconda-navigator"
when i launch jupyterlab by anaconda-navigator,and open a file by Apache Toree scala ,
the kernel is dead ,and show its will restart, and then the kernel always show Autorestarting...
![image](https://user-images.githubusercontent.com/32064088/77759777-42590600-7070-11ea-9cb4-cd5cecc03a79.png)

however,when i launch jupyterlab by command line in shell ,it's all right...
![Uploading image.png…]()

[2020-03-27 13:23] sammy-shao commented on #8099
![image](https://user-images.githubusercontent.com/32064088/77760057-bf847b00-7070-11ea-83ee-069dd682857b.png)
![image](https://user-images.githubusercontent.com/32064088/77760068-c14e3e80-7070-11ea-9fb7-43905d342004.png)
My Apache Toree scala is Version 0.3.0  and My jupyterlab is version 1.2.6

[2020-03-27 13:45] jasongrout commented on #8098
Thanks! Fixed in #8100

[2020-03-27 14:14] agoose77 commented on #8090
This sounds very similar to JupyTex representation of documents, and similarly [the notebook support in PyCharm](https://www.jetbrains.com/help/pycharm/jupyter-notebook-support.html), but more fine-grained. It reminds me in particular of "literal programming" in a bolder sense to the current approach with cellular notebooks.

This could be a very interesting UI. I have often wished for the ability

[2020-03-27 14:19] jasongrout opened #8101 "Document search overlay UX problems"
In Firefox, our document search overlay looks pretty bad right now with a lot of small inconsistencies.

For text files:

<img width="429" alt="Screen Shot 2020-03-27 at 7 10 53 AM" src="https://user-images.githubusercontent.com/192614/77765079-f6b84500-6ffa-11ea-828e-c5cc467e5451.png">

For notebooks:
<img width="420" alt="Screen Shot 2020-03-27 at 7 11 16 AM" src="https://user-images.githubuserc

[2020-03-27 14:19] jasongrout commented on #8101
@tgeorgeux - do you have time to look at this so we can fix this for 2.1?

[2020-03-27 14:22] jasongrout commented on #8099
This indicates you should file this issue with Anaconda, as it appears to be an Anaconda issue.

[2020-03-27 14:28] jasongrout commented on #8090
That's an interesting idea. It's certainly possible to have rich controls inline with text in the CodeMirror editor. For example, that's how I implemented [this demo](http://bl.ocks.org/jasongrout/5378313), and how @williamstein implemented the document-based Sage notebook editor in CoCalc (where a Sage notebook is entirely contained in a single CodeMirror editor instance).

[2020-03-27 14:34] sammy-shao commented on #8099
thanks  ^_^

[2020-03-27 14:34] #8099 closed

[2020-03-27 14:36] agoose77 commented on #8090
If you think about this too much, you could imagine a colab style implementation with a UX similar to above, where the raw underlying cell contents go through a series of transformations which can be hooked into, to support arbitrary overlays of widgets etc,
e.g.
[code]

[2020-03-27 15:46] chengyumeng commented on #2020
are you exec `pip install notebook_snippets` or `pip3 install notebook_snippets`

[2020-03-27 15:55] williamstein commented on #8090
To try it out, create a CoCalc project, then +New --> Sage Worksheet.  You can then use any Jupyter kernel we have installed to evaluate code by typing
[code]
then shift+enter... or `%default_kernel('kernel-name')`.  It's far from perfect, but it's interesting because there is exactly one codemirror editor.     I plan to rewrite it to be more modern and similar to Jupyter sometime soon, since I've

[2020-03-27 17:58] umdstu commented on #8089
Just came across this as well. Thanks for the note on downgrading `@types/codemirror`.

Are you saying you'd have to update codemirror` in order to upgrade to `@types/codemirror` 0.0.88? Or that you'd have to update version of codemirror?

[2020-03-27 18:45] longshuicy commented on #8089
in order to make it work I have to downgrade @types/codemirror to at least 0.0.76 if that's what you are asking?

[2020-03-27 19:28] saulshanabrook commented on #7574
Hey Max. Did you look into doing a custom theme for material UI? https://material-ui.com/customization/theming/

That way we could wrap our top level react render in the react widget with this context... And then users can just use native material UI components and they will be themed.

It would be nice to not *have* to wrap all their components... Instead just maybe export our own if we really ne

[2020-03-27 19:42] saulshanabrook commented on #7574
One thing to be aware of is MUI's internal plans on what library they are using, There is a long running issue to switch to styled components from their own internal system (https://github.com/mui-org/material-ui/issues/6115). It seems like in their next version, they will switch to styled components and maybe also let this configurable, so that you could use it with multiple CSS in JS solutions (

[2020-03-27 19:58] echarles commented on #7574
Just did a quick scan and not sure of the impacts. But whatever internal solution and compatibility option MUI  will provide, I would expect they will keep a theming layer like https://material-ui.com/customization/theming/ (maybe with breaking changes)?

[2020-03-27 19:59] saulshanabrook commented on #7574
@echarles Yes that's true! It only matters if we care about which one it uses internally, which I am not sure if we.

[2020-03-27 19:59] saulshanabrook commented on #7574
i.e. but it does mean we can't pre-generate css files for all our styles at build time and instead rely on this CSS in JS thing (AFAIK)

[2020-03-27 20:02] echarles commented on #7574
you mean for `all our themes`? Btw I am experimenting to automate genration of CSS artifacts for  `jlab theme -> mui theme` as well as the reverse `mui-theme -> jlab theme`.

[2020-03-27 20:06] saulshanabrook commented on #7574
Oh cool! Would love to see that. It looks like we might be able to do server side rendering with it: https://cssinjs.org/server-side-rendering?v=v10.1.1

[2020-03-27 20:26] oliviertassinari commented on #7574
Hi, I'm happy to answer any questions your team might have around Material-UI, what we offer today, and where we aim to go.

[2020-03-27 20:42] saulshanabrook commented on #7574
Thank you @oliviertassinari!

[2020-03-27 21:11] blink1073 opened #8102 "Increase network timeout for yarn"
## Description
The default network timeout for yarn is [30 seconds](https://github.com/yarnpkg/yarn/blob/e7cc86bf1c11e44b4336278269d5d8fc7b4f824f/src/constants.js#L40).  This can be an issue when building JupyterLab in slower [environments](https://github.com/jupyterlab/jupyterlab/issues/7847#issuecomment-582799746).  We should increase the timeout to 100 seconds in our `.yarnrc`.

[2020-03-27 21:56] allenzhao opened #8103 "Cannot install any JupyterLab ExtensionRuntimeError: JupyterLab failed to build"
## Description
Cannot install any JupyterLab ExtensionRuntimeError: JupyterLab failed to build

## Reproduce

Running `jupyter lab build`, produces these following output

[code]

## Expected behavior

## Context

- Operating System and version: Ubuntu 19.04
- Browser and version:
- JupyterLab version:1.2.6

<details><summary>Troubleshoot Output</summary>
<pre>
Paste the output from running `jupyt

[2020-03-27 22:29] allenzhao commented on #8103
Seems that a uninstall --all temporarily fixed this.

[2020-03-27 22:29] #8103 closed

[2020-03-27 22:49] #8102 closed

[2020-03-28 02:40] Foadsf commented on #7095
I got this issue while trying to install `jupyterlab-sql` getting the warning:

as reported [here](https://github.com/pbugnion/jupyterlab-sql/issues/131#issuecomment-605379106).

I also tried:

[code]

with no avail.

I tried to find the `build_config.json` on my mac by:

    sudo find /Users -name "build_config.json"

but it just doesn't exist!

[2020-03-28 09:55] blink1073 opened #8109 "Splash recovery page is loading immediately."
## Description
Due to changes in https://github.com/jupyterlab/lumino/pull/54, we now show the [The loading screen is taking a long time...](https://github.com/jupyterlab/jupyterlab/blob/master/packages/apputils-extension/src/index.ts#L176) message immediately instead of after 12 seconds.

## Reproduce
Run JupyterLab master in dev mode.

[2020-03-28 11:59] blink1073 opened #8113 "Property Inspector Load Behavior Bugs"
## Description
Currently, the property inspector open state is not restored at startup.  With that fixed, if you have two notebooks open and the first one focused, the second one's contents are shown in the inspector due to a bug in our focus tracker.    The focus tracker bug is also visible in JupyterLab 1.2:

<img width="784" alt="image" src="https://user-images.githubusercontent.com/2096628/778

[2020-03-28 12:22] #8109 closed

[2020-03-28 12:44] lucatrv commented on #7558
Other options:
- "Alt N" for "application:activate-next-tab", "Alt P" for "application:activate-previous-tab", and "Alt L" for "tabsmenu:activate-previously-used-tab" (last used tab).
- "Alt PageDown" for "application:activate-next-tab", "Alt PageUp" for "application:activate-previous-tab", and "Alt L" for "tabsmenu:activate-previously-used-tab" (but "Alt PageDown" / "Alt PageUp" don't work on my

[2020-03-28 15:41] blink1073 opened #8117 "Too Many CI Jobs"
## Description
Our limit for concurrent jobs is [20](https://help.github.com/en/actions/getting-started-with-github-actions/about-github-actions#usage-limits).   Right now we are getting backed up hard from active development today.  I think we should stick with a services job and an all-the-rest job for JS on Windows and Linux.

[2020-03-28 15:42] blink1073 commented on #8117
cc @jasongrout

[2020-03-28 20:36] blink1073 commented on #8113
Fixed by #8114

[2020-03-28 20:36] #8113 closed

[2020-03-28 22:09] diallobakary4 commented on #2020
I am using  `pip install notebook_snippets`

[2020-03-28 22:30] blink1073 commented on #8117
Also, workflows have to be restarted in full, you can't [restart a single job](https://github.community/t5/GitHub-Actions/Ability-to-rerun-just-a-single-job-in-a-workflow/td-p/41629) yet.  We might need to have separate `.yml` files.

[2020-03-28 22:38] afshin commented on #8083
Fixed in https://github.com/jupyterlab/jupyterlab/pull/8112

[2020-03-28 22:38] #8083 closed

[2020-03-28 23:03] simonlindgren opened #8120 "npm error when building jupyter lab extensions"
My OS version is Ubuntu 18.04.
`jupyter lab --version 1.2.6`
`node --version v6.13.1`

`jupyter labextension install --debug jupyterlab-plotly`
results in:
[code]

[2020-03-28 23:07] afshin commented on #8120
I think the issue is your version of `node`. Can you upgrade to a version that is v10+?

[2020-03-28 23:20] simonlindgren commented on #8120
This is what I have:
`which nodejs` --> `usr/bin/nodejs`
`nodejs --version` --> `v12.16.1`
`which node`--> `/opt/anaconda3/bin/node`
`node --version`--> `v6.13.1`

[2020-03-28 23:38] blink1073 commented on #8120
We explicitly need the `node` executable, since that is what yarn uses.

[2020-03-29 01:41] blink1073 commented on #7468
Interesting!  Webpack 5 will have federated bundles baked in: adds config for `shared` (shared packages), `exposes` (exported packages) and `remotes` (remote bundle providers).

I'm going to do more research into this.

https://dev.to/marais/webpack-5-and-module-federation-4j1i
https://github.com/webpack/webpack/issues/10352

[2020-03-29 02:35] telamonian commented on #7468
I read the issue and the article. Here's another article written by the issue's author (might need to go into private browsing mode to get past the paywall): https://medium.com/@ScriptedAlchemy/webpack-5-module-federation-a-game-changer-to-javascript-architecture-bcdd30e02669

It sounds like they came up with a solution to a completely different problem, but that there's enough overlap that it may

[2020-03-29 04:07] rahulpshah commented on #2020
@chengyumeng I was able to get the extension working locally on my host when I used the `pip install -e .` into your cloned repository, but I run  'pip install notebook_snippets', the package is installed but not importable.
Verified by running below command:
python -c 'import notebook_snippets;' gives following error - ModuleNotFoundError: No module named 'notebook_snippets.code'.

[2020-03-29 06:10] diallobakary4 commented on #2020
Managed to install as describe by @chengyumeng but still snippets are not showing up (see below).
Do they have to be added beforehand?
![snippets](https://user-images.githubusercontent.com/13533717/77842588-601f8b80-7194-11ea-90de-bd5a278ee993.gif)

[2020-03-29 06:25] simonlindgren commented on #8120
Sorry, not super knowledgeable about this. So, how do I get the `node` executable in the right location for the processes that need it?

[2020-03-29 09:06] waa8128 opened #8121 "Failed in"
## Description

I can open ‘jupyter notebook’

## Reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error '...'

## Expected behavior

## Context

- Operating System and version:
- Browser and version:
- JupyterLab version:

<details><summary>Troubleshoot Output</summary>
<pre>
Paste the output from running `jupyter troubleshoot` from the command line here.
You may want to

[2020-03-29 09:07] #8121 closed

[2020-03-29 09:47] gioarma opened #8122 "Jupyter lab extensions not working"
## Description

I installed jupyter lab extensions, which are enabled, but do not work. They appear in the extension manager, but still then they do not do anything (e.g. the toc extension does not produce the expected toc side panel).
I tried to run `jupyter lab build` but nothing changed.

I saw this issue has been cited also in  krassowski/jupyterlab-lsp#203

By running in the terminal
 `$ jupy

[2020-03-29 10:15] blink1073 commented on #8120
`/opt/anaconda3/bin/conda install --channel conda-forge nodejs=13` will upgrade your anaconda node version to the latest.

[2020-03-29 12:55] simonlindgren commented on #8120
This gets me stuck like this forever:

`/opt/anaconda3/bin/conda install --channel conda-forge nodejs=13.10.1`

[2020-03-29 13:21] afshin commented on #8120
Could you please create a brand new environment to disambiguate what is happening?

[code]

But if you just want it all the work out of the box for this specific extension, there is a conda recipe:

[code]

[2020-03-29 14:21] saulshanabrook commented on #7933
Closed in #7989 and jupyterlab/jupyterlab_server#82

[2020-03-29 14:21] #7933 closed

[2020-03-29 14:25] saulshanabrook commented on #7468
Wow that looks amazing! I haven't also looked that closely... But seems like what we have been looking for.

[2020-03-29 16:24] saulshanabrook commented on #7967
Added in https://github.com/jupyterlab/jupyterlab/pull/7989

[2020-03-29 16:24] #7967 closed

[2020-03-29 16:33] hustkisas opened #8123 "Jupyter Lab 1.1.4 webpage keep refreshing infinitely"
## Description

After I installed it, jupyter lab works fine. Then I installed a couple of packages Julia, JuMP, etc. When I come back to Jupyter lab, it didn't work. It keep refreshing the page. and the command window shows the following:

adminq@egsadmins-MacBook-Pro ~ % jupyter lab
[I 11:17:04.417 LabApp] JupyterLab extension loaded from /Users/adminq/opt/anaconda3/lib/python3.7/site-packages/j

[2020-03-29 17:40] saulshanabrook commented on #8038
FYI I opened https://github.com/jupyterlab/jupyterlab/issues/8084 for the next release.

[2020-03-29 17:41] saulshanabrook commented on #8084
@jasongrout I thought we made a time to meet on Monday to go through the release, but I can't find it in my calendar.  Does it still work for you to meet for this then? Would 3pm EST work for you?

cc @blink1073

[2020-03-29 18:31] chrisjsewell commented on #272
FYI, on a semi-related note, we have just created a markdown-it python port: https://github.com/ExecutableBookProject/markdown-it-py (and a related sphinx renderer ExecutableBookProject/Myst-Parser#123). So would definitely be +1 on moving to markdown-it for the jupyter renderer 😄

[2020-03-29 21:37] simonlindgren commented on #8120
I ended up solving it like this:

[code]

Delete the anaconda `node` and symlink to the newer one:
[code]

[2020-03-30 01:34] blink1073 commented on #8084
Yeah I can do that time.

[2020-03-30 03:17] telamonian commented on #7574
No, but:

- I do think it would be a good idea to supply a jlab theme for mui
- it would require the `jlab theme -> mui theme` converter @echarles mentioned (btw, what do you want the `mui-theme -> jlab theme` version for?). Otherwise, it wouldn't sync up with the current user-selected theme.

The current plan for jupyterlab ui-components (as discussed at the last dev meeting) is for us to impleme

[2020-03-30 03:22] telamonian commented on #7574
@oliviertassinari The thing I'd like to talk with you about the most is: "how should Jupyterlab handle UI accessibility?" We've never been able to make much progress on this issue on our own, and it is an important issue. Any thoughts and/or shining example projects about how MUI can help us implement accessibility in a well-thought out and consistent fashion?

[2020-03-30 03:38] echarles commented on #7574
If you define a mui theme, it would make sense for me to generate to needed jlab css that reflect that look and feel. This needs a mapping between MUI definitions and the jlab CSS variables. If this is not clear enough, which is prolly the case, you will need to wait for a demo :)

I guess this does not limit exploring alternatives plan.

This has been introduced by the work for the Listings, and

[2020-03-30 03:47] telamonian commented on #7574
Yeah, neither `Select` nor `Checkbox` are currently used in core code, but since they're publicly exported we'd still need replacements (or just to wait until the 3.0 release to make the breaking change of deleting them).

[2020-03-30 04:22] Scoodood opened #8128 "Sublime Text Keymap is not working inside a cell"
## Description

The SublimeText keymap is not working in **Jupyterlab** notebook cell. However, this feature is working fine in **Jupyter Notebook**. The keymap means a lot to me in term of productivity. This is the only reason I still stick to Jupyter notebook. Is there any fix for Jupyterlab?

## Reproduce

This video is to show that the SublimeText keymap is working in Jupyter notebook, but it

[2020-03-30 12:23] knifelees3 commented on #5884
I really think this feature should be added to jupyter lab. jupyter notebook has support this and is really helpful when we need type some long equations.

[2020-03-30 12:48] konradsitarz commented on #2833
I'll need this functionality and I'm willing to help. Can anyone give me insight where to start? :v:

[2020-03-30 13:40] Juan-132 opened #8129 "Suggestion: Export Notebook As ... (output only)"
Current Situation
Jupyter Lab allows for the Export of notebooks using NBconvert to a number of different formats.

image:
![image](https://user-images.githubusercontent.com/59505296/77917643-1bcae300-729b-11ea-9ed1-804ea94c33a8.png)

To make a notebook 'presentation ready' - I'll often export the notebook with the --no-input configuration option from the command line. This will strip out all code

[2020-03-30 14:15] #8120 closed

[2020-03-30 15:22] jasongrout commented on #5884
The stock Jupyter Notebook does not live render markdown, right? Are you talking about a notebook extension that enables live preview?

[2020-03-30 15:25] jasongrout commented on #2833
I think first step is to see if the current output buffering in the notebook server is working in JupyterLab. If there is *one* client connected to a kernel, and that client disconnects, then the server should be buffering output for when that one client reconnects. To test this, have a kernel that is generating output, then disconnect and reconnect to that kernel and see if output is buffered and

[2020-03-30 15:29] jasongrout commented on #8129
These options all come from the server. JupyterLab queries the server for what export methods it has, and then displays those in the menu. So it sounds like you need to just configure the server to offer those conversion routines.

I *think* this is the endpoint for configuring those: https://jupyter-notebook.readthedocs.io/en/stable/extending/bundler_extensions.html

[2020-03-30 16:06] oliviertassinari commented on #7574
@telamonian Regarding the accessibility part, I think that it could still be interesting for jupyterlab to leverage some of our components for it. For instance, looking at the UI, I can see the following elements:

- Breadcrumb
  - Preview: <img width="93" alt="Capture d’écran 2020-03-30 à 17 42 05" src="https://user-images.githubusercontent.com/3165635/77932500-eb407480-72ad-11ea-9126-0c1e50378

[2020-03-30 17:02] jasongrout commented on #7574
@oliviertassinari, thanks for commenting. Is your grid work underway? Can you point to where that work is happening?

[2020-03-30 17:05] oliviertassinari commented on #7574
@jasongrout The work is underway but will likely take months (it's a massive effort). The latest update: https://github.com/mui-org/material-ui/pull/18872#issuecomment-586369465

[2020-03-30 17:10] jasongrout commented on #7574
Thanks for the link. We totally understand the grid we use took months to develop as well: https://github.com/jupyterlab/lumino/tree/master/packages/datagrid

[2020-03-30 17:15] oliviertassinari commented on #7574
@jasongrout Well, considering we want to position this grid between Kendo-UI and Ag-grid, it might be months only for the MVP 😆.

[2020-03-30 17:25] jasongrout commented on #7574
A few other notes. I think one of the main considerations here is not what it cost to *build* something (since you are pointing out things that we've already built or incorporated), but what it costs to maintain or extend for our needs. And obviously we can't think about switching to mui controls that haven't been built yet :).

Maintained internally.

This is not a combobox UX, but rather a stati

[2020-03-30 17:33] jasongrout commented on #7574
Also, look at https://github.com/jupyterlab/lumino/tree/master/examples/example-datagrid for a standalone demo of the grid.

[2020-03-30 17:50] krassowski commented on #8122
It was also mentioned for other extensions by multiple users here: https://discourse.jupyter.org/t/extension-shows-up-as-both-installed-and-uninstalled-and-doesnt-work/2688/4 and I encountered this myself in one of my environments (I _think_ that it was after upgrading JupyterLab).

@gioarma the workaround with removing the `jupyter\lab\settings\build_config.json` file worked for me (it is describ

[2020-03-30 17:52] meeseeksmachine commented on #8122
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/extension-shows-up-as-both-installed-and-uninstalled-and-doesnt-work/2688/5

[2020-03-30 18:23] oliviertassinari commented on #7574
@telamonian Our components are often a direct mapping of https://www.w3.org/TR/wai-aria-practices/ to React. So outside providing accessible components, Material-UI won't help your team much. Sure you could benchmark our implementation and our `## Accessibility` sections in the documentation, but it leaves the whole integration of these different parts to you. Internally, we use the following tool

[2020-03-30 19:00] saulshanabrook commented on #8084
Just hopped on Jupyter zoom for anyone who is around.

[2020-03-30 19:03] saulshanabrook commented on #8084
Running notes from release meeting:

I just moved merged in a couple of PRs to the newly created 2.0.x branch. I am going through and moving all PRs that I merged in there, plus the ones I based it on, to 2.0.2 milestone from 2.1.0

[2020-03-30 19:21] telamonian commented on #8043
This was resolved by #8078

[2020-03-30 19:21] #8043 closed

[2020-03-30 19:25] saulshanabrook commented on #8084
Make github action that somehow does this milestone logic for prs....

[2020-03-30 19:45] saulshanabrook commented on #8084
How to document backports in changelog?

https://github.com/jupyterlab/jupyterlab/pull/8108

[2020-03-30 19:51] saulshanabrook commented on #8084
Is upgrading a lumino package to a minor a breaking change? https://github.com/jupyterlab/jupyterlab/pull/7927/files#diff-2a7ea8c28d7effa9e56686cee9459d1a

No, if it's not a singleton

[2020-03-30 19:58] mlucool opened #8132 "Improve Duplicate File UX"
Duplicating notebooks can be improved to be more inline with other editors.

Today in the file browser, context menus->duplicate  `notebook.ipynb` creates `notebook-Copy1.ipynb` and keeps the original notebook selected.

Proposal:
1. Clicking duplicates opens up the rename popup with the text `notebook-Copy1.ipynb` and it all selected. This lets the user push enter to create or type to rename.
2.

[2020-03-30 20:20] saulshanabrook commented on #8084
What happens if we merge something then revert it?

https://github.com/jupyterlab/jupyterlab/pull/7834

What milestone should the PRs have?

[2020-03-30 20:27] jasongrout commented on #7713
We've now reverted the PR putting this in 2.1 pending further discussion of the keyboard shortcut: #8133. We are doing this because we are releasing 2.1 RC today.

[2020-03-30 20:58] #8098 closed

[2020-03-30 21:18] saulshanabrook commented on #8067
Yeah the markdown spec doesn't allow spaces in the URL of the name. So you should replace the spaces with `%20`.

A nice "fix" here would be to allow drag and drop from the file browser, which could take care of this for you.

[2020-03-30 21:18] #8067 closed

[2020-03-30 22:30] saulshanabrook commented on #8084
Initial release of 2.1 alpha finished.

[2020-03-30 23:18] blink1073 commented on #8084
Thanks!

[2020-03-30 23:26] maximlt commented on #7797
I observe the same behaviour with ``bokeh 2.0.0`` and ``jupyterlab 2.0.1``.

[2020-03-30 23:29] jasongrout commented on #7797
My guess is that this is more of a bokeh issue than a JupyterLab issue. Is there an issue in the bokeh repo where this discussion can happen?

[2020-03-30 23:42] rahulpshah commented on #2020
@diallobakary4 Can you try in a new conda environment and see if you still face the issue?

[2020-03-30 23:43] rahulpshah commented on #8123
Related - https://github.com/jupyterlab/jupyterlab/issues/6921?

[2020-03-31 01:07] jaewooklee93 opened #8139 "Jupyter lab's terminal renders text somewhat blurry"
## Description

Jupyter lab has built-in terminal launcher, which is a very convenient one, however, I suspect this feature has been implemented on faulty font displaying library.

Displayed text on terminal is very crisp at the beginning, but it easily become blurry at the middle.

It seems that this phenomenon depends on the width of terminal screen, so I recommend changing width when reproducin

[2020-03-31 02:42] mebrunet commented on #5886
I've been using the [Hydrogen plugin for Atom](https://nteract.gitbooks.io/hydrogen/), which pipes code in the editor to a Jupyter kernel and displays the output in line. It does a lot of things right, including:

1. using `# %%` to demarcate *cell* boundaries, allowing a user to execute bundles of code Notebook-style
2. automatically piping syntactically connected code blocks together, e.g. funct

[2020-03-31 02:54] mebrunet commented on #5254
I would really love to see this. It is to some extent connected to the conversation in #5886
As per my comment https://github.com/jupyterlab/jupyterlab/issues/5886#issuecomment-606364798, I think [Hydrogen](https://nteract.gitbooks.io/hydrogen/) does a great job of this.

[2020-03-31 03:16] jasongrout commented on #8067
Please see the long discussion at #5153 for more details.

[2020-03-31 03:19] knifelees3 commented on #5884
Yes, Jupyter Notebook need extensions to support live preview and Jupyter
Lab doesn't have this kind of extensions

Jason Grout <notifications@github.com> 于2020年3月30日周一 下午11:22写道：

[2020-03-31 03:20] jasongrout commented on #5884
Thanks. I'll label this issue as an extension idea, then, to provide a live preview.

[2020-03-31 03:21] jasongrout commented on #5884
Already done, actually, last year by Ian. If someone sees this and starts working on it, we'd love if you'd post here to let people know!

[2020-03-31 03:29] jasongrout commented on #5886
Would you take a look at the feature mentioned in the changelog at https://jupyterlab.readthedocs.io/en/stable/getting_started/changelog.html#command-palette-items to run code line-by-line from a notebook cell? @BoPeng implemented some logic to intelligently try to find the current line of code, based on the kernel's notion of what a complete statement was. This was implemented in #3453, #4206, an

[2020-03-31 07:13] maximlt commented on #7797
There a discussion here https://github.com/holoviz/pyviz_comms/issues/3, that's a good start.

[2020-03-31 07:59] gioarma commented on #8122
@krassowski Yes it worked! Thanks!

I also think this was after upgrading Jupyter Lab (not sure anyway)

[2020-03-31 09:42] maya-harel opened #8142 "Disable downloads from jupyterlab"
i am running jupyterlab with jupyterhub (with K8S) and using sensitive data, so i want to disable the option to download files from the lab to local machines
so i edited the relevant jupyterlab extensions (filebrowser, docmanager, docregisty), packaged them with npm and installed the new version (using my dockerfile)
but when running the lab i get an empty workspace (no open to create new notebook

[2020-03-31 10:14] remborg commented on #7432
My coworker ran into the exact same issue yesterday evening with Jupyter Lab v1.1.3
We installed yarn globally and then installing the extension worked.

Full story in case that doesn't work:
Before installing yarn globally we deleted the the yarn.lock file and ran `jlpm`  in the `C:\Users\...\anaconda\envs\jlab\share\jupyter\lab\staging` folder but that didn't work.
So then we installed yarn and

[2020-03-31 11:34] dhirschfeld commented on #5884
nteract live previews your markdown below the cell as you type it - there might be something to crib from there?

[2020-03-31 11:41] jasongrout commented on #8122
Great!

[2020-03-31 11:43] jasongrout commented on #8122
In second thought, the above printed message about extensions that are installed and uninstalled is really confusing, so leaving open so that can be investigated.

[2020-03-31 11:56] krassowski commented on #8132
I agree that UX for duplication needs improvements! Very often I duplicate a notebook and rename the wrong one because of the selection staying on the original one (and because oftentimes I do not see the full names in the file browser). Then I carry on working in a wrong copy and find myself frustrated that I had overwritten my work because the selection stayed on the original notebook and I did

[2020-03-31 12:03] mlucool commented on #8132
Assuming this is solved, would you prefer  2? As an FYI @saulshanabrook is working to solve this. If you have more data for him to benchmark (https://github.com/jupyterlab/jupyterlab/pull/8020) - I'm sure he'd appreciate it!

[2020-03-31 12:21] diallobakary4 commented on #2020
Hi @rahulpshah
I retried in a clean env, still same behaviour.  This time the "Code snippets" menu in the main menu bar was not appearing. Not sure what is happening here.

[2020-03-31 13:03] llinfeng commented on #4306
@ZedTDean Try pasting OneNote-clipped screenshot into JupyterLab: it works. The image file is saved in some binary format, directly to the `*.ipynb` file.  This is with Version 1.1.4 for Jupyter Lab.

Caveats: Github does not render screenshots in Markdown cells, nor does [colab](colab.research.google.com/).

[2020-03-31 13:47] krassowski commented on #8132
Yes, I know, I did [some](https://github.com/jupyterlab/jupyterlab/issues/4292#issuecomment-521853698) [benchmarks](https://github.com/jupyterlab/jupyterlab/issues/4292#issuecomment-521856529) a while ago too. Once this is fixed I would not have a strong opinion on point two (nor preference).

[2020-03-31 15:50] saulshanabrook commented on #5053
I am closing this, now that the extension manager is enabled by default. It still seems like there are many good ideas in here! Please open issues (or even better, PRs!) for those separately so we can better track them.

[2020-03-31 15:50] #5053 closed

[2020-03-31 15:51] saulshanabrook opened #8144 "Remove experimental label from enable extension manager menu item"
Now that the extension manager is enabled by default, we need to do something with the existing "Enable extension manager" command and UI in the settings menu.

I think for now, we should at least get rid of the "Experimental" text on it.

I would vote for keeping the command in there and the menu item there, at least until the next major version. It is still usable to disable the extension manage

[2020-03-31 15:59] echarles commented on #8144
@saulshanabrook https://github.com/jupyterlab/jupyterlab/pull/8145 implements this.

[2020-03-31 17:07] jasongrout commented on #5254
How does this work for different languages which may have different comment conventions? For example, I think Jupytext has a hardcoded list for some common languages what the comment character is (and hence what the cell delimiter is).

[2020-03-31 17:59] MohammadSamragh commented on #6910
I had the same issue. Running the Jupyter kernel from within a Linux screen might help. connect to the remote server and type:
`screen`
Then proceed to open a screen session, and type:
`jupyter notebook --no-browser --port xxxx`

Now open another terminal and tunnel:
`ssh -N -L xxxx:localhost:xxxx username@remotehost.com`

After this the host jupyter should be able to recover even if connection is

[2020-03-31 19:32] ianhi commented on #8062
Does using `this.editor.replaceSelection?.(text)` count as a breaking change? ie this change:
[code]

If yes, is the correct solution something like?:
[code]
Using `replaceSelection` is a nice improvement because it will embed the image at the cursor location instead of the current behavior of always embedding at the end of the markdown cell.

[2020-03-31 19:42] matthewgson commented on #4393
Agree. A possible workaround is to launch notebooks and then generating console from the notebook.
I also noticed that consoles get terminated without notice when the kernel is being switched from jupyter notebook.

[2020-03-31 19:46] jtpio commented on #8132
Also it would be useful to be able to hold <kbd>Ctrl</kbd> and drag and drop a file to duplicate it (similar to file browsers on a desktop).

[2020-04-01 02:07] jaepil-choi commented on #8067
No, Can confirm drag & drop doesn't fix it. When you drag & drop, spaces remains and the syntax doesn't work. It just prints the syntax like regular text.

[2020-04-01 06:50] JoostvDoorn commented on #7727
I experience the same issue on Firefox 74 with Ubuntu, the console shows:
[code]

[2020-04-01 08:49] jasongrout commented on #8023
What happens after you select a kernel?

[2020-04-01 08:59] gioarma commented on #8023
The Kernel starts with no errors and I can see it in the kernel sessions. If I shut it down, it shuts down with no errors

[2020-04-01 09:16] jasongrout commented on #8023
But no file opens? Are there any errors in the browser Javascript console or in the server logs?

[2020-04-01 09:30] jasongrout commented on #8023
I tried to reproduce by:

1. Installing a fresh new JupyterLab in a clean conda environment: `conda create -c conda-forge -n test8023 jupyterlab`, `conda activate test8023`
2. Launch JupyterLab, create a new notebook with a Python kernel, use one cell to make sure the kernel was working.
3. Close JupyterLab tab and shut down the server (without closing the notebook)
4. Delete the notebook from the

[2020-04-01 09:39] gioarma commented on #8023
I get this in the Chrome console:

<img width="1279" alt="Schermata 2020-04-01 alle 11 35 13" src="https://user-images.githubusercontent.com/59478987/78122327-e7773400-740c-11ea-82c9-0000feb62a83.png">

Yes, I also have this problem _only for this specific notebook_, probably I should have specified it sorry. For any other notebook I don't get asked for selecting kernel if it was not open during t

[2020-04-01 09:48] jasongrout commented on #8023
Very interesting. The errors indicate you may have some extra extensions installed, etc. What happens if you follow the issue diagnosis guidelines for reporting issues at https://jupyterlab.readthedocs.io/en/stable/getting_started/issue.html to try to reproduce the issue in a clean JupyterLab?

Do you recall anything about this notebook?

Or do you just want to clean out the workspace so that this

[2020-04-01 09:49] jasongrout commented on #8023
(I found that reset command by reading https://jupyterlab.readthedocs.io/en/stable/user/urls.html)

[2020-04-01 09:57] gioarma commented on #8023
Actually I just wanted JLab not try to open the notebook anymore and the reset command worked perfectly! Thank you!

[2020-04-01 10:09] jasongrout commented on #8023
Great! If anyone else experiences this and wants to help us track down whatever might be the issue, please open a new issue and follow the reporting diagnosis guide (or post the notebook in question, if you can) to help us reproduce what the problem might be. My current thought based on the errors above is that it may be caused by a third-party extension.

[2020-04-01 10:09] #8023 closed

[2020-04-01 10:13] jtpio commented on #8144
Fixed by https://github.com/jupyterlab/jupyterlab/pull/8145.

[2020-04-01 10:13] #8144 closed

[2020-04-01 11:03] jasongrout commented on #8142
Note that disabling downloading files is something that requires changes to the server. Changing the interface in JupyterLab will not disable the ability to just go to the right URL and get the file.

See #5274 for more discussion. I also found #6950 when I searched for "disable download" in this repo.

[2020-04-01 11:13] jasongrout commented on #8139
A [quick google search](https://www.google.com/search?hl=en&q=windows%20fonts%20scale%20blurry) indicates that windows has issues with scaling fonts and blurriness. It may be that this issue needs to be fixed at the OS level with a setting, and is out of JupyterLab's control.

Alternatively, we upgraded the terminal js library with JupyterLab 2.0. Perhaps upgrading might help?

[2020-04-01 11:17] jasongrout commented on #8139
For another data point: I'm not seeing any blurriness on a hidpi macOS laptop screen (firefox, macOS Mojave, JLab 2.0.1)

[2020-04-01 11:18] jasongrout commented on #8123
Try upgrading to 1.2.8, or even better, 2.0.1.

[2020-04-01 11:19] maya-harel commented on #8142
changes in the server you mean the https://github.com/jupyterlab/jupyterlab_server repo ?
if i disable the download in the lab, including the 'get download url', how can the user bypass this and download files anyway ?

[2020-04-01 11:22] jasongrout commented on #8077
CC @telamonian

[2020-04-01 11:22] #8071 closed

[2020-04-01 11:23] jasongrout commented on #8071
Please open a new issue and fill out the information the "bug" issue template requests, including steps to reproduce the issue and information about your current JupyterLab version, etc.

[2020-04-01 11:33] jasongrout commented on #8142
They can just use the notebook server api by going to the url for downloading a file. You can get that URL by right-clicking on a file and selecting "Open in New Browser Tab" (the URL has `/files/path/to/file` in it, probably). Note that that URL works whether or not the menu item is there - it's part of the server api.

They could maybe be done there, or in the Jupyter Notebook repo (we inherit f

[2020-04-01 13:36] Christophe-pere opened #8147 "jupyter lab build npm dependencies failed WSL ubuntu 18.04"
## Description

Hi there,

Like many of us (after reading issues) I have the issue of build failed on my ubuntu 18.04 in the WSL.

## Reproduce
What have I done ?

1. upgrade jupyter lab ==> v2.0.1
2. install npm (nmp v3.5.2 ; node v8.10.0)
3. run jupyter lab
4. Enable Extension Manager
5. install nbdev via pip
6. Find in Extension manager @jupyterlab/debugger
7. Rebuild
8. See error ' build faile

[2020-04-01 13:59] mebrunet commented on #5254
Hydrogen handles Python, R, Julia, JS, C++, Stata, and Matlab by using:
[code]
See their [doc on code cells](https://nteract.gitbooks.io/hydrogen/docs/Usage/Cells.html).

[2020-04-01 15:58] jasongrout commented on #8147
First, can you upgrade node to at least node 10, or preferably node 12?

[2020-04-01 16:00] jasongrout commented on #8147
What jupyterlab extensions do you have installed? `jupyter labextension list`

[2020-04-01 16:47] Christophe-pere commented on #8147
Hi,

Thanks for you answer. I just upgraded nodejs to the latest version:
[code]
After that testing with
[code]
So it's working thanks a lot.

To your last question:
[code]

[2020-04-01 16:47] #8147 closed

[2020-04-01 17:04] tgeorgeux commented on #8101
Here's a reference to the old UX review I did on this feature #6650

[2020-04-01 17:18] tgeorgeux opened #8148 "UI UX Exploration: Settings User Interface."
We currently have an advanced settings editor, but not a 'normal' one.

There is a team from UCI who's working on this with me, we'll post updates and questions here.

[2020-04-01 17:39] telamonian commented on #8148
We absolutely need this. I like vscode's approach to presenting core and extension settings together in one scroll. I think anything we have should have roughly the same capabilities, if not exactly the same design:

![image](https://user-images.githubusercontent.com/2263641/78167547-ac7cfc80-741c-11ea-9cf4-1765d667ccd3.png)

[2020-04-01 17:41] telamonian commented on #8148
One blocker on the technical side has been "how do we generate appealing forms from our existing settings .json files?" We currently don't have the necessary zoo of nice input components internally.

There was a brief push for us to adopt [react-jsonschema-form](https://github.com/rjsf-team/react-jsonschema-form):

#5892
#7250

@ian-r-rose actually got it working in an experimental branch, but it

[2020-04-01 19:07] krassowski opened #8149 "Feedback on new extensions manager disclaimer in 2.1b0"
Follow up on  #7967 #7989

- after updating from 2.0.1 I had to enable the extensions, even though I was offered to re-build to include the extensions that I had previously installed (and I had the extension manager enabled) - IMO the upgrade experience is not the smoothest and a bit confusing, but this may be ok
- once enabled the warning shows up again and again when I refresh the page - is this

[2020-04-01 20:10] jvschoen opened #8151 "Hitting Tab in Jupyterlab with table of contents breaks the code collapse"
## Description

When using jupyterlab (on Google AI notebooks) I often encounter an issue when hitting the tab key when my cursor is not in a code chunk cell. It will bring me up to an arbitrary (though consistently the same cell). This wasn't a huge pain for me originally, but when using jupyterlab toc (table of contents) I often use the collapse feature which helpfully collapses my code as well

[2020-04-01 21:10] woswos commented on #8094
Is this issue still unassigned? I want to work on it.

[2020-04-01 21:14] jasongrout commented on #8094
I don't know of anyone working on it - go for it! CCing also @tgeorgeux for UX insights.

[2020-04-01 21:20] woswos commented on #8094
Thanks for the quick response! For context, me, @amad-a, @quangio, and @FungluiKoo are working on a university class project on making our first open source contribution. We hope to stay in touch with you and @tgeorgeux as we begin to work on this! 

[2020-04-01 21:23] jasongrout commented on #8094
Welcome, and congratulations! We look forward to hearing from you!

[2020-04-01 21:27] jasongrout commented on #5421
Closing as answered.

[2020-04-01 21:27] #5421 closed

[2020-04-01 21:56] tgeorgeux commented on #8094
Hi @woswos et. al. It's nice to have you around! Thanks for choosing JupyterLab. A good first step would be to scratch out a simple wireframe of what you think the new dialogue should look like, including your preferred copy, we'll ring in with feedback as we have it.

I head up a lot of design and design-related decisions in JupyterLab. I won't be much help on the implementation phase, but I'm pr

[2020-04-01 21:58] YubinXie commented on #7439
The same issue is observed in Safari.

[2020-04-01 22:05] jasongrout commented on #7439
Can you upgrade to 1.2.8 or 2.0.1?

[2020-04-01 22:10] YubinXie commented on #7439
Upgrading to 1.2.6 solved this issue! Thank you!

[2020-04-01 22:10] AlbertHilb opened #8152 "Multiple *current match*es in search results"
## Description

In some circumstances different *current match*es appear in search results.

## Reproduce

1. Insert `a = 12` in the first cell.
2. Insert `b = 23` in the second cell.
3. Put the cursor on the left of the `=` symbol in the first cell.
4. Open the search dialog and insert `2`.
5. Move the cursor on the left of the `=` symbol in the second cell.
6. Press the `next` button in the sear

[2020-04-01 22:18] jasongrout commented on #8084
I put in https://github.com/jupyterlab/jupyterlab_server/pull/84 since it popped up for me right away using the new on-by-default extension manager.

[2020-04-01 22:25] jasongrout commented on #7439
Closing as fixed. If any of the other people on this issue are still having this problem after upgrading, please indicate in a comment. Thanks!

[2020-04-01 22:25] #7439 closed

[2020-04-01 23:05] jasongrout commented on #8084
2.1 beta and rc were released a few hours ago.

We plan to release 2.1 final Thursday

[2020-04-02 05:15] jasongrout commented on #5672
We are planning a meeting at [11:30 PT](https://www.thetimezoneconverter.com/?t=11%3A30%20am&tz=San%20Francisco&) on Friday Apr 3 on the normal Jupyter Zoom channel to discuss how to move forward with the extension rework.

[2020-04-02 05:16] jasongrout commented on #7468
We are planning a meeting at [11:30 PT](https://www.thetimezoneconverter.com/?t=11%3A30%20am&tz=San%20Francisco&) on Friday Apr 3 on the normal Jupyter Zoom channel to discuss how to move forward with the extension rework.

[2020-04-02 09:50] tarjintor commented on #7872
@Felihong this works for me,but can't figure out why
and when I use
`jupyter labextension list`
the extension manager will not show in the list

and I can reproduce this
If you
[code]
then restart jupyterlab,this works,but if you use

https://jupyterlab.readthedocs.io/en/1.2.x/developer/extension_tutorial.html

to create a extension yourself

just use step 1

instead of use
[code]
I use yarn 1.22.

[2020-04-02 11:06] #8142 closed

[2020-04-02 11:15] maya-harel opened #8154 "Build and run Jupyterlab from src code locally"
I have made a few changes to the jupyterlab code and i want to install and run this version as the default version on my machine.
According to the instructions I did the following :
`pip install -e .
jlpm install
jlpm run build
jplm run build:core
jupyter lab build`
The build is showing `[LabBuildApp] Building in /opt/conda/share/jupyter/lab`

When I run `jupyter lab`, I can see that the applicati

[2020-04-02 11:19] vincent770 opened #8155 "Memory consumption is too high even when all tabs are closed"
## Description

I found memory usage won't be released after the all the taps are closed. It getting more and more stuck if you don't restart browser to reset everything.

1. open jupyter lab (ver2.0.1) on chrome
2. open windows taskmanager, recored initial memory consumption (usually under 200Mb on my machine)
2. open several .ipynb files(say it 10 files)，which should contains some gifs to consum

[2020-04-02 13:40] saulshanabrook commented on #7468
From [the issue](https://github.com/webpack/webpack/issues/10352) @blink1073 linked to:

This is exactly what we want! If we can really get webpack to make multiple separate builds,  and have it join them in the browser, this will be perfect, since then we don't need to do another build on install time.

[2020-04-02 13:43] saulshanabrook commented on #7468
It might be helpful to have a call with @ScriptedAlchemy, if he is available, to get his take on what we are trying to do and how we could leverage the work they are pursuing.

[2020-04-02 14:39] Juan-132 commented on #7983
Could we not simply require the user to make a choice, either Kite or LSP?
How much extra added value is expected from enabling them both at the same time?

[2020-04-02 15:19] echarles commented on #7468
I have played a bit with https://github.com/module-federation/module-federation-examples and posted a question on @ScriptedAlchemy twitter timeline https://twitter.com/ScriptedAlchemy/status/1245141523764674560

The shared, exposes and remotes attributes work pretty well but I have not seen a feature that would allow to avoid a complete rebuild when you would add a deps/dependency not present in y

[2020-04-02 16:23] mlucool opened #8157 "UX: File Browser Filter"
Hi,

In notebook, there was a [tree-filter](https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/nbextensions/tree-filter/readme.html) plugin. This sort of concept is useful for directories that have a lot of files. While I don't think the UX is perfect from notebook, the idea of filtering files is common in many IDEs (e.g. [vscode](https://code.visualstudio.com/docs/getstarted/userinterf

[2020-04-02 16:35] jasongrout commented on #8060
CC @telamonian

[2020-04-02 16:41] jasongrout commented on #5999
Closing as answered. Thanks!

[2020-04-02 16:41] #5999 closed

[2020-04-02 16:42] jasongrout commented on #5592
Closed as fixed in Notebook. Thanks!

[2020-04-02 16:42] #5592 closed

[2020-04-02 16:52] blaylockbk opened #8158 "string color hard to see color in dark theme"
I love the dark theme, but the dark red string color is very difficult to see against the dark background (I have been accused of color blindness)

https://github.com/jupyterlab/jupyterlab/blob/083c65d92686d23b813f0242fca5be3d8b6fae37/packages/theme-dark-extension/style/variables.css#L352

Can it be changed to have a higher contrast ratio against the black background

from #ba2121
![image](https:/

[2020-04-02 16:53] jasongrout commented on #8158
CC @tgeorgeux

[2020-04-02 16:54] jasongrout commented on #8158
See also https://github.com/jupyterlab/jupyterlab/pull/7779, which advocates for much larger changes. I agree the red is hard to read - perhaps just this could be changed with much less controversy?

[2020-04-02 16:55] jasongrout commented on #8158
Just curious, how did you change this?

[2020-04-02 17:31] blaylockbk commented on #8158
I changed the line in the file

[code]

[2020-04-02 17:47] jasongrout commented on #8149
CC @tgeorgeux

[2020-04-02 17:52] saulshanabrook commented on #8149
Just chatted with @jasongrout about this and have some thoughts:

I think this is unavoidable unfortunately with our current build system. We could improve the message to make it clear that this also happens when you upgrade jupyterlab as well as when you install a new extension.

Yes, I think when disclaimed setting is true, we should hide the message by default on load.

Yeah I agree. What about

[2020-04-02 17:56] saulshanabrook commented on #8084
We are postponing 2.1 to Monday so we can tackle https://github.com/jupyterlab/jupyterlab/issues/8149.

We will release 2.0.2 today with https://github.com/jupyterlab/jupyterlab/pull/8153 once we test it.

[2020-04-02 18:03] echarles commented on #8149
I have thought about that while developing the disclaimer and though that the disclaimed setting was not really the one to use to show/hide the warning section. In other words, it is not because you agree with the warning that you want to hide it.

I guess introducing another extension manager setting for show/hide would be overkill.

The workspace state comes to my mind but I have never really lo

[2020-04-02 18:36] edzkite commented on #7983
There may be some instances where one provider is able to surface completions while the other is not. Enabling both to run at the same time allows the best of both worlds.

In VSCode, if a user has the MS Python extension and Kite, both are used to generate completions as well.

[2020-04-02 18:52] jasongrout commented on #8158
Thanks. I was wondering if you had used an "official" way to change the color (like making your own theme), or if you just hacked it in.

[2020-04-02 18:53] tgeorgeux commented on #8158
That change looks great to me. I ran it through webAims contrast checker to be sure and it passes with flying colors!

![Screen Shot 2020-04-02 at 11 51 17 AM](https://user-images.githubusercontent.com/22109376/78290384-89178780-74d8-11ea-9524-2daa44e3b054.png)

[2020-04-02 18:56] jasongrout commented on #8149
I think making it workspace state makes sense, but I also think the vast majority of the people will want to acknowledge it and then for it to go away, so I think Saul's suggestion is great too, and quite a bit easier to implement, i.e., that the default open/closed state is set from the acknowledgement status.

[2020-04-03 00:34] soerendip opened #8160 "No build possible with certain packages, need workaround."
## Description
    jupyter-lab build

    Install tornado itself to use zmq with the tornado IOLoop.
from jupyter_client.session import Session
[LabBuildApp] JupyterLab 1.2.6
[LabBuildApp] Building in /home/.../miniconda3/envs/jupyterhub/share/jupyter/lab
An error occured.
ValueError: Please install nodejs >=6.11.5 before continuing. nodejs may be installed using conda or directly from the nodejs

[2020-04-03 00:45] jasongrout commented on #8160
Yes, you need to install node version 10 or later, and preferably 12 or later.

[2020-04-03 05:23] jasongrout commented on #8158
@tgeorgeux - how about you make the final call on if this is the shade of red we want, and merge it if it's good, or if you want to tweak it more.

[2020-04-03 06:13] jasongrout opened #8161 "Extension manager in 2.1 does not annotate Jupyter packages with Jupyter badges"
In the old extension manager, a whitelist of packages were annotated with a Jupyter logo and a note in the tooltip to indicate they were from Project Jupyter:

<img width="384" alt="Screen Shot 2020-04-02 at 11 10 41 PM" src="https://user-images.githubusercontent.com/192614/78329664-33be9300-7537-11ea-8974-5827019db205.png">

This seems to have disappeared with the new extension manager (note that

[2020-04-03 06:14] jasongrout commented on #8161
CC @saulshanabrook @echarles

[2020-04-03 06:20] echarles commented on #8161
Yes, this has been discussed in https://github.com/jupyterlab/jupyterlab/pull/8078#issuecomment-605214635 (read also and next comments).

Although the jlab icon is removed, the jlab org extensions are still sorted at the top of the list.

[2020-04-03 09:37] jasongrout commented on #8161
Thanks. I didn't see in that discussion a reason why the extensions from Project Jupyter are not noted anymore (sorting isn't an explicit indicator, of course, unless there is at least some sort of division between the Project Jupyter extensions and other extensions).

@tgeorgeux, I gather from the discussion linked above that the mockup did not include an indication of which extensions are from P

[2020-04-03 09:41] jasongrout commented on #8161
On the other hand, reading more carefully, maybe @tgeorgeux didn't make a mockup...

@saulshanabrook, as near as I can tell, the reason was this comment from you:

But IIRC, the icons in the new extension are from the project's own data, so it's not the same as the whitelist-type approach we had before, where we showed a Project Jupyter icon next to projects that *we* specifically are annotating.

[2020-04-03 10:35] echarles commented on #8161
The first mock on https://github.com/jupyterlab/jupyterlab/pull/8078#issue-393090186 still shows the icon, true.

I will open anyway a PR to address https://github.com/jupyterlab/jupyterlab/issues/8149

I can add in that PR the icon (waiting on confirmation for that).

BTW the previous method to show that icon was called isWithelisted` which I had renamed `isJupyterlabOrg` before removing it. This

[2020-04-03 10:43] jasongrout commented on #8161
First of all, I should have started with: *Thank you* for all the work you are doing on this extension manager. We *really* appreciate it!

I originally thought this indication was superseded by the whitelist feature. I think you are right that really this is a different issue, though.

[2020-04-03 11:01] echarles commented on #8161
Thx for your reviews and glad it is useful. There are still cycles before the release to rollback that. I am listening to the final decision.

[2020-04-03 12:35] echarles commented on #8149
I have opened a PR to fix the reported issues https://github.com/jupyterlab/jupyterlab/pull/8163

I can onboard in that PR the final decision discussed in https://github.com/jupyterlab/jupyterlab/issues/8161

[2020-04-03 14:21] mooreann opened #8164 "'Please use a different workspace.'"
When I open Jupiter lab in terminal I've been getting the screen saying:

"This workspace is already in use in another JupyterLab window. Please enter another workspace name."

when the browser pops up. I've tried closing all browsers, closing all terminal windows and restarting my computer to try to reset any other previously open sessions which might be conflicting. I also went to ~/.jupyter/lab

[2020-04-03 14:27] saulshanabrook commented on #8161
Sorry, I should have articulated what I was thinking.

It looked bad to me to have two icons, one small, one big, of the same thing. The little ones just looked off once we added the bigger ones.

And for the user, the big ones are mostly a superset of the information expressed in the little icon. The only difference would be if an extension author changed their github photo to be the JupyterLab

[2020-04-03 14:41] saulshanabrook commented on #8149
Fixed in https://github.com/jupyterlab/jupyterlab/pull/8163

[2020-04-03 14:41] #8149 closed

[2020-04-03 14:46] krassowski commented on #8161
Cross-referencing my earlier comment on this https://github.com/jupyterlab/jupyterlab/issues/8043#issuecomment-599245780. I would prefer the icon indicator to stay, but I also admit that it does not seem visually appealing in the current format (having both a large badge AND an indicator, often both with the same logo).

Would it make sense (not necessarily in this immediate release, but possibly

[2020-04-03 14:56] krassowski commented on #8161
@saulshanabrook I agree with that the potentially malicious activity is an edge case (and it might be better to go with the 2.1 release as it), but as a user, I felt much reassured by this icon. Like if someone uploads `@jupylerab/toc` with the same icon and description...

[2020-04-03 15:02] echarles commented on #7468
Food for thought `True dynamic loaded components in React (with rollup)` https://www.youtube.com/watch?v=GjkQS5J6K6k

[2020-04-03 15:32] echarles commented on #8161
My feeling is that we should not overload user mind with conditions.

To bring more confidence to the user, the real solution is the administrator to setup a whitelist...then talking about warning comes the question: should the user explicitly accept the warning if the admin has setup a whitelist, especially with the new text content proposed in https://github.com/jupyterlab/jupyterlab/pull/8162

[2020-04-03 15:36] echarles commented on #8161
We should also define what are the extensions to receive that badge: Only under jupyterlab or all jupyter family, like e.g. `jupyter-voila` (https://github.com/voila-dashboards/voila/blob/master/packages/jupyterlab-voila/package.json#L2)

[2020-04-03 15:37] Benjiini commented on #6112
Are there any news on this feature?

[2020-04-03 16:30] soerendip commented on #8160
Unfortunately, that is not possible within the active conda environment due to version conflicts. Is there a way to install nodejs separately? E.g. with npm just for the build?

[2020-04-03 16:44] jasongrout commented on #8160
I always install nodejs with conda forge: `conda install -c conda-forge nodejs`

[2020-04-03 16:45] jasongrout commented on #8160
With jlab 1.2.x, you might be able to use node 8 as well.

[2020-04-03 16:47] jasongrout commented on #8160
Another way to install and use different versions of node is to use NVM: https://github.com/nvm-sh/nvm

[2020-04-03 16:57] jasongrout commented on #6112
I don't know of anyone working on this. You can highlight words across notebook editors by searching for them now (Ctrl/Cmd F)

[2020-04-03 17:12] jasongrout commented on #8161
Agreed - in fact, even moreso, I suppose some administrators would like to *not* give extra indication of Project Jupyter projects.

If we do still want to give indication, to resolve the double-icon issue, perhaps instead a (much clearer) new line of text under the description could be added: "Maintained by Project Jupyter"

[2020-04-03 17:15] saulshanabrook commented on #8161
That sounds reasonable...

[2020-04-03 17:16] jasongrout commented on #8161
Well, it's more than that.

1. Lab has a very non-standard Jupyter icon. If you didn't know the lab icon, you might think it was fake and made to look like Jupyter. It certainly doesn't follow the Jupyter branding guidelines, for example.
2. Things like voila, which are part of Project Jupyter, don't even have the Jupyter icon at all.

[2020-04-03 17:41] jasongrout commented on #8161
To be fair, though, we also provide all of *our* software with no warranty, liability, etc., and we should not imply that we do have any sort of extra assurance.

I think the thing other app stores have that we are missing is the concept of an organizational owner that extends beyond how the code is organized. I don't know how we would get that information reliably in general in our current npm-ba

[2020-04-03 18:02] jasongrout opened #8165 "Extension manager with both blacklist and whitelist"
Just checking, this line of code: https://github.com/jupyterlab/jupyterlab/blob/d62dfab15231eb7af9a5b1c4736abd6b4128bae6/packages/extensionmanager/src/listings.ts#L66-L68

Does that mean that if both a blacklist and a whitelist are defined, all extensions are allowed through by default?

Since both blacklists and whitelists are about filtering out extensions, that would be *really* surprising to m

[2020-04-03 18:03] jasongrout commented on #8165
CC @echarles @saulshanabrook

[2020-04-03 18:12] jasongrout commented on #8161
In the interest of being *really* clear about where we are getting this extension information, how about having the extension name not linking to the package.json url entry, but instead to the npm page for the version displayed. From there the user can go to the url from the npm interface.

The reason for this is that any package can point to any url as their "url", so that is in a sense untrusted

[2020-04-03 18:15] jasongrout commented on #8161
I suppose we have the same spoofing issues with how we automatically get the github org image from the package.json url entry.

[2020-04-03 18:23] echarles commented on #8161
I like the idea to link to npm and the first time I clicked on an extension, I have been surprised to fall on github instead of npm. If link to npm, I find weird to display the github account badge. Unfortunately, npm does not provide any badge (nor in the response, nor on the package page - https://www.npmjs.com/package/@jupyterlab/coreutils).

Regarding the spoofing risks, npm can also be spoofe

[2020-04-03 18:39] jasongrout commented on #5672
To consolidate, let's move discussion over to #7468, which is broader in scope and has more in-depth discussion about technical alternatives.

[2020-04-03 19:38] cbmiller2610 commented on #7531
Zireael, did you ever resolve this issue? I just started having the same issue. I can use commands like `jupyterlab labextension install jupyterlab-manager` to install packages, but then I see errors like `ValueError: "['jupyterlab-jupytext@1.1.1', '@jupyter-widgets/jupyterlab-manager@1.0.3', 'jupyterlab-plotly@4.6.0', 'plotlywidget@4.6.0']" is not a valid npm package `.

[2020-04-03 19:41] jasongrout commented on #8161
Do you have a screenshot of what you are suggesting?

On the other hand, I think we had just decided to forego the Jupyter badge annotation for now. Is that all right with you as well?

[2020-04-03 19:44] jasongrout commented on #8161
I agree it's a bit weird to pull our source info from npm, but then infer the icon to use from github. We could also roll back the icon for now until we have a wider discussion about the implications of it, and conservatively just list the npm package name and one-line description, as well as a link to the npm page for that specific version.

[2020-04-03 19:44] jasongrout commented on #8161
Can you elaborate?

[2020-04-03 20:01] tgeorgeux commented on #8161
The img above that Krassowski posted:
![image](https://user-images.githubusercontent.com/22109376/78400150-03b0d780-75ab-11ea-9c0c-7cdf873a9565.png)

That is fine with me. I read through the comments and thought we were trying to get it in, I am ok with not having the badge for now or indefinitely. It just depends on what people find more helpful.

[2020-04-03 20:08] jasongrout commented on #7531
Often that error happens when there is some problem downloading an npm package.

However, your error seems to indicate that there is some problem specifying a package name. It seems to think that the *list* of package names is a single package that it should be trying to download.

What is the exact command you are running?

[2020-04-03 20:32] echarles commented on #8161
If we want to question the risks that what we see is not what it is supposed, we can imagine a DNS attack that would redirect all our request to npm to a hacker.

[2020-04-03 20:38] cbmiller2610 commented on #7531
I would install all packages using `jupyter labextension install` (sorry, previous comment had a typo).  For example I was trying to reinstall all the necessary extensions for plotly and jupytext after having to reinstall node.js.  Then, when starting jupyter lab, I would see those errors in the log.  However, I think I "solved" it... and I'd guess it has something to do with the jupyterlab extens

[2020-04-03 20:44] jasongrout commented on #8161
Ah. That is quite a bit more sophisticated than setting my url to some Jupyter repo.

[2020-04-03 20:45] jasongrout commented on #8161
Another issue I see with linking to github is that you click on an extension and you see the code, which seems more intimidating than seeing the npmjs page.

[2020-04-03 20:47] jasongrout commented on #7531
@Zireael - is everything working for you now too?

[2020-04-03 22:27] krassowski commented on #8161
I would prefer users to go to the GitHub page as this is where they can report issues (and even be tempted to open a PR). I think that this works for GitLab and bitbucket as well (and that in an ideal world, GitLab pictures should be used as badges as well).

In general, I would like to have control over this by the `hompage` attribute in `package.json`, and I would be happy to accept a whitelist

[2020-04-03 22:50] jasongrout commented on #8161
Can we have both? Can we have a link to the npmjs page, and then a separate link to the website it claims? Like:

[@jupyterlab/toc-extension](https://www.npmjs.com/package/@jupyterlab/toc) ([website](https://github.com/jupyterlab/jupyterlab-toc))

[2020-04-03 23:32] jasongrout commented on #8165
Thanks for looking at how things work on the server. I still think we shouldn't fall back to a less secure case, though. As it stands now, it would be easy to make a change on the server to make things work and forget to change something on the server, and then suddenly my whitelist/blacklist is gone. I think failing fast with an exception would be fine too, especially, as you say, this is a case

[2020-04-03 23:36] jasongrout commented on #8161
Also, is this content escaped when it is put on the page? Since it is coming from untrusted sources, we need to make sure it is being escaped.

[2020-04-04 07:40] echarles commented on #8165
Makes sense. I have opened https://github.com/jupyterlab/jupyterlab/pull/8167 to disable the extension manager with a message if both black and white listings are configured.

[2020-04-04 08:19] echarles commented on #8161
@jasongrout @tgeorgeux @saulshanabrook @krassowski  I have opened https://github.com/jupyterlab/jupyterlab/pull/8168 to propose a change that hopefully takes into account discussions we all had here and will create a consensus.

[2020-04-04 12:47] blink1073 commented on #7468
Some thoughts:

- Adopt AMD as the module format, something isn't going to change
- Use Webpack to build AMD modules and RequireJS to load them
- We provide:
  - Webpack configuration to create multiple AMD libraries that include the source package name and requested package version in the library name, e.g. `my-package/react@16.9.2`.  This produces a set of files that is a mini-registry.
  - A sc

[2020-04-04 12:51] blink1073 commented on #7468
cc @oigewan

[2020-04-04 16:34] HashRocketSyntax opened #8170 "Inaccurate UI error message when opening file w syntax error"
Details including all error messages and package versions:
https://stackoverflow.com/questions/61030900/error-when-opening-ipynb-in-jupyterlab-close-without-saving

I was trying to **open** a file that had git merge conflict lines in it, so I was getting a `bad file json syntax error` in the console, but the UI kept confusingly saying `Close without saving?`

Maybe change this error to be more alo

[2020-04-04 18:21] mher2004 opened #8171 "Invalid response: 500 Internal Server Error"
Hello i am a newbie in this and when i open the terminal in jupyter lab in the windows opens a new tab and said a error 500 i haved updated jupyter jupyter lab with pip command i have windows 7 32 bit sp1 the browser i have is opera gx i tried in the general opera browser but i think it is not from browser jupyter i have downloaded with pip comands because anaconda doesnt work on my pc(i dont know

[2020-04-04 18:31] GabrielFritz commented on #7932
Hi, is there anyone working on this? I'd like to work on it as my first issue!

[2020-04-04 18:31] GabrielFritz commented on #7883
Hi, can I work on this?

[2020-04-04 18:39] misterbeebee commented on #7932
This is fixed.

[2020-04-04 20:42] joelostblom commented on #4026
@wstomv  @Mahluza

This is possible by adding a `"raises-exception"` tag to the cell metadata:

[code]

 It was introduced in #2412 and restored in #7020 after not working for a bit.

For ways to add a ToC to the JupyterLab notebook, [see my SO answer here](https://stackoverflow.com/a/59286150/2166823).

[2020-04-04 21:03] jeremycadams commented on #8090
I too like this idea - it would make our use of Jupyter Notebooks for teaching concepts in data analytics and Python much richer, and more self-service in many cases.

[2020-04-04 21:05] Juan-132 commented on #8129
@jasongrout thanks for your insights on this.

Let me elaborate a bit on the reason behind the suggestion. Exporting a notebook for me is one step in the workflow to publish the notebook. These steps include:
1. rerunning the notebook to make sure all code changed are incorporated in the output (-> rerun all code button in notebook)
2. exporting the notebook (to html) (-> NBConvert from the comman

[2020-04-04 21:29] jeremycadams opened #8172 "Markdown or HTML bookmarks to sections within a notebook don't work when two notebooks are open"
## Description

When including links to sections within a notebook, either with explicit HTML-style tags or using iPython style references to headers, and two notebooks are open at once in Jupyter Lab (usually if you have two copies of the same noteobook as in versioned copies of the notebook), the hyperlinks stop working. When only one notebook is open the links work correctly. This appears to be

[2020-04-04 22:28] saulshanabrook commented on #7883
Please do! That would be amazing. Let me know if you have any questions.

We also have [weekly dev meetings](https://github.com/jupyterlab/jupyterlab#weekly-dev-meeting) which anyone is welcome to come to. They are a good place to introduce yourself and see what everyone else is up to!

[2020-04-04 22:45] tgeorgeux commented on #8158
I think this color is better than what we're currently using, the changes in #7779 are larger and need more consideration, but for 2.1 this is a good change that we should implement. I can make a PR to try to get this in before Monday.

[2020-04-05 02:46] GabrielFritz commented on #7883
Perfect! I will read the discussion and start documenting! About the meeting, I'd love to participate!

[2020-04-05 03:03] realmariano commented on #4778
I have a latam keyboard (no number section since it is a notebook), couldn't find any way to toggle comments yet.
The <kbd>CTRL</kbd>+<kbd>-</kbd> mentioned before does not work in my case (I am using firefox, so when I try it it juts decrease the zoom).
It would be great to be able to set a specific short cut for this.

[2020-04-05 04:53] hustkisas commented on #8123
I tried to update using conda update -c conda-forge jupyterlab
I'm still jupyter lab --version   1.1.4.

[2020-04-05 04:54] hustkisas commented on #8123
Thanks. But I don't have an old jupyterlab tab open.

[2020-04-05 05:01] jasongrout commented on #8123
Try giving the version explicitly, like `conda install -c conda-forge jupyterlab=2.0.1` or `conda install -c conda-forge jupyterlab=1.2.8`. Or you can set up a new environment with an updated JupyterLab.

[2020-04-05 10:34] ramanova commented on #6112
This is a basic feature which would be amazing to have. Google Collab supports it.
Plus, the search function has a bug, that takes on the focus, so unless you close the search, the page will keep jumping to the last occurrence of a searched word.

[2020-04-05 11:29] blink1073 commented on #7403
The current UX in JupyterLab 2.0 is the following:

<img width="109" alt="image" src="https://user-images.githubusercontent.com/2096628/78473409-15f35880-7706-11ea-995e-b36e3975b302.png">

See discussion in https://github.com/jupyter/jupyter_server/issues/197 about a long term solution, but I think at the very least we should show a busy indicator while it is starting.

[2020-04-05 12:07] mlucool commented on #7403
If we are making changes to the indicator, can we choose different values for:
1. Busy
2. Idle
3. Starting
4. Dead (I don't see this in the [status list](https://jupyter-client.readthedocs.io/en/stable/messaging.html#status), but I see this can be a status)

I propose that
1. Dead is a redish
2. Starting is a yellow or orange color
Busy/Idle are left as is for now

[2020-04-05 13:34] simonstingelin commented on #7704
Overwriting the Setting does not solve the problem. Does anybody know a workaround?

[2020-04-05 13:56] dschaehi commented on #1082
[AllanChain](https://github.com/AllanChain) created a JupyterLab Solarized dark them. Check this out: https://github.com/AllanChain/jupyterlab-theme-solarized-dark

[2020-04-05 15:10] blink1073 commented on #7403
cc @tgeorgeux for UX input, thanks @mlucool!

[2020-04-05 15:11] hustkisas commented on #8123
Thank you Jason. The command didn't work either. It had problem solving environment:

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

[2020-04-05 15:31] asteppke commented on #8171
The response `500 Internal Server Error` is unfortunately not very specific. Jupyter lab consists of many components and packages, if the installation did not produce a state of compatible dependencies this can lead to this response.

You can start diagnosing this by looking into the console output, often the source of the problem is already obvious from this.

Even though you said that anaconda d

[2020-04-05 15:58] mher2004 commented on #8171
if i upload the image of my console can you help me in this error i definitely doesnt know what to do i tried very much times to install anaconda but it doesnt install well i had viewed many tutorials to solve the error but nothing works if you help me i will be very thankful
![Capture](https://user-images.githubusercontent.com/44675886/78503466-c188c100-7777-11ea-9940-5a0134e3ff87.PNG)

[2020-04-05 17:43] asteppke commented on #8171
So Jupyter lab is trying to start a terminal using `powershell.exe` and this fails. It looks at first glance that this is preventing the further startup of Jupyter.

You can reset Jupyter by moving or deleting the configuration. The configuration is located in
`C:\Users\<your username>\.jupyter`. If you rename the whole directory Jupyter will create it from scratch.

If this does not help I would

[2020-04-05 18:03] mher2004 commented on #8171
Thank you for your help i will try that way if doesnt work will serach a method to install anaconda thanks very much

[2020-04-05 20:42] Juan-132 opened #8175 "Show 'Error message' at the top of the stack trace (less scrolling)"
The most important information to solve an error in your code is arguable the error message (the exception that was raised). This bit of information is printed at the bottom of the stack trace.

When a developer knows the Error message - the most common error's like typo's in variables/functions - or incorrectly called functions/ parameters can be fixed right away.

**Current situation**
The Error

[2020-04-05 22:11] alphacentauri12 opened #11283 "Current line debugged is not highlighted"
Debugging code does not show current line highlighted - see image. However, in panel 'source' the line is highlighted.
![image](https://user-images.githubusercontent.com/16387111/78510840-729f5380-7798-11ea-9cd3-37ab3c31371b.png)

Any idea what goes wrong?

Win 10, running miniconda.
Conda list:

Name                    Version                   Build  Channel
absl-py                   0.9.0

[2020-04-06 03:26] ianhi commented on #7388
### Crtl-C
@jasongrout are you using a mac when finding that you can copy-paste using the keyboard?

It turns out that `Crtl-C` is a vim command that is almost ([but not quite](https://vi.stackexchange.com/a/20028)) synonymous to `<esc>` so CodeMirror captures Crtl-C events in an attempt to faithfully replicate vim and text doesn't get copied to the clipboard. On a mac this is avoided because you

[2020-04-06 03:45] slsongge commented on #6888
@austinbrian Hi! How do you implement this option(single-cell find-replace-all) now?

[2020-04-06 04:24] song0304 opened #8176 "Ipywigets stopped working displaying "Error displaying widget: model not found“ after ipyaggrid is enabled"
## Description
Ipywigets stopped working after ipyaggrid is enabled.   The error message is  "Error displaying widget: model not found“

Chrome browser console shows there is js error "could not create a model", the underlying error is the extension dynamically injected a <script> tag in the HTML header and the HTTP request for the javascript file was refused by the server.
I learnt from https://g

[2020-04-06 04:39] ScriptedAlchemy commented on #7468
@echarles thats possible to do, we just don't really disclose it. You can also dynamically load remotes at runtime without adding them to remotes array. I tweeted about it today.

Doing the same for overrides (shared) would involve executing __webpack_overrides__() - adding new overrides at runtime. Not something i thought about doing, but i believe it's been designed as such that you could. If yo

[2020-04-06 05:00] ScriptedAlchemy commented on #7468
Reading this thread, I'm realizing there's more questions. Could do a zoom call or hangout if you've got questions.

In short, Module Federation can do everything webpack can. JS, CSS, Loaders, side effects, SSR, AMD/UMD, commonjs,systemjs and so on. No real limitations from that perspective - if webpack can do it, it'll work.

Vendor versioning and management, a simple solution would be:
![image]

[2020-04-06 05:41] bolinfest opened #8177 "include IDisplayUpdate in IOutput definition?"
https://github.com/jupyterlab/jupyterlab/blob/aeadf79f4c4002933dfee72519eb30be277dd808/packages/nbformat/src/index.ts#L523

If `IDisplayUpdate` should not be part of `IOutput`, then perhaps there should be a comment explaining why?

[2020-04-06 05:49] jaewooklee93 commented on #8139
@jasongrout That's great. I'm looking forward to upgrading js library. Thanks :)

[2020-04-06 08:02] Benjiini commented on #6112
I think it would be a valuable function to debug and understand the code.
Plus it is already implemented in the Jupiter extension: nbextensions.
Im not familiar with the development of Jupiter or Jupiterlab, but is it hard to adapt this feature?

[2020-04-06 14:56] mwiebusch78 opened #8179 "Cannot reopen running terminal in Firefox."
I'm using JupyterLab 0.35.5 (running on a server not maintained by me) and Firefox 74.0.1. When I close a terminal tab I cannot reopen it using the 'running' tab on the side. Clicking on the terminal does nothing. It works when I use Chrome and the same server.

[2020-04-06 16:24] Summerer opened #8180 "TAB completion inside code cells not showing up"
## Description

TAB completions do not show up in jupyterlab.

## Reproduce
1. Install jupyterlab from the ArchLinux repository
2. Follow the [ArchWiki](https://wiki.archlinux.org/index.php/Jupyter) instructions to set up JUPYTERLAB_DIR=$HOME/.local/share/jupyter/lab
3. Run `jupyter lab build` as requested on the terminal
4. Start `jupyter lab` and open/create a notebook
5. import something and tr

[2020-04-06 17:19] Summerer commented on #8180
Reproducibility:
This issue is easily reproducible on Manjaro Linux as well.

Steps:

1. Download and install Manjaro in a VM.
2. Install jupyterlab from the Manjaro repos.
3. Skip all previously mentioned steps regarding JUPYTERLAB_DIR
4. Create a new notebook
4. Try TAB completion in a newly created notebook. -> It will not appear.

Side note: Jupyter notebook (the software) is not affected here

[2020-04-06 18:03] ianhi commented on #8128
The setting you are changing only changes the keymap for the file editor. Currently you need to an extension to implement alternate keymaps in the notebook. Seems like this extension: https://github.com/ryantam626/jupyterlab_sublime is what you want.

[2020-04-06 18:31] krassowski commented on #8180
Indeed, looks like a minor change in behaviour between 1.x and 2.x. Minor, becaue it only happens before the first kernel handshake:

![indeed-requires-the-kernel-to-connect](https://user-images.githubusercontent.com/5832902/78592517-1e9a7a80-783d-11ea-802e-1d34daca9405.gif)

[2020-04-06 19:36] jasongrout commented on #8165
Fixed by #8167

[2020-04-06 19:36] #8165 closed

[2020-04-06 19:37] #8158 closed

[2020-04-06 19:46] eltortuga92 commented on #2017
Hi! I would like to contribute to this issue. Can someone please add me as an assignee to this issue?

[2020-04-06 19:47] saulshanabrook commented on #8161
Fixed in #8168

[2020-04-06 19:47] #8161 closed

[2020-04-06 19:47] blaylockbk commented on #8158
Thanks for making the change! I think a lot of people will appreciate it.

[2020-04-06 19:47] saulshanabrook commented on #7403
Bumping this to the next release so we can iterate more on the PR.

[2020-04-06 19:49] saulshanabrook commented on #2017
Sure! Just did. If you are around, feel free to come to [our weekly meeting](https://github.com/jupyterlab/jupyterlab#weekly-dev-meeting) as well to say hi and let people know what you are working on (not in any way required, just if you want).

[2020-04-06 21:00] #8084 closed

[2020-04-06 21:00] saulshanabrook commented on #8084
We have published 2.1 and 2.0.2

[2020-04-06 23:48] jasongrout commented on #8180
In fact, it's even weirder: all you have to do is click inside a different cell (no need to execute), and completions start working.

[2020-04-07 00:03] jasongrout commented on #8180
This is fixed in #8183. Thanks for filing this!

As a workaround, clicking in any cell (thereby changing the active cell) after a notebook is opened will reset the tab completion so that it works.

[2020-04-07 00:41] bchobrut-USF opened #8184 ""show all kernel activity" toggle in console not working"
Hello,

I have a kernel and console displaying output on another client, however when I log in on 2nd client and check the "show all kernel activity" toggle, the console does not show the kernel output.

![image](https://user-images.githubusercontent.com/53238947/78617907-e304ae00-7846-11ea-9ec5-d93a8a3c000d.png)

[2020-04-07 02:21] jvaldiviezo9 commented on #5897
Any update on this? I think this will be very useful as well the option to limit the output to some amount or characters to avoid overload the browser.

[2020-04-07 04:46] bjtho08 commented on #6910
I have the same issue with Jlab 1.2.6. As soon as my ssh disconnects it switches to No Kernel! I use it for deep learning so I typically set it to run for several days, but because my computer is inactive during the night, when get up in the morning (like right now), it says "No Kernel!".

I use automatic reconnect to ssh on disconnect via MobaXTerm, so it would have been more or less instantaneou

[2020-04-07 05:01] jasongrout commented on #5897
CC @tgeorgeux - any update on designs for these sorts of things in the notebook?

[2020-04-07 05:29] jasongrout commented on #5171
I realize you filed this issue a long time ago, and it's possible this has been fixed since then. Do you still see this problem? If so, can you give us a code sample reproducing this problem?

[2020-04-07 05:30] jasongrout commented on #5294
Closing as answered.

[2020-04-07 05:30] #5294 closed

[2020-04-07 05:31] #4621 closed

[2020-04-07 06:54] Summerer commented on #8180
Glad I could be of help! I feel kind of silly not testing a second cell, but it's good that there is a workaround until the release of 2.2.

[2020-04-07 08:50] #8180 closed

[2020-04-07 14:45] saulshanabrook commented on #7468
I think a nice next step here would be for someone to make a new repo which experiments with the Module Federation to demonstrate how it could work for a use case like ours...

Which means:

1. A set of packages that are "core". These together form into one bundle.
2. Another extensions package that imports the "core" packages and interacts with them. It also includes third party packages. This is

[2020-04-07 16:22] fabioanza opened #8187 "Endless loop when launching Jupyter Lab"
Hi, I currently use Jupyter Notebook for my research and I wanted to start learning Jupyter Lab. I have anaconda so I installed Jupyter lab with the following command line
"conda install -c conda-forge jupyterlab"
Then when I try to launch it with "jupyter lab" it enters an endless loop in which it closes the browser page it just opened and opens a new one with a slightly different address. An exa

[2020-04-07 16:24] jasongrout commented on #8187
Please provide the information requested in the issue template, including:

[code]

[2020-04-07 16:27] fabioanza commented on #8187
Sorry, here it is:
- MacOS Catalina 10.15.4
- Safari 13.1
- Jupyterlab 1.1.4

[2020-04-07 16:29] jasongrout commented on #8187
Please upgrade JupyterLab. I think 1.2.8 should work, or 2.0.1 as well. This is a known issue with a bug in Safari that was fixed in JupyterLab.

[2020-04-07 16:34] fabioanza commented on #8187
I try to update it with "conda update jupuyterlab" - It says everything is already up-to-date
I tried with "conda update -c conda-forge jupyterlab" - It updated it but the bug is still here

[2020-04-07 16:51] fabioanza commented on #8187
Hey, I uninstalled and installed it back twice. The second time it worked. Don't know what to tell you.
Thank you for you help anyway!!

[2020-04-07 16:51] #8187 closed

[2020-04-07 18:49] joelostblom commented on #7935
This has been implemented in #8024, so this issue can be closed

[2020-04-07 19:37] jasongrout commented on #7935
Thanks for flagging this.

[2020-04-07 19:37] #7935 closed

[2020-04-07 19:40] karlaspuldaro commented on #2778
Hello :) I would like to start working on this issue if no one's assigned to it yet

[2020-04-07 19:41] joelostblom opened #8188 "Lacking quit buttton after setting command line flag"
After running `jupyter lab --LabApp.quit_button=True` I don't see a quit button anywhere. I do have a "Shut down" menu item in the file menu but the help text is referring to a quit button in that dashboard which I can't seem to figure out where it is:

[code]

This is what my jupyterlab looks like:

![image](https://user-images.githubusercontent.com/4560057/78711644-2b19e400-78cc-11ea-9027-86bab5

[2020-04-07 19:41] lresende commented on #2778
I don't believe we have anyone working on it @karlaspuldaro, so I am assigning it to you. Let us know if you have any questions.

[2020-04-07 19:46] jasongrout commented on #2778
Note that shift-right-clicking will give you the browser menu, which has copy/paste, etc.

[2020-04-07 20:11] karlaspuldaro commented on #2778
@jasongrout thx. So are there any other commands we want to add other than
- select all
- cut
- copy
- paste
- save?
- undo?
- redo?

[2020-04-07 20:44] jasongrout commented on #2778
Do you want to do a quick survey of other popular code editors and see what is in their right-click menus? VS Code, sublime, spyder, atom, etc.?

[2020-04-07 21:57] thoralf-gutierrez commented on #6910
For what it's worth, what has worked for me when you know your connection is going to be unstable (e.g. you are restarting your VPN connection), is to have your Chrome browser focused on a different tab than the JupyterLab tab. This somehow prevents the JupyterLab tab from noticing that it has lost the connection. When your connection is reestablished, you can come back to the JupyterLab tab, and

[2020-04-07 22:38] karlaspuldaro commented on #2778
Looks like they all have **cut/copy/paste**
Some also have **select all/undo/redo** which are helpful.
We can get started with those basic functions. Suggestions are welcome :)

[2020-04-07 22:46] #8171 closed

[2020-04-07 23:29] mlucool commented on #8054
@aquirdTurtle check out https://www.npmjs.com/package/jupyterlab-execute-time

[2020-04-07 23:47] jasongrout commented on #7468
For further documentation, it seems the thread to read about the federated module support in webpack is https://github.com/webpack/webpack/issues/10352 (make sure to expand the comments hidden by default)

As noted in https://github.com/webpack/webpack/issues/10352#issuecomment-591087935, the three main PRs were merged into webpack on 26 Feb 2020.

[2020-04-08 02:57] jasongrout opened #8190 "Cannot compile 2.1.0 on a raspberry pi"
## Description

I ran into the same problem as noted in https://stackoverflow.com/questions/60450528/jupyter-lab-fails-to-install-any-extension-assertion-data-failed

The answer was spot-on. I think we can do a better job of noting this error and helping the user deal with it. For example:

1. We can set the default memory to the min of half the system memory or 4GB
2. In the build error message,

[2020-04-08 11:16] blink1073 commented on #7939
I tried using `typescript-eslint` in https://github.com/jupyterlab/jupyterlab/pull/8191, but I ran into problems.  I am going to try `babel-eslint` next.

[2020-04-08 11:20] blink1073 commented on #7939
...and they're in the middle of migrating it into babel core, and it has not yet been released.

https://github.com/babel/babel/issues/10752
https://github.com/babel/babel/tree/master/eslint/babel-eslint-plugin

[2020-04-08 11:22] Serhiy-Shekhovtsov commented on #5963
This is super weird. I had the same issue, at some point Up, Down and Esc keys stopped working for navigation. When I am within the cell Up and Down are working, but can't exist using Esc.
What solved the issue is stopping the JupyterLab and than removing all `.ipynb_checkpoints` folders in my project. Then started the JupyterLab and the issue was gone.

[2020-04-08 11:35] blink1073 commented on #7939
I tried matching the `ipywidgets` [config](https://github.com/jupyter-widgets/ipywidgets/blob/54941b7a4b54036d089652d91b39f937bde6b6cd/.eslintrc.json), and it uncovered an issue:

[code]

It looks like we will need to stick with a `tsc`-based linter one way or another because that rule catches a lot of bugs.

[2020-04-08 13:42] ggbhat opened #8193 "Click outside dialog is closing dialog is it feature?[JL2.0]"
In latest JL 2.0 clicking outside any dialog it is closed. Its a expected behavior?
If it is expected feature is there any settings to override this for dialog created in custom extension.

[2020-04-08 14:31] AlbertHilb commented on #2017
Hi all!
I'm already working on this. In the next days I will make a PR.

[2020-04-08 15:25] blink1073 commented on #2017
Great, thanks @AlbertHilb!

[2020-04-08 16:07] imoisharma opened #8194 "Launcher Error: Invalid response: 500 Internal Server Error"
## Description

![image](https://user-images.githubusercontent.com/30807347/78806701-66b8c900-7a06-11ea-8dcc-c7b26eab20a4.png)

## Reproduce

Everything works fine except the terminal whenever I click the terminal it shows me the error 500. Please help me to resolve this issue
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error '...'

## Expected behavior

## Context

- Operating

[2020-04-08 16:33] saulshanabrook opened #8195 "Easier, More Regular Releases"
It would be useful to be able to do releases more regularly and to be able to do them with less effort. To do the last minor and patches release, @jasongrout and I estimated that it took each of us between 15 and 30 hours.

Ideally, we should drive this cost down to a minimal amount and be able to spread it over more people and more time so that we are able to make releases more regularly.

The ti

[2020-04-08 17:07] jasongrout commented on #8195
We could build a workflow script that automatically assigns PRs (and relevant issues?) to the appropriate milestone based on a mapping between milestones and commit ranges.

[2020-04-08 17:10] saulshanabrook commented on #8195
Yes and also based on major/minor/patch tags on the issue, which should give the option of backports to open.

[2020-04-08 18:23] blink1073 commented on #8195
We could use api extractor to automatically determine if a PR has any backward compatibility changes and assign it a label.

[2020-04-08 18:25] blink1073 commented on #8195
For patch changes, on merge, it could automatically invoke meeseeksdev to backport to the previous milestone (stored in config).

[2020-04-08 18:28] blink1073 commented on #8195
If we had config for branches that are designated as major, minor, and patch targets, then merging a PR could target all of them.

[2020-04-08 18:29] blink1073 commented on #8195
Including applying the milestone automatically

[2020-04-08 18:47] saulshanabrook commented on #8195
We could also make master always be the next major release, so everything is merged into master, and then if its not a major change, we created a backport PR to the other branches that make sense. i.e. if its patch maybe the most recent patch release plus we choose to backport it to.

[2020-04-08 19:02] blink1073 commented on #8195
That sounds right.  What I mean is that we encode that decision in a config file.

[2020-04-08 19:07] jasongrout commented on #8195
+1. Right now the milestone commit ranges are encoded at https://github.com/jupyterlab/jupyterlab/blob/44f161b1025acb1948599effdf55b28dcd9693c5/scripts/milestone_check.py#L13-L26

[2020-04-08 19:18] saulshanabrook commented on #8195
Yeah or we make the branches/milestone regular enough so we can infer it. It might be nice not to have a file that we have to keep up to date.

[2020-04-08 20:33] a1ex4 opened #8196 "Unable to rename anything if PATCH HTTP method is blocked by proxy"
## Description

I'm running Jupyterlab behind a corporate proxy, which apparently blocks any PATCH request.
Therefore renaming any file or folder doesn't work, only an error dialog is shown, without much indication as to what happened :
![image](https://user-images.githubusercontent.com/12754559/78830402-2ba79d00-79e8-11ea-8420-4857ae168672.png)
The only way to rename anything is then to open up a

[2020-04-08 22:01] telamonian commented on #8196
On the surface, this seems more like a "poorly configured firewall" problem than it does like a jupyterlab problem.

Do you know why your firewall is configured to block all PATCH requests in the first place?

[2020-04-08 22:08] a1ex4 commented on #8196
It sure sound like it, but there's still room for improvement on Jupyterlab's side, at least for handling this type of errors and help the users.
Unfortunately I'm not sure I'll get an answer for this question... will see.

On another note, I was literally exploring Darcula's code in order to update it for the newest Jupyterlab version, when out of nowhere I get a notification from a familiar name

[2020-04-09 01:31] RedTn commented on #6702
@blink1073

This hasn't been fixed or has it? I'm following the related material but it's not clear to me how to change the registry if it's fixed.
I'm trying a .yarnrc file of
`registry "https://www.myregistry.com"`
and also a jupyter_config.json of:
`{
    "LabApp":{
      "yarn_registry": "https://www.myregistry.com"
    },
    "BaseExtensionApp":{
      "yarn_registry": "https://www.myregistry

[2020-04-09 03:14] song0304 commented on #8176
looks similar to  https://github.com/jupyter-widgets/ipywidgets/issues/2637
CC @DGothrek and @oscar6echo

[2020-04-09 06:33] JiaRu2016 opened #8197 "in `import ... as ...`, "as" do not work"
## Description

I run `import tensorflow as tf` in the cell, and found `tf` is `None`
while `import tensorflow`  works well
other "built-in" pkg of annconda eg. pandas, numpy also works well.

within `jupyter notebook` and `jupyter-console`, all things work well.

![Screen Shot 2020-04-09 at 14 23 22](https://user-images.githubusercontent.com/17561508/78864753-dd89ac80-7a6e-11ea-932b-89002cdc94e4.

[2020-04-09 07:51] jasongrout commented on #8197
It sounds like this is a tensorflow question that should be asked over there: https://github.com/tensorflow/tensorflow

[2020-04-09 14:35] jtnath opened #8198 "Plotly : NPM dependencies fail to install"
## Description
I'm a noob trying to make some interactive visualization using plotly on python in juypter lab.
I use the code below and **I get no figure showing for it on jupyter lab**

import plotly.offline as pyo
from plotly.offline import init_notebook_mode,iplot
import plotly.graph_objects as go
import cufflinks as cf
pyo.init_notebook_mode(connected = True)
import pandas as pd
import plotly

[2020-04-09 14:46] timkpaine commented on #8198
is your network behind a proxy/firewall?
`info There appears to be trouble with your network connection. Retrying...`

[2020-04-09 14:52] jtnath commented on #8198
Its not, I think.
I just disabled the Mac firewall to test. The log file again gives me the same error with the same There appears to be trouble with your network connection. Retrying...

Can you tell me if what I tried is right ? or is there another way to check the network firewall..No proxies however

[2020-04-09 17:58] jasongrout commented on #8198
`npm pack plotly.js@^1.48.0` should download the package it is complaining about, which would test the network connection to npmjs for that particular file.

[2020-04-09 18:01] jolespin commented on #3506
@youweiliang  I lost mine.  It just started happening randomly.

[2020-04-09 19:50] jasongrout commented on #8196
There have been discussions in the past about communicating with the Jupyter server over a single websocket channel.

[2020-04-09 19:57] blink1073 commented on #8196
Yeah at my last job only POST and GET were allowed on some internal platforms.

[2020-04-09 19:58] blink1073 commented on #8196
Ah, and DELETE.  This was enforced by apache config.

[2020-04-09 20:27] jtnath commented on #8198
@jasongrout tried this..but it still fails. **Error below**

npm ERR! code ENOTFOUND
npm ERR! errno ENOTFOUND
npm ERR! network request to http://registry.npmjs.org/plotly.js failed, reason: getaddrinfo ENOTFOUND proxy.company.com
npm ERR! network This is a problem related to network connectivity.
npm ERR! network In most cases you are behind a proxy or have bad network settings.
npm ERR! network
n

[2020-04-09 20:30] jasongrout commented on #8198
Good news, then! It means we've tracked it down to network connectivity issues you have, so fix those and you should hopefully be good. From your error, it looks like it has to do with a proxy.

[2020-04-09 20:55] jtnath commented on #8198
But @jasongrout I really don't understand.. like I said earlier, I'm not using a proxy server. I'm just on my home password-protect wifi on a 50 Mbps speed. This error further baffles me.!  :(

[2020-04-09 21:15] jasongrout commented on #8196
Yeah, unfortunately we might have to compromise with reality here that some environments do not allow the full HTTP standard. It reminds me of a trend to send all communication protocols over http for similar reasons.

[2020-04-09 21:24] jasongrout commented on #8198
Here's the error:

[code]

Did you do what it suggested, reading the `npm help config` help and checking to see if npm thinks it needs to go through a proxy? In particular, when I read the help page, I see `npm config list` helps me see what npm thinks it should do.

[2020-04-09 21:38] blink1073 commented on #8196
FWIW, that same environment didn't support websockets, but that was because it was an old version of apache.

[2020-04-09 21:44] scottwsides opened #8199 "Load javascript from a file"
## Description

How can I load javascript functions for use in a cell using %%javascript cell magic to run the code itself.

I can run

%%javascript
function echo(a){
    alert(a)
}
echo("Yep this is working");

But if I put the 'echo' function in a .js file... how do I load the file?

BTW, the following does NOT work for me

from IPython.display import display,Javascript
Javascript('echo("sdfds")

[2020-04-09 21:58] jtnath commented on #8198
ULTIMATE THANK YOU to you @jasongrout . It worked.! turned out that it had taken some crazy settings that once removed made it work like a charm.!

[2020-04-09 22:30] Scoodood commented on #8128
hi @ianhi, awesome. I followed your advice to add that extension and now it's working! Thanks

[2020-04-09 22:30] #8128 closed

[2020-04-10 02:43] JiaRu2016 opened #8201 "(maybe) Feature request: Async cell"
Sometimes I run time-consuming code in one cell, it will block here, so I can't do other things. Is there any plugin or magic command that make specific cell run "asynchronously" or run in "background" ? eg.

[code]

[2020-04-10 02:47] nscozzaro commented on #3592
I can confirm that the `load_iris` example autocompletes correctly in the current version of JupyterLab. Jedi (which the completer relies on) has also been updated, so it's possible that that helps.

[2020-04-10 04:38] BeomSooKim opened #8202 "build failed on windows 10"
I can't use any extensions due to jupyter lab build failed

i installed jupyterlab on anaconda env
installed nodejs, npm using conda-forge
i tried
"pip install jupyterlab",
"conda install jupyterlab",
"conda install -c conda-forge jupyterlab"

nothing worked

----
![image](https://user-images.githubusercontent.com/13935386/78962795-2f463b80-7b30-11ea-867e-3a49dc445434.png)

but I installed extensi

[2020-04-10 04:58] jasongrout commented on #3592
Thanks!

[2020-04-10 04:58] #3592 closed

[2020-04-10 05:01] jasongrout commented on #8201
This is up to the kernel, not JupyterLab, so this issue should be created in the ipython repo: https://github.com/ipython/ipython/

They do have a [top-level await](https://ipython.readthedocs.io/en/stable/interactive/autoawait.html) feature now you might check out, or you can use threads.

[2020-04-10 05:01] #8201 closed

[2020-04-10 05:46] #8198 closed

[2020-04-10 05:53] #8155 closed

[2020-04-10 06:34] hkbluesky opened #8203 "/Users/xxx/opt/anaconda3/envs/jupyterlab-ext/lib/python3.8/site-packages/dev_mode/static"
I used "conda install -c conda-forge jupyterlab" to install jupyterlab.
However, inside the site-packages folder, there is no dev_mode
How do I solve this problem? Thanks

[2020-04-10 07:23] jasongrout commented on #8203
There is no dev_mode folder in the package on purpose.

What are you trying to do?

[2020-04-10 07:26] hkbluesky commented on #8203
I tried to start the dev-mode by entering "jupyter lab --dev-mode".
However, in browser, it shows:
Cannot find template: "index.html"
In "/Users/xxx/opt/anaconda3/envs/jupyterlab-ext/lib/python3.8/site-packages/dev_mode/static"
So, apparently, juypterlab tries to access this directory. Is this right?

[2020-04-10 07:43] jasongrout commented on #8203
`--dev-mode` is just for source installs, not for package installs. Good point that we should probably figure out a way to remove that option or give a better error message if you try to run it from a package install.

[2020-04-10 07:49] jasongrout commented on #8193
This was requested in https://github.com/jupyterlab/jupyterlab/issues/3784 and implemented in #7885. Right now there is no setting to override this. Can you elaborate more on your usecase?

CC @tgeorgeux

[2020-04-10 07:50] jasongrout commented on #8193
Note that this should be only implemented for dialogs that have a cancel button, and is equivalent to clicking the cancel button.

[2020-04-10 08:09] echarles commented on #7468
@jasongrout A new example has just landed in https://github.com/module-federation/module-federation-examples/pull/3 for more dynamic loading and is closer to what we are looking for. See also https://www.youtube.com/watch?v=27QbUycVrHg&feature=youtu.be (especially the 2nd part of the video for details on the new example)

[2020-04-10 09:50] jasongrout commented on #7468
Thanks. That is closer to what we need. I suppose the `shared` line in https://github.com/module-federation/module-federation-examples/blob/f3fa9c911bee9c01d156ee453b6a6de54e4ce6d5/dynamic-system-host/app1/webpack.config.js#L30 for us would contain basically all the module's dependencies? Transitive dependencies?

[2020-04-10 10:08] echarles commented on #7468
Thinking loud, The host (jupyterlab) would define a set of deps shared by most of the extensions, eg `@juypyterlab/apputils` ... so maybe yes all the core jlab extensions. I am not sure for now about the impact of those definitions on the remote bundle sizes, still experimenting with that, but the expectations would be that only transitive deps being not already loaded would be pulled.

[2020-04-10 11:19] pulkin commented on #7412
I have the same issue:
[code]
I was editing a relatively big cell where the problem appeared first. Restart helped the first time but right now restart has no effect and the problem persists. Swapping the browser (chromium into Firefox) does not help either.

[2020-04-10 11:25] pulkin commented on #7412
Removing everything (except `jupyter_notebook_config.py`) from `.jupyter` helped for the moment. This issue gets 9/10 frustration score.

[2020-04-10 11:29] jasongrout commented on #7412
In these cases where people are seeing this issue, does the notebook tab have the little overline indicating that it is the current document? Also, please always tell us what jlab version and what browser version you have. And please try it in incognito/private mode to see if there is a browser plugin that might be messing things up.

[2020-04-10 11:41] pulkin commented on #7412
Yes. -1 frustration score because I can actually select and execute the specific cell from the drop-down main menu.

[code]

I use jupyter-lab with app mode in chromium.

[2020-04-10 12:11] jasongrout commented on #7412
If I recall correctly, some focus issues have been fixed in later versions of JupyterLab. If you can still reproduce the issue, does upgrading to 2.0 or at least the latest 1.2 version fix the issue?

[2020-04-10 13:32] pulkin commented on #7412
Unfortunately, I cannot provide more information that that. My general sense tells me that given this message in the console
[code]
it is likely **not** a focus issue.

[2020-04-10 15:57] jasongrout commented on #7412
You can see in my comments above in this thread looking at the code why I think it might be a problem with tracking focus

[2020-04-10 15:58] jasongrout commented on #7412
But if there is something else you are seeing that makes it unlikely to be a focus tracking issue, definitely let us know.

[2020-04-10 16:28] ianhi opened #8204 "Attachments to markdown cell removed prematurely - on save rather than close"
## Description
Running a markdown cell and then saving the notebook removes the ability to restore an attached image by using undo(crtl-z) when editing the cell source.

## Reproduce

1. Open a markdown cell and paste an image
2. Run the cell - image should appear
3. Edit the cell - delete the image attachment
4. Run the cell and save the notebook - no image should appear
5. Edit cell source and h

[2020-04-10 16:29] ianhi commented on #4306
@llinfeng as of version 2.1 you can paste multiple images into the same cell and they won't overwrite.

[2020-04-10 16:47] ianhi opened #8205 "Can't drag image from jlab filebrowser into markdown cell + different UI on firefox and chrome"
## Description
If I drag an image from the jupyterlab filebrowser over a markdown cell in edit mode the image does not get embedded like it would if I had dragged from the system filebrowser.
![cant_drag](https://user-images.githubusercontent.com/10111092/79006794-e8544800-7b27-11ea-8c78-3de28c3d61b9.gif)

There also appears to be a difference in UI between firefox and chrome. The above GIF was on

[2020-04-10 17:57] hkbluesky commented on #8203
I understand now. But the --dev option also does not work, right? If so, how do you turn on the dev mode? Especially, how do you tell jupyter not to bundle JS files?

[2020-04-10 18:34] yusosov opened #8206 "Jupyter and Jupyterlab do not switch python environments - feature or bug?"
**THE ISSUE: in Jupyter/Lab for Python, no matter what Kernel is selected, the actual available environment will be the one from which Jupyter Lab is started.**

DISCUSION: what is the purpose of different Jupyter Kernels if nothing changes, the available environment stays the same no matter what the chosen Kernel is?

WHY IMPORTANT:
I am working in Azure ML Cloud with MS sponsored account, where

[2020-04-10 18:35] krassowski opened #8207 "Vim cursor not visible on search highlights"
The positioning of vim cursor (below the tokens) does not work great when highlights (achieved by means of background) are applied to tokens. This could be worked around by bumping the cursor z-index and making it semi-transparent or outline only (but neither is perfect..). Observed when investigating https://github.com/krassowski/jupyterlab-lsp/issues/240 (where it is a bigger problem).

I *think

[2020-04-10 19:26] jasongrout commented on #8203
You will need to install from source. https://github.com/jupyterlab/jupyterlab/blob/master/CONTRIBUTING.md#setting-up-a-development-environment

[2020-04-10 21:30] mlucool opened #8208 "MyBinder is Outdated"
## Description

The binder link in the README works, but it opens lab@1.0.10.

![image](https://user-images.githubusercontent.com/1813603/79024404-d89d2980-7b50-11ea-8ac6-f1d7a1d99968.png)

[2020-04-10 23:11] Vinnitsky commented on #8206
I faced with the same behavior. [IPython kernel](https://ipython.readthedocs.io/en/5.x/install/kernel_install.html) says

according to the citation - it is a bug

[2020-04-10 23:36] jasongrout commented on #8206
You can also try the nb_conda_kernels package

[2020-04-11 00:27] yusosov commented on #8206
Why changing the title? If it's a feature, it is USELESS.

[2020-04-11 00:32] timkpaine commented on #8206
@yusosov try to be respectful

[2020-04-11 00:32] timkpaine commented on #8206
@yusosov here is the code of conduct: https://github.com/jupyter/governance/blob/master/conduct/code_of_conduct.md

[2020-04-11 00:34] timkpaine commented on #8206
closing as this is unrelated to jupyterlab and a  well documented issue across various other repos and stack overflow.

[2020-04-11 00:34] #8206 closed

[2020-04-11 00:40] yusosov commented on #8206
Please indicate where is it documented?

[2020-04-11 00:46] timkpaine commented on #8206
google is a good tool, here is a sample article I found by googling "multiple conda evironments jupyter" https://dwflanagan.github.io/2018-04-20-conda-envs-in-jupyter/

[2020-04-11 01:32] ScriptedAlchemy commented on #7468
Update on module federation, few requests to be able to dynamically add remotes and shared. This would enable you to perform contextless federation at runtime. Its not pretty, but works. Also handy for webpack4 to consume webpack5 federated code
![image](https://user-images.githubusercontent.com/25274700/79032194-68df6c80-7b59-11ea-9473-c1c6a206dbb4.png)

[2020-04-11 07:30] kenjioman commented on #5502
@wallneradam, that's really neat!  I just tried it out, and indeed, it works to re-order the items without any problems!  I'm not a CSS expert by any means, but after poking around some, I was able to come up with the following (sharing here in case others want to build off of this).  In brief, it keeps the file browser, table of contents, and running kernels/ terminals tab at the top (in that ord

[2020-04-11 09:17] phish108 opened #8209 "Paths not resolved relative to notebook in v1.2.x versions"
## Description

I am stuck with the Version 1.2.x branch because of the [`jupyterlab-git` plugin](/jupyterlab/jupyterlab-git), which I use in my classes, where I use a containerized version of `jupterlab`. My container is a derivate of the official `r-notebook` container with some extensions and more recent version of sevceral packages.

I ran a version bump from `v1.2.6` to `v1.2.9`. When testing

[2020-04-11 09:46] phish108 commented on #8209
I ran another build for `jupyterlab  v2.1.0`. And the issue does exist there either, so I assume this is really limited to `v1.2.9`

[2020-04-11 10:13] blink1073 commented on #8209
Thanks for the report, @phish108!  I think it is related to #8189.

[2020-04-11 12:58] pulkin commented on #7412
I think I can confirm that **it is a focus issue**. It happened once more and I managed to resolve it by opening a new tab, switching to it and back.

[2020-04-11 13:04] jasongrout commented on #7412
Can you tell us exactly what you were doing immediately before the problem? We're at the stage where I think it would be easy to track down if we could reproduce it.

Did you upgrade your JupyterLab?

[2020-04-11 13:08] pulkin commented on #7412
Yes, I upgraded `jupyterlab` after the issue occurred. I was scrolling, editing. Probably, the last thing I did was scrolling to the top of the notebook and making some edits in one of the first cells.

The best guess I can give you is that I have a particularly large cell and it first happened when I was adding even more lines to it.

[2020-04-11 14:19] jasongrout commented on #7412
What version do you have now?

[2020-04-11 15:43] pulkin commented on #7412
Right now it is 2.1.0 and I did not have any issues. If I observe the same issue I will try to save it for you to debug.

[2020-04-11 16:11] jasongrout commented on #7412
Thanks!

[2020-04-11 16:29] blink1073 commented on #8117
We should put the longest running jobs first, as @ivanov can attest.

[2020-04-11 16:33] blink1073 commented on #8117
Ha, and in the opposite direction, I think we need to break out the checking of the changelog links into a separate job, since the docs job is sometimes timing out now as we add more links to it.

[2020-04-11 23:22] davidpasquale commented on #1640
Hi, are you still working on this extension? DO you have any plan to release it?
Thank you

[2020-04-12 01:13] dclong commented on #5056
I really think this is a critical feature for heavy users of JupyterLab. Is there anyway to make it into the 3.0 plan?

[2020-04-12 02:43] jasongrout commented on #5056
The best way for something to make it into the 3.0 plan is for someone to volunteer to submit a pr for it.

[2020-04-12 17:04] choldgraf commented on #272
I want to echo what @chrisjsewell mentioned above - we're using a python port of `markdown-it` for the Jupyter Book project (called `markdown-it-py`). It very closely mimics the structure and API of `markdown-it`.

I think it would be great to make an easy extension point by which jupyterlab extensions could support new flavors of markdown, and I imagine that we could use this to support new Jupyt

[2020-04-13 06:10] curiousgg opened #8215 "Create new notebook via shortcuts w/out mouse bait clicks"
Hi,
I would like to know why there is no shortcut at present available for creating new notebooks
without the need to use the mouse and have to click here and there.
(For instance, see classic instructions here:  https://jupyterlab.readthedocs.io/en/stable/user/notebook.html . I don't want to go through 10 clicks per session to have a new notebook created. It's frustrating and lame.)

Additionally

[2020-04-13 13:50] manuelsh commented on #3049
Looking forward to test it. Thanks!

[2020-04-13 13:51] ggbhat commented on #8193
Thanks @jasongrout . I added an ok button still able to close while clicking outside.
Without any button also it is possible to close.
My requirement was to show error message but user should not close dialog in any means.
Is it possible to implement something like using JL dialog component?

[2020-04-13 16:39] jasongrout commented on #8193
not close by *any* means? Who eventually dismisses the dialog? Just trying to understand your usecase.

[2020-04-13 16:43] #8197 closed

[2020-04-13 16:57] ggbhat commented on #8193
I mean there will not be any cancel/dismiss button. There will be custom button to redirect to some other app.
Usecase:

We have specific url to open Jlab, suppose user enters wrong url we need to tell user entered wrong url, please redirect by showing dialog and should do nothing by dismissing the dialog.

[2020-04-13 17:26] jasongrout commented on #8193
Looking at the code, it appears that it was always possible to close the dialog by pressing escape: https://github.com/jupyterlab/jupyterlab/blob/5643e641d0ad1f6b654beb2a8ad47b43eb0b2618/packages/apputils/src/dialog.ts#L293-L297

It looks like right now (to me, looking at the code), there is no way to prevent the dialog from dismissing with a reject, either by pressing escape or (recently) clickin

[2020-04-13 17:31] jasongrout commented on #8193
I think it makes sense to have what you want, i.e., force the user to take some action and not just dismiss the dialog. Do you want to submit a PR?

[2020-04-13 17:32] ggbhat commented on #8193
Yes. We can have settings to control this behaviour. That will be good to have feature I think.

[2020-04-13 17:45] jasongrout commented on #8193
Feel free to continue discussing the technical design of such a feature, or we can continue the discussion on your PR.

[2020-04-13 18:20] dclong opened #8216 "File Save As does not work in JupyerLab 2.1.0"
## Description

The "Save As..." menu fails to work sometimes.

## Reproduce

1. Have JupyterLab 2.1.0 installed. You can try the Docker image [dclong/jupyterlab](https://github.com/dclong/docker-jupyterlab) with the tag "200408" for convenience.

[code]
1. Open a text file (markdown or a Python script).
2. Click on File -> Save (Markdown) As...
3. Type in a new name for the file.
4. You will see

[2020-04-13 18:34] scottwsides commented on #8199
I think I see this working now. I actually needed to call the function in the myfile.js file after loading. Sorry to bother... closing

[2020-04-13 18:34] #8199 closed

[2020-04-13 18:50] armsp opened #8217 "Unable to install vega5-extension"
On my work laptop I could not render altair graphs. Turns out Jupterlab cannot load any js -
```Error loading script: https://cdn.jsdelivr.net/npm//vega@5?noext```

Based on the suggestion [here](https://altair-viz.github.io/user_guide/display_frontends.html#displaying-in-jupyterlab) I tried installing `vega5-extension`. However when I do `jupyter labextension list` from terminal, it says that not

[2020-04-13 18:52] armsp commented on #8217
I looked at #6403, #6402 and #4695, but it doesn't look like they help.

[2020-04-13 19:33] hassanhub commented on #6884
The same problem here - using Conda environment on Ubuntu 18.04 + Safari

[2020-04-13 20:28] saulshanabrook commented on #3320
If anyone is looking for a UI for execution timing, you can checkout out the `jupyterlab-execute-time` extension, which provides a similar UI to the notebook extension: https://github.com/deshaw/jupyterlab-execute-time

[2020-04-13 22:01] telamonian commented on #8196
Surprising. I did not know this was somewhat common. Can you configure a firewall to block on any arbitrary header detail?

If we did decide to support a limited API, is a POST/GET only API something we'd want to support optionally, or something we'd want to switch over to completely? I think there's an obvious maintenance advantage to having only one API.

[2020-04-13 22:03] telamonian commented on #8196
Also, is there any easy way to set up "tunneling" (using ssh or otherwise) to temporarily disguise a PATCH as a POST?

[2020-04-13 23:55] markellekelly commented on #8081
I can work on this!

[2020-04-14 03:21] isabela-pf commented on #8081
I talked to @markellekelly about what would be good UX for making this happen. For resizing, we plan to follow what JupyterLab already does for resizing spaces (for example the cursor change between the sidebar and the notebook).

For hiding and showing the Last Modified section, we have two main options.
If hiding Last Modified is something that needs to happen infrequently, it can easily be a co

[2020-04-14 03:42] hkbluesky commented on #8203
This works. Thanks

[2020-04-14 05:22] jasongrout commented on #8196
I think in any case, this conversation is more suited for the jupyter server repo, which maintains these endpoints (or will once we switch to it): https://github.com/jupyter/jupyter_server

CC @echarles @Zsailer

[2020-04-14 05:54] echarles commented on #8196
I have worked in internal corporate env where Websocket (even on SSL) was not allowed. We had to request on exception to white list the server IP address to make it work.

@a1ex4 We have plan for JupyterLab to run on the new [JupyterServer](http://github.com/jupyter/jupyter_server). We will discuss your point at the next weekly meeting. Feel free to open an issue on the jupyter server repository s

[2020-04-14 06:38] echarles commented on #8196
@a1ex4 As temporary workaround, you may ask you network team to relax the firewall rule only for the jupyter IP address (you may even use this thread to explain them the issue)

[2020-04-14 12:04] drhades opened #8219 "%%javascript failed to load external script file"
I tried several ways thoses are OK in classical notebook, but failed in lab:

1)
[code]
Classic Notebook: popup the expected alert window that defined in demo.js
Lab: no sound

2)
[code]
Classic Notebook: rendered the expected figure
Lab：Error output
`Javascript` Error: Can't find variable: require`

[2020-04-14 12:12] jasongrout commented on #8219
Does JupyterLab load the file? (You can see it in the network panel of your browser debugger)

JupyterLab does not include requirejs by default

[2020-04-14 12:45] drhades commented on #8219
No

How to use requirejs like classic notebook?
Or is there recommended method to load external script?

[2020-04-14 12:53] phish108 commented on #8209
@blink1073 I confirm that v1.2.10 resolves the issue.

Thank you for the swift response.

I close the issue.

[2020-04-14 12:53] #8209 closed

[2020-04-14 13:15] blink1073 commented on #8209
Cheers!

[2020-04-14 13:50] stefansimik commented on #8081
My opinion:
- Last Modified is something that needs to happen infrequently.
- Context menu option is **intuitive, simple** and just makes sense.
- Context menu is also systematic solution, because we can possibly extend it with more columns in the future, in case FileBrowser will support more columns.

I thing suggested design is OK: simple, intuitive and extendable UX design.
100% meets all my ex

[2020-04-14 15:02] drhades commented on #8219
remote url loading is OK:
[code]
But cannot load local script:
[code]
ps, the path of the directory containing require.js  has been added to the config item:
[code]

[2020-04-14 16:14] drhades opened #8220 "%%javascript element.append() cannot render HTML snippet"
demo code like this:
[code]

In classic notebook, the link is rendered normally inside the output area;

while Lab notebook just output the plain text.

[2020-04-14 23:28] jasongrout commented on #7162
#8221 documents the issue, but let's leave this open until we actually take care of the underlying issue. More debugging at #8221 shows where the problem is.

[2020-04-14 23:30] jasongrout commented on #7162
Basically, the problem here ended up being that JupyterLab claims to be sending JSON when saving settings, but really is sending JSON5, so devices on the network may throw errors when trying to validate the payload as JSON. See #8221 for more details.

[2020-04-14 23:50] jasongrout commented on #7468
Thanks @ScriptedAlchemy!

Do you have any sense for when webpack 5 is slated to be released? We're also trying to match with our shipping timelines.

[2020-04-14 23:54] pabloslash commented on #6112
Yes please, this feature is necessary!

[2020-04-15 03:12] RedTn commented on #7827
@fcollonval
is there anyway to do this at the workspace level rather than on a global level with yarn? like with a .yarnrc?

[2020-04-15 03:34] prncevince commented on #7827
FYI, I ended up figuring out how to make this work on my Windows 10 platform setup.

A global `yarnrc` (NOT the dot-profile `.yarnc`) was read from the `%USERPROFILE%` directory, so full path `%USERPROFILE%\yarnrc`. In addition, for updates to plugins to be made, the global `npmrc` needed to be set AS WELL (same `registry` value as `http://private.npm.repository` of course).

This is strange behav

[2020-04-15 07:06] ScriptedAlchemy commented on #7468
Its OSS, so you know how it is. Mid-year is the best timeline I can hammer out. I'm working with Zeit as they've started to prep dual support canary release. Module federation has 2 tickets before it will appear in the next NPM beta of webpack.

The main holdup is docs, module federation, maybe some work left around multi-target entry points.
Might get a proposal to enhance HMR API to support not

[2020-04-15 07:08] ScriptedAlchemy commented on #7468
I screen-casted a more robust example of federation. Interleaving 5 separately deployed MFEs into a SPA. I'm not great at text lol
https://youtu.be/-LNcpralkjM

[2020-04-15 10:11] #7939 closed

[2020-04-15 11:24] jasongrout commented on #7468
That's incredibly helpful. We're planning to feature freeze around June and ship around August, so these timelines might just work out.

It seems like our usecase might require a bit more control about how the dependencies are overridden. As far as I can tell, in your examples each microfrontend tries to load a shared dependency from the host application first, but then falls back to its own copy

[2020-04-15 12:56] jasongrout commented on #7468
Hmm, on second thought, we could gather the extension manifest information and run the deduplication when we template the original html page, and generate on the html page a list of overrides to be used at runtime (e.g., extension A provides dependency D which is used by extensions B and C).

[2020-04-15 13:29] blink1073 commented on #7468
Yes, I think we'll need a build step.  That will also prevent serving JS modules that never get loaded.

[2020-04-15 13:40] saulshanabrook commented on #7468
@jasongrout @blink1073 I feel like there is a way to go about this that avoids a build step... and avoids this dynamic version resolution thing. It's a "hack" but maybe it would be enough to work and cut down a *ton* on our complexity of building?

1. Extensions bundle anything inside of them that they don't mind if there are multiple versions of.
2. Extensions don't bundle anything inside them th

[2020-04-15 14:14] saulshanabrook commented on #7468
@ScriptedAlchemy I am trying out the dynamic-system-hosts example! It makes sense, basically it just sets a global `var` to be the module, and then you grab that var. Nice and simple. It does seem like it has the side affect of polluting the globals? Curious if are able to use different types for the library arg, like requirejs?

Ideally, we would want to dynamically provide a module so when we us

[2020-04-15 15:53] jasongrout commented on #7468
The problem here is that we basically need to repackage a (huge?) number of js libraries. I suppose it's really a question of scope. If it's 10 shared python packages, fine. If it's 1000...

[2020-04-15 15:56] saulshanabrook commented on #7468
Totally agree here! Do you have a sense, off the top of your head, that this would be more like 1000? Maybe we should collect some data here:

Out of the top extensions published, how many rely on NPM packages that need to be globals that aren't not included in our core bundle?

[2020-04-15 16:41] a2975667 commented on #7831
I had the same problem and was not resolved after remove and recreate a virtual env.
Setup: WSL on windows 10
Versions:
[code]
Executed in a virtual env (through python3 -m venv) with python 3.8.
Are there any other ways I can troubleshoot?

[2020-04-15 17:05] saulshanabrook commented on #4292
We had a chat about this on our call today.

I brought up using the IntersectionObserver to lazily render the outputs, to improve initial load time and got some good suggestions.

* @vidartf suggested that batching updates for rendering is useful, so that we minimize the number of reflows as sizing changes.
* @ellisonbg said that they tried doing this with codemirror in the past, starting with an

[2020-04-15 18:07] amad-a commented on #8094
Hi @tgeorgeux! Thanks for the introduction. We have two wireframes of the new dialogue box, with slightly differently worded text in each. Please let us know what you think :)

<img width="523" alt="Screen Shot 2020-04-15 at 1 04 58 PM" src="https://user-images.githubusercontent.com/36000045/79371287-bf61f780-7f19-11ea-8e54-8cb83d7ef75d.png">
<img width="522" alt="Screen Shot 2020-04-15 at 1 03 18

[2020-04-15 19:05] jasongrout commented on #8094
I strongly prefer verbs on the buttons. I think it's much clearer and more direct in general to press a button containing the command I want to do, rather than to think about how a question is worded and what "yes" and "no" mean.

[2020-04-15 19:10] jasongrout commented on #8094
The apple UI guidelines explain this idea well: https://developer.apple.com/design/human-interface-guidelines/macos/windows-and-views/alerts/

[2020-04-15 19:33] jasongrout commented on #7468
Thinking through this, I think the python package is an implementation detail and probably the wrong level to solve the deduping problem. It would be trivial, for example, to have two python packages that make the same js library available to the frontend, and then you're right back to square one since you've deduped at a different level than where things are being actually used.

In the end, a sh

[2020-04-15 20:52] RaulCPena commented on #8122
I am having the same issue with multiple extensions and will try deleting the jupyter\lab\settings\build_config.json file

[2020-04-15 23:11] saulshanabrook commented on #7468
Python libraries would only make available to frontend themselves, even if they bundle other libraries. So it's unclear to me how you would get into the state where the same JS library is available from multiple python libraries. Could you give an example?

But this shared JS package can just be shipped as a Python package. Yeah this is what the federated modules does. We just have to choose for e

[2020-04-15 23:27] Juan-132 commented on #8094
@amad-a Thanks for the mockup, great you’re working on this issue!

Small suggestion from my side, could the text be changed to make it more concise (and therefore easier to interpret). I would suggest the following:
Header text: Unsaved changes
Subtitle text: Do you want to save changes to <filename>?

[2020-04-15 23:35] krassowski opened #8224 "Search term is sometimes appended at the end of the output"
## Description

The search term is sometimes appended at the end of the output.

## Reproduce

1. Run:

[code]

2. Search for `read_table` (should be in code cell and in an output)
3. See the backtrace output being distorted

![some_hits_are_appended](https://user-images.githubusercontent.com/5832902/79398698-2bc01380-7f79-11ea-8a0c-16970311cfea.gif)

It is even more ridiculous when there are mult

[2020-04-15 23:36] jasongrout commented on #7468
Author A writes several packages that depend on d3, so they bundle a shared d3 as jlabd3. Author B also has a few libraries that rely on d3, so they create a different python jupyterd3. jlab loads both copies of d3 into the system.

Of course, they could coordinate. But perhaps Author A requires d3 v2 and Author B requires d3 v3. Again, how are things resolved at runtime?

[2020-04-15 23:40] jasongrout commented on #8224
Note in your image that the text is not appended to the output, but rather is moved from three lines above, that used to read `x = read_table()`. Even weirder. Perhaps it is just a css issue, where highlighting it just moved the text to the bottom somehow?

[2020-04-15 23:41] Juan-132 commented on #8094
@tgeorgeux what’s your take on the button coloring? I noticed most /all warning dialogs in Jupyterlab use red (caution). Is that the default, or are other colors also possible ?

In this case I could image red would be less appropriate as a color to confirm the save action.

[2020-04-15 23:41] saulshanabrook commented on #7468
Yeah they would have to coordinate..

JupyterLab could also given an error if there are two python libraries installed that provide the same node module name, i.e. in the case of jupyterd3 and jlabd3.

If they require different versions, then they depend on different versions of the python package. Only one is installed. With conda,  this would be an error. Currently with pip it would print a warn

[2020-04-15 23:51] krassowski commented on #8216
I can confirm this issue.
- "Save notebook as" works ok,
- Renaming txt files works ok,
- "Saving as" does NOT work for plain txt files

Nothing in browser console apart from failed contents request:

`http://localhost:8888/api/contents/some_path/new_name.txt?1586994000490 404 (Not Found)`

payload:

`{"message": "No such file or directory: some_path/new_name.txt", "reason": null}`

I do not know

[2020-04-15 23:52] jasongrout commented on #7468
Deduplicating at runtime allows you to share dependencies not because they *have* to be global to work, but for efficiency.

Though the counterargument there is that if the end user cares about efficiency, they should build a monolithic package like we have now that does deduping at build time.

[2020-04-15 23:54] krassowski commented on #8224
A reasonable guess, but I think it's not css; I do not see css positioning, but the `span` is moved to the end of the `pre`:

![Screenshot from 2020-04-16 00-52-49](https://user-images.githubusercontent.com/5832902/79399958-a9d1e980-7f7c-11ea-8439-6599af75bcab.png)

[2020-04-15 23:58] saulshanabrook commented on #7468
Yes, I would say trying to also get a version of this that we *can* precompile, if we want, would be a way to cover this base.

I guess that's a question for @ScriptedAlchemy (unless it's already been answered). If I have a couple of different libraries that all produce bundles, is it possible to ingest all those bundles and output a composite bundle that dedupes things where possible?

But it wou

[2020-04-16 00:01] dhirschfeld commented on #7468
As a sysadmin I'd like to build & deploy JupyterLab with a curated set of extensions. It would be great if users could take their base install and add/remove extensions as they wish without having to recompile the entire application requiring dev tools and multiple GBs of memory

[2020-04-16 00:06] jasongrout commented on #7468
Yes, that's a primary goal for all of us here.

[2020-04-16 00:08] jasongrout commented on #7468
To be clear, I'm advocating for *no* build step. Getting rid of the end-user build step, and the requirement for nodejs for the end user, is a primary goal for me.

[2020-04-16 01:58] sdeep27 commented on #6112
Another hat in the ring for this type of extensions. Would love to switch to JupyterLab fulltime, this feature would be a blessing

[2020-04-16 02:08] quangIO commented on #8094
I think the Save button should be `okButton` type. I made a quick PoC [here](https://github.com/nyu-ossd-s20/jupyterlab/commit/da75fef040c0a20cfbc9d3da952aeee31060deaf). However, there are no tests yet, and this patch does not pass some of the tests in `widgetmanager.spec.ts` (e.g. get stuck in `should prompt the user before closing`). I am investigating but it looks like an issue with the way I w

[2020-04-16 13:24] jasongrout commented on #8224
Oh wow, that is definitely weird.

[2020-04-16 14:50] jgieseler commented on #6112
Very much wanted!

[2020-04-16 15:55] jasongrout commented on #6112
@ramanova - this is fixed in the latest JupyterLab release

[2020-04-16 16:03] jasongrout commented on #6112
Is there anyone that wants to work on this? @jcb91, are you interested in porting https://github.com/jcb91/jupyter_highlight_selected_word to JupyterLab? We're happy to help answer questions, etc.

For everyone that wants this: the way to move forward is to work on it, or reach out to persuade someone (or even better, fund someone) to work on this. We're happy to help someone get started, answer q

[2020-04-16 20:33] tgeorgeux commented on #8094
I like the mocks that @quangIO has put up, I won't speak about the technical implementation but I like putting the 'best option' on the right and in blue. The warning option in red in the middle. We try to voice negative messages, like "don't save"  per [material writing guidelines](https://material.io/design/communication/writing.html#principles) and [material confirmation acknowledgments](https:

[2020-04-16 20:57] kevin-bates commented on #8013
Hi, we've been getting some visits to the corresponding EG issue: https://github.com/jupyter/enterprise_gateway/issues/756

@snu-ceyda - are you in a position to launch `jupyter notebook` from hub, try the restart using '/tree', then retry using '/lab'?

I don't see this issue with `jupyter notebook` but do with `jupyter lab`.

I think your hunch about `execution_state` has merit and I'll take a l

[2020-04-16 23:02] tgeorgeux commented on #8132
@mlucool and @krassowski which version of JupyterLab are you running? I just tried to duplicate this behavior in JupyterLab 2.0.1 and JupyterLab 2.1.0. In both versions I had the following result:
1. Right-click untitled.ipynb and click duplicate from the context menu.
2. untitled-copy1.ipynb was created and selected.

Here's a gif of my interaction.
![8132video](https://user-images.githubusercont

[2020-04-17 00:54] mlucool commented on #8132
I was running `1.2.x`. I thought I tried something more recent, but it seems the binder link in the README is broken.

I think the dialog would encourage most people to choose a name. I personally am in favor.

@saulshanabrook is working on that :)

[2020-04-17 03:16] ianhi opened #8226 "Add guidance for where to raise feature requests/suggestions"
## Problem to be solved

Currently there doesn't seem to be any guidance in the README or the contributor documentation on if feature requests are welcomed and if they are, where they ought to be made. I think I would be nice if the position on these was clarified and an officially sanctioned avenue for them was created. None of  github issues, discourse, and gitter currently seem appropriate for

[2020-04-17 03:26] jasongrout commented on #8226
Let's add a feature request template for issues. And I would probably heavily emphasize that contributions are most welcome and will help move things forward probably more than anything.

[2020-04-17 03:27] jasongrout commented on #8226
In that vein, do you want to put in a PR to add a feature template? :)

[2020-04-17 03:43] ianhi commented on #8226
Sure thing. I think that should probably also include additions in the following places:
https://jupyterlab.readthedocs.io/en/stable/getting_started/issue.html
https://github.com/jupyterlab/jupyterlab/blob/master/CONTRIBUTING.md

How about the template has a basic template and suggestions on what to include, but also includes a link to a more comprehensive set of advice on how to make a good featu

[2020-04-17 03:56] jasongrout commented on #8226
That sounds great. Thanks!

[2020-04-17 05:03] ianhi commented on #8226
Two more thoughts:
1. What about things that aren't feature requests but rather suggestions for improvements. For example:

This isn't really a bug report, nor is it a feature request. How do you feel about a third template with a title like "Suggestion"? I think the value this provides is lowering the emotional barrier of entry to raising an issue. If someone has a suggestion they may hold back b

[2020-04-17 05:13] ianhi commented on #8226
Also:
Any preferences about if the title should include [Feature Request] and if the issue should automatically be labelled as `type:Enhancement`. Not sure what to do about these as the answer seems to depend on the preferences of the core maintainers.

[2020-04-17 09:23] klnmrn opened #8227 "Jupyterlab launches normally, but it doesn't open any of the existing notebooks (though it starts the kernel and the green dot is next to the notebook)"

[2020-04-17 10:07] #8227 closed

[2020-04-17 10:25] jasongrout commented on #8226
Please don't annotate the title. It takes up valuable room in the short length of titles available in the listing of issues. Please use labels instead.