[2016-08-16 11:43] blink1073 commented on #664
We call it `run` uniformly in the UI, what if we added `CodeCellModel.kernel` (that can be `null`), and have a `run(): Promise<boolean>` method and a `BaseCellModel.runStatusChanged` signal with a payload of `running` or `finished`?

[2016-08-16 12:28] albanatita commented on #664
It seems fine to me!

On 13:43, Tue, Aug 16, 2016 Steven Silvester <notifications@github.com>
wrote:

[2016-08-16 12:32] blink1073 commented on #652
I can't repro:

I ran this in one terminal: `python -m notebook --no-browser --debug --NotebookApp.allow_origin="http://localhost:8765"`

And ran `python main.py` with these modifications:

[code]

[2016-08-16 13:03] blink1073 commented on #388
Fixed by #636.

[2016-08-16 13:03] #388 closed

[2016-08-16 13:06] blink1073 commented on #484
Fixed by #627.

[2016-08-16 13:06] #484 closed

[2016-08-16 13:06] blink1073 commented on #211
Fixed by #636.

[2016-08-16 13:06] #211 closed

[2016-08-16 13:11] blink1073 commented on #516
We now have a focus tracker, but it explicitly provides the most recently focused editor.  We could expose the `currentWidget` on the app shell as `currentMainWidget`, and then see if it is an editor.

[2016-08-16 13:15] blink1073 commented on #142
Fixed by #591.

[2016-08-16 13:15] #142 closed

[2016-08-16 13:29] jasongrout commented on #664
Or we could have a `cellInputChanged` signal on the notebook that has a payload of the cell that just changed.

[2016-08-16 13:33] albanatita commented on #664
but in this case, it is not coherent with the `contentChanged` signal which is on each cell and not on the notebook, is it?

[2016-08-16 13:33] jasongrout commented on #664
I guess that is different than what you are describing (cellInputChanged seems like it should be triggered when a cell is edited and then blurred, even if it wasn't executed).

It still seems to me that it would be most natural to you to have a *notebook*-level signal, not a cell-level signal. That way you could attach a single handler instead of keeping track of each cell, adding new handlers as

[2016-08-16 13:35] albanatita commented on #664
This is right indeed. It suits me if the signal is at the notebook level. No need to access each cell in this case.

[2016-08-16 13:51] blink1073 commented on #664
I don't know that we want to trigger a signal when a cell is blurred.  @albanatita, it seems in this case what you want is to use an `ActivityMonitor` on the `contentChanged` signal of the notebook.

https://github.com/jupyter/jupyterlab/blob/master/src/common/activitymonitor.ts

[2016-08-16 14:18] albanatita commented on #664
So this is the case where the user stops writing for a moment (given by `timeout`). I was not aware of this 'ActivityMonitor`. However, my idea is that user may make mistakes when writing the contentof his cells (either code or markdown) and he doesn't want the other users to see all of this. Therefore, the content of the cell has to be sent only when he has pressed shift+enter. So, a signal on th

[2016-08-16 14:24] jasongrout commented on #664
So how about a new `cellRun` signal on a notebook, that is just triggered when `runCell` is called? (are those names too similar?)

[2016-08-16 14:24] blink1073 commented on #664
Run cell run, see cell run.

[2016-08-16 14:29] blink1073 commented on #664
What about a `run(kernel?: IKernel)` method on the `Notebook` widget that emits a `cellsRun` signal with a sequence of cells?

[2016-08-16 14:37] jasongrout commented on #664
Are we converging to the existing solution (https://github.com/jupyter/jupyterlab/blob/274f023dc354f644c2d06863950fd99f30914dce/src/notebook/notebook/actions.ts#L316)?

@albanatita - One deliberate design decision we've made in the current code is that running and kernels are external to a notebook, and running a cell is acting *on* a notebook, not asking a notebook to act for itself. Thus the shi

[2016-08-16 14:41] blink1073 commented on #664
My concern is that signals should be emitted *by the object itself* where possible.  Perhaps `Notebook.runCell()` and `Notebook.cellRan()` would be a good compromise?

[2016-08-16 14:43] jasongrout commented on #664
Agreed. That's why I was puzzled how to do it, but still maintain a separation of execution and model...

[2016-08-16 14:44] jasongrout commented on #664
Perhaps the signal should really be on the context, just like a saved signal, etc.

[2016-08-16 14:45] #581 closed

[2016-08-16 14:45] blink1073 commented on #664
Note that the context is not used anywhere in `actions.ts`, on purpose.  This is mean to be used in any "context" (pun intended).

[2016-08-16 15:11] jasongrout commented on #664
@ellisonbg - you were in on the initial design of these things. Do you have thoughts on the matter too?

[2016-08-16 16:19] nfultz commented on #669
I am using Ubuntu 14.04 on AWS, which has Screen version 4.01.00devel (GNU) 2-May-06. My goal is to be able to check the console log from inside Jupyter Lab.

[2016-08-16 16:50] nfultz commented on #669
It also did not work from `jupyter notebook` fwiw.

[2016-08-16 17:05] nfultz commented on #669
Upgrading to screen 4.2 from backports seems to have solved the issue.

[2016-08-16 17:05] #669 closed

[2016-08-16 17:16] jasongrout commented on #664
Summary - we want some way of signaling that a user "commits" to a cell contents with a strong intent. The current intent levels for a user specifying a cell contents, as I see it, are:

(a) typing characters in a cell
(b) blurring a cell input
(c) "running" a cell to execute a cell or render markdown

Right now the notebook/cell models know about (a) and (b), but the notebook model doesn't know a

[2016-08-16 17:53] albanatita commented on #664
The cell widgets are aware of (c) but there is no signal emitted, right? The rendered attribute is public, though. But for code execution, I don't see where I could hook the beginning of the execution from the outside.
This concerns the widgets. Initially, my question was on the model. But after this discussion (thank you for your time), I am more convinced that I should hook signals at the interf

[2016-08-16 18:30] jasongrout commented on #664
CC @danielballan - Dan, this demo you see above is similar to what you and I talked about that would be valuable for Brookhaven users...

[2016-08-16 18:31] jasongrout commented on #664
(For reference, the discussion with @danielballan is at https://github.com/jupyter/jupyterlab/issues/626)

[2016-08-16 20:45] fperez opened #675 "Insert cell below""

[2016-08-16 20:47] fperez opened #676 ""Insert cell below" button creating cell in the wrong location"
I can't seem to reproduce this with all notebooks, but it is happening reliably with one I have open, so I'll just put the gif below.  The problem is that, while I have the nb's last cell selected, when I click the "+" button for "insert cell below", instead the new cell gets created at the top of the notebook, as the 2nd overall cell. Very weird:

![new-cell](https://cloud.githubusercontent.com/a

[2016-08-16 20:49] fperez commented on #388
Confirming fix, thx!!

[2016-08-16 20:50] jasongrout commented on #676
Are you running master as of a few minutes ago? We just merged some things that fixed some focus bugs, etc. (Just checking to see if you can reproduce it on master...)

[2016-08-16 20:51] jasongrout commented on #675
Looks like a dup of #676...

[2016-08-16 20:51] #675 closed

[2016-08-16 20:59] jasongrout commented on #638
Context manager fixed in #662. The removal of the mock context manager will have to wait until after jupyter/jupyter-js-services#190.

[2016-08-16 20:59] fperez commented on #581
Works like a charm in the console, thx!

In the nb it's slightly sub-ideal, but actually on-par with the current notebook: the focus after `%load` is on the *next* cell, not the current one where the data gets loaded.

Do you think it's worth tracking that as an enhancement, or do you think that special-casing the focus management for this particular use case would be too much of a hassle?

Basica

[2016-08-16 21:01] fperez commented on #676
Yup, master as of right now, i.e. eb6a710.

[2016-08-16 21:02] fperez commented on #676
As I mentioned, it doesn't happen on all notebooks, but it is happening with one that's currently open... I haven't been able to make it happen again with fresh ones, so I don't know what's special about that one.

[2016-08-16 21:02] jasongrout commented on #581
We already have this special case when there is an `input()`. Makes sense to have it here too.

[2016-08-16 21:03] fperez commented on #675
Weird, sorry... Somehow the issue got submitted while in-editing and ended up with a dupe. I hadn't even noticed, thx for the cleanup!

[2016-08-16 21:04] jasongrout opened #678 "%load in notebook should focus the loaded cell"
From https://github.com/jupyter/jupyterlab/issues/581#issuecomment-240237040

[2016-08-16 21:05] fperez commented on #581
Excellent, thx! Will continue on #678 as needed.

[2016-08-16 21:15] jasongrout commented on #601
Fixed in #677.

[2016-08-16 21:15] #601 closed

[2016-08-16 21:25] jasongrout commented on #676
It runs this function: https://github.com/jupyter/jupyterlab/blob/b99060f39a9d2bc6c91cfef3492ac7534d37d772/src/notebook/notebook/actions.ts#L241.

If you still have that notebook open, can you put a breakpoint in that function and see what the activeCellIndex is? Is it zero?

[2016-08-16 21:31] fperez commented on #676
Mmh, my JS-debug-fu is really primitive... I just set a breakpoint there in the Chrome dev tools, but it's not getting triggered at all...

[2016-08-16 21:34] jasongrout commented on #644
On start, the console now focuses the input. After stdin usage and after pressing enter, the cursor is still not focused on the input cell.

[2016-08-16 21:36] #556 closed

[2016-08-16 21:39] jasongrout commented on #596
Possibly related to #590

[2016-08-16 21:43] jasongrout commented on #594
Thanks. Agreed that this can be closed, especially since jupyterlab_extension is not on pypi.

[2016-08-16 21:43] #594 closed

[2016-08-16 21:47] jasongrout commented on #518
Fixed, probably in #654.

[2016-08-16 21:47] #518 closed

[2016-08-16 21:49] jasongrout commented on #437
Closing because of inactivity. If it still isn't working for you, please reopen and we can continue helping you.

[2016-08-16 21:49] #437 closed

[2016-08-16 21:51] fperez commented on #676
BTW, first I tried both setting the BP in the actions.ts file at the source.  But I think that's wrong, since that's not what's being served...  But then I tried setting it via the bundle.js file as seen from the server:

![image](https://cloud.githubusercontent.com/assets/57394/17717084/b1afb4a6-63c0-11e6-957b-304543243ba9.png)

This took me automatically to the actions.js file (note extension),

[2016-08-16 21:53] jasongrout commented on #344
ping @Carreau - do you still see this on current master?

[2016-08-16 21:53] jasongrout commented on #423
@blink1073 - done?

[2016-08-16 21:55] jasongrout commented on #390
This may be fixed with https://github.com/codemirror/CodeMirror/issues/4128

[2016-08-16 21:58] jasongrout commented on #390
Nope, it's still a problem.

[2016-08-16 22:11] jasongrout commented on #676
Set it inside the insert below function, like line 201. I usually set it
inside of the bundle.js

On Tue, Aug 16, 2016, 17:52 Fernando Perez <notifications@github.com> wrote:

[2016-08-16 22:20] aggFTW commented on #652
Hmmm... working on a repro. Thanks!

[2016-08-16 22:20] fperez commented on #676
No luck...

[2016-08-16 23:24] fperez commented on #676
Mmh... I couldn't get it to pause at the breakpoint, so finally I tried a page reload.  Now unfortunately the Heisenbug is gone!

Glad I grabbed that GIF to at least show I wasn't crazy :)

[2016-08-16 23:25] blink1073 commented on #423
Yep, fixed by #591.

[2016-08-16 23:25] #423 closed

[2016-08-16 23:29] fperez commented on #676
Ah, it's back! OK, I could reproduce it now after the reload just by trying a few times, and now I do get the breakpoint to work...

While executing in `insertBelow` in the debugger, I get `widget.activeCellIndex == 2`.

Does that help?

[2016-08-17 00:38] fperez commented on #676
Ok, more interesting/weird behavior! That new cell is being inserted at the top of the notebook, but in terms of internal counting, it *is* being treated as the last one. I see it by navigating the nb with the keyboard, it jumps over it at first, then gets to it at the end:

![cell-jumping](https://cloud.githubusercontent.com/assets/57394/17720609/2adddca6-63d8-11e6-9e10-f1a81a2da9f8.gif)

So inte

[2016-08-17 01:10] fperez commented on #355
Reopening, as on master (b99060f), I'm seeing it again... I can copy output (printed and displayed in `Out[..]` area), but I can't copy from the input area. I can select, but not copy.

[2016-08-17 01:29] fperez commented on #355
I should add that on @Carreau's advice, I just nuked and rebuilt from scratch my entire JLab install, just in case the recent phosphor changes to a mono-repo were not propagating correctly.  The problem persists.

[2016-08-17 01:33] fperez commented on #288
BTW, widgets aren't working at all right now, correct? Was that a known, temporary regression or an unintentional one?

[2016-08-17 01:50] blink1073 commented on #288
It was causing breakage, so we removed it until we get third party extension working.

[2016-08-17 01:51] blink1073 commented on #355
See my previous comment.

[2016-08-17 01:52] fperez commented on #288
No problem, good to know. Thanks!

[2016-08-17 01:59] fperez opened #679 "Allow copying of previous console inputs"
This is a follow-up to #355, but to strictly track the copying of *previous inputs* in the console.  As illustrated here:

![img](https://cloud.githubusercontent.com/assets/57394/16793602/09338ebe-4887-11e6-8bbe-b107a6018c9d.png)

after selecting previous inputs, neither `Cmd-C` nor menu-based copy work.

@blink1073 [explained](https://github.com/jupyter/jupyterlab/issues/355#issuecomment-23906180

[2016-08-17 01:59] fperez commented on #355
Ah, sorry! I missed the part of your comment where you specifically addressed the input part :)

Opened #679 to track just that question as this issue has a bunch of other stuff in it that's now been resolved.

[2016-08-17 01:59] #355 closed

[2016-08-17 03:18] ellisonbg opened #680 "Fix CSS regressions from mono-repo adoption"
Hi all! Getting back at it. Just updated and saw the visual design of JupyterLab looks quite different. Before diving into further changes, I would love to get some background on the how/why/motivation for the changes.

For the record here is what master looks like:

<img width="1279" alt="screen shot 2016-08-16 at 8 17 43 pm" src="https://cloud.githubusercontent.com/assets/27600/17723388/932b9b02

[2016-08-17 03:28] sccolbert commented on #680
So. Most of the sketchiness has probably happened because not all of the requisite CSS changes were made when moving over to the Phosphor mono-repo. Unfortunately, we don't have a compiler which checks our CSS :)

Nevertheless, we need to fix it.

cc @blink1073 @afshin

[2016-08-17 03:32] ellisonbg commented on #664
This is my understanding of the core issue here. Right now, we have a signal that fires everytime the model changes, which is too fine grained for some purposes. Thus, we need a more coarse grained way of monitoring changes to a cell. Some options:

1) Put an activity monitor on the cell changed signal. This is simple and doesn't require us to change anything.
2) Fire a signal based on something h

[2016-08-17 03:34] ellisonbg commented on #641
Most UIs that provide cut/copy/paste don't offer explicit move up/down as well. We thought we might be able to get by without those. However, the classic notebook has always offered up/down, so we probably want to make a concession and include them. The other option (probably better all around) would be to offer drag/drop reordering of cells. I remember that @blink1073 did some work on that - if t

[2016-08-17 03:39] ellisonbg commented on #648
This is somethign that we have discussed. In particular, the console supports a very different interaction in that only the last cell can be edited. In my mind that is the main different. Because of that I am thinking about something like the following:

* For the final console cell that is being edited, use the same exact visual style as the notebook cells in edit mode. That visual style is alrea

[2016-08-17 03:41] ellisonbg commented on #680
Congrats on getting the phosphor mono-repo in!!!

I had a feeling some of that was involved. But just so I don't waste my time discussing accidental design changes, could you clarify what aspects of the recent design changes were a deliberate choice?

[2016-08-17 03:43] sccolbert commented on #680
I don't think there were any deliberate design changes, except for maybe the search icon in the command palette input field.

[2016-08-17 03:55] ellisonbg commented on #647
There is a node version of sass:

https://github.com/sass/node-sass

However, I am fine sticking with less. It is simple and I think we should keep the css magic stuff to a minimum anyways.

In terms of how to structure the CSS/less files, I think there are a couple of things to consider:

* Many things that need styling in CSS are related to layout and structural aspects shouldn't be overridden b

[2016-08-17 04:01] ellisonbg commented on #600
Thanks for bringing this up!

There are a couple things worth mentioning here...

* The drop shadow that we use in the existing notebook, terminal and text editor pages is quite important. A white document on a grey background with the drop shadow is a near universal visual indicator of "this is a document-y type thing, edit me".
* Originally, we intended the panels in the dock area to have drop s

[2016-08-17 04:05] ellisonbg commented on #573
I agree with @Carreau that while lots of Untitled notebooks are a pain, loosing work because somethings wasn't saved is worse. Plus @jakevdp is calling this the "Jupyter Power Score":

<img width="592" alt="screen shot 2016-08-16 at 9 05 05 pm" src="https://cloud.githubusercontent.com/assets/27600/17724226/2b9cdf6c-63f5-11e6-9469-aedaa8acde0a.png">

[2016-08-17 04:13] ellisonbg commented on #511
Yes, I think we want to have a toolbar for the editor that provides these things.

[2016-08-17 04:14] ellisonbg commented on #502
Yes, we at least need to get page reload to work...

[2016-08-17 04:15] ellisonbg commented on #490
Yeah, I agree that "Console" and "Terminal" mean pretty much the same thing to many people. We probably need to come up with a better name for the console. Ideas?

* "Code console"
* "Code shell"
* ...

[2016-08-17 04:17] ellisonbg commented on #488
For the console, I think the cell being typed into should not be in the scrollable div at all, but should be fixed to the bottom of the whole console area. This would make it much clearer that the console is a whole different beast than the notebook.

[2016-08-17 04:20] ellisonbg commented on #190
This was done in master...

[2016-08-17 04:20] #190 closed

[2016-08-17 06:13] shekkizh commented on #607
Hi all, I came across a similar issue where the save didn't work. I was editing a markdown file while simultaneously viewing it it in rendered format. In fact once I got into this state I couldn't save any of the files I create. There were no errors in the terminal window. The key mappings was correct though.
Restarting the lab solves the issue. Notebook works fine.
Platform: Ubuntu 16.04

[2016-08-17 07:26] albanatita commented on #664
This is a good summary. Following this discussion, I think that I will use solution 1) for the following reasons: a) I don't want code added or changed only for my purposes; if each user ask for a new signal, you will become crazy and the code bloated. So, I try to hook as much as possible on what exists. b) I have thought a bit more of the user case and I can imagine that, in the chat, the user d

[2016-08-17 11:39] afshin commented on #490
Now that we are moving toward the idea of a console that connects to a session and renders the outputs of a session even if they were not executed in the console (*i.e.*, you see your notebook's outputs in a console and you can use the console itself almost as a scratch pad, or a view into what your colleague is doing ... we definitely should consider other terminology.

When you attach to another

[2016-08-17 14:20] blink1073 commented on #680
I suspect *most* of this will fall out of the wash when we reorganize the css import structure, since the order of css imports will be explicit.

[2016-08-17 14:43] stsievert commented on #648
When I use the console, I'd like to use the Return key to run the typed code, not Shift-Enter. I proposed a red outline to resolve this difference in key mapping.

![Imgur](http://i.imgur.com/qVs5aNB.png)

I think the above better represents edit + new key mapping better.

[2016-08-17 14:52] akosyakov opened #682 "Switching between cells in the notebook does not always set a cursor position properly"
You can see it if you debug Notebook._onEdgeRequest, just step over changing active cell and when wait a bit before calling setCursor.

For our editor implementation it does not work at all because of this issue.

[2016-08-17 14:53] akosyakov opened #683 "It is not possible to close the console."

[2016-08-17 14:55] akosyakov opened #684 "If you close all editors then borders are missing."
<img width="1512" alt="screen shot 2016-08-17 at 16 54 29" src="https://cloud.githubusercontent.com/assets/3082655/17741137/54afd570-649b-11e6-8a91-2c027c6861e6.png">

[2016-08-17 15:06] jasongrout commented on #683
For me, clicking on the X to close on a console brings up a "Shut down kernel" dialog. If I click OK, it pauses for a second or two and then closes the widget. What happens for you?

[2016-08-17 15:08] jasongrout commented on #682
Can you describe what it should do?

[2016-08-17 15:12] jasongrout commented on #664
@albanatita - Do you think we should close this issue, then?

[2016-08-17 15:13] jasongrout commented on #607
@shekkizh - Restarting the lab *and* trying to do what you were doing (editing and previewing the file side by side) worked?

[2016-08-17 15:16] albanatita commented on #664
For me, it is OK to close it. I see now how to proceed.  Thank you!

On 17:12, Wed, Aug 17, 2016 Jason Grout <notifications@github.com> wrote:

[2016-08-17 15:38] Carreau commented on #600
Thanks @ellisonbg I think we are on the same page !

While I see the use case and how useful these are; I – to work on a notebook – want to get rid of these side panels. Having the information on the side, and the tooltip on the side is far from being my personal taste; and I have met other users that have the same feeling. I still want to have the ability to get a single notebook in a chrome brow

[2016-08-17 15:49] akosyakov commented on #682
@jasongrout if you are at the start position of one cell and press up, then a previous cell should be selected and the cursor should be positioned at the end position of the previous cell. For press down it should work other way around.

It seems to work with CodeMirror till you start debugging. If you debug as i've described above you will see that the active cell is changed but the cursor positi

[2016-08-17 15:55] akosyakov commented on #683
@jasongrout actually I see errors in the console, could you try to close then a kernel is already shutdown and check the console.

[2016-08-17 15:56] akosyakov commented on #683
@jasongrout the same for the notebook, if open one without running kernel, then i see errors in the log, but in this case it does not harm so much

[2016-08-17 16:04] jasongrout commented on #664
Thanks. If the issue come up again, we'll have a good start on the conversation.

[2016-08-17 16:04] #664 closed

[2016-08-17 16:13] waitingkuo opened #685 "Add Dockerfile"
Could we have a Dockerfile for jupyterlab? Or it's preferred that put it in other repos such like <https://github.com/jupyter/docker-stacks>. I'm willing to help to add one.

[2016-08-17 18:54] ellisonbg commented on #680
Any ETA on when this stuff will be resolved - it sort of blocks further design work as I plug back in with students...

[2016-08-17 18:58] blink1073 commented on #680
If this is a priority item, I can stop working on third party extensions and do this first.  Otherwise, Darian is back on Monday.

[2016-08-17 19:11] jasongrout commented on #680
Personally, I think while you're deep in the third-party extension stuff, it's better to stay going on that, at least until we hit a roadblock, given that Darian will be back on Monday.

[2016-08-17 19:13] jasongrout commented on #680
Remember, we still have discussion to hash out on https://github.com/jupyter/jupyterlab/issues/647 about styling...

[2016-08-17 19:15] jasongrout commented on #680
I'm still not sure exactly what we're discussing here, though. Can you give some examples of changes you are noticing?

[2016-08-17 19:54] minrk commented on #566
I think what you are referring to is the way I typically build a release:

- bump version, commit (to master, or 4.x, etc.)
- push to *my repo*, not `jupyter` or `ipython`
- this triggers CI, which I have enabled on my fork, in addition to the main repo
- tag, push to jupyter once CI finishes on my branch

I think it's generally fine to bump versions in PRs if people are more comfortable with that

[2016-08-17 21:44] eskirk commented on #683
I can't seem to replicate this :/ My console shuts down immediately upon clicking 'Ok'. Strange... I do know the issue you are talking about but I think it may have been fixed? Can anyone else confirm?

[2016-08-17 22:11] ellisonbg opened #688 "Investigate custom tooltip for different JupyterLab UI elements"
Right now, the browser based tooltips for different UI elements such as buttons are a bit slow to open. In user tests, we found that it was slow enough that users missed out on the tooltip before it appeared. We should investigate if we can 1) shorten the browsers time for showing them or 2) use a custom tooltip on hover.

[2016-08-17 22:14] ellisonbg opened #689 "Create proper notification system and area - Toast Notifications"
Right now, there are lots of UI actions in JupyterLab that do something, but have no visual indication. An example is saving or renaming a notebook - the user gets no visual feedback those actions have completed or failed.

The existing notebook has a small area in the toolbar that provides notifications. We should:
- Create a notification API, plugin an UI for JupyterLab.
- Investigate other soft

[2016-08-17 22:17] ellisonbg opened #690 "Enable renaming documents by clicking the filename in the tab"
We have talked about this before, but it kept coming up in user tests...

I would touch base with @sccolbert about this one...

[2016-08-17 22:19] ellisonbg opened #691 "Add context menu for each document type"
Right now, our main activities (notebooks, text editors, etc.) don't have a document/activity wide context menu. We have seen in user tests that users do go looking for these things and we have context menus elsewhere (file browser). We should make sure that each doc panel activity has a context menu with common per activity actions.

[2016-08-17 22:23] ellisonbg opened #692 "Add buttons and keyboard shortcut for zoom in/out of images"
In user tests, users had a tough time finding out how to zoom in/out of images and struggled to do this with the command palette. For now, let's add a context menu for the image plugin and keyboard shortcuts (plain, unmodified `+` and `-`)

[2016-08-17 22:24] ellisonbg commented on #692
Once we do that, let's explore putting +/- buttons directly on top of the image that only appear when the user's mouse is over the image. See chrome's PDF viewer for an example.

[2016-08-17 22:25] jasongrout commented on #691
Steve did implement a context menu for all documents, but at least one or two people complained that the normal browser menu didn't show up then...

[2016-08-17 22:26] ellisonbg opened #693 "When a new folder is created, select it and put it into the rename state"
See macOS implementation for what this looks like...

[2016-08-17 22:27] jasongrout commented on #691
See #577.

[2016-08-17 22:29] jasongrout commented on #689
Probably 1.0, not 0.9. People *can* work without it, but definitely needed for 1.0. What do you think?

[2016-08-17 22:33] ellisonbg opened #694 "Create a generic button dropdown widget"
We have multiple places in our UI where we want a button drop down widget for selecting among a set of options in a dropdown. Some examples:
- The new file icon in the file browser
- The cell type dropdown in the notebook toolbar
- The kernel name (which should be a drop down) in the notebook toolbar.
- Kernel name in the console.

This should support having an icon button as well as showing the c

[2016-08-17 22:33] ellisonbg commented on #694
Also, we probably want to create a new subdirectory with custom UI controls for JLab that we can reuse...

[2016-08-17 22:40] ellisonbg opened #695 "Create a Help:Keyboard Shortcuts menu item that opens a view of all the shortcuts"
In the existing notebook, there is a Help:Keyboard Shortcuts menu item that opens a floating panel that shows all of the keyboard shortcuts. We should do the same thing in JLab, but have a view that opens in the dock panel. This would be a perfect place to use the virtual DOM rendering APIs.

[2016-08-17 22:42] ellisonbg commented on #695
Part of what we will have to think about is:

* Unlike the existing notebook, we now have shortcuts for different plugins.
* For the notebook plugin we have command/edit mode.

[2016-08-17 22:46] jasongrout commented on #566
I think the proposal under discussion was bumping version number in the PR making the breaking changes. If there is a specific PR for bumping a version, then it's -0 for me (and +0 if the merge for *that* PR is a fast-forward merge).

[2016-08-17 22:54] jasongrout commented on #694
We do have a minimal implementation of a dropdown in ipywidgets...

[2016-08-17 23:02] sccolbert commented on #688
For (1) was this testing on different browser/OS combinations? i.e. how do we know that the browser is not using the platform UX guideline timings?

Note that custom tooltips are *much* more work than native tooltips. Native tooltips are basically free by setting the `title` attribute of a DOM node.

[2016-08-17 23:04] sccolbert commented on #692
Note that trapping shortcuts will require the image viewer to be updated to allow focus.

[2016-08-17 23:29] charnpreetsingh185 commented on #688
The user tests were conducted on Chrome/macOS. I tried it out on FireFox and Firefox's tooltips appear faster than Chrome's.

[2016-08-17 23:52] blink1073 commented on #692
It already does as part of my commit that added activation handling.

[2016-08-18 02:18] ellisonbg commented on #694
We also have a rough implementation we are using for the new file button in the file browser...

[2016-08-18 02:20] ellisonbg commented on #694
Here is the material design spec for menus, while not all of this is relevant for a button dropdown, some is and is well written.

[2016-08-18 02:24] ellisonbg commented on #691
Thanks for the background. I do see the issue with the browser menus not showing up.

I am not (yet) willing to give up on the idea of context menus entirely. The reason is that during user tests, when users couldn't find what they were looking for, many of them tried to access context menus. This included (to my surprise) my 10 year old son. Before these tests I would have said that context menus

[2016-08-18 02:26] ellisonbg commented on #691
What about offering them on more specific elements rather than the entire document? The types of things we should avoid are images and links. So maybe:

Globally:

* The tab for each document

Notebook

* The prompt areas

Editor

* Should be OK to pin to the entire document as there can't be images or links...

Terminal

* Should be OK on everything...

Console:

* Just the prompt areas

[2016-08-18 02:28] ellisonbg commented on #689
Sure, 1.0 is fine, retargeting...

[2016-08-18 02:30] ellisonbg commented on #688
The tests that I did were on Chrome/macOS as well.

Looks like you can't accomplish this by changing the timeout of the builtin tooltip so we would have to use a custom tooltip. I think that is low priority, so let's target this for 2.0 and work on other stuff.

[2016-08-18 02:39] ellisonbg opened #696 "Mitigate the horizontal squeezing of the main work area"
After playing with JupyterLab and watching people use it for a few months, I have consistently observed something about our UI:

Because we have both a R and L side panel, it is very easy to get the main dock panel area into a situation where individual panels/tabs are way too narrow. On a 13" laptop, it is almost hard to avoid.

Here is a screen shot:

<img width="1264" alt="screen shot 2016-08-1

[2016-08-18 02:41] ellisonbg commented on #696
Here are some screen shots of really nice IUs on macOs (Sketch, Pages, Keynote) that have L and/or R side panels (note the lack of vertical tabs).

<img width="1280" alt="screen shot 2016-08-17 at 7 39 32 pm" src="https://cloud.githubusercontent.com/assets/27600/17760178/8e0aab8a-64b2-11e6-9781-3c185db00f01.png">

<img width="1280" alt="screen shot 2016-08-17 at 7 39 48 pm" src="https://cloud.gith

[2016-08-18 03:13] ellisonbg commented on #696
One thing that is interesting about all of these examples is that the L/R side panels can only be hidden using an item in the view menu.

Keynote and pages have a R panel that has tabs, but I don't see how we could use that style of UI. I think that is the most difficult aspect of this - how to express tabs efficiently.

[2016-08-18 03:13] shekkizh commented on #607
@jasongrout The issue didn't occur again after restarting and redoing what I was doing earlier.

[2016-08-18 03:15] ellisonbg commented on #684
This is a repeat of #680

[2016-08-18 03:15] #684 closed

[2016-08-18 03:18] ellisonbg opened #697 "Adopt rendered HMTL CSS styles from classic notebook"
Right now the "rendered HTML" in markdown cells and the markdown plugin are not fully styled. The solution is to create a new CSS class, something like `jp-RenderedHTML` and port over the CSS styles from the class notebook, which live here:

https://github.com/jupyter/notebook/blob/master/notebook/static/notebook/less/renderedhtml.less

Assigning to myself :)

[2016-08-18 03:20] ellisonbg opened #698 "Audit notebook cell styles"
We still have minor style differences in the notebook cell style compared to the classic notebook. Assigning to myself.
- [ ] dimensions
- [ ] Margins
- [ ] Padding
- [ ] Borders
- [ ] Different types of outputs

[2016-08-18 04:14] ellisonbg commented on #648
Here is a mockup of a console redesign. The main points are these:

* Cell styles are the same as the notebook.
* Active input cell is always at the bottom with a white background and green border.
* Run cells get appended to a scrolling area above (but visually behind) the active input cell.
* The run cells get a light grey background to indicate their inactive state and are each separated by a t

[2016-08-18 04:54] akosyakov commented on #683
@eskirk it is another way to shutdown the kernel outside the console? and then try to open and close the console?

[2016-08-18 10:09] bgatessucks opened #699 "Error building jupyterlab"
This is with master; my Python distribution is Anaconda.

[code]

[code]

`npm-debug.log`:

[code]

[2016-08-18 15:49] ellisonbg commented on #490
@afshin I am not following what you mean by "connects to a session...see your notebook's output" in a console). By default consoles get their own kernel, right? I know we want documents to be able to connect to other documents/console's kernels, but in general notebooks and consoles have independent lives from each other. Trying to understand how that relates to what we call consoles in general...

[2016-08-18 15:51] jasongrout commented on #490
@ellisonbg - see https://github.com/jupyter/jupyterlab/issues/626 for relevant discussion on this role of consoles. But I also agree with you that in general, consoles and notebooks have independent and separate roles.

[2016-08-18 16:40] ellisonbg commented on #600
Yep, yep, yep. See this issue as well on refactoring the design of the L/R side panels. You are right:

1. If the side panels are open and a user has multiple documents open, their individual notebooks may be narrow
2. But many of us (me too) like to focus on a single notebook. In that case, with a single notebook and no side panels, the notebook would be way too wide.

Because of 2. I absolutely

[2016-08-18 16:50] eskirk commented on #699
`npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.0.14`

I have never seen that warning before, what OS are you using?

[2016-08-18 16:54] blink1073 commented on #685
Hi @waitingkuo, I think docker-stacks would be the best location.

[2016-08-18 16:56] bgatessucks commented on #699
Windows 7 64 bit.

[2016-08-18 17:00] ellisonbg commented on #600
To make things more concrete, I think the following type of view is super important:

![singletablayout](https://cloud.githubusercontent.com/assets/27600/17782868/5a69e8b8-652a-11e6-835d-20d6badae07e.png)

To implement this, I think that every panel in the dock panel should have two modes:

* Full normal width of panel
* "Document" width that limits its width to some pre determined document width

[2016-08-18 17:04] ellisonbg commented on #626
Ahh, I now get it. Yes, I think that a console should display all input and output from the current kernel is is connected to, regardless of who ran it (that console, another notebook, another user, etc.). I also agree we should have a visual indicator that distinguishes between the local and externally run code.

[2016-08-18 17:05] ellisonbg commented on #490
Ahh, now I totally understand! Just posted over on #626  tldr - I agree with the idea over there.

In term of naming, I think that "Code Console" is probably my favorite name for the Console. Or maybe just "Code" for short.

[2016-08-18 17:05] blink1073 commented on #699
Hi @bgatessucks, I believe #687 will address this problem.

[2016-08-18 17:19] jasongrout commented on #490
Not code - that's too confusing with a code file, and conveys something that is pretty static for me.

[2016-08-18 17:23] jasongrout commented on #600
This also brings in the maximization and tearout features @sccolbert says is in the works for phosphor tabs...

[2016-08-18 17:24] jasongrout commented on #685
Agreed. @waitingkuo - do you want to open an issue over in the docker-stacks repo? Thanks for the suggestion!

[2016-08-18 17:24] #685 closed

[2016-08-18 17:24] ellisonbg commented on #600
Yes, related, but I think this is different as it isn't about maximization, but rather actually closing everything else and *minimizing* the width to a fixed value. For example, you might even want to have two notebooks above/below each other, but both width minimized...

[2016-08-18 17:27] jasongrout commented on #600
I agree it's different, but related. For example, when maximizing, we might automatically trigger a width limitation, or have some other changes for the maximized view.

[2016-08-18 17:28] bgatessucks commented on #699
@blink1073 Thanks. I was able to compile and install with the same steps a couple of weeks ago, just to let you know.

[2016-08-18 17:29] SylvainCorlay commented on #626
It would also be useful for the notebook to have a toggleable output area displaying outputs that are not associated with a cell. It is related in that it could also display outputs of an associated console session.

For example, in the case of a comm message originating from a jupyter widget *model* (and not a view) that causes an output on stderr or stdout, nothing is printed at the moment.  See

[2016-08-18 17:30] SylvainCorlay commented on #573
That is not a reason to keep it! :)

It is more of a symptom of the problem.

[2016-08-18 18:07] matt-bowers commented on #696
The one thing that's different about these programs and Jupyter Lab is that although the content viewport is about the same as Jupyter Lab's, these other programs allow the user to pan and zoom in/out of the content according to their needs. With Jupyter Lab, all of the panels are displayed constantly at the same time, and their frame sizes are dependent on the viewport size, something that's not

[2016-08-18 18:10] sccolbert commented on #696
Are we maybe over-thinking this? If your screen is too small to have three side-by-side panels along with an open side bar, maybe "just don't do that" is a sufficient answer? The point of the dock area is to allow the user to configure their panels in a way that makes the most sense for them and their current machine/workflow.

[2016-08-18 18:17] matt-bowers commented on #696
@sccolbert I think yes and no.. I think that yes in the sense that you're right, the panel windows are adaptable so the user can adjust them accordingly for their workflow. However, I do believe that there should be some sort of "safeguard" from distorting content in panels for users that don't think about (or don't know how to) changing their workspace layout (even if this change is pushed until

[2016-08-18 18:28] sccolbert commented on #696
Well, the use wouldn't be able to get into that situation in the first place, if they didn't know how to configure their panels.

I'm not too attached to the sidebar. I made something similar to the side bar when I wrong Enaml's dock panel, but saw something more polished in Cloud9. What's in JLab today is closer to Cloud9. Happy to use something better if we can come up with it.

[2016-08-18 19:13] ellisonbg commented on #696
Just met with @matt-bowers to talk about this. I think there are two separate issues:

1. What does the tab UI/UX for the L/R panels look like?
2. What content do we have in the L/R panels and do we even need a R panel?

We brainstormed on the first of these and arrived at a UI/UX proposal that fixes 1 in a very clean manner. He is going to mock that up. I think we should start there (it will be a

[2016-08-18 19:14] sccolbert commented on #696
Of note: If you don't have content added to a side bar, it will automatically hide. So, we don't necessarily need to get rid of the right side, just don't add anything to it by default.

[2016-08-18 19:15] ellisonbg commented on #696
One other comments in the meantime - the problem with the "just don't do that" approach is that some actions (such as opening help) cause this problem in an unavoidable manner on even modest laptop screens. That was my big revelation about this in watching users for the last few months - basically all of them ran into this issue while actively trying to avoid it.

[2016-08-18 19:19] sccolbert commented on #696
Currently, help is in a side bar because of iframes. We when I rigger the dock panel layout mechanism, we can have iframes as main tabs.

[2016-08-18 19:58] Carreau commented on #600
I would like to improve the tab to indicate is not part of the document, in particular it conveys the filename; which is rarely visible, and kind-of look like excel "sheets", though notebooks don't have sheets anymore.

[2016-08-18 20:35] sccolbert commented on #600
Some of these suggestions are fundamentally at odds with how the dock panel works and is designed. I'm not opposed to having different modes of viewing notebooks, but I think we need to be very careful and reasoned about *what* we actually want before we go off and try to start implementing. These sorts of things have lots of edge cases which need to be understood. Mockups are easy to make, but co

[2016-08-18 21:42] ellisonbg opened #704 "Markdown renderer is adding lots of `<br/>` before tables"
If you have a raw HTML table in a markdown cell, the rendered HTML ends up with a ton of `<br/>` elements before the table. Super weird...

![screen shot 2016-08-18 at 2 41 17 pm](https://cloud.githubusercontent.com/assets/27600/17791775/f9792c8a-6551-11e6-9b0c-2e3b6da0e4c8.png)

[2016-08-18 21:50] ellisonbg commented on #704
I have confirmed that the same table works fine in HTML output.

[2016-08-18 21:52] ellisonbg commented on #704
Also confirmed the bug shots up in Markdown output. Thus, the problem is the markdown->HTML conversion.

[2016-08-18 21:55] ellisonbg opened #705 "Syntax highlighting for code blocks in markdown is different than classic notebook"
JupyterLab:

![screen shot 2016-08-18 at 2 54 59 pm](https://cloud.githubusercontent.com/assets/27600/17792088/d2fb7e8a-6553-11e6-9838-ba70a18dded5.png)

Classic:

![screen shot 2016-08-18 at 2 54 51 pm](https://cloud.githubusercontent.com/assets/27600/17792081/cdd6cbbc-6553-11e6-839d-ddb0f2a409ad.png)

[2016-08-18 22:51] blink1073 commented on #705
cf https://github.com/jupyter/jupyterlab/issues/547

[2016-08-18 22:52] blink1073 commented on #699
@bgatessucks, we merged #687, do you mind trying again with a fresh fetch?

[2016-08-19 00:35] danielballan commented on #626
I've made some progress on this, but one detail has me stumped. I have differentiate messages that originate from the local session from those that originate from some external session (and thus have to inserted into history).

With only one session attached to the kernel, I'm finding that `ConsoleWidget._session.id` does not match messages' `header.session` (or `parent_header.session`). I would e

[2016-08-19 00:39] jasongrout commented on #705
As noted by @blink1073, this is a duplicate.

[2016-08-19 00:39] #705 closed

[2016-08-19 00:40] jasongrout commented on #547
See #705 for an image

[2016-08-19 00:41] jasongrout commented on #704
This also might be a good opportunity to switch to CommonMark.

[2016-08-19 00:50] danielballan commented on #626
I see that `ConsoleWidget._session._kernel._clientId` matches its messages' `parent_header.session`. Is that the right way to perform this comparison?

[2016-08-19 01:41] ellisonbg commented on #696
* Yeah, I don't think we would entirely get rid of the R panel, as you said, at most, just stop using it.
* Another option that we have been talking about is opening help in a separate browser tab. We could do that until the dock panel layout stuff is refactored.

[2016-08-19 01:41] ellisonbg commented on #704
Do we have a separate issue for that? Or should I change the title for this one?

[2016-08-19 01:42] ellisonbg commented on #704
But wait, we are already using marked in the classic notebook and it doesn't have this problem on the same content. Hmmmm

[2016-08-19 01:45] jasongrout commented on #704
The issue for moving to commonmark is #272 (with a WIP/somewhat stale PR at #499)

[2016-08-19 02:15] ellisonbg commented on #626
I think that is what you want to use for the comparison, but @blink1073 can confirm that tomorrow...

[2016-08-19 02:16] aggFTW commented on #652
Hi @blink1073:

The key to reproing this is to load a notebook file without any cells. Nothing to do with an external host. Simply replace the contents of `examples\notebook\test.ipynb` file with this:

[code]

Thanks!

[2016-08-19 02:57] waitingkuo commented on #685
I'll open an issue there, thanks

[2016-08-19 03:38] jasongrout commented on #626
(not sure if those are the right things to look at, but...) you'll want to use accessor functions, not the private `_*` attributes. `.session.kernel`...

[2016-08-19 07:16] bgatessucks commented on #699
@blink1073 Still not working.

[code]

[code]

`npm-debug.log`

[code]

[2016-08-19 10:49] takluyver commented on #573
Sounds like someone's power score is on the low side ;-)

Mine's only 7 on this laptop :scream:

[2016-08-19 18:15] spoorthyv commented on #690
Hey @sccolbert what are your thoughts on this? Also how would I go about implementing this. Not sure where to even start.

[2016-08-19 18:22] blink1073 commented on #690
cf https://github.com/phosphorjs/phosphor/issues/104

[2016-08-19 18:40] spoorthyv commented on #690
Ah. So is this not possible for now?

[2016-08-19 18:43] blink1073 commented on #690
That is correct.

[2016-08-19 21:13] ellisonbg opened #709 "Add visual indicator for command/edit mode"
In the classic notebook we have an indicator in the notebook toolbar that shows when a cell is in edit mode. We need something in JupyterLab that shows this state, but it doesn't have to be in the notebook toolbar.

Some ideas:
- Maybe in the notification area?
- Maybe spatially colocated with the cell being edited?

[2016-08-19 21:17] blink1073 commented on #652
Thanks @aggFTW, I'll take a look at this on Monday.

[2016-08-19 21:22] ellisonbg opened #710 "Add ability to shift+click for multiple cell selection in the notebook"
In the classic notebook you can shift+click to select multiple cells. Add that to JupyterLab :)

[2016-08-19 21:26] blink1073 commented on #626
Confirming that the approach is correct as implemented in #708.

[2016-08-19 21:33] ellisonbg opened #711 "Investigate UI/UX for image zooming"
The image plugin/viewer has zoom in/out, but the UI/UX is a bit odd:
- The div around the image is zoomed.
- Image is not centered if it doesn't occupy the entire area.

[2016-08-19 22:01] jasongrout commented on #709
Doesn't the border around the cell show this? Is it a color accessibility issue?

[2016-08-19 22:13] ellisonbg opened #713 "UI/UX for collapsing input/output"
This is an issue to track the UI/UX aspects of hiding showing some or all of a cell (input, output or both).

[2016-08-19 22:33] aggFTW commented on #652
@blink1073 Thanks!

I've been trying to understand the bug today but I'm getting tangled up in signals/emitters :smile:

From what I see, the `NotebookModel.fromJSON` assigns an empty list of cells, as expected, which invokes the `NotebookModel._onCellsChanged` function. This function adds a new code cell https://github.com/jupyter/jupyterlab/blob/a490e676e2981b0e3d2dbdb0f409b8053d02d2b6/src/noteb

[2016-08-19 23:17] ellisonbg commented on #690
Will this eventually become possible?

Are there other approaches other than an in-tab rename, such as popping up a rename dialog that are possible?

[2016-08-19 23:19] sccolbert commented on #690
Yes, this will eventually be possible. I'll add support for this when I add support for (re)activating a tab on click, even if it's already the current tab.

[2016-08-19 23:20] sccolbert commented on #690
Once I put some life into the grid widget, I'll tackle these smaller ins-and-outs.

[2016-08-19 23:22] spoorthyv commented on #709
I think the colors meaning are still unclear to a regular user. A lot of people didnt pick up on that visual cue and relate that to command and edit modes.

[2016-08-19 23:24] ellisonbg commented on #691
Another option is for us to figure out

[2016-08-19 23:24] #691 closed

[2016-08-19 23:32] sccolbert commented on #691
Was this closed on accident?

[2016-08-19 23:48] ellisonbg commented on #547
I can work on this one...

[2016-08-20 07:31] jasongrout commented on #652
It sounds like the problem is a race condition with the signals, if above is what happens? The `StaticNotebook` should get two signals about the cells changing, first the replace-all-cells-with-no-cells, and then the add-first-cell. However, in your description, it sounds like the add-first-cell invocation is happening before the replace signal invocation.

[2016-08-20 07:52] jasongrout commented on #652
Looking more at the code, it seems like what is happening is that:

(1) the cells are replaced by an empty array, which triggers an observable list signal
(2) notebook model picks up this first, sees there is an empty array, and adds a cell. Notice this is changing the list of cells in a cell change handler.
(3) adding a cell reinvokes the cell change handlers, this time with the add
(4) the add c

[2016-08-20 08:01] jasongrout commented on #652
Or perhaps instead of setImmediate, the polyfill https://github.com/YuzuJS/setImmediate or maybe in our case https://github.com/kriskowal/asap is better. The idea is to break the nesting by invoking the add cell outside of the replace cells signal handler.

CC @sccolbert - suggestions for this nested signal handler inside another signal handler situation? (see my message above this one)

[2016-08-20 13:22] blink1073 commented on #224
I found this, which we can use to assemble the pieces: https://www.npmjs.com/package/webpack-system-register

[2016-08-20 13:23] blink1073 commented on #224
This allows us to use `System.import` instead of global variables.

[2016-08-20 13:26] blink1073 commented on #224
Theoretically, we could use `System.bundle` to do the whole thing, but we'd be trading away all the work we've done so far in configuring `WebPack` loaders and bundles.

[2016-08-20 14:19] jasongrout commented on #224
I think we'll want to switch away from global variables anyway. I'll talk
to you about it in Monday, but basically we should be able to load
dependencies like underscore and backbone. Not sure if that works
currently...

On Sat, Aug 20, 2016, 09:26 Steven Silvester <notifications@github.com>
wrote:

[2016-08-20 14:53] lampts opened #714 "Trigger tooltips on shift-tab"
I'd love to have tooltip(using Shift Tab in jupyter notebook) to show the help/list of arguments.

[2016-08-20 15:20] ellisonbg commented on #690
Great, thanks!

[2016-08-20 15:48] blink1073 commented on #224
We don't have a way to provide things like underscore yet.  My thinking is that third party extensions could provide their own dependencies if they are not already available from upstream.  Basically, we'd be providing a federated npm that is dynamically loaded.

[2016-08-21 14:14] blink1073 commented on #224
Proposed design goals:

- Automated and simple to reason about for third party extension authors
- Robust
- Use semver
- No global variables
- Load only one module of each version
- Support multiple versions if necessary
- Load from multiple directories
- Support CSS and JSON
- Support resolving modules dynamically (e.g. comm targets, CodeMirror modes/addons)

[2016-08-21 16:47] blink1073 commented on #224
More thoughts:

- Stick with Webpack for node resolution and loaders

- We need everything available synchronously to WebPack

- So, keep the `jupyter.externals` namespace

- Add version mangling to the externals (e.g.) `jupyter.externals['phosphor^0.5.0']`

- If downstream depends on an incompatible version of a lib, that version gets included in its bundle.

- We explicitly list the modules we p

[2016-08-21 17:06] blink1073 commented on #224
Actually, [webpack-system-register](https://github.com/CanopyTax/webpack-system-register#configuration-options) will take care of making things synchronously available to each bundle, so we can use `SystemJS` for the infrastructure instead of the global var.

[2016-08-22 04:09] dhirschfeld opened #715 "node build error after updating to latest"
[code]

[2016-08-22 04:09] dhirschfeld commented on #715
`npm-debug.log`
[code]

[2016-08-22 05:48] dhirschfeld opened #716 "c:/dev"

[2016-08-22 05:48] dhirschfeld commented on #716
Sorry, accidental!

[2016-08-22 05:48] #716 closed

[2016-08-22 16:08] jasongrout commented on #714
We have an inspector on the side panel that provides similar help: https://github.com/jupyter/jupyterlab/pull/537#issuecomment-241463288. Is that what you were wanting?

[2016-08-22 16:08] jasongrout commented on #714
For reference: ![inspector](https://cloud.githubusercontent.com/assets/192614/17861955/29539898-6861-11e6-9072-82670e08f962.gif)

[2016-08-22 16:37] blink1073 commented on #224
A recap of a conversation we just had on gitter.

- Use Webpack and AMD for everything, rather than fighting too much between different module loaders.
- Add a shim that re-exports internal modules using `define` or a `require` config.
- We shim all of the modules that we explicitly use and all of our own internal modules.
- Each extension adds itself and any of its imports that are not already pr

[2016-08-22 16:40] blink1073 commented on #715
Hi @dhirschfeld, can you paste the contents of the `C:\dev\code\jupyterlab\jupyterlab\build\jupyterlab-shim.js` file?

[2016-08-22 17:39] jasongrout commented on #224
If we have two plugins independently providing, say, d3, this won't help.

It'd be nice if there was an AMD semver require, where I could require a semver of a particular module, and it would resolve to the relevant version of the module. At load time, *every* version provided would be available, and on require, it would resolve to the newest one that satisfied the semver. I think you mentioned so

[2016-08-22 17:42] ellisonbg commented on #715
I am also seeing these errors:

[code]

[2016-08-22 17:57] blink1073 commented on #224
As in, jspm :smile:?

[2016-08-22 18:14] jasongrout commented on #224
Uh, I guess? Nice!

[2016-08-22 21:09] jasongrout commented on #224
More notes from conversations with @blink1073. We have externals and shims - shims are things we are providing, and externals are the way to resolve to what we are providing.

* Explicitly list things we are providing (i.e., things shims will be built for). Generally list the things we think dependencies will need to share and not have their private copies. For the ipywidgets, provide jupyter-js-w

[2016-08-22 21:23] dhirschfeld commented on #715
@blink1073 - sorry I should have thought of that.

I've pushed the build artifacts to a [branch](https://github.com/dhirschfeld/jupyterlab/tree/build-artifacts) on my fork. [`jupyterlab-shim.js`](https://github.com/dhirschfeld/jupyterlab/blob/build-artifacts/jupyterlab/build/jupyterlab-shim.js) looked normal to me, even when viewing with invisibles showing in my editor. Maybe you can spot somethin

[2016-08-22 21:30] jasongrout commented on #715
This should be fixed now with https://github.com/jupyter/jupyterlab/commit/ad9af37d482a9a9df4d9f543ce522ab4b72eda1e. Can you check?

[2016-08-22 21:41] dhirschfeld commented on #715
@jasongrout - didn't seem to make a difference - still getting a bad character escape sequence which I think may be different to the code mirror issues? Likely to do with me being on Windows I guess :/

Am doing a `git clean -fdx` and will give another go...

[2016-08-22 21:58] blink1073 commented on #224
FYI There is a plugin for RequireJS that allows you to return a promise in the `define()` block.

https://github.com/jokeyrhyme/requirejs-promise

Great example here:
http://stackoverflow.com/a/26445338

[2016-08-22 21:59] dhirschfeld commented on #715
no joy:
https://github.com/dhirschfeld/jupyterlab/blob/build-artifacts/jupyterlab/build/jupyterlab-shim.js
[code]

[2016-08-22 22:08] dhirschfeld commented on #715
I'll update node and try again - figure it can't hurt...

[2016-08-22 22:09] blink1073 commented on #224
I played with the WebPack DLLPlugin:

Pros:
- Does not execute any code
- Auto-creates shims for all modules
- Modules are available synchronously

Cons:
- The dll needs to export a global variable
- We would need to figure out how to dynamically use the manifest(s)

My current plan is to not export anything explicitly from the bundles, but have them only `define()` each module using a shim that w

[2016-08-22 22:14] blink1073 commented on #715
Your generated shim file has backslashes where mine (on OSX) has forward slashes.  It looks like we need to update the paths returned by `require.resolve` to use forward slashes regardless of platform.

[2016-08-22 22:15] blink1073 commented on #715
Specifically, here: https://github.com/jupyter/jupyterlab/blob/b367cb8a0c24cefaea12c02768e9567085b3bb62/scripts/extension_helpers.js#L73

[2016-08-22 22:17] blink1073 commented on #715
Or, perhaps we just need to use `path.posix.join` here: https://github.com/jupyter/jupyterlab/blob/b367cb8a0c24cefaea12c02768e9567085b3bb62/scripts/extension_helpers.js#L116

[2016-08-22 22:17] blink1073 commented on #715
@dhirschfeld, can you try a global replace of `path.` -> `path.posix.` in that file and see if it fixes your build?

[2016-08-22 22:18] dhirschfeld commented on #715
Will give it a go...

[2016-08-22 22:19] blink1073 commented on #715
This highlights the issue that we need to enable Appveyor testing.

[2016-08-22 22:39] dhirschfeld commented on #715
Replacing all `path.` with `path.posix.` seemed to get a lot further but finally failed with:
[code]

[2016-08-22 22:45] blink1073 commented on #715
Shucks, I'll have to boot my Windows machine in the morning and get this working.   Sorry for the frustration.

[2016-08-22 22:58] dhirschfeld commented on #715
No worries - thanks for looking into it. It case it helps the latest build artifacts are at
https://github.com/dhirschfeld/jupyterlab/tree/build-artifacts

[2016-08-22 23:02] dhirschfeld commented on #715
This time the build directory was deleted and there exists a `jupyterlab/lib` folder, but no `jupyterlab/jupyterlab/lib` folder as appears to be specified in the error message:

`Error: ENOENT: no such file or directory, scandir 'C:\dev\code\jupyterlab\jupyterlab\lib'`

[2016-08-22 23:30] dhirschfeld commented on #715
Success! :tada:

I tried a slightly more conservative approach of only replacing `path.join` with `path.posix.join`, cleaned my checkout and rebuilt and it worked!
[code]

[2016-08-22 23:42] dhirschfeld commented on #715
Not quite out of the woods yet as actually running jupyterlab doesn't display anything in the browser with the below errors in the javasxript console:
![image](https://cloud.githubusercontent.com/assets/881019/17875483/d9f3c420-6915-11e6-8dad-b00fa5b97ee5.png)

Is anyone else seeing any problems with the latest master?

[2016-08-23 00:14] faricacarroll commented on #694
Here is an initial mockup for a generic dropdown button that can be applied to various buttons in JupyterLab.

The menus all have a consistent menu item height of 24px. The menu item left padding is 10px. Top and bottom padding is 4px. I've also included screenshots of the design specs below that will provide more information.

Currently, the cell type dropdown menu shifts up and down depending on

[2016-08-23 12:37] blink1073 commented on #715
I think @eskirk saw this same problem yesterday.

[2016-08-23 15:06] c123w opened #723 "Add system (e.g. table of contents) for navigating large notebooks"
Currently if I have a large notebook it's often hard to find the cell I'm looking for; and even when I know where it is, I often have to scroll for quite a while to get to the right cell. It would be nice if there was some sort of table of contents to let you jump to particular sections (maybe with sections denoted by markdown headers).

[2016-08-23 15:10] ellisonbg commented on #626
We are +1 on this, but will need some UI/UX design work around the external runs.

[2016-08-23 15:15] ellisonbg commented on #598
We are fine with this feature being implemented as long as it is done well.

[2016-08-23 15:23] ellisonbg commented on #573
We could use browser local storage to store notebooks before a user saves it. But @jasongrout mentions that it can be unreliable. Also Safari's private mode will be broken.

[2016-08-23 15:32] ellisonbg commented on #566
Needs a bit more discussion...

[2016-08-23 15:34] takluyver commented on #573
I think having notebooks saved in two different kinds of storage would make
things more confusing for users. And we'd have to deal with browser local
storage getting full (the limits aren't that big if we start sticking whole
notebooks in there, IIRC). Plus I think it is per-port, so you'd have a
different set of unsaved notebooks on a server running on port 8888, on
8889, on 8890...

If we want t

[2016-08-23 15:35] ellisonbg commented on #541
Right now this works for files that are saving (text files, notebooks), but doesn't work for read-only viewers. Getting this to work for read-only viewer would be a new feature.

[2016-08-23 15:36] rgbkrk commented on #629
/cc @glyph - same issue we were looking at a couple days ago

[2016-08-23 15:37] ellisonbg commented on #525
Let us know if you have other questions.

[2016-08-23 15:37] #525 closed

[2016-08-23 15:46] ellisonbg commented on #507
Closing as duplicate of #447

[2016-08-23 15:46] #507 closed

[2016-08-23 15:50] ellisonbg commented on #497
Main discussion point for this is #260

[2016-08-23 15:55] jakevdp commented on #573
Another option for making things more useful would be to save them as something like ``Untitled-<timestamp>.ipynb`` instead. At least then the default filename is marginally useful.

[2016-08-23 16:32] jasongrout commented on #415
The third party extensions work will make this obsolete, so I'm closing this. We've already disabled widgets in the current notebook anyway.

[2016-08-23 16:32] #415 closed

[2016-08-23 16:49] glyph commented on #629
The context where I encountered it: https://twitter.com/glyph/status/767066633076518914

[2016-08-23 17:08] jasongrout commented on #450
I think this should be in the 1.0 roadmap since it would be a major incentive to moving to JupyterLab from the notebook.

[2016-08-23 17:14] fperez commented on #450
If we can pull it off, I fully agree: it would be a very, very valuable enhancement.  Let's keep it tagged 1.0 for now, and we'll see how realistic that is to meet when the time comes.  I wouldn't make it a blocker for 1.0 release, but definitely a desired target.

[2016-08-23 18:34] jasongrout commented on #723
Sounds like a great idea for a lab plugin!

[2016-08-23 18:39] ellisonbg commented on #407
We decided to not go in this direction for now...

[2016-08-23 18:42] ellisonbg commented on #405
Will revisit once we have a server side notebook model and can reliably get the information needed.

[2016-08-23 18:45] ellisonbg commented on #393
This type of feature is going to show up as we continue to iterate on our new activity UI/UX. Closing this issue now, but there will be a series of other issues to track this type of stuff.

[2016-08-23 18:45] #393 closed

[2016-08-23 18:45] ellisonbg commented on #342
Done in master.

[2016-08-23 18:49] jasongrout commented on #308
We discussed this, and decided that we didn't want to clutter the lab interface with a link back to the current notebook.

[2016-08-23 18:51] ellisonbg commented on #305
We are currently working on some more significant re-design of the tab interface in #696 for the R/L panels that would also happen to resolve this issue. Closing in light of that larger effort.

[2016-08-23 18:51] #305 closed

[2016-08-23 18:55] ellisonbg commented on #298
We have decided to use shift+z for redo and go back to y for code cell.

[2016-08-23 18:55] Carreau commented on #308
Great, thanks. I would love to have a summary of the reasoning as of to why – if possible pro and cons – and what is the answer you give to user of lab when they want to access the normal notebook. Knowing how and when you discussed this would also be helpful for future reader t o understand the process of decision and having it look like an open participative process.

I appreciate it.

[2016-08-23 19:01] Carreau commented on #298
Thanks Brian, that seem closer to other shortcuts I expect.

Was (Cmd/Ctrl)-Shift-Z considered as well as it is also common ?
As I said in a previous comment in a separate PR:

Would it be possible to have a summary of the reasoning as of to why – if possible pro and cons ? Knowing how and when you discussed this would also be helpful for future reader , for archival reason , and understand the pr

[2016-08-23 19:06] ellisonbg commented on #293
Closing in favor of new issue to track this stuff.

[2016-08-23 19:07] ellisonbg commented on #292
Closing in favor of new issues about tab completer...

[2016-08-23 19:08] ellisonbg commented on #277
We are working on some redesign of the R/L panels that will address some of these interactions. Closing for now as no action...

[2016-08-23 19:08] jasongrout commented on #489
This works as @takluyver describes for me in JupyterLab. @cryptarch - is this still happening for you? If so, can you give us more info:

- do you notice the same problem in the Jupyter notebook?
- What version of the Jupyter notebook and JupyterLab do you have?

[2016-08-23 19:09] ellisonbg commented on #275
Covered in other issues...

[2016-08-23 19:09] #275 closed

[2016-08-23 19:16] ellisonbg commented on #210
We are going to close this in favor of some new issues working on the design of the launcher and activity starting logic.

[2016-08-23 19:16] #210 closed

[2016-08-23 19:18] ellisonbg commented on #152
Closing in favor of new issues to track the broader design considerations of the launcher and friends.

[2016-08-23 19:18] #152 closed

[2016-08-23 19:21] ellisonbg commented on #128
Done in master!

#628
#680

[2016-08-23 19:21] #128 closed

[2016-08-23 19:26] ellisonbg commented on #113
At this point, the default cursor is the arrow, but no hand is ever used. We probably want to add th hand to things that can be clicked (links, buttons, etc.).

[2016-08-23 19:30] ellisonbg commented on #113
We will have to investigate things that can be dragged as well.

[2016-08-23 19:31] ellisonbg commented on #72
Fixed in master.

[2016-08-23 19:31] #72 closed

[2016-08-23 19:32] ellisonbg commented on #67
Fixed in master.

[2016-08-23 19:32] #67 closed

[2016-08-23 19:33] ellisonbg commented on #37
Closing in favor of #647

[2016-08-23 19:33] #37 closed

[2016-08-23 19:35] ellisonbg commented on #5
@ellisonbg will do some research on this one...

[2016-08-23 19:36] ellisonbg commented on #3
I will do some research...

[2016-08-23 20:12] blink1073 commented on #298
We used (Cmd/Ctrl)-Shift-Z as inspiration (used by Chrome, for example), but we are already in command mode, so dropping the (Cmd/Ctrl) part is consistent.

Using this enables us to keep using the existing notebook shortcuts while using a sensible shortcut for the new command (redo).

We in this case is @jasongrout @ellisonbg @afshin  and myself.

[2016-08-23 20:13] blink1073 commented on #308
We saw these as two different actions: run `jupyter lab` to use JupyterLab if you have it installed, and run `jupyter notebook` to explicitly run the existing notebook (or switch the URL in either case if you are a power user).

[2016-08-23 20:33] blink1073 opened #728 "Third Party Extensions (single build)"
## Current Summary
- We provide an npm-installable script for plugin authors which generates a bundle with semver-suffixed AMD module paths. The bundle is the equivalent of what the `r.js` optimizer would produce: a concatenation of defines. It will include all runtime dependencies needed by the bundle. The plugin author must have node installed in order to run this script. The tool which we use t

[2016-08-23 20:34] blink1073 commented on #224
Closing in favor of #728.

[2016-08-23 20:34] #224 closed

[2016-08-23 20:35] blink1073 commented on #214
Closing this in favor of #728.  JupyterLab itself does not have a single "entry" point, and we are planning to use local dependencies as part of a local build.

[2016-08-23 20:35] #214 closed

[2016-08-23 20:44] dhirschfeld commented on #699
@blink1073 , @jasongrout  - this latest error looks the same as seen in my #715 which should have been fixed by #721.

[2016-08-23 20:48] jasongrout commented on #699
@bgatessucks - can you try again with current master? (see the above comment)

[2016-08-23 20:55] jasongrout commented on #308
@Carreau - we had an video-conferenced triage session for the needs discussion issues that was announced on the jupyterlab channel and in the dev meeting. For this issue, as @blink1073 said, we see running `jupyter lab` as a separate activity from running `jupyter notebook`.

Given that, though, I wouldn't be opposed to a menu item for now to open a new tab with the `/tree` url - would that be suf

[2016-08-23 20:58] jasongrout commented on #298
@Carreau - we had an video-conferenced triage session on the bluejeans jupyter channel for the needs-discussion issues. The meeting was announced on the jupyterlab gitter channel and in the jupyterlab dev meeting last Friday. @ellisonbg, @afshin, @blink1073, and I attended.

[2016-08-23 22:04] Carreau commented on #308
Yes, I think that would be enough.

I think it is hard to ask people to follow gitter. I can understand that some people might be able to follow, but seeing that most of the mentions I get on gitter at `@/all` and most often don't concern me I had to tell gitter to stop notifying me, which sadly also affect the JupyterLab channel . So I did not get the mention; and I was under the impression that

[2016-08-23 22:05] Carreau commented on #298
Thanks that is a really good reason.

[2016-08-23 22:50] jasongrout commented on #308
Thanks for the reminder! I really appreciate you bringing this up.

[2016-08-23 22:55] jasongrout commented on #308
Re-opening, with a TODO item in the summary.

[2016-08-23 23:05] Carreau commented on #308
Ah ! I should have thought that issue could be reopened ! Thanks a lot for that !
Thanks Jason !

[2016-08-24 07:03] cryptarch commented on #489
Hi @jasongrout @takluyver,

To be clear on definitions, do you mean the tab that opens when I click on the Notebook icon in the JLab Launcher?

I can still produce this problem in the JLab Terminal. It is not clear to me what I should test to see whether the Notebook is also affected.

[code]

[2016-08-24 08:45] bgatessucks commented on #699
@jasongrout It compiles fine (also examples) but I get an empty page, with:

![snapshot1](https://cloud.githubusercontent.com/assets/2202856/17924140/52360afa-69df-11e6-87f1-3047c682eae3.png)

[2016-08-24 12:02] jasongrout commented on #699
Can you try a fresh build of jupyterlab? In the JupyterLab directory

[code]
And then also make sure you do a hard refresh in your browser so you clear the cache.

[2016-08-24 12:05] jasongrout commented on #489
No, I mean launching the current Jupyter notebook with `jupyter notebook`. It sounds like the problem is not about JupyterLab, but about something dealing with the notebook server (which is the same for the current notebook).

For me, I also realized that I was actually running zsh, so modifying .bashrc didn't do anything :).

[2016-08-24 12:50] bgatessucks commented on #699
@jasongrout The above was with a fresh clone of the repo - should have mentioned, sorry.

[2016-08-24 12:53] blink1073 commented on #699
@bgatessucks, we had been experimenting with a way to use (abuse) WebPack for third party extensions, and it had some issues on Windows.  However, we are going back to a more standard build in #730, which will address your problem.

[2016-08-24 12:57] blink1073 commented on #489
My `.bashrc` is working on `master`.  I am using OSX 10.11.6.  @cryptarch, can you please check your `terminado` version?

[code]

[2016-08-24 15:41] #699 closed

[2016-08-24 15:41] #715 closed

[2016-08-24 17:21] blink1073 commented on #728
Atom packages use the `atom` public API but are otherwise completely stand-alone npm packages in `~/.atom/packages`.

cf https://github.com/atom/atom/issues/8217

[2016-08-24 17:59] blink1073 commented on #728
Thought exercise for having packages that are self-contained and combined in a single build:

- An extension would ship with its entire `node_modules` included
- Running `npm install --production` in `jupyterlab/jupyterlab` (after removing the enormous `material-design-icons` package ~374MB), the `node_modules` is 34MB on disk, which would mean any self-contained extension would be at least that b

[2016-08-24 18:00] blink1073 commented on #728
A glaring issue with the above is that each package would ship with a locked version number of each of its dependencies, which would mean that JupyterLab would have to follow suit.

[2016-08-24 18:06] ellisonbg opened #736 "Syntax highlighting of markdown cells is broken"
Right now, markdown cells are not syntax highlighted while in edit mode. This is probably something in the CM mode logic for these cells.

[2016-08-24 18:10] jasongrout commented on #728
@SylvainCorlay brings up an interesting point - In this choice of assembling the javascript on the user's computer, we are shifting complexity from the plugin authors to the plugin users (plugin users now need npm installed). This is opposed to the plugin author providing dependencies (either as a bundle, or as a checked-in node directory). Some thoughts on this:

1. The proper place to do dedupli

[2016-08-24 18:21] blink1073 commented on #728
We cannot have duplicate dependencies for `phosphor` at the very least, because it breaks drag-drop semantics.  If we push more onto the plugin author, we are exposing our module loader behavior.

[2016-08-24 18:24] SylvainCorlay commented on #728
I have a very very strong preference on `2.`.

If extension installation requires building an npm package, this is going to be a huge cliff for the typical data-scientist who installs ipywidgets / bqplot.

I think that it is ok to have duplication between extension-provided bundles (that may bundle e.g. d3 multiple times) for now.

[2016-08-24 18:26] jasongrout commented on #728
Yes, we'd have to provide a set of platform externals (e.g., phosphor), like we were doing. I don't like having special treatment for JupyterLab platform packages either, so I see this is as a reason for deduping on the user's computer.

In what we were doing before, we were letting each package declare which dependencies it provided to others, but that leads down a terrible rabbit hole of writing

[2016-08-24 18:27] jasongrout commented on #728
CCing @ellisonbg and @sccolbert too...

[2016-08-24 18:30] SylvainCorlay commented on #728
It would be absolutely catastrophic to need to build npm modules on installations of extensions, and would raise the bar so high for users that we would lost most of our user base.

[2016-08-24 18:39] faricacarroll commented on #709
How about changing the cursor for when it is on edit vs. command mode?

[2016-08-24 18:47] jasongrout commented on #728
More food for thought: currently we're running into issues with jupyter-js-widgets - what I *think* is happening is that both the notebook and jupyter-js-widgets is bundling jquery-ui/jquery, and one is stomping on the other. I think we have this problem right now in the current notebook and current ipywidgets, where bundling things up before distribution creates problems.

[2016-08-24 18:50] jasongrout commented on #709
This would be a great thing to put in a status bar at the bottom, similar to a word processor puts mode information like Insert/Overwrite status. cf. https://github.com/jupyter/jupyterlab/issues/512

[2016-08-24 18:59] #84 closed

[2016-08-24 18:59] #547 closed

[2016-08-24 19:11] #298 closed

[2016-08-24 19:15] #736 closed

[2016-08-24 19:23] jasongrout commented on #683
I replicated it:
![console](https://cloud.githubusercontent.com/assets/192614/17944675/b29efbfc-6a0e-11e6-967d-d640c512e8b0.gif)

I also saw an error in the server output:

[2016-08-24 19:24] jasongrout commented on #683
CC @afshin

[2016-08-24 19:29] jasongrout commented on #680
@ellisonbg - this issue doesn't have anything specific UI issues to address. Can we close it in favor of more specific issues?

[2016-08-24 19:36] jasongrout commented on #566
@afshin, @blink1073, @ellisonbg, and I discussed this. @blink1073 brought up that many npm packages use the "bump just before release" model, with the understanding that if you are running a dev version, you should use a git commit hash or the github URL to pull down changes since the version was released.

[2016-08-24 19:36] jasongrout commented on #555
I think this isn't blocked anymore, now that we are using the monorepo.

[2016-08-24 19:40] jasongrout commented on #326
@Carreau - recently the DOM structure changed for notebooks, and this seems to be fixed now. Can you check?

[2016-08-24 19:45] blink1073 commented on #704
This appears to have been fixed by #735.

[2016-08-24 19:45] #704 closed

[2016-08-24 19:45] jasongrout commented on #325
We now have a good set of questions/answers (thanks @Carreau!).

+1. @charnpreetsingh185 - what do you think?

[2016-08-24 19:46] blink1073 commented on #325
This is also the only place we're currently using jQuery in the application.

[2016-08-24 19:46] jasongrout commented on #325
Making it not hide things would eliminate that too? +1.

[2016-08-24 19:48] charnpreetsingh185 commented on #325
Sounds good to me! I'm currently rewriting this page with the virtual dom APIs for easier readability/maintainability. Planning on getting ride of jQuery and adding in a TOC at the top

[2016-08-24 19:50] blink1073 commented on #566
For example, Backbone has v1.3.3 in their `package.json` file, but it was released a dozen commits and a few months ago.

[2016-08-24 19:52] blink1073 commented on #566
OTOH, CodeMirror takes the approach of bumping a patch version after a release: https://github.com/codemirror/CodeMirror/commit/08b8b7b0d4a2168756829d421649ca149e3cc151

[2016-08-24 19:53] jasongrout opened #741 "Add kernel switch dialog when clicking notebook kernel name display"
From https://github.com/jupyter/jupyterlab/issues/320#issuecomment-232084070.

[2016-08-24 19:53] blink1073 commented on #566
Consistency is great: `jQuery` uses a `-pre` tag: https://github.com/jquery/jquery/commit/93f706200c6101df137469ba2e0d965e93508991

[2016-08-24 19:54] jasongrout commented on #320
I think this is done, at least on one side:

![screen shot 2016-08-24 at 3 54 04 pm](https://cloud.githubusercontent.com/assets/192614/17945716/066e8d16-6a13-11e6-9f3a-4f5c196efaed.png)

[2016-08-24 19:55] jasongrout commented on #320
@ellisonbg - I'm not sure what these tasks are. Are they done? If not, let's open specific issues for each one.

[2016-08-24 19:56] jasongrout commented on #319
@rnetro - could you comment on each of the items? (done, won't fix, etc.?)

[2016-08-24 19:58] jasongrout commented on #315
@ellisonbg - are these done or obsolete now? Can we close the issue, and migrate any undone items to their own issues?

[2016-08-24 19:59] jasongrout commented on #288
Closing, since compatibility with JupyterLab is now being done in the ipywidgets repo, currently at https://github.com/ipython/ipywidgets/pull/727.

[2016-08-24 19:59] #288 closed

[2016-08-24 20:05] jasongrout opened #742 "Make a "Close and Halt" menu item and command for notebooks"
From https://github.com/jupyter/jupyterlab/issues/233#issuecomment-231174007. This would mimic the menu item in the current notebook.

[2016-08-24 20:06] jasongrout commented on #233
I think the above discussion decided that things work as expected now, but there should be an additional "Close and Halt" menu item and command for notebooks, mimicking the current notebook menu item - see #742.

[2016-08-24 20:06] #233 closed

[2016-08-24 20:07] jasongrout commented on #233
(Please reopen, @fperez, if I'm mistaken)

[2016-08-24 20:07] jasongrout commented on #228
CC @afshin.

[2016-08-24 20:08] jasongrout commented on #23
Tracked at https://github.com/ipython/ipywidgets/pull/727 now.

[2016-08-24 20:08] #23 closed

[2016-08-24 20:10] jasongrout commented on #6
@Carreau - this works fine for me on OS X Chrome and Firefox. Is it still a problem for you? If so, what browser and OS are you using?

[2016-08-24 20:21] fperez commented on #233
This sounds good, I'll play with it and we can revisit if the experience feels awkward. Thanks!

[2016-08-24 20:24] blink1073 commented on #697
Fixed by #706.

[2016-08-24 20:24] #697 closed

[2016-08-24 20:24] jasongrout commented on #325
It's not being updated dynamically, right? It may be easiest just to stick the html into a huge text string and slap it in a div. Is there a reason to use the virtual dom over a static html string?

[2016-08-24 20:26] blink1073 commented on #641
I implemented cell drag/drop, but we did not have a style to accompany it: https://github.com/jupyter-attic/jupyter-js-notebook/pull/189

[2016-08-24 20:38] #652 closed

[2016-08-24 20:41] #666 closed

[2016-08-24 20:45] Carreau opened #744 "Cannot restart kernel if kernel broken."
My IPython was crashing (my mistake, I was in the middle of a patch)

I stashed the patch but in the meantime; lab went into the `No Kernel!` state.

- [ ] is the exclamation mark necessary ?
- [ ] should the indicator be "busy" (black dot) ? (Empty for Idle does not make sens either)
- [ ] should in general a broken kernel have a dialog that pop-up "Kernel died 5 times, not attempting to restart

[2016-08-24 20:45] charnpreetsingh185 commented on #325
Right, its not being updated dynamically. Originally the page was entirely in inner html and that prohibited access to the app object needed to open the tour page.

[2016-08-24 20:48] jasongrout commented on #325
Ah. You could still make it inner html, and then find the one element that needed that javascript, and add it manually.

[2016-08-24 20:50] charnpreetsingh185 commented on #325
Ah thats a really good idea!

[2016-08-24 20:54] Carreau commented on #293
What is "new issue to track stuff" ?

[2016-08-24 20:55] Carreau commented on #293
Or more precisely, can you include a link to the new issue(s) that has been created and what part of this issue do they track ?

Thanks.

[2016-08-24 20:55] Carreau commented on #292
Can you link to the new issue(s) the tracks this ?

[2016-08-24 20:59] sofianeh opened #745 "Integrate "Control Panel" and "Logout" buttons when launched from JupyterHub"
These two buttons are missing, I don't see a way to logout directly from Lab
It would be nice to integrate "Control Panel" and "Logout" functionalities when Lab is launched from JupyterHub

Here's how they appear on the tree view (c.f. notebook):

![2016-08-24 16_55_06-home](https://cloud.githubusercontent.com/assets/271142/17947753/04035bca-6a1c-11e6-829c-dd534be558e4.png)

[2016-08-24 21:00] cryptarch commented on #489
Hey @blink1073,

[code]

I think there has been a misunderstanding. I am not saying the `.bashrc` is not getting sourced at all. Indeed, my `.bashrc` *is* getting sourced when JLab starts. The problem is that if I *change* the `.bashrc`, new JLab Terminals within the current JLab instance do not reflect the change.

This won't usually be an issue when there is just one person using JLab on just th

[2016-08-24 21:03] Carreau commented on #342
Can you link to the Pr or commits that did this ?

I'm also wondering what and how decisions were taken to only  implement 1/2 of the requests and questions in here ? In particular there are no icons to clear the field, though there seem to be space on the right of the magnifying glass to accomodate for this icon.

Thanks.

[2016-08-24 21:04] Carreau commented on #326
That's seem to be fixed on my side. Thanks all !

[2016-08-24 21:04] #326 closed

[2016-08-24 21:06] SylvainCorlay commented on #728
cc @fperez

[2016-08-24 21:07] jasongrout commented on #325
Great. Let's make this another issue, since @Carreau did review the faq items (which is what this issue was about).

[2016-08-24 21:07] #325 closed

[2016-08-24 21:08] jasongrout opened #746 "Make FAQ not hide the answers"
From https://github.com/jupyter/jupyterlab/issues/325#issuecomment-232096794

CC @charnpreetsingh185.

[2016-08-24 21:11] jasongrout commented on #292
See https://github.com/jupyter/jupyterlab/pull/673 for the implementation of the search icon.

[2016-08-24 21:13] jasongrout commented on #342
See https://github.com/jupyter/jupyterlab/pull/673 for the implementation of the search icon.

[2016-08-24 21:15] Carreau commented on #277
I would appreciate if you could link to newer discussions in general, It's becoming extremely hard to follow what is happening if every time I come to an issue I am subscribed to I have to literally look through all of the open and closed issue to know which one is the new one I should follow.

[2016-08-24 21:16] Carreau commented on #6
Yes it is working for me fine as well, It might have been a chrome beta bug.

Thanks !

[2016-08-24 21:16] #6 closed

[2016-08-24 21:33] jasongrout commented on #596
@Carreau - is this still an issue for you? I'm not reproducing it with Notebook 4.2. We did just remove jqueryui, so that might circumvent the issue too.

[2016-08-24 21:44] Carreau opened #747 "Improve command palette when no match found"
# Summary

3) The command palette show nothing when there is no matches which give an impression of emptiness, could we fill it with "no matches found" or any other placeholder, or informative text if appropriate ?
# Original issue

Thanks all for the new command palette, it looks nice. I see a few ways we can make it even better!

1) the magnifying glass seem too far from the right-side, and its

[2016-08-24 22:00] Carreau commented on #596
You are right this is not an issue for me anymore.  I would have been nice to figured out  exactly what was the cause.

Thanks !

[2016-08-24 22:03] Carreau commented on #747
Link to #673 (thanks @jasongrout for providing the link in the other issue !)

[2016-08-24 22:08] cryptarch commented on #489
Hey @jasongrout,

I don't believe this is possible within our current docker container setup which (as I understand it) only offers JLab as a web service. It doesn't have its own X11; when I try running `jupyter notebook` anyway it complains about not finding a browser.

On my _local_ machine, Terminals opened from jupyter notebook seem to behave correctly. If I start the notebook, then change my

[2016-08-24 22:09] blink1073 commented on #489
I should have been more clear.  I meant I was able to change my .bashrc, launch a new terminal from the JupyterLab launcher, and see the difference.

[2016-08-24 22:12] cryptarch commented on #489
If it helps, the dockerfile these containers are built from is at https://github.com/dit4c/dockerfile-dit4c-container-jupyterlab/blob/master/Dockerfile

[2016-08-24 22:16] jasongrout commented on #489
Can you check to see if this works as you expect when using the jupyter notebook (i.e., using `jupyter notebook`)? I strongly suspect the problem is not unique to jupyterlab here.

[2016-08-24 22:17] jasongrout commented on #489
Same here (with .zshrc, of course). I changed it from within the JLab terminal, then launched a new terminal, and the changes were applied.

[2016-08-24 22:18] jasongrout commented on #489
(an easy way to check it is to launch jupyterlab, and then just change the URL to `/tree` - and there is the jupyter notebook...)

[2016-08-24 22:22] jasongrout commented on #596
Thanks! I agree it would have been nice to figure it out.

[2016-08-24 22:22] #596 closed

[2016-08-24 22:25] jasongrout commented on #747
Agreed - should be a fixed number of pixels from the right edge, methinks. Or maybe a set em-width from the right edge...

I personally liked the previous orange better than the blue, but I'm happy to defer to the designers for the moment and customize my own theme later :).

+1

[2016-08-24 22:46] cryptarch commented on #489
No worries, I will try this out later today (Eastern Australia time).

[2016-08-24 22:49] minrk opened #749 "Safari layout issues"
The existing notebook officially supports reasonably current Safari, Chrome, and Firefox, but JupyterLab has various layout issues on Safari. We need to work these out before we can get to a stable release of JupyterLab, so that it is at least usable on the officially supported browsers.

Menu items don't layout correctly in stable Safari:

<img width="343" alt="screen shot 2016-08-24 at 23 56 34"

[2016-08-24 23:02] jasongrout commented on #749
Thanks for looking into this!

[2016-08-24 23:02] jasongrout commented on #489
Lucky!

[2016-08-25 00:06] #590 closed

[2016-08-25 00:16] tjdett commented on #489
@jasongrout Perhaps I can shed some light on this, given I'm the author of the container @cryptarch is using. It starts JupyterLab with the following config:
https://github.com/dit4c/dockerfile-dit4c-container-jupyterlab/blob/master/etc/supervisord.d/jupyterlab.conf

As you can see, that means JupyterLab is being started from a login shell:
`bash -l -c "/opt/python/bin/jupyter lab --no-browser"`

[2016-08-25 00:23] ellisonbg commented on #749
Moving this up 0.9

[2016-08-25 00:25] ellisonbg commented on #745
Yep, in JupyterLab these will be handled by plugin. Pinging @minrk

Two parts of this:

- [ ] Make sure that JupyterLab has the right extension points for add these things.
- [ ] Write the plugin that adds the functionality

[2016-08-25 00:27] ellisonbg commented on #714
We are still working on the design of the inspector, etc, but we have decided to not bind shift-tab to the tooltip as in the classic notebook as tab is way overused. The new inspector allows to to generate this information with no keyboard shortcuts.

[2016-08-25 00:31] ellisonbg commented on #682
Here is the relevant code:

https://github.com/jupyter/jupyterlab/blob/master/src/notebook/notebook/widget.ts#L905

[2016-08-25 00:39] ellisonbg commented on #682
I think it is likely that we have a bug here. I am guessing that it is related to our making a change in the model (active cell), but then directly updating the view (CodeMirror) before the model change has been propagated to the view. In general we should only make changes to the view in response to model changes. We should track the cursor position in the model and let the view automatically upd

[2016-08-25 00:45] ellisonbg commented on #607
Closing for now. Please let us know if anyone runs into this issue again and we can re-open this.

[2016-08-25 00:45] #607 closed

[2016-08-25 00:47] ellisonbg commented on #586
@blink1073 assuming the last few items here are still being worked on?

[2016-08-25 00:49] ellisonbg commented on #568
I can work on this...

[2016-08-25 00:51] ellisonbg commented on #524
Closing as resolved, let us know if anyone runs into more problems related to this...

[2016-08-25 00:51] #524 closed

[2016-08-25 01:13] ellisonbg commented on #390
We should also check this in the notebook...

[2016-08-25 01:15] ellisonbg commented on #272
Master now has full feature parity with the handling of markdown compared to the classic notebook. From a feature parity perspective, I think JupyterLab 1.0 should release with the same marked based markdown handling.

However, I think we are all in agreement about moving to common markdown eventually.

I am going to move this to the Backlog milestone until we decide to move forward with common ma

[2016-08-25 01:17] ellisonbg commented on #279
To clarify, right now command palette actions are triggered on single clicks. The way it works currently, a double click then triggers the actions twice which is not usually what the user wanted. We should look at UI/UX changes to better indicate that it is single, not double click to trigger the action.

[2016-08-25 01:19] ellisonbg commented on #69
I think I understand. We need to offer a link in JupyterLab to go to the classic notebook dashboard. I fully agree that until the classic notebook is gone we need this...

[2016-08-25 01:43] cryptarch commented on #489
@jasongrout: Okay, I have tried opening terminals from the notebook under `/tree` as you suggested. These also exhibit the same behaviour as terminals opened from the Lab, i.e. new terminals fail to reflect changes in `.bashrc`.

[2016-08-25 02:01] lampts commented on #714
Thank you for the clarification. The reason I'm requesting this function is to concentrate on coding flow, I usually hide these panels. Using Shift-Tab I get quick info in place instead of 2 clicks on the inspector to see the same result. So I gonna close this issue. Yet it's nice to have this feature.

[2016-08-25 04:02] Carreau commented on #714
I'm still curious about who is "we" here, and when this decision was taken and the reasoning behind.
While I see how the inspector can be use, and while I admit it is useful in some circumstance; for most of the use cases I find it annoying, and not particularly well placed on the far right side of the screen.

I still think that a tooltip is useful, and is still one of the things I miss the most

[2016-08-25 04:43] AbdealiJK opened #751 "Getting started to contribute page"
It would be really nice to have a "Getting Started to contribute" page for people new to the repo who want to contribute to this repo.
I am currently not sure how to start, and a wiki page for this would be awesome.

It would also be really nice to have a label for "Easy" issues which any newbie to the repository can do without spending too much time.

[2016-08-25 04:51] benigls opened #752 "Is it possible to add vimrc to the editor?"
Is it possible to add vimrc to the editor?

[2016-08-25 05:33] jasongrout commented on #308
Now this one TODO item makes it a dup of #69.

[2016-08-25 05:33] #308 closed

[2016-08-25 05:42] jasongrout commented on #745
I think this issue should be moved to jupyterhub, which would be the place for such a plugin to live.

[2016-08-25 10:34] blink1073 commented on #728
What if the stance were:

- An extension provides all of its stuff that it wants to expose using AMD
- `JupyterLab` would provide `jupyterlab/lib/foo` and `jupyterlab/externals/phosphor/foo/` etc.
- IPywidgets would expose `ipywidgets/externals/backbone`
- JupyterLab would use a single shim for itself so that it can use WebPack but not be order-dependent.
- Extensions automatically use semver comp

[2016-08-25 10:36] blink1073 commented on #728
We would provide a helper script for those that chose to use WebPack in order to generate the appropriate `externals` config.

[2016-08-25 10:42] blink1073 commented on #728
Notice that the above approach mimics the behavior of `npm dedupe` but at build time.

[2016-08-25 10:46] blink1073 commented on #665
I'd suggest we *not* use Travis CI to do this:

cf https://github.com/jupyter/jupyterlab/issues/407

[2016-08-25 10:48] blink1073 commented on #728
I can dust off #720, which was well on its way toward implementing the above.

[2016-08-25 11:08] blink1073 opened #755 "Use Phosphor data structures uniformly"
Prefer to use Phosphor Vectors over JavaScript Arrays for internal use,
and expose Vectors as ISequences for external use.  This allows us to use
the Phosphor algorithms which provide advanced functionality over what is
offered by the builtin Arrays.

cf #586.

[2016-08-25 11:10] blink1073 commented on #586
Moving the last item to #755.

[2016-08-25 11:10] #586 closed

[2016-08-25 11:14] blink1073 commented on #728
cc @bollwyvl @damianavila

[2016-08-25 11:32] blink1073 commented on #728
An alternative if we wanted to account for peer dependencies would be to provide our own `require()` function that takes a semver string and gives back the appropriate module.  This would mean that JupyterLab would provide `phosphor@0.6.1/lib/foo` and use `jupyter.require('phosphor^0.6/lib/foo')`.  The `jupyter.require()` function would find the appropriate version and load it.

[2016-08-25 11:37] blink1073 commented on #728
The problem with the above is that you start having to morph the WebPack bundle to get it to use this custom import, and it is harder for the extension author to reason about.

[2016-08-25 11:48] blink1073 commented on #751
Hi @AbdealiJK, you are right, we are lacking in the contributing guidelines, we need to reorganize to match the styles of https://github.com/jupyter/notebook/blob/master/README.md and https://github.com/jupyter/notebook/blob/master/CONTRIBUTING.rst.

As for "Easy" issues, we have been tagging them with "sprint-friendly": https://github.com/jupyter/jupyterlab/issues?q=is%3Aopen+is%3Aissue+label%3As

[2016-08-25 11:49] blink1073 commented on #751
#582 is related.

[2016-08-25 11:55] blink1073 commented on #752
cf https://github.com/codemirror/CodeMirror/issues/2840

[2016-08-25 11:57] blink1073 commented on #749
IIUC this would require fundamental changes to phosphor that are the result of Safari not following the browser spec.

[2016-08-25 12:00] blink1073 commented on #749
cc @sccolbert

[2016-08-25 12:12] jasongrout commented on #682
Some thoughts:
1. I worry about latency if we are doing that to the extreme. In normal editing, certainly the widget will drive the model.
2. Handling multiple cursors can be tricky to get right.
3. When we have collaborative editing, we'll have to have some notion of cursor position that is broadcast to other users.

[2016-08-25 12:26] jasongrout commented on #752
Thanks for asking! If you have any further questions, or want to explore writing a plugin to provide more custom vim functionality, please let us know.

[2016-08-25 12:26] #752 closed

[2016-08-25 13:10] blink1073 commented on #320
Closing as all issues have been addressed or are tracked elsewhere (with links in the original comment).

[2016-08-25 13:10] #320 closed

[2016-08-25 13:12] blink1073 commented on #638
I don't think this is a 0.9 issue, as it only affects the test suite, moving to 1.0, feel free to revert if you disagree.

[2016-08-25 13:18] blink1073 commented on #406
I'm not so sure that they should have the same names, running a notebook cell is fundamentally different from a console prompt, which always executes code.
What prompted this originally was that I tried to type `execute` in the palette to execute a code cell in the notebook.  If the console command were also called `run`, it would still have been sorted first.

[2016-08-25 13:39] minrk commented on #749
Given that the tech preview (due for release this Fall) does fix the CSS issue described in #109, I don't think it's critical to fix that one, but I do think it's worth spending some time to see what it might require. phosphorjs/phosphor#137 should fix the submenu failure.

[2016-08-25 13:46] blink1073 commented on #749
Great, there's hope yet!

[2016-08-25 14:35] AbdealiJK commented on #751
@blink1073 The sprint-friendly label looks good !

I was trying to modify a typescript file `src/csvwidget/widget.ts` by adding a console.log() in renderTable(). I've installed jupyterlab from source and run `jupyter-lab` to start the server. I opened a new terminal and ran `npm run watch` as recommended by the `jupyter-lab` command so that typescript gets auto compiled on change.

On running the

[2016-08-25 14:37] sccolbert commented on #749
The layout issues could possibly be solved with vendor-prefixing the flex layout. But I'm not sure. Can someone tag safari-specific issues with a "safari" tag so that I can look into them?

[2016-08-25 14:46] blink1073 commented on #749
@sccolbert, done.

[2016-08-25 14:48] blink1073 commented on #522
I confirmed this differs between Notebook and JupyterLab.  When typing a space in the cell editor, it does not move the cursor forward until you type another character.

[2016-08-25 14:50] blink1073 commented on #522
It does not occur in "Code" mode, but does occur in "Raw" mode.  I think this may just be a CodeMirror setting we are missing.

[2016-08-25 14:52] sccolbert opened #758 "CSS for Command Palette search icon is incorrect"
The input node has had wonky CSS applied to it, causing it have a percentage width. This makes the icon look weird when the palette is expanded. See the screenshot below:
![capture](https://cloud.githubusercontent.com/assets/137289/17973860/9422e418-6aa9-11e6-979a-e5c2d68ccfd4.PNG)

[2016-08-25 14:52] sccolbert commented on #758
Assigning to myself

[2016-08-25 14:53] jasongrout commented on #728
Do you mean also all of the dependencies they don't expose too?

I don't know of any npm packages that bundle all of their dependencies in their distribution. It seems fraught with very subtle bugs. Especially if some things are duplicated and some are not. It seems that we're setting ourselves up for lots of pain in debugging and having weird interactions between plugins.

[2016-08-25 14:55] blink1073 commented on #728
No, you'd have an explicit list of libraries you provide in a `jupyter.lab` key in `package.json`.

Most extensions would be the single self-contained WebPack bundle, if they are using our script.

[2016-08-25 14:57] sccolbert opened #759 "Active tab indicator doesn't change for non-document tabs"
As it says on the tin:

![capture](https://cloud.githubusercontent.com/assets/137289/17974097/550edfd8-6aaa-11e6-9890-777c60f5cab7.PNG)

[2016-08-25 14:58] sccolbert commented on #759
cc @afshin @blink1073

[2016-08-25 15:05] SylvainCorlay commented on #728
An extension would have a webpack build step as part of their prepublish script. The resulting bundle would only depend on the external dependencies provided by the platform.

Like `https://npmcdn.com/bqplot@0.1.5/dist/index.js` which start with `define(["jupyter-js-widgets"]`.

[2016-08-25 15:06] blink1073 commented on #728
What Sylvain said.

[2016-08-25 15:13] jasongrout commented on #728
@SylvainCorlay - let's discuss this assumption. To use the packaging system "correctly", it just requires that they have npm installed.

Anaconda already has npm packaged, so I assume that that is painless in that situation - any third-party plugin's conda package would depend on npm, but jupyterlab itself wouldn't (since it distributes the prebuilt bundle for included plugins). Since ipywidgets i

[2016-08-25 15:19] blink1073 commented on #759
It is applied based on the focus tracker:

<img width="397" alt="screen shot 2016-08-25 at 10 18 51 am" src="https://cloud.githubusercontent.com/assets/2096628/17974859/5cef1350-6aad-11e6-8fdd-a700337beaab.png">

[2016-08-25 15:21] blink1073 commented on #759
So it always tracks the "current" tab in the main dock panel.

[2016-08-25 15:23] blink1073 commented on #751
We had an infinite loop in the `watch` command temporarily, it should be fixed in current master.

[2016-08-25 15:24] jasongrout commented on #728
Sounds like we are using the words "provide" differently. Perhaps this is clearer: "Do you mean an extension includes all of its dependencies' code, even the things it is not providing to downstream plugins"? I.e., the ipywidgets `labextension` package has two bundles it will install - `jupyter-js-widgets` and all of its dependencies, and `jupyter-js-widgets-labextension` and all of its dependenci

[2016-08-25 15:24] sccolbert commented on #759
No it doesn't. See the screenshot. None of the selected tabs have the indicator. There's a bug somewhere.

[2016-08-25 15:26] blink1073 commented on #728
The `ipywidgets` extension can choose to provide `jupyter-js-widgets` for downstream use.  It would require `jupyterlab` things from the environment and shim `jupyter-js-widgets` for others to use.

[2016-08-25 15:26] blink1073 commented on #728
`bqplot` would `require` `jupyter-js-widgets` from the environment and potentially provide `d3`.

[2016-08-25 15:28] blink1073 commented on #759
The screen shot does not help me.  You could be getting caught by the lack of "click on the tab to activate" behavior.

[2016-08-25 15:29] blink1073 commented on #759
If I click the tab, then click on the image, it gets focus and styled.

[2016-08-25 15:30] SylvainCorlay commented on #728
That is a big one. But another issue is that I think it is illusory to think that building on the final user machine will work nicely. My opinion is that it will break in most cases.

Various versions of npm installed on the user machine overriding anaconda, path issues, discrepancies of behavior of npm depending on the platform (windows, debian), an extension that breaks your jupyterlab bundle, n

[2016-08-25 15:50] sccolbert opened #760 "Revert/overwrite dialog keeps popping up."
This may be a hard one to reproduce. I've had JLab open and running for a while, and I've messed around and edited a few new notebooks and text files. If I leave JLab alone for a while, eventually this dialog (see screenshot) will pop up, even though I don't have any stale tabs open. If I don't dismiss the dialog, a *new* identical one will keep popping up every few minutes. Eventually, I'll have

[2016-08-25 15:51] sccolbert commented on #760
cc @blink1073 @afshin

[2016-08-25 15:51] sccolbert commented on #760
Marking as "needs info" until I know how to best reproduce.

[2016-08-25 15:53] sccolbert commented on #760
capture of dismissing multiple dialogs.

Note: we should update these buttons to have some sort of hover and press indication.

![browser](https://cloud.githubusercontent.com/assets/137289/17976203/193333f8-6ab2-11e6-8efe-1394d8fd4dc0.gif)

[2016-08-25 15:58] sccolbert commented on #760
Looks like it may be caused by exceptions under the hood:

![capture](https://cloud.githubusercontent.com/assets/137289/17976386/d97bd160-6ab2-11e6-91f3-74228fe6a7ef.PNG)

[2016-08-25 16:00] sccolbert commented on #760
Relevant lines:

![capture](https://cloud.githubusercontent.com/assets/137289/17976434/1677a9fe-6ab3-11e6-9017-5afd8ab31092.PNG)

[2016-08-25 16:06] jasongrout commented on #728
Another option is to go ahead and ship the entire node_modules folder with every plugin (perhaps except for some system-provided packages), and have a *python* program that does the deduping, and optional bundling. (That also sounds painful.)

[2016-08-25 16:11] jasongrout commented on #758
This is also noted in #747, along with other issues (I think it's better to track it here as a focused issue.)

[2016-08-25 16:12] jasongrout commented on #747
#758 is about this.

[2016-08-25 16:27] jasongrout commented on #522
I confirmed this in Safari for markdown and raw cells too. Looking into it.

[2016-08-25 16:42] jasongrout commented on #522
Here is a screencast showing the problem. It seems that codemirror is calculating the wrong position for the cursor (note the cursor left position in the debug window). This doesn't seem to happen in codemirror's markdown demo at https://codemirror.net/mode/gfm/index.html. @minrk - do you see this happening in the tech preview? (I can't install the tech preview since my OS is too old right now.)

[2016-08-25 17:15] spoorthyv commented on #342
@Carreau The only reason the search icon doesn't switch to a clear button is that I didn't see this issue. Ill try to implement that now.

[2016-08-25 17:16] jasongrout commented on #522
I dove into some internals of Codemirror, and got as far as realizing that the line measurement cache seems to be off (referenced at https://github.com/codemirror/CodeMirror/blob/master/lib/codemirror.js#L2580, which has the positions of specific characters, called from https://github.com/codemirror/CodeMirror/blob/master/lib/codemirror.js#L2856). Interestingly, when unhiding the Codemirror-measur

[2016-08-25 17:16] ellisonbg commented on #714
This decision was made in one of the weekly JupyterLab meetings when @afshin was iterating on the inspector panel.

Please keep in mind, tons of things are likely to change in the coming weeks/months:

* We are exploring getting rid of the R panel entirely (it will still be there for third parties to use, but we would stop using it ourselves)
* We are redesigning the L/R panel tab interface to use

[2016-08-25 17:29] ellisonbg opened #762 "Main menu hide/show/inactive semantics"
This issue is to track the different design aspects of the main menu as it pertains to hiding and showing main menus and showing menu items as inactive. Here is my proposal:
- [ ] If there are no instances of a plugin's content, the menu for the plugin is completely hidden
- [ ] When an instance of an activity is created the menu for the plugin shows
- [ ] The primary UI for creating new activitie

[2016-08-25 17:30] ellisonbg commented on #493
I have opened #762 to track the larger design questions about how menus work. I am going to close this issue. Could you look over my proposal on that issue and provide feedback there? Thanks@

[2016-08-25 17:30] #493 closed

[2016-08-25 17:31] ellisonbg commented on #492
@rnetro the mono repo has been merged, so we should be able to fix this (if it isn't already). Could you have a look?

[2016-08-25 17:39] ellisonbg commented on #436
Works in master now...

[2016-08-25 17:39] #436 closed

[2016-08-25 17:41] ellisonbg commented on #435
Working in master, although there is a discussion here #714 about how it all should work:

Closing as resolved and duplicate.

[2016-08-25 17:41] #435 closed

[2016-08-25 17:41] alireza202 opened #763 "Is R supported in Jupyter Lab?"
I use both Python and R with Jupyter Notebook, but I can't run any r command/code in Jupyter Lab. When I launch a R terminal or notebook, I see `IRkernel::main()` appearing, but no R code/notebook runs. They get stuck in `[*]` state.

[2016-08-25 17:42] ellisonbg commented on #763
Hmm, I may be seeing this as well. Think we have a bug!

[2016-08-25 17:43] ellisonbg commented on #343
Good catch! Fully agree we should clear the history when creating a new cell

[2016-08-25 17:46] ellisonbg commented on #309
I think we should have a nice static tutorial within JupyterLab that is independent of nbviewer.

[2016-08-25 17:47] ellisonbg commented on #303
I agree we should follow the classic notebook on this.

[2016-08-25 17:53] sccolbert commented on #747
For handling "No Matches", I'll have to add some stuff to the Phosphor widget. Sounds like a good idea though.

[2016-08-25 17:57] AbdealiJK commented on #763
My R Kernel is working for me in jupyterlab as well as jupyter notebook.

I'm using:
 - Jupyter, Jupyterlab and IRKernel at the latest master commits (Installed from github)
 - Python 3.5, R 3.3.1

[2016-08-25 17:58] AbdealiJK commented on #751
You were right. The latest master fixed it

[2016-08-25 17:58] ellisonbg commented on #212
We should probably do this by adding a new command - probably rare enough that we don't need a keyboard shortcut.

[2016-08-25 18:00] ellisonbg commented on #25
I agree we should do this - will help a lot.

[2016-08-25 18:01] ellisonbg commented on #57
@jasongrout and @blink1073 what is the status of this one?

[2016-08-25 18:03] ellisonbg commented on #36
I don't see this, but I did witness this on @SylvainCorlay computer. Sylvain, could you give details of what OS/Browser combinations you see this on?

[2016-08-25 18:04] ellisonbg commented on #49
@eskirk could you test to see if this is resolved?

[2016-08-25 18:05] ellisonbg commented on #73
I am going to be doing some work on the overall experience of how we open files/activities. Will include this idea in that discussion.

[2016-08-25 18:06] ellisonbg commented on #151
@jasongrout is this still relevant - did you finish it?

[2016-08-25 18:06] Carreau commented on #747
Wouldn't  the following be enough ? (not sure we can use multiple pseudo selectors, though)

[code]

[2016-08-25 18:14] jasongrout commented on #522
I pinpointed the rule that causes this problem in #764.

[2016-08-25 18:18] jasongrout commented on #151
Not yet. Probably still relevant - just need some time for the woodcutting, as @SylvainCorlay would say.

[2016-08-25 18:18] ellisonbg commented on #208
I am going to be opening a new set of issues about the new file approach. Also, looks like open with is done. Closing this one...

[2016-08-25 18:18] #208 closed

[2016-08-25 18:18] jasongrout commented on #151
(some of it is done...)

[2016-08-25 18:18] Carreau commented on #342
No problem, no one is to blame, we just need to be careful when closing issues.

[2016-08-25 18:19] ellisonbg commented on #176
This is fixed in master now that all dialog are on the body...

[2016-08-25 18:19] #176 closed

[2016-08-25 18:20] ellisonbg commented on #207
What is the status of this one?

[2016-08-25 18:22] sccolbert commented on #747
Interesting idea. That may work. I was going to add to the renderer to allow for a custom "no matches" item to be rendered.

[2016-08-25 18:22] jasongrout commented on #25
Definitely not 1.0, though. We fixed the underlying problem of sluggish cells a different way (by not rerendering codemirror so aggressively).

[2016-08-25 18:23] Carreau commented on #714
Thanks Brian, these are all extremely good points that help anyone coming across this to understand the decisions.

I would still like to investigate in the long run a merge between the tooltip and the completer.
I can see a few issue with using lower or right panel especially in a multi-panel environment, and I would really like to keep a proximity between the object where the user request inform

[2016-08-25 18:26] Carreau commented on #343
This is inaccurate and i believe your change in title as well. We don't want to clear history on _new_ cell, we want to clear history when a cell is _loaded_ with some content.

[2016-08-25 18:29] Carreau commented on #747
It seem to work locally, but I agree that it tends to put some business logic (displaying a message to the user) in the css ...

[2016-08-25 18:30] fperez commented on #763
In my case it took a moment with `[*]` but it worked fine (this wasn't kernel start lag, as I opened in Lab an R notebook that I'd already started from ClassicNb, so the kernel was already up and running).  I'd switched tabs momentarily so I don't know how long it took to respond, but no more than ~10 seconds, possibly much less.

Afterwards it's behaving fine. I'm on master at 46e40f6.

[2016-08-25 18:32] jasongrout commented on #208
@ellisonbg - Can you make sure to link the new issues to here? Thanks!

[2016-08-25 18:55] eskirk commented on #689
![notifications](https://cloud.githubusercontent.com/assets/7052378/17981955/ba34f4fa-6aba-11e6-923c-a1b223721b51.png)

@ellisonbg how do you like this? Nice and non intrusive, multiple notifications can get stacked and you could easily dismiss/interact with them.

[2016-08-25 19:05] jasongrout commented on #689
I think it looks nice.

[2016-08-25 19:16] jasongrout commented on #728
Crazy idea: what if we could dedup webpack bundles automatically, on the client side? Load a bunch of bundles at the start, dedup their provided modules on the client side. Bundles loaded after the initial start wouldn't be deduped against each other, but against the base system. This doesn't prevent shipping lots of extra code, but it doesn't require npm on the user's system either.

[2016-08-25 19:25] Carreau opened #765 "Contribution ads on Stackoverflow."
I don't know if you have seen this:

http://meta.stackoverflow.com/questions/327559/open-source-advertising-2h-2016

Basically, StackOverflow is offering one of the add area for open source project to make a "call to contributors". I was wondering if you thought it would be a nice things for JupyterLab (and/or Jupyter in general).

They redo it every 6 month apparently, so no pressure.

[2016-08-25 19:32] alireza202 commented on #763
I updated the IRkernel to 0.6 version from github. I'm running R 3.2.1, and Python 2.7. It's still not working.

[2016-08-25 20:15] ellisonbg commented on #765
That is cool, would love to see what others think about this options. I don't personally ever use SO, so I feel less than qualified to comment.

[2016-08-25 20:35] jasongrout commented on #765
If it's not hard to design a logo, it probably doesn't hurt. We've entered it several times for Sage, but I don't remember hearing of any success (not sure if we made the cutoff either...)

[2016-08-25 20:45] AbdealiJK commented on #472
Hey, Can I be assigned to this ? Would like to try it out.

[2016-08-25 20:46] jasongrout commented on #472
Sounds great! It seems like it has stalled. I think it'd be a great idea to take it up.

[2016-08-25 21:14] jasongrout commented on #728
Everyone, let's discuss this more at the jupyterlab dev meeting tomorrow.

[2016-08-25 21:25] ellisonbg commented on #577
@sccolbert @blink1073 @rnetro

I want to revisit the question of context menus.

First question:

Is it possible for us to trigger the browser context menu if a certain modifier is pressed with the contextmenu event?

Basically I am wondering if we can start to offer context menus where they make sense, while still offering an escape hatch for users to access the browser context menu.

Second ques

[2016-08-25 21:30] afshin opened #767 "Inspector not receiving events on autocompletion selections."
Wehn an auto complete value is selected, the "hints" and "details" inspectors do not reflect the newly injected text.

[2016-08-25 21:44] bollwyvl commented on #728
I have just been trying to play along and represent what _could_ happen in a few cases w/r/t to anaconda/conda, but would really like it if we did _not_ end up with a runtime dependency on npm... _unless_ it is actually doing something magical like enabling multi-user collaboration.

One of the ideas we talked about a fair while ago, actually in the context of the original notebook extensions, was

[2016-08-25 21:59] ellisonbg commented on #315
Closing this as we are tracking these things elsewhere.

[2016-08-25 21:59] #315 closed

[2016-08-25 22:06] svenefftinge commented on #135
We have monaco (and code mirror) working in jupyterlab, based on the editor abstract @akosyakov has been working on (see #753).
Are you interested in a contribution?

[2016-08-25 22:12] spoorthyv commented on #758
I made a pull request with css fixes for the command palette and search bar.

[2016-08-25 22:14] spoorthyv commented on #758
This is how it looks in my new version when stretched

<img width="1160" alt="screen shot 2016-08-25 at 3 13 48 pm" src="https://cloud.githubusercontent.com/assets/12418068/17987749/9a2c0204-6ad6-11e6-85b4-274ee8f365ba.png">

[2016-08-25 22:17] jasongrout commented on #135
Yes! Nice, thanks! I'm going to look at #753 tomorrow (ran out of time today...)

It'd also be great to have you in on conversations on third party extensions: #728. Do you want to join the JupyterLab dev meeting tomorrow? 4pm UTC on blujeans.com/jupyter/

[2016-08-25 22:17] faricacarroll opened #769 "Console tab name doesn't update when you switch kernels"
When you switch kernels in a Python 3 Console, the tab name does not update.

<img width="937" alt="screen shot 2016-08-25 at 3 13 18 pm" src="https://cloud.githubusercontent.com/assets/19479586/17987773/bf9d2fc2-6ad6-11e6-960f-b7e2c8320e25.png">

[2016-08-25 22:18] jasongrout commented on #135
(and it may be that the monaco integration lives as a separate plugin for now. Let's review #728 first.)

[2016-08-25 22:27] rnetro commented on #492
@ellisonbg Can I do a share-my-screen with you tomorrow so we're on the same page with the problem?

[2016-08-25 22:53] faricacarroll commented on #648
Here are mockups of the console redesign:

There are two versions: one version with a top toolbar and the other with a floating toolbar. The top toolbar takes up a lot of space for only having 4 icons. The abundance of white space on the toolbar also looks a little awkward to me.

The floating toolbar would be a new element to JupyterLab, but could be used in other widgets (like the ImageWidget) w

[2016-08-25 23:13] damianavila commented on #407
Sorry to raise this again, but given that the whole conda-forge effort is backed on systems like TravisCI, do you really thing that we can not do release in the same way we are producing and delivering packages with conda-forge?

[2016-08-26 02:38] dbl001 opened #771 "[E 19:20:31.107 LabApp] Unhandled error in API request"
I was able to build the latest version of Jupytlab on my Mac,
but got errors trying to run python code launching the kernel:

OS X 10.11.6
r$ conda --version
conda 4.1.11
$ npm --version
2.15.8
$ python --version
Python 2.7.12 :: Anaconda 4.1.1 (x86_64)

[code]

[2016-08-26 03:36] jasongrout commented on #771
It looks like it had an error starting the julia kernel (no such file or directory...). If you change the URL to `/tree` instead of `/lab` to get the old notebook, can you start a notebook with the julia kernel?

By the way, please be careful about what you post. In the error messages above, it included your full environment, which included some sensitive information. I edited your post to remove

[2016-08-26 08:02] dbl001 commented on #771
[E 01:00:41.890 LabApp] Unhandled error in API request
    Traceback (most recent call last):
      File "/Users/davidlaxer/anaconda/lib/python2.7/site-packages/notebook/base/handlers.py", line 457, in wrapper
        result = yield gen.maybe_future(method(self, *args, **kwargs))
      File "/Users/davidlaxer/anaconda/lib/python2.7/site-packages/tornado/gen.py", line 1008, in run
        value = f

[2016-08-26 08:56] akosyakov opened #772 "Improve docs for RenderMime.IRenderer"
It is not clear when isSafe and isSanitizable should return true and when false. Please explain assumptions about these methods and what sanitization and sanitized mean.

[2016-08-26 09:27] minrk commented on #745
@jasongrout - there's a task on either side. The first bullet (make sure it's possible) is on the Lab side, the second (do it) is on the JupyterHub side. In particular, I need a place in the jinja template to add items, which I don't see in the `lab.html` currently. If the static HTML injection isn't the way to go, that's fine, but I still need a way to specify to JupyterLab that things should be

[2016-08-26 09:51] rsinha25 commented on #488
Hi, this looks like a good start for me. Can I work on this?

[2016-08-26 10:47] afshin commented on #714
@Carreau You're raising valid points, and it's definitely a situation where we've made some UX assumptions, we've iterated a couple times, and now it's probably best to do a formal research + UX pass.

With regard to the `?` and `??` being Python-specific ... the notion of inspectors themselves is kind of like a log priority: there are multiple "levels" of inspection. The default two just *happen*

[2016-08-26 11:09] AbdealiJK commented on #573
What about having a default temporary location ? Something like ~/.jupyter/tmp where the default time to keep the notebook is 30 days at maximum since the last changed date ?

Or even /tmp or ~/tmp ?

[2016-08-26 11:14] AbdealiJK opened #773 "Deleting cells in a notebook"
After I create a bunch of cells in the jupyterab notebook, I can't seem to be able to figure out how to delete a cell !

I can insert, cut, paste and copy cells using the buttons on the top of the notebook - but nothing to delete cells.
Am I missing something obvious ? Or does this button need to be added ?

This would probably be added in https://github.com/jupyter/jupyterlab/blob/master/src/note

[2016-08-26 11:16] SylvainCorlay commented on #573
- the `~/tmp` approach would work well with the proposed  `Untitled - <timestamp> .ipynb` and would prevent cwd directory to be polluted with files.
 - not backing it by a file on creation would still make sense in my opinion. It is the default behavior of most text editors.

[2016-08-26 11:20] akosyakov opened #774 "Testing library"
There should be a library that provides utilities for testing, like typical mocks and assertions.

[2016-08-26 11:32] AbdealiJK opened #775 "Add badges in README"
We can have the following badges in the README for easier finding resources:
 - Gitter - https://badges.gitter.im/jupyter/jupyterlab.svg
 - ReadTheDocs - https://img.shields.io/badge/docs-latest-brightgreen.svg?style=flat
 - Travis master - https://api.travis-ci.org/jupyter/jupyterlab.svg?branch=master
 - PyPI - https://img.shields.io/pypi/pyversions/jupyterlab.svg
 - Conda - https://anaconda.org/

[2016-08-26 11:54] blink1073 commented on #714
The `?` and `??` (or a syntax that is relevant for the kernel) are also used by all of the Calysto kernels to trigger inspect level 0 and 1.

[2016-08-26 11:58] blink1073 commented on #57
It is still a bug, 0.9 is a fair milestone.

[2016-08-26 11:59] blink1073 commented on #207
Just waiting on someone to implement it.

[2016-08-26 12:02] rsinha25 opened #776 "Error when running npm run watch"
I'm on Windows. Installed jupyter with anaconda. And installed jupyterlab using source from git.
I'm trying to modify some typescript and less code and checking whether my changes are reflected in jupyterlab.

I get the following error when running `npm run watch`:

[code]

When  run npm run build, it works though (although the changes aren't reflected on the jupyterlab page):
[code]

[2016-08-26 12:02] blink1073 commented on #577
It may be feasible to use `simulate-event` to create a targeted `contextmenu` event, but I'm not sure if all browsers would react properly to a synthetic context menu event.
IMO a context menu should solely belong to the item it is being triggered on, and the plugin providing that item should decide whether to add extension points.

[2016-08-26 12:08] blink1073 commented on #728
We could extend the `local npm` approach by using a python script to generate a `requirejs` bundle, which is just a concatenation of `define()` blocks.

[2016-08-26 12:09] blink1073 commented on #728
And then when http 2.0 comes along we just stop bundling.

[2016-08-26 12:25] #767 closed

[2016-08-26 13:00] blink1073 commented on #769
The console tab doesn't have the name of the kernel in it anymore.  The plan was to add a toolbar with a subset of what is in the notebook toolbar, including the kernel indicators.

cc @afshin

[2016-08-26 13:02] jasongrout commented on #728
Yes, keep in mind that there is already a tornado http2 project: https://github.com/bdarnell/tornado_http2 (discussion at https://github.com/tornadoweb/tornado/issues/1438)

[2016-08-26 13:03] blink1073 commented on #759
@sccolbert, were you using the latest master?  If so, is your third tab an image?

![activate](https://cloud.githubusercontent.com/assets/2096628/18006088/8a4dd000-6b63-11e6-8466-744010c4681c.gif)

[2016-08-26 13:06] jasongrout commented on #728
Or maybe we don't bundle by default (single-user case), but suggest that people running shared servers install npm and webpack everything up.

But a bigger issue than bundling is deduping. We run into the deduping problem in the single-user case even if we don't bundle.

[2016-08-26 13:07] blink1073 commented on #728
Compared to the other problems, deduping should actually be "just" a data structures and algorithms exercise.  We've got a python semver package.

[2016-08-26 13:10] #555 closed

[2016-08-26 13:15] afshin commented on #769
Ah, but the caption does have the kernel name still. It should be updated.

[2016-08-26 13:21] blink1073 commented on #694
Note: the dropdown in the file browser is actually a phosphor menu.

[2016-08-26 13:21] blink1073 commented on #694
This would come in handy in #766.

[2016-08-26 13:25] blink1073 commented on #299
I fixed this in #731.

[2016-08-26 13:25] #299 closed

[2016-08-26 13:28] blink1073 commented on #771
Hi @dbl001, are you able to launch a Julia kernel by running `jupyter notebook` and selecting `New > Julia`?

[2016-08-26 13:30] blink1073 commented on #773
Hi @AbdealiJK, deleting a cell is available as a palette command, and by default uses the same shortcut as the existing notebook `D, D` (hit `D` twice).  We removed some of the cells from the toolbar to conserve horizontal space since notebooks are going to be viewed alongside other documents in JupyterLab.

[2016-08-26 13:42] jasongrout commented on #728
Agreed. That's why I wrote yesterday:

[2016-08-26 13:42] blink1073 commented on #775
Hi @AbdealiJK, I think we should match the existing badges used by Jupyter Notebook, which we are tracking in #751 as part of our `README`/ `contributing` refactor.

[2016-08-26 13:47] blink1073 commented on #774
Yep, agreed.

[2016-08-26 13:53] blink1073 commented on #772
Hi @akosyakov, does #772 answer your concerns?

[2016-08-26 13:57] blink1073 commented on #776
Hi @rsinha25, are you able to run `npm run build:all`?

[2016-08-26 14:06] blink1073 commented on #728
Another idea:  to generate an extension, we create a build directory and install all of the `dependencies` except the ones that are also in upstream `dependencies` that have compatible semvers, and ship that folder.  This would cut way down on duplication in shipped code.   We then assemble all of this code on the user's machine (only when the plugin manifest changes), and handle dedupe/bundling/e

[2016-08-26 14:20] jasongrout commented on #728
I was thinking that we'd ship the entire node_modules. Great idea to do partial deduping with what information we have at package build time.

I think we probably don't need to solve the bundling problem in python. The way I see it, we have two classes of users/use-cases:

1. Single-user, install and forget it, doesn't want a lot of hassle: This will mostly be running on localhost, so don't worry

[2016-08-26 14:24] jasongrout commented on #772
I think he means #779.

[2016-08-26 14:29] jasongrout commented on #773
Thanks for asking, and please let us know if you have more questions!

[2016-08-26 14:29] #773 closed

[2016-08-26 14:29] dbl001 commented on #771
Julia 0.3.11 gets a kernel error,
Matlab connected then died,
Scala works,
Clojure works,
Python[root] works,

I reinstalled Anaconda yesterday.

[2016-08-26 14:32] blink1073 commented on #772
Hahaha, not enough coffee when I wrote that methinks.

[2016-08-26 14:36] blink1073 commented on #728
I am feeling more and more comfortable with this approach.  It is not "standard", but neither is allowing third party extensions to a Web app, and it is a lot cleaner than what Atom is doing.

[2016-08-26 14:37] jasongrout commented on #771
It sounds like your julia kernel needs to be fixed, which is a problem separate from jupyterlab. It complains that a file doesn't exist in your errors. In your error above, it listed several files it was looking for:

* `/Volumes/Julia/Julia-0.3.11.app/Contents/Resources/julia/bin/julia`
* `/Users/davidlaxer/.julia/v0.3/IJulia/src/kernel.jl`
* `/Users/davidlaxer/Library/Jupyter/runtime/kernel-be0e

[2016-08-26 14:41] blink1073 commented on #728
I'm reading up on what VSCode does now.

[2016-08-26 14:43] jasongrout commented on #577
and the default should be to present the browser context menu?

[2016-08-26 14:44] jasongrout commented on #207
Not crucial for an MVP, so moving to backlog.

[2016-08-26 14:44] blink1073 commented on #577
I understood Brian's position to be that our menu should be the default, with the system menu being available using a modifier.

[2016-08-26 14:46] jasongrout commented on #714
Is this moving to 'needs discussion'?

[2016-08-26 14:46] blink1073 commented on #728
VSCode has a `publish` and `package` commands that generate custom build artifacts.

[2016-08-26 14:46] jasongrout commented on #488
Please! Thanks!

[2016-08-26 14:47] blink1073 commented on #728
cf https://code.visualstudio.com/docs/tools/vscecli

[2016-08-26 14:51] jasongrout commented on #745
Static html wouldn't be the way to go. The way to do this is to implement a plugin (javascript) and register that plugin with jupyterlab (which is a python thing). We're discussing how to do this in #224. Likely the plugin should register these as a top-level menu item, or perhaps a button over on the right of the menubar. And commands for each as well.

So, I think we should close this, since rea

[2016-08-26 14:54] jasongrout commented on #745
(and @minrk, we'd really appreciate your input on third party extensions, #728, where the discussion is happening currently)

[2016-08-26 14:57] jasongrout commented on #745
Or leave it open to address the UI issues... :)

[2016-08-26 14:58] blink1073 commented on #728
On disk, it ends up being the same thing as Atom packages, self-contained node installs.

[2016-08-26 15:02] blink1073 commented on #728
Yep, both atom and vscode make the core library available as a global.

[2016-08-26 15:05] jasongrout commented on #728
As a global, or as something you can require?

[2016-08-26 15:06] blink1073 commented on #728
In the case of atom, it is a literal `require()`, looking at vscode now.

[2016-08-26 15:08] blink1073 commented on #728
`var vscode_1 = require('vscode');`

[2016-08-26 15:09] blink1073 commented on #728
Note: neither Atom nor VSCode are running in the browser.

[2016-08-26 15:18] blink1073 commented on #728
Ugh, if we don't have a bundle stage, extensions have to write AMD-style code exclusively.

[2016-08-26 15:19] blink1073 commented on #728
No, I suppose they just have to *ship* an amd entry point.

[2016-08-26 15:20] blink1073 commented on #728
For which we could provide a script.

[2016-08-26 15:23] akosyakov commented on #772
@blink1073 yep, sounds quite clear to me

[2016-08-26 15:29] svenefftinge opened #781 "Reconsider rendering new input cell before IDLE message"
Currently when you send an execute message to the kernel, the notebook (or console) will immediately add another input cell. See https://github.com/jupyter/jupyterlab/blob/bc147583180f7ed2b1aa5f16ee8e00cce72ef333/src/console/widget.ts#L213

Generally it sounds like a good idea to let the user already type and not block him during the execution. But in case the generated process sends messages to g

[2016-08-26 15:30] svenefftinge commented on #135
Yes, we will join.

[2016-08-26 15:31] Carreau commented on #577
Html has a `contextmenu` [element](http://www.w3schools.com/tags/att_global_contextmenu.asp), [[mdn](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/menuitem)], which is implemented only by Firefox AFAICT ; and append things to the browser context menu. Can we investigate if Chrome/IE are planning to implement by default that as well ? I seem relatively straightforward to use, if it's go

[2016-08-26 15:41] blink1073 commented on #781
Hi @svenefftinge, this is behavior of the existing notebook.  We have no way of knowing if there would be a stdin request from the kernel, but if there is one, it necessarily stops kernel execution until it is fulfilled.  Execution requests are always made in the order they are generated by the client.

[2016-08-26 15:45] blink1073 opened #782 "Open Terminals in the CWD"
Terminado supports a `cwd` parameter, but we are not handling it at the server level. It would require adding to the server model for a terminal, which is currently just its "name".

[2016-08-26 15:46] blink1073 commented on #483
We now have the ability to launch consoles in the existing directory per #750.  The classic notebook always launches terminals in the base directory of the server.  It would require a server level change to enable the behavior.  Closing in favor of #782.

[2016-08-26 15:46] #483 closed

[2016-08-26 15:56] blink1073 commented on #755
Moving this to 0.9 because it will have an impact on our API for things like the list of cells on a notebook.

[2016-08-26 15:57] jasongrout commented on #728
Maybe not even that. I think require can load common js modules.

[2016-08-26 15:58] SylvainCorlay commented on #728
**On building npm packages**
I think that from a scientist using the python scientific stack, having to build a node module to install an extension because the extension has javascript is a recipe for a disaster. I have invoked multiple reasons earlier in the conversation.

For this sort of audience, `pip install pythreejs` or even `pip install ipywidgets` should work out the box, which imposes so

[2016-08-26 15:59] Carreau commented on #714
Sorry I was unclear; `?` and `??` are  kernel specific in the sense that they are execute request that do trigger a pager; though not all the kernel can or want to do that so they need a way to use trigger both inspection; I know right now the hits on the side are triggered as you type; though it is can be something that  is not desirable for some kernels (maybe it is I'm unsure) or some environme

[2016-08-26 16:32] willingc opened #783 "GIF in README does not render"
The GIF in the README (`jupyter-plugins-demo.gif`) is not rendering. Looks like an issue with the underlying GIF file https://github.com/jupyter/jupyterlab/blob/master/jupyter-plugins-demo.gif

[2016-08-26 16:35] dbl001 commented on #771
I’m building Julia 0.5 from github now…

Currently, ...

David-Laxers-MacBook-Pro:ch06 davidlaxer$ ls -l /Volumes/Julia/Julia-0.3.11.app/Contents/Resources/julia/bin/julia
ls: /Volumes/Julia/Julia-0.3.11.app/Contents/Resources/julia/bin/julia: No such file or directory

However, /Applications/Julia-0.3.11.app/Contents/Resources/julia/bin/julia’ exists:

ls -l /Applications/Julia-0.3.11.app/Content

[2016-08-26 16:42] willingc commented on #728
I would expand the audience beyond the scientist to social scientists, data analysts, teachers esp. high school, college students, etc.

FWIW, the more complexity of install burden put on a user (i.e. installing node/npm)

[2016-08-26 16:59] charnpreetsingh185 commented on #783
Which browser is this occurring on? The GIF works fine for me in Chrome/FireFox but not in Safari

[2016-08-26 17:01] Carreau commented on #783
I think @JamiesHQ have seen the same the other day at PyBay. Maybe we can try to narrow down why is  that happening.

[2016-08-26 17:08] ellisonbg commented on #728
Once comment that is separate from the design and implementation of third party package handling:

I am a little concerned about allocating too much developer time to solving this problem right now. We have a ton of interested users who are anxiously waiting on JupyterLab being ready for real usage. The amount of work we have to do on core features, UX/UI work, etc. is very significant.

I know th

[2016-08-26 17:12] Carreau commented on #714
Yes, Done.

[2016-08-26 17:18] dbl001 commented on #771
Does Jupyterlab require Julia, or is this just testing my Jupter install?

In Julia Version 0.3.11, I ran:

Pkg.update()

which led to Homebrew installations.
I’m using Macports.  Macports and Homebrew don’t play nicely together…

Is this going to be a big problem.

David-Laxers-MacBook-Pro:julia davidlaxer$ anaconda search -t conda julia
Using Anaconda Cloud api site https://api.anaconda.org
Run

[2016-08-26 17:18] SylvainCorlay commented on #728
Widgets libraries are one point of extension that is core to what the notebook is in my opinion.

[2016-08-26 17:21] ellisonbg commented on #728
Another comment about us running a build service. Here is a description of what I am thinking:

## Bundler Service

* The "installation/activation" of plugins for users consists of simply listing the plugins and their versions somewhere on their local system.
* When the JupyterLab server starts, it is responsible for taking that list of plugins and creating a bundle that can be served to the clien

[2016-08-26 17:44] willingc commented on #783
Safari @charnpreetsingh185.

[2016-08-26 18:22] jasongrout commented on #728
-1 on treating widgets differently than other packages. I think widgets is our chance to step into third party extension authors' shoes.

[2016-08-26 18:55] SylvainCorlay commented on #728
That is not what I said. I just took widgetsnbextension as an example.

[2016-08-26 19:35] blink1073 commented on #728
My plan is to not think about this until Monday morning and come at it again with fresh eyes, have a good weekend folks!

[2016-08-26 19:40] jasongrout commented on #728
Ah, I misunderstood you. What I understand now is that you are saying that no other package besides widgetslabextension should provide the jupyter-js-widgets package (as an example), and somehow everyone should know that. Is that right?

[2016-08-26 20:21] damianavila commented on #728
I think it is important to achieve consensus and a workable solution for this now, in the early stages, otherwise we are exposing us to really problematic times in the future when we have a narrow space to implement alternatives without breaking everything backwards.

Since JupyterLab is a compo-sable experience from the very beginning and I think most (if not all) of us think Jupyterlab in that w

[2016-08-26 20:43] jasongrout commented on #783
What version of Safari, on what version of OS X? It seems to work fine for me on Safari Version 9.1.2 (10601.7.7) on OS X 10.10.5

[2016-08-26 20:47] jasongrout commented on #771
JupyterLab doesn't require Julia at all (the kernels you have installed are totally orthogonal to JupyterLab). You should be able to start a notebook with the python kernel, I think.

[2016-08-26 20:51] jasongrout commented on #771
It sounds like the Julia kernel issue we're seeing above is totally separate from JupyterLab, and has nothing to do with JupyterLab. Does JupyterLab work for a notebook with the Python[root] envronment?

[2016-08-26 20:52] dbl001 commented on #771
Any idea why Jupyter shows ‘Python[Root]’ instead of ‘Python 2.7’?

David-Laxers-MacBook-Pro:~ davidlaxer$ conda --version
conda 4.1.11
David-Laxers-MacBook-Pro:~ davidlaxer$ python --version
Python 2.7.12 :: Anaconda 4.1.1 (x86_64)

[2016-08-26 20:52] svenefftinge commented on #781
ok, thanks.

[2016-08-26 20:52] #781 closed

[2016-08-26 20:56] willingc commented on #783
@jasongrout  Doesn't work on OS X 10.11.6 (15G31)    Version 9.1.2 (11601.7.7)

[2016-08-26 20:58] dbl001 commented on #771
I switched the kernel to Python[Root] and launched a notebook … ‘No Kernel’.

I 13:57:18.772 LabApp] Kernel started: c83d5019-b242-4c48-b518-9d44d6389c15
[I 13:57:19.089 LabApp] Kernel shutdown: 91983788-7284-42b4-a750-458e943749f4
[W 13:57:19.254 LabApp] 404 GET /api/kernelspecs/Python%20%5BRoot%5D?1472245039153 (::1) 93.04ms referer=http://localhost:8890/lab
[I 13:57:25.974 LabApp] Kernel restar

[2016-08-26 21:16] jasongrout commented on #771
This is an Anaconda thing. They recently made it possible to have a kernel per environment, and that is the kernel associated with your root environment. Not the most portable, but convenient nonetheless.

[2016-08-26 21:17] jasongrout commented on #771
That does seem weird. And that kernel does work in the current notebook (i.e., if you change the URL to `/tree` and start a new notebook with that kernel?

[2016-08-26 21:21] Carreau commented on #783
Works on 10.10.3 (14D136), Safari 8.0.6 (10600.6.3);

But it seem to be a [more general](https://discussions.apple.com/thread/7622989?start=0&tstart=0) issue [across the internet](https://forums.autodesk.com/t5/design-validate-document/bug-posting-animated-gifs-with-safari-broken/td-p/6498455)with OS X latest update.

From the description it seem the the core os x lib that read animated gifs is br

[2016-08-26 22:55] matt-bowers commented on #696
I, along with the other designers at Cal Poly, have been working on an idea that @ellisonbg and I came up with when brainstorming new ways to navigate through the panes of the sidebar without having a full side-tab navigation bar that wastes lots of screen real estate.

This version allows for a familiar UI that is both compact, yet expandable for developers to add as many "tabs" as needed. This U

[2016-08-26 23:40] Carreau commented on #696
[I took the liberty of editing previous comment to include design names we can refer to , based on alt-text].

I have a preference for the toolbar color in design 3 4 ; though I'm unsure if it goes well with the rest of the Blue. I think my preference is because the search field is more easy to identify as clickable.

The Blue in the 3.2 toolbar seem too strong to me.

[2016-08-26 23:49] jasongrout commented on #696
To me, at this point, it seems natural to just use tabs in the sidebar (that's basically what it looks like we have, restyled a bit). And at that point, it seems natural to let me drag the tabs to split the sidebar so I can have a filebrowser on top and command window on bottom, etc.

[2016-08-27 01:59] fperez commented on #763
For reference, I was using Python 3.5, I only have a minimal 2.7 setup without JLab in it, and no time right now to set up a full 2.7 system.

Pinging @takluyver and @flying-sheep, perhaps one of you guys might have some ideas?  Do you think the py2/3 difference is relevant?

[2016-08-27 02:49] jasongrout commented on #763
@alireza202 - does the R kernel work in the normal notebook (if you launch JupyterLab, and then change the URL to `/tree`?)

[2016-08-27 03:26] AbdealiJK commented on #775
Makes sense, although I notice that the google-group badge is there in [notebook](https://github.com/jupyter/notebook) but no gitter badge.
It would be useful to add gitter (If it's a recommended way of communicating)

[2016-08-27 05:13] fperez commented on #648
I suggest having two separate issues: keeping this one for the UI design (since it's already going in that direction) and having a new one to focus on the Enter/Shift-Enter discussion.

@stsievert, it turns out that can be done but it's tricky to get right. In the Qt console we indeed manage to do a decent job of getting single-Enter execution in most cases while allowing for multi-line input easi

[2016-08-27 05:24] fperez commented on #228
OK, I've been able to reproduce it reliably in master 8c1f1c1, and *on the notebook!*

Here's what I did:
* create several cells that produce plots, calling `plot(rand(100))`.
* once I get to the bottom of the page, scroll with my wheel mouse to reveal the bottom-most cell.
* run one more cell.
* Boom! That new cell gets popped up in the wrong location.

Here's a recording:

![cell-jumping](https:

[2016-08-27 05:32] fperez opened #786 "Spurious "File changed" dialog appearing"
This is a notebook that I'd just opened and had run a couple of cells into. No other browser tabs were open on JLab at all, and yet I got the "file changed" dialog:

![image](https://cloud.githubusercontent.com/assets/57394/18025367/adf06fd0-6bdc-11e6-8289-d38948a1c753.png)

I'd never seen this bug before, but it happened several times in a row today.  In this case, I'd had that notebook open for

[2016-08-27 05:34] AbdealiJK commented on #3
I believe I know why this is happening.
The issue is that the CSS `.jp-NBToolbar-button:hover` is taking more precedence than `.jp-NBToolbar-button.jp-mod-pressed`. So, when you're clicking on something, you're also hovering on the DOM element, the color of the :hover is being shown always even while clicking

[2016-08-27 05:37] AbdealiJK commented on #3
Here's an example that shows this:
I've manually added the .jp-mod-pressed to the "refresh" button as comparison and I'm clicking on the "run" button

![screenshot from 2016-08-27 11-01-57](https://cloud.githubusercontent.com/assets/2200743/18025413/619266e2-6c46-11e6-9b45-e00537abaca7.png)

[2016-08-27 05:57] AbdealiJK opened #787 "Moving tabs around seems to be slow on Firefox"
In firefox, when I try moving around the tabs, I find that it takes about 5 seconds where firefox hangs before the move happens.
When I do the same in chromium, it takes less than half a second.

On checking the process usage in `htop` I find that firefox takes up 100% of one of my cores while doing this (and then goes back down to <10%). Chromium doesn't go above 20% throughout.

Using Firefox 48

[2016-08-27 06:34] AbdealiJK commented on #759
I seem to be seeing a similar issue with csvwidget but not with imagewidget.
The active tab (The blue highlight on the tab) does work for images, consoles, notebooks, and editors, but not for the table rendering of the CSVs (csvwidget).
The CSVwidget becomes active if I click on the contents of the tab though.

[2016-08-27 08:53] flying-sheep commented on #763
hi!

i think python 2/3 shouldn’t be relevant here as we ship no python code (unrelatedly: you really should switch to modern python anyway)

aren’t there logs? do you have the newest IRkernel from git master and have you run `update.packages()`?

[2016-08-27 13:25] #772 closed

[2016-08-27 14:59] jmarcellopereira opened #788 "Error Install jupyterlab"
jmarcellopereira@kubuntu:~/maxima-jupyter-master$ jupyter serverextension enable --py jupyterlab --sys-prefix
Enabling: jupyterlab
- Writing config: /usr/etc/jupyter
Traceback (most recent call last):
  File "/home/jmarcellopereira/.local/bin/jupyter-serverextension", line 11, in <module>
    sys.exit(main())
  File "/home/jmarcellopereira/.local/lib/python2.7/site-packages/jupyter_core/applicatio

[2016-08-27 15:17] stsievert opened #789 "Console: use Enter instead of Shift-Enter to execute"
My first instinct when I go to the console is to hit enter to run the code. This is how every other console works.

I mentioned this in #648 but @fperez mentioned I should make it a separate issue. In this issue, he said

[2016-08-27 15:24] stsievert commented on #648
@faricacarroll @ellisonbg the only other thing I'd like to see is have the output be right above the input. Past that, it looks good -- nice UI redesign.

![6a1cdcb4-6adb-11e6-816c-c746aaeeb7f5](https://cloud.githubusercontent.com/assets/1320475/18028275/df06d844-6c3f-11e6-8530-9015a11d4f79.png)

[2016-08-27 19:23] fperez commented on #763
BTW @alireza202, to get logs, you can start the notebook/lab server with `--debug`.

[2016-08-27 19:42] alireza202 commented on #763
I have it on my work computer. I'll check it out on Monday.

[2016-08-28 05:11] AbdealiJK commented on #788
I faced a similar issue earlier. The issue is that the `--sys-prefix` tries to make it a global. But it won't work if you have not installed jupyter globally.
Doing a `pip install jupyter` in Ubuntu makes it install the jupyter in `~/.local/` folder rather than a system folder. And doing `sudo` doesn't work here because root doesn't have jupyter installed.

Hence, the fix  here is to not use --sys

[2016-08-29 03:31] Carreau opened #790 "Smart Deletion of indent."
It took me a few minutes to actually fire this out as the behavior of JupyterLab is getting really close to the notebook, so this is nice !

When deleting whitespace the current notebook delete until previous location multiple of 4 spaces (when in Python mode) . This make `tab` and `delete` symmetric. JupyterLab seem to not behave this way, and I think the behavior of current notebook is more intu

[2016-08-29 09:15] rsinha25 commented on #776
Yes, I am able to run npm run build:all. Even after running this, npm run watch doesn't work.

[2016-08-29 10:53] blink1073 commented on #473
Follow-up: Windows Subsystem for Linux now includes a pty: https://blogs.msdn.microsoft.com/commandline/2016/06/08/tmux-support-arrives-for-bash-on-ubuntu-on-windows/

[2016-08-29 11:27] blink1073 commented on #728
Here are a few examples of extensible applications in a browser:

Cloud9 Packages use `require.js`, but as a DI container where the plugin defines the list of plugin names it consumes and the main entry point is called with those plugins as attributes of an `imports` object.  The plugin calls a function in its entry point to register the concrete object it provides.
https://cloud9-sdk.readme.io/v0

[2016-08-29 11:37] SylvainCorlay commented on #728
So they don't try to solve the problem as I was suggesting.

[2016-08-29 11:39] blink1073 commented on #728
I understand what you mean @SylvainCorlay, but can you elaborate a bit on that statement?

[2016-08-29 11:40] SylvainCorlay commented on #728
(they don't try to dedupe)

[2016-08-29 11:41] SylvainCorlay commented on #728
Speaking of, if we could just sandbox extensions from each other while exposing framework libraries, we would not need to worry about dedupe.

A first solution would be to run each extension in a separate javascript context (for example via an iframe in the same domain) and pass the main modules provided by jupyter lab (phosphor etc). The extension author should only be careful about not duplicati

[2016-08-29 11:44] SylvainCorlay commented on #728
This could also be a good way to start addressing security concerns about extensions.

[2016-08-29 11:44] dhirschfeld commented on #473
Is jupyterlab using terminado? I was able to get that up and running on WSL - takluyver/terminado#32

[2016-08-29 11:45] blink1073 commented on #789
Thanks, @stsievert!  Dev note: we need to use [is_complete](http://jupyter-client.readthedocs.io/en/latest/messaging.html#code-completeness) message in the console when hitting enter to determine if it should be an execute or not.

[2016-08-29 11:46] blink1073 commented on #473
Awesome!  Yes, it does.

[2016-08-29 12:04] SylvainCorlay opened #792 "On serving `less` stylesheets and exposing variables"
Coming back to the subject of serving the less files so that extensions could build in-browser less stylesheets using these variables:

I think that we should not serve the entire content of the `less` source but only variables to be exposed in a separate shorter less file. There would be multiple benefits

 - This clearly separates the less variables that we can delete or rename without thinking

[2016-08-29 12:04] SylvainCorlay commented on #792
@ellisonbg

[2016-08-29 12:11] rsinha25 commented on #776
Hi, just tried out your fix and it works.
Thanks!

[2016-08-29 12:14] blink1073 commented on #788
Hi @jmarcellopereira, there is current discussion on how to improve this experience: https://github.com/jupyter/notebook/issues/1706

[2016-08-29 12:14] blink1073 commented on #776
:fist:

[2016-08-29 12:17] blink1073 commented on #787
Hi @AbdealiJK, can you describe a little more how you arrived in this condition?  I tried Firefox 47.0 on OSX 10.11, opened one of each type of activity from the launcher, and the tabs are responsive when moving.

[2016-08-29 12:44] afshin commented on #228
@jasongrout @blink1073 I tried reproducing this over the weekend and couldn't. I just did a fresh build (https://github.com/jupyter/jupyterlab/commit/6a6f16777f70b4b7f96e3bf8b6be7fadac42ba5d) and still cannot. Could you two please see if you can make this happen? I'll keep trying.

[2016-08-29 12:45] rsinha25 opened #793 "Console Example not working"
I'm on Windows. Installed jupyter with anaconda. And installed jupyterlab using source from git.
I'm trying to run the console example but I get the following errors when I load it on the browser console: (I have already run npm install and npm run build as mentioned in the doc)

Failed to load resource: the server responded with a status of 501 (Not Implemented)
 http://localhost:8888/api/session

[2016-08-29 12:55] blink1073 commented on #793
Hi @rsinha25, what is the output of `jupyter notebook --version`?

[2016-08-29 13:03] rsinha25 commented on #793
4.2.1

[2016-08-29 14:14] #776 closed

[2016-08-29 14:42] Carreau commented on #789
As a sidenote, the "is_complete" is optional in the protocol, and/or in some kernel it's hard/impossible to implement correctly so Shift-Enter should likely not be removed.

The other side effect of using "Is complete" (with the python kernel) is that it will need an extra newline at the bottom of the cell to execute.

[2016-08-29 14:46] jasongrout commented on #793
Does jupyter lab itself work (`jupyter lab`, after you've installed the serverextension)? Does the console in jupyterlab work?

[2016-08-29 14:56] jasongrout commented on #728
Last Friday, it seemed that there was some disagreement about fundamental assumptions. Can we vote on the next few statements to try to understand where we are really disagreeing? (You can use the thumbs-up or thumbs-down buttons, and elaborate in a comment if you want).

We *must* have a way of installing and using extensions that does not require the user to have node (and thus npm too) installe

[2016-08-29 14:58] jasongrout commented on #728
Another question for vote:

There must be a way to distribute self-contained extensions that include their runtime dependencies that we don't know are available in the system. (i.e., it's okay to omit dependencies that we know are required by our dependencies, but we must include any other runtime dependencies).

[2016-08-29 15:09] SylvainCorlay commented on #728
Do you mean in a bundle or in the package as bare npm package to be built later on?

[2016-08-29 15:09] rsinha25 commented on #793
Yes, it works.

[2016-08-29 15:11] blink1073 commented on #793
This sounds like a cross-origin problem.

[2016-08-29 15:13] blink1073 commented on #793
@rsinha25, can you post the output from your terminal?  It is running the notebook server with the `--debug` flag.

[2016-08-29 15:21] blink1073 commented on #786
This is related to #760 and fixed by #778.

[2016-08-29 15:21] blink1073 commented on #786
The previous "savehandler" was still alive, and what was causing this issue.

[2016-08-29 15:26] blink1073 commented on #676
I tried and failed to reproduce this on master just now.  I added/deleted/cut/paste executed cells randomly.

[2016-08-29 15:29] jasongrout commented on #728
Sylvain, either way.

[2016-08-29 15:35] blink1073 commented on #228
I was not able to reproduce either.  I even tried a scroll-mouse.

[2016-08-29 15:46] #760 closed

[2016-08-29 15:46] #786 closed

[2016-08-29 15:47] blink1073 commented on #759
Hi @AbdealiJK, that is because the csvwidget does not define an `onActivateRequest` method.  You are welcome to add it as part of #766.

e.g. https://github.com/jupyter/jupyterlab/blob/cc0bc34ec5bf18f3ce9342ba73106493a128ba6f/src/imagewidget/widget.ts#L96-L101

[2016-08-29 15:53] sccolbert commented on #759
Why are we not applying a style to the current tab in each panel? It can be with `.p-TabBar-tab.p-mod-current`. No JS required.

[2016-08-29 15:54] sccolbert commented on #759
@blink1073 Yes, and yes to your previous questions. (Master as of the day I posted the issue).

[2016-08-29 15:54] blink1073 commented on #759
Because we're singling out the current tab in the *entire* main area.

[2016-08-29 15:55] rsinha25 commented on #793
Hi, here's the output on the terminal when  I run the notebook with --debug.

[D 21:08:03.421 LabApp] Searching ['C:\\Users\\...\\Documents\\...\\jupyterlab\\examples\\console','C:\\Users\\...\\.jupyter','C:\\Anaconda3\\etc\\jupyter', 'C:\\ProgramData\\jupyter'] for config files
[D 21:08:03.421 LabApp] Looking for jupyter_config in C:\ProgramData\jupyter
[D 21:08:03.421 LabApp] Looking for jupyter

[2016-08-29 16:00] rsinha25 commented on #793
Here's the output from the terminal when I run python main.py (console):

[D 21:26:20.588 NotebookApp] Searching ['C:\\Users\\...\\Documents\\...
\\jupyterlab\\examples\\console', 'C:\\Users\\...\\.jupyter', 'C:\\Anaconda3
\\etc\\jupyter', 'C:\\ProgramData\\jupyter'] for config files
[D 21:26:20.588 NotebookApp] Looking for jupyter_config in C:\ProgramData\jupyte
r
[D 21:26:20.604 NotebookApp] Loo

[2016-08-29 16:01] rsinha25 commented on #793
I hope this is what you wanted?

[2016-08-29 16:29] rgbkrk commented on #728
What would it be like to vendor node and npm with jupyterlab?

[2016-08-29 16:32] blink1073 commented on #793
Thanks @rsinha25, that is what I was looking for, though I'm not sure why exactly the API request is failing.

[2016-08-29 16:51] blink1073 commented on #793
It could be that your environment does not have its default kernel set.  It could be that you have an older version of `nb_conda_kernels`, can you please try `conda install nb_conda_kernels`?  I have v2.0.0 installed.

[2016-08-29 16:57] spoorthyv commented on #641
Hey @blink1073 is UX the only thing holding this feature back?

[2016-08-29 17:01] blink1073 commented on #641
Yep.

[2016-08-29 17:05] charnpreetsingh185 opened #801 "Toggle Terminal Theme not working"
Toggling the terminal theme doesn't seem to be working on the latest xterm version `1.1.3`. I played around with the versions and it works on `1.0.0` but not above it.
![launcher2](https://cloud.githubusercontent.com/assets/16314651/18059884/0371dea4-6dd0-11e6-8a44-1229ebb4f98e.gif)

[2016-08-29 17:07] blink1073 commented on #801
Hi @charnpreetsingh185, this should be fixed by #800, can you pull from master and verify?

[2016-08-29 17:10] charnpreetsingh185 commented on #801
Yep that seems to have fixed it! The only issue I see is the white scroll bar while the background color is black.

[2016-08-29 17:10] jasongrout commented on #728
Do you mean distributing node and npm with jupyterlab, so that a jupyterlab-specific local copy of node is installed with jupyterlab?

[2016-08-29 17:10] rgbkrk commented on #728
That is correct.

[2016-08-29 17:12] blink1073 commented on #801
Ha!  We must have missed one of the styles, care to take a crack at it?

[2016-08-29 17:12] charnpreetsingh185 commented on #801
Sure I'll take a look!

[2016-08-29 17:16] jasongrout commented on #728
I haven't tried, but I imagine that the fact that node is compiled and platform-specific makes it way out of scope to distribute with jupyterlab.

[2016-08-29 17:18] rgbkrk commented on #728
The reason I bring it up is that as I read this discussion, there's a standstill over whether you can require users to have node available.

[2016-08-29 17:19] rgbkrk commented on #728
To agree on some points: I think it's pretty likely that each plugin has to have a separate context for the built asset. In the current lens, that means a webpack bundle for each plugin. It's also the only way to be free of conflict while letting people be dynamic.

I'll have to ask about this deduping, and why it's necessary because it forces your hand into having to reload the page (hot module r

[2016-08-29 17:30] #57 closed

[2016-08-29 17:30] sccolbert commented on #728
Allowing duplicate instances of modules means that `instanceof` will break as soon as you start sharing common objects across plugin boundaries. These "bugs" take *hours* to debug if you haven't dealt with it before. I'm not sure that's feasible in the long-term.

[2016-08-29 17:32] ellisonbg commented on #696
@matt-bowers to help us focus on the core design questions of the tab interface, can you post some mockups with:

* The side panel and its tab bar only shown (don't should the surrounding UI)
* Black and white (to help us focus on the UX rather than visual design)
* Include some sort of UI for collapsing the side panel.

Thanks!

[2016-08-29 17:36] jasongrout commented on #728
FYI, that's in our design too - that's how widgets would work for example, as a plugin extending to the notebook plugin.

[2016-08-29 17:38] fperez commented on #228
Thanks for trying guys, I don't know what to say, other than "it happens here" :)  I'll keep updating this if I find new ways of making it happen, eventually I'm sure we'll nail it (or it will stop happening!)

[2016-08-29 17:44] ellisonbg commented on #689
Questions:

* Where to show notifications in the UI (let's start with a floating design, L/R bottom corner)?
* How notifications stack up if there are multiple ones active at a time?
* What is the content of notifications?
  - Let's have a base notification type that allows any content.
  - Then specific templates for basic things like warnings, errors, info, etc.

@eskirk how is the code/plugin s

[2016-08-29 17:50] ellisonbg commented on #694
Let's focus on the following:

* Assume that the dropdowns are just standard phosphor menus and menu items.
* Design in B&W for now.
* For button drop down focus on the style of the button and where the dropdown is relative to the button.
* Do we need different sizes of buttons?
* For Selection style, what is the styling of the unselected UI? Also, where is the dropdown positioned relative to that

[2016-08-29 17:51] ellisonbg commented on #694
For reference, here are some screenshots of the latest menu/menu item styling in jlab:

![screen shot 2016-08-29 at 10 49 55 am](https://cloud.githubusercontent.com/assets/27600/18061155/76abf2d2-6dd6-11e6-9ed9-35e996fb3828.png)

![screen shot 2016-08-29 at 10 50 03 am](https://cloud.githubusercontent.com/assets/27600/18061158/7aa65a58-6dd6-11e6-8737-391861241f54.png)

![screen shot 2016-08-29 at

[2016-08-29 17:51] ellisonbg commented on #694
We current design for menus has:

* `24px` menu item height
* `4px` L/R padding on each item
* Full width separators.

[2016-08-29 18:06] ellisonbg opened #804 "Design button styles for JupyterLab"
We have buttons, but no consistent styling approach for them. This PR is for tracking the design of our buttons. We will likely need different types:
- Icon only
- Text only
- Icon+text
- Dropdown button
- Flat
- Raised

[2016-08-29 18:07] ellisonbg commented on #694
In talking more with @faricacarroll and @matt-bowers we are going to break this up into two parts:

* General button styling (#804)
* Combining a button with a dropdown

[2016-08-29 18:09] ellisonbg commented on #804
We probably also need to cover:

* Different button sizes and their font sizes

[2016-08-29 18:17] minrk commented on #728
I don't think rebuilding the application bundle with extensions into a single bundle on every extension install/enable/uninstall is going to be tenable.

[2016-08-29 18:22] ellisonbg commented on #648
Looking really great! Some ideas to explore:

* Output should be aligned with the code of the input.
* Let's use a small drop shadow on the past in/out scrolling area to indicate it is lower than the white stuff.
* For the grey of the past in/out and the dividers, play around with different MD greys in the 50-300 range.
* To keep things simple let's use the notebook style toolbar here, but with (r

[2016-08-29 18:23] sccolbert commented on #728
We have a plan incoming. Stay tuned while we write it up...

[2016-08-29 18:23] ellisonbg commented on #648
@stsievert as far as where new outputs go when it is empty (top or bottom) I am not sure. Let's build it and play to see which makes more sense. I am open to both!

[2016-08-29 18:27] sccolbert commented on #648
This is looking pretty cool. I think we could even drop the green border for the input cell, since it clearly already stands out, and is the only cell with which interaction is possible.

[2016-08-29 18:30] jasongrout commented on #728
I think that is exactly what some usecases will want, for example, server admins serving up a single set of plugins as a hosted solution.

[2016-08-29 18:31] jasongrout commented on #648
an input() call might take focus, so there might be other cell *outputs* that have interaction.

[2016-08-29 18:32] Carreau commented on #641
Are the actions here ? I don't even find them in the command palette ?

[2016-08-29 18:34] willingc commented on #728
While the server admin use case is a reasonable one, end users will be unhappy with having to rebuild (and in many cases may not have the technical experience to do so).

[2016-08-29 18:39] sccolbert commented on #648
Fair enough. My intent was more "this is clearly the one-and-only cell which supports cell editing, i.e. you can't go back and modify history".

[2016-08-29 18:39] SylvainCorlay commented on #728
I also built the legacy notebook on a Raspberry PI and it took a few hours.
Pre-built browser-ready extension are also important for such platforms.

S.

On Aug 29, 2016 8:34 PM, "Carol Willing" <notifications@github.com> wrote:

[2016-08-29 18:40] sccolbert commented on #728
We think we have a solution which will handle all of these cases. We are in the process of writing it up. Will post here when done.

[2016-08-29 18:42] SylvainCorlay commented on #728
Chris, have you seen the discussion above about using multiple js contexts?
Extension would only have to be careful to not duplicate core packages.

S.

On Aug 29, 2016 8:40 PM, "Jason Grout" <notifications@github.com> wrote:

[2016-08-29 18:51] ellisonbg commented on #711
@spoorthyv could you post an update on this one?

[2016-08-29 18:52] jasongrout commented on #228
@fperez, what browser and os are you using? I also couldn't reproduce it (Chrome 52, OS X 10.10.5).

[2016-08-29 18:58] sccolbert commented on #728
I'm :-1: on multiple JS contexts. It's more complexity than is needed, and doesn't really solve the problem.

[2016-08-29 18:59] AbdealiJK commented on #787
Hm, I can't seem to be able to reproduce this.
Right now, firefox is still slower than chromium, but it does not take more than a second to move the tabs.
I think this may have been a one off occurrence on my laptop, maybe some indexing going on in the background using up resources (?)

Either way. Closing this.

[2016-08-29 18:59] #787 closed

[2016-08-29 19:02] rgbkrk commented on #728
Probably worth clarifying here: in this case, it's multiple build contexts and not multiple JS VMs.

[2016-08-29 19:05] jasongrout commented on #648
And I agree that setting off the cell padding color as white (as in the example), or having a thick line above the input cell, does a fine job of isolating the single input area that is active, so I agree that the green border is not needed.

[2016-08-29 19:10] ellisonbg commented on #710
Plan:

* Add `click` handler to notebook/widget
* Add method to handle that event to notebook widget
* Test for shift (abort otherwise)
* Find selected cell and clicked cell.
* Import NotebookActions
* Call NotebookActions.extend... multiple times

[2016-08-29 19:12] sccolbert commented on #728
Sure. But I don't see what that buys us, or hows it's different from independent modules, except that now there are also multiple global contexts. i.e. N-number of `Array` prototypes, for example.

[2016-08-29 19:22] rgbkrk commented on #728
How are there multiple Array prototypes? Something must be lost in translation here. It's all one global context here. These scripts are loaded separately.

I'm definitely not here to debate how JupyterLab is doing this. The reason I chimed in here is my interest in what's on the other side of the message spec because this is dictating the Jupyter frontend in general. I primarily want to collabora

[2016-08-29 19:24] #801 closed

[2016-08-29 19:29] sccolbert commented on #728
Each `<iframe>` you put on the page has it's own set of globals., so Array in frame 1 !== Array in frame 2. This is why `Array.isArray` exists, because `instanceof` breaks across frame contexts.

[2016-08-29 19:32] sccolbert commented on #728
@rgbkrk Ah okay.  I view that as a somewhat separate problem. What we're trying to address at the moment, is effectively how to ship all of the static JS (plugins) for a given instance of JLab app. Dynamically loading JS via cell execution will necessarily need a different mechanism, as far as I can see.

[2016-08-29 19:35] afshin commented on #228
FYI, I'm running:
Chrome version 52.0.2743.116 (64-bit)
OS X version 10.11.6 (15G31)

[2016-08-29 19:37] jasongrout commented on #641
I just looked too, and it looks like the actions are not implemented (probably in favor of cut/copy/paste, like @ellisonbg mentions). cf. https://github.com/jupyter/jupyterlab/blob/master/src/notebook/plugin.ts#L192 (where the commands are registered).

[2016-08-29 19:38] blink1073 commented on #728
# Summary
- We provide an npm-installable script for plugin authors which generates a bundle with semver-suffixed AMD module paths. The bundle is the equivalent of what the `r.js` optimizer would produce: a concatenation of defines. It will include all runtime dependencies needed by the bundle.
- The plugin author must have node installed in order to run this script. The tool which we use to gener

[2016-08-29 19:53] jasongrout commented on #728
If I have plugin A which requires library C, version 1, and plugin B which requires library C, version 2, then are we going to modify the `define` dependencies in A and B to include the version numbers (and load both copies of library C)?

[2016-08-29 19:53] sccolbert commented on #728
Yes. This is precisely why the import statements will be augmented with version info by the bundling tool.

[2016-08-29 19:57] jasongrout commented on #728
So this statement is a bit more nuanced than just "only one version...will ever be executed"

[2016-08-29 19:58] jasongrout commented on #728
(perhaps "only one copy of any specific version of a module will ever be executed")

[2016-08-29 19:59] sccolbert commented on #728
Yeah: "subject to semver compatiblity, only one copy of a module will ever be executed".

[2016-08-29 20:00] sccolbert commented on #728
or even "the minimal working set of modules..." In any case, I think these comments now make it clear what is meant :)

[2016-08-29 20:02] afshin commented on #728
Only one version for the entire subset of semantically versioned and compatible requires will be loaded. So if one extension wants `foo-lib @ ^1.1.1`, a second wants `foo-lib @ ^1.2.0` and a third wants `foo-lib @ ^1.3.5`, we will load `v1.3.5`.

But if a fourth extension wants `foo-lib @ ^2.0.0`, that will *also* be loaded.

[2016-08-29 20:05] sccolbert commented on #728
^ this. Thanks @afshin!

[2016-08-29 20:06] rgbkrk commented on #728
Thank you all, this discussion really helped my understanding and direction. I've been hoping for a generic approach to asset loading from the kernels, primarily to handle the widgets. Since the widgets set up a custom mimetype and are expected to be loaded on the page, they skirt the fundamental issue there. It just means that libraries need to adopt similar standards, as well as the follow on wi

[2016-08-29 20:09] jasongrout commented on #728
Or really, we'll load the maximum satisfied version that someone includes that matches `^1.3.5` (since our third library might be distributed with `1.3.7`...)

Remember that semver ranges can have upper bounds, be discontinuous, etc., so there can also be more complicated situations. If a fifth library wants `1.3.0-1.3.4`, but only bundles 1.3.2, then we'll also load `1.3.2`.

Luckily, there is a

[2016-08-29 20:21] fperez commented on #228
Same exact as @afshin :)

[2016-08-29 20:37] spoorthyv commented on #641
Here are my ux suggestions:
* When your mouse hovers over the drag area change the cursor style to 'move'
* When a cell is being dragged the original cell's content should turn grey. Not an overlay, but all the content itself should turn grey (not sure how feasible this is. Not too important either)
* Change the light grey dashed lines a solid blue line with a circle at the beginning (look at pic)

[2016-08-29 20:45] jasongrout commented on #728
I like how the proposal consolidates a number of the ideas we've been batting around. In essence, it's implementing a package cache like npmcdn, populated by the bundled packages, but using requirejs as the cache and AMD defines to request them, rather than url requests. The advantage with that is that in this pre-http2 world, server requests are minimized.

It would be far simpler to just ship th

[2016-08-29 20:48] sccolbert commented on #728
This is pretty much a non-starter because we would have to implement all of that logic in Python. Effectively reimplementing webpack. The approach we describe removes that hurdle.

[2016-08-29 20:49] sccolbert commented on #728
And we don't have to crawl a package structure on the server-side, parse package.json files, or do any sort of semver matching in Python.

[2016-08-29 20:50] jasongrout commented on #728
Definitely a non-starter if you reimplement in python. Instead, you'd either do it from the client side or use webpack if you happen to have node.

[2016-08-29 20:50] sccolbert commented on #728
You would have this same problem with webpack and NPM 3+. If someone breaks semver, all bets are off.

[2016-08-29 20:51] jasongrout commented on #728
Yep. No solution to this in sight, but still good to know where to look when encountering a subtle bug.

[2016-08-29 20:52] sccolbert commented on #728
Doing it client-side is also a non-starter IMO. That's an http request for each file, of which there could be thousands. We tried that with StealJS, and load times were horrendous.

[2016-08-29 20:53] jasongrout commented on #728
Hence my comments about us compromising in a pre-http2 world...

[2016-08-29 20:55] sccolbert commented on #728
If and when HTTP2 because a broadly implemented, reliable alternative, we can switch over. I think this proposal gives us the best chance of moving forward with something that works well, at the minor cost of shipping some dead code to the client.

[2016-08-29 20:59] jasongrout commented on #728
It sounds like we're debating, but I think in fact we are agreeing. It's a compromise that's important now, which is unfortunate as it involves writing a lot of code and solving part of the packaging problem.

[2016-08-29 21:03] sccolbert commented on #728
I think so too.

I don't think its actually much code to write. On the plugin author's machine, we can use webpack internally. On the server, we literally just have to concat files together. The custom JS loader should be simple to write given that the `semver` library exists.

[2016-08-29 21:14] jasongrout commented on #728
And even in a post-http2 world, there still is value in doing what bundling we can at plugin build time to avoid a server hitting the disk to fetch potentially thousands of files, even if the network issues are not as much of a concern.

[2016-08-29 21:17] JamiesHQ commented on #783
Thanks for looking into this. Seems to work fine in my browser (Chrome Version 52.0.2743.116 (64-bit)) on OS X 10.11.6 (15G31). I just can't drop it into new Keynote presentations anymore or get it to play on existing Keynote presentations.

[2016-08-29 21:22] SylvainCorlay commented on #728
I like the idea so far. An interesting version of this would be to allow certain dependencies to not be provided at all and fetched from a service like `npmcdn` with the semver suffixed paths.

Enabling this could be configurable via some trait attribute of the `LabApp`. It could make sense for widget libraries on public deployments like binder where you don't want to enable a ton of extensions by

[2016-08-29 21:25] jasongrout commented on #728
It may be better to use requirejs to convert commonjs dependency directories to amd modules (as an implementation detail). @blink1073 was running into issues before using webpack to expose all of the files in a library.

[2016-08-29 21:43] jasongrout commented on #728
npmcdn uses the format `packagename@semver-range/path/to/file`. Is that the path format you are envisioning?

[2016-08-29 21:51] sccolbert commented on #728
AFAIU webpack supports generating amd-style bundles, and also understands how to traverse a node_modules hierarcy (I don't believe r.js can do this).

[2016-08-29 21:52] sccolbert commented on #728
Yep. Something of that form which is yet-to-be-determined.

[2016-08-29 21:53] rgbkrk commented on #728
Yup, I've done that in production to help migrate a web app _off_ of require.js.

[2016-08-29 22:16] jasongrout commented on #728
AFAIU, the amd-style bundles webpack generates are just top-level package bundles, but it doesn't populate the require namespace with each module in the package (so you could `require('phosphor')`, but not `require('phosphor/lib/ui/widget')`). However, since we are already taking over the requirejs loading semantics on the client side, this may be a moot point - if we know how to get out a specifi

[2016-08-29 22:21] jasongrout commented on #728
(To make all of my comments clear, I think the proposal is a sound one, and nicely combines strengths of individual approaches we've experimented with or discussed, without the individual weaknesses that made each approach something we dreaded doing, so +1 on the overall approach.)

[2016-08-29 22:25] sccolbert commented on #728
This is incorrect. We can bundle *everything* for each plugin, but only load *one* of the N-copies included in the final bundle. As a trivial optimization, we can make the *core* plugin packages externals. This is the critical point about deduping on the client-side. This approach guarantees that the plugin will have all of it's dependencies, and won't have to rely on them being available as exter

[2016-08-29 22:37] #276 closed

[2016-08-29 22:49] dhirschfeld opened #806 "Drag & Drop Cells Between Notebooks"
I think this could be a pretty useful feature as JupyterLab allows you to have multiple notebooks open at the same time, arranged however you like it would be nice to be able to easily share code (cells) between them, including moving (drag & drop) and copying (ctrl-drag)

One thing I find in the current notebook is that I may go down a path which turns out to be sub-optimal so I want to go back t

[2016-08-29 22:53] dhirschfeld commented on #806
Just noticed that you can start a new notebook and switch its kernel to that of an existing notebook - that's pretty awesome! :)

[2016-08-29 22:55] faricacarroll commented on #648
Some iterations:

* Used a notebook toolbar and included items for run, stop, restart, clear all, kernel type, kernel status
   * The closest fontawesome icon I could find to represent clear all was an x inside a circle
* Removed the green border
* Scrolling area grey color is MD Grey 100 with dividers of MD Grey 300. Bottom input cell grey is MD Grey 50.
* Output cell is aligned with code of inpu

[2016-08-29 23:06] Carreau commented on #641
I would be in favor of exposing them, when we removed the Ctrl-j/k shortcuts we had a non negligible number of requests as of to why, and how to restore the shortcuts.

I understand that having them in the UI could crowed it, – and I agree – but I believe for power users having already existing action to bind to would be useful.

I also think that copy-pasting is harder with our cell concept, and

[2016-08-29 23:21] Carreau commented on #648
One related remarque with respect to toolbar vs floating toolbar which might be of interest for  long-time usage.

I'm seeing more and more (completly subjective measure) users who have touch screen; especially on windows (surface) and some chrome pixels (I think), and iPad + smart cover.

In particular they both hold screen by the side in tablet mode; and I believe having the floating toolbar (on

[2016-08-29 23:34] sccolbert commented on #648
@Carreau while I don't disagree, it would be great to have some survey data on the number of users wanting to use JLab with touch interaction, to ensure we focus on the right things.

[2016-08-29 23:35] sccolbert commented on #806
You can already drag an output cell to make it it's own panel in the dock area (click-drag in the Out[] indicator). It should be trivial for us to support this (if we don't already).

[2016-08-29 23:41] sccolbert commented on #787
@AbdealiJK Thanks for reporting this anyway! Firefox does seem to be quite a bit slower than other browsers when it comes to rearranging tabs. This should be mitigated in future release (I have a plan), but it's not super-high on my priority list given the level of effort the plan entails.

[2016-08-30 00:23] jasongrout commented on #728
We might be talking past each other, @sccolbert, or perhaps you're thinking of something like the r.js optimizer instead of webpack. IIRC, if a plugin A has dependencies B and C, and we have webpack bundle everything for A, then a require call in A for B is converted to a sync function call to the bundled version of B in A's bundle. You can't intercept that call to interject your one global copy.

[2016-08-30 00:37] jasongrout commented on #728
I was thinking that if we use webpack, we'll need to bundle each package separately from a generated configuration. Each package will have an externals configuration of *all* of its runtime dependencies. Each package will also generate a manifest mapping paths to modules in the package, as well as the package version number. Somehow we'll also mangle external paths to include the appropriate semve

[2016-08-30 00:41] sccolbert commented on #728
This is exactly what we are proposing to do. And AFAIK is possible using a custom requirejs loader.

[2016-08-30 00:41] jasongrout commented on #728
My point is you can't do that if webpack bundles the packages together into one bundle. It doesn't use require for things inside the bundle.

[2016-08-30 00:43] sccolbert commented on #728
We'll figure out a way to make it work :) But at least now our intent is clear.

[2016-08-30 00:50] jasongrout commented on #728
Those are great words we've heard a lot in the last few weeks :).

@blink1073 and I were starting to pursue something like this (sans the versioning, which we were punting on while we were exploring feasibility). We kept fighting webpack to tell it *not* to bundle so we could get at individual modules - good thing @blink1073 works out :).

On the other hand, the r.js bundler uses require through a

[2016-08-30 01:17] sccolbert commented on #728
AFAUI the problem with `r.js` bundler is that it doesn't understand `node_modules` semantics. I'd rather not reimplement that functionality if at all possible.

[2016-08-30 01:20] jasongrout commented on #728
The r.js bundler can load commonjs modules in a node_modules directory structure, IIRC: http://requirejs.org/docs/api.html#packages. I agree I'd rather not reimplement that too.

It does look like the plugin infrastructure of webpack goes pretty deep, so we might get away with writing a plugin or two for webpack.

[2016-08-30 01:22] dhirschfeld opened #807 "Yellow color in notebook tracebacks is almost invisible"
Trying out JupyterLab as a day-to-day replacement and I've noticed that tracebacks are pretty hard to read. Is it too early for this sort of feedback? I'm happy to continue using the Notebook until things settle down but am also happy to provide this type of feedback if its useful at the current stage of development?

As can be seen below:
![image](https://cloud.githubusercontent.com/assets/881019

[2016-08-30 01:22] sccolbert commented on #728
That doesn't seem to indicate understand `node_modules` semantics, which necessitates automatic upward traversal of the directory structure.

[2016-08-30 01:23] sccolbert commented on #728
That's what my gut is telling me. If the group is in general agreement with the *semantics* of our outlined approach, we (my team) can start sweating the details.

[2016-08-30 01:31] Carreau commented on #807
That's one long standing issue about the traceback, and its also in part due to IPython.

@takluyver and I have been wanted for a while to refactor the exception mechanism to have "Structured" traceback that can have a richer/more pleasant representation that may adapt to the UI instead of dumping them to text+ANSI escape sequence.

I've been recently reading on [error reporting](https://blog.rust

[2016-08-30 01:50] jasongrout commented on #728
+1. I think it's a good evolution of where we were headed (by process of elimination of a lot of dead ends that were gradually getting better, and helping us understand the problem :), so it's not controversial to me. It seems like a good next thing to try (and hopefully the last!).

[2016-08-30 02:44] stsievert commented on #648
@Carreau @sccolbert :+1: to mobile use. I've also heard concerns about JLab + mobile and will likely use on mobile in the future.

Hm, how 'bout the design below? In this design, the input cell always stays right below the output and moves as the output expands. This is similar to how every other console works.

![f126cd9c-6dff-11e6-805c-a69630f2e1f6](https://cloud.githubusercontent.com/assets/132

[2016-08-30 08:26] minrk commented on #728
I think it would be great if we could avoid using the r.js bundler, if we can. The more we learn about webpack, the better we can do at figuring out the best way to use it. I do think the semantics of @sccolbert's proposal sound sensible, and it would be really great if we can get away with a `jupyterlab-extension` webpack plugin that just does the right thing. If we can get as far as telling exte

[2016-08-30 09:25] AbdealiJK commented on #787
@sccolbert
If you have a bit of free time sometime, it would be a good idea to note down a few of the points you have in mind to speed it up on firefox.
Maybe I could try it out or atleast it would be good documentation when implemented in the future

[2016-08-30 09:26] AbdealiJK commented on #775
@blink1073 can this be closed then ?

[2016-08-30 11:26] blink1073 commented on #775
Sure.

[2016-08-30 11:26] #775 closed

[2016-08-30 11:39] blink1073 commented on #806
We are discussing cell drag n drop in #641.

[2016-08-30 11:50] blink1073 commented on #641
@Carreau, we store only the cell model when cut/pasting, so CodeMirror History is not currently handled.

[2016-08-30 12:05] blink1073 commented on #522
The rule is:

[code]

[2016-08-30 12:31] rsinha25 commented on #488
Hi, on adding the padding  to the notebook, it does work for certain screen sizes. But since it's a percentage, the height of the div changes accordingly on resizing causing the CSS to break. I can't think of a way around this. I tried it with a fixed padding of 200px as well, and it works fine on decreasing the width of the screen but again causes the CSS to break when you decrease the height.

[2016-08-30 12:48] afshin commented on #758
This was a byproduct of Less compilation. It is fixed here: https://github.com/jupyter/jupyterlab/pull/780

The width was actually supposed to be: `calc(100% - 18px);` and it was being mis-compiled before we switched to strict math mode.

[2016-08-30 12:48] #758 closed

[2016-08-30 12:49] #769 closed

[2016-08-30 13:21] blink1073 commented on #728
I did some more research last night.  The client end looks to be fairly straightforward, in that we use our own RequireJS loader (e.g. `'jupyterlab!phosphor^0.6.0/lib/ui/widget'`), that uses the `semver` package to find the right loaded module to hand back.
Getting WebPack to cooperate is still going to be tricky.  @jasongrout  is right in that there is still some friction in getting WebPack to ex

[2016-08-30 14:12] blink1073 commented on #641
See #809 for an implementation of the actions and command palette entries.  The previous notebook did not have a keybinding associated with these actions.  We already use Shift+Up for extending selection.

[2016-08-30 14:18] blink1073 commented on #728
The DllPlugin exposes all of its internal modules but also calls internal modules explicitly, which means we cannot use to to generate a shim for more than one library.

[2016-08-30 15:01] jasongrout commented on #728
I spent some time playing with it last night, and it easily gets us part of the way where we want to go (expose all of the modules in a package as amd modules in the global amd namespace), but between https://webpack.github.io/docs/comparison.html, and my own very initial reading into how to extend it to provide the versioning capabilities we want, I agree.

I think before, we (or more likely, I)

[2016-08-30 15:03] blink1073 commented on #728
I'm currently working on a WebPack Plugin :fingerscrossed:

[2016-08-30 16:28] minrk opened #810 "Review CSS standards like PostCSS/Myth/LESS/cssnext"
While some of us may be more familiar with LESS coming from the existing notebook, we should seriously consider using more common, standard CSS tooling such as [postcss](http://postcss.org) or [myth](http://www.myth.io), which more closely follow web standards and the prevailing trends in the javascript community before committing to LESS. This is especially important as we are planning to make th

[2016-08-30 16:28] minrk commented on #810
cc @ellisonbg

[2016-08-30 17:34] Carreau opened #812 "TextEditor / Notebook consistency."
Hi All,

I'm opening that mostly as a meta-issue regarding the consistency of editing experience between codecells and the editor.

- [ ] Tab key inconsitency:
  - Tab in notebook insert 4 spaces, (or complete)
   - Insert a tab character in the editor.

I'll edit further if necessary feel free to edit my comment as well.

[2016-08-30 17:49] Carreau opened #813 "TextEditor, allow scroll past EOF"
Most editor allow to scroll past the end of a file, for example vim:

![screen shot 2016-08-30 at 10 43 50](https://cloud.githubusercontent.com/assets/335567/18100180/b700fbb6-6e9e-11e6-9d26-a7b8fa099b0c.png)

Which is extremely useful to have code at programmer eye level.

The current text editor in JupyterLab does not seem to allow that when the text in the editor is longer than the editor windo

[2016-08-30 17:53] blink1073 commented on #728
Preliminary results:

I modified one of the example Webpack plugins and introspected the output at the `emit` stage.
Here is the plan based on those results:

- Loop over all of the modules that would be emitted by WebPack
- At this point they are CJS files with mangled __webpack_require__ imports
- Replace those imports with mangled imports that we get from the WebPack parsed module path and pack

[2016-08-30 18:10] ellisonbg commented on #648
@faricacarroll I think your last mock up is getting close. But I do think we want to keep the green border, as it communicates the same thing that it does in a notebook = cell is ready for you to type.

@stsievert I did think about not pinning the input area to the bottom of the panel, but I ran into the problem you noticed - way too much white space.

There are other benefits to having the input

[2016-08-30 18:42] blink1073 commented on #728
@minrk, I'm pretty sure a variant of the above could be used to generate the code for `jupyter/notebook`, it would use unmodified module paths and not require the RequireJS plugin.

[2016-08-30 18:51] matt-bowers commented on #689
After doing some research about Google's MD notification strategies (they call them [Snackbars & Toasts](https://material.google.com/components/snackbars-toasts.html)), I figured I'd mock up a few iterations of what global JupyterLab notifications could look like.

The notifications would appear in the bottom-left corner of the parent container (whether that is the panel or the whole window, which

[2016-08-30 19:04] alireza202 commented on #763
Ok, here's a strange thing. I tried running R again, it didn't work. I changed `/lab` to `/tree`, and it worked. And now it seems like it's working in `/lab` mode too.

[2016-08-30 19:35] stsievert commented on #648
@ellisonbg I can agree with the input being pinned to the bottom.

But I dislike how far my eye has to travel to see the output for what was just typed, even if that only occurs for the first couple input cells. I still advocate for the output being pinned to the bottom as in https://github.com/jupyter/jupyterlab/issues/648#issuecomment-242923367

With the input + output being pinned to the bottom

[2016-08-30 19:39] afshin commented on #648
@stsievert actually, keep in mind that there is a "banner" with the kernel and session information that will take up a bunch of vertical space ... so the gap might not be as large as you fear. This will be different for different kernels, but the IPython banner is quite big:

<img width="717" alt="banner" src="https://cloud.githubusercontent.com/assets/159529/18104184/c99ed376-6ef1-11e6-8f58-55e0b

[2016-08-30 20:28] faricacarroll commented on #648
I understand the concern @stsievert has about the large gap between input/output initially. However, I agree with @ellisonbg that for now, we can build up the original version and then user test to see how users feel about it.

Here's a mockup with the green border:

![desktop hd4](https://cloud.githubusercontent.com/assets/19479586/18105369/f8b566f4-6eb3-11e6-8cc3-2a7ae486c53e.png)

[2016-08-30 20:31] jasongrout commented on #813
See also #488, which is about adding it to consoles and notebooks.

[2016-08-30 20:42] sccolbert commented on #813
There appears to be a `scrollPastEnd` addon for CodeMirror:
https://github.com/codemirror/CodeMirror/blob/master/addon/scroll/scrollpastend.js

[2016-08-30 21:04] Carreau commented on #813
Ah thanks, I search the cat:Editor category and missed that one.

Indeed, I looked at the manual but missed the addons ! Nice find.

[2016-08-30 22:21] #789 closed

[2016-08-30 22:28] jasongrout commented on #648
Some points of data: the chrome console inputs are directly below outputs until you get to the bottom of the screen, and then of course they are against the output. On the other hand, the Firefox console input is at the bottom, but they echo the inputs above the outputs like in the mockup above.

[2016-08-30 22:36] jasongrout commented on #710
I think it might be better to make the extend function take a cell, instead of rerunning its logic for every cell in between the active and clicked cells.