[2019-12-13 14:08] zerline commented on #7571
@embray thanks so much for digging this all out!
Finally, inspired by @martinRenou's `tagsinput`, I changed a line in `./js/package.json` like this:
`"jupyterlab": {
    "extension": "lib/plugin"
  }
`
and it works.
Maybe the Jupyterlab installing & building process could be improved? We would benefit on some error message when one extension is faulty, instead of a blank screen.

[2019-12-13 14:24] vidartf commented on #7619
Ref prior art: [nbopen](https://github.com/takluyver/nbopen)

[2019-12-13 14:25] vidartf commented on #7619
Also relevant: https://github.com/jupyterlab/jupyterlab_app

[2019-12-13 16:40] jasongrout commented on #7623
For security, the contents manager is intentionally scoped to the server's working directory. In order to change that, you'd need to change the contents manager on the server, which would be a change and issue in the notebook: https://github.com/jupyter/notebook/

Alternatively, you could load your own contents manager, which could derive from the stock contents manager and remove the file scoping

[2019-12-13 16:45] jasongrout commented on #7624
+1 to having console be wrapped in a MainAreaWidget.

[2019-12-13 20:20] jasongrout opened #7625 "Ensure users don't use npm install"
Here is an interesting way to make sure users do not use `npm install`: https://github.com/nteract/nteract/pull/4764 (see also https://github.com/nteract/nteract/issues/4523#issuecomment-545644399).

I think it would be good defensive measures to add it in JLab as well. We should probably also add the minimum node version.

[2019-12-13 22:30] agoose77 opened #7626 "Log console changes focus for output views"
## Description
The log console changes focus when viewing outputs in a new view.

## Reproduce
1. Paste the following code into the first cell
[code]
2. Run the cell, and on the output: <kbd>Right Click</kbd> &rightarrow; <kbd>Create New View for Output</kbd>
3. Drag the slider in the newly created panel.
  * The output will not appear in the log panel until the original notebook regains focus.

[2019-12-13 22:32] jasongrout commented on #7626
Thanks. The log console switching magic definitely still needs polish.

CC @mbektasbbg

[2019-12-13 22:34] jasongrout commented on #7626
Feel free to submit a PR if you'd like. The code is at https://github.com/jupyterlab/jupyterlab/blob/8d773bf136876315e1ff6b0483c5d15307d3cce7/packages/logconsole-extension/src/index.tsx#L280 and https://github.com/jupyterlab/jupyterlab/blob/8d773bf136876315e1ff6b0483c5d15307d3cce7/packages/logconsole-extension/src/index.tsx#L259-L275

[2019-12-14 03:32] goudantongxue commented on #6865
what if  I want to save several shortcuts at one time? what should I do? I coded as follows, but it seems that the first shortcut doesn't work.

{
       "shortcuts": [
        {
        "command": "notebook:move-cell-down",
        "keys": [
        "Alt J"
        ],
        "selector": ".jp-Notebook:focus",
        "title": "Move Cells Down",
        "category": "Notebook Cell Operations"

[2019-12-14 03:48] telamonian commented on #6865
@goudantongxue You need to format it so that there's one `"shortcuts"` list with several entries:

[code]

[2019-12-14 03:48] #6865 closed

[2019-12-14 13:11] jlmanaloto opened #7627 "Workaround for saving notebooks using a command"
Jupyterlab doesn't seem to support saving a notebook when the following is run:

[code]

Are there any workaround in order to trigger a save after running a cell?

[2019-12-14 14:51] jasongrout commented on #7627
Correct, that javascript code is very specific to the classic notebook, and won't work in other frontends.

The way to do this in JupyterLab is to write a jupyterlab extension, which could listen to cell executions and trigger a save.

[2019-12-14 19:04] jasongrout opened #7629 "bump celltags to 1.0.0"
Cell tags was merged into core in #7407. We decided around the 1.0 release that anything in core should be at least 1.0.0 so that we could release patch versions of those libraries with patch versions of jlab. Hence, I think we should bump the version of celltags to at least 1.0.0.

[2019-12-14 20:54] jasongrout commented on #7523
I never thought we'd ship old versions of vega-lite indefinitely with core. Rather, we'd ship older versions as extensions, and as a one-time exception for jlab 1.0, we shipped vega 3. Anyways, it is a moot point since the old version of vega-lite does not support new Typescript versions, so we can't include it in core.

That is out of our (JLab's) hands. The Vega project has decided not to ship p

[2019-12-14 21:05] jasongrout commented on #7523
I strongly support the ideals above. If you want to support that sort of lifespan, you *have* to use (or at least convert to) formats that have that sort of lifespan, and right now my understanding from the vega team is that they do not plan on supporting the vega file format on that lifespan.  That means use archival static png, jpg, svg, etc. for the plots. That's why I think the strong story he

[2019-12-14 22:59] telamonian commented on #7629
Would it make sense to bump celltags straight to `2.0.0`? The more in lockstep all of the package versions are, the easier it is to get the versions right when defining dependencies in a `package.json`. For example, when writing an extension that targets a particular version of jlab core, I often find it pretty confusing to remember the special versioning rules for `@jupyterlab/coreutils` and `@ju

[2019-12-14 23:04] jasongrout commented on #7629
I'm okay with either one. Note that the minor versions are already off, and certainly patch numbers can be off.

[2019-12-14 23:45] peter-ch opened #7631 "jupyter-lab build isn't working on Windows"
On Windows 10 x64, I HAVE nodejs 10 installed (I reinstalled it TWICE) and I keep getting this:

 jupyter-lab build
[LabBuildApp] JupyterLab 1.2.4
[LabBuildApp] Building in c:\python36\share\jupyter\lab
An error occured.
ValueError: Please install nodejs 5+ and npm before continuing installation. nodejs may be installed using conda or directly from the nodejs website.
See the log file for details:

[2019-12-14 23:49] jasongrout commented on #7631
Apparently it's not finding the node you installed. Is node accessible from the command prompt where you are building jupyterlab?

[2019-12-14 23:49] jasongrout commented on #7631
what happens when you type `node` at the command prompt where you are building jupyterlab?

[2019-12-14 23:53] peter-ch commented on #7631
The paths are correct, "node" works. "npm" also works.

[2019-12-14 23:58] jasongrout commented on #7631
What does it say in that log file it references for details? Any clues there?

[2019-12-14 23:58] telamonian commented on #7629
I'll put a PR for this on my todo list

[2019-12-14 23:59] peter-ch commented on #7631
Here are the contents of the log file:

[LabBuildApp] Building in c:\python36\share\jupyter\lab
[LabBuildApp] NodeJS was not found. Yarn user configuration is ignored.
[LabBuildApp] Traceback (most recent call last):

[LabBuildApp]   File "c:\python36\lib\site-packages\jupyterlab\debuglog.py", line 47, in debug_logging
    yield

[LabBuildApp]   File "c:\python36\lib\site-packages\jupyterlab\labap

[2019-12-15 00:54] jasongrout commented on #7631
Does `python -c "from jupyterlab_server.process import which; print(which('node'))"` point to the path you expect it to point to?

[2019-12-15 00:57] peter-ch commented on #7631
This is the output I got after executing it:

 python -c "from jupyterlab_server.process import which; print(which('node'))"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "C:\Python36\lib\site-packages\jupyterlab_server\process.py", line 59, in which
    raise ValueError(msg)
ValueError: Please install nodejs 5+ and npm before continuing installation. nodejs may

[2019-12-15 01:19] jasongrout commented on #7631
How about the stock python version of which?

`python -c "import shutil; print(shutil.which('node'))"`

[2019-12-15 01:22] peter-ch commented on #7631
$ python -c "import shutil; print(shutil.which('node'))"
None

[2019-12-15 01:25] jasongrout commented on #7631
Yeah, python isn't seeing your node binary. Are you sure it is in the PATH?

[2019-12-15 01:28] peter-ch commented on #7631
Well, at the same command prompt "node" works, I can confirm it's in the PATH variable (at least the Windows way, I'm not sure how to attach a screenshot but I can tell you it's totally there ( C:\Program Files\nodejs\ is the last entry).

[2019-12-15 01:31] peter-ch commented on #7631
$ echo $PATH
/c/Users/spook/bin:/mingw64/bin:/usr/local/bin:/usr/bin:/bin:/mingw64/bin:/usr/bin:/c/Users/spook/bin:/c/Windows/system32:/c/Windows:/c/Windows/System32/Wbem:/c/Windows/System32/WindowsPowerShell/v1.0:/c/Windows/System32/OpenSSH:/c/Program Files (x86)/NVIDIA Corporation/PhysX/Common:/c/Program Files/NVIDIA Corporation/NVIDIA NvDLISR:/cmd:/c/Boost/lib:/c/MinGW/x86_64-w64-mingw32/bin:/c

[2019-12-15 01:32] jasongrout commented on #7631
oh, it looks like you are using cygwin or something? Does it work at the windows shell? I think python does some tricks there with windows and looking for nodejs.exe, etc.

[2019-12-15 01:35] peter-ch commented on #7631
I have MinGW installed and I compile things with it, and things work overall. I haven't tried the Windows shell though, I use Git Bash as it provides handy Unix shell commands for work. Could this be the issue? But it worked previously there. I don't know what happened, it suddenly stopped working. Plus, this command no longer works: "jupyter lab". I have to do "jupyter-lab" now instead.

[2019-12-15 01:36] jasongrout commented on #7631
Great questions, and out of my experience now. I know I've had issues with trying to run things from the git bash shell, and I try to run build steps from the windows shell now.

[2019-12-15 01:37] peter-ch commented on #7631
FYI the same thing happened in the Windows command prompt as well, I just tried.

[2019-12-15 01:39] jasongrout commented on #7631
And `echo %PATH%` shows the directory with nodejs.exe in it? Running node from that windows prompt works fine?

[2019-12-15 01:40] peter-ch commented on #7631
It doesn't ruin all work though, I mean I can still access jupyterlab via "jupyter-lab" and things generally work, I just can't run the build anymore, and with that all extensions I'd like to add.

[2019-12-15 01:41] peter-ch commented on #7631
Yes, echo %PATH% shows this:

C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\Windows\System32\OpenSSH\;C:\Program Files (x86)\NVIDIA Corporation\PhysX\Common;C:\Program Files\NVIDIA Corporation\NVIDIA NvDLISR;C:\Program Files\Git\cmd;C:\Boost\lib;C:\MinGW\x86_64-w64-mingw32\bin;C:\MinGW\x86_64-w64-mingw32\lib;C:\Python36\DLLs;C:\Python36;C:\M

[2019-12-15 01:49] jasongrout commented on #7631
And this works too? `node` at the windows prompt?

[2019-12-15 01:51] peter-ch commented on #7631
Yes. I do nothing else, I just enter "cmd" in the start menu, I'm in the shell, I enter "node" and I get this:

so I'm in, right? I assume it means it works.

[2019-12-15 01:51] peter-ch commented on #7631
Sorry, this must have been formatted out, it's the "greater than" character.

[2019-12-15 02:03] jasongrout commented on #7631
I think so.

I think at this point someone more experienced with Windows is going to have to chime in. If you figure it out from google or stackexchange or something, please post back here so we can all learn.

[2019-12-15 02:10] peter-ch commented on #7631
I'm afraid I'm coming here after already doing Google searches on it and found nothing helpful. I only submit bug reports when I exhaust the other options.

[2019-12-15 03:10] etjkai opened #7632 "JupyterLab does not start with a Kernel?"
## Description

I am unable to get JupyterLab's Kernel to be connected to Python, even though it did so a couple of hours back.

https://i.imgur.com/q1kaCHD.png

## Reproduce

1. Go to cmd
2. Type in "jupyter lab"

## Expected behavior

JupyterLab does not start with Kernel. Even trying to select Python 3 does not work.

## Context

- Operating System and version: Windows 10
- Browser and version:

[2019-12-15 05:53] telamonian commented on #7632
You don't have a JupyterLab problem, you have a Python problem. The real issue is buried in the command line output you posted:

So there's something wrong with one of your Python packages, `zmq`. It seems to be missing some pieces.

My advice would be to try uninstalling and reinstalling the `zmq` package. It looks like you're using conda to manage your Python install, which I'm not at all famili

[2019-12-16 05:00] jlmanaloto commented on #7627
@jasongrout alright thanks!

[2019-12-16 05:00] #7627 closed

[2019-12-16 14:57] jasongrout commented on #7631
Thanks, we appreciate that! Hopefully someone more experienced with Windows node installations can chime in.

[2019-12-16 15:20] roachsinai opened #7634 "Jupyterlab don't shutdown gpu process after quit."
## Description

I'm using `bumblebee` to control nvidia driver. And use `optirun jupyter lab` to launce Jupyterlab.

I use a script to show the temperature of `GPU` in KDE menu bar when there is a program using it. The script works like below:

[code]

If some program using GPU, there will be a `nvidia` under `/proc/driver`. When the program exit, the `nvidia` will also remove.

---

There a probl

[2019-12-16 15:51] reza1615 opened #7635 "More details to the File Browser"
Would you please add these columns as an optional column to the file browser?
File size
File's Rights (like permission: 7777)

[2019-12-16 16:14] jasongrout commented on #7635
Thanks! We are tracking adding extra information over at https://github.com/jupyterlab/jupyterlab/issues/2167. We'd love your comments there (or even better, an offer to help fix it!).

[2019-12-16 16:14] #7635 closed

[2019-12-16 17:37] #6799 closed

[2019-12-16 21:35] wesinator opened #7637 "Start at bottom of notebook cells"
## Description

Currently, notebooks are always opened with the focus at the top where the first (oldest) cell is

Why not focus to the bottom of a notebook when opened, where the last active cell is by default ?

## Reproduce

1. Start jupyter lab
2. Open existing notebook with lots of cells that requires scrolling

## Expected behavior

notebook opens at the bottom, where the last recently used

[2019-12-16 21:38] Trezorro commented on #3692
Adding to the suggestions for inspecting views of pandas dataframes in a movable side window, I'm very much thinking about the RStudio plotting workflow and how beneficial that would be in data exploration.

How might this specific functionality of plotting to a separate side window be implemented best?
Should it be added as an extra option for the `%matplotlib` magic? Or should `plt.plot()` accep

[2019-12-17 05:40] jasongrout opened #7639 "Extract services typings and validation to a separate library"
I think we ought to extract the typings and validation functions from the services package into a separate library that can be more widely used than the services package to type and validate messages with kernels and the rest API.

- [ ] Make validation assertion functions more robust, and the signatures not assume so much

[2019-12-17 07:29] jasongrout opened #7640 "Kernel gateway `envs` parameter"
In refactoring the services package in #7252, I came across the envs parameter added in #7499. Right now, that parameter is not consistently used across sessions and other places kernels can be started.

I'm trying to figure out:

1. Exactly what it is. I can't find it in any rest api spec, and the closest mention I can find in the gateway documentation is https://jupyter-enterprise-gateway.readth

[2019-12-17 08:49] borremosch commented on #7640
Hi @jasongrout, I am using the @jupyterlab/services package to talk to an instance of Jupyter Enterprise Gateway. I am using Enterprise Gateway on top of Kubernetes and I needed to dynamically inject some values into the kernel pod specs. This is supported — albeit very poorly documented — in Enterprise Gateway by sending an env variable in the request body, as described here: https://jupyter-ente

[2019-12-17 08:57] beverly0005 commented on #2065
I finally figured out an easy way to circumvent the internet issue and install jupyter notebook extension offline.

1. First, download all the necessary packages to a flash drive.
- For jupyter notebook extension: download the zipped file from https://github.com/ipython-contrib/jupyter_contrib_nbextensions/tarball/master
(give you a zipped file called "jupyter_nbextensions_configurator-master")
-

[2019-12-17 09:02] jasongrout commented on #7640
Are you just starting plain kernels, or are you using sessions, etc.?

[2019-12-17 10:09] borremosch commented on #7640
I am using plain kernels

[2019-12-17 12:34] jasongrout commented on #7640
Thanks.

I've modified my PR at #7252 to simply json stringify any options passed in to the kernel creation routine (which makes it consistent with how we were doing sessions as well), so I think you should be able to pass in any extra parameters you want now.

[2019-12-17 14:32] michaelharms commented on #5615
I have the same problem currently and found a workaround for myself,
maybe it helps other people here as well.

I use the StreamPlayer class from music21 (requires pygame to be installed):
https://web.mit.edu/music21/doc/moduleReference/moduleMidiRealtime.html

[code]

This does not show a player with controls, but plays the midi upon cell execution.

[2019-12-17 15:33] #7629 closed

[2019-12-17 15:36] BlueRhino commented on #3275
I have been paying attention to this issue. Is there any alternative to right-clicking?

[2019-12-17 15:54] blink1073 commented on #7640
Stringifying extra options sound good to me.

[2019-12-17 16:47] kevin-bates commented on #7640
Support for the `env:` stanza in the request body has been present in Kernel Gateway server since before I started working on the Gateways a few years ago.  Enterprise Gateway has extended its use by automatically propagating any variables prefixed with `KERNEL_` to the kernel launch - as @jasongrout points out in his reference.

Regarding the poor documentation, Kubernetes is just one resource ma

[2019-12-17 18:38] borremosch commented on #7640
All file management is done by our own code. We are not using notebooks in a traditional sense, but instead have built a tailor-made hybrid UI that resides somewhere inbetween a Git file browser and a Jupyter notebook. We are using the `jupyterlabs/services` package to communicate with Enterprise Gateway, but are not using any other JupyterLab or Jupyter Notebook components.

I realize I could hav

[2019-12-17 18:57] kevin-bates commented on #7640
Very interesting - thank you for your response.  I didn't realize portions of lab could be used that way (but then again, I stay away from the client side of things :smile:).  I'm curious to hear more about your application.  What does the services package give you that using the REST api directly doesn't?

I've also opened [this issue](https://github.com/jupyter/enterprise_gateway/issues/761) rel

[2019-12-17 19:28] tgeorgeux commented on #6538
Here's a design for a context menu option and a modal window.

Here's a design for this, let me know if there are questions or input.

![Improved](https://user-images.githubusercontent.com/22109376/71027546-5039db00-20c0-11ea-8eeb-ce8a62182845.png)

![Modal](https://user-images.githubusercontent.com/22109376/71027569-59c34300-20c0-11ea-8e4b-f39de00b86aa.png)

[2019-12-17 19:41] #7301 closed

[2019-12-17 20:55] jasongrout commented on #7640
I'm really curious about this too.

In #7252, I factored out the REST api parts of services so they can basically be used standalone, so creating a kernel using the REST api is just a few lines. Do you also use the websocket connection logic from services?

[2019-12-17 23:32] davidanthoff commented on #7523
It seems that nteract is shipping all previous versions of vega and vega-lite out-of-the box, via the https://github.com/nteract/any-vega package. Could jlab maybe utilize that package as well? Presumably if you were to just use that package, then the TS issue would be moot because that package is just pure JS?

But I should also say that from my point of view it would be higher priority that vega

[2019-12-18 00:46] jasongrout commented on #7523
Interesting!

+1 definitely to shipping vega-lite 4.

[2019-12-18 04:50] jasongrout opened #7641 "Launcher losing focus when creating new activity"
## Description

On current master, a launcher will not stay focused when you click one of the activity icons.

## Reproduce

1. Open a launcher
2. Open a second launcher
3. In the second launcher, click on the notebook icon to make a new notebook
4. Observe that the focus shifts to the first launcher, not the new notebook.

## Expected behavior

I expect the new notebook to retain focus in the abo

[2019-12-18 05:11] jasongrout commented on #7641
I just tried it out, and yes, it is something in #7349. I see the issue in 8d773bf, the merge commit from that PR, but I don't see the issue in that commit's parent, 92913c4f238e0aeb7e081d7309a9d7fd1db30304

CC @mbektasbbg

[2019-12-18 06:42] isunix commented on #5274
Anyone knows how to disable the download function for jupyterlab, not jupyter notebook? We really need this function to be removed in our development environment.

[2019-12-18 06:52] jasongrout commented on #5274
Are you just wanting to disable the right-click menu option? Or do you want to actually disable downloading? The former can be straightforward. The latter will need notebook server changes and will likely be quite tricky to do.

[2019-12-18 06:55] jasongrout commented on #5274
To elaborate, as @vidartf points out, unless there are notebook server changes , the user can easily go to a special url and download any file.

[2019-12-18 08:42] n-a-sz commented on #7623
Ok, thanks for the answer!
I understand that this is a security concern. And I also wanted to avoid the server extension, so using a symlink serves well for my case. I have created it with a starting dot, so it is hidden from the user.

[2019-12-18 08:42] #7623 closed

[2019-12-18 08:50] borremosch commented on #7640
I believe so yes. I leave most of the connection handling up to `@jupyterlab/services`. I also use `Kernel.iopubMessage.connect()` and `Kernel.statusChanged.connect()`, which I think use websockets. Other than that, using this package saved me the trouble of writing my own typed wrapper for the REST api.

The difference in perspective is interesting. The choice to use this package was very obvious

[2019-12-18 11:28] jtpio opened #7643 "Notebook Tools panel lifecycle"
When the notebook widget has the focus and is then disposed, the notebook tools are removed from the left area:

![notebook-tools-lifecycle](https://user-images.githubusercontent.com/591645/71081942-7d55be80-2190-11ea-9745-8187b062898c.gif)

But when the notebook widget doesn't have the focus and is then disposed, they are not removed:

![notebook-tools-lifecycle2](https://user-images.githubuserco

[2019-12-18 12:06] SimonBiggs opened #7644 "A way to limit kernel discovery from the JupyterLab server configuration"
I am attempting to create a self contained installation of JupyterLab that also brings with it its entire Python environment:

https://github.com/pymedphys/pymedphys/tree/8fd978e6ae867e43751718ab9e658570a0a5d43d/jupyterlab-bundling

I don't want the JupyterLab instance to detect kernels on the local machine, instead I only want it to detect kernels within the embedded Python installation.

Is this

[2019-12-18 12:07] KsavinN commented on #7624
Hi, I will try resolve this :)

[2019-12-18 12:07] afshin commented on #7624
Thanks!

[2019-12-18 15:15] mscuthbert commented on #5615
Thanks all!  I'm the principal developer of `music21` but I'm afraid I'm not going to have time to add significant new support until July 2020 because of another position at MIT taking my time till then.  I'm very happy however to take a fully featured and tested PR that I can just merge.

I've seen some much better music21 to MIDI implementations recently -- for instance at https://orbichord.gith

[2019-12-18 15:30] bobmayuze commented on #7591
I've encountered a similar problem and got resolved by switching the autocomplete module from jedi to the native one from ipython. Try run `pip uninstall jedi`

[2019-12-18 15:36] ojsquire commented on #6127
Thanks, this worked for me in Chrome (Version 79.0.3945.79 (Official Build) (64-bit)). I am on a Mac, so `Cmd-[` dedents, `Cmd-]` indents in a python script and a notebook.

[2019-12-18 15:42] lresende opened #7646 "Simplify selecting no kernel when notebook kernel is not available"
## Description

When a notebook is open, and the specified notebook kernel is not available, JupyterLab provides a dialog box to enable the user to select a new kernel to be used. Having said that, there are times we just want to open the notebook to check its contents without a kernel and the current user experience requires many steps for you to accomplish the `no kernel` selection.

![jupyterla

[2019-12-18 16:05] jasongrout commented on #7640
We definitely the services package to be used outside of JupyterLab (there are at least a few other people using it too that we know of). What I didn't anticipate is someone using it with something other than the notebook server.

[2019-12-18 16:07] blink1073 commented on #7644
Hi @SimonBiggs!  You can do this by overriding the `kernel_spec_manager_class` of the application, similar to what `nb_conda_kernels` [does](https://github.com/Anaconda-Platform/nb_conda_kernels/blob/master/nb_conda_kernels/install.py).

[2019-12-18 16:09] jasongrout commented on #7646
I think that makes UX sense.

[2019-12-18 16:15] jasongrout commented on #7644
To be clear about what "application" is referring to, this is overriding this class on the server side (in python), not the browser side Javascript classes.

[2019-12-18 16:17] KsavinN opened #7648 "Not change currentWidget for console properly"
## Description

during create another console and switch back current widget it still points to the new console, not focused.

## Reproduce
![consoleIssue](https://user-images.githubusercontent.com/34033913/71103297-2bc22980-21ba-11ea-8b3b-99ec031361f3.gif)

[2019-12-18 16:19] jasongrout commented on #7648
Perhaps this is related to #7641?

[2019-12-18 16:22] jasongrout commented on #7648
I also wonder if perhaps this might be fixed by https://github.com/jupyterlab/jupyterlab/pull/7645 - wrapping the console in a main area widget takes care of some standardized focusing behaviors.

[2019-12-18 16:23] jasongrout commented on #7648
Your screenshot is cut off so we can't see the indicator on the tab. Is the blue line indicator on the tab switching appropriately?

[2019-12-18 16:25] #7194 closed

[2019-12-18 17:00] gessha opened #7649 "Nested format string variables cause extra tab(s) on next line in current cell"
Jupyter version: 4.4.0
Jupyter lab version: 0.35.4

Issue: when I use nested variables in a format string, there's an extra tab(s) added to the next line of the cell instead of matching the tab space of the previous line.

Code reproduction example:
[code]

instead of the desired output:
[code]
I tried searching for proper issue formatting but I couldn't find a template and I also searched for thi

[2019-12-18 17:40] KsavinN commented on #7648
![anotherGif](https://user-images.githubusercontent.com/34033913/71109441-7c8b4f80-21c5-11ea-9ed1-f11c44965b2c.gif)

As you @jasongrout mention its related with #7645. Could you or someone else assing me to this issue, cause I don't have privileges. And I hope that I will try to fix that as fast as I can :)

[2019-12-18 17:47] jasongrout commented on #7648
Thanks for working on this!

[2019-12-18 19:53] #7646 closed

[2019-12-18 20:42] SimonBiggs commented on #7644
Awesome :) thanks @blink1073

Yup, heavily based on https://github.com/jupyterlab/jupyterlab/tree/master/examples/app. Thanks @jasongrout

[2019-12-18 20:59] aliavni commented on #5943
[code]

before jupyter lab build solved the issue for me

[2019-12-18 21:04] blink1073 opened #7652 "Pass Kernel Metadata to Launcher"
## Description
We should allow kernel optional metadata in `ILauncher.IItem` and it to the launcher in the console and notebook extensions for implementations of the launcher that can utilize the metadata in rendering the launcher.

[2019-12-18 21:17] jtpio commented on #7643
This is something that is relevant to other third-party extensions that rely on the `tracker.currentChanged` signal.

After some investigation it looks like the `pool.current` is set to `null` here:

https://github.com/jupyterlab/jupyterlab/blob/6461d0bb6e51b44a533e96177de85f769995f2c8/packages/apputils/src/widgettracker.ts#L130

But in the setter since `obj` is `null`, the `currentChanged` signal

[2019-12-18 21:24] SimonBiggs commented on #7644
For future readers here is a link to the configuration option within the NotebookApp:

https://github.com/jupyter/notebook/blob/d0a74353e62ad5a5b0141f831c5aa59f8c2933bb/notebook/notebookapp.py#L1198-L1208

[2019-12-18 21:27] jtpio commented on #7643
Unless there is another way to detect when `tracker.size` becomes `0`?

[2019-12-18 21:53] tzuni commented on #6944
Also interested in chipping in on this or at least watching eagerly from the sidelines!

[2019-12-18 22:04] jasongrout commented on #7643
+1 to having the signal be a widget OR null, and having it trigger when it goes to null. I think that is really important (some people may use the currentWidget signal to switch things off of the current widget, and they won't know when that widget goes away if the signal is not emitted when the widget becomes null).

[2019-12-18 22:07] #7238 closed

[2019-12-18 22:07] #7474 closed

[2019-12-18 23:18] #7523 closed

[2019-12-18 23:36] telamonian opened #7655 "inconsistent versioning of React and related packages"
## Description

Currently, our handling of React versioning is a little... weird. Here's how we're currently versioning `react`, `react-dom`, and the related `@types` packages in core:

[code]

Though guidance is a little thin, so far as I can tell the best practice would be for the [minor version of all these packages to match](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/6c9d016e6916e

[2019-12-18 23:49] euanmacinnes commented on #7081
I keep experiencing this issue as well, over a WiFi connection that has intermittent short signal drops, and I almost always need to restart the notebook / kernel, even though, as stated, the kernel session is still there in the background.

[2019-12-19 01:23] devstein opened #7656 "How to Move a File Between Directories without Dragging or Cut/Paste"
## Description

How do I move a file between directories without dragging it or cut and pasting it? Is it possible to rename its path or a similiar `mv` type command?

## Expected behavior

Move files between directories similar to the old Jupyter `rename` feature

[2019-12-19 02:35] isunix commented on #5274
@jasongrout  Disable the right-click menu option will be OK for me now? Can you please show me how to do so? I really need this function.

[2019-12-19 02:40] isunix commented on #5274
@jasongrout to add more info, I know how to disable the download function on the ui for jupyter notebook, but I can not find the way to do this on jupyterlab.

[2019-12-19 10:51] vidartf commented on #7624
Closed by lined PR.

[2019-12-19 10:51] #7624 closed

[2019-12-19 14:44] BlueCog opened #7660 "RuntimeError: npm dependencies failed to install - Proxy & Private npm registry issues"
##  Environment

##  Description

When trying to activate a JupyterLab extension, for example jupyterlab-manager by running the following command:

`jupyter labextension install '@jupyter-widgets/jupyterlab-manager@^1.1'`

I'm getting a `RuntimeError: npm dependencies failed to install` error.

## Reproduce

Reproducing is a bit complex due our environment. But i'll try to explain:

Environment: O

[2019-12-19 16:56] felipebmendes opened #7662 "Not reinstall extension on `jupyter lab build`"
Hey folks,

I’m running jupyter lab with a custom extension on a docker container.

This extension is stored in a private npm registry and while building the docker image a `.npmrc` file with the auth token is copied to a temp folder so the extension can be installed. Once the extension is installed, the `.npmrc` is deleted so users don’t have access to the auth token.

The problem is that if user

[2019-12-19 18:11] bentkibler opened #7663 "MemoryUsage statusbar feature doesn't understand Prometheus metrics shape"
I'm trying to get aggregate memory usage reporting within JupyterLab, using as many built-in features as possible.  The goal is to alert users when their total memory usage is reaching the limit of their docker container (spawned by JupyterHub).

For legacy notebooks (not in lab), we're using Tommassino's excellent [fork of nbresuse](https://github.com/yuvipanda/nbresuse/pull/22), which displays c

[2019-12-19 21:01] blink1073 opened #7664 "Add a Property Inspector"
## Description
Add a property inspector that is used to display properties about a widget.  Currently this will be used by the notebook cell tools, but can be used by any main area widget to display additional properties about the widget.

Typically a property inspector would be on the right hand side (like in Photoshop), but we will keep it on the left side for now, since there is currently nothi

[2019-12-19 21:25] #7643 closed

[2019-12-19 22:26] blink1073 commented on #7641
I don't think we can disambiguate.  The launcher opens another item, which activates the new widget, and then closes itself.
At this point, a previous tab is selected by the dock panel, which causes the logic in #7349 to dispatch a second activation, which is in a race condition with the first one (but most likely comes second).  We can't just add a `requestAnimationFrame`, because the activation

[2019-12-19 22:38] mlucool commented on #7620
While this does not run a specific cell (not good for the dashboard case), ipython startup files can solve some problems:
[code]

If you are worried about imports, [pyflyby ](https://github.com/pyflyby/pyflyby) is GREAT.

[2019-12-20 11:10] JonAnCla opened #7667 "Scroll to selected cell when keyboard up/down pressed - no longer working?"
Hi there guys!  When not in cell content editing mode, it used to be the case that if you press keyboard up/down then the cell above/below becomes selected *and* if the newly-selected cell is off screen the browser would scroll to view it.

Recently (I'm on v1.2.4 after upgrading from 1.2.1, I think) the browser scrolling behaviour seems to have stopped - but I really liked that behaviour for navi

[2019-12-20 15:08] kklocker opened #7668 "Failed loading settings - display error ?"
Hi, i have encountered a problem when installing jupyterlab in conda envs. The jupyter lab does not display properly (see screenshot), but the notebooks do.

In short, this is what the jupyter lab window looks like in the browser:

![image](https://user-images.githubusercontent.com/25065744/71262412-e92a5980-233f-11ea-99f3-aeef2b5e6b29.png)

`conda install node` fixes the error message in the cons

[2019-12-20 15:18] vishalgp opened #7669 "Not able to Open Jupyter Lab on Windows 7 32 bit system (Win 216 Error)"
I have installed anaconda 32 bit with python 3.7. when i launch jupyterlab i get the following error

Error executing Jupyter command 'lab': [WinError 216] This version of %1 is not compatible with the version of Windows you're running. Check your computer's system information to see whether you need a x86 (32-bit) or x64 (64-bit) version of the program, and then contact the software publisher

he

[2019-12-20 16:07] jasongrout commented on #7641
In the worst case, if we can't find a good compromise, I'd say we revert #7349 before 2.0.

[2019-12-20 16:14] blink1073 commented on #7641
Agreed.

[2019-12-20 17:00] KrishnaKumarHariprasannan opened #7670 "Show output's context menu and prevent lab's global context menu"
## Description

For mime renderers that return react components, its not possible to prevent lab's global context menu _and_ also show a custom context menu.

Jupyterlab's [docs](https://github.com/jupyterlab/jupyterlab/blob/master/docs/source/developer/extension_dev.rst#context-menus) on context menus suggests users to preempt the global context menu at the widget layer. But this does not work as

[2019-12-20 18:37] blink1073 opened #7671 "Code editor refresh is brittle"
## Description
The logic around when to refresh the code editor is brittle.  I tested this by opening the same set of static notebook contents in three main area widgets.  The last one populated successfully shows its input areas, but the other two did not.  I have a fix coming.

[2019-12-20 19:58] #7640 closed

[2019-12-20 20:53] tgeorgeux commented on #5839
A few icon ideas for "add markdown cell."
![markdown 4](https://user-images.githubusercontent.com/22109376/71291487-afe5ef80-2327-11ea-9c8e-ae99fa54b7c5.png)
![markdown 5](https://user-images.githubusercontent.com/22109376/71291488-afe5ef80-2327-11ea-8632-a119394ef8ea.png)
![markdown 6](https://user-images.githubusercontent.com/22109376/71291489-afe5ef80-2327-11ea-9cfc-d0b20bca233b.png)

[2019-12-20 21:28] #7655 closed

[2019-12-20 22:28] scottwsides commented on #7620
mlucool: thanks for the suggestion.

[2019-12-21 07:07] mbektasbbg commented on #7641
I have been debugging this, looks pretty tricky. there is a race condition as @blink1073 mentioned. if we can disable activation logic in #7349 conditionally (which should be possible by using a toggle flag) then this case can be fixed, but we need to handle all other similar cases too.

[2019-12-21 09:33] frankyan commented on #7608
The same problem.

[2019-12-21 12:01] jasongrout opened #7675 "Upgrade node and revert ensure-max-old-space"
As discussed in https://github.com/jupyterlab/jupyterlab/issues/7175, node 12 is now LTS, so we can move to it and revert https://github.com/jupyterlab/jupyterlab/pull/7201

[2019-12-21 12:16] kasper93 commented on #6727
I have updated notebook on my system and it stop working completely. After quick research it turned out that you are trying to set hard limit for file descriptor count... in this commit https://github.com/jupyter/notebook/commit/5acbc155b930a79240c8584cd2e9d65e35041730 Hard limit can only be set by privileged user (with CAP_SYS_RESOURCE), so yeah it completely fails on system where hard limit is <

[2019-12-21 13:03] jasongrout commented on #6727
This was fixed in https://github.com/jupyter/notebook/pull/5075, but hasn't been released yet.

Isn't that a pretty standard thing to do? I think lots of programs up their soft limits.

[2019-12-21 13:26] jasongrout opened #7678 "Cannot install dev build on windows"
## Description

In a clean conda environment on windows, installing the dev build errors out looking for `jlpm` in the `pip install` step

## Reproduce

On windows, in a fresh checkout of the jupyterlab git repo:

1.` conda create -n devjlab notebook nodejs`
2. `conda activate devjlab`
3. `pip install -ve .`

I get this error in the pip install step:

[code]
## Expected behavior

jupyterlab to ins

[2019-12-21 14:08] kasper93 commented on #6727
Nice, this will do the job.

I mostly focused on logic in `init_resources`, but I guess it is fine to adjust also hard limit if user manually dials the value. Maybe some nicer error message when it fails would be nice, because now it is not obvious that one don't have permissions to adjust the limit.

Fair enough. I don't mind doing that if it is necessary.

[2019-12-21 14:16] jasongrout commented on #7678
Weird, this seems to work now. Closing, and I'll reopen if I see it again.

[2019-12-21 14:16] #7678 closed

[2019-12-21 15:54] jasongrout commented on #6007
The status indication is solved in #7252 - now kernels that are starting show as "initializing".

[2019-12-21 15:54] #6007 closed

[2019-12-22 00:46] frankyan opened #7679 "Some missing modules cause failures in jupyter labextension install"
## Description

On my Ubuntu server 18.04.3 LTS, I installed Jupyter using conda `conda install -c conda-forge jupyterlab`. The Jupyter lab works.

However, when I tried to install Jupyterlab extensions, it failed to build.

The error information in the log file of command `jupyter labextension install @jupyterlab/toc` are:

[code]

[code]

I thought it might be related to npm and mode version, so

[2019-12-22 09:34] #7679 closed

[2019-12-22 14:11] u-phoria commented on #7394
+1

Confirming that setting the `font-size` for `.jp-RenderedHTMLCommon table` to `var(--jp-ui-font-size1)` acts as a workaround until this is fixed.

[2019-12-22 19:42] thbak commented on #443
I have installed the extension and it works perfectly - any chance it could support the Matlab kernel too?

[2019-12-22 20:00] allefeld commented on #7394
@u-phoria, could you explain: How exactly would I apply this workaround? Edit `base.css`?

[2019-12-23 10:33] fenghse commented on #6830
CTRL+B cannot be disabled in my case.

[2019-12-23 12:01] jasongrout commented on #6830
Thanks for updating us!

I think everyone's issues above have been resolved at this point.

[2019-12-23 12:01] #6830 closed

[2019-12-23 12:28] m0hit-aggarwal opened #7683 "Incorrect kernel execution state for a running kernel."
## Description
We were using Spark IPython kernels using [Jupyter Enterprise gateway](https://github.com/jupyter/enterprise_gateway). During kernel launch, the kernel execution state immediately changed to **unknown** from **idle** in UI. Jupyter server's request at '/api/kernels/{kernel_id}' clearly shows that kernel is running and the execution state is **idle**. However, the execution state is

[2019-12-23 13:46] jasongrout commented on #7683
Is there a way for you to check from current master? We just merged in a huge PR that changes how kernel status is displayed. We will be publishing a beta soon with these changes.

[2019-12-23 15:42] #6731 closed

[2019-12-23 15:56] #7675 closed

[2019-12-23 16:44] jtpio opened #9108 "Collapse the sections in the Debugger sidebar"
Similar to the extension manager, it would be useful to be able to collapse the different section in the debugger sidebar:

![collapse-sections](https://user-images.githubusercontent.com/591645/71369673-c69c7880-25ab-11ea-9b64-627e698dbc39.gif)

[2019-12-23 17:39] #7671 closed

[2019-12-23 18:37] jasongrout opened #7685 "Revert icons backwards compatibility workarounds"
Looks like some of the backwards compatibility workarounds in #7182 can be reverted now master is on 2.0.

CC @telamonian

[2019-12-23 18:38] jasongrout commented on #7685
In particular, see the notes in https://github.com/jupyterlab/jupyterlab/pull/7182/files#diff-8c86f33bb6f77c0c318375327e2472fe

[2019-12-23 18:50] #7652 closed

[2019-12-23 19:19] jasongrout commented on #6648
#7684 reverts the changes in #7349 because of unintended side effects. Re-opening this as still needing to be solved.

[2019-12-23 19:24] telamonian commented on #7685
I'm handling this as part of #7299

[2019-12-23 19:26] m0hit-aggarwal commented on #7683
I checked with current master, issue is still there. But now frontend shows, kernel execution state as **dead** instead of **unknown**. Reconnect to kernel in command tab still doesn't work.
### Command line Output
<pre>
[D 00:43:07.252 LabApp] Closing websocket connection /api/kernels/3d754760-9ad5-4f96-b905-4ae83f7c7a54/channels
[D 00:43:07.252 LabApp] _disconnect: future cancelled, disconnected

[2019-12-23 19:31] #7664 closed

[2019-12-23 19:33] blink1073 opened #7686 "Property Inspector UX"
## Description
Fix issues with new Property Inspector before the final release:

<img width="1049" alt="Screen Shot 2019-12-23 at 9 15 24 AM" src="https://user-images.githubusercontent.com/192614/71368676-c5e0f380-2565-11ea-81ee-8dddbff5908a.png">

And perhaps the wrench icon should be updated to something to more reflect a property inspector.

[2019-12-23 19:34] #7641 closed

[2019-12-23 19:35] jasongrout commented on #7686
It appears the inspector is just centered, when I think it should be aligned to the top and stretched to fill the available horizontal space

[2019-12-23 19:35] jasongrout commented on #7686
CC @tgeorgeux

[2019-12-23 20:13] metin02oktay opened #7687 "asyncio error new notebook"
I get the following warnings when I open a new python3 notebook on the browser screen.

`
....same things.....

RuntimeError: This event loop is already running
[I 23:18:43.493 NotebookApp] KernelRestarter: restarting kernel (3/5), new random ports
Traceback (most recent call last):
  File "c:\python37\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\python37\li

[2019-12-23 21:38] jasongrout commented on #7685
Is #7299 making it into the beta? We were hoping to freeze the api.

CC @blink1073

[2019-12-23 22:43] telamonian commented on #7685
I working on #7299 and the somewhat related #7574 right now. I would like to get them into 2.0, but I'll probably need at least one more day

[2019-12-23 23:02] #7615 closed

[2019-12-24 00:36] afshin commented on #4009
I think the race condition is fixed, but the initial load still happens. I think the file browser may need some refactoring to prevent its initial API request, so while the current fix is an improvement, it's not a complete fix.

I will look at this before 2.0, but it may need to be pushed to a later release.

[2019-12-24 01:08] #7616 closed

[2019-12-24 04:30] jasongrout opened #7689 "jupyter lab build does not work with 2.0.0b1"
## Description

`jupyter lab build` fails with JupyterLab 2.0.0b1. This also prevents the conda-forge build from succeeding.

## Reproduce

1. Install jupyterlab 2.0.0b1
2. run `jupyter lab build`

We get `ModuleNotFoundError: Module not found: Error: Can't resolve 'vega-embed' in '/[snip]/miniconda3/envs/jlab2b1pip/share/jupyter/lab/staging/node_modules/@jupyterlab/vega5-extension/lib'`

## Expec

[2019-12-24 04:41] jasongrout commented on #7689
@blink1073 - I don't see the release commits or tags for 2.0.0b1 in master. Did you push those to master?

[2019-12-24 08:06] jtpio opened #7690 "Kernel shut down doesn't switch to "No Kernel""
From the latest master (https://github.com/jupyterlab/jupyterlab/commit/023828ac81a932a5a887c43ab369d94b28c32f1e), shutting down a kernel session from the running tab doesn't change the session of the notebook to "No Kernel"

![no-kernel](https://user-images.githubusercontent.com/591645/71402081-3b16fc00-262c-11ea-84d4-ddbe1ac3a1d1.gif)

Similar thing when selecting the "No Kernel" option from the

[2019-12-24 09:23] jasongrout opened #7692 "Dev installation instructions incur an error"
## Description

`jlpm run build` on a clean pip install prints out an error on current master (023828ac81a932a5a887c43ab369d94b28c32f1e)

## Reproduce

1. `pip install -ve .`
2. `jlpm run build`

Gives an error:

[code]

This stems from a couple of things:
1. react-json-tree is for some reason not hoisted into the root node_modules, but instead lives in `./packages/json-extension/node_modules/reac

[2019-12-24 10:19] jasongrout opened #7693 "Doubling console kernel sessions with each refresh"
## Description

The number of console kernel sessions (and kernels started in the server log) seems to double each time jlab is refreshed.

## Reproduce

1. Delete the workspaces directory, just to be sure
2. start jlab
3. open a new console
4. Refresh the page several times

I see the number of console sessions in the running sidebar approximately double each time, even though there are no more c

[2019-12-24 14:46] #6768 closed

[2019-12-24 20:48] mlucool opened #7696 "Open notebook to specific location"
Today, I can open a notebook with: `commands.execute('docmanager:open', {path})`, but I cannot ask it to scroll to a specific section.

NBViewer and notebook allow for anchors to all markdown cells:
![image](https://user-images.githubusercontent.com/1813603/71424800-e0999200-2663-11ea-8bf0-de2566c0f1d2.png)

While [jupyterlab-doc](https://github.com/jupyterlab/jupyterlab-toc/) on item click trigge

[2019-12-25 02:29] nendonerd commented on #4276
I'm using MacOS and ```jupyter labextension install @jupyter-widgets/jupyterlab-manager``` stucked forever. But running it in dev mode, ```jupyter labextension install --dev-build=True @jupyter-widgets/jupyterlab-manager``` works well. Jupyter Lab version: 1.2.4, MacOS version: 10.14

[2019-12-25 09:12] frankyan opened #7697 "Control contextual help update with a trigger key"
The contextual help is very helpful. However I don't want it continuously updating while I input. Especially when I input a variable of a big data.table (R), the contextual help also tries to print it which is not necessary. I hope I can control the help with a trigger key, such as press F1 in RStudio.
Is it configurable?

[2019-12-26 05:48] GiGi-Wu opened #7698 "Can't open the desktop file"

[2019-12-26 07:57] telamonian commented on #7689
I was able to repro this as well. I think the problem is that the vega deps in `vega5-extension/package.json` are listed under `"devDependencies"` instead of just plain `"dependencies"`:

https://github.com/jupyterlab/jupyterlab/blob/37c7a647a1344712c8cf80414db73809f486e766/packages/vega5-extension/package.json#L36-L49

I have a fix up over at #7699. I'm unable to fully test the fix without it bei

[2019-12-26 13:52] 0x0badc0de opened #7701 "_get_extensions_in_dir undefined behaviour"
## Description

`_get_extensions_in_dir` uses `glob.glob` to get extensions list from ext dir, if this dir contains more than one version of an extension - results are undefined. The only available version would be the last one returned by `glob`. See its docs https://docs.python.org/3/library/glob.html
[code]

As a consequence exactly the same docker image on 3 different hosts expose different be

[2019-12-26 18:18] amosbird opened #7702 "multi-key shortcuts with different modifiers in each don't work"
## Description

[code]
@telamonian mentioned in gitter that "It looks like we don't support multi-key shortcuts in which you have to change modifier keys."

[2019-12-27 07:54] chucknotech commented on #3506
Hi
I just faced the same issue. It wasnt allowing a Save or a New File creation with the error message - '_xsrf' argument missing from POST

One quick dirty way to manage the situation was:
a. Right click on the existing browser tab
b. Click Duplicate
c. It opened up the exact same contents and lines of code etc
d. Since this was opened up now and we are immediately saving it, there is probably ve

[2019-12-27 09:04] jiaqianjing opened #7703 ""Code Editor out of Sync " of message"
## Version:
1. jupyterlab         1.2.3
2. jupyterlab-server  1.0.6
3. Python 3.7.0
4. Linux 911c626bdc11 3.10.0_3-0-0-17 #2 SMP Tue Mar 27 15:52:12 CST 2018 x86_64 x86_64 x86_64 GNU/Linux ( Container Env)

==========

I got  "Code Editor out of Sync" of message frequently when I had opened ipynb file. And I found that my ipynb file has "\r\n" end of line.

[2019-12-27 09:06] jiaqianjing commented on #7703
![image](https://user-images.githubusercontent.com/16071449/71510848-39b72f00-28cb-11ea-8a01-a37b38b33968.png)

[2019-12-27 12:21] gfepfl opened #7704 "Jump to line keyboard shortcut"
## Description

The keyboard shortcut for the "jump to line" command overwrites one of the keys I use but I cannot find the location where to disable to command/shortcut. I am talking about the command that opens the following window:

<img width="604" alt="Screen Shot 2019-12-27 at 13 08 56" src="https://user-images.githubusercontent.com/43336610/71516666-8fc7aa80-28aa-11ea-84b6-b7750750db80.png"

[2019-12-27 15:22] ibqn commented on #5378
Starting from which version? can this be easily back-ported to other jupyterlab versions, say, 0.35.7?

[2019-12-27 15:26] afshin commented on #5378
This is a 1.x feature. We have recently released a beta for 2.0 and plan to release 2.0 final in the next couple weeks. Our target is to release two major versions per year. Back-porting this feature to the 0.35.x branch would be non-trivial.

[2019-12-27 19:35] makslevental opened #7706 "vim keymap doesn't work on 1.2.4 pip install"
![image](https://user-images.githubusercontent.com/5657668/71530074-ff8f6280-28b5-11ea-8e2b-b22517c39d9f.png)

is there something i'm doing wrong? in jupyter notebook simply selecting that option turns them on. do i need to install some extension?

[2019-12-29 21:09] #7689 closed

[2019-12-29 21:12] #7690 closed

[2019-12-29 21:12] #7693 closed

[2019-12-30 16:31] #7692 closed

[2019-12-30 16:35] jasongrout commented on #7702
Did you happen to try with the latest 2.0 beta? There has been some work recently with the keyboard shortcut processing.

[2019-12-30 16:38] jasongrout commented on #7683
We just merged in some cleanup of the kernel status code. Can you check with the latest master on git (or wait for the next beta to be published)?

[2019-12-30 16:38] amosbird commented on #7702
Not yet, can I grab 2.0 beta via pip install?

[2019-12-30 16:40] jasongrout commented on #7702
Yes, `pip install --pre jupyterlab`.

[2019-12-30 17:20] amosbird commented on #7702
Hmm, is this expected error?

[code]

[2019-12-30 17:28] jasongrout commented on #7702
yes, please don't try to build, that is a known problem with the beta. But you should be able to set keyboard shortcuts in the settings to test things.

[2019-12-30 18:24] jasongrout commented on #7230
An update on 2.0:

I think we are all in agreement that the primary feature of JLab 2.0 is that it ships in January 2020.

A bunch of core developers met for a week in Austin at the beginning of December 2019. We decided to release a beta Monday, 23 Dec, which would be our API freeze. However, the beta released that day was broken (it could not `jupyter lab build`, and so you could not install ext

[2019-12-31 03:28] amosbird commented on #7702
It still doesn't work in 2.0 beta

[2019-12-31 04:52] berkser opened #7710 "Notebook disappears from directory when filename is changed to a hidden file"
## Description

Notebook disappears from directory when filename is changed to a hidden file such as ‘.ipynb’. The notebook reappears when it is renamed using the notebook tab.

## Reproduce

1. Click 'Rename' on any notebook in left sidebar.
2. Name it as a hidden file such as '.ipynb'.
3. File disappears from Jupyter Lab UI

## Expected behavior

Expectation would be that files can not be named

[2019-12-31 07:44] jasongrout commented on #7710
This would be a change to the notebook server, which is responsible for both what renamings are valid and the invisibility of hidden files.

[2019-12-31 07:54] jasongrout commented on #7710
To follow up: https://github.com/jupyter/notebook/ would be the appropriate place to file this issue. I realize this is a bit confusing when functionality is split up between the server and the front end.

[2019-12-31 09:25] echarles opened #7711 "HTML5 Icon in Storybook"
## Description

## Reproduce

1. Run `yarn storybook` in the [ui-components](https://github.com/jupyterlab/jupyterlab/tree/master/packages/ui-components) package
2. Browse with chrome http://localhost:9001/?path=/story/iconreact--html-5-icon
3. Browse with firefox http://localhost:9001/?path=/story/iconreact--html-5-icon
4. See the differences as show on the below images.

HTML5 Icon on Chrome is

[2019-12-31 12:25] telamonian commented on #7711
Try replacing the contents of the `html5Icon` function:

https://github.com/jupyterlab/jupyterlab/blob/fbaf591b7ad68eee44bb3b96b5f3a2f4f9370c11/packages/ui-components/stories/iconreact.stories.tsx#L20-L24

with:

[code]

and you should see the html5 icon show up. You can even do it while storybook is running.

The reason why the html5 icon appears strange initially is that `kind={'launcherSection'

[2019-12-31 13:21] m0hit-aggarwal commented on #7683
Okay, I will check with current master. When can i expect next beta release ?

[2019-12-31 14:26] echarles commented on #7711
Thx @telamonian. I let you update the stories as part of #7700 and will close this issue when it will be done.

Regarding enforcing the height and width, I would have expected all icons shipped by jupyterlab to avoid the same size, let's say fitting eg in a 100px square box. Having do define the size in an enclosing div upon via the props of the react component is not that appealing. Will this sti

[2019-12-31 15:42] fonnesbeck opened #7712 "Cannot select run all above/below"
Running version 1.1.4 on Linux (GCS instance), I can no longer select run all cells above or below, as the menu items are greyed out (along with others that should be available). I do have a cell selected, and have tried moving to other cells with no effect. A screen shot is below:

<img width="921" alt="Screenshot 2019-12-31 09 39 41" src="https://user-images.githubusercontent.com/81476/71626203-

[2019-12-31 15:56] fonnesbeck commented on #7712
Updating to 1.2.4 fixes this issue.

[2019-12-31 15:56] #7712 closed

[2019-12-31 16:06] pawadski opened #7713 "Deletion of empty cells workflow improvement"
## Description

This is more of a feature request than it is a bug report. I was not able to find an already existing request for this.

I understand how to delete empty cells (ESC->D,D), but it is disappointing that I need to go through this every time I need to delete empty cells, instead of just pressing backspace while they are an active input. Why not make it so empty cells can be removed by

[2019-12-31 17:06] jasongrout commented on #7713
I think this makes sense. It's similar to deleting a paragraph in a multi-paragraph document, and is analogous to adding a cell at the end when pressing shift-enter to execute the last cell.

[2019-12-31 17:57] mlucool commented on #7706
That is for the text editor (e.g. open `foo.py` and it will use the key bindings) not cells. For cells, https://github.com/jwkvam/jupyterlab-vim works, but does not seem to be currently maintained.

I wonder if we should make the editor keymaps apply to notebooks too. It seems to be a common confusion point and would make the UX more consistent.

[2019-12-31 18:07] jasongrout commented on #7706
FYI, the argument against making editor keymaps apply to notebooks in the past was that the notebook includes a number of keyboard shortcuts besides the cell editing (so you're operating in a more constrained environment), and having a consistent notebook experience was also important.

[2019-12-31 19:44] mlucool commented on #7706
Thanks @jasongrout. What do you think about having some command/hotkey to enable/disable `my-favorite-keybinding-mode` (i.e. emacs, vim, ...)? When enabled, the editor key map of choice would shadow the global defaults for hotkeys, overriding any that already exist. In addition, selectors would be used to be sure the hotkeys only apply when the user is in the "right location" of the notebook (e.g.

[2019-12-31 19:57] jasongrout commented on #7706
My guess is that it would be less confusing from a user perspective to decide whether those arguments still outweigh the confusion from the keymap not being recognized, and either use the keymap, or decide we won't (by default).

Alternatively, perhaps providing a notebook user setting that the user sets once in the environment might be the way to go.

[2019-12-31 20:06] mileserickson commented on #5341
I'm having this problem intermittently on a GCP AI notebook instance. Sometimes keystrokes are missed entirely, sometimes they're received but not echoed. It's as though they're being sent via UDP with no guarantee of delivery...

[2019-12-31 20:07] mileserickson commented on #5341
(Why is this classified as a "question" when it's clearly a bug?)

[2019-12-31 20:39] jasongrout commented on #5341
Probably because the OP said they weren't sure if it was a problem on their end or not.

Do you see this problem with JupyterLab itself, installed locally? If not, perhaps there is an issue with how GCP is deploying JupyterLab. It would be great if someone could reproduce this in a way that narrowed down where the problem might be.

[2020-01-01 02:32] makslevental commented on #7706
re: hotkeys. i'm sure you're aware that in notebooks certain keybindings that conform to vim function as notebook hotkeys (e.g. o creates cell below, O creates cell above). why can't it simply work the same way?

[2020-01-01 13:16] afshin opened #7714 "Update Phosphor to Lumino in verbiage / docs"
For example, cf. https://github.com/jupyterlab/jupyterlab/pull/7707

[2020-01-01 23:25] westurner commented on #7394
I think there should be a separate variable for the table font size instead of a constant 12px, if just using `--jp-ui-font-size1` is not acceptable.
And I think that variable should be configurable in Theme / User Preferences.

[2020-01-02 00:09] thomasd3 opened #7715 "Javascript Error: IPython is not defined"
I can't find any clear documentation if JS / IPython is supported with Jupyterlab, or not.

I've installed that extension:
jupyter labextension install @jupyter-widgets/jupyterlab-manager
jupyter labextension install jupyter-matplotlib

But when I'm using Backtrader (which uses Bokeh), I get the error in the title.
The same notebook in jupyter notebook works perfectly.

[2020-01-02 01:08] bakakouhai opened #7716 "Install with Previous Jupyter Notebook"
Hello.

I installed Jupyter Notebook via ubuntu repository (I am on Pop_OS 18.04) and want to enable jupyter lab. I can install Jupyterlab via pip3, but I want to install it this way to avoid dual package manager.

Typing
`jupyter serverextension enable --py jupyterlab --sys-prefix`
on terminal returned:
[code]
Any thought please?

Kind regards,
Iwan

[2020-01-02 01:13] rchossein commented on #6235
the iframe extension does not work properly for me still. For example, I cannot open a local page or navigate through the https://www.google.com/. It seems that the extension works in a very limited way ...

I installed the extension from here:
https://github.com/timkpaine/jupyterlab_iframe/

[2020-01-02 05:06] BrenBarn commented on #6701
This bug still exists and is a serious annoyance that makes the Jupyterlab search seem quite crippled.

Focus should only shift to search results in response to an explicit search action.  I agree that it would be fine to defer any UI updates (e.g., to the "match # X/Y" text) until an explicit search action.  I think that all the recalculation (basically the entire search operation) should be take

[2020-01-02 06:15] m0hit-aggarwal commented on #7683
Issue seems to be fixed in current master.

[2020-01-02 07:27] m0hit-aggarwal opened #7717 "Incorrect kernel execution state when kernel is busy"
## Description
Kernel execution state is shown to be **Unknown** on UI when Reconnect is clicked from command tab while the kernel is in busy state. Jupyter server's request at '/api/kernels/{kernel_id}' clearly shows that kernels' execution state is busy.
## Reproduce

1. Launch a kernel
2. Start an infinite loop
3. Click Reconnect from command tab.
4. Kernel execution state is shown to be unknow

[2020-01-02 15:27] bakakouhai commented on #7716
Moved to [discourse](https://discourse.jupyter.org/t/install-jupyterlab-with-previous-jupyter-noteboook/2978).

Kind regards,
Iwan

[2020-01-02 15:27] #7716 closed

[2020-01-02 15:38] kevin-bates commented on #6007
Thank you @jasongrout!

[2020-01-02 15:55] #4009 closed

[2020-01-02 16:31] jasongrout commented on #7230
Following up on this on [gitter](https://gitter.im/jupyterlab/jupyterlab?at=5e0e14a18ba16b107c0e69fe), FYI:

@jasongrout:

@blink1073:

[2020-01-02 17:36] jasongrout commented on #7060
Done now!

[2020-01-02 17:36] #7060 closed

[2020-01-02 17:44] jasongrout commented on #7575
@telamonian looking at this as part of #7700

[2020-01-02 18:00] jasongrout opened #7720 "TODO/Deprecations for 2.0"
Searching the code base for [TODO items](https://github.com/jupyterlab/jupyterlab/search?q=TODO&unscoped_q=TODO) or [deprecations](https://github.com/jupyterlab/jupyterlab/search?p=1&q=deprecated&unscoped_q=deprecated), I see some interesting possibilities:

I put each reference below in a checklist so that we can check off when we have examined it, and we can add a note or reference to an issue i

[2020-01-02 18:02] jasongrout commented on #7720
@blink1073 - here are some possibly api-breaking changes we've held off on for 2.0. Do you (or anyone else) have time to look at these to decide whether we really want to do them for 2.0?

[2020-01-02 18:09] blink1073 opened #7721 "All public packages should have access config set"
## Description
While releasing 2.0.0b1, the `celltags` package caused an error because it did not have the appropriate publish metadata.

[2020-01-02 20:00] blink1073 commented on #7720
I'm making a PR now, checking off items as I address them.

[2020-01-02 20:09] telamonian commented on #7720
I checked off the one from `jupyterlab/packages/filebrowser/src/listing.ts`, that's handled by #7700. I'll probably also handle deleting `jupyterlab/packages/statusbar/src/deprecated.tsx` in that same PR

[2020-01-02 20:27] blink1073 commented on #7720
I already removed `jupyterlab/packages/statusbar/src/deprecated.tsx` in my branch.

[2020-01-02 21:01] jasongrout commented on #7720
I should add here that I looked at the TODO and deprecation search results linked above and tried to filter them for 2.0-relevant issues. If someone has time to look at the full list of search results to double-check that I didn't miss anything relevant, that would be great.

[2020-01-02 21:06] #7721 closed

[2020-01-02 21:09] blink1073 commented on #7720
@telamonian, I see that you would pick up merge conflicts in #7700 if I remove `deprecated.tsx`, I'll restore it here.

[2020-01-02 21:52] telamonian commented on #7575
fixed in latest version of #7700:

![image](https://user-images.githubusercontent.com/2263641/71695455-2c44ed80-2d80-11ea-8b90-f14cb070ab56.png)

[2020-01-03 11:27] telamonian opened #7726 "Restoring a console starts two consoles, doesn't open console panel in main area"
Currently, if you have a console open and refresh the page, the console panel does not get restored. Also, for some reason another console is started. Here's what it looks like when you start one console and then refresh three times:

![image](https://user-images.githubusercontent.com/2263641/71721106-efb1da00-2df1-11ea-9094-12c65b233565.png)

[2020-01-03 14:05] thomasd3 opened #7727 "shift-enter issue with Firefox 71.0 on OSX"
I have the following issue:

On a notebook, I press shift-enter to move to the next cell, etc as normal.

Then when I edit a cell, pressing shift-enter while in edit mode doesn't do anything. If I click on the edge of the cell, selecting the cell, but being in command mode, then shift-enter works.

The problem doesn't exist with Safari on the same computer.

[2020-01-03 15:38] blink1073 commented on #7726
This is being addressed in #7705

[2020-01-03 15:48] blink1073 commented on #7726
I confirmed that #7705 fixes this behavior.

[2020-01-03 15:58] jasongrout commented on #7726
This was fixed in #7693. #7705 probably already has that commit from master.

[2020-01-03 16:45] #7648 closed

[2020-01-03 16:45] #7726 closed

[2020-01-03 16:58] #7686 closed

[2020-01-03 18:53] declanvk opened #7729 "Automatic Labeling of PRs"
Based on [@jasongrout's comment](https://github.com/jupyterlab/jupyterlab/pull/7545#issuecomment-556546717), it would be useful to automatically label PRs based on the files that they change. Luckily, there is a Github Action that does exactly that: [actions/labeler](https://github.com/actions/labeler).

This action labels PRs based on a file that describes a mapping from label names to file globs

[2020-01-03 19:01] blink1073 commented on #7729
I made the suggested changes to the `pkg:` labels, thanks @declanvk!

[2020-01-03 20:59] blink1073 commented on #7729
It looks like we can't use `actions/labeler` because our PRs come from forks, and we run into a permissions issue, cf https://github.com/actions/labeler/issues/12.

How about we try https://github.com/marketplace/actions/periodic-labeler, which is linked from that issue?

[2020-01-03 21:01] tgeorgeux opened #7732 "New Icon for Propterties Inspector panel"
## Description

Proposing a new Icon for Property Inspector.

I was trying to get at the idea of 'inspecting' things, didn't really find much down that avenue except variations on magnifying or zooming in on properties. I didn't want to use a single cog because that communicates settings. and it's already used for global settings.

Here's my final three options:
![cogs](https://user-images.githubu

[2020-01-03 21:10] blink1073 commented on #7732
I'm happy with the two cogs.  How about binoculars, to distinguish from search?

[2020-01-03 21:21] declanvk commented on #7729
Sure, what time period do you think it should run on? The default (`*/5 * * * *`) is every five minutes.

[2020-01-03 21:49] #7732 closed

[2020-01-03 23:14] peter-ch commented on #7631
I found something that might help. When I append ".exe" to "node" in the command you gave me, it worked. But only with .exe appended. Can I do this in jupyterlab's code and where?

`Peter@Laptop MINGW64 ~
$ python -c "import shutil; print(shutil.which('node'))"
None

Peter@Laptop MINGW64 ~
$ python -c "import shutil; print(shutil.which('node.exe'))"
C:\Program Files\nodejs\node.exe`

[2020-01-03 23:18] peter-ch commented on #7631
This hack helped me (the first line I inserted in jupyterlab_server.process.which):

`def which(command, env=None):
    """Get the full path to a command.

    Parameters
    ----------
    command: str
        The command name or path.
    env: dict, optional
        The environment variables, defaults to `os.environ`.
    """
    if command[-4:] != '.exe': command += '.exe'
`

[2020-01-04 00:16] jasongrout commented on #7631
According to https://docs.python.org/3/library/shutil.html#shutil.which:

So it is odd it did not search for `.exe` automatically. What is your PATHEXT variable?

[2020-01-04 03:11] kjfergu opened #7736 "Help requested: Proper way to store SSL certificates for safe keeping"
This is more of a "best practices" question. I have an SSL certificate from LetsEncrypt running on my Jupyter Lab server (which is internet-accessible so that I can reach it from any IP). This all works as expected. The server is also password protected with a strong password, and jupyter lab itself is running within a docker container to minimize the risks, but this has still been a question of m

[2020-01-04 11:57] peter-ch commented on #7631
`$ echo $PATHEXT
.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC;.DLL;
`
Maybe it's case sensitive?

[2020-01-04 12:01] peter-ch commented on #7631
By the way, it did work with my hack alright, but now jupyter-labextension says:

`An error occured.
ValueError: The command was not found or was not executable: npm.exe.
`
But the whole point was so I can install extensions so I didn't accomplish anything. npm.exe doesn't exist, the file has .cmd extension.. and another file with the same name has no extension at all.

[2020-01-04 13:37] peter-ch commented on #7631
Ok, so this is my solution. First, add ".;" to PATHEXT. Then, in jupyterlab_server.process.which insert this code on top:

`if 'npm' in command:
        pass
 else:
        if command[-4:] != '.exe': command += '.exe'`

And it all works.

[2020-01-04 16:05] enalposi opened #7737 "Unable to install lab extensions (jlpm yarn.js Syntax Error)"
I am unable to install lab extensions after multiple attempts at clean installing latest jupyterlab both with conda and pip on Debian 9. The most recent is a pip install on a virtualenv results in the following versions:

jupyter core     : 4.6.1
jupyter-notebook : 6.0.2
qtconsole        : 4.6.0
ipython          : 7.9.0
ipykernel        : 5.1.3
jupyter client   : 5.3.4
jupyter lab      : 1.2.4
nbc

[2020-01-04 16:35] jasongrout commented on #7737
My guess is that you need to node to a newer version. Version 10 or 12 should do it?

[2020-01-04 16:38] jasongrout commented on #7230
I notice we didn't make it to beta 2 yesterday (thanks for everyone who worked long and hard towards it!). I'm happy to release beta 2 later today if it's helpful. Is #7700 the main blocker for beta 2? Or is there something else we are really trying to get in?

[2020-01-04 18:57] sperezconesa opened #7738 "Feature idea: Markdown preview default"
Dear Jupyterlab community,
I think it would be nice if there could be a default mode to open markdown files either in the editor or in the markdown preview. This could be done in a file-wise basis or in general.
In addition it would also be nice if from a markdown editor tab you could right click and have an option to open the file in preview mode or viceversa.
Keep up the good work!
Best,
Sergio

[2020-01-04 19:36] Juan-132 opened #7739 "Install Extension"
I tried to install the ' @krassowski/jupyterlab-lsp ' extension; but this fails with the message below.
Also the same for other extensions.

[code]
In the log it states this is due to an SSL error:
[error node SSL.txt](https://github.com/jupyterlab/jupyterlab/files/4022309/error.node.SSL.txt)

This seems to be the same problem I have with PIP and Conda, which is caused by an SSL misconfiguration i

[2020-01-04 21:27] yarikoptic commented on #6633
FWIW: in my case, upgraded our computing server to debian buster, and now having similar issue with a plain `ipython notebook` opening url in rstudio.  `xdg-open` opens that url in chromium. happens for multiple users (so not user-specific).

Found
<details>
<summary></summary>

[code]
</details>
removed there `text/html;`, ran `update-desktop-database` and that seemed resolved the issue -- now st

[2020-01-04 22:04] kanekalla opened #7740 "Jupyterlab doesn't load when I change the tab and"
When I change the browser tab of jupyterlab , and revisit the tab, jupyterlab doesn't open or partly opens as shown in the image attached. It consistently asks me to reload the entire jupyter lab and then only i can see the full jupyterlab interface,

<img width="1371" alt="Screen Shot 2020-01-04 at 3 59 37 PM" src="https://user-images.githubusercontent.com/9707250/71772142-8faf5680-2f0b-11ea-8919

[2020-01-04 23:58] lwerner101 opened #7741 "JupyterLab not recognizing nodejs and npm installations on Mac"
Hi,

I am a bit green and have minimal experience so apologies if this issue is simple. I am having trouble opening `JupyterLab` (1.0.2) after installing `nodejs` (13.5.0) and `npm` on Mac (10.15.2). When attempting to open, I get this error:

Traceback (most recent call last):
File "/Applications/anaconda3/lib/python3.7/site-packages/traitlets/traitlets.py", line 528, in get
value = obj._trait_va

[2020-01-05 19:29] #7257 closed

[2020-01-05 22:30] hyiltiz commented on #4572
As you probably know, jupyter is packaged for python in Debian as a metapackage with a few smaller packages as dependencies [1]. There are thousands of `node-*` packages in Debian [2] and also for Python3 [3]. I wonder if the node packages required are already packaged, and what packages (whether node or python) are missing.

Once we have a list of missing packages to package, we can see if we can

[2020-01-06 04:36] jasongrout commented on #4572
The basic python distribution package of JupyterLab is (should be) self-contained and does not require node. However, to do this, we compile the core js packages into a js bundle that we ship with the package. This would be roughly analogous to having a statically linked binary in our shipped package (i.e., it includes all node/javascript dependencies). What is Debian's policy on a package contain

[2020-01-06 05:27] #6738 closed

[2020-01-06 07:30] Juan-132 commented on #7741
Could you try installing NodeJS with Conda instead? `conda install nodejs`

[2020-01-06 13:08] mpaunovi opened #7743 "Time conflict and the "File Changed" dialog appear every time an attempt is made to save a Notebook"
## Description
When saving a Notebook file (6.83 MB), the PUT request (api/contents/{someNotebook}) takes about 1.5 seconds. This causes a time conflict and displays the "File Changed" popup since it does not match the allowed 0.5 seconds difference between disk time and client time.

Screenshot:
![image](https://user-images.githubusercontent.com/43001714/71818777-2a35a400-308a-11ea-86b5-2bd0dd6b2

[2020-01-06 19:50] missingdaysqxy opened #7744 "Extension Manager Error:500 when started with pythonw.exe"
I'm using jupyterlab in my own PC, and I don't like to have a console window in my taskbar, so I made a shortcut with target like `E:\Anaconda3\pythonw.exe E:\Anaconda3\cwp.py E:\Anaconda3 E:\Anaconda3\pythonw.exe E:\Anaconda3\Scripts\jupyter-lab-script.py E:\` , it works very well for any other cases EXCEPT the extension manager, which returns an error 500 and details as follows:
[code]
After I g

[2020-01-06 21:45] paulo989 opened #7745 "JupyterLab: How to modify / delete the In[] / Out[] prompts"
Hi
I moved my question from [#7130](https://github.com/jupyterlab/jupyterlab/pull/7130).
I am working on a JupyterLab Notebook (not Jupyter Notebook) under Python 3 and I would like to hide / modify / delete the classic code prompts In [] and Out [].
First of all, I still haven't found which file to modify. Is it a .json .css .py ?
telemonian said here [#7356](https://github.com/jupyterlab/jupyter

[2020-01-06 21:54] declanvk commented on #7729
We should update to at least rev `e556bb89` of [paulfantom/periodic-labeler](https://github.com/paulfantom/periodic-labeler) so that we get the support for pagination, and the labeler will actually label all the PRs. See paulfantom/periodic-labeler#4 for details.

Also, if the bot actually labels all the PRs, it may be good to increase the amount of time spent waiting between from 5 minutes to 10

[2020-01-06 22:21] blink1073 commented on #7729
Sounds good @declanvk

[2020-01-07 00:09] #7575 closed

[2020-01-07 00:25] #7241 closed

[2020-01-07 00:26] jasongrout commented on #7685
Fixed by #7700, right?

[2020-01-07 00:37] hyiltiz commented on #4572
AFAIK the Debian policy allows shipping binaries if said binaries are not propriatery blobs (negative in this case), and static linking to libraries is allowed under some conditions. We can read the policy to confirm [1]. My hunch is that if those included static linked binaries are not bloated (say way above 10MB), or if they are common `node-` packages that can be easily installed via `apt`, the

[2020-01-07 00:43] telamonian commented on #7685
fixed by #7700

[2020-01-07 00:43] #7685 closed

[2020-01-07 18:26] tgeorgeux commented on #7729
Closing per #7746

[2020-01-07 18:26] #7729 closed

[2020-01-07 18:27] jasongrout commented on #7230
An update: 2.0b2 is now released, and seems to work great! Thanks @blink1073 and all the other that helped with this.

[2020-01-07 22:19] tgeorgeux commented on #7434
Closing Via #7673

[2020-01-07 22:19] #7434 closed

[2020-01-07 22:30] tgeorgeux commented on #6868
Closed via 7480

[2020-01-07 22:30] #6868 closed

[2020-01-07 22:37] #6400 closed

[2020-01-07 22:51] tzuni opened #7748 "No autocomplete of closing quotation in prefixed python string literals"
## Description

I found this reported previously in #5588 but that was marked closed. It seems like the bug may have resurfaced.

When typing a Python prefixed string literal like `f"hi {mom}"` or `b"ascii text"` the expected behavior is that upon typing the opening quote a second closing quote is added automatically and the cursor is placed between the two. But what I'm experiencing is that when

[2020-01-08 04:38] rajaharish79 opened #7750 "Jupyterlab not executing config.yaml lifecyclehooks poststart command on pod startup"
When we try to customize jupyterlab through config.yaml as given in the documentation. It is not executing any command given in PostStart part as specified in the documentation.
The URL : https://zero-to-jupyterhub.readthedocs.io/en/latest/customizing/user-environment.html

The sample yaml part that is not working is:

We tried both type for single command and multiple command both of the script d

[2020-01-08 08:20] AmberSong opened #7751 "404 Error , I run jupyterlab in develop , I fllow all the step , then I got this mistake, How can I fixed it , I can't open in chorm"
(env_jupyterlab) G:\JupyterNotebookSource\notebook>jupyter lab --dev-mode
[W 16:10:14.096 LabApp] Widgets are unavailable. Please install widgetsnbextension or ipywidgets 4.0
[I 16:10:14.186 LabApp] Running JupyterLab in dev mode
[I 16:10:14.790 LabApp] JupyterLab extension loaded from g:\jupyterlabsource\jupyterlab\jupyterlab
[I 16:10:14.791 LabApp] JupyterLab application directory is g:\jupyterl

[2020-01-08 11:29] mgeier opened #7752 "IPython Image with URL is centered instead of left-aligned"
##  Description

When using `IPython.display.Image` with an `url` argument and with the default `embed=False` argument, the resulting image is centered.

With `embed=True` (and when not using `url`), the resulting image is left-aligned.

## Reproduce

[code]

The result in JupyterLab (`master` branch):

![image](https://user-images.githubusercontent.com/705404/71974085-e4571800-3210-11ea-84e2-3291

[2020-01-08 14:27] teaglebuilt opened #7753 "Error in latest version of @jupyterlab/rendermime Mimetype Error on EventSource"
So to be clear, this code works with version 019.1, but not with the latest version of @jupyterlab/rendermime, npm package.

This is in a gatsby project, and I am executing a piece of code from the browser. When I click run, it launches the binder and executes the code. With the latest version, I get a console error listed below.

**Error:**
EventSource's response has a MIME type ("text/html") tha

[2020-01-08 15:03] agoose77 commented on #7751
I think I had a similar error recently - 404 after launching in develop mode on Chrome (unsure on version). I can't recall which JLab version it was either (1.2.0+) so this is merely an anecdotal remark for other readers.

[2020-01-08 15:05] agoose77 commented on #7715
JupyterLab uses Javascript, and IPython is still supported, but the JS API is different. It is likely that if Backtrader was written for Jupyter Notebook, it will not work directly on JupyterLab. It's not *that* hard to get extensions working in JupyterLab - you just have to write your own extension to facilitate it.

[2020-01-08 16:17] diurnalist opened #7755 "Support copying files between drives"
**Story**: As a user of multiple file systems within JupyterLab, I want to be able to drag and drop files between drives, or copy them between drives, just as I would on a workstation that has multiple mounted drives.

**Current workaround**: While it's not possible to directly copy files within JLab, it is possible to download the file locally and then re-upload it. However, this is inefficient i

[2020-01-08 17:04] n-a-sz opened #7756 "JupyterLab makes too many requests resulting in 503 while the backend is not reachable"
## Description

We have a JupyterHub instance with built-in proxy and DockerSpawner. Let's say there are several users already using it so there are running containers. If we stop the containers (e.g. host kernel patch) and have JupyterHub running, we got a lot of HTTP 503 error log - like 20 lines per user per second - and our log file quickly grows to several GBs which is not that convenient. Th

[2020-01-08 17:11] tgeorgeux commented on #7593
I think we should give the buttons a max width of 32 and left align them.

[2020-01-08 22:15] jasongrout opened #7757 "Advanced Settings does not trigger application dirty state"
If you are editing settings, then accidentally refresh, the application refreshes without prompting you to save the setting text. Instead, we should have the advanced setting editor trigger the application dirty status when it has unsaved content.

[2020-01-08 23:08] blink1073 commented on #7720
Closing as addressed by #7724 and #7700, at least as far as 2.0-readiness is concerned.

[2020-01-08 23:08] #7720 closed

[2020-01-09 01:13] hoooJerry opened #7758 "window user cannot update jupyter lab via cmd"
## Description

i want to install a jupyterlab extension called jupyterlab_voyager.
i used cmd to try to do it.
`jupyter labextension install jupyterlab_voyager`
but there's an error.
[code]
but there's no way to update jupyterlab. i found conda can do that but i failed to install anaconda, so i try to find another way to update it. can you give me some advice?
## Reproduce

1. Go to '...'
2. Clic

[2020-01-09 07:58] JacobJeppesen commented on #6846
Hi,

On a similar note, is it possible to remap keys in the codemirror extension? I use the vim keymap and would like to use jk to leave insert mode and remap j and k to gj and gk to improve navigation with wrapped lines.

Thanks in advance.

[2020-01-09 11:56] mgeier opened #7760 "Gaps between plain text cell output lines in Chromium"
## Description

There is too much distance between lines in Chromium, in Firefox it's OK.

## Reproduce

Example code to reproduce:

[code]

On Chromium, the result looks like this:

![image](https://user-images.githubusercontent.com/705404/72065486-a0cadf80-32de-11ea-9097-5e26d0eba669.png)

There are ugly gaps between the lines.

Example notebook: https://github.com/spatialaudio/nbsphinx/blob/mas

[2020-01-09 15:31] fonnesbeck commented on #7330
Correct, this does not reset the session for me.

[2020-01-09 16:14] mgeier opened #7761 "Binder: "could not start lab-dev in time""
... when using this link:

https://mybinder.org/v2/gh/jupyterlab/jupyterlab/master?urlpath=lab-dev

Is this a temporary glitch or is there a deeper problem?

![image](https://user-images.githubusercontent.com/705404/72084281-7dfef200-3303-11ea-8d19-ab5c74274e25.png)

[2020-01-09 16:26] blink1073 opened #7762 "Allow extension authors to use `lm-` prefix or `p-`"
## Description
Take advantage of https://github.com/jupyterlab/lumino/pull/20 to allow extension authors to either keep using `p-` prefixed CSS attributes or use the new `lm-` attributes.

[2020-01-09 20:12] #7761 closed

[2020-01-09 20:13] blink1073 commented on #7761
Thanks for the heads up!

[2020-01-09 20:45] blink1073 opened #7765 "Rendermime Interfaces should be self contained"
## Description
This package is meant to be self contained.  We picked up a dependency on `ui-components` to allow users to provide a `JLIcon`.  There is a more generic interface that we could use that would allow us to avoid the dependency.

[2020-01-09 20:45] blink1073 commented on #7765
cc @telamonian

[2020-01-09 21:06] kinow commented on #7752
The fix would be a change with a [couple of lines](https://github.com/jupyterlab/jupyterlab/blob/6777d8e674d30bab8c5a7b02953e133656200903/packages/rendermime/style/base.css#L415-L416). With `notebook`, those values are both set to `0`, whereas with `lab` they are `auto`. Not sure if that was an intentional change?

[2020-01-09 21:07] kinow commented on #7751
Just build from `master` on Ubuntu LTS. Worked with no issues on Ffox & chromium.

[2020-01-09 21:30] jasongrout commented on #7765
I strongly agree.

[2020-01-09 22:11] enalposi commented on #7737
Great guess - The startup error went away, I was able to install lab extensions and plotly is now working. Didn't realize how ancient this node was.

Thanks very much!

[2020-01-09 22:11] #7737 closed

[2020-01-10 07:08] telamonian commented on #7760
For me (OS X 10.14), your example code has the same appearance in Chrome and Firefox, and shows whitespace between the lines.

That being said, this is all a problem of CSS. The fundamental issue is that the `font-size` and the `line-height` are different on purpose, in order to give a bit of space between the lines. The standard practice (which we follow) is that `line-height` is roughly ~1.2 tim

[2020-01-10 09:37] mgeier commented on #7760
How does it look for you in the Classic Notebook?

[2020-01-10 16:34] tys1998 commented on #7562
@Azurewyl

It works! 🌞 Thanks bro! 🌞
But, everytime I uninstall one extension, I need to redo this. 🤷
Is this a bug or something? 🤷

[2020-01-10 18:32] brando90 commented on #6727
Is there any chance that this issue is related to updating Mac OS to Catalina?

I've had my mac act weird on a number of places since that OS upgrade (or perhaps I'm imagining or drawing false correlation, hence my question).

[2020-01-10 18:34] mmaybeno commented on #6727
@brando90 I had this issue pre upgrade to Catalina.

[2020-01-10 18:40] brando90 commented on #6727
@mmaybeno Thanks for the info.

Is there no solution besides `ulimit -n 4096`? It feels weird that I'd have to change the file descriptor that my machine allows for using jupyter. I've never had an issue like this before and it seems hacky (rather than solving the issue at its core).

[2020-01-10 19:59] carlskii opened #7770 "Embedding a React.js application in Jupyterlab"
Hi,

I've built simple React.js application and was wondering if it was possible to run it from within Jupyterlab. I installed the "sophon-notebook-htmlviewer-extension" but this did not seem to work for me.

Is this possible? If so could somebody point me in the right direction.

Thanks and thanks for building an amazing application.

[2020-01-10 20:43] timrandg commented on #7095
[code]
My Extension Manager broke after updating jupyterlab to 1.2.4. I tried modifying the jupyterlab/handlers/extension_manager_handler.py file as suggested by trallard. However, it still gives the
[code]
Also tried complete uninstall and reinstall, but that did not fix it either.

[code]

[2020-01-10 20:44] mmaybeno commented on #6727
I agree it's not ideal. I had bumped mine up already for other reasons but needed to increase it (to 4096) to accommodate jupyter.

[2020-01-10 20:57] timrandg commented on #7095
If I uninstall the offending extension:
[code]
The error disappears.

[2020-01-10 21:02] tangbinh commented on #5884
I used JupyterLab to write lots of notebooks involving Math equations, so this feature would be a game-changer for me. Do we have any idea if / when it will be supported?

[2020-01-10 21:24] timrandg commented on #7095
if you refresh the browser after uninstalling.

[code]
brings the error back.

[2020-01-10 22:31] timrandg commented on #7095
I was able to get it jupyterlab_vim extension working in jupyter lab by setting up a conda env (following the advice from olavurmortensen at [https://github.com/jwkvam/jupyterlab-vim/issues/105] ). So at least this is a case where a particular extension breaks the Extension Manager unless a specific version of jupyterlab, nodejs extension are used.

[2020-01-10 23:38] telamonian commented on #7760
The same, and for the same reason: `line-height` > `font-size`. What version of Firefox are you using?

[2020-01-11 00:29] jasongrout commented on #5884
Here's one interesting relevant extension that is under development: https://github.com/jupytercalpoly/jupyterlab-richtext-mode

[2020-01-11 01:00] tangbinh commented on #5884
Thank you for the link. The extension is surely interesting. However, I found it very unstable ; equations seem to jump around in a mysterious way, some lost and some not rendered properly. It would be great if we can have something similar to [Typora](https://www.typora.io) or [Mark Text](https://github.com/marktext/marktext), both of which follow the WYSIWYG philosophy. Even just a Markdown prev

[2020-01-11 03:55] lwerner101 commented on #7741
That worked, thanks!!

[2020-01-11 03:55] #7741 closed

[2020-01-11 09:11] mgeier commented on #7760
72.0.1 (64-bit)

That sounds like an unnecessarily clunky and brittle work-around, there must be a better way!

This, for example, seems to have decent interline spacing, but it still works in Chromium:

https://nbsphinx.readthedocs.io/en/material-theme/code-cells.html#ANSI-Colors

[2020-01-11 11:16] tbhaxor opened #7771 "[HTTP Error 500] Error communicating with server extension"
## Description

I am unable to open the extension explorer in jupyter lab. This was actually working fine before i had uninstalled the extension named "**@deathbeds/jupyterlab-fonts**"
![image](https://user-images.githubusercontent.com/28386721/72203442-b7fdfe80-3491-11ea-88ba-f447fb0b7faa.png)

## Reproduce

1. Open the Jupyterlab in browser
2. Navigate to the extension manager

## Expected behav

[2020-01-11 14:05] mlucool commented on #7039
Should modals be made into a first class place to add a widget? I could see a few other non-core extensions that work better as modals then as main/side panel widgets.

[2020-01-11 19:35] Madhu94 commented on #7757
I'll take a look at this.

[2020-01-11 21:18] Juan-132 opened #7773 "Improvement to default light theme: light grey border around Jupyter document"
Improvement suggestion:
Change the hard grey border around the Jupyter document, to the same light grey used as for inactive tabs. Please see a mock-up attacked ('new.png').

I believe this would make the GUI less cluttered and give it a more 'web 2.0' feeling.
It would also mean that:
* The GUI would be more consistent. Inactive icons on the 'left statusbar' also have the same color as the backgr

[2020-01-11 21:22] jasongrout commented on #7773
CC @tgeorgeux

[2020-01-11 21:31] jasongrout commented on #7773
You could also write a custom theme to effect that change. That color can be changed by setting the `--jp-layout-color3` theme color.

[2020-01-12 04:31] yt87 commented on #7095
My solution was to uninstall jupyterlab and remove directory `~/miniconda/envs/env-name/jupyter`.
Then I reinstalled jupyterlab and jupyterlab_vim using Extension Manager. Vim bindings work so far.
I have another system with identical environment, upgrades did not break it.

[2020-01-12 05:35] himabindu2326 commented on #7669
I'm getting the same error

[2020-01-12 07:37] ThomasAJ05 commented on #3506
chucknotech no good for me. I received a 'forbidden' when trying to duplicate.

1. Is anyone working on this problem - I cannot tell from the posts here. (Issue opened 2 years ago)
2.  I wasn't doing anything 'fancy' - just working on a not very long notebook with ALL resources on my laptop. Windows 10 and Chrome.
3. Luckily I copied each cell to notepad so I could recreate the notebook..
4. Shoul

[2020-01-12 08:55] highwindmx commented on #6941
jupyterlab: 1.0.7

Firefox shows error:
**`SyntaxError: JSON.parse: expected property name or '}' at line 2 column 6 of the JSON data`**

[2020-01-12 09:56] hzfmer commented on #7562
@Azurewyl, I didn't found this file in my Anaconda directory..

This HTTP 500 Error just broke my Extention Manager, while the Jupyterlab works fine. It is annoying though I can only see "Error: 500 (Internal Server Error)" when I use the web extension manager.

I tried to reinstall Jupyter through Conda, which doesn't work supprisingly. Any ideas to fix this?

[2020-01-12 10:44] Madhu94 commented on #6944
@ibdafna Sorry, I missed the replies to my question. Still interested in picking this up if you haven't or helping to push this along if you have.

[2020-01-12 11:04] enriqueartal opened #7775 "jupyterlab 2.0.0b3 does not start with jupyterhub"
I have tried version 2.0.0b2 in several computers. If I launch it directly it does not start, the browser asks for waiting or cleaning workspace; in both cases the page stays with jupyter lab logo, no logs indicate the problem even with the option --label.
In other computer, which uses jupyterhub, it complains about not finding labhubapp module. No problems when using 2.0.0a2 in all those computer

[2020-01-12 14:31] chucknotech commented on #3506
Not sure what your exact issue is. My previous solution was just quick and dirty. You have to consider what your environments are. For example, my problem was related to tornados. I uninstalled Anaconda and reinstalled the same and most of the problems were solved. If you want to test out without the uninstall and reinstall, here are few solutions at the Anaconda prompt:
a. pip install tornado --5

[2020-01-12 15:46] lorenzznerol commented on #3506
F5 is all you need, please see my comment in summer 2019. I do not know why I was downvoted for this, as it clearly worked for me, and one other person could confirm this as well. It could be that there were downvotes from people who did not try it, because they did not leave any comments. I cannot guarantee that F5 is always working, of course, but it rather seems that there are downvotes without

[2020-01-12 17:47] edurenye commented on #6727
I had this issue on Ubuntu 19.10 as well.

[2020-01-12 17:48] krassowski commented on #6650
Recently there was [a question on Stack Overflow](https://stackoverflow.com/q/59498649/6646912) asking how to use the Find & Replace function. The asker even thought that it might have been removed. I added an answer, but it highlights that we need to increase discoverability.

Some quick ideas:
- have the replace bar part expanded by default (or maybe only the first time the user opens it?)
- ren

[2020-01-12 17:55] krassowski commented on #7230
Just here to say that it would be very nice to allow extension developers to have at least a week from the `extension migration guide` publication to the 2.0 release (or maybe plan it this way for the next release).

Also, it might be nice to have a post on team-compass once the guide is available. And thank you for all your amazing work here!

[2020-01-12 18:39] #7753 closed

[2020-01-13 07:34] zwwi commented on #7095
I had the same issue. I managed to make it work by removing the file `/jupyter/lab/settings/build_config.json`, and then rebuilt.

[2020-01-13 10:05] jasongrout opened #7776 "Cannot override the default rendered viewer"
In https://github.com/jupyterlab/jupyterlab/pull/6813, @ian-r-rose wrote a nice setting for overriding the default editor for a file. This is used in preferredWidgetFactories to allow a user to control a default editor for the file: https://github.com/jupyterlab/jupyterlab/blob/57cd4545b93606177950e7189d03394b26c63b0c/packages/docregistry/src/registry.ts#L334-L339

However, this override is *not*

[2020-01-13 13:44] wolfv opened #7777 "JupyterLab build:dev:minimize is untrue"
For a long time, I was assuming that the `build:dev:minimize` step would minimize the resulting JLab build -- until recently I found out that it's not normal to have a 20Mb build of JLab.

I think especially for people who deploy with proprietary extensions enabled it would be a great help :)

[2020-01-13 13:48] jasongrout commented on #7777
CC @telamonian, who explained to me once when I was also confused about this that linking an extension automatically uses a dev build, which means minimization is turned off, despite it claiming to be a `build:dev:minimize` build.

[2020-01-13 14:14] wolfv commented on #7777
I just discussed in person with Jason and he told me that `jupyter labextension install .` actually _links_ the extension. _Linking_ in turn turns on the dev build ... so that is rather confusing.

[2020-01-13 14:23] jtpio opened #7778 "Kernel selection dialog style issue"
The down arrow in the kernel selection dialog is a bit off.

![image](https://user-images.githubusercontent.com/591645/72262883-1654e980-3618-11ea-98fc-a22dc7fd2ff7.png)

This is from the latest `master` (57cd4545b93606177950e7189d03394b26c63b0c)

[2020-01-13 14:28] jtpio commented on #7777
Isn't it possible to enforce a `prod` build by using the `dev-build` option?

[code]

[2020-01-13 14:35] jtpio commented on #7770
@carlskii it is possible to embed existing React components in a JupyterLab extension.

There is some documentation here about using React in JupyterLab: https://jupyterlab.readthedocs.io/en/latest/developer/virtualdom.html
And a "ready-to-use" example here to quickly get started: https://github.com/jtpio/jupyterlab-extension-examples/tree/master/react/react-widget

Could that work for your use ca

[2020-01-13 14:55] unnir commented on #6884
the same issue

[2020-01-13 16:29] telamonian commented on #7777
If you have a locally linked extension (eg one installed with `juptyer labextension install .` or `jupyter labextension link .`), then the default build is `build:dev:minimize` instead of `build:prod:minimize`. Currently, the `minimize` step in `build:dev:minimize` is a no-op.

Here's the original discussion of this feature: https://github.com/jupyterlab/jupyterlab/pull/6839#issuecomment-512611010

[2020-01-13 16:31] telamonian commented on #7777
@blink1073 `link` and `install` do different things now, right? What are the actual different behaviors?

[2020-01-13 16:53] blink1073 commented on #7777
We had made `labextension install .` use a link because in most cases a local folder is in development mode for the user.  Installing from npm or a tarball results in a regular install.

[2020-01-13 17:01] #7484 closed

[2020-01-13 17:03] #7757 closed

[2020-01-13 18:01] wolfv commented on #7777
To be honest, this seems like a bit too much magic -- `install` and the `dev:minimize` are definitely  confusing.

I would propose to get rid of the dev:minimize and teach people to properly use `link` if they want to `link` and `install` if they want to install. Or introduce a third command for `devinstall`?

Maybe I can get around to add at least a page on the docs to document the current behavi

[2020-01-14 01:23] isabela-pf commented on #7714
I looked through the docs and don't see any instances where Phosphor is still being used except for the changelog where it makes sense to preserve the original name. I think this issue can be closed.

[2020-01-14 01:52] #7714 closed

[2020-01-14 01:52] afshin commented on #7714
Cheers @isabela-pf!

[2020-01-14 10:51] jtpio commented on #7230
Does such guide already exist, or is it usually part of the changelog? (so we could start adding some items to it)

[2020-01-14 11:13] vidartf commented on #7663
I think you can assume not, if you want to contribute this 😃

[2020-01-14 11:16] vidartf commented on #7171
If someone else gets this error, it would be very helpful if you could go through the diagnostics guide linked by Jason above. The more obscure logs we have access to, the more likely we will be able to properly find the cause of the issue.

[2020-01-14 11:35] DrNickBailey commented on #5741
from @philippeller

^^ I've been doing this manually for a while, but would like to run this programatically as on Sagemaker the settings are reset every time the instance is started. Is there a location where the advanced user settings are saved?

[2020-01-14 11:49] carlskii commented on #7770
Excellent, thanks I will take a look.

[2020-01-14 12:10] vidartf commented on #7649
I think this was a know issue in lab 0.35. Can you try 1.x ?

[2020-01-14 12:13] vidartf commented on #7668
Try running `jupyter lab clean` and then `jupyter lab build`. Are there any errors in the build step? If so, can you share the log file (or run with the `--debug` flag to see debug info directly in console).

[2020-01-14 12:19] vidartf commented on #7698
We would need a bit more information to be able to troubleshoot this.

[2020-01-14 12:19] #7698 closed

[2020-01-14 12:22] #7710 closed

[2020-01-14 12:27] vidartf commented on #7394
@westurner Do you want to do a PR? :)

[2020-01-14 12:29] vidartf commented on #7683
Thanks! Closing then 👍

[2020-01-14 12:29] #7683 closed

[2020-01-14 13:01] carlskii commented on #7770
Whats the best way to install the @jupyterlab/apputils extension? It doesn't appear in the extensions manager.

I also tried following the instructions here: https://github.com/jtpio/jupyterlab-extension-examples/tree/master/react/react-widget

However `jlpm build` does not seem to be a valid command.

[2020-01-14 13:26] jtpio commented on #7770
`@jupyterlab/apputils` is a dependency for the extension that is defined in the `dependencies` section in `package.json`, that should be installed after running `jlpm`.

JupyterLab should be installed first so the `jlpm` command is available.

If this is specific to the [react-widget](https://github.com/jtpio/jupyterlab-extension-examples/tree/master/react/react-widget) example we can also move th

[2020-01-14 13:29] carlskii commented on #7770
Thanks - Will the coming Jupyterlab 2.0 provide easier/better support for including a React APP within Jupyter?

[2020-01-14 13:37] vidartf commented on #7739
We are using yarn under the hood to install lab extensions, so you might have some luck looking for such an option for it?

[2020-01-14 13:52] jtpio commented on #7770
For 2.0 the API should be the same as 1.0 when it comes to using React components with the `ReactWidget` wrapper.

[2020-01-14 14:13] carlskii commented on #7770
OK so I did this:

[code]

However the 'build' command still does not appear to be there.

[2020-01-14 14:28] jmercier-lbi opened #7783 "jupyterlab handler for post rename notebook"
I Would like to know if jupyterlab expose a handler for post `rename` file as it does for `save` with the handler named `post_save` ?

Thanks

[2020-01-14 15:29] jtpio commented on #7770
And with `jlpm run build`?

[2020-01-14 15:32] kklocker commented on #7668
I tried building, but got some errors. Here is the command line output:
<details><summary>Command Line Output</summary>
[LabBuildApp] Building in C:\Users\KarlKristian\Anaconda3\envs\myenv\share\jupyter\lab
[LabBuildApp] NodeJS was not found. Yarn user configuration is ignored.
[LabBuildApp] Traceback (most recent call last):

[LabBuildApp]   File "C:\Users\KarlKristian\Anaconda3\envs\myenv\lib\si

[2020-01-14 15:52] carlskii commented on #7770
Exactly the same error.

[2020-01-14 16:07] Madhu94 commented on #4903
Do we still want this?

[2020-01-14 16:41] jasongrout commented on #4903
I still think it would be fun to try, and interesting to benchmark against the string implementation, but the need is less now that Firefox supports strings that are gigabytes in size (instead of several hundred megabytes before).

[2020-01-14 16:42] jasongrout commented on #4903
I would say it is a low or very low priority, but a fun thing to do if someone is interested.

[2020-01-14 16:43] Zsailer commented on #7714
Thanks, @isabela-pf!

[2020-01-14 17:52] afshin commented on #7230
I would like to write a blog post to help users with this. It's on my agenda for this week ... hopefully.

[2020-01-14 17:56] saulshanabrook commented on #7230
@jtpio I believe we have put it as part of the changelog in the past (https://jupyterlab.readthedocs.io/en/stable/getting_started/changelog.html#extension-development-changes), so any PRs to add to it would be welcome!

[2020-01-14 18:02] dLamSlo8 commented on #6510
Should we close this issue? Its development seems to have moved to the issue mentioned above.

[2020-01-14 19:18] vidartf commented on #7668
The errors say that `node` could not be found. Did you install it in your conda env?

[2020-01-14 19:41] RobinCPC commented on #7669
I have the same error. I install `Anaconda3-2019.10-Windows-x86` in Windows 7 32-bit system.
I find a way around:
First, open `jupyter notebook` from Anaconda Prompt.
Then, change url from `http://localhost:8888/tree` to `http://localhost:8888/lab`

I can run my notebook file in lab, but not sure if everything work normally.

Hope this can help.

[2020-01-14 19:53] jtpio commented on #7770
Are you in the right directory?

[code]

[2020-01-14 19:56] jtpio commented on #7230
Thanks @saulshanabrook, that looks like a good place to put the list of changes.

[2020-01-14 21:48] tgeorgeux commented on #7773
@Juan-132 Thanks for the high-quality design submission. I can't even begin to tell you how helpful it is to show mockups and also explain your thought process.

I don't actually think the suggestion is in line with the mental model we're trying to communicate. A couple bits of background information:
- The 'border' isn't so much a border as a background color.
- The conceptual model we have is: "

[2020-01-15 03:52] agbaum commented on #7429
Hi I'm new and would like to work on this!

I'm having a little trouble, however. If I understand correctly I need to be running in devmode to run the code I've edited, but the Extension Installer is disabled in devmode, which means I can't actually test the problem. How do I run in devmode without turning of the Extension Installer?

Thanks!

[2020-01-15 09:17] kklocker commented on #7668
So i ran
`conda install nodejs` and tried building again (after cleaning). It didn't work, it is still the same problem.
<details><summary>Command Line Output</summary>
<pre>
(myenv) C:\Users\KarlKristian>jupyter lab build --debug
[LabBuildApp] Searching ['C:\\Users\\KarlKristian', 'C:\\Users\\KarlKristian\\.jupyter', 'C:\\Users\\KarlKristian\\Anaconda3\\envs\\myenv\\etc\\jupyter', 'C:\\ProgramDat

[2020-01-15 14:15] Madhu94 opened #7785 "Add a workspacesChanged signal"
Is there some way to detect addition/removal of workspaces?

[2020-01-15 16:02] #7762 closed

[2020-01-15 23:33] dLamSlo8 commented on #7429
Hi, sorry for the inconvenience @agbaum . I started on this issue yesterday but didn't see this comment until I just merged a possible solution now.

[2020-01-16 11:31] carlskii commented on #7770
Doh - OK. Got it thank you. I was in the project root. That works.

[2020-01-16 11:31] #7770 closed

[2020-01-16 11:33] jtpio commented on #7770
No problem, thanks for checking.

Feel free to open an issue in https://github.com/jtpio/jupyterlab-extension-examples if you have more questions about that particular example.

[2020-01-16 16:25] jamsden opened #7788 ".dataframe class overrides are not being applied in notebooks opened in JupyterLab"
## Description
In jupyter notebook, I used the following styles to control DataFrame display:
[code]
This seems to be ignored when using jupyter lab.

## Reproduce
Create a notebook and include the %%html above.
Create a sample DataFrame df
Error: the .dataframe class changes are ignored by jupyter lab, but used by jupyter notebook

## Expected behavior
display(df) should follow the styles you set

[2020-01-16 16:50] Juan-132 commented on #7739
Thank for the tip @vidartf
I have tried updating the config files for both yarn and npm. But these changes have no effect, unfortunately. I found there are numerous users with this issue, it seems to be related to self signed certificates in a corporate environment.

[2020-01-16 16:51] jamsden commented on #7788
It appears that only the text-align property is being ignored.

[2020-01-16 16:52] jasongrout commented on #7788
The CSS and DOM structure has changed a lot between the notebook and Lab, and it is not expected that CSS tweaks would work across both environments (nor across other frontends). If it does work across both, you got lucky and it may not work in the future.

That said, you can open the browser debugger and try to diagnose what is overriding that specific styling to try to narrow this down further.

[2020-01-16 17:14] blois commented on #7044
Something to keep in mind is that a full completion list with documentation can be large enough that transferring it over a non-local connection can introduce significant overhead. A simple pandas dataframe completion returning all members w/ full documentation may be 50-100KB.

LSP includes the ability to provide the documentation only when needed via the [Resolve request](https://microsoft.githu

[2020-01-16 17:25] Juan-132 commented on #7773
Thanks fo your comment @tgeorgeux
I can see you clearly put a lot of thought into the design !

I can understand the need to clearly distinguish the left sidebar from the main code area, thats a good point you make. The same for the statusbar. In my mockup, this indeed is not clearly distinguishable.

I went to look for how other editors apply these principles, yet still achieve a very clean look

[2020-01-16 17:30] saulshanabrook commented on #7368
Yay! Thanks @bollwyvl for fixing this! https://github.com/jupyterlab/jupyterlab/pull/7381

[2020-01-16 17:30] #7368 closed

[2020-01-16 18:47] jamsden commented on #7788
I looked at the generated HTML and the table element has class=dataframe just like in jupyter notebook. All the other styles work on the table td element, only text-align doesn't work.

[2020-01-16 18:49] jamsden commented on #7788
I have not found any other way to control the style of DataFrame tables that use multi indexes. Stylers don't apply to multi index.

[2020-01-16 19:44] berkser commented on #6481
Any updates on this?

[2020-01-16 20:23] #6746 closed

[2020-01-16 20:52] jasongrout commented on #6481
No, I don't think anyone has worked on this. If anyone starts working on this, please post here to let the community and other potential collaborators know.

[2020-01-16 22:12] blink1073 commented on #7562
I'm not sure why `jupyterlab_vim` would get picked up as a core extension (I wasn't able to reproduce).  However, I was able to get an error when uninstalling `@jupyterlab/notebook-extension`.  I'll update this code to be more robust.

[2020-01-16 23:03] #7562 closed

[2020-01-17 05:15] saulshanabrook commented on #5908
https://github.com/jupytercalpoly/jupyterlab-richtext-mode

[2020-01-17 12:21] ticlazau opened #7793 "Jupyter labextension install issue"
Hello,

I try to install several labextension install that privious work but not with the latest version.

jupyter labextension install jupyterlab_tensorboard
An error occured.
UnicodeDecodeError: 'ascii' codec can't decode byte 0xf0 in position 23: ordinal not in range(128)
See the log file for details:  /tmp/jupyterlab-debug-mpueqhlx.log

more /tmp/jupyterlab-debug-mpueqhlx.log
Yarn configuratio

[2020-01-17 15:09] cossio commented on #2833
Awesome! Looking so much forward to this issue being fixed.

[2020-01-17 15:14] cossio commented on #6545
I think this can be closed in favor of https://github.com/jupyterlab/jupyterlab/issues/2833.

[2020-01-17 15:14] #6545 closed

[2020-01-17 15:17] cossio commented on #5382
Any updates on this?

I think many people are looking forward to https://github.com/jupyterlab/jupyterlab/issues/2833 being fixed, which if I understand correctly depends on this.

[2020-01-17 15:20] saulshanabrook commented on #5382
We have a plan here and it is moving forward. We are looking for more funding to support this work and are looking at applying for a CZI grant.

[2020-01-17 16:23] plynch-chwy commented on #6347
There is already a hot key for collapse/expand selected, so the toggle could switch the state of all cells. This is the current behavior of jupyter notebooks. Or could go a trickier route and use the state of the first selected cell and force all other highlighted cells to change to the first cells new state. Excel does this for things like bold:
![out](https://user-images.githubusercontent.com/40

[2020-01-17 19:12] kochargs opened #7795 "Jupyterlab 1.2.5 unable to browse desktop, downloads and documents"
I recently installed Jupyterlab and after i launch it, i am unable to browse contents of Desktop, Documents and Downloads. Every other directory that it lists, i am able to browse into except these three where majority of my work is. I can click on these three folders repeated but nothing happens.

Anaconda navigator 1.9.7
Jupterlab 1.2.5
jupyter notebook 6.0.2

However, jupyternotebook works perf

[2020-01-17 19:45] tgeorgeux opened #7796 "JupyterLab preliminary meeting with Kite about completions, and integration with JupyterLab."
Some members of the JupyteLab team had a meeting with the team at Kite, discussion the technical constraints of integrating Kite LSP, Completions, and eventually snippets into JupyterLab. These are the meeting notes:

JupyterLab <> Kite call, Jan 17 2020

Agenda
* Presentation from Kite on what an integration would look like from a user perspective.
* Discussion of surfacing an integration to user

[2020-01-17 20:44] kklocker commented on #7668
Is this a possible duplicate of #4662 ?
I both tried running
`jupyter-lab --generate-config` and reloading without cache as suggested in that thread. Neither worked.

I also tried installing from pip in a separate environment, and it didn't work either!

[2020-01-18 16:34] mpanighel opened #7797 ""Create new view for output" not working with bokeh plots output"
When using "Create new view for output" with a cell that outputs a Bokeh plot, it just doubles the plot in the original cell output. If a second "Output View" is created, the plot is tripled in the original, and so on...
The issue is the same as [this](https://stackoverflow.com/questions/56135643/create-new-view-for-output-in-jupyter-lab-does-not-work-for-holoviews) (with holoviews).

Other output

[2020-01-20 08:29] jtpio opened #7799 "Log console toolbar style issue"
Running JupyterLab from [master](f3550a540b5beeaf750ac5badb42b61bf4efdf3e), it looks like the log console toolbar has some styling issues with the alignment of the items and the clear icon:

![image](https://user-images.githubusercontent.com/591645/72679849-95806c80-3ab3-11ea-9dc2-febe1317db77.png)

[2020-01-20 10:23] Kabongosalomon commented on #5290
Was this issue solved?

[2020-01-21 04:48] JackWehr opened #7801 "Create clickable link to open local jupyter notebook in new jupyterlab tab"
I would like to output from a cell a clickable link to a jupyter notebook which opens in a jupyterlab tab.  This issue is somewhat similar to [#6235], however the link would be the output of a cell, hosted locally, and opened in a new jupyterlab tab as opposed to in an Iframe.

I have attempted:
`print(display(HTML("""<a href="%s">%s</a>"""%('http://localhost:8888/tree/Path/To/File.ipynb','Link'))

[2020-01-21 09:33] ggbhat commented on #7778
Issue is reproducible.
Since the select box is inside the dialog box and dialog box is flex container. Also the padding for label inside the **JP-dialog-body** is different from the other places like the one in Property Inspector.

[2020-01-21 11:46] b060149ee commented on #6727
I think this issue isn't specific to jupyter lab per se. I use a standalone version of voila and still face the same issue.

[2020-01-21 12:56] HashRocketSyntax opened #7802 "500 after uninstalling via Extension Manager"
After **uninstalling** the plotly extension using the **Extension Manager** UI my build failed. Thankfully, this was in a docker env.

Now I am having a similar issue on my machine after having uninstalled the tensorboard extension using the UI (screenshot and error message below).

It's like Jupyter is looking for the extension even though it was uninstalled - as if the uninstallation did not rem

[2020-01-21 12:56] cpoptic opened #7803 "[feature request] enable main viewer to be split into left/right panes for concurrent contextual help"
Enable contextual help to be displayed in one half of main viewer, next to the main notebook section, such that both can be viewed simultaneously without having to click the Contextual Help tab to switch to it and switch back to the notebook.

[2020-01-21 14:54] khof312 commented on #7476
Same issue. I hadn't connected it to the presence of an open search window though, thanks for the tip...that's helpful.

- Operating system and version: Windows 10
- Browser and version: Chrome 79.0.3945.117
- Jupyterlab version: 1.1.4

[2020-01-21 15:58] vidartf commented on #7739
Ok, thanks for the update. Please feel free to link to such other issues, so that others that encounter the same issue can follow the upstream issues for updates (if you know of any).

[2020-01-21 16:05] blink1073 commented on #7802
Hi @HashRocketSyntax, are you able to upgrade to JupyterLab 1.2.5 (`pip install -U jupyterlab`)?  It has a fix for this error.

[2020-01-21 16:09] jasongrout commented on #7778
Thanks for narrowing down the cause so specifically. Do you want to put in a PR?

[2020-01-21 16:16] jasongrout commented on #7803
We're talking about the window that pops up from the Help > Show Contextual Help menu item?

1. I agree it should split the current window when opening. I thought it used to do this?
2. You can always grab the tab and drag it to split the window: https://jupyterlab.readthedocs.io/en/stable/user/interface.html#main-work-area

[2020-01-21 18:10] saulshanabrook commented on #7670
Thanks for making a reproducible example here. I am tracking this down and I think some of the issue is that React has its own event bubbling system that [always executes after the doms](https://fortes.com/2018/react-and-dom-events/). There is an open PR to change this in React (https://github.com/facebook/react/issues/2043).

I will continue investigating how you can have a custom contextmenu ope

[2020-01-21 19:02] saulshanabrook commented on #7670
I thought maybe I could use React's capture event tracking to intercept the event before it gets to the bubbling phase (which is where JupyterLab's context menu is opened). However, even though React does allow you to listen to on the `capture` phase (by using the `onContextMenuCapture` prop), it actually seems to bind this to the browsers bubbling phase.

https://github.com/facebook/react/blob/e7

[2020-01-21 19:38] saulshanabrook commented on #7670
I was able to work around this by intercepting the native browser events in the React component, instead of using React's event system. I was able to get the inner callback to trigger and interrupt the event there before JupyterLab callback is triggered.

[code]

We can refactor this behavior to a hook:

[code]

Another way to resolve this issue would be fix the upstream React issue, which is on t

[2020-01-21 20:09] fonnesbeck commented on #7330
Is this the best place to get the issue addressed, or should I create another issue?

Seems like it would be worth having a config flag for restore, rather than having to hack the URL. This is a pretty dramatic environment setting to not be able to permanently disable it.

[2020-01-21 20:16] afshin commented on #7330
I changed this to a `help wanted` issue. It can be accomplished purely in Python, so hopefully someone who might not be inclined to work on front-end issues might want to work on this one.

[2020-01-21 21:16] jasongrout commented on #7330
To make this more precise, what should the option be named?

`jupyter lab --LabApp.clear_default_workspace=True`?

[2020-01-21 23:26] isabela-pf commented on #6263
It looks like the system override and how to use it has already been listed in the docs by @blink1073  under Extensions > Advanced Usage. I think this issue can be closed.

[2020-01-21 23:29] blink1073 commented on #6263
Thanks for the heads up @isabela-pf!

[2020-01-21 23:29] #6263 closed

[2020-01-22 01:22] HashRocketSyntax commented on #7802
@blink1073 Wahoo! Thank you. Progress.

Now the Extension Manager works again, but I am still getting a soft error.

![image](https://user-images.githubusercontent.com/16389820/72857226-03cb5780-3c8b-11ea-96ef-f26448638b2f.png)

[code]
I'll take a look what is in those files.

I tried using the UI to reinstall/ uninstall to see if it would overwrite the missing extension, but had no luck.

[2020-01-22 01:36] HashRocketSyntax commented on #7802
![image](https://user-images.githubusercontent.com/16389820/72858062-8fde7e80-3c8d-11ea-9590-5058e345db2b.png)

I think I found it. Although there are files in that `packages/.../notebook` directory, they are calling a config file in `~/.jupyter`

[2020-01-22 01:42] #7802 closed

[2020-01-22 08:52] ggbhat commented on #7256
@vidartf  @jasongrout  can anyone help me on this..

[2020-01-22 10:36] ggbhat opened #7807 "Main menu not closing when clicking on html viewer."
When the html viewer is active tab and open main menu click on html viewer area menu is not closing.

![menuissue](https://user-images.githubusercontent.com/4777119/72886975-c6210a00-3d30-11ea-8057-8b58008c00d4.gif)

Since the html viewer is IFRAME the parent dom event is not captured for main menu.

[2020-01-22 13:40] jtpio opened #7809 "Add kernel and session architecture diagram"
There is currently a good overview of the different kernel related concepts in the [services README.md](https://github.com/jupyterlab/jupyterlab/blob/master/packages/services/README.md#overview)

I wonder whether there could also be a diagram that explains how all the different components talk to each other. Maybe something similar to the one posted in https://github.com/jupyterlab/jupyterlab/pull

[2020-01-22 16:27] mlucool opened #7810 "UX: Some highlighting not cleared when changing cells"
## Description
When you leave a cell, the highlighted brackets are not cleared.

## Reproduce

![highlight](https://user-images.githubusercontent.com/1813603/72912622-e7bacb00-3d09-11ea-8a63-9e0545a9a4a5.gif)

## Context

- Operating System and version: Windows
- Browser and version: `Chrome 79.0.3945.130`
- JupyterLab version: `1.2.3`

[2020-01-22 18:01] #7799 closed

[2020-01-22 19:29] mikolajolszewski commented on #6727
I'm having this issue as well on MacOS Catalina. However, the worse thing is that if I shutdown JupyterLab while having few notebooks opened, after the error is generated, I cannot start jupyter lab again at all(!?), because it tries to load those files (stuck completely at startup). That's totally killing the workflow. Can anyone point out where does JupyterLab store the temp files responsible fo

[2020-01-22 20:09] mocquin opened #7811 "Default option when opening html file"
Hello there,

when opening a html file, the file is, by default, opened by displaying the rendered html, not the raw data. Is it possible to configure jupyterlab to open the document within the text editor by default ?

Cheers

[2020-01-22 21:33] mc51 commented on #6836
I still experience this with the latest version, i.e. 1.1.5
It's really frustrating, because scrolling through a notebook does not work properly anymore. The scrolling will keep "hanging" in code-cells. No way to smoothly scroll anymore.

[2020-01-22 22:06] Nayef-Abou-Tayoun opened #7812 "Scala: Kernel disconnected while running multiple Jupyter notebooks tabs"
The kernel for Scala doesn't run for multiple tabs in Jupyter notebook and the kernel gets disconnected. it is fine in running code ( tab) one at a time. To run the second code ( tab), the notebook page needs to be refreshed.

[2020-01-22 22:32] jasongrout commented on #6836
This is fixed in the soon-to-be-released JupyterLab 2.0.

[2020-01-22 22:32] #6836 closed

[2020-01-22 22:33] jasongrout commented on #7812
Can you elaborate (using the issue template as a guide) to give precise instructions to reproduce the issue, as well as relevant information about your system?

[2020-01-23 05:37] krinsman commented on #5620
Running for example (exports PDFs via HTML instead of TeX):

[code]

and then running Jupyter Lab, I don't see anything indicating the new bundler extension:

![Снимок экрана 2020-01-22 в 21 33 03](https://user-images.githubusercontent.com/31422259/72959316-d059fd00-3d5e-11ea-90b0-f6252a274d83.png)

As a sanity check I can confirm that the "Export as PDF" in the menu really does refer only to the

[2020-01-23 11:14] jtpio opened #7814 "Warning: componentWillReceiveProps has been renamed"
After switching over to React 16.9.x (https://github.com/jupyterlab/jupyterlab/pull/7661), we now get the following warning when opening a JSON file with the JSON viewer:

![image](https://user-images.githubusercontent.com/591645/72979798-6599d780-3dd9-11ea-8b40-390c088e3d2f.png)

This seems to be an issue with the `react-json-tree` package, which has been reported here: https://github.com/reduxjs

[2020-01-23 11:35] jtpio commented on #7814
Ideally this would be fixed upstream in https://github.com/reduxjs/redux-devtools, but it looks there hasn't been a lot of activity for the past year.

[2020-01-23 12:39] MatMaul opened #7815 "Please post this details on closed issue 4662"
Hi,

Can a maintainer comment on closed issue #4662 to specify that it is probably related to a bug in Chrome with self signed certs ?

More infos here:
https://stackoverflow.com/questions/58086327/google-chrome-neterr-too-many-retries
https://bugs.chromium.org/p/chromium/issues/detail?id=488043

Thanks !

[2020-01-23 15:19] mlucool commented on #7086
This was actually a Jupyter notebook feature that was not ported (note this showed the first N lines, not the last). I think it would make sense to build back in.

Example:
Notebook
![image](https://user-images.githubusercontent.com/1813603/72996899-793d4200-3dc9-11ea-8fac-cef5a3e64d9e.png)

Lab:
![image](https://user-images.githubusercontent.com/1813603/72996971-9b36c480-3dc9-11ea-9098-176ac748cb

[2020-01-23 16:01] fonnesbeck commented on #7330
Something along the lines of `restore_workspace=False` might be clearer, perhaps? What appears to be happening is the state of the workspace is being saved on exit, similar to what happens on VSCode, so I'm trying to override this.

[2020-01-23 16:22] agbaum commented on #7713
Is anyone else working on this? I'd like to take a stab at it.

Should it trigger in situations where the cell is empty, but just contains whitespace? And if so, should it do so in situations where the cell contains multiple empty lines, or just one line (which might have whitespace)?

From an implementation standpoint, does it make sense to mimic the implementation of pressing up at the top of a

[2020-01-23 16:30] afshin commented on #7330
The way I imagine implementing this could be to check for that option and
have the REST endpoints in the `jupyterlab_server` simply not save incoming
workspaces.

On Thu, Jan 23, 2020 at 4:01 PM Chris Fonnesbeck <notifications@github.com>
wrote:

[2020-01-23 19:34] saulshanabrook commented on #7468
@blink1073 I unfortunately missed our meeting yesterday and Max said you had figured some things about how we wanna proceed. Do you think you could summarize that here?

[2020-01-23 21:23] saulshanabrook commented on #4292
If we do end up re-writing the notebook in React and using windowing, we should make sure to take a look at the work @captainsafia did to try to add this nteract as well https://github.com/nteract/nteract/pull/4602

[2020-01-23 22:31] dhirschfeld commented on #7468
@bollwyvl mentioned [`snowpack`](https://github.com/pikapkg/snowpack) elsewhere which seems pretty interesting.

I don't have the experience to judge if it would be a good fit but I'd be curious why not (expert advice about what I should beware of before giving it a go! 😜 )

[2020-01-23 22:48] #7778 closed

[2020-01-23 23:16] Zsailer commented on #7429
Issue was solved in #7787. Thanks @dLamSlo8! Closing.

[2020-01-23 23:16] #7429 closed

[2020-01-23 23:57] blaylockbk opened #7816 "Additional key map option, (e.g. for VSCode)"
Hi,

I have become accustomed to the keyboard shortcuts in Visual Studio Code. Can the VSCode shortcuts be added as an options available in **Text Editor Key Map**? The VSCode shortcuts are so close to Sublime Text, but not quite the same. Or, is there a way to define my own key bindings for the text editor?

Thanks!

![image](https://user-images.githubusercontent.com/6249613/73030051-a3086000-3de

[2020-01-24 06:37] ggbhat commented on #7552
I would like to work on this.

[2020-01-24 09:09] pawadski commented on #7713
**From user perspective** I would appreciate only empty or whitespace blocks to be removed this way, _unless_ there is an undo for this operation.

[2020-01-24 15:41] saulshanabrook commented on #7670
After some reflection, I have come up with a slightly more complete solution. In our custom context menu, we can use React DOM's testing utils to dispatch a custom react event to the target node for the event. This means any children of that node that use `onContextMenu` will be dispatched correctly:

[code]

It might make sense to add `useNoDefaultContextMenu` to JupyterLab core to make it easy f

[2020-01-24 16:26] krinsman commented on #7663
xref: https://github.com/yuvipanda/nbresuse/issues/17
https://github.com/yuvipanda/nbresuse/pull/22

[2020-01-24 16:58] blink1073 commented on #4662
@ MatMaul offered this advice in #7815:

https://stackoverflow.com/questions/58086327/google-chrome-neterr-too-many-retries
https://bugs.chromium.org/p/chromium/issues/detail?id=488043

[2020-01-24 16:59] #4662 closed

[2020-01-24 16:59] blink1073 commented on #7815
Thanks @MatMaul, done!

[2020-01-24 16:59] #7815 closed

[2020-01-24 17:08] krinsman opened #7818 ""Merge" NBResuse into JupyterLab by making psutil the optional dependency instead of NBResuse?"
Would it:
    (1) be possible
    (2) make sense
to "merge" (in some sense) NBResuse and [JupyterLab-CpuStatus](https://github.com/tslaton/jupyterlab-cpustatus) (Lab extension that exploit's NBResuse's CPU monitoring capabilities for JupyterLab)

_after_

Successfully making `psutil` an optional dependency of NBResuse? (I.e. have it "do nothing" in the way expected by JupyterLab's status bar if `p

[2020-01-24 21:01] jasongrout commented on #7818
Just to clarify, nbresuse tells us various stats about the JupyterLab server, right, not about individual kernels? So if the kernels are on the same computer as the server, it's useful for inferring the resources available for new kernels, but if kernels are on a different computer from the server, it's not so useful? Or is there a compelling usecase for knowing the resources used by the server, r

[2020-01-24 21:32] mlucool opened #7821 "Shift Tab in Editor"
## Description
`tab` works as expected in the text editor, but `shift-tab` does not.

## Reproduce
Open a file like `foo.py` to use the text editor. Push `tab` and it will indent. Push `shift+tab` and it will not dedent.

## Expected behavior
This should work identical to notebook cells (i.e. `shift+tab` should dedent).

## Context

- Operating System and version: Windows
- Browser and version: Ch

[2020-01-24 21:39] mlucool opened #7822 "Focus issues when deleting a cell"
## Description

When deleting a cell in the middle of a notebook with a large amount of output, the focus jumps incorrectly. The current active cell is not in focus and instead it scrolls to the bottom.

## Reproduce
This gif is a contrived example, but shows off the issue. You need to scroll somewhere in the output for this bug to be triggered. I would have expected the cell below the one that wa

[2020-01-24 22:53] ian-r-rose commented on #7821
This is a bit subtle, but I believe that it currently works as expected. Tab completions can get completions from both the kernel and from the tokens in the text editor. When a python file has a kernel attached to it, it gets both, but when it has no kernel it only gets the latter. I suspect this is what you are seeing with <kbd>Tab</kbd> completions.

However, the <kbd>Shift</kbd>+<kbd>Tab</kbd>

[2020-01-24 23:28] randy3k commented on #4519
For future users, there is [jupyterext-text-shortcuts](https://github.com/ryanhomer/jupyterext-text-shortcuts)

[2020-01-24 23:33] kanekalla commented on #7740
It was because of a chrome extension that I added , uninstalled and it's working fine now.

[2020-01-24 23:33] #7740 closed

[2020-01-25 14:39] ggbhat opened #7823 "Fix for html refresh does not work (for reveal js only?) #7552"
**References**
Fix for [#7552](https://github.com/jupyterlab/jupyterlab/issues/7552)

**Code changes**
As @jasongrout suggested added dirty check and reload from disk instead of just reassigning the content url for iframe in htmlviewer.
Also added dirty check for reload from disk logic so that confirmation dialog will be shown only if the current context model is dirty.

**User-facing changes**
No

[2020-01-25 14:47] #7823 closed

[2020-01-25 17:47] krinsman commented on #7818
At least in theory, my understanding is that nbresuse tells us whatever `psutil` tells us. Since there doesn't seem to be any way to distinguish between the various kernels based on their process name (e.g. IPython kernels all seem to be named `python`), the information about the resources used by all of them is aggregated. (So if that's what you mean by nbresuse not telling stats about individual

[2020-01-26 07:58] hexagonrecursion commented on #7606
Had the same issue with node from my distro
[code]
Installed node from conda-forge
[code]
Now
[code]
runs fine

[2020-01-26 12:38] cossio opened #7825 "Remove a cell from evaluation queue"
## Feature request

As far as I can tell, in order to remove one cell from the evaluation queue, the only option is to completely interrupt the kernel (stopping all evaluations, not just the cell of interest).

It would be nice to have the ability to interrupt computation only on the currently running cell (and automatically moving on to the next cell in the evaluation queue), and also to be able

[2020-01-26 18:37] enriqueartal commented on #7775
Solved in 2.0.0b3

[2020-01-27 11:38] remborg opened #7826 "Allowing extensions at the bottom"
Hello,
I'm building an extension and I wonder if it is possible to have it at the bottom instead of the side bar?
Somethink like this:
![bottom extension](https://user-images.githubusercontent.com/9395250/73171561-ed912180-40f8-11ea-9365-997d5a99f4ff.png)

I've tried shell.add(mainWidget, 'bottom') but this is not giving me the expected result. I get my widget added to the bottom toolbar and that'

[2020-01-27 20:02] agbaum commented on #7713
I agree that it doesn't make sense to do it for cells with actual text in them. I was more wondering if it should it happen for a cell that has whitespace in it.

[2020-01-27 20:35] atronchi commented on #6910
FWIW, I've experienced this issue as well on jlab 1.0.3 and the worst of it is when you're waiting for cell output and lose network connectivity. In classic jupyter, we could use 'reconnect to kernel' in such cases after restoring the network connection and the cell output would be retrieved if it completed since losing the connection. In jlab, it doesn't seem possible to recover the cell output o

[2020-01-27 21:21] markellekelly commented on #7547
The file browser tooltip should be fixed as of #7781. Should another issue be opened for commands to open the remaining side panels?

[2020-01-27 21:24] bkusenda commented on #6910
+1. This is happening to me as well in Jupyterlab 1.1.4 with Firefox on Ubuntu.

Summary of my experience with this issue:
Jupyter lab notebook does not reconnect to existing kernel on a remote server after the ssh connection is re-established. The notebook reports "No Kernel!" and the notebook does not execute any cells, however, I am able to save the notebook as usual. I can reconnect the the st

[2020-01-27 21:57] tgeorgeux commented on #7547
@markellekelly Yes please! a command to show/hide sidebars would be great. I would suggest the following:
Show/Hide left sidebar
Show/Hide right sidebar
Show/Hide both sidebars: (Default to showing both if toggled with one open one close, then close both only after both are opened.)

[2020-01-27 21:57] #7547 closed

[2020-01-27 23:28] markellekelly commented on #7745
Hi @paulo989! I was able to achieve these changes by changing two files. First, in the InputPrompt class in cells/src/inputarea.ts, set this.node.textContent to your desired text: https://github.com/jupyterlab/jupyterlab/blob/3cb64ca6885358e7f9623f518518bb3f9de017bc/packages/cells/src/inputarea.ts#L303
For example, this might look like ```this.node.textContent = `=>`;```
To CSS variable correspond

[2020-01-28 00:14] blink1073 commented on #7552
Fixed by #7824

[2020-01-28 00:14] #7552 closed

[2020-01-28 00:38] prncevince opened #7827 "How to set private NPM registry for JupyterLab installs?"
Hi, a user here. Looked into #7109 but I still have no idea how to implement it ...
Can someone explain the steps that a user may take to set a private NPM registry for JupyterLab installs?

@fcollonval's any thoughts? It seems as though the default NPM registry gets put into the JupyterLab build. So I'm assuming that setting the registry must take place before building JupyterLab ... but I could

[2020-01-28 02:54] jasongrout commented on #7547
Do you mean "Show Left Sidebar", with a toggled state that indicates if it is already showing? I think that's the pattern we've been using, rather than changing the title to "Hide..."

We don't have a good toggle mark for partly true. That would be the hard thing for both sidebars. Or perhaps "Show Both Sidebars" should just be true if both are actually shown? That way it always toggles the value,

[2020-01-28 08:28] ggbhat commented on #7811
I don't think as of now you can have any settings for setting editor as default option. Looking at the below code it looks first option is selected by default from the **preferredWidgetFactories** method
https://github.com/jupyterlab/jupyterlab/blob/643352189fbac92c96e57f0bbe3d2bc3e53cf090/packages/docregistry/src/registry.ts#L433
https://github.com/jupyterlab/jupyterlab/blob/643352189fbac92c96e57

[2020-01-28 08:46] ggbhat commented on #7811
Yes you can change the settings from advanced settings editor. Like below
[code]

[2020-01-28 10:45] ggbhat commented on #7760
Issue is due to the line height is being added for **pre** tag

[code]

Since **pre** preserves both spaces and line breaks we can set line height to normal.

[code]
If you look at https://nbsphinx.readthedocs.io/en/material-theme/code-cells.html#ANSI-Colors also the line-height is set to normal.

[2020-01-28 12:48] fcollonval commented on #7827
That is correct.

You need to set your private registry as yarn (jlpm) registry

[code]

Then execute the jupyter lab commands to install extensions.

Note:

- You can check that your configuration is correct by running

[code]

  In the `info yarn config` section, your private registry should be listed as `registry`.

- You can use `jlpm` instead of `yarn`.

[2020-01-28 13:37] kklocker commented on #7668
### UPDATE:
It finally works.  I ran `jupyter lab clean`, then manually deleted the `~/.jupyter` folder,  then  `conda install nodejs,` and then finally run `jupyter lab build`

[2020-01-28 13:58] jasongrout commented on #7668
It sounds like something was wrong in your settings in `~/.jupyter`, then. Thanks for updating on what worked for you.

[2020-01-28 13:58] #7668 closed

[2020-01-28 15:28] t1nux opened #7829 "autocomplete (dot-tab) not always working in the same cell where variable is defined"
## Description

If a variable is defined in a cell, and the cell is executed, that variable does not always have a working auto-complete functionality if you try to auto-complete in the same cell were it was defined. This **does** work (ie. no bug) for instance for `str`, but not for a `numpy.array` and in my experience almost all other types.

I know this used to work in notebook, but that was qu

[2020-01-28 17:19] prncevince commented on #7827
Thanks for the answer. However, I believe this does not work, at least for JupyterLab 1.2.4.

Steps I took:
`jlpm config set registry http://my.private.npm.repository --global`
`jupyter labextension install @jupyter-widgets/jupyterlab-manager`

Didn't work, out. I also tried this:
`jlpm config set registry http://my.private.npm.repository --global`
`jupyter lab build`
`jupyter labextension install

[2020-01-28 17:31] tgeorgeux commented on #7547
I think that sounds great @jasongrout I was addressing the functionality only.

From a user's perspective, the same hotkey combination should toggle whether the left is shown, the same for the right side and for both sides. I agree that one open one closed should throw a 'false' on showing both sidebars.

[2020-01-28 18:07] markellekelly commented on #7547
Since the file browser and command palette both have keyboard shortcuts to open their own panel, should other panels (e.g. cell tools, running) have their own commands as well?

[2020-01-28 18:13] dLamSlo8 commented on #7527
Upon looking into this issue, I found that this is a result of how markdown is parsed and sanitized in JupyterLab. This is what the markdown looks like in HTML when it's parsed:
[code]
The markdown parser detects two line breaks as a paragraph ending and a new one beginning, as seen with the line between 'Yada yada...' and 'Here is some...',  so the <details> tag is unable to close properly. The p

[2020-01-28 18:39] mocquin commented on #7811
I feel stupid not thinking to check the advanced settings...
Works like a charm ! Thanks a lot !

[2020-01-28 18:39] #7811 closed

[2020-01-28 18:56] DancingQuanta commented on #6163
Hi, any progress on this?

[2020-01-28 21:36] bentkibler commented on #7818
I agree with @krinsman : in my use case (a JupyterHub deployment, with containers for each single-user server), the kernels and the single-user Jupyter server run in the same container instance.  So the existing nbresuse logic of summing all child processes works perfectly.  Even in the context of viewing a single notebook, it’s useful to know the overall memory usage (even it’s from other kernels

[2020-01-28 22:31] Madhu94 commented on #6944
As an update, in case anyone's interested, I've also started working on a workspaces extension in userland. I'm facing minor roadblocks (like #7785). I'll update once I'm done.

[2020-01-28 22:43] afshin commented on #6944
@Madhu94, awesome! I'm glad you are taking this up!

[2020-01-28 23:04] afshin commented on #7785
We don't have a persistent websocket to the workspaces API, it's just REST calls and I think for functionality like this, you can get away with just REST calls. I would suggest using a `Poll` instance that queries for the list of workspaces and have a manual refresh button the same way we have with the running kernels sidebar extension.

[2020-01-28 23:29] duichwer opened #7831 "jupyter lab build fails with [Errno 13] permission denied on WSL"
## Description
After the command `jupyter lab build` I receive the following error

[code]

Log file:
[code]
## Reproduce

1. I created a new venv with poetry with package jupyterlab
2. I added the jupylab extensions for plotly, user-logging and git with --no-build
3. Execute jupyter lab build

## Expected behavior

Build dependencies

## Context

- Operating System and version: Windows 10 with WS

[2020-01-28 23:35] jasongrout commented on #7831
Thanks. I'm assuming that for some reason `/mnt/d/User/testuser/folder/folder/.venv/share/jupyter/lab/staging/templates` does not have write permission, like the error message says? Do you know why that might be?

[2020-01-28 23:44] duichwer commented on #7831
No I have no idea. Especially I can touch a file from the bash console in this folder. (as proposed in the issue https://github.com/jupyterlab/jupyterlab/issues/5233)

I checked the permissions and the SYSTEM has write permissions.
Another normal user does not have permissions, but I thought that WSL uses the SYSTEM for access rights?
![image](https://user-images.githubusercontent.com/16852427/733

[2020-01-28 23:47] jasongrout commented on #7831
Good question that I have no idea about. CC @ivanov, who might know about WSL and venv, or may otherwise help shed light on this.

[2020-01-29 01:30] codeisnotcode commented on #5741
Absolutely, permanently, thoroughly kill auto-bracket, and then burn its code, and widely distribute the ashes so no one ever _even thinks_ of reconstructing it.

Full disclosure - I was the OP on the the same complaint for Jupyter Notebook entitled: "can't disable autoclose brackets - I swear those extra closing brackets are stalking me!"
https://github.com/jupyter/notebook/issues/2040#issuecomme

[2020-01-29 03:34] heayoungsuh commented on #7298
Out of curiosity, Have you found a fix for your problem? I am having the same problem when building in a docker container.

[2020-01-29 05:10] ggbhat commented on #7542
Issue can be closed. Fix has provided https://github.com/jupyterlab/jupyterlab/pull/7828

[2020-01-29 09:02] fabiencelier commented on #7542
Thank you !

[2020-01-29 09:03] haraldschilly commented on #7298
@heayoungsuh no, I gave up on this. IMHO something is fundamentally off with the build step (at the level of which "webpack" or "yarn" version is used, or whatever)

[2020-01-29 11:49] meeseeksmachine commented on #7793
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/cant-install-any-extensions-ascii-codec-cannot-decode-byte/2044/5

[2020-01-29 11:52] vidartf commented on #7793
This seems weird. The sub-process code should be creating `subprocess.Popen` with the default value for `universal_newlines` and `encoding`, which should prevent Python from trying to decode anything as ASCII.

I see two things to try here:
- Are you able to test if this works with Python 3.7?
- Can you share the value from `npm config get unicode`? Can you try setting it to `false` with `npm conf

[2020-01-29 11:55] vidartf commented on #7797
Would you mind cross-posting this onto holoviews repo so they can also be made aware of this? Or linking such an issue here if it already exists?

[2020-01-29 11:59] vidartf commented on #7801
If you are able to do it in a markdown cell, maybe you will have some luck using the `Markdown` output type?

[code]

[2020-01-29 12:33] vidartf commented on #7256
The most direct, but least "stable" (as it is not a part of an API) is to simply patch this file in your deployment: https://github.com/jupyterlab/jupyterlab/blob/master/jupyterlab/staging/package.json

A larger effort would be to build another Python app on top of the lab apps, that modifies the `CoreConfig` object as phoila does: https://github.com/vidartf/phoila/blob/master/phoila/commands.py

[2020-01-29 12:40] vidartf commented on #7809
I think this is still accurate in explaining how things are in the most common case in lab, but @jasongrout  would have to confirm.

[2020-01-29 12:51] vidartf commented on #7821
@ian-r-rose The way I'm reading this issue it is about using (shift) tab for indenting/dedenting, not completions. Is the indentation behavior related to the completion state somehow?

[2020-01-29 12:54] vidartf commented on #7826
I'm not following. Could expand a little more on what you were expecting, and what was the actual behavior?

[2020-01-29 12:59] vidartf commented on #7086
@mlucool As @wallneradam pointed out, right-clicking on the left of the cell and selection "Enable scrolling for outputs" will show the partially collapsed view (so, the feature from classic notebook was ported). Showing the N last lines is the part that is requested (and which there exists an extension for).

[2020-01-29 13:03] vidartf commented on #7829
Confirmed on binder.

[2020-01-29 13:14] vidartf commented on #7527
Thanks for looking into this @dLamSlo8 . So, awaiting a proper fix, a workaround is simply to put the `<details> tag in a separate paragraph. Thanks!

[2020-01-29 13:23] #7542 closed

[2020-01-29 14:02] jasongrout commented on #7298
Indeed it should be installed for when it is needed (as of #5775, which was pre-1.0). We require it as a dependency [here](https://github.com/jupyterlab/jupyterlab/blob/3cb64ca6885358e7f9623f518518bb3f9de017bc/dev_mode/package.json#L85) and [here](https://github.com/jupyterlab/jupyterlab/blob/3cb64ca6885358e7f9623f518518bb3f9de017bc/jupyterlab/staging/package.json#L85).

[2020-01-29 14:05] jasongrout commented on #7298
Hmmm, perhaps we need to use npx run or something like that, to make sure we have the right paths? Can we try again with JupyterLab 2.0, coming out very soon?

[2020-01-29 14:16] jasongrout commented on #7809
The "ClientSession" is now "SessionContext", but other than that, I think it is still essentially accurate. I suppose it's a little confusing that SessionConnection contains KernelConnection, but SessionContext is off to the side. In reality, SessionContext has a reference to a SessionConnection (or null), which in turn has a reference to a KernelConnection (or null). Thanks!

[2020-01-29 14:19] jasongrout commented on #7809
And I suppose all the "WS Bridge" boxes should be inside a "Jupyter Server" box to indicate that they are part of the server.

[2020-01-29 14:21] jasongrout commented on #7821
For compatibility with the classic notebook, pressing shift-tab in a place where completions are valid is supposed to bring up a more extensive help than just pressing tab. Pressing shift-tab at the start of a line (or perhaps anywhere in the whitespace indent at the start of a line), or pressing shift-tab when text is selected, should dedent, IIRC.

[2020-01-29 14:32] jasongrout commented on #7527
It sounds like the real issue is either in the markdown parser (closing that `<p>` tag), or in the Markdown spec itself. Sounds like the next step would be opening an issue in the markdown parser, however it may be that the answer there is: that's the markdown spec.

Using Markdown with HTML tags is a bit tricky in exactly this sort of case, in my experience, and you just have to work around the a

[2020-01-29 14:36] jasongrout commented on #7527
Note the commonmark reference parser also shows this issue: https://spec.commonmark.org/dingus/?text=Yada%20yada%20yada%20%3Cdetails%3E%3Csummary%3ENote%201b%3C%2Fsummary%3E%0A%20%20%0AHere%20is%20some%20exposition%20that%20elaborates%20on%20what%20I%20just%20wrote.%0A%3C%2Fdetails%3E%0A%0AThis%20chapter%20gives...

[2020-01-29 14:40] ian-r-rose commented on #7821
@vidartf you are right, my mistake, disregard the above.

[2020-01-29 15:17] JackWehr commented on #7801
Wow, that seems like it would work very well! Thank you, I can't believe I missed that solution. I'm having an unrelated problem while trying to run code at the moment, but I'll verify this works and close the issue when I am in a position to give it a try.

[2020-01-29 15:25] sbonaretti commented on #7358
Hi,

Similar issue here. I need to list the files in a folder of a mounted volume in MacOS Catalina.

I start Jupyterlab from Anaconda and I type:
`print(os.listdir("/Volumes/my_folder"))`, I get the error `PermissionError: [Errno 1] Operation not permitted: '/Volumes/my_folder'`
However, when I try:
- `print(os.path.isdir("/Volumes/my_folder"))`, I get `True`, i.e. that's a directory
- `print(os.

[2020-01-29 16:24] ggbhat commented on #6010
I would like to work on this. @ian-r-rose  can you provide some KaTeX or LaTex example that renders svg output.
By white listing svg and line in senitizer I am able to display svg in markdown.

[2020-01-29 19:07] Madhu94 commented on #7785
That sounds good, thanks!  But why not have the signal fire after _succesfully_ updating / deleting a workspace? (like [here](https://github.com/jupyterlab/jupyterlab/blob/c443c2494cf7aab09a036dc7dabc4c4196db9126/packages/services/src/workspace/index.ts#L118))

[2020-01-29 19:13] afshin commented on #7785
That signal would only be fired if the current browser tab that I am in saved or deleted, but there could be any number clients open that are modifying the same shared set of workspaces. That's why it seems to me like it wouldn't really be useful except as a *hint* that it's time to refresh the workspaces but not a guarantee that you have the latest state of workspaces.

[2020-01-29 19:42] Madhu94 commented on #7785
Oh I didn't think of that - never used a shared workspace. Thanks:)

[2020-01-29 20:41] tangbinh commented on #2031
Do we have any update on this UI change? I am looking forward to seeing both the vertical pane and the toolbar removed. Also, is it possible to bring the command palette back to the center as in Jupyter notebook? Can someone please explain the rationality behind lumping the notebook commands and the sidebar tree?

[2020-01-29 21:16] jasongrout commented on #2031
Most activities now use the unified toolbar, so it will be easier now to implement a command to hide the active toolbar, or hide all toolbars.

Yes, and I think there is generally positive sentiment towards moving it to the center. If anyone wants to work on this, please open an issue when you start so that we can coordinate and help guide the design. We can help someone get started with this.

Th

[2020-01-29 21:28] marisaaquilina commented on #6163
@DancingQuanta Planning to work on this issue!

[2020-01-29 22:32] tgeorgeux commented on #7039
@mlucool yes, we need to think about modals in general, in this process we hope to define both a modal class and a command palette class to lay over the top of that.

Here are some example command palette interfaces to get our thinking started.
![Uploading using_command_palette.jpg…]()
<img width="770" alt="Screen Shot 2020-01-09 at 1 54 42 PM" src="https://user-images.githubusercontent.com/221093

[2020-01-29 22:44] jasongrout commented on #7821
Oh, right, this is an issue for just the text editor, not the notebook. Yep, disregard my comment as well, which was focused on the notebook.

[2020-01-29 23:41] dLamSlo8 commented on #4519
I started working on this issue, and have the commands made for the notebook, text editor, and console, and the only issue I see currently is the fact that, as they are different commands, they must be mapped to different shortcuts for each. I was wondering if there was a way to map multiple commands to different selectors, but with the same keyboard shortcut?

I checked out issue #7138 regarding

[2020-01-29 23:55] jasongrout commented on #4519
No. Even if they had the same command, each shortcut/selector pair is a separate entry in the shortcut database.

Perhaps we can introduce a new selector that works for all the places we want a given text shortcut to work? For example, a class that could be applied on the editors in all three places. Then you could have a single shortcut/selector pair, but that would also mean a single command inv

[2020-01-29 23:58] jasongrout commented on #4519
Nice!

[2020-01-30 01:52] isabela-pf commented on #7039
I've started grappling with the current state of JupyterLab's command palette and collecting what comparable interfaces function and look like. Here's where I am now:

Talking to @tgeorgeux and reading [this article](https://robdodson.me/command-palettes/) he sent left me with a few ideas to keep in mind.

- Changing the command palette experience includes thinking about modals in JupyterLab in ge

[2020-01-30 02:51] yegeniy commented on #2636
I may not be following perfectly, but with `jupyter-labextension install @aquirdturtle/collapsible_headings` I seem to have the ability to fold sections using ↔️; although the TOC extension is also very useful!
<img width="436" alt="image" src="https://user-images.githubusercontent.com/54481302/73415897-39062400-42e1-11ea-9a24-ce61e4e3e28d.png">

[2020-01-30 04:01] tangbinh commented on #2031
Thank you, @jasongrout. Is the unified toolbar in JupyterLab 2.0.0.b3? I just tried to install it, but the new version seems to be incompatible with all of the extensions. If possible, would you mind letting me know how to implement such a command to hide those toolbars? Thank you.

[2020-01-30 04:45] jasongrout commented on #2031
Many of the widgets in even JupyterLab 1.x use the [MainAreaWidget](https://github.com/jupyterlab/jupyterlab/blob/master/packages/apputils/src/mainareawidget.ts#L25) as their top-level widget, or at least implement the interface. So you might look for a top-level `.toolbar` attribute and see if it is an instance of the [Toolbar](https://github.com/jupyterlab/jupyterlab/blob/master/packages/apputil

[2020-01-30 06:03] jasongrout commented on #6910
Can you try with the new JupyterLab prerelease, 2.0b3? I just tried:

1. Create a new environment with something like:
[code]
1. Start up jlab server on port 8888: `jupyter lab --port=8888 --no-browser`
2. Start up SSH tunnel using `ssh -L 8889:localhost:8888 localhost`
3. Connect to jlab via port 8889: http://localhost:8889/lab
4. Start notebook and evaluate:
[code]
5. Kill ssh tunnel
6. At this

[2020-01-30 08:37] ggbhat opened #7836 "Extension manager pagination UX not clear"
Extension manager pagination is not clear for the user. Active page number is not highlighted and also when hovering over number is not highlighting the element.
<img width="148" alt="pagination" src="https://user-images.githubusercontent.com/4777119/73432794-78785300-4369-11ea-8cd8-079a9a5f46b2.PNG">

**Proposed UX:**
<img width="142" alt="pagination-improved" src="https://user-images.githubuserc

[2020-01-30 08:48] ggbhat commented on #7836
Raised PR for the same [#7836](https://github.com/jupyterlab/jupyterlab/pull/7837)

[2020-01-30 09:10] #7795 closed

[2020-01-30 09:14] jasongrout commented on #7795
Did you figure out what the issue was?

[2020-01-30 09:17] kochargs commented on #7795
i have to launch jupyter lab from CLI instead of anaconda gui and it works fine

[2020-01-30 09:36] ClimenteA commented on #5832
I have the same issue, tried reinstalling it but didn't worked (Anaconda3 64bit).

The `jupyter_notebook_config.json` file is empty (has just {} ).

[code]

Without `--debug` flag doesn't show anything (just hangs).

[2020-01-30 10:02] jasongrout commented on #5832
1. If you want to launch JupyterLab, you'll need to use `jupyter lab`, not `jupyter notebook` (or `jupyter-lab`? Not sure why you need the dash?)
2. Using `--no-browser` means "do not open up a browser automatically". Are you wanting to open a browser automatically? If so, don't use that option.

[2020-01-30 10:42] ClimenteA commented on #5832
Hi Jason,

With the dash - was suggested by docs if it doesn't open (in the Scripts folder there is `jupyter-notebook.exe` )
`jupyter lab` doesn't work either probably they are dependent on each other.

I copied an embeded python version installed all needed packages on it and still the same issue...

[code]

Had some issues on Anaconda installation/uninstall  on admin/user site probably that's th

[2020-01-30 11:28] mpaunovi commented on #7743
It would be good if you could create a configurable property for the value that represents the difference between disk time and client time:
https://github.com/jupyterlab/jupyterlab/blob/master/packages/docregistry/src/context.ts#L644

Similar to what was done here: https://github.com/jupyter/notebook/blob/master/notebook/static/notebook/js/notebook.js#L2784

[2020-01-30 12:16] dhirschfeld commented on #7836
It looks like a nice improvement, but an "infinite scroll" iwould be a much nicer UX IMHO.

[2020-01-30 12:29] lemonad commented on #7822
I also see some weird bugs related to this, even seems to delete the wrong cell sometimes. JupyterLab 2.0.0b2 on MacOS using Safari.

[2020-01-30 18:14] prncevince commented on #7827
@fcollonval thoughts on what can be tried next? I also tried the
sequence of commands:
[code]

And I receive the exact same error results. It’s still trying to connect to the
https://registry.npmjs.org .

Also to note, I'm on Windows right, `jlpm` ends up storing and reading
the global registry info to `C:\Users\username\.yarnrc`. There's also a
`.yarnrc` stored in `$PREFIX/share/jupyter/lab/stagi

[2020-01-30 18:53] joshz123 commented on #7752
Is this issue still unassigned?

[2020-01-30 18:53] enriqueartal commented on #7775
-jupyterlab 2.0.0b3 starts locally but not with jupyterhub. No clue from logs (extension has been updated).

[2020-01-30 18:56] joshz123 commented on #5680
Is this issue available to work on?

[2020-01-30 20:14] moble opened #7838 "Permanently enable timings through config files"
Following the merge of #6864, I've been very happy to enable timings on my notebooks.  There's still no UI for it, but for now I'm content to just read the metadata myself.  Unfortunately, there have been several times when something happened (running on a different machine, testing as different users, miscellaneous weirdness) where this has been switched off when I really need to know the executi

[2020-01-30 20:17] moble commented on #7838
Ah, after searching for things from the Advanced Settings Editor that look related, I found [this commit](https://github.com/jupyterlab/jupyterlab/commit/47c70d4d3b97e129fbf492cbf1230a241946e2cb#diff-0d91aa4deb7b499c02203675bc4229ef), which evidently does add exactly this to the settings.  I'll just upgrade.

[2020-01-30 20:17] #7838 closed

[2020-01-30 23:36] ian-r-rose commented on #6010
Hi @ggbhat I think one example of a LaTeX equation that fails to render with the KaTeX renderer due to SVG sanitizing is the `\vec` superscript, e.g.
[code]

[2020-01-31 04:49] allefeld opened #7839 "Get rid of the "Not secure" bar if installed as Chrome App?"
I use JupyterLab from one computer on another that is accessible via VPN. Because I have an HTTP connection, the site is marked as "Not secure" in Chrome's address bar. Makes sense.

Now if I "install" JupyterLab as a Chrome App (PWA) to get more the feeling of a standalone application and to get more screen space, the small "Not secure" notice gets blown up to a bar that eats up almost as much sc

[2020-01-31 07:47] ggbhat commented on #6010
Thanks @ian-r-rose,   I don't see any svg element rendered from above superscript you have shared.  I have added svg and its attribute to sanitizer as you mentioned and trying to test it. But am not able to find proper superscript that verify the changes.

[2020-01-31 10:42] remborg commented on #7826
I create a simple widget using this code:
[code]
If I add it to the left hand side with `  shell.add(mainWidget, 'left', { rank: 503 });  `, it's working as expected:

![image](https://user-images.githubusercontent.com/9395250/73533128-0873d680-4416-11ea-9473-6cc69c4e3d2a.png)

But if I add it to the bottom of the page with `  shell.add(mainWidget, 'bottom', { rank: 503 }); ` I only get a long whi

[2020-01-31 13:06] vidartf commented on #7579
Would you mind expanding a little on why a keymap is needed / what problems they would solve?

[2020-01-31 13:51] heayoungsuh commented on #7298
Hello!

Sorry bout that I found out my problem. It seems that I forgot to add the
--deploy tag when building the image. It qas my first time so I ddnt know
how to do it. Thanks for looking into it! Have a nice day!

Kind regards,
Heayoung

On Wed, 29 Jan 2020, 11:05 pm Jason Grout, <notifications@github.com> wrote:

[2020-01-31 14:00] heayoungsuh commented on #7298
Hi

Uhh discard my last message I got this confused with something else.

Kind regards
Heayoung

On Fri, 31 Jan 2020, 10:51 pm 해영서, <heayoungsuh@gmail.com> wrote:

[2020-01-31 15:02] ayyyee commented on #3964
I experienced the same situation. The name of the notebook seems to be the problem. Tried to create a new notebook with the name "analytics-v1" and it failed. Deleted it, created a new one called "analytics_v1" and it worked.

[2020-01-31 15:06] vidartf commented on #7836
Oh wow, there are finally enough extensions for the paginator to show up 😄 The paginator was the lazy solution to the fact that the NPM registry limits the amount of extensions you can get in a single go. If someone want to switch to a scroller that fetches more when it gets (close) to the bottom, that would be a very welcome replacement 👍

[2020-01-31 15:09] vidartf commented on #7743
@mpaunovi That seems like a workable solution. Are you able to help implement that? Even a partial PR with TODOs for missing parts can help :)

[2020-01-31 15:11] vidartf commented on #5680
Since no-one else has written here, it *should* be safe to assume so.

[2020-01-31 15:14] vidartf commented on #7752
@joshz123 There was a linked PR above that has been merged 13 days ago which seems to resolve this. Closing as resolved. Thanks for asking!

[2020-01-31 15:14] #7752 closed

[2020-01-31 15:19] vidartf commented on #7826
Thanks for clarifying! The bottom and top panels do not have any styling/sizing applied by default. I'm not sure if the correct answer is that lab should include that, or if that should be added by third-party extensions that choose to use it. Hopefully someone else can contribute here (bringing it up on the weekly lab call might be a good way to find someone who remembers).

[2020-01-31 16:21] ian-r-rose commented on #6010
You can see how it's supposed to look by putting the same equation in the live renderer [here](https://katex.org/)

[2020-02-01 02:23] ivanov commented on #7831
@duichwer - I am able to reproduce "permission denied" errors for a touch command from WSL on a folder where I deny the Administrator modification permission. Denying SYSTEM permission had no effect, so at least when WSL is run by an administrator (as is the case for me) - it seems to respect only the Administrator permissions.

[2020-02-01 18:34] duichwer commented on #7831
Okay.
I removed the virtual environment and started with a fresh one.
Now everything works fine.

Maybe this was related to poetry. The last time I installed my project with `poetry install` and I let poetry create the venv automatically. Then an error occured since the default pip version was to old.

Now I created the virtual environment manually (`python3.6 -m venv .venv`), added it afterwards

[2020-02-01 18:35] #7801 closed

[2020-02-01 21:37] marisaaquilina commented on #7476
Fixed in PR #7835!

[2020-02-02 01:42] allefeld opened #7841 "settings for help-extension to add additional reference sources"
This relates to #5003, but that issue is locked, so I'm making a new one.

Like @WesleyTheGeolien I think it would be nice to have the ability to add other documentation to the help menu. I understand @jasongrout's explanation that it is possible to make one's personal nbextension for that, but in my mind that is overkill. It would make more sense to add configuration options to `help-extension`,

[2020-02-02 07:25] ggbhat commented on #6281
Raised [PR ](https://github.com/jupyterlab/jupyterlab/pull/7842)by making above changes mentioned.

[2020-02-02 08:02] guaidoukx commented on #7703
I have the same issue, too. But I don't know how to fix it. My .py file ends with "\n".

[2020-02-03 10:54] vidartf commented on #7476
Thanks!

[2020-02-03 10:54] #7476 closed

[2020-02-03 11:44] KrishnaKumarHariprasannan commented on #7670
Thanks for looking into this @saulshanabrook ! Although the above does work as expected, I find it odd to use test utilities of a library as factors such as the bundle size, breaking changes, documentation, etc, are not guaranteed.

The current workaround that I have stops the original event and fires another with the `shiftKey` set (to get around [lab's contextmenu](https://github.com/jupyterlab/

[2020-02-03 16:27] blink1073 commented on #7775
Hi @enriqueartal, we removed `labhubapp` in 2.0 beta, you can use `c.Spawner.default_url = '/lab'` in your config.  I opened https://github.com/jupyterlab/jupyterlab/pull/7844 to make a note of this in the change log.

[2020-02-03 17:06] enriqueartal commented on #7775
It works for me now. I replaced c.Spawner.cmd = ['jupyter-labhub'] by c.Spawner.cmd = ['jupyterhub-singleuser'] in the config file.

Thanks!

[2020-02-03 17:06] fmgithub2017 commented on #7703
I have the same issue.
I'm using JupyterLab from WinPython.

[2020-02-03 17:29] groutr opened #7845 "Find should not be executed when not focused."
## Description
When managing cells with Find open, Find gets re-executed and changes the active cell.

## Reproduce

1. Open a new notebook
2. In the first cell type `import time`
3. Add a few blank cells underneath.
4. Activate Find (Ctrl+F) and search for "time".  Focus should move to the first cell where "time" was found.
5. Focus the very last cell and press 'b' to insert a new cell underneath

[2020-02-03 18:47] #7086 closed

[2020-02-03 20:22] blink1073 commented on #7468
## Background
JupyterLab uses a dependency injection (DI) system, as well as some shared state between modules.  Because of this, we have a need to share modules at run time.  The current best practice for web applications is to use a tool like Rollup or Webpack to
create a set of bundle files that are loaded in the browser.  Those bundle files typically contain local state that is not shared
betw

[2020-02-03 20:22] blink1073 commented on #7468
Thanks @dhirschfeld for the hint about `snowpack`, it looks pretty cool but not well suited to our needs (see above).

[2020-02-03 20:28] #7765 closed

[2020-02-03 22:48] jasongrout commented on #4447
I'll just point out that the characters it is complaining about are the ASCII 1B "ESC" characters preceding the `[`:

[code]

[2020-02-03 23:56] dLamSlo8 commented on #4519
@jasongrout Where would such a command live, given each command already belongs in their own context (i.e. notebook command in notebook-extension, console in console-extension etc.)?

[2020-02-04 00:06] jasongrout commented on #4519
I think the editor for each is provided by the single package: https://github.com/jupyterlab/jupyterlab/blob/master/packages/codemirror-extension/src/index.ts. Perhaps that is the appropriate place?

[2020-02-04 07:02] dhirschfeld commented on #7468
Thanks for the detailed explanation @blink1073 - that's *really* helpful! Since I'll likely be doing a bit of [frontend dev](https://www.reddit.com/r/ProgrammerHumor/comments/8u0as9/when_you_are_really_a_back_end_developer_but_you/) I'm keen to align with the jupyter tech-stack...

[2020-02-04 08:41] ggbhat commented on #6617
@jasongrout  @tgeorgeux  I would like to work on this, is it already taken? and where to find the design?

[2020-02-04 09:53] Felihong opened #7847 "Building jupyterlab assets: npm dependencies failed to install"
## Description
Hi there,

I met this error every time when I try to install some Jupyterlab extensions, for instance when installing this theme extension:
[code]
Snippet of the log file:
[code]

## Context
- Operating System and version: `Ubuntu bionic 18.04.3`
- Browser and version: `Firefox`
- JupyterLab version: `1.2.5`
- Node version: `v12.14.1`
- npm version: `6.13.4`
- Python version: `3.7.6

[2020-02-04 09:59] ggbhat commented on #7743
@vidartf How about adding configuration under settings-> notebook?
I would like to work on if it is not taken.

[2020-02-04 15:49] vidartf commented on #7468
Thanks for the detailed break-down! I have one question about extensions depending on other extensions though. Take this case:
- Extension A depends on extension B
- I want to use extension C instead of extension B (i.e. extension C implements the token that extension B declares).

How would I as an end user achieve this?

[2020-02-04 16:00] saulshanabrook commented on #7468
@vidartf One option would be to split the tokens into separate packages:

* Split extension B into two NPM packages `B` and `B-token`. `B` depends on `B-token`
* Create one Python package for each of these B packages, where again `B` depends on `B-token`.
* Have `A` depend on `B-token` python package.
*  Have `C` depend on `B-token` as well.
* In the install instructions of `A` say "either `pip in

[2020-02-04 16:27] vidartf commented on #7468
@saulshanabrook The assumption in the case was that someone had written A with a hard dependency on B. As such, only the last point "Alternatively, you could have ..." seems relevant here. Under this regime, I think we would need to allow this configuration system to specify "don't register this plugin from X", as an extension can contain many plugins, and you might just want to replace one of the

[2020-02-04 16:45] agbaum commented on #7829
I can work on fixing this if no one else is!

[2020-02-04 16:46] vidartf commented on #7468
Xref: https://github.com/jupyterlab/jupyterlab/issues/6434

[2020-02-04 17:30] vidartf commented on #4447
I.e. ANSI terminal color escape codes.

[2020-02-04 17:31] vidartf commented on #4447
Is it possible that the template is missing a `| ansi2latex` filter somewhere?

[2020-02-04 17:35] vidartf commented on #7743
@ggbhat Seems reasonable, please go ahead 👍

[2020-02-04 17:35] vidartf commented on #7829
@agbaum That would be very welcome 👍

[2020-02-04 19:25] saulshanabrook commented on #7468
@asmeurer mentioned that the conda ["Features" feature](https://docs.conda.io/projects/conda-build/en/stable/concepts/features.html) might be a well to express to the solver "Hey I need some package that implements XXX but I don't care which one it is, as long as one of them does!".

[2020-02-04 19:27] saulshanabrook commented on #7468
Ah @teoliphant just pointed out that actually this is now called ["Variants"](https://docs.conda.io/projects/conda-build/en/latest/resources/variants.html) instead of "features".

[2020-02-04 19:30] asmeurer commented on #7468
Please don't take Saul's @ of me as me endorsing any conda functionality or anything in that comment being accurate. I haven't worked closely on conda in several years and don't know what the current state of things is.

[2020-02-04 19:41] dhirschfeld commented on #7468
Some of the best docs on the current state of variants is by MinRK at:
https://conda-forge.org/docs/maintainer/knowledge_base.html#message-passing-interface-mpi

[2020-02-04 21:52] telamonian commented on #4447
This is fixed by jupyter/nbconvert#1181

@vidartf Yeah pretty much

[2020-02-04 21:52] #4447 closed

[2020-02-04 22:35] krinsman commented on #7818
@bentkibler What you suggest sounds like the right idea.

Because I'm not familiar with Prometheus, I don't fully understand the content of your PR to NBResuse. Is it incorrect that it also depends on `psutil`+`prometheus`?

If it does depend on `prometheus`+`psutil`, I was maybe thinking a hierarchy somewhat like this:

[code]

Yeah, you're right, I think at that point we could just scrap that pa

[2020-02-05 10:14] DinisCruz opened #7850 "ipywidgets Button click is not working"
## Description

ipywidgets Button click is not working on new version of Jupyter (this was working a couple months ago)

## Reproduce

Using this code:
[code]

when I click on the button (see image below), nothing happens

![image](https://user-images.githubusercontent.com/656739/73831512-63367500-47fe-11ea-8e06-552e0062350f.png)

but when invoke the button directly using

```button.click()```

it

[2020-02-05 10:36] Tommassino commented on #7818
It is possible, see this diff: https://github.com/Tommassino/nbresuse/commit/9ced417db4011a7d6578666068bedf4c71826522

I havent made a PR for this since it was built on top of the prometheus metrics.

[2020-02-05 12:34] vidartf commented on #7529
Confirmed on binder from master.

[2020-02-05 12:51] vidartf commented on #7529
Actually, this only occurs when you put the cursor in the middle/end of the name of the nested function. If you put it within the parentheses of the nested function, it will show the inspection result of that function. Closing as working as expected.

[2020-02-05 12:53] vidartf commented on #7529
Re-opening to allow discussion on whether this should indeed be the wished behavior though :)

[2020-02-05 13:48] Tommassino commented on #7818
Originally I did not publish the warnings as metrics, since it seemed to be only used to communicate with the frontend, which would not be the intended prometheus use case. However I understand if you had a prometheus server collect the metrics from a bunch of running jupyter servers then having the logic of what is problematic memory consumption on the jupyter side of the logic makes more sense.

[2020-02-05 14:18] durandg12 commented on #3506
The problem just happened to me, and this solution worked for me. Thanks @ChrisPalmerNZ !

[2020-02-05 15:47] vidartf opened #7851 "Either not include source map, or include source in dist"
Currently, building against RC services gives a bunch of webpack build warnings:
[code]

[2020-02-05 16:07] nishant2019 opened #7852 "Cannot read file"
In spite of giving corrrect file path I am getting this message

---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
<ipython-input-18-a89a5f3567ee> in <module>
      3 from pydub import AudioSegment
      4
----> 5 wav = AudioSegment.from_wav('D://audio_test//data/Acoustic_guitar/0356dec7.wav')

[2020-02-05 20:27] DinisCruz commented on #7850
actually just noticed that I also get this error on the console every time I click the button

[code]

[2020-02-05 20:54] jasongrout commented on #7850
It looks like, for some reason, the button's comm was closed down or something. I would try restarting your kernel to start fresh.

[2020-02-05 21:38] davidanthoff opened #7853 "Ship newer vega and vega-lite version"
If I understand [this](https://github.com/jupyterlab/jupyterlab/blob/master/packages/vega5-extension/package.json) file correctly, then JupyterLab 2.0 will ship vega 5.9.0 and vega-lite 4.0.2, righ? There are newer versions of both of these available: vega 5.9.1 and vega-lite 4.1.1. Any chance that those versions could be shipped as part of JupyterLab 2.0?

CC @domoritz

[2020-02-05 21:43] domoritz commented on #7853
Since these are version ranges, updates to the yarn lockfile can happen at any time. The important file is https://github.com/jupyterlab/jupyterlab/blob/master/yarn.lock.

[2020-02-05 21:43] brettdh commented on #6696
I have this issue as well. Nothing illuminating in the `jupyter lab` logs, nor the browser console log.

In the network tab, however, these requests are stuck as (pending):
- `/api/sessions`
- `/api/kernelspecs`
- `/api/contents`

Other requests:
- `/api/workspaces/lab` returns 204
- `/api/metrics` and `/api/terminals` run periodically, returning 200

[2020-02-05 21:43] jasongrout commented on #7853
At this point, we've cut an RC, so unless there is a pressing reason to upgrade (like a security vulnerability), it's probably better to wait until 2.0.1 or 2.1 so that 2.0 is not delayed further.

[2020-02-05 21:46] jasongrout commented on #7853
(and it's a really good reason to test the 2.0 RC that was released!)

[2020-02-05 21:49] jasongrout commented on #6696
This is an old issue that looks like it may have been a configuration issue. Can you open a new issue and follow the diagnosis and reporting guidelines at https://jupyterlab.readthedocs.io/en/stable/getting_started/issue.html to help us narrow down where the problem might be and reproduce it?

[2020-02-05 21:51] jasongrout commented on #6696
Closing the original issue, as it seems the author never followed up. @brettdh, please open a new issue with information from your system and some instructions for reproducing what you are seeing (see the diagnosis guidelines mentioned above).

[2020-02-05 21:51] #6696 closed

[2020-02-05 21:54] jasongrout commented on #2119
Closing since the author did not follow up.

[2020-02-05 21:54] #2119 closed

[2020-02-05 21:55] jasongrout commented on #3073
Closing since the author did not follow up.

[2020-02-05 21:55] #3073 closed

[2020-02-05 21:56] #3683 closed

[2020-02-05 21:57] jasongrout commented on #4061
Closing since the author did not follow up.

[2020-02-05 21:57] #4061 closed

[2020-02-05 21:57] #4556 closed

[2020-02-05 21:58] jasongrout commented on #4581
Closing since the author did not follow up.

[2020-02-05 21:58] #4581 closed

[2020-02-05 21:58] jasongrout commented on #4649
Closing since the author did not follow up.

[2020-02-05 21:58] #4649 closed

[2020-02-05 21:58] jasongrout commented on #4693
Closing since the author did not follow up.

[2020-02-05 21:58] #4693 closed

[2020-02-05 21:59] jasongrout commented on #4829
Closing since the author did not follow up.

[2020-02-05 21:59] #4829 closed

[2020-02-05 21:59] jasongrout commented on #5027
Closing since the author did not follow up.

[2020-02-05 21:59] #5027 closed

[2020-02-05 22:01] jasongrout commented on #5218
Is this still an issue @ikramansari77?

[2020-02-05 22:02] davidanthoff commented on #7853
Maybe there could be an item on future RC checklists “make sure we ship the latest versions of x, y, z”? So that just before an RC is tagged it becomes standard to update these deps?

[2020-02-05 22:02] jasongrout commented on #5258
@babyhands11 - is this still an issue?

[2020-02-05 22:04] jasongrout commented on #5378
Closing, with the suggestion to upgrade to JupyterLab 1.0 or the upcoming 2.0.

[2020-02-05 22:04] #5378 closed

[2020-02-05 22:05] jasongrout commented on #5520
Closing since the author never followed up. Please comment here if you'd like to continue the discussion.

[2020-02-05 22:05] #5520 closed

[2020-02-05 22:07] jasongrout commented on #5522
It seems you are using the notebook server to launch kernels? In that case, I'd suggest opening an issue in the notebook server repo: https://github.com/jupyter/notebook/

[2020-02-05 22:07] #5522 closed

[2020-02-05 22:08] jasongrout commented on #5546
Closing since the author did not follow up. Please comment here if you'd like to continue the discussion.

[2020-02-05 22:08] #5546 closed

[2020-02-05 22:10] jasongrout commented on #5738
It has been many months now, and jlab has seen some new releases and presumably plotly has too. What is the current status of this?

[2020-02-05 22:13] jasongrout commented on #7556
Closing since there doesn't seem to be a way to reproduce this or move forward with it. Please comment below if you'd like to continue the discussion, or if you've continued to see this issue and can give any more clues about it.

[2020-02-05 22:13] #7556 closed

[2020-02-05 22:13] jasongrout commented on #7488
Closing since the author did not follow up. Please comment here if you'd like to continue the discussion.

[2020-02-05 22:13] #7488 closed

[2020-02-05 22:15] jasongrout commented on #7329
Closing since the author did not follow up. Please comment here if you'd like to continue the discussion.

[2020-02-05 22:15] #7329 closed

[2020-02-05 22:16] jasongrout commented on #7171
Closing since the author did not follow up. Please comment here if you'd like to continue the discussion.

[2020-02-05 22:16] #7171 closed

[2020-02-05 22:16] jasongrout commented on #7161
Closing since the author did not follow up. Please comment here if you'd like to continue the discussion.

[2020-02-05 22:16] #7161 closed

[2020-02-05 22:32] jasongrout commented on #7153
What is the status of this investigation now? Have we moved on, or is it still relevant?

[2020-02-05 22:33] jasongrout commented on #7117
Closing since the author did not follow up. Please comment here if you'd like to continue the discussion.

[2020-02-05 22:33] #7117 closed

[2020-02-05 22:33] jasongrout commented on #7083
Closing since the author did not follow up. Please comment here if you'd like to continue the discussion.

[2020-02-05 22:33] #7083 closed

[2020-02-05 22:34] jasongrout commented on #6880
Closing since the author did not follow up. Please comment here if you'd like to continue the discussion.

[2020-02-05 22:34] #6880 closed

[2020-02-05 22:35] jasongrout commented on #6514
I think we have upgraded codemirror since the last comment above. Do you mind trying with the latest JupyterLab 2.0 RC prerelease? Again, `pip install --pre jupyterlab`.

[2020-02-05 22:35] jasongrout commented on #6135
Closing since the author did not follow up. Please comment here if you'd like to continue the discussion.

[2020-02-05 22:35] #6135 closed

[2020-02-05 22:36] jasongrout commented on #6116
The JupyterHub extension is now integrated in JupyterLab. Please comment here if you'd like to continue the discussion.

[2020-02-05 22:36] #6116 closed

[2020-02-05 22:36] dLamSlo8 commented on #4519
@jasongrout I think the commands defined in that file only work in the context of a full document editor as opposed to all inline editors, so I'm unsure of how to approach it there.

[2020-02-05 22:38] jasongrout commented on #6084
I believe it is accessible from JupyterLab when it is accessible from the notebook. Perhaps that is the issue then.

[2020-02-05 22:38] #6084 closed

[2020-02-05 22:40] jasongrout commented on #6055
It looks like https://github.com/jupyterlab/jupyterlab/issues/3647 may be relevant?

[2020-02-05 22:41] jasongrout commented on #6055
Or not. Is this still an issue, since it's been almost a year?

[2020-02-05 22:44] jasongrout commented on #5948
JLab does this now.

[2020-02-05 22:47] jasongrout commented on #5755
Note that you can always define such a keyboard shortcut to be captured (or even close the current tab, I think).

[2020-02-05 22:47] jasongrout commented on #5762
Closing since the author did not follow up. Please comment here if you'd like to continue the discussion.

[2020-02-05 22:47] #5762 closed

[2020-02-05 22:48] dLamSlo8 commented on #7649
I just tried this on 1.2.6 and it seems to be working appropriately. Should we close this issue?

[2020-02-05 22:48] jasongrout commented on #5879
Closing since the author did not follow up. Please comment here if you'd like to continue the discussion.

[2020-02-05 22:48] #5879 closed

[2020-02-05 22:50] jasongrout commented on #5889
@paris0120 - is this still an issue?

[2020-02-05 22:50] jasongrout commented on #5948
Closing since the author did not follow up. Please comment here if you'd like to continue the discussion.

[2020-02-05 22:50] #5948 closed

[2020-02-05 22:53] jasongrout commented on #7853
We update things earlier in the release cycle (more like before a beta) so we have time to test the new updates all together. I think the last full refresh we had was on Christmas Eve, just over a month ago: https://github.com/jupyterlab/jupyterlab/commit/2fd9d0be6971449c5aff661a070ed1cd24a6b20f#diff-8ee2343978836a779dc9f8d6b794c3b2

[2020-02-05 22:54] jasongrout commented on #7853
And for the record, I think putting such an item on a checklist for a beta is a great idea!

[2020-02-05 22:57] jasongrout commented on #4519
The full document editor is in this extension: https://github.com/jupyterlab/jupyterlab/tree/master/packages/fileeditor-extension

The file editor extension uses the codemirror extension, but so does the notebook, etc.

[2020-02-05 22:58] jasongrout commented on #7649
Great, thanks for testing!

[2020-02-05 22:58] #7649 closed

[2020-02-06 00:07] hzfmer opened #7854 "Cannot save large notebooks"
## Description
I was using jupyter lab on a **remote server**, and open the notebook on my local Chrome browser.
This worked fine before, but recently I found saving some large notebooks (as large as 50 M) can be really slow, or even impossible.

Because it keeps "starting" saving, any other executation is blocked until it finally fails to save. Then, even double pressing "Ctrl + C" in the termina

[2020-02-06 00:40] Anton-Velikodnyy commented on #6514
I tried it with `pip install --pre jupyterlab` (although with python 3.7) and I still have same error.

[2020-02-06 00:42] jasongrout commented on #6514
I just double-checking - that did install JupyterLab 2.0RC0, right?

[2020-02-06 00:52] Anton-Velikodnyy commented on #6514
`jupyter-lab --version` gives me `2.0.0rc0`

[2020-02-06 08:10] dehiker commented on #5274
@hantswilliams I comment out the similar part in
`anaconda3/pkgs/notebook-6.0.1-py37_0/lib/python3.7/site-packages/notebook/templates/notebook.html`
But I can see 'Download' button. Something wrong with what I did? Maybe how to "recompile" after commenting? Looking forward to your reply!

[2020-02-06 08:54] Felihong commented on #7847
Hi again,

I increased the timeout setting with
[code]
in the `staging` directory of the output of `jupyter lab path | grep application`, and the issue seems to be resolved.

[2020-02-06 08:54] #7847 closed

[2020-02-06 10:44] babyhandzzz commented on #5258
Hi, thanks for getting back to this issue.
I didn't manage to get it working on my old macbook air but since than I switched to macbook pro
and there are no issues, everything runs very smoothly in firefox.

[2020-02-06 11:28] vidartf commented on #7852
You seem to have an inconsistent use of slashes in your path: 'D://audio_test//data/Acoustic_guitar/0356dec7.wav'

[2020-02-06 11:30] vidartf commented on #7850
Yeah, the "WebScoket closed unexpectedly" message seems important.

[2020-02-06 11:35] weitongwei commented on #6055
Yes, it is still an issue on Win7, i.e. "Laucher Error: Invalid response: 500 Internal Server Error"

________________________________
weitongwei@hotmail.com

From: Jason Grout<mailto:notifications@github.com>
Date: 2020-02-06 06:41
To: jupyterlab/jupyterlab<mailto:jupyterlab@noreply.github.com>
CC: weitongwei<mailto:weitongwei@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re:

[2020-02-06 13:52] sbowman-mitre commented on #5738
I'm not the OP, but the overall behavior is significantly improved on jupyterlab 1.2.5. Thanks for the good work!

[2020-02-06 14:45] brettdh commented on #6696
Figures that I can't reproduce the issue today. Oh well, at least it works now? 🤔 😅

[2020-02-06 15:29] brettdh commented on #6696
Spoke too soon; I ran across this again after shuffling around some pip packages.

It would _seem_ that this was due to having an old version of tornado (4.x) installed. When I went to `pip install notebook` to try to repro in classic notebook, it also installed tornado 6.x. I then ran `jupyter lab`, and the web app was able to start up and connect without a problem. ¯\\\_(ツ)_/¯

[2020-02-06 18:55] dLamSlo8 commented on #4519
Okay, so I managed to create a single command that would insert text depending on the context, using the various trackers associated with file editors, notebooks, and consoles. They all depend on the same editor's function to insert text. Is this an appropriate approach to take?

And in this case, would I still need the individual commands for each of the editor, notebook, and console, if they are

[2020-02-07 06:20] ggbhat commented on #6281
[PR ](https://github.com/jupyterlab/jupyterlab/pull/7842)Merged..

[2020-02-07 06:43] jasongrout commented on #6010
More context about svg in caja, etc., is available in links from this related issue for notebooks: https://github.com/jupyter/notebook/issues/4053

[2020-02-07 08:21] telamonian commented on #6281
fixed by #7842

@vincenzon and for anyone else who has the same issue, you can fix it by going to the "Notebook" section of the advanced settings editor and then setting the `lineWiseCopyCut` option to `false`

[2020-02-07 08:21] #6281 closed

[2020-02-07 09:05] vidartf commented on #6010
[Here's a decent summary on some SVG security issues.](https://bjornjohansen.no/svg-in-wordpress) The main take-away should be that writing a sanitizer for SVG that actually works is hard. I'm not clear on whether the sanitizer we use claims to handle SVG sanitation properly?

[2020-02-07 09:15] jasongrout commented on #6010
Note that the PR for this is only opening up a small whitelist of attributes and elements.

[2020-02-07 09:37] telamonian commented on #6010
If we stick to just the basic graphical elements and attributes, the danger should be minimal. The problem come from the ability to embed all kinds of crazy xml tags inside of the svg tags. For example, you can put a `<script>` tag inside of an `<svg>` and execute arbitrary javascript that way.

In other words, allowing svg through will not (in theory) increase our attack surface area, since any t

[2020-02-07 09:59] telamonian commented on #6010
Having said that, I went back and checked the list of allowed tags to see if we were already letting through some of the more potentially dangerous inner svg elements:

https://github.com/jupyterlab/jupyterlab/blob/f17361c2d6ecf1b5ccae5b576266355150f09af2/packages/apputils/src/sanitizer.ts#L469-L573

There are a number of tags that can be used to execute code or link to another svg (`foreignObject

[2020-02-07 10:38] ggbhat commented on #6010
I agree with @telamonian already we are allowing some of the tags, allowing svg may not be an security risk.

[2020-02-07 10:42] ggbhat commented on #6538
@tgeorgeux  I would like to work. Can I start.

[2020-02-07 11:53] vidartf commented on #6010
If you read the link I shared above, it details that the threat from user-content, inline SVGs are much broader than just script tags.

[2020-02-07 12:01] vidartf commented on #6010
E.g. here is a list of known exploits, that would all need to be ruled out (mostly for latest version of non-Opera browser, but still a decent size): http://html5sec.org/?svg.

E.g. the keylogger one is interesting: http://html5sec.org/?svg#132

[2020-02-07 16:05] jtpio opened #7859 "Some icons look "dimmer" with the Dark Theme in 2.0"
Testing from the [current master](f17361c2d6ecf1b5ccae5b576266355150f09af2), some icons (mostly the check marks and submenu arrows) now look dimmer than before (1.x).

With 1.2.6:

![image](https://user-images.githubusercontent.com/591645/74044629-a09c2d80-49cb-11ea-8f6c-9ea894674d31.png)

With 2.0 / current master:

![image](https://user-images.githubusercontent.com/591645/74044607-967a2f00-49cb-

[2020-02-07 16:48] jasongrout commented on #7859
Testing, this seemed to change between 2.0b1 and 2.0b2. It seems that the icon pulled in by the css has a different svg font between then. @telamonian - do you know of an easy workaround to have brighter checkmarks? Is this related to (IIRC) consolidating the svgs for various themes into the ui package, so you only get one svg?

It looks like the checkmark is using currently using this css: https:

[2020-02-07 17:46] tgeorgeux commented on #6538
@ggbhat Absolutely! If you need help please feel free to ring in here, or open a pull request to get eyes on your code progress.

[2020-02-07 20:44] telamonian commented on #7859
No, sadly there's no workaround that is both clean and easy. The real problem is that there's no underlying support in lumino for `LabIcon`-like icons in commands or menu items (as there currently is in lumino `title` objects, via their `.iconRenderer` prop). I'm working on fixing that right now.

I *really* wanted to avoid it, but the quick and dirty fix would be to just go back to having 2 of ea

[2020-02-07 21:55] ajbozarth commented on #5843
Closing, this was fixed by #7833

[2020-02-07 21:55] #5843 closed

[2020-02-08 00:45] k7wu opened #7860 "Runtime Error Jupyterlab failed to build"
Hi all,

Quite new to python and jupyter. I've installed, uninstalled, and re-installed Anaconda3 a few times on my computer, but each time doing complete un-installations.

Recently, I installed plotly-extension and now I am unable to rebuild Jupyterlab. Not entirely sure what is happening here as I can't parse the error log (attached). Reviewing previous issues here or on Stack Overflow hasn't p

[2020-02-08 01:17] jeffyjefflabs opened #7861 "Styled button font colors are white in Classic but black in Lab"
This was [reported on ipywidgets](https://github.com/jupyter-widgets/ipywidgets/issues/2062) but based on the code I lean toward it being a Lab issue (but maybe not).  I noticed the same discrepancy in Voila (which [pulls its stylesheet from Lab](https://github.com/voila-dashboards/voila/blob/master/setup.py#L241)) and spent the last few hours tracking it down.  Here's my test code:

[code]

The f

[2020-02-08 22:23] histed opened #7862 "Saving and shutting down Jupyter lab yields error "Disposed""
Looks like a dupe of #5787.  I get the "Disposed" popup shown in the first comment there.

What I did: click Save icon on notebook.  Close tab.  Select File -> Shut Down.

JL 1.2.4 on Mac.

[2020-02-08 23:49] TianCal commented on #5218
I am getting the same issue. What should I do?

[2020-02-08 23:50] datdinhquoc commented on #6127
Definitely a must, 'tab'-ed multiple lines, how to 'shift-tab' back?

[2020-02-09 01:18] ataiya opened #7863 "Run file in console in jupyterlab?"
How can you run a (e.g. Python, Julia) file in a console?

Right now there is a "create console for editor", but what if you already have a console open and you simply want to **re-execute** the file content?

The only solution I can see is to first **Select All**, and then **Run Selected Code**

Any better way?