[2021-05-09 13:50] ichsan2895 commented on #10130
Hello, I have done performance profiling with large notebook (over 500 cells). Please kindly check this issue for futher information.
https://github.com/jupyterlab/jupyterlab/issues/10213

Hopefully it will help you.

[2021-05-09 23:33] sarahspak opened #10214 "New command that runs a list of commands"
### Problem

* Would like to have a way to run multiple commands from a single command

### Proposed Solution

* Create a new command that takes as arguments a list of other commands to run, and goes through and runs them

### Additional context

* Similar to the existing `apputils:run-first-enabled`
* Submitting this issue based on conversation [here](https://discourse.jupyter.org/t/how-to-create

[2021-05-10 00:34] DianeHu commented on #5274
You can also put the disabledExtensions part into your package.json, it'll work the same way.

[2021-05-10 14:17] goanpeca commented on #6352
@jasongrout, do you agree with the suggestion from above?

That should already handle that.

[2021-05-10 16:21] dmonad commented on #2540
The Notebooks now have a shared model based on a CRDT (Yjs) https://github.com/jupyterlab/jupyterlab/pull/10118

I think we can close this ticket now.

[2021-05-10 17:02] dkwo commented on #5382
Many thanks @dmonad
Just to make sure I understand, does this PR fix issue #4237 (among other things)?

[2021-05-10 18:57] ivanov commented on #2017
I don't think Github sends out notification when a related PR is merged, but wanted to let those of you subscribed to this ticket know that with #10067 merged 2 weeks ago, the ability to search (and replace) within an active selection of cells will be available in JupyterLab 3.1, which hasn't been released yet, but  you can install the pre-release if you're feeling adventurous.

[2021-05-10 19:05] blink1073 commented on #2540
Indeed, thanks @dmonad!  :rocket:

[2021-05-10 19:07] meeseeksdev[bot] opened #10226 "Feature request: better support for changing text color in markdown"
I use Jupyter notebooks for class assignments and frequently add comments in the graded versions I send back.  The use of color seems to be the best way to distinguish my comments from the original markdown text provided by the students.  As far as I can tell at least, the only way to change text color in markdown is using HTML tags, like

\<font color=red\>My comments.\</font\>

This works, but i

[2021-05-10 19:24] goanpeca opened #10227 "Docs: Update docs on real time collaboration"
From https://github.com/jupyterlab/jupyterlab/pull/10118

---

I think we should document the collaborative "shared model" approach in https://jupyterlab.readthedocs.io/en/stable/. The patterns described in the jupyterlab/rtc repository seem to be out-of-date now.

1. The `shared-models` package contains a `SharedNotebook` and a `SharedFile` which are the abstract interfaces to work against if you

[2021-05-10 20:00] goanpeca commented on #9983
This can be closed!

[2021-05-10 22:36] zhzhang2018 opened #10228 "'ExtensionManager' object has no attribute '_extensions' when starting JupyterLab"
## Description
I recently upgraded my OS to Big Sur. As a result, Python 3.6 doesn't work anymore, and I believe I followed all the right procedures to install Python 3.9.5, followed by new installations of JupyterLab and all other packages I've been using.

The error shows up when I try to run Jupyter Lab:

[code]
For some reason, I wasn't able to find this exact error anywhere on Google. I might

[2021-05-10 22:37] goanpeca commented on #10202
Some ideas from some work @echarles started

<img width="1440" alt="rtc-list" src="https://user-images.githubusercontent.com/3627835/117732939-57322380-b1b6-11eb-962d-d3b7bf27b5ef.png">

[2021-05-11 00:01] StephenWithPH commented on #10228
I receive the exact same error and stack trace.

Salient info:
* `Python 3.8.5`
* running in a shell spawned via `nix-shell --pure` ([info](https://nix.dev/tutorials/ad-hoc-developer-environments.html#towards-reproducibility)), so about as pristine of a runtime environment as one could ever have.
* installed via Poetry (`Poetry version 1.0.10`)
* `jupyterlab = "^3.0.15"`
* pinning `nbclassic = "0.

[2021-05-11 00:19] kevin-bates commented on #10228
Looks like the `nbclassic` server extension is side-effected by https://github.com/jupyter-server/jupyter_server/pull/502 - which just released its 1.7.0 release today.

Folks should probably downgrade `jupyter_server` (temporarily) to `1.6.4` until `nbclassic` is fixed.  Sorry for the inconvenience.

[2021-05-11 00:23] EulerFaria commented on #10228
Same Issue here guys.

I created a virtualenv from scratch with Python 3.7.0.  and ran `pip install jupyterlab`.

[code]

[2021-05-11 00:30] Zsailer commented on #10228
As @kevin-bates said, downgrading jupyter_server temporarily should do the trick.

[2021-05-11 00:32] sikyeong commented on #10228
same with me

Traceback (most recent call last):
  File "/usr/local/bin/jupyter-lab", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.8/site-packages/jupyter_server/extension/application.py", line 518, in launch_instance
    serverapp = cls.initialize_server(argv=args)
  File "/usr/local/lib/python3.8/site-packages/jupyter_server/extension/application.py", line 488, in init

[2021-05-11 00:55] kevin-bates commented on #10228
I also found you can keep `jupyter_server` at `1.7.0` but **disable** `nbclassic` if you know you don't need it...
[code]
This might be easier for some.

[2021-05-11 01:29] jingfang commented on #10228
same problem here, and @kevin-bates's solution worked!

[2021-05-11 02:04] trungnghiahoang96 commented on #10228
thanks, @kevin-bates. The solution worked!

[2021-05-11 02:36] sikyeong commented on #10228
thanks, @kevin-bates. it worked well!

[2021-05-11 03:03] meeseeksmachine commented on #9538
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/no-marketplace-for-jupyter-extensions/9141/2

[2021-05-11 07:44] hbcarlos commented on #10227
In addition to those points, I would add examples to [jupyterlab/extensions-examples](https://github.com/jupyterlab/extension-examples).

It's always useful seeing examples.

[2021-05-11 07:57] wrogner commented on #10228
Same issue on MacOS 11.3.1, Python 3.9.5, jupyter_server 1.7.0.

Starting jupyter lab brings the above mentioned error.
Starting jupyter notebook starts the server.
Starting jupyter notebook and changing the URL from http://localhost:8888/tree to http://localhost:8888/lab **launches the lab**
==> Jupyter Lab works

**Analysis:**
The error message (last line) shows that jupyter server gets "nbclass

[2021-05-11 09:03] #10228 closed

[2021-05-11 10:41] kbmelo opened #10231 "Embed it into <iframe>"
I am having trouble trying to embed the jupyterlab into an iframe. Does anyone know how to get it working?
I tried changing the Content-Security-Policy header, but couldn't do it, in case anyone has any idea.
PS: Trying to get it with axios returns `Refused to frame 'http://127.0.0.1:8888/' because an ancestor violates the following Content Security Policy directive: "frame-ancestors 'self'".`

![

[2021-05-11 13:15] dmonad commented on #2475
This ticket seems out of date. We just merged our RTC model implementation: https://github.com/jupyterlab/jupyterlab/pull/10118

Selections are now handled in Yjs' [Awareness CRDT](https://docs.yjs.dev/api/about-awareness), not in modeldb anymore.

[2021-05-11 13:33] goanpeca commented on #2475
Closing 🙃 ?

[2021-05-12 05:16] akx commented on #10157
@telamonian `docker run --init` does the same thing, no need to specifically install `tini`: https://docs.docker.com/engine/reference/run/#specify-an-init-process

[2021-05-12 06:08] penpy opened #10235 "Export to PDF and HTML with LINE NUMBERS in each cell"
At the moment, when I export a Jupyter notebook to pdf or html, the line numbers in each cell do NOT show up, even if the line numbers are shown in the (editable) notebook.

When I **export a notebook to pdf or html, I would like to see the line numbers in each cell**, just like I see it in the notebook (when activated).

Could you please add this option?
Thank you :)

[2021-05-12 06:29] penpy commented on #10235
Just to make it clear these are the line numbers I am talking about. They do not show up when exporting the notebook to html. And I would like to see them on the html page.

<img width="1153" alt="Capture d’écran 2021-05-11 à 23 18 18 2" src="https://user-images.githubusercontent.com/61386761/117928368-52519a80-b2b0-11eb-9da7-97b9e4cfb0a0.png">

[2021-05-12 09:54] #10176 closed

[2021-05-12 10:51] ashishkshukla commented on #10231
Hi @kbmelo , I am able to embed by providing below command while starting the jupyterlab

`jupyter lab --LabApp.token="abc2343"  --NotebookApp.base_url=testpath --LabApp.tornado_settings='{"headers":{"Content-Security-Policy":"frame-ancestors * self "}}' --ip=0.0.0.0`

and in iframe

`<iframe id="jupyterid" src="http://<hostip>:8888/testpath?token=abc2343" width="100%" height="600px" border=0></if

[2021-05-12 13:55] meeseeksmachine commented on #10171
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/details-tag-missing-disclosure-triangle/9152/2

[2021-05-12 14:21] goanpeca commented on #9544
Pinging @mlucool

[2021-05-12 15:43] Cbarrow98 commented on #9752
Hello Sid,

Can you run me through exactly what you did please. Ever since I updated anaconda --all I have been getting the following message below when I open Jupyter notebooks and doesn't proceed to go to my notebooks and just keeps saying waiting for localhost?

Here's my issue:

[W 2021-05-12 16:41:48.674 LabApp] 'notebook_dir' has moved from NotebookApp to ServerApp. This config will be passe

[2021-05-12 17:23] Sid281216 commented on #9752
Hi sorry I changed for vscode since January, but as I can read my self, I executed this "pip uninstall nbdime nbresuse" on cmd

[2021-05-12 20:53] mattlegro commented on #6774
I don't know if this is useful information, but even using the unicode workaround doesn't fix the rendering issue. Text between two `&#0036;` also is italicised and bolded. In the following example, it renders "15 billion.....at" as bold and italicized,

[code]

[2021-05-13 03:18] bollwyvl commented on #10227
Selfishly, i'd like some insight into how one might use a different backend, ideally requiring only a labextension that doesn't require monkeypatching, but I'm not above getting dirty.

Concretely, in https://github.com/yuvipanda/jupyter-videochat/issues/28 I'd like to see about implementing a `JitsiConnector` that (ab)uses the  [sendendpointtextmessage](https://jitsi.github.io/handbook/docs/dev-g

[2021-05-13 07:34] ChineseYjh commented on #9635
Thank you~The 2nd option works in my JLab! @jamesmyatt

[2021-05-13 07:34] #9635 closed

[2021-05-13 10:25] flying-sheep commented on #9619
It uses the `repr` package for that, but sure, like any kernel.

[2021-05-13 11:00] krassowski opened #10239 "Multiple cursors not showing up in RTC"
![multi-cursor](https://user-images.githubusercontent.com/5832902/118116796-a2c91500-b3e2-11eb-9e46-40dbcc47e200.gif)

### Problem

Extra CodeMirror cursors set by Ctrl + click do not show up on the collaborator view of the editor, nor does the extra selection. It would be nice to have multi-cursor mode work better with RTC.

[2021-05-13 13:20] dmonad commented on #10239
Thanks for opening this issue @krassowska. I didn't even know that this was possible in y-codemirror

Currently, the editor binding [y-codemirror](https://github.com/yjs/y-codemirror) only syncs the primary selection. I opened a separate ticket to track the work: https://github.com/yjs/y-codemirror/issues/17

In terms of priority, we are probably working on other stuff first.

[2021-05-13 13:49] dmonad commented on #2475
Sorry, I only read the first part and was focusing on the selections. Of course, also the new shared model implementation `YNotebook` could become incompatible with newer versions (for other reasons than shared cursors). For that reason, it makes sense to introduce a version for shared models.

We can introduce a `shared_model: 1` property (similarly to the version `nbformat: 4` in the JSON repres

[2021-05-13 13:51] dmonad commented on #5382
So does that mean we can close this iconic issue?

[2021-05-13 14:11] dmonad commented on #10227
Hi @bollwyvl,

Interesting use-case. It should be as easy as replacing the `docprovider` package with another implementation, which I was told would be possible.

Currently, `docprovider` requires a locking mechanism to prevent data loss when two users are writing a document to the server at the same time. But eventually, we want to switch to a model where the client doesn't need to send an HTTP r

[2021-05-13 14:39] dmonad opened #10241 "When"
### Problem

There are two problems when working in collaborative mode on the same text in two different browser windows:

1. The "view" of the window jumps to the position of the cell that was last changed. While collaborative mode works fine on smaller documents, this behavior is frustrating when working on larger windows.
2. The "view" of the window is not adjusted when a remote user inserts co

[2021-05-13 14:55] blink1073 commented on #5382
Excelsior!

[2021-05-13 14:55] #5382 closed

[2021-05-13 16:15] kbmelo commented on #10231
@ashishkshukla Thank you so much! It works, just adding: I'm running on macOS with M1, so I also had to add the flag --core-mode.
Btw: When I run with this big command, for some reason it hides the token on the terminal (showing "..." instead), does the same happen to you?

![image](https://user-images.githubusercontent.com/43002117/118154261-356eb180-b3ed-11eb-9374-c4ea73d90f9f.png)

[2021-05-13 16:22] kbmelo commented on #10231
Oh, I removed the first flag (--LabApp.token="abc2343") and now it worked. The problem is that it doesn't actually run the python code.

[2021-05-13 18:19] dzubo commented on #4012
@ian-r-rose could you provide a link to this extension?

[2021-05-13 21:10] kr-hansen opened #10242 "Dark Theme Plot settings"
## Description

Issue with Plot axes/titles with the Jupyter Lab Dark Theme.  It seems this was fixed/addressed a while ago with this issue [#5232](https://github.com/jupyterlab/jupyterlab/pull/5232).  However, maybe something broke it with Jupyter Lab 3.0?  I was unsure why I'm seeing that same issue with the newer version of Jupyter Lab.

## Reproduce

Make a plot in a notebook in Jupyter Lab wi

[2021-05-14 00:36] bollwyvl commented on #10227
Yeah, i guess that's the point of docs requests, specific to _this_ integration, which doesn't _quite_ quack like the ones on the mainline implementations.

Looks like it's referenced concretely when setting a private member [within the huge constructor of Context](https://github.com/jupyterlab/jupyterlab/blob/16cba948f03a07578cb249c368ead7589b9cae6f/packages/docregistry/src/context.ts#L94-L96) ,

[2021-05-14 09:55] krassowski commented on #10242
The code contributed in that patch is still there, and it does work for me:

![Screenshot from 2021-05-14 10-52-03](https://user-images.githubusercontent.com/5832902/118253999-8096cc00-b4a2-11eb-88cd-c62112a18350.png)

Did you use any kind of `%matplotlib` magic in the cells that you run before?

[2021-05-14 10:01] krassowski commented on #10242
I saw this issue affect users of matplotlib wrappers such as single cell spatial package before: [SO: Change the color of a single *output* cell in jupyter notebook?](https://stackoverflow.com/questions/66980763/change-the-color-of-a-single-output-cell-in-jupyter-notebook).

Also for ease of testing:

[code]

[2021-05-14 10:38] Morikko commented on #2155
Another workaround consists to use Python code to copy anything into the clipboard.

## Setup

### Preparation
A bit long but done only once.
1. Create a `.pythonrc.py` in your `home` folder
2. Write the code (function or class) to copy/paste to/from the clipboard into it
3. Add `export PYTHONSTARTUP=/home/$USER/.pythonrc.py` in your terminal config file (`.bashrc` or `.zshrc`...)

### How does it

[2021-05-14 10:45] Morikko commented on #2155
Another workaround consists to use Python code to copy anything into the clipboard.

## Usage
[code]

For a `.pythonrc.py` like this:
[code]

## Setup

### Preparation
A bit long but done only once.
1. Create a `.pythonrc.py` in your `home` folder
2. Write the code (function or class) to copy/paste to/from the clipboard into it
3. Add `export PYTHONSTARTUP=/home/$USER/.pythonrc.py` in your termina

[2021-05-14 11:44] ichsan2895 commented on #10242
Works good in Jupyter 3.0.7
![image](https://user-images.githubusercontent.com/60387342/118266070-4e0dc300-b4e4-11eb-8be0-96c051cf089a.png)

[2021-05-14 13:51] hbcarlos opened #10243 "Improvements on the completer"
I'm working o a completer extension with lazy loading of the documentation. The problem is that we need to know which index is selected and when the selected item changes.

Some extensions like [JupyterLab-LSP](https://github.com/krassowski/jupyterlab-lsp) uses some hacks to [access the `_activeIndex`]( https://github.com/krassowski/jupyterlab-lsp/blob/309b3fa7ba506f5597d3ace35aa3e4eefef55e4a/pack

[2021-05-14 15:11] kbmelo commented on #10231
@ashishkshukla Thank you so much! It works, just adding: I'm running on macOS with M1, so I also had to add the flag --core-mode.
The problem now is that the kernel doesn't connect, it shows "Python 3 | disconnected" and I can't run the code. Anyone facing the same issue?

[2021-05-14 16:05] krassowski commented on #10243
You might be also interested in the proposed completer refactor notes in https://github.com/jupyterlab/jupyterlab/issues/9763. I was planning to work on it for 4.0 (and don't have bandwidth to do it right now - I am doing stuff in my free time and don't have that currently), but I am happy to champion for any changes to make it sooner.

[2021-05-14 16:05] kr-hansen commented on #10242
`matplotlib` magic doesn't change anything.  The first in the OP are without any magic, and I tried adding the inline which still didn't work.  See below:

![image](https://user-images.githubusercontent.com/15696062/118292509-efb9f380-b495-11eb-9d32-f6b795fc78c9.png)

Additionally, I've tried it in Firefox with the same issue.  I also tried turning my Mac "Dark Mode" off as well without changing a

[2021-05-14 16:06] krassowski commented on #10243
Also, would love to learn about the extension an how it fits with LSP (and how to possibly avoid clashes if users decide to install both).

[2021-05-14 16:10] krassowski commented on #10242
No, I tried with 3.0.15 which is the most recent version.

- What version of IPython, ipykernel, and matplotlib are you using?
- Do you have any non-standard themes installed?
- Could you show you theme settings? Mine are:

![Screenshot from 2021-05-14 17-08-54](https://user-images.githubusercontent.com/5832902/118298216-177d7b80-b4d7-11eb-96db-81bb7d050d67.png)

[2021-05-14 16:24] kr-hansen commented on #10242
IPython: 7.16.1
ipykernel: 4.8.2
matplotlib: 3.3.2

No non-standard themes installed at all:

![image](https://user-images.githubusercontent.com/15696062/118299548-1ed46300-b49e-11eb-8168-335ce081848d.png)

[2021-05-14 16:32] hbcarlos commented on #10243
Thanks for the notes. I'll take a look later.

For now, it's just a prototype, but, yes we should catch up at some point. We want compatibility with LSP and kite.

[2021-05-14 16:35] hbcarlos commented on #10243
Btw, I have a question.
Is the [`DummyConnector`](https://github.com/jupyterlab/jupyterlab/blob/0021d40004df716bd244e433a070ec6ab0985476/packages/completer/src/handler.ts#L65) there only to keep backwards compatibility?

[2021-05-14 16:39] krassowski commented on #10242
Final idea: are you able to reproduce this on binder: [![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/jupyterlab/jupyterlab-demo/5a5eb6b?urlpath=lab/tree/demo)?

[2021-05-14 16:43] krassowski commented on #10243
I think so, [see](https://github.com/jupyterlab/jupyterlab/commit/d310fc2a26a0ee7c9dc3ff65e6b27971b8a1d623), I would be happy to see this duality of old and new API to go away in 4.0 (deprecate in 3.1).

[2021-05-14 16:43] ijoseph commented on #2155
This only works for a kernel that on the same local machine, right? @Morikko

Otherwise it will just try to copy it to the clipboard of whatever server Jupyterlab is running in.

[2021-05-14 16:45] kr-hansen commented on #10242
Interesting.  So it works on binder.

![image](https://user-images.githubusercontent.com/15696062/118301982-e84c1780-b4a0-11eb-839a-57d5390398db.png)

Other packages to check versioning on with my local version that may be causing it?

[2021-05-14 16:50] krassowski commented on #10242
Oh, it is **ipykernel**. You have too old version (4.8). The https://github.com/ipython/ipykernel/pull/336 PR which is sister to https://github.com/jupyterlab/jupyterlab/pull/5232 was only merged for 4.9. Given the current version is 5.5.5 and 6.0 is coming I would say just try upgrading to 5.x for now.

[2021-05-14 18:38] kbmelo commented on #10231
I figured it out, I had to downgrade some packages.
I was using:  tornado 6.1,   notebook 6.3.0, jupyterlab 3.0.14.
Changed to: tornado 5.1.1, notebook 5.7.8, jupyterlab 2.1.2
[code]

[2021-05-14 18:38] #10231 closed

[2021-05-14 18:49] kr-hansen commented on #10242
That was it!  Upgraded to ipykernel - 5.3.4 and it works now.

![image](https://user-images.githubusercontent.com/15696062/118315122-55b47400-b4b2-11eb-8423-a135e7e5bd1d.png)

Thank you for helping me track down that dependency and ironing it out!  This issue can be closed by my opinion.

[2021-05-14 18:49] #10242 closed

[2021-05-14 19:17] satra commented on #4930
@consideRatio's solution worked really well. the only change i had to make was to drop ` fix-permissions $CONDA_DIR $HOME` that ended up touching enough files to blow up the size :)

[2021-05-14 20:29] krassowski commented on #10171
We could add a test case here:
https://github.com/jupyterlab/jupyterlab/blob/f0790b3ffd187b7dc923156b8ae227855abecefb/packages/rendermime/test/factories.spec.ts#L227

And markdown rendering logic is mostly delegated to marked.js:

https://github.com/jupyterlab/jupyterlab/blob/f0790b3ffd187b7dc923156b8ae227855abecefb/packages/rendermime/src/renderers.ts#L626-L637

And there is already an open issue

[2021-05-14 20:36] krassowski commented on #10171
Also, upon consulting https://github.com/markedjs/marked/issues/2018 it is indeed sufficient to remove whitespaces in empty lines to get it working:

[code]

[2021-05-14 22:09] cameron-toy commented on #2155
Seems like a general "Copy Output" context menu entry has been a long time coming. I think the way to go is to copy text as text and everything else as an image?

[2021-05-14 23:16] krassowski opened #10248 "Rename/F2 does not work when not in root"
## Description

After https://github.com/jupyterlab/jupyterlab/pull/10206 the added F2 shortcut does not work on master when outside of root. https://github.com/jupyterlab/jupyterlab/pull/10237 might be related. CC @martinRenou. It might also affect other shortcuts.

## Reproduce

![f2-broken](https://user-images.githubusercontent.com/5832902/118340005-6d234980-b512-11eb-9ab5-5f4d4fdd2d10.gif)

##

[2021-05-14 23:20] krassowski commented on #10248
Actually it also affects rename triggered by context menu:

![rename-does-not-work](https://user-images.githubusercontent.com/5832902/118340337-487ba180-b513-11eb-9383-258f20afa7e0.gif)

[2021-05-14 23:23] krassowski opened #10249 "Cannot copy/cut/paste file name in file browser"
## Description

After https://github.com/jupyterlab/jupyterlab/pull/10206 when editing the file name copy/paste/cut shortcuts do not work any more. CC @martinRenou.

## Reproduce

![copy-cut-paste-does-not-work](https://user-images.githubusercontent.com/5832902/118340416-837dd500-b513-11eb-8ff7-637701ef567e.gif)

## Expected behavior

Copy/cut/paste should work well here. It is common action to re

[2021-05-14 23:33] krassowski commented on #10249
Also, pressing <kbd>Delete<kbd> triggers "Do you want to delete this file" rather than removing a character from the file name.

[2021-05-15 00:09] krassowski commented on #10248
Also navigation between files with arrows is broken:

![go-up-down](https://user-images.githubusercontent.com/5832902/118342187-318c7d80-b51a-11eb-9478-cf6f7b0a4f7f.gif)

[2021-05-15 02:06] PaleNeutron commented on #2155
My package mentioned above should be an easy solution, just try it.

https://github.com/PaleNeutron/jupyter2clipboard

[2021-05-15 14:40] meeseeksmachine commented on #9590
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/create-a-jupyterhub/9188/4

[2021-05-15 15:37] martinRenou commented on #10248
Are you sure #10206 is the culprit? From my understanding, adding keybindings should not change the behavior, it should just add shortcuts to already existing behaviors?

[2021-05-15 15:44] krassowski commented on #10248
Absolutely not, sorry I meant to edit it and said that it is likely #10237 but forgotten.

[2021-05-16 03:37] ijoseph commented on #2155
That is a nice and easy solution @PaleNeutron , although doesn't looks like it covers (what's to me) the most important use case: capturing output from a very long-running cell after-the-fact.

[2021-05-16 04:23] PaleNeutron commented on #2155
Maybe your case's keyword is not `copy` but `save`, view this https://stackoverflow.com/questions/32539832/keep-jupyter-notebook-running-after-closing-browser-tab.

[2021-05-16 10:02] matteoipri opened #10250 "Open more than one notebook with links"
Hi all,

I have a JupyterHub plus JupyterLab installation using docker images based on the docker-stacks images.
I have a bunch of notebooks loaded in the image, the same image for all users, and I have an HTML page with an index of these notebooks with links to them in JupyterLab.

With JupyterLab 1.x I can open the first notebook clicking on the index page and having a second browser tab opening

[2021-05-16 17:00] martinRenou commented on #10248
No worries. I am leaving for vacation this week and won't be able to work on this (no available laptop). Do you think we should revert this PR before I work again on this?

[2021-05-16 23:28] krassowski commented on #10248
I guess reverting the use of paths over names would help to ensure that my fixes for shortcuts in #6859 are good enough.

[2021-05-16 23:37] krassowski commented on #10243
Also see https://github.com/krassowski/jupyterlab-lsp/pull/600. I am trying to make creating custom completion providers easy, feature-complete while compatible with LSP. I would be happy to hear your thoughts on it.

This is just a draft for now (and requires LSP extension in the first place), but I will be also working to hook it up as completely independent (and hopefully move it into `@jupyter

[2021-05-17 00:01] shakirmshaker commented on #4778
Impossible on a danish keyboard. Please fix.

[2021-05-17 01:24] ijoseph commented on #2155
Ah, wasn't aware of `%%capture` — combined with the JS clipboard extension, that does get us 80% of the way there, I think. Thanks for bringing that to our attention.

There are two remaining issues with this solution:
1. You have to anticipate wanting to capture the output _before_ you run the cell. This is an issue because it's often the case that one doesn't expect a cell to run as long as it d

[2021-05-17 06:55] martinRenou commented on #10248
I suspect the root cause of this issue is that the rename/delete and other commands are based on the selection, so they might rely on the name of the currently selected files and the current basepath. We would need to make those commands rely on the clicked files's paths as well, without the need of appending the basepath anymore.

[2021-05-17 07:18] jtpio opened #10252 "Pluggable provider for real time collaboration"
### Problem

For now the provider for real time collaboration is defined in the doc registry `Context`:

https://github.com/jupyterlab/jupyterlab/blob/27ecb2f9a22736c13a8b0e2722fbdf046d37c43c/packages/docregistry/src/context.ts#L92-L96

It relies on the backend exposing the `/api/yjs` endpoint, and uses the `WebsocketProviderWithLocks` to connect to it.

This should ideally be configurable, so ext

[2021-05-17 07:34] echarles commented on #10252
I've discussed that aspect with @dmonad when we have created that new package, and logged the issued in https://github.com/jupyter-rtc/jupyterlab/issues/13

To be deliver, we have picked the approach initially implemented in the `docregistry`package. I have started experimenting to make the current `docregistry` an extension, so having `docregistry-extension` package. This would allow to support c

[2021-05-17 07:52] jtpio commented on #10252
Or maybe we need a `docprovider-extension` package?

Probably what we need in the end is a plugin that provides an `IProvider`?

https://github.com/jupyterlab/jupyterlab/blob/27ecb2f9a22736c13a8b0e2722fbdf046d37c43c/packages/docprovider/src/index.ts#L10

[2021-05-17 08:03] echarles commented on #10252
In that case, we would need a `docregistry-extension` to consume `docprovider-extension` ?

[2021-05-17 08:15] jtpio commented on #10252
Or `docmanager-extension` requiring the token from `docprovider-extension` with:

[code]

Still thinking through this, but at first it looked like `docmanager-extension` could be a good candidate, since the `docmanager` creates the new `Context` here:

https://github.com/jupyterlab/jupyterlab/blob/27ecb2f9a22736c13a8b0e2722fbdf046d37c43c/packages/docmanager/src/manager.ts#L477-L487

We could then

[2021-05-17 08:47] adaaaaaa commented on #10027
have almost the same error...have you fix it?

[2021-05-17 09:20] krassowski commented on #10248
Agreed. And I like the idea of moving towards paths rather than using names in general. What I am afraid is that in addition to issues listed above it could also break some extensions (jupyterlab-git has adds context menu actions - for example) so maybe it would benefit from extra attention and testing.

[2021-05-17 10:23] franckchen opened #10255 "config override_theme_url did not work fine"
## Description

I want to deploy my static resources to a cdn server so I follow the instructions in the default config file, modified the override_theme_url config, let it point an cdn server, but seems it didn't work for me. jupyterlab cannot load css.

## Reproduce

1. run jupyter lab --generate_config to generate default config
2. find override_theme_url option and set it to an url
3. start ju

[2021-05-17 11:49] compi1234 commented on #5660
Hi,

I stumbled on this thread but it seems very relevant to me
i.e. a general purpose Audio I/O (as a widget) in Jupyter notebooks via the browser.
Maybe it exists , but I can't find it !
I found a piece of code that does the recording well in Colab (https://gist.github.com/korakot/record.py) and I can wrap a button around that , but that is not portable to general notebooks as it makes use of go

[2021-05-17 14:57] jtpio commented on #10227
https://github.com/jupyterlab/jupyterlab/pull/10252 and https://github.com/jupyterlab/jupyterlab/issues/10256 should normally help make that part swappable via the plugin system.

[2021-05-17 15:33] jabbera commented on #4422
@nmvega did you ever figure this out?

[2021-05-17 15:58] jabbera commented on #4422
@nmvega bummer! Thanks for getting back to me.

[2021-05-17 16:12] jtpio commented on #10252
@echarles https://github.com/jupyterlab/jupyterlab/pull/10256 implements this idea, in case you want to check it out.

Going down this road, it looks like it would indeed make sense to have a `docprovider-extension` package (with a single plugin for now). So it's consistent with the rest of the code base.

[2021-05-17 16:34] bollwyvl commented on #10227
Thanks for the effort, sterling work.

I am concerned about another winner-takes-all "extension" point. I don't
see too much of a stretch to the use case of opening a document shared with
my colleagues over a jitsi pipe while I'm also "second screen" sharing
another document to a tablet on 8888.

The providers will rapidly become intertwined with identity, and may be
very customized per provider..

[2021-05-17 17:26] Emalude commented on #9726
Had same issue and after several hours I've found this solution working for me https://discourse.jupyter.org/t/looking-for-help-with-a-kernel-error/4528

[2021-05-17 18:01] dmonad commented on #10227
I don't think that Jitsi will ever become a communication channel for JupyterLab. But it is certainly possible that a conferencing tool like https://room.sh can integrate Jupyter Notebooks to enable the participants to collaborate on the same data. Another use-case would be VSCode, which recently added support for Jupyter Notebooks. They can write a docprovider extension that integrates into their

[2021-05-17 18:43] mwakaba2 opened #10259 "Emit cell execution signal for both successful and failed notebook cell"
### Problem

Hi there! I have a [lab extension](https://github.com/mwakaba2/jupyterlab-notifications) that sends a browser notification to users after a notebook cell execution is complete.
The extension relies on the [`NotebookActions.executed`](https://jupyterlab.github.io/jupyterlab/classes/_notebook_src_index_.notebookactions.html#executed) signal and `execution` metadata to trigger the notifi

[2021-05-17 20:02] bollwyvl commented on #10227
Welp, for my money, it's [self-hostable](https://github.com/krakazyabra/jitsi-helm), uses standards up the wazoo... and already has an [implementation](https://github.com/yuvipanda/jupyter-videochat) we've used for a couple events. Free-as-in-beer-speech tastes mighty good, and they haven't broken their API on me yet.

Indeed, I see a happy place of Zulip, Jitsi, radical, GitLab (as managed hub se

[2021-05-18 07:44] adaaaaaa opened #10261 "open a page with only an icon..."
[captain@captain-notebook pip]$ jupyter-lab
[I 2021-05-18 15:31:49.543 ServerApp] jupyterlab | extension was successfully linked.
[I 2021-05-18 15:31:49.543 ServerApp] jupytext | extension was successfully linked.
[I 2021-05-18 15:31:49.793 ServerApp] nbresuse | extension was found and enabled by nbclassic. Consider moving the extension to Jupyter Server's extension paths.
[I 2021-05-18 15:31:49.7

[2021-05-18 09:16] #6808 closed

[2021-05-18 09:16] #10249 closed

[2021-05-18 13:14] dmonad commented on #10227
So we agree. We want to give others (e.g. the team behind VSCode) the option to integrate Jupyter Notebook into their existing backend. They might have other auth and permission concepts. However, we still want a consistent, extensible backend that works across the Jupyter Project.

There is little advantage in giving users the option to switch between backends. I don't think anyone is talking abo

[2021-05-18 14:42] krassowski commented on #10259
I don't think that changing metadata is necessary. Another solution would be to have another signal for exceptions, for example:

- `ran: Signal<any, { notebook: Notebook; cell: Cell }>` - when cell starts running so you can record the start time without relying on `recordTiming` (it would simplify configuration for users of your very useful extensions); `recordTiming` is probably preferred as I i

[2021-05-18 17:16] hbcarlos opened #10266 "Add yjs as shared dependency"
## Description
I'm trying to create a new shared model for an [extension](https://github.com/QuantStack/jupyterlab-drawio/pull/89); for that reason, I need to import yjs. The problem comes from yjs that need only one copy of the library, and we have two (one in JupyterLab and another in the extension).

The solution would be to add yjs to resolutions in JupyterLab's [package.json](https://github.c

[2021-05-19 00:31] jasongrout opened #10268 "Skip links review"
I was looking through the skiplinks implementation recently merged in #10126. It is great to see code helping us with accessibility. Thanks @0618 and @telamonian and others for reviewing and merging it.

As a follow-up, here are some things I think we can improve with the implementation details.

For reference, the code lives in https://github.com/jupyterlab/jupyterlab/blob/8c608df4b2b4fee9d4e668c

[2021-05-19 01:29] jasongrout opened #10269 "Rename in simple mode review"
I was looking through the renaming implementation recently merged in #10140. First, it is really great to see this feature. People have been asking for it for a long time. Thanks @cameron-toy and the reviewers for working on this.

For reference, here is the implementation: https://github.com/jupyterlab/jupyterlab/blob/8c608df4b2b4fee9d4e668cf3c9d37d439a8b122/packages/application/src/shell.ts#L165

[2021-05-19 03:39] 0618 commented on #10268
Thanks @jasongrout ! Those are great suggestions, which covers a lot things I was not sure before. Like how the SkipLink should behave like, the the eventListeners etc.

I do have some more detailed questions and I'll ask you once I resume the work. Thanks!

[2021-05-19 07:01] realKarthikNair opened #10270 "somebody help me out"
hey there

in jupyterlab, switching to command mode and pressing "h" showed up all keyboard shortcuts which doesnt seem to show up in jupyterlab , i've tried googling but nothing regarding this has been found anywhere

help is much appreciated

[2021-05-19 07:30] yashali opened #10272 "Can't install any jupyterlab extensions in docker image"
I am running docker build task in Azure pipelines on a pipeline agent that runs on an on-prem host. I am trying to "RUN jupyter labextension install @jupyter-widgets/jupyterlab-manager".

In the base image:
node=14.14.0
jupyter=1.0.0
jupyter-packaging = 0.7.12
jupyter-resource-usage=   0.5.1
jupyter_client  =   6.1.7
jupyter_console  =   6.2.0
jupyter_core    =    4.7.0
jupyter_server =  1.6.1
jup

[2021-05-19 08:01] jtpio commented on #10272
Thanks @yashali.

Although the `jupyter labextension install` command should also work with JupyterLab 3.0, you might want to install `@jupyter-widgets/jupyterlab-manager` with `pip` or `conda` instead.

This extension should automatically be installed with `conda install -c conda-forge ipywidgets=7.6`, which doesn't require having `node` installed anymore.

[2021-05-19 08:16] yashali commented on #10272
@jtpio We have all of these extensions to be installed. I got jupyterlab-manager installed with pip. Then " jupyterlab-plotly" failed to install..

jupyter labextension install --no-build @jupyter-widgets/jupyterlab-manager \
                                 jupyterlab-plotly \
                                 jupyter-leaflet \
                                 jupyter-vuetify \

[2021-05-19 08:27] jtpio commented on #10272
Looks like you might be able to install all the extensions mentioned above with pip or conda:

Have you tried something like the following?

[code]

`@jupyterlab/toc` is now included in core JupyterLab by default.

[2021-05-19 08:28] yashali commented on #10272
I looked at this https://github.com/postmanlabs/npm-cli-login/issues/47#issuecomment-580102203 and copied the npmrc to /.npmrc instead of $HOME/.npmrc. It seems to have worked. The build will take another 2-4 hours to complete. Will test the image and close the issue if things work out! :) thanks! @jtpio

[2021-05-19 08:39] hbcarlos commented on #9763
Definitely, we need to improve the completer and make it more generic, enhancing the integration of external extensions.
After looking into the completer last week, I came to the same conclusions Mike exposed here.

Should we start by deprecating the old API and improving the current one with compatible backward changes?
Already have an open [PR](https://github.com/jupyterlab/jupyterlab/pull/10244

[2021-05-19 08:55] EWouters commented on #5382
I had to do a `jupyter lab build` before starting JupyterLab, but the output get's synchronized between the viewers now 😍. So happy to see this come to the main branch. Some work to do still, but great great job and many thanks for this!

[2021-05-19 09:28] jtpio commented on #5382
@EWouters you might want to use the latest alpha release directly which should be more convenient:

[code]

[2021-05-19 14:06] #10272 closed

[2021-05-19 14:06] yashali commented on #10272
copied the npmrc to /.npmrc instead of $HOME/.npmrc. This worked

[2021-05-19 14:34] krassowski commented on #10270
There is no such an overview of shortcuts currently available in JupyterLab. However, someone created a PDF and PNG overview as a cheat sheet which should help you in the meantime: https://github.com/Jakeler/jupyter-shortcuts. There is also https://github.com/jupyterlab/jupyterlab-shortcutui but it was not updated for JupyterLab 3.0 yet (https://github.com/jupyterlab/jupyterlab-shortcutui/issues/6

[2021-05-19 14:37] krassowski commented on #10266
This looks very much like the issue with CodeMirror, which was solved by using a token that provides a "singleton" instance: https://github.com/jupyterlab/jupyterlab/issues/10095; would this pattern help here too?

[2021-05-19 15:14] hbcarlos commented on #10243
I think that's an old PR, and the actual behaviour is different. I would say we can't access the connector if this is an `ICompletionItemsConnector`.

To create a `CompletionItemsConnector` we need to implement `ICompleterConnecterResponseType` see https://github.com/jupyterlab/jupyterlab/blob/8c608df4b2b4fee9d4e668cf3c9d37d439a8b122/packages/completer/src/handler.ts#L613
that has the property `re

[2021-05-19 19:25] jess-x commented on #10202
To pick the color schemes, [color brewer](https://colorbrewer2.org/#type=sequential&scheme=BuGn&n=3) & [material color tool](https://material.io/resources/color/#!/?view.left=0&view.right=0) were suggested in the dev meeting. Putting them here for later reference :)

[2021-05-19 21:37] mwakaba2 commented on #10259
@krassowski Thanks for your suggestion!
I wrote a bit of pseudocode to make sure I understand your solution correctly.

[code]
Is this close to your suggestion?

Or for the `ran` signal, would it make sense to emit that in the `CodeCell.execute` function?

[2021-05-19 21:55] krassowski commented on #10259
Yes.

Yes, that would make sense too. Personally I think having related signals close in the codebase might make it easier to comprehend.

At second thought maybe instead of _ran_ naming it _executionScheduled_ would be better? We could also have _executionStarted_ inside CodeCell.execute - I am guessing that there should be a place where it belongs, close to the timer start code?

[2021-05-19 22:16] mwakaba2 commented on #10259
Yup, I agree, those are all good descriptive names and signals to have. I'll work on a draft sometime this week or next.

[2021-05-19 22:47] dmonad commented on #10202
@jess-x Feel free to reuse the colors I use for my projects: https://github.com/yjs/website/blob/master/src/usercolor.js#L3-L12 These reusable colors are [Public Domain / CC0](https://creativecommons.org/share-your-work/public-domain/cc0).

[2021-05-20 09:01] krassowski commented on #10259
One more thought: what would be super useful for me is a notification once **all** scheduled cells finished execution. It would improve my productivity quite a bit I believe. I wonder if the three proposed signals:
- `executionScheduled`
- `executionStarted`
- `raised`

(+ the existing `executed`) are enough to implement this or whether we would need also `allExecuted` signal (or something like th

[2021-05-20 10:30] hbcarlos commented on #10266
Hey, thanks for the help Michał.

That maybe works. I need to try it out.

[2021-05-20 11:36] jtpio commented on #10266
Looks like its refers to this plugin?

https://github.com/jupyterlab/jupyterlab/blob/8c608df4b2b4fee9d4e668cf3c9d37d439a8b122/packages/codemirror-extension/src/index.ts#L55-L60

[2021-05-20 12:42] raulotaolea opened #10273 ""Pagespeed index" and "time to interactive" improvements"
### Problem
When JL has several extensions installed it takes seconds (around 3-5 secs in my case) to show the first content (commonly called as _Pagespeed index_). During this time users see a blank page.

It would be nice to show some kind of loading animation, something like the `SplashScreen` in apputils but from the very beginning (not after the extensions are loaded).

Several seconds is als

[2021-05-20 15:18] olifly opened #10275 "Jupyterlab doesn't "preserve" URL parameters when routing/navigating a notebook link"
## Description

For Jupyterlab versions prior to 3.X I made a small plugin that allows our users to pass parameters into notebooks via URL parameters. (https://github.com/wuxi-nextcode/jupyterlab-notebookparams)

The problem is that when upgrading the plugin to work with Jupyterlab 3.X it looks like the router.ts is stripping away URL parameters when navigating so that a link to that used to open

[2021-05-20 15:57] jasongrout commented on #10268
@manfromjupyter helped me understand today that the end goal of skiplinks is to just link to main application areas (e.g., left, right, main, menu, bottom, etc.), not to specific hardcoded content. With that understanding, I don't think we need a registry after all for plugins to register specific content areas to skip to.

[2021-05-20 16:10] hbcarlos opened #10276 "Deprecate old API completer"
## Issue deprecate API

As discussed in #9763, it would be great to deprecate the old API of the completer to try to remove it for JupyterLab 4.0

### Problem
To keep backward compatibility, the completer has two API. The old one made it hard to develop an external completer extension. For that reason, #8080 introduced a new API and to remove it on 4.0 we need to deprecate it on 3.1.

### Proposed

[2021-05-20 16:58] thompsonmj opened #10277 "Specifying lab extensions in a virtual environment."
According to the [docs](https://jupyterlab.readthedocs.io/en/latest/extension/extension_dev.html#overview-of-extensions):

When building a conda environment, how can I specify the lab extensions I want loaded when the environment is activated?

Also see [this unanswered question](https://stackoverflow.com/questions/54186373/is-there-a-way-to-specify-a-jupyter-lab-extension-in-a-conda-env) on Stack

[2021-05-20 18:25] #10252 closed

[2021-05-21 03:09] cameron-toy commented on #10269
Thank you @jasongrout! These are all really good points--I'm always open to making things more extensible. Also, the title handler's dispose method is called in the dispose method of the LabShell. However, I do think it's confusing that the title handler class is a class that acts like a widget but follows only some widget conventions and isn't a `Widget`.

[2021-05-21 06:48] adaaaaaa commented on #10183
i have a similar [problem](https://github.com/jupyterlab/jupyterlab/issues/10261)...

[2021-05-21 07:15] chestergan commented on #6936
It's 21st May 2021. I am using Jupyter Lab 3.0.14 and it still does not allow me to reference string groups in replace.

[2021-05-21 07:16] ReneHamburger1993 commented on #10261
does it help to close the session + terminal and restart your browser?
does it work opening the link in another browser?

[2021-05-21 07:27] agoose77 commented on #6936
No-one has yet contributed a fix to resolve this, which is why it doesn't work yet :)

[2021-05-21 09:44] agoose77 commented on #10277
@thomasaarholt if you are installing pre-built extensions with conda, then they are automatically added to JupyterLab via the `data_files` mechanism.

[2021-05-21 09:48] thomasaarholt commented on #10277
As flattering as this is, I think you meant @thompsonmj  :)

[2021-05-21 09:49] agoose77 commented on #10270
You can also press <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>c</kbd> to bring up a search menu.

[2021-05-21 09:50] agoose77 commented on #10277
@thomasaarholt sorry! Relying on autocomplete again :/

[2021-05-21 10:14] meeseeksmachine commented on #6078
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/create-an-extension-to-make-the-cell-un-editable-by-just-clicking-a-button/9282/2

[2021-05-21 10:14] meeseeksmachine commented on #9976
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/create-an-extension-to-make-the-cell-un-editable-by-just-clicking-a-button/9282/2

[2021-05-21 11:25] realKarthikNair commented on #10270
Thanks

[2021-05-21 11:25] #10270 closed

[2021-05-21 11:25] realKarthikNair commented on #10270
Thank u

[2021-05-21 13:45] djangoliv opened #10278 "firefox privacy.resistFingerprinting option and terminal"
If you change the firefox option privacy.resistFingerprinting to True in about:config the terminal does not display correctly.

Regards

[2021-05-21 14:15] goanpeca commented on #6078
Pinging @isabela-pf

[2021-05-21 15:13] meeseeksmachine commented on #9564
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/extension-development-on-windows/9286/4

[2021-05-21 15:23] thompsonmj commented on #10277
@agoose77 (and guest appearance by @thomasaarholt) thanks! Didn't realize it would be automatic. Seems the prebuilt extensions do work seamlessly in the `environment.yml` file.

[2021-05-21 15:23] #10277 closed

[2021-05-21 15:25] krassowski opened #10279 "File browser is stealing focus"
## Description

My fix in #6859 is too eager and steals focus from notebook when executing commands via keypress in the command mode.

## Reproduce

1. Run latest alpha
2. Open notebook
3. <kbd>Esc</kbd>
4. <kbd>b</kbd>
5. See it changes browser selection rather than adding a new cell below

![focus-theft](https://user-images.githubusercontent.com/5832902/119161464-42288080-ba51-11eb-857a-1985efec

[2021-05-21 16:46] amblina commented on #9485
This would be really helpful for us. Our users are beginners working on jupyter potentially as their first experience of command line etc and this is something they trip up on regularly.

[2021-05-21 17:54] #10279 closed

[2021-05-21 19:43] #10248 closed

[2021-05-21 21:27] mwakaba2 commented on #10259
Oh yeah I also think that'd be super useful. That would probably require knowing if the currently running cell is the last scheduled run for one notebook. I'm not sure if that information is already available.

[2021-05-22 09:49] Shahin-rmz opened #10283 "Jupyter Lab in Terminal"
Hello
Thanks for very helpful repo.
I am vim user, there is some repos that wanted to connect vim and Jupyter (although most of them work with Jupyter notebook),
Wanted to know if there is possibility to work 100% from Terminal?
it will be very time saving.
Could you please tell how is going on with Mouse less Jupyter lab functions?

- the main issue, is for searching the web, consuming the data a

[2021-05-22 15:21] alfonsoar commented on #5802
Does anyone have any recommendations on a workaround?

I would ideally like to remove the event handler but since I don't have to the initial named function (`this` in this case) passed to `addEventListener()` my attempts to remove the event listener have failed.

This makes it hard to have forms inside the Dialog.

[2021-05-22 17:36] jasongrout commented on #5802
How about a PR that makes the keydown handler not be on the capture phase?

[2021-05-22 18:31] alfonsoar commented on #5802
Yeah I can work on that, can we backport it to version `1.2.x` ? I am on version `1.2.8` currently and have some blockers to update.

[2021-05-23 07:22] telamonian opened #10284 "Show a concise summary of keyboard shortcuts when a user hits the "h" key (parity with classic)"
### Feature request

recent ref: #10270

I really miss the simple command cheat sheet from "classic":

![image](https://user-images.githubusercontent.com/2263641/119251581-39c96600-bb75-11eb-8d38-f2674add3ebc.png)

The simple clarity of the "Keyboard shortcuts" modal, plus the ease of bringing it up from within the app with a single <kbd>h</kbd> keypress, is a large part of what got me into IPytho

[2021-05-23 07:25] telamonian commented on #10284
I do think we should keep the "open help modal on <kbd>h</kbd>" behavior from classic, and I also kind of think that maybe <kbd>h</kbd> should not be remappable (at least in notebook command mode). In general I think it's a good idea to ensure that the help screen is always accessible in the expect way.

@afshin Do we have a precedent for a non-remappable shortcut? Or have we avoided that pattern

[2021-05-23 14:03] goanpeca commented on #10284
This would indeed help @telamonian. I have a question. Would the idea be to have a modal, per widget (if provided)? I can see this modal being useful if one is in the Notebook, but if I was in the file explorer/terminal, I would expect different shortcut helps to appear.

[2021-05-23 22:22] telamonian commented on #10284
That is likely the sticking point that's kept this issue in stasis for the last ~4 years. There is, of course, the currently unused "contextual help". So we could just populate that with context-dependent man-ish pages. Currently, though, "contextual help" opens as a main area widget. This is less than ideal since it will switch away from whatever tab you were actually trying to get help with, as

[2021-05-24 00:35] fywu85 opened #10285 "Code Cell font family does not apply to Cell Number"
I set the Code Cell font to Liberation Mono. The font setting applies to the code _inside_ cells but not cell numbers. For example, note in the screenshot below that  `[2]:` is displayed in a different font from that of the code cell.
![image](https://user-images.githubusercontent.com/8881002/119281870-3cb36d80-bbec-11eb-854b-f8b3e7c6b990.png)

Is this expected? Technically, Cell Number and Code C

[2021-05-24 17:49] fcollonval commented on #10283
@Shahin-rmz you may be interested by those projects:
- [Euporie](https://github.com/joouha/euporie)
- [nbterm](https://github.com/davidbrochart/nbterm)

[2021-05-24 18:07] Shahin-rmz commented on #10283
Thanks.
very interesting.
Please feel free to add more repos if you find.

[2021-05-24 18:07] #10283 closed

[2021-05-24 18:11] telamonian commented on #10283
@fcollonval Those are both very cool. Especially nbterm, which I guess is brand new? Seems to have a goodly quantity of momentum behind it

[2021-05-24 18:15] Shahin-rmz commented on #10283
nbterm seems like a complete version of Jupyetr lab in Terminal, which is pretty much nice!
wish key bindings were configurable so I could make it more " my muscle memory friendlier".
But pretty happy with the interface and functionality.

[2021-05-24 22:41] isabela-pf commented on #8148
@bollwyvl just checking in, do you think these options have UI impacts other than the last bullet point? This sounds mostly like options for how to implement this so different parties can interact with it in different ways, but I want to check there's nothing I need to immediately address here.

[2021-05-25 02:38] bollwyvl commented on #8148
Ehm, I guess one could reflect the _effective_ settings at a particular place, e.g. in a particular cell. In the notebook, where this would get the most complex, an ["annotation sidebar"](https://github.com/jupyterlab/jupyterlab/issues/9976#issuecomment-804960077) could show a _:gear:_, and open a scope-filtered list of settings which _could_ be set on _that_ Cell, and after being set, a list of c

[2021-05-25 06:37] fcollonval commented on #10283
Indeed it is a recent work of @davidbrochart

[2021-05-25 08:16] makammoun opened #10287 "Pass Configuration for JupyterLab extension"
Hello,

I have a setup where jupyter notebook and jupyterLab are running on the same server.
I achieved this by enabling the jupyterlab server extension and then running jupyter notebook.
[code]

I pass a `.py` configuration file on the server startup by running
[code]
But this configuration is only read by notebook and not by the jupyterLab extension.

I want to configure
[code]
because I am runn

[2021-05-25 09:05] krassowski commented on #10287
If you are using JupyterLab 3.0+ then the settings file for JupyterLab (and nbclassic) has been migrated to `jupyter_server_config.py` and this might be the reason why your settings are not getting picked up. To migrate see: https://jupyter-server.readthedocs.io/en/latest/operators/migrate-from-nbserver.html

There might be also a need to adjust how you install/enable jupyterlab extension (`jupyte

[2021-05-25 09:08] krassowski commented on #10284
+1 for having it as a modal, just like the command palette in 3.0 + having an option to place it in the sidebar instead (just like the command palette). The widget could use a flexbox to show one row in sidebar or two rows when in modal.

[2021-05-25 10:07] #10171 closed

[2021-05-25 10:16] makammoun commented on #10287
This is my `Jupyter --version` output
[code]

This is how I configure and start my server
[code]
The configuration file includes a custom contentManager and some other settings like `display_url` and `port`

With this, both `/tree` and `/lab` are accessible from the same port which is my objective.

[2021-05-25 13:04] krassowski commented on #10165
Maybe also group all four "Copy" operations together?

[2021-05-25 14:48] telamonian commented on #10284
You mean column, right? But yeah, that sounds good

[2021-05-25 18:01] gloryVine commented on #4384
Any news on this? I'm using a vim-plugin and having a big green blinking cursor in normal mode mades JupyterLab unusable to me.

[2021-05-25 21:14] shugybugy-assaf commented on #7825
It has to be implemented !!!
DataBricks notebooks have this super useful feature for a reason !

[2021-05-25 21:16] shugybugy-assaf commented on #7825
Duplicate of a feature request from 2017
https://github.com/jupyter/notebook/issues/2340

[2021-05-25 22:17] ismael-elatifi commented on #7825
As I explained [here](https://github.com/jupyter/notebook/issues/2340#issuecomment-732164654) , a simple way to achieve this would be to add a mode to send a cell to kernel for execution only when previous cell execution is done.
With this new done, as long as previous cell are still running we can easily cancel execution of subsequent cells because there are not yet sent to the kernel.

[2021-05-25 23:38] telamonian commented on #9374
I recently started doing some of my experimentation of my own with dynamically configurable kernels. It's nice to see that there are other folks who are starting to see the possibilities.

+100 for the suggestion of using something JSON schema based. Strong typing, good support for constraints and/or validation, and a widely known syntax/semantics that we don't have to design and implement ourselv

[2021-05-26 00:35] sjgenco opened #10290 "Kable works in RStudio but not JupyterLab w R kernel"
## Description

I'm trying to generate nice-looking tables in JupyterLab using `library(kableExtra)`
All the simple examples from the `knitr::kable` site work fine in RStudio but only produce xml output in JupyterLab.
I haven't found anything here in 'Issues' or elsewhere on the web that hints at a solution.
Surprising to me, since this seems pretty fundamental.

## Reproduce

Here's the simple R

[2021-05-26 00:51] kevin-bates commented on #9374
Thanks Max - it's good to see parameterization gaining some traction.

For parameterization to be useful, I believe we need a mechanism like kernel provisioners - which are responsible for publishing at least a portion of the parameters - with the others being kernel-specific.  So you'd essentially have two sets of schema returned from the `api/kernelspecs` endpoint, one pertaining to what the act

[2021-05-26 03:48] jess-x opened #10291 "bug in name file dialog after refresh"
## Description

## Reproduce

EDIT:
1) Manually save an untitled file
2) Leave the file name untitled and hit Enter
3) Refresh page
4) Manually save this untitled file again
![Screen Recording 2021-05-25 at 8 34 18 PM](https://user-images.githubusercontent.com/22648112/119599214-68278b00-bd99-11eb-893e-3143c874ea8c.gif)

## Expected behavior

The popup should go away after the file is named

## Co

[2021-05-26 06:43] meeseeksmachine commented on #5274
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/jupyterlab-config-issue-in-handling-read-only-config-dir-user-cannot-save-settings-such-as-dark-theme/9302/2

[2021-05-26 08:42] agoose77 commented on #10290
Could you post a screenshot of what you expect to see vs what you actually see? For example, for this conda environment
[code]

I have
![image](https://user-images.githubusercontent.com/1248413/119630274-b32bb780-be06-11eb-8cdf-c3d718552011.png)

[2021-05-26 09:07] #9564 closed

[2021-05-26 09:37] agoose77 commented on #10287
Jupyter Server is a project to separate the Notebook part of Jupyter Notebook/Lab from the Server part. The new JupyterLab 3.x uses Jupyter Server, rather than the old notebook server *except* if you load `jupyter notebook`. So, for future-proofing you need to make the following changes:

* Change `jupyter notebook` to `jupyter nbclassic`
* Change `jupyter serverextension` to `jupyter server exten

[2021-05-26 10:28] telamonian commented on #10287
@agoose77 I think I can claim at least a little authority, as the one who originally implemented the

[code]

options the OP mentioned.

@makammoun If you call the `LabBuildApp` directly via `jupyter lab build`, then you should be able to pass in the options like you're expecting

[code]

If you trying to set these options for indirectly triggered builds (eg the build that the jlab UI prompts the

[2021-05-26 10:32] telamonian commented on #10287
As I recall, me and @blink1073 had to spend ~4 hours one day trying to debug and figure this out. He's the one who came up with the exact right magical config file name in the end.

[2021-05-26 10:32] agoose77 commented on #10287
@telamonian thanks for jumping in.

Is this correct? I looked [at the end-points](https://github.com/jupyterlab/jupyterlab/blob/2437311390eb0c1e5350c03342c509476ae0ff91/jupyterlab/handlers/build_handler.py#L104) that Jupyter calls and they don't pass those flags to the ultimate build step.

[2021-05-26 10:58] Rajiv2806 opened #10295 "Collapsible Code and Markdown Cells does not show up"
Hi

when ever i click in the blue collapse bar on code and Markdown cells, i stopped seeing the 3 dots collapsible section of that cell.
My expected behaviour is i should see my collapsed cell as below image.

![6e6480b9856d24ea46efab96b85d8bc1bd34110e](https://user-images.githubusercontent.com/22934947/119647586-12f18500-be3e-11eb-85dd-8815773644a1.png)

But when i click in the blue line, i dont

[2021-05-26 11:06] telamonian commented on #10287
Putting the options in `jupyter_config.py` definitely works for any call to `juopyter lab build`.

But now we're getting into the deep dark weeds of path and config handling in `traitlets.Application`. So if the code that triggers the rebuild request on stale extensions never actually invokes the `LabBuildApp`, then of course the `LabBuildApp` specific options will never actually get applied.

@ag

[2021-05-26 11:09] makammoun commented on #10287
Thank you for making me aware of the `jupyter server` project.

So I switched to `jupyter-server` and I tried the solution suggested by @telamonian but it didn't work

The first config folder in `jupyter --paths` output is `/home/ma.kammoun/.jupyter`
I have two files in there:
- `jupyter_config.py` includes `c.LabBuildApp.minimize = False` and `c.LabBuildApp.dev_build = False`
- `jupyter_server_co

[2021-05-26 11:09] telamonian commented on #10287
@agoose77 One of these days we need to get @Zsailer to give a lecture series on of the many lovely intricacies of pathing/config in `traitlets`. It would be excruciating, but probably quite useful

[2021-05-26 11:16] telamonian commented on #10287
@makammoun As me and @agoose77 are discussing, it may actually not be possible currently to set these options for builds triggered via the lab UI. The original use case for the `minimize` and `dev-mode` options were to act as minor band-aids for build failures that people running into on free-tier CI containers (typically only 2-4 Gb of ram). I guess we originally didn't really consider that inter

[2021-05-26 11:17] agoose77 commented on #10287
@telamonian haha yes, probably. I recently went down that rabbit hole with [Literary](https://github.com/agoose77/literary) when I moved over to using traitlets to configure it. It was a bit of an eye opener! But, I'm now using it, so it can't have been too bad an experience ;)

[2021-05-26 11:18] agoose77 commented on #10287
@makammoun and to re-summarise my question; what are you building in JupyterLab 3.x? Most of the big extensions should have moved over to the pre-built extension system (completely installed using pip/conda), but some installation instructions haven't yet been updated to reflect that.

[2021-05-26 11:20] agoose77 commented on #10295
@Rajiv2806 I can still see the ellipses in JupyterLab 3.0.16. Can you try to reproduce the cause in a new virtual/Conda environment?

[2021-05-26 11:28] makammoun commented on #10287
@agoose77 @telamonian Thank you for your investigation, you helped clear so many things for me.

@agoose77 We are trying to provide the freedom to our end-users to install any extension they want. For my testing, I just install an extension which I know will trigger a rebuild. So there's no particular thing that I'm trying to build on JupyterLab.

[2021-05-26 11:50] Rajiv2806 commented on #10295
Hi,
@agoose77, if it's not because of the upgradition issue, maybe it is because of some changes in the "Advanced Settings" that I might have made.
I am not able to remember the exact value that i might have reset.

![Animation](https://user-images.githubusercontent.com/22934947/119654874-87c8bd00-be46-11eb-8dc5-76bef4bc7020.gif)

[2021-05-26 13:49] jtpio commented on #9740
Fixed by #10160

[2021-05-26 13:50] #9740 closed

[2021-05-26 15:28] agoose77 commented on #10295
I am not hugely familiar with all of the settings that we expose to configure the notebook. I would suspect that one of the settings you have changed has done this.

When you launch JupyterLab with `--LabApp.user_settings_dir=$(mktemp -d)`, does that fix the issue?

[2021-05-26 16:53] sjgenco commented on #10290
Thanks for the reply. As I said in my post, the `head()` command is not the problem. I get the same default result you do, in both JupyterLab and RStudio. The problem is in the next block of code, using the `kable_styling` function (or any other `kable` formatting function). It simply outputs the html code rather than evaluating it.

To reproduce, run this code snippet (after `install.packages("ka

[2021-05-26 17:03] jtpio commented on #10266
Just to double check: is the issue related to having two instances of Yjs (and does Yjs need to be a singleton on the page?), or two copies of the library (possibly with different versions)?

[2021-05-26 17:31] agoose77 commented on #10290
Ah, drat - I didn't read your post properly! Thanks for the clarification.

I don't have time to look at this right now, but I have some thoughts. Although I'm not an R user, it's clear that the rich display mechanism works for the original table. This leads me to suspect that it's something about the `kbl()` knitr result that isn't rich renderable. That will be something that the `knitr` authors

[2021-05-26 17:38] sjgenco commented on #10290
Thanks Angus. I've cross-posted this over on the KableExtras issues page (https://github.com/haozhu233/kableExtra/issues/620#issue-902700564).
They may have some ideas as well.

[2021-05-26 17:42] hbcarlos commented on #10266
Sorry, my bad. It's two copies of the library.

The problem is that yjs uses `instanceof` to check the type of item added https://github.com/yjs/yjs/blob/7bd764fba73fecb8bacd1eb82a4bd7c9e15a33ee/src/types/AbstractType.js#L670
and fails when coming from different libraries.

[2021-05-26 17:46] anirrudh commented on #9374
@telamonian I am getting ready to release a beta of the KernelSpec Manager Extension later today. I have a small bug that I need to fix while setting environment variables - the UI uses json schema to generate the components, and I need to fix the corresponding schema for a python dict (the typings are a little off).

I'll leave a link to the repo here, and I plan to update it this weekend, after

[2021-05-26 19:13] telamonian commented on #9374
@kevin-bates Those are my thoughts exactly. What I really want to see is some concept of composability (along the lines of react's [higher-order-components](https://reactjs.org/docs/higher-order-components.html)) and/or reusability (hierarchical merge of kernelspecs, actual inheritance, etc) brought into the kernel specification space. It sounds like your current plans for a provisioner that (in o

[2021-05-26 19:16] telamonian commented on #9374
@anirrudh I'll definitely also be taking a look at ksmm. Being able to select the machine in the UI alongside the kernel type is something I've wanted to see realized for a while

[2021-05-26 20:09] #10210 closed

[2021-05-26 20:13] jtpio commented on #8450
Closing in favor of #9869

In the meantime, JupyterLab Classic has been renamed to RetroLab and has been [moved](https://github.com/jupyterlab/team-compass/issues/119) to the `jupyterlab` organization: https://github.com/jupyterlab/retrolab.

It is still installable with pip / mamba / conda for those who want to use it as a standalone application.

[2021-05-26 20:13] #8450 closed

[2021-05-26 23:51] jruales commented on #9673
@echarles could you please confirm if this mean implementing "scrolled":"auto" mode that classic Jupyter Notebook supports in addition to "scrolled":true and "scrolled":false? When "auto" scrolling mode is enabled in Jupyter Notebook, an output shows as scrolled (within a scroll area of height 336px) if and only if the output height exceeds ~1778px in height (equivalent of ~100 lines of text).

[2021-05-27 05:15] echarles commented on #9673
@jruales I am not sure. We have in 2.3 a feature called "stripped output" which only shows the first and last N rows of an output. This feature is being ported to master branch.

[2021-05-27 06:30] fcollonval opened #10302 "Dialog focus test failure"
Looks like the test failure might be relevant? (which also happens on `master`)

https://github.com/jupyterlab/jupyterlab/runs/2677302228

![image](https://user-images.githubusercontent.com/591645/119719679-5ca39500-be69-11eb-90a6-e2736486592a.png)

_Originally posted by @jtpio in https://github.com/jupyterlab/jupyterlab/issues/10289#issuecomment-849059357_

[2021-05-27 06:47] Rajiv2806 commented on #10295
No, i tried with the above command. It problem persists.

[2021-05-27 06:50] agoose77 commented on #10295
Hmm. Does it happen if you create a new virtualenv?

[2021-05-27 06:56] Rajiv2806 commented on #10295
I have been using the same virtual env for several months.
And no new venv's are created before this problem popped up.
(Again, as mentioned above: I updated jupyer, made some changes in advance settings and activated/deactivated some extensions and stated seeing this issue.)

[2021-05-27 06:58] agoose77 commented on #10295
@Rajiv2806 I'm asking you to create a new virtualenv environment and just install JupyterLab. If that doesn't show the issue, then you can sequentially add the different extensions until you find the cause.

[2021-05-27 07:00] Rajiv2806 commented on #10295
Will update in a while.

[2021-05-27 07:01] jtpio commented on #10266
Closing as fixed by https://github.com/jupyterlab/jupyterlab/pull/10301

[2021-05-27 07:01] #10266 closed

[2021-05-27 08:12] #10302 closed

[2021-05-27 10:12] Rajiv2806 commented on #10295
@agoose77 : As mentioned i tried with the new virtual env. And it is working as expected. Please find the related info below. I am also attaching the jupyter environment where it is not working.

![Working](https://user-images.githubusercontent.com/22934947/119808774-13ebea80-bf02-11eb-9cc6-4127bcec66ec.gif)

Below is old Jupyter where I don't see expected behavior.

![NotWorking](https://user-ima

[2021-05-27 10:46] Rajiv2806 commented on #10295
Hi @agoose77 :
I tried comparing both the jupyterlab environments.
Looks like i have installed an extension called [jupyterlab_hidecode](https://github.com/lsst-epo/jupyterlab_celltools), which caused all the issue.

Thank you so much for your support.

![Capture2](https://user-images.githubusercontent.com/22934947/119813230-a5f5f200-bf06-11eb-8776-4ca132ab59ff.JPG)

Will be closing the issue here

[2021-05-27 11:12] agoose77 commented on #10295
Great, nice work.

[2021-05-27 11:12] #10295 closed

[2021-05-27 11:41] #10165 closed

[2021-05-27 11:42] krassowski opened #10304 "Group related commands in file browser context menu in submenus"
_Originally posted by @agoose77 in https://github.com/jupyterlab/jupyterlab/issues/10165#issuecomment-827629575_

_Originally posted by @krassowski in https://github.com/jupyterlab/jupyterlab/issues/10165#issuecomment-847851630_

[2021-05-27 12:10] agoose77 commented on #10290
@sjgenco RE the `xelatex` error, are you running the `nbconvert` command in the same conda environment as JupyterLab is running?

[2021-05-27 12:32] agoose77 commented on #10287
Just to update this, one *ugly* solution would be to hack the configuration files that `JupyterLab` uses to control the build. I'm not advising you to do this, but in theory you can just patch `lib/python3.9/site-packages/jupyterlab/staging/package.json` to only ever perform a production minimized build.

[2021-05-27 12:36] agoose77 commented on #10287
Alternatively, you can create a new `LabApp` subclass in a Python script, and hack at the `initialize_handlers` method to replace the` Builder` object  with your own subclass that allows you to configure the builds settings .

Or, you create a fork of JupyterLab and just patch it yourself!

[2021-05-27 13:52] krassowski opened #10305 "When too many tabs are open in a supanel they overflow"
## Description

When too many tabs are open in a supanel they overflow

## Reproduce

![Screenshot from 2021-05-27 14-49-51](https://user-images.githubusercontent.com/5832902/119838146-14cd4e00-befb-11eb-93f4-ae9e1e333d5a.png)

## Expected behavior

I would expect the tab bar to be horizontally scrollable instead of overflowing.

## Context

- Browser and version: Chrome
- JupyterLab version: 3.0.

[2021-05-27 13:57] krassowski commented on #10305
Adding:

[code]

Partially solves the issue, but scrollbars would need to be styled to make it usable:

![Screenshot from 2021-05-27 14-55-41](https://user-images.githubusercontent.com/5832902/119838969-b94f9000-befb-11eb-87e1-c2e4687100db.png)

I think that a very narrow scrollbar of 2/3px would be enough.

[2021-05-27 16:51] sjgenco commented on #10290
Here the list of packages currently in my conda virtual env, r_env. `nbconvert` is in there, as is `pandoc`.
My R version is 3.6.1 btw, in case that might be relevant.

[code]

[2021-05-27 17:11] goanpeca commented on #9673
This feature has been ported to master branch :) and will be available for 3.1

[2021-05-27 19:39] joelostblom commented on #9082
@quantum-booty I believe you can close this since PR #10147 was merged recently (I think the functionality will be available in 3.1). Thank you so much creating the PR @cameron-toy, it will be much nicer to switch between JL and shells now that tab works the same in both =)

[2021-05-27 19:40] joelostblom commented on #5863
@eleijonmarck  I believe you can close this since PR #10147 was merged recently (I think the functionality will be available in 3.1). Thank you so much creating the PR @cameron-toy, it will be much nicer to switch between JL and other programs now that tab works consistently =)

[2021-05-27 21:01] jahn96 commented on #9730
If no one is working on it rn, I will give it a try :)

[2021-05-27 21:17] #9082 closed

[2021-05-27 22:06] telamonian commented on #9730
@jahn96 It looks like you've already been scooped. In the last month there's already been two PRs that address this:

- #10181: When you create a new file, the node containing the name in the filebrowser will be editable and focused. This is pretty much what @SylvainCorlay initially suggest in this issue.

- #10043: Separately (and to me, at least, it seems really reedundant), if a file is not ren

[2021-05-27 22:06] #9730 closed

[2021-05-27 22:17] telamonian commented on #10305
I am very proud of my tiny scrollbar. The only drawback is that the implementation of scrollbar styling is completely non-standardized, so it does render pretty differently in different browsers, especially wrt the sizing.

@jtpio I though we did already add `jp-scrollbar-tiny` to the tab area. Or was that only in the mobile layout or something?

[2021-05-27 22:38] telamonian commented on #10305
Taking another look at #8417, that fixes a similar situation for when the screen gets too narrow for our content, but that PR added a horizontal scrollbar for the notebook toolbar, not the tab bar.

SInce the toolbar and the tab bar get rendered right on top of each other it might look kind of awkward/confusing if they both show a scrollbar. I think the fix for that will be to apply the same "show

[2021-05-28 02:07] minhduc0711 commented on #5863
Hmm, is it possible to make it confirm the suggestion while tab cycling as well?

https://user-images.githubusercontent.com/34294427/119919051-cddf6700-bf93-11eb-8bc1-65dbedbc57d8.mp4

[2021-05-28 07:31] agoose77 commented on #10290
@sjgenco the code that raises that error is relatively simple; it calls `shutil.which` to test for the LaTeX command (`xelatex`). If it raises an `OSError` because it cannot find `xelatex`, then it strongly suggests that `xelatex` isn't on your PATH. Is it possible that the environment that launches `nbconvert` / `jupyterlab` is _not_ the same as the one that you're testing in the shell? Otherwise

[2021-05-28 08:08] ocordes opened #10307 "Change the label of a Toolbarbutton after creation / make a button inactive"
### Problem

In my extension I have created a ToolbarButton for Notebooks:

const button = new ToolbarButton({
      label: 'Validate',
      className: 'myButton',
      onClick: callback,
      tooltip: 'Validate Notebook'
    });

Since a validation will take some time, first I want to "deactivate" the button and change the label to "Validating ..." . Somehow I cannot find a good solution in th

[2021-05-28 08:49] #1614 closed

[2021-05-28 09:55] krassowski commented on #10305
Thanks, this should work indeed! If hiding the scrollbar when not hovering over tab bar/toolbar we should add an overflow indicator (to both). I imagine this to be subtle shadow gradient on the end that hides more tabs/toolbar items. This is how e.g. PyCharm signifies extra tabs being available:

![Screenshot from 2021-05-28 10-53-06](https://user-images.githubusercontent.com/5832902/119966253-0a6

[2021-05-28 10:10] krassowski commented on #10307
jupyterlab-git kind of workarounds a similar issue for file browser toolbar by wrapping the button component in a react widget, which might not work in your case: https://github.com/jupyterlab/jupyterlab-git/blob/9df356280b544b8f0e2236ef0757d57a6239ca7c/src/widgets/gitClone.tsx#L13-L42

Another workaround-idea - have you tried something like:

[code]

Even if the workaround works for you I agree i

[2021-05-28 16:01] goanpeca commented on #4034
Pinging @cameron-toy (to be able to add assignment :)  )

[2021-05-28 18:16] sjgenco commented on #10290
Hmm. Good to learn you've found the source, but the reason for the `OSError` remains a mystery. Here are the results for your suggested commands, and a couple of others:
[code]
I wonder if this might be relevant. I looked up `shutil.which` and see it's a python utility function, so I ran a couple of python commands with it.
[code]
But when I do `shutil.which("xelatex")` or `shutil.which("Tex")` I

[2021-05-28 21:12] agoose77 commented on #10290
sys.path is the python module search path. xelatex needs to be on the system search path, I.e `os.environ['PATH']`

[2021-05-28 22:34] mlucool opened #10310 "overrides.json shortcuts bug in Version 3.1.0a10"
## Description

I tried to use https://github.com/jupyterlab/jupyterlab/pull/9858 with the following `overrides.json5`:
[code]

This seems to have broken the shortcut manager. Symptoms:
1. The shortcut manager is no longer in settings:
![image](https://user-images.githubusercontent.com/1813603/120047488-b7143100-bfe2-11eb-92c6-dfc952f71848.png)
2. Ctrl+F does not bring up `documentsearch:start` (I

[2021-05-28 22:36] goanpeca commented on #10310
Thanks for the report @mlucool will take a look.

[2021-05-28 22:53] sjgenco commented on #10290
Well, it's not there ...
[code]
but this "PATH" is different from `$PATH`, which has a bunch more folders, including the `xelatex` folder:
[code]
Arghh ... path, PATH, PYTHONPATH ... there are too many paths in this forest

[2021-05-28 23:33] alfonsoar commented on #5802
@jasongrout - is it possible?

[2021-05-28 23:34] sjgenco commented on #10290
Here's another interesting discrepancy that may be relevant. As we all know, the 'export to PDF' command doesn't work inside JupyterLab, but it does work at the command line with something like
`jupyter nbconvert --to pdf "Dropbox/R/R ANES/ANES2020.ipynb"`
(the "pattern" has to start with the folder beneath your home folder (on Mac, that's under `HD/Users/username/`)

I also sent this issue to the

[2021-05-29 02:58] jruales commented on #9673
@jasongrout It seems like the feature that @echarles and @goanpeca are talking about, although somewhat similar in nature, is actually not the same as the one mentioned in the current GitHub issue. Is the enhancement requested in this GitHub issue also planned for 3.1?

[2021-05-29 12:33] #10148 closed

[2021-05-30 12:14] ocordes commented on #10307
Interesting ...

button.node.querySelector('button').disabled = true;

is disabling the button, but you can click and the callback is running again. I thought that this has something to do with the mouse handler, but setting actualClick to true gives the same result. I mean I can check if the first callback is still running, but this is not the best implementation. I'm not sure if this a typical b

[2021-05-30 16:29] chmp opened #10312 "Dead links on jupyterlab.io"
Not sure this is the right place, to post this, but while browsing the jupyterlab.io homepage I ran into two dead links on the [documentation page](http://jupyterlab.io/documentation):

- General / Contributing to Jupyter
- User Interfaces / JupyterLab

[2021-05-30 17:17] jtpio commented on #8217
@armsp just checking: are you still having this issue with the latest JupyterLab 3.0?

[2021-05-31 06:32] yhlam opened #10314 "Cannot start jupyter lab with --app-dir argument"
## Description

The `jupyter lab` command doesn't recognize the `--app-dir` argument. The `--LabApp.app_dir` works though. According to the the output of `jupyter lab --help`, `--app-dir` should be equivalent to `--LabApp.app_dir`.

## Reproduce

1. Run `jupyter lab --app-dir=C:\Users\Public\myjupyterlabapp` command
2. See the error below
[code]
3. Run `jupyter lab --LabApp.app_dir=C:\Users\Public

[2021-05-31 10:17] krassowski commented on #10312
I did not know about jupyterlab.io (and who operates it), but it looks like it was last updated in 2018 and at the time was just a mirror of main Jupyter site. I think that the official/up-to date site is https://jupyter.org/documentation

How did you end up there? Are there any links in the official Jupyter documentation pointing to the jupyterlab.io domain?

[2021-05-31 10:25] chmp commented on #10312
I found it via duckduckgo, where it is the top result for the search term "jupyterlab" for me.

Cool. Will keep it in mind :)

[2021-05-31 10:45] krassowski commented on #10307
What about something like the save button in notebook toolbar?

https://github.com/jupyterlab/jupyterlab/blob/2137872ac2c36cde56eb1a70e6a5daab0dfdcba7/packages/notebook/src/default-toolbar.tsx#L82-L97

(I still agree if would be handy to improve `ToolbarButton`, just looking for a backward compatible/existing way for you if you need it).

[2021-05-31 20:38] hbcarlos commented on #10227
Hi @goanpeca, I think we can extend or modify some of the following sections on JupyterLab docs:

In  [JupyterLab interface](https://jupyterlab.readthedocs.io/en/stable/user/interface.html#the-jupyterlab-interface), we could do an introduction of RTC, how to activate it and which changes bring to the interface

In [tokens](https://jupyterlab.readthedocs.io/en/stable/extension/extension_points.html

[2021-06-01 00:00] rbeesley commented on #4034
Just looking through this thread, and especially given the cross-platform nature of PowerShell > 5, `powershell.exe` might not be the way to start a shell and `pwsh.exe` might instead be needed for PowerShell core versions. Just a consideration as someone looks into this.

[2021-06-01 07:26] jtpio opened #10317 "Name File Dialog: clicking on "Don't ask me again" should check the box"
### Problem

With the new "Name File" dialog added in #10043, clicking on "Don't ask me again" doesn't tick the checkbox:

https://user-images.githubusercontent.com/591645/120283391-6c810600-c2bb-11eb-8a3f-268767742593.mp4

### Proposed Solution

It's usually common practice to check the box associated to the label when clicking on the label.
Ideally the Name File dialog should also behave like th

[2021-06-01 08:36] Arij-Aladel opened #10318 "correct steps of uninstalling jupyter lab with all extensions"
Jupyterlab always fails to build I have tried probably all the solutions mentioned in the issues .
May it is better to uninstall all at once then redo the installation process, so what are the right steps to do that, please?

[2021-06-01 08:59] fcollonval opened #10319 "Add linter rule for sorting import"
The import sort order is not standardized. It will be good to force a stable order
by setting an eslint rule.

There is the sort-import rule: https://eslint.org/docs/rules/sort-imports

We could use those parameters:

[code]

[2021-06-01 10:35] agoose77 commented on #10318
@Arij-Aladel why are you building JupyterLab, out of interest? Most extensions that people use should have pre-built versions on PyPI / conda-forge now.

[2021-06-01 10:46] krassowski commented on #10318
If you really need a blunt method to remove extensions you could use `jupyter --paths` to see where Jupyter stores your **data**, then you will find `labextension` directory in one of the listed paths and you could remove it (or better move it to a safe place so you have it as a backup), and then remove `jupyter\lab\settings\build_config.json` and `jupyter/lab/extensions/`. I obviously recommend a

[2021-06-01 10:49] mariobuikhuizen opened #10320 "3-second delay on kernel connection startup"
## Description

There is a 3-second delay before the first message is send to the kernel on kernel connection startup. This is impacting the time till connected to a kernel, which is especially noticeable in Voila.

## Reproduce
1. Open a notebook in jupyter lab
2. Check the time in de devTools console of "Starting WebSocket ..."
3. Check the time of the first kernel info request in the devTools n

[2021-06-01 13:39] goanpeca commented on #10317
@jess-x seems like something worth fixing :)

[2021-06-01 13:45] goanpeca commented on #10319
This sounds like a great idea. Would that PR be massive with lots of changes? 🤔

[2021-06-01 13:52] goanpeca commented on #10318
Should there be a CLI option to be able to do this?

[2021-06-01 14:42] NPetz commented on #8566
Hello, I'd like to try working on this one as my first contribution to OSS if nobody else is working on it and if it is needed.

As far as UI goes, would a mashup of the extension this feature comes from with the current UI be ok?
Something like in the rightmost screenshot.
<div style="display:flex;">
<img width="248" alt="current" src="https://user-images.githubusercontent.com/38439788/120341835-

[2021-06-01 16:33] jess-x commented on #10317
agree, I am on it :)

[2021-06-01 18:47] LukaPitamic commented on #8566
@NPetz WTG!!! It looks more than perfect to me

[2021-06-01 21:51] #2275 closed

[2021-06-01 22:24] bsyouness commented on #5680
There is a new increase/decrease mechanism to control font size that addresses this issue.
![image](https://user-images.githubusercontent.com/2256598/120397578-6b68cc80-c2ed-11eb-857f-d7def6150927.png)

[2021-06-02 03:10] krassowski commented on #9730
10043

[2021-06-02 03:13] krassowski commented on #9730
10043 addresses notebooks created from launcher rater than files created from browser though. I do agree a further discussion is needed, I was confused by this to.

[2021-06-02 03:37] ariel-co commented on #9752
The warning message about `min_open_files_limit` being None also happens in a brand new installation, created according to the ![“Reporting an issue” page](https://jupyterlab.readthedocs.io/en/latest/getting_started/issue.html):

[code]

[2021-06-02 03:46] ariel-co opened #10325 "jupyter lab --generate-config creates a file that is never read"
## Description

The `jupyter lab --generate-config` command creats a file that `jupyter lab` never looks for.

## Reproduce

[code]

## Expected behavior

Not sure if the output filename should be different or if ServerApp should look for `jupyter_lab_config`. Renaming it to `jupyter_lab.py` allows ServerApp to see it.

## Context

- Operating System and version: Windows 10 Pro
- JupyterLab versio

[2021-06-02 07:41] Arij-Aladel commented on #10318
@agoose77 Actually I am not an expert these are my new steps , I just do as I see from the  messages that popup from jupyter, I have Linux (Ubuntu 20.04) OS. I tried to install jupyter lab , that was Ok, then I wanted to make my life easier and install extensions  for example to autocomplete the code , debug etc.,  so simply searched on the YouTube to see how to do that and did, but after installi

[2021-06-02 11:45] Alex-ley commented on #2049
As a VERY hacky workaround, you could launch jupyter with the option enabled:

[code]
And then in the browser, enter one of these commands into the [console ](https://developer.chrome.com/docs/devtools/console/) to hide/show the dot files:
[code]

You would need to repeat this from time to time as you navigate around the file system and the view refreshes.

[2021-06-02 11:50] hbcarlos commented on #10243
Solved in #10244

[2021-06-02 11:50] #10243 closed

[2021-06-02 11:53] hbcarlos commented on #9896
Solved in #10190

[2021-06-02 11:53] #9896 closed

[2021-06-02 12:04] hbcarlos commented on #9763
I wondered if there is a way to register `connectors` by languages (or in the refactor https://github.com/krassowski/jupyterlab-lsp/pull/600, register `Providers` by languages)?

The idea is to differentiate the providers by language, and the CompleterManager registers providers depending on the document's language.

[2021-06-02 13:30] djangoliv commented on #6543
For example, I open the result of a flask app with jupyterlab_iframe but I can't reload it. I must close the tab and reopen it.

![screenshot](https://user-images.githubusercontent.com/13416971/120488530-2c9f4900-c3b7-11eb-8dbc-7626d11747fa.jpg)

maybe jupyterlab should offer it directly by right clicking on the tab (like the 'close tab' action) .

Regars

[2021-06-02 14:39] daubweb opened #10326 ""Re" in Pandas.apply function creates empty lines"
## Description

Whenever I apply a function having a statement containing regex-methods an empty "line" is created in the output even though no print statements are issued in the apply function

## Reproduce

1. Create an arbitrary pandas Dataframe with a text column
2. Write an arbitrary function  to manipulate some text using a regex -method (preferrably re.sub )
3. Apply this function using app

[2021-06-02 14:43] daubweb commented on #10326
Edit: After explicitely importing "re" this problem vanished...

[2021-06-02 14:43] #10326 closed

[2021-06-02 15:10] #3853 closed

[2021-06-02 16:44] krassowski commented on #10139
@mlucool, I took the liberty of converting it into checklist, could you see if it is fine and I have not missed anything?

[2021-06-02 16:59] vidartf commented on #8817
Since testutils is a dev dependency only, and only imported in test code (e.g. `.spec.ts` files), there shouldn't be an import cycle (which would be when things get problematic), so this should be okay as long as this condition stays as it is. For example this detected "cycle" should be ok:

[code]

[2021-06-02 17:00] #8817 closed

[2021-06-02 17:01] mlucool commented on #10139
Thanks @krassowski. Only thing missed one one of the boxes needed to be checked :)

[2021-06-02 17:03] jtpio commented on #7403
For reference / inspiration, RetroLab has a small plugin to show the status similar to the classic notebook:

https://github.com/jupyterlab/retrolab/blob/0f7c026472e64b9f9073cce47a00c072d6a84af5/packages/notebook-extension/src/index.ts#L151-L206

https://user-images.githubusercontent.com/591645/120521468-359f1300-c3d5-11eb-8fe4-a7c84230f9b5.mp4

[2021-06-02 17:07] dmonad opened #10327 "Shared editing session is lost when renaming a file"
## Description

With collaborative editing enabled (`--collaborative`): When renaming a file, the shared editing session is lost and new clients won't be able to collaborate.

This issue was first reported in our working repository and is a known bug: https://github.com/jupyter-rtc/jupyterlab/issues/34

## Reproduce

1. Create a new notebook with collaborative editing enabled. E.g. using a binder

[2021-06-02 17:22] krassowski commented on #8734
Still there on master, here is a notebook for reproduction: https://gist.github.com/krassowski/a0e73b2fcdfb374ba0941839d7e28e3f

[2021-06-02 19:00] meeseeksmachine commented on #9590
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/mybinder-jupyterlab-link-to-a-repo-subfolder-works-but-not-to-a-specific-notebook-in-that-folder/9443/4

[2021-06-02 20:09] goanpeca commented on #8736
@vidartf is this issue still relevant?

[2021-06-02 20:10] goanpeca commented on #10159
@mlucool could you check if the issue is still present in the latests alpha?

Thanks!

[2021-06-02 20:12] mlucool commented on #10159
LGTM now. Thanks!

[2021-06-02 20:12] #10159 closed

[2021-06-02 22:02] VladimirFokow opened #10328 "Typo in JupyterLab documentation"
On the FAQ page of JupyterLab documentation on:
https://jupyterlab.readthedocs.io/en/stable/getting_started/faq.html

There is a typo there: "Javsacript" is written instead of "Javascript".

[2021-06-02 23:03] dharmaquark commented on #10276
I can help with this one if unclaimed! to clarify, does deprecating here mean removing the old APIs/re-directing them to the newer APIs introduced in https://github.com/jupyterlab/jupyterlab/pull/8080, or something else? happy to help get this in ahead of the 3.1 cutoff

[2021-06-02 23:12] krassowski commented on #10276
It means adding comments like:

[code]

for code fragments, or

[code]

for entire functions that need deprecation. Beside that having a nice name of the PR which will show up in the changelog.

[2021-06-03 02:21] jasongrout commented on #10328
Looks like that typo also happens in a comment elsewhere: https://github.com/jupyterlab/jupyterlab/search?q=Javsacript

Thanks for pointing this out. Labeling this as a good first issue.

[2021-06-03 03:30] manavendrasen commented on #10328
Hey! I would like to fix this. This will be my first issue :)

[2021-06-03 03:41] manavendrasen commented on #10328
Let me know if that's ok.

[2021-06-03 07:37] fcollonval commented on #9735
Fixed in #10201

[2021-06-03 07:37] #9735 closed

[2021-06-03 07:37] fcollonval commented on #5133
Fixed in #10201

[2021-06-03 07:37] #5133 closed

[2021-06-03 07:39] b-trav commented on #9623
As pointed out by @tomdries, word wrapping is not working for me in a markdown file in the text editor, but it is working within a markdown file in a notebook.
I am running Jupyter 3.0.14 in Chrome on a Ubuntu 18.04 machine
![image](https://user-images.githubusercontent.com/16848340/120606459-c8958700-c481-11eb-812b-79aa9df67bb7.png)

[2021-06-03 07:51] ustcxmwu commented on #9522
however， there is no dir named custom in .jupyter/

[2021-06-03 07:57] krassowski opened #10334 "Contextual Help menu cannot be moved to the side"
Now that #10201 is merged it is not possible to move Contextual Help to side. Opening this ticket to ensure it get fixed before 3.1 as this is a major usability regression.

_Originally posted by @krassowski in https://github.com/jupyterlab/jupyterlab/issues/10201#issuecomment-839991277_

so I think it's not just me thinking this. Does that make more sense?

_Originally posted by @isabela-pf in ht

[2021-06-03 08:52] hbcarlos commented on #10276
Thanks, @dharmaquark! We only need to add the tag `@deprecated` to the JSDoc of the function we want to deprecate.
Like in this case https://github.com/jupyterlab/jupyterlab/blob/ea9aa707c2537d2b89c30375a1225648f0b948d1/packages/rendermime/src/registry.ts#L409-L420

[2021-06-03 09:00] PranshuS007 opened #10335 "Not able to open jupyter lab on windows using pip."
I write jupyter-lab to open jupyter from command prompt. I encounter this error "cannot import name 'DEFAULT_STATIC_FILES_PATH' from 'notebook' "

[2021-06-03 09:52] fcollonval commented on #10334
@krassowski following your comment I revert that change in the mentioned PR (after taking the latest screenshots to have two panels). So for now only the log console will be set there.

[2021-06-03 09:52] #10334 closed

[2021-06-03 09:53] krassowski commented on #10334
Thanks, sorry for the noise then!

[2021-06-03 09:54] Lykeios opened #10337 "Can't call inherent commands through app.commands.execute in extension"
I saw that the function of opening up a new terminal is registered into the commands registry by the name of '**terminal:create-new**' in the **@jupyter/terminal-extension**, and I think it's a recommended way to call it rather than write an open-up function myself.

Yet when I write some code like below and build it:

the browser console prints it wasn't registered:

Seems I didn't call the comma

[2021-06-03 09:54] fcollonval commented on #10334
No prob better to be sure than to let slip a regression :wink:

[2021-06-03 12:11] #10328 closed

[2021-06-03 12:12] VladimirFokow commented on #10328
Thanks!

[2021-06-03 14:09] dharmaquark commented on #10276
Ah got it, thanks for the examples! I can take a pass at adding the tags for the APIs notes above!

[2021-06-03 15:29] eleijonmarck commented on #5863
@joelostblom I will close the PR if you say that it is merged.

Awesome work!!!!!!!!!!!!!!!!!!!!!! everyone involved
especially @cameron-toy

[2021-06-03 15:29] #5863 closed

[2021-06-03 19:20] kpinnipa commented on #9703
Is there anyone working on this issue?

[2021-06-03 20:09] goanpeca commented on #9703
Hi @kpinnipa it seems no one is working on this (yet), would you like to take a stab at it :) ?

Happy to provide pointers. Cheers!

[2021-06-03 20:43] jahn96 commented on #10194
Is there anyone working on this?

[2021-06-03 20:44] krassowski commented on #10194
I'm not, so I think it's up for grabs

[2021-06-03 20:46] jahn96 commented on #10194
I see. I will take a stab at this!

[2021-06-03 20:57] krassowski commented on #10337
Your code seems good and indeed this is the recommended way of using existing commands. One thing that might be missing is specifying that your `"launcher_terminal:plugin"` requires `ITerminalTracker` to be available (because this is the token provided by the plugin that registers `"terminal:create-new"` command). I think that this will ensure that your extension is started only after the command

[2021-06-04 09:35] Lykeios commented on #10337
@krassowski Thanks for your help! It works, to some extent. I have some further questions if I may ask:
The function of the extension I developing is intended to let JupyterLab open up a terminal directly when activated, instead of opening up the launcher first. Thanks to your assist, I modified my code and it now can start a terminal when JupyterLab started. The whole source code is pasted in the

[2021-06-04 09:46] okina850 opened #10339 "BenchmarkTools of Julia doesn't work well on Jupyterlab"
## Description
Julia package [BenchmarkTools] (https://github.com/JuliaCI/BenchmarkTools.jl) doesn't work properly on Jupyterlab .
When using macro `@benchmark` for the function I defined, the result does not come up on the output cell.
[code]
However, if I put the benchmark result into a variable and evaluate it in another cell, it is properly output.
[code]

## Context

- Operating System and ve

[2021-06-04 11:02] jtpio opened #10340 "Prepare JupyterLab for use with Jupyter Releaser"
Prepare JupyterLab for use with [`jupyter_releaser`](https://github.com/jupyter-server/jupyter_releaser).

Prerequisities:

- Convert `jlpm patch:release` to `jlpm bumpversion patch` so we have a single bump version command.
- Publish packages using verdaccio during the Python build stage so we can use them in the `check_release` step
  when updating core mode and testing the release (we don't act

[2021-06-04 11:23] krassowski commented on #10337
There is an example on how to add the terminal to the main widget area after it was opened in the [extension points](https://jupyterlab.readthedocs.io/en/stable/extension/extension_points.html#left-right-areas) article; for convenience I will copy-paste how to do so here (but it might change in the future, so for any time-traveler - it is best to check the docs):

[code]

I found it by using "sear

[2021-06-04 11:31] krassowski commented on #10339
Thanks for opening this issue. Could you try running the same code in Jupyter Notebook (you might be able to easily start it with `jupyter notebook`) and seeing if it behaves the same way? If it does, then it likely not a problem with JupyterLab but something that should be addressed by the IJulia kernel (I am assuming that you use IJulia, right?) and would be best reported at [JuliaLang/IJulia.jl

[2021-06-04 13:00] #10091 closed

[2021-06-04 13:06] fcollonval opened #10341 "License help menu items from settings"
With #10254 in, the package can now defined user customizable menus from the settings.

We could consider bringing it for:

https://github.com/jupyterlab/jupyterlab/blob/a8dff39a1a2be850a80861e05145e763079b8794/packages/help-extension/src/index.tsx#L607

This implies to always add the commands and to set their `isVisible` to be condition of the server capability.

What do you think @bollwyvl ?

[2021-06-04 13:29] fcollonval opened #10342 "Fix master UI test"
Merging #10254 ends up breaking the UI tests due to the help menu order with the parallel PR on licenses.

I'll work on a fix.

[2021-06-04 13:49] mlucool opened #10343 "Replace Menu Items"
### Problem

When developing a newer version of a similar feature in lab, you often want to override the current behavior of a menu item. For example, I may create a better "Open from Path..." that lets you also open from a URL or a path. Today I can only appended yet another option to the File menu, which is confusing for users. Instead, I want to replace "Open from Path..." with "Open from Path

[2021-06-04 15:51] fcollonval commented on #10343
With #10254 , it should be possible to disable an core menu entry. So you can plug yours. This will be more reliable than adding the ability of removing/replacing item.

Two comments:
- I did not try to do it
- You actually can remove an item from the menu by using the [`removeItem`](https://jupyterlab.github.io/lumino/widgets/classes/menu.html#removeitem) method of `Menu` widget. For the context

[2021-06-04 17:48] KrishnaKumarHariprasannan opened #10347 "Improve aria-labels and screen-reader visibility of notebook cells"
### Problem

Coming from https://github.com/jupyterlab/jupyterlab/pull/9031 - notebook cell ARIA attributes are not an accurate reflection of their content and consequently cell operations are also captured inaccurately in screen readers. For example, notebook cells are labelled as "Notebook Content" (whereas it should've been "Cell Content", possibly enhanced with more context).

### Proposed Sol

[2021-06-04 17:50] KrishnaKumarHariprasannan commented on #10347
@manfromjupyter - kindly assign this to me and I will work on this shortly.

[2021-06-04 19:50] kpinnipa commented on #9703
Thanks for the quick response! I thought I might have some time this week but got a bit busy; might try to work on it in the future but not sure so I'll follow up if I do (although totally fine if someone else takes it on instead).

[2021-06-04 20:08] #10342 closed

[2021-06-05 08:50] BugApe commented on #9522
Same Question

[2021-06-05 08:58] BugApe commented on #7012
This worked!

[2021-06-05 09:01] BugApe commented on #9522
I found a solution: You could append /lab/reset? to the end of the URL in your browser

[2021-06-05 12:05] Warlock0093 opened #10350 "plotly.express & px.parallel_categorie does not show the map and any info"
I need to use **plotly.express** and **px.parallel_categorie** library but the code **shows nothing**, just a white screen **(see attachment)**, where am I wrong. Or followed many online guides, installing and re-staging ploty. But nothing.

MY CODE in JUPYTERLAB
<img width="776" alt="Schermata 2021-06-05 alle 14 04 29" src="https://user-images.githubusercontent.com/85396602/120891097-f48e4500-c60

[2021-06-05 12:17] jasongrout commented on #10350
Have you tried asking in the plotly help channels?

[2021-06-05 12:21] Warlock0093 commented on #10350
Not, but i try as soon

[2021-06-05 15:08] bollwyvl commented on #10341
Just to check, `isVisible` on the command will hide the menu item?

[2021-06-05 15:09] bollwyvl commented on #10341
Actually, the issue is that it _won't even be registered_.

[2021-06-05 17:01] epsilon-deltta opened #10351 "loading algorithm in left file explorer."
![image](https://user-images.githubusercontent.com/45354219/120899414-95621c00-c66a-11eb-833d-c7eb26323637.png)
when clicking some folder , this jupyterlab loads all files for showing all items .
but if there 're many files in a folder, it tooks many time. and somtime , it doesn't work.

so i think it needs to be changed to another algorithm (not to load all of files at a moment)

[2021-06-05 19:37] jasongrout opened #10352 "Remove fileeditor dependency from codemirror-extension package"
tldr; I think the [@jupyterlab/codemirror-extension](https://github.com/jupyterlab/jupyterlab/tree/master/packages/codemirror-extension) should not depend on the [@jupyterlab/fileeditor](https://github.com/jupyterlab/jupyterlab/tree/master/packages/fileeditor) package.

We currently have an awkward dependency relationship, where the [@jupyterlab/codemirror-extension](https://github.com/jupyterlab/

[2021-06-06 01:17] othalan commented on #5741
I have come to detest this autoClosingBrackets feature, mostly because of my frequent use of python f-strings. I wouldn't mind the feature if the bugs were removed.  But that seems unlikely as the CodeMirror issue has been open since 2014!

I too would love to disable this feature in the console, and have found no solution.

[2021-06-06 01:29] jasongrout commented on #5741
The current pr under review turns it off everywhere, and lets you turn it back on in notebooks or the file editor.

[2021-06-06 07:25] pya opened #10354 "Tag multiple cells via UI"
Maybe there is already a solution to this problem. But I could not find one.  Maybe I did not search for the right terms.

### Problem

Currently, you can set a cell tag via clicking on a tag button listed under "Cell Tag" in the Property Inspector (window that opens by default on the right-hand side under the icon with two gears). I often need to tag multiple tags with the same tag. So, I select

[2021-06-06 08:59] fcollonval commented on #10341
Yes the items won't be visible. And indeed this implies registering the commands even when they are not available.

[2021-06-06 10:50] nadavaviv commented on #9187
Hey, pinging this back up..

[2021-06-06 13:57] shngt commented on #9874
Should this issue be closed? Seems like it's been resolved

[2021-06-06 14:14] blink1073 commented on #9874
Agreed, thanks for the heads up!

[2021-06-06 14:14] #9874 closed

[2021-06-07 12:56] itaihay commented on #10157
I’m experiencing the same issue with my deployment

[2021-06-07 13:55] stromal opened #10358 "How to isntall Temsorboard extension to Jupyter Lab on AWS EC2?"
I want to isntall Temsorboard to Jupyter lab on AWS EC2 but it just doesent works.
I have similar issue to this [post](https://stackoverflow.com/q/60271242/10270590).

My issue that I do not want to open up the firewall as some people recommended, because of security concerns. So that answer is not resolving my situation. And I don't see why it cant do any of this because I can download, install,

[2021-06-07 14:18] #8566 closed

[2021-06-07 18:02] krassowski commented on #8566
Did this go into the TOC package? I wonder if it would be better to have it in cell tools. What is the rationale for having it in TOC rather than in cell tools?

[2021-06-07 23:32] jasongrout commented on #10352
I think the codemirror extension factory functions should not keep track of editors it creates and automatically modify relevant settings. For one, the defaults already are a layering of various defaults in
https://github.com/jupyterlab/jupyterlab/blob/4cb624755d6ddf4e59b3993fd9fcebaf255ec5cb/packages/codemirror/src/factory.ts#L22-L51
Second, any editor may have its options changed by whoever crea

[2021-06-08 06:23] NPetz commented on #8566
@krassowski

I think it makes more in sense in the TOC because the cell tools (notebook tools?) is used to _edit_ cells, whereas the TOC is used to _filter/select_ cells in the entire notebook.

What do you think?

[2021-06-08 06:29] icankeep opened #10361 "jupyterlab 3.0 doesn't support for collapsing notebook sections via the ToC"
## Description

jupyterlab 3.0 doesn't support for collapsing notebook sections via the ToC

toc extension pr: https://github.com/jupyterlab/jupyterlab-toc/pull/103

jupyterlab 3.0

![image](https://user-images.githubusercontent.com/39434627/121134245-c22e5300-c865-11eb-9c7e-46fcff97b7fc.png)

jupyterlab 2.2.4  install toc extension

![image](https://user-images.githubusercontent.com/39434627/1211

[2021-06-08 08:25] jtpio opened #10363 "Name File Dialog requires clicking several times to close it"
## Description

The "Name File Dialog" sometimes requires clicking on the Enter button several times in a row so it can be closed.

Here is an example running on the latest `master`, creating a new notebook from scratch:

https://user-images.githubusercontent.com/591645/121150032-77034880-c843-11eb-9f0c-1f3c80396c8d.mp4

## Reproduce

1. Open JupyterLab from the master branch in dev mode
2. Create

[2021-06-08 08:44] stigersh opened #10365 "half of jupyter lab screen appears to be gray"
Hi,
Basically I have the same as in [git issue](https://github.com/jupyterlab/jupyterlab/issues/3329)
but the issue is closed and running `jupyter labextension install @jupyter-widgets/jupyterlab-manager` didn't work.
I installed jupyter lab on my M1 Mac with Anaconda, jupyter lab 3, when I started running a notebook the view messed up to half screen and I couldn't fix it by unstalling nodejs and

[2021-06-08 09:33] stromal opened #10366 "Multiple requests"
- When I add an extension with the GUI it should actually work whiteout me opening the firewall, building it or anything. Especially in cloud services ubuntu 18.04 AWS ec2 SageMaker, tensor board and dask board extension doesent works, many other just don't work.
- Google Collab like automaticly creating hyperlinked bibliography
- Multiple hundred of cell notebooks not collapsing and falling apart

[2021-06-08 15:17] jtpio commented on #10366
Thanks @stromal.

Would you mind opening a new issue per item? (and keep the issue template to make it easier to read and process)

Or better, find whether some of these issues and requests already have an opened ticket?

Thanks!

[2021-06-08 16:05] jasongrout commented on #10365
I'd suggest trying to narrow this down by following the guidelines in https://jupyterlab.readthedocs.io/en/stable/getting_started/issue.html

[2021-06-08 18:27] alexkim-avant opened #10369 "Copy shareable link does not use /hub/user-redirect/ in URL"
## Description

Clicking "copy shareable link" copies to the clipboard a URL that uses the `/user/name/` path instead of the wanted `/hub/user-redirect/`.

## Reproduce

1. Right click on notebook in the file explorer
2. Click on "Copy Shareable Link"

## Expected behavior

Returns a URL that uses the /hub/user-redirect/ path schema

## Context

JupyterLab - 3.0.16
JupyterHub - 1.3.0
k8s - 1.16

[2021-06-08 18:33] goanpeca commented on #5716
Wondering what is the current state of this issues :)

Was this implemented @jupyterlab/committers ?

[2021-06-08 18:34] goanpeca commented on #5614
I think this has been implemented as part of https://github.com/jupyter/jupyter_core/pull/149?

Is this the case @mlucool?

[2021-06-08 19:01] goanpeca commented on #9510
Closing this as the behavior should remain opt-in.

See: https://github.com/mlucool/jupyterlab/commit/6c520d7d763ec9a02096c9410cbb211272f5e5e0

https://github.com/deshaw/jupyterlab-execute-time/ could change the setting on activation, and possibly ask the user before doing so.

Thanks @mlucool !

[2021-06-08 19:01] #9510 closed

[2021-06-08 19:07] goanpeca commented on #8489
This PR might help moving in this direction https://github.com/jupyterlab/jupyterlab/pull/10346

[2021-06-08 19:14] goanpeca commented on #8541
I can confirm this behavior on Mac as well.

[2021-06-08 19:47] jasongrout commented on #10369
Relevant parts of the code, for someone wanting to dive into this:

Share File is provided by a plugin so that it is easy to override. In the docs, the user-direct case is explicitly mentioned: https://github.com/jupyterlab/jupyterlab/blob/9850b1a0461ae7d32374ca970185bdd12029fa62/packages/filebrowser-extension/src/index.ts#L487-L526

Notice the sharing code uses PageConfig.getUrl. Searching jlab f

[2021-06-08 19:50] jasongrout commented on #10369
On the other hand, https://github.com/jupyterlab/jupyterlab/issues/10275 indicates that the user-direct url is coming up in jupyterhub, so someone should reproduce this problem first of all, to make sure it's a problem in JupyterLab and not, for example, in the configuration or something of your particular setup.

[2021-06-08 20:13] jasongrout commented on #10352
I explored a bit with some of these ideas in https://github.com/jasongrout/jupyterlab/tree/editordefaultsettings (commit  https://github.com/jasongrout/jupyterlab/commit/8a6a27d15994138893eb1c27c1ac04c5d5a44745)

[2021-06-08 20:25] mlucool commented on #5614
Yup!

[2021-06-08 20:25] #5614 closed

[2021-06-08 20:30] jasongrout commented on #8541
This probably comes from these lines?

https://github.com/jupyterlab/jupyterlab/blob/9850b1a0461ae7d32374ca970185bdd12029fa62/packages/apputils/src/dialog.tsx#L220-L222

[2021-06-08 21:04] goanpeca commented on #7810
Can not reproduce this on the latest master.

Closing.

[2021-06-08 21:50] goanpeca commented on #7696
@jasongrout what do you think of this one?

[2021-06-08 22:03] goanpeca opened #10370 "Update Codemirror to version 6"
### Problem

Currently codemirror (5.x) presents some performance and accessibility issues which have been addressed in the new version CodeMirror Next ( https://codemirror.net/6/)

### Proposed Solution

Update to use the new version

### Additional context

This version is backwards incompatible, so this would go into JLab 4.x

### Performance

@echarles worked on some performance benchmarks:

!

[2021-06-08 22:04] afshin commented on #9901
I'd say we should either set it to `501` or `900` then. What do you think?

[2021-06-08 22:04] goanpeca commented on #10370
Pinging @mlucool

[2021-06-08 22:08] ellisonbg commented on #9901
Agree about `501` or `900`. Maybe `501` as `900` was meant to handle the case of a rank not being specified?

[2021-06-08 22:13] goanpeca commented on #10139
Now that https://github.com/jupyterlab/jupyterlab/pull/10201 is in, maybe that could be an option.

[2021-06-08 22:13] goanpeca commented on #7176
Now that https://github.com/jupyterlab/jupyterlab/pull/10201 is in, maybe that could be an option.

[2021-06-08 22:21] goanpeca commented on #7478
Is this extension doing some of the requested idea already https://github.com/jtpio/jupyterlab-system-monitor ?

[2021-06-08 22:23] goanpeca commented on #7563
Is this something that we should document or add to the extension examples as "the" solution to this question?

What do you think @jtpio @fcollonval ?

[2021-06-08 22:52] mlucool commented on #7478
I'm not aware of per-kernel option in jupyterlab-system-monitor, but I recall it being discussed elsewhere at some point.

cc @jtpio

[2021-06-09 00:39] cdibble commented on #6893
In case this info is useful reference... Culling as handled by the [idle-culler project](https://github.com/jupyterhub/jupyterhub-idle-culler) will happily cull JLab servers that do not maintain an active browser connection, it seems. (related- I've opened [this issue ](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/2244) because I cannot seem to configure `idle-culler` to skip named

[2021-06-09 01:16] jasongrout commented on #7696
IIRC, there is some code in JLab to deal with opening to a specific anchor already. Can we use that?

[2021-06-09 06:24] fcollonval commented on #5716
I can confirm it is not implemented as I hit it when moving the menu bar definition into the settings files.

[2021-06-09 06:39] LukaPitamic commented on #8566
@NPetz (IMH) I agree with @krassowski - same tool for making tags in the first place and selecting cells with tags makes perfect sense. However the effort being put into adding feature is worth more. This was a feature I was missing for a long time.

[2021-06-09 06:43] jasongrout commented on #7696
See https://github.com/jupyterlab/jupyterlab/pull/4692, for example.

[2021-06-09 06:45] jasongrout commented on #7696
See also https://github.com/jupyterlab/jupyterlab/issues/5720 and https://github.com/jupyterlab/jupyterlab/pull/5727

[2021-06-09 07:18] fcollonval commented on #9901
Actually the documentation points to the sidebars tab rank. But for the rendermime registry the default value is 100:
https://github.com/jupyterlab/jupyterlab/blob/9850b1a0461ae7d32374ca970185bdd12029fa62/packages/rendermime/src/registry.ts#L220-L222

I pushed a PR with 100: https://github.com/jupyterlab/mimerender-cookiecutter-ts/pull/28

[2021-06-09 08:36] jtpio commented on #10370
cc @dmonad

[2021-06-09 08:40] jtpio opened #10371 "Visual Regression Tests are failing on CI"
## Description

Opening an issue to track the failure of the UI / Visual Regression tests on CI on `master`, which is also happening on new PRs.

Here is an example test run for reference: https://github.com/jupyterlab/jupyterlab/runs/2776114709

![image](https://user-images.githubusercontent.com/591645/121321899-cd898900-c90e-11eb-92e0-83436cc9ece5.png)

## Reproduce

Run the UI tests on CI.

[2021-06-09 08:43] jtpio commented on #10371
The failure can be inspected by downloading the artifact and opening the report.

It looks like some screenshots don't match the reference:

![image](https://user-images.githubusercontent.com/591645/121322721-8354d780-c90f-11eb-8654-370916393250.png)

[2021-06-09 08:56] jtpio commented on #10371
Sounds like this could be related to this PR that was recently merged: https://github.com/jupyterlab/jupyterlab/pull/10127

[2021-06-09 09:01] jtpio commented on #10371
Regenerating the reference screenshots should fix it.

[2021-06-09 09:29] jtpio commented on #7563
Maybe as a side-note in the example README to start with? https://github.com/jupyterlab/extension-examples/blob/master/settings/README.md

It will at least be more discoverable than this issue.

@mlucool or @goanpeca, would you like to open a PR to add it? Thanks!

[2021-06-09 11:11] #9901 closed

[2021-06-09 11:53] stigersh commented on #10365
Hi thanks, I went through the link, and it's reproduced in the test environment, isn't reproduced for jupyter notebook mode, and reproduced for incognito browser settings.
I think it first happened after I ran the first notebook after installation which saved and loaded an html:
<img width="678" alt="Screenshot 2021-06-09 at 13 51 30" src="https://user-images.githubusercontent.com/3474639/12134948

[2021-06-09 12:08] vyason commented on #5889
Here is something I couldn't find a solution for on the internet:
1) Open the jupyterlab filebrowser and open some pdfs
2) Open any of the pdf tab
3) Switch to any of the other pdf tab
4) Switch back to the old pdf tab in 2) and its gone! There's just a grey background on the screen.
5) Switch back to the pdf tab in 4) and it is also gone.
I am using Chrome on Windows 10 with jupyterlab server run

[2021-06-09 12:21] vyason opened #10374 "Problem with viewing pdfs in jupyterlab"
Here is something I couldn't find a solution for on the internet:

1) open the jupyterlab filebrowser
2) open a pdf
3) switch to another tab
4) switch back to the old pdf tab in (2) and it's gone... there's just a grey background on the screen

I am using Chrome on Windows 10 with jupyterlab server 1.7.0 running in WSL2-Ubuntu.

[2021-06-09 13:20] fcollonval commented on #7563
Would a solution not using the helpers of the mime extension be more appropriate?

The rendermime extension is converted in JupyterFrontEndPlugin using:
https://github.com/jupyterlab/jupyterlab/blob/9850b1a0461ae7d32374ca970185bdd12029fa62/packages/application/src/mimerenderers.ts#L94-L97

The tracker can be requested with the token `IMimeDocumentTracker`:
https://github.com/jupyterlab/jupyterlab/

[2021-06-09 13:22] goanpeca commented on #7563
Indeed that looks better @fcollonval :)

[2021-06-09 14:47] #10371 closed

[2021-06-09 15:02] fcollonval opened #10375 "Visual regression introduced in #10127"
This is indeed visible when pulling the report from the commit (https://github.com/jupyterlab/jupyterlab/commit/d3915f659e76fedd0516da92925431e3e0b3c17b) that merged #10127:

https://github.com/jupyterlab/jupyterlab/runs/2775919871

We can see the difference before and after:

https://user-images.githubusercontent.com/591645/121357917-7dbcb900-c932-11eb-9f2a-3d62593e4d57.mp4

_Originally posted by

[2021-06-09 15:09] goanpeca commented on #10375
Is this different from https://github.com/jupyterlab/jupyterlab/pull/10372 ?

[2021-06-09 15:10] jtpio commented on #7478
Yes there was a prototype PR in https://github.com/jtpio/jupyterlab-system-monitor/pull/36:

![kernel-metrics](https://user-images.githubusercontent.com/591645/85010827-f5616900-b160-11ea-8433-a16af5474cf1.gif)

If anyone want to pick it up, be my guest :)

There is also https://github.com/jupyter-server/jupyter-resource-usage/pull/41.

The feature should ideally go in https://github.com/jupyter-s

[2021-06-09 15:13] jtpio commented on #10375
Yes it's the follow-up issue to fix the visual regression.

[2021-06-09 15:25] goanpeca commented on #10375
:+1:

[2021-06-09 15:40] jtpio opened #10377 "Add a screenshot for each of the examples"
### Problem

At the moment it's a bit difficult to get an idea of what the examples in the `examples/` folder look like: https://github.com/jupyterlab/jupyterlab/tree/master/examples

For example browsing the `console` example just gives a list of files, but it would be great to have a README there:

![image](https://user-images.githubusercontent.com/591645/121385727-a7350f00-c949-11eb-9298-6874c6

[2021-06-09 15:42] goanpeca commented on #10377
Great idea @jtpio.

Yes :)

[2021-06-09 16:46] williamstein commented on #10202
We just discussed usernames during the JupyterLab dev call, and Isabela encouraged me to add a note here about what I need for cocalc.   I would like a command line option to the jupyterlab server that makes it so when a user connects to jupyterlab, the URL specifies a username and color, and that will be used.   E.g.,
[code]

CoCalc handles all of its own security/auth, so this would be sufficien

[2021-06-09 16:59] mlucool commented on #9901
Thanks for making the update to cookiecutter. Can we also update the docs to provide official guidance?

[2021-06-09 19:37] jtpio opened #10378 "Issue with themes installed as federated extensions"
## Description

This was discussed during the JupyterLab weekly call today.

There seems to be some issues with styles not being unloaded when switching themes.

## Reproduce

There are at least two occurences of this at the moment in third-party themes:

- https://github.com/telamonian/theme-darcula/issues/32
- https://github.com/timkpaine/jupyterlab_miami_nights/pull/14#issuecomment-854453165

!

[2021-06-09 20:58] ianhi opened #10379 "Add `Restart Kernel and Run to Selected Cell` to notebook context menu"
### Problem
Currently the context menu includes the option to `Restart Kernel`
![image](https://user-images.githubusercontent.com/10111092/121427451-bbc1d900-c942-11eb-8976-880b099eee70.png)
 and there are toolbar buttons for both `restart and run all` and `restart kernel`:
![image](https://user-images.githubusercontent.com/10111092/121427582-e3b13c80-c942-11eb-98c5-8f78524ed98a.png)

but the only

[2021-06-09 21:17] bergkvist commented on #9863
This worked for me on MacOS Big Sur:
[code]

[2021-06-10 01:34] jasongrout commented on #10378
Investigating, the problem is that (a) the theme gives the css in its style key, so it is packaged into the prebuilt bundle as a webpack module, and then (b) jlab doesn't do what the documentation claims, i.e., ignore any css files if there is a themePath defined (probably my mistake in writing that doc?)

We can ignore any css file if a theme path is defined by this patch to jupyterlab_server, wh

[2021-06-10 02:03] jukworks commented on #5905
I totally agree that it makes UI more confusing because execution numbers already exist.
But when I run nbQA(https://github.com/nbQA-dev/nbQA), it gives me error/warning positions like 'cell_{N}'. I can quickly access the cell if Jupyter shows cell numbers. @jasongrout
Thanks.

[2021-06-10 07:44] jtpio opened #10380 "Drop the `CodeEditor` abstraction"
In the [weekly dev meeting yesterday](https://github.com/jupyterlab/team-compass/issues/117#issuecomment-858386990), we discussed whether we should drop the [`CodeEditor`](https://github.com/jupyterlab/jupyterlab/tree/master/packages/codeeditor) abstraction. The overall sentiment was positive, with ~15 people in the call.

This would be a [4.0](https://github.com/jupyterlab/jupyterlab/milestone/61

[2021-06-10 07:54] jasongrout commented on #10378
Can you try just deleting the style/styleModule keys in the darcula package.json?

With https://github.com/jupyterlab/jupyterlab/pull/10381, the default extensions delete their style/styleModule keys.

[2021-06-10 07:58] jasongrout commented on #10380
Thanks for opening this. Several people in the meeting also said we should move directly to CodeMirror 6 in 4.0, and that it is pretty stable at this point.

[2021-06-10 08:06] fcollonval commented on #10380
:+1:

@vidartf I know that CM author decided to not port the merge view feature of CodeMirror 5 to 6: https://github.com/codemirror/codemirror.next/issues/327

This will presumably require some efforts to get nbdime and jupyterlab-git compatible with 4.0. But this is not a blocker.

[2021-06-10 09:28] fcollonval opened #10383 "Error emitted when closing a notebook"
This line is raising an error when closing a notebook as `panel` is `null` in that case:

https://github.com/jupyterlab/jupyterlab/blob/716edcafdfce855d29bd8f4a22e3ed44f021b195/packages/notebook-extension/src/index.ts#L1355

![error_closing_nb](https://user-images.githubusercontent.com/8435071/121500755-e2355200-c9de-11eb-9dbb-9476bdf09055.gif)

cc @marthacryan this was introduced by #10260

[2021-06-10 11:38] #10319 closed

[2021-06-10 13:45] krassowski commented on #10377
In addition to examples in `examples/`, what do you think about moving examples which are already in the docs and to there?

For example the add [notebook button](https://jupyterlab.readthedocs.io/en/stable/extension/notebook.html ) example got out of date (the font awesome icon no longer shows up). We could just embed source code from appropriate file into the documentation which is easy with MyS

[2021-06-10 15:45] jtpio commented on #10090
For reference this is where the "Restart and Run All" logic is currently implemented:

https://github.com/jupyterlab/jupyterlab/blob/97fd1a19bb5fcaa718b43a5d216ba9bf402d3af9/packages/notebook-extension/src/index.ts#L1581-L1600

And also here, which seems to be a duplication of the same logic:

https://github.com/jupyterlab/jupyterlab/blob/97fd1a19bb5fcaa718b43a5d216ba9bf402d3af9/packages/notebook-

[2021-06-10 15:54] hot9cups commented on #7446
2 years late, but did you ever find a solution to this?

[2021-06-10 17:40] jasongrout commented on #10378
Fixed by #10381.

The main thing fixed by that PR is updating the documentation to accurately reflect that theme css should not be pointed to by the style/styleModule keys. The other part of the PR is enacting that change for our core themes.

[2021-06-10 17:40] #10378 closed

[2021-06-10 17:40] jasongrout commented on #10378
This works today, with no changes to jlab. See https://github.com/telamonian/theme-darcula/pull/33, for example.

[2021-06-10 18:49] shngt commented on #10369
I tried reproducing this issue, and it seems like it's related to configuration - my firm's deployment of JupyterHub uses the correct `hub/user-redirect` links, but when I tried setting it up on my machine, I could only see `user/name/` links. I'm very new to this project however, so not sure if I'm doing things right.

[2021-06-10 18:57] jasongrout commented on #10369
I'll have to defer to someone else then - I haven't set up JupyterHub in a production environment before.

[2021-06-10 19:05] shngt commented on #10369
Apologies for deleting my earlier comment, I didn't want to add any confusion to this thread. For reference, it was this:

However, I was just reading the documentation for `shareFile` that you linked above - the last line says "If you need to change how this link is generated (for instance, to copy a /user-redirect URL for JupyterHub), disable this plugin and replace it with another implementatio

[2021-06-10 21:13] ashrauma commented on #10173
This can be resolved simply by upgrading to https://github.com/yarnpkg/berry/issues/3017 @>=2

[2021-06-10 22:08] jasongrout commented on #10173
That said, it has been a while since I looked at it, so hopefully things are better.

[2021-06-10 23:24] jess-x commented on #6352
Hi @jasongrout, I am currently working on this one. Is it ok to mirror notebook's autoClosingBrackets setting when Console's `interactionMode` is in "notebook"?

[2021-06-10 23:29] jasongrout commented on #6352
I would suggest mirroring it always, not just when the interaction mode is "notebook"

[2021-06-10 23:30] jasongrout commented on #6352
The interaction mode being notebook just means (right now) that it executes on shift-enter rather than enter. I suppose we could extend that, but I think the direction I'd love to see is mirroring codemirror settings across all codemirrors.

[2021-06-11 00:18] jess-x commented on #6352
I agree, having an unified codemirror setting for all codemirrors seems intuitive to me (even though I personally mainly interact with codemirrors through notebooks)
I noticed only notebooks have an interface to set codeCellConfig, right now. Does this translate to making a user change in notebook's codeCellConfig should broadcast to all codemirrors (including ones in Console)?

[2021-06-11 04:13] jasongrout commented on #10369
I imagine it is already written, and perhaps distributed with jupyterhub or something? I don't know for sure, but I imagine we'd have a lot more people opening issues if this was a widespread problem.

Have you asked in the jupyterhub channels?

[2021-06-11 10:05] parmentelat commented on #7776
Hiya; is there any hope to see this settled in a reasonable future ?

sorry in advance that this is going to go a little off track from the issue at hand
I tried to discuss this on discourse too, but it did not trigger a reaction yet, so I'm trying my luck here
https://discourse.jupyter.org/t/opening-a-jupytext-powered-notebook-under-jlab/9545

---
in a nutshell I "just" need to have a url to a ju

[2021-06-11 10:26] jtpio commented on #10090
Maybe that could be the way to go actually? And would solve other usability issues with the debugger such as being able to keep the breakpoints when manually turning off and on (not just restarts), at least temporarily while still on the page (breakpoints would still be lost after reloading the page).

This could also be made a settings so end users could decide whether or not to keep breakpoints

[2021-06-11 10:33] #10375 closed

[2021-06-11 11:14] jtpio opened #10385 "Consider testing the debugger with `ipykernel` too"
The latest prereleases of `ipykernel` now include support for debugging: https://pypi.org/project/ipykernel/6.0.0rc0/

We should consider testing against it in the various tests in https://github.com/jupyterlab/jupyterlab/tree/master/packages/debugger/test.

For now it is assumed `ipykernel` does not support debugging here, but this is going to change soon:

https://github.com/jupyterlab/jupyterla

[2021-06-11 11:32] martinRenou commented on #10090
It would also be nice to have a more "dynamic" UX, where breakpoints can always be added. If a first breakpoint is added by the user and the debugger was not started, the debugger would start automatically.

This would make the workflow "start debugger" > "add breakpoints" > "run" less cumbersome

[2021-06-11 11:42] krassowski commented on #9602
This was fixed in IPython 7.20. You can upgrade IPython using:

pip install -U "ipython>=7.20"

I will be close this issue as it is not a bug in JupyterLab but rather a temporary incompatibility between Jedi and IPython which was already resolved. Sorry everyone that you have not got a response earlier.

[2021-06-11 11:42] #9602 closed

[2021-06-11 11:54] martinRenou commented on #10090
It looks like I have memory issues 😅 I forgot I opened an issue for that, sorry

[2021-06-11 12:10] krassowski opened #10387 "Visual regression: border of the main area shrank"
## Description

The main area border is now smaller which looks less appealing and strange. <s>My hunch is that this is caused by #10127</s>.

## Reproduce

**Before (stable):**

![Screenshot from 2021-06-11 11-50-39](https://user-images.githubusercontent.com/5832902/121683980-0152e300-cab6-11eb-8510-7c17b1599724.png)

**After (master):**

![Screenshot from 2021-06-11 13-07-44](https://user-images

[2021-06-11 12:17] fcollonval commented on #10387
Actually I'm the one to blame :sweat_smile:  - I miss that one when moving the down area panel to make it full width.
See final screenshots in https://github.com/jupyterlab/jupyterlab/pull/10201#issuecomment-852835206

[2021-06-11 12:19] krassowski commented on #10387
Yes, just noticed this:

https://github.com/jupyterlab/jupyterlab/pull/10201/files#diff-c79b43ad4074f00ee71f9afc7d4d4cfc20ddd242a80367d2b52a0835254f81b1L34-L41

[2021-06-11 12:20] krassowski commented on #10387
We all missed it in the review but this is where the visual regression tests will come in handy now ;)

[2021-06-11 12:21] fcollonval commented on #10387
Do you want to push a fix?

[2021-06-11 12:22] krassowski commented on #10387
Feel free to go ahead - you know this part better after #10201 I assume; I did not start any work other than dissecting regressions I got after upgrading my work env to get the debugger working :)

[2021-06-11 12:23] fcollonval commented on #10387
I'll do

Thanks for the analysis

[2021-06-11 12:39] krassowski commented on #9525
My (different than OP) use case would be to debug a module that I have outside of notebook, but which is called and imported from within the notebook. The existing notebook kernel is already executing this code so no need to create a new kernel; the issue is that I cannot set a breakpoint for this module. I need to set it in the notebook and then step into the function of interest which is sub-opt

[2021-06-11 12:47] krassowski commented on #10090
Speaking as a user I was very surprised to see that this removed my break after trying to use debugger. I don't want "restart and debug", I prefer to have "restart and run all" and "restart and run up to selected cell" work well with debugger (I have those mapped to keyboard shortcuts and a new command would only confuse me). Also, while switching line numbers on/off is already discussed elsewhere

[2021-06-11 12:52] JohanMabille commented on #10090
After more thought on this, I think you're right, we should not introduce debugger logics into the notebook package. I think this logic should be part of the debugger package itself, since breakpoints are still in memory when we restart a kernel. We should also consider adding a new menu specific to the debugger, like you can find in traditional IDEs. It would make it easier for the user to toggle

[2021-06-11 12:54] jtpio commented on #9525
For now there needs to be a live kernel associated to the file being opened. The main reason is that setting a breakpoint requires sending a debug message to the kernel. There is also the case of remote kernels where the files and notebooks might not be visible by the kernel.

There is an item in https://github.com/jupyterlab/jupyterlab/issues/10139#issue-865417157 that is about setting breakpoint

[2021-06-11 12:56] krassowski commented on #9414
@karlaspuldaro can we close this issue now?

[2021-06-11 13:16] krassowski opened #10388 "Debugger line highlight color is not colourblind friendly"
## Description

The line highlight in the debugger makes it very difficult to read the line for me. I propose to change the following line:

https://github.com/jupyterlab/jupyterlab/blob/f0790b3ffd187b7dc923156b8ae227855abecefb/packages/debugger/style/editor.css#L6-L8

## Reproduce

1. Set a breakpoint
2. Observe the "SOURCE" box of the debugger
3. Step into a containing CodeMirror -highlighted co

[2021-06-11 13:25] krassowski commented on #10388
## Option 1: `warn-color1`, without text shadow

This is still not readable for me.

[code]

Light:

![Screenshot from 2021-06-11 14-25-05](https://user-images.githubusercontent.com/5832902/121693222-d5892a80-cac0-11eb-9aae-0196f9569564.png)

Dark:

![Screenshot from 2021-06-11 14-24-27](https://user-images.githubusercontent.com/5832902/121693148-c30ef100-cac0-11eb-849f-7576d3473ba6.png)

[2021-06-11 13:28] krassowski commented on #10388
## Option 2: `warn-color1`, with subtle text shadow

Light mode seems ok-ish, but the shadow does not help in the dark mode

[code]

Light:
![Screenshot from 2021-06-11 14-26-58](https://user-images.githubusercontent.com/5832902/121693497-1da84d00-cac1-11eb-805c-10a19d51f0cb.png)

Dark:
![Screenshot from 2021-06-11 14-27-30](https://user-images.githubusercontent.com/5832902/121693569-2f89f000-cac1

[2021-06-11 13:38] krassowski commented on #10388
### 3. Using separate color for light and dark theme: brown

- light: `var(--md-brow-100)`
- dark: `var(--md-brow-800)`

Light:

![Screenshot from 2021-06-11 14-37-39](https://user-images.githubusercontent.com/5832902/121695077-a1166e00-cac2-11eb-84f0-40b246d2b28c.png)

Dark:

![Screenshot from 2021-06-11 14-36-05](https://user-images.githubusercontent.com/5832902/121694820-614f8680-cac2-11eb-9b6d

[2021-06-11 13:40] krassowski commented on #10388
### 3. Using separate color for light and dark theme: teal

- light: `var(--md-teal-100)`
- dark: `var(--md-teal-800)`

Light:

![Screenshot from 2021-06-11 14-38-44](https://user-images.githubusercontent.com/5832902/121695208-bf7c6980-cac2-11eb-83dd-a5ca882f1a90.png)

Dark:

![Screenshot from 2021-06-11 14-39-29](https://user-images.githubusercontent.com/5832902/121695291-d91db100-cac2-11eb-980f-

[2021-06-11 13:42] krassowski commented on #10388
### 3. Using separate color for light and dark theme: brown + shadow

- light: `var(--md-brown-100)`
- dark: `var(--md-brown-800)`

with subtle text-shadow to boost contrast `text-shadow: 0 0 5px var(--jp-layout-color1);`

Light:

![Screenshot from 2021-06-11 14-41-37](https://user-images.githubusercontent.com/5832902/121695655-2863e180-cac3-11eb-89f1-fa454fe25099.png)

Dark:

![Screenshot from 20

[2021-06-11 13:45] krassowski commented on #10388
@isabela-pf if you got time I would very much like to hear you opinion on this. Feel free to suggest a different set of colours.

[2021-06-11 13:51] fcollonval opened #10389 "Watch mode broken"
## Description

I cannot run jupyter lab in watch mode - it get stuck at the `watching files for updates.`... And does not open the web page.
Commit hash: 97fd1a19b
## Reproduce

1. `jlpm install`
2. `jlpm run build`
3. `jupyter lab --dev-mode --watch`

## Expected behavior

watch mode is working

## Context

- Operating System and version: Debian 11
- JupyterLab version: master

<details><summary

[2021-06-11 13:53] echarles commented on #10389
Same here, reverted a few commit back and it works (don't remember the exact commit)

[2021-06-11 13:54] fcollonval commented on #10389
I'm looking to isolate the commit

[2021-06-11 14:03] karlaspuldaro commented on #9414
@krassowski Yes, this is resolved :) thank you

[2021-06-11 14:11] fcollonval commented on #10389
If I revert that commit locally, the watch mode is working again.

[2021-06-11 14:11] alexkim-avant commented on #10369
I thought this was an issue with JupyterLab, but I can direct this question to the JupyterHub team as well. Thank you!

[2021-06-11 14:14] #9414 closed

[2021-06-11 16:32] meeseeksmachine commented on #9763
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/how-to-add-new-autocompletions/9561/4

[2021-06-11 16:58] krassowski commented on #2163
Let's keep it until we get the JEP out/approved.

[2021-06-11 17:08] krassowski opened #10391 "Completer places cursor in wrong position after dot complete (master)"
## Description

Probably follow up after #10234 is needed. Any thoughts @dmonad?

## Reproduce

0. Using Python kernel
1. Enter `dict.` into a cell
2. Press <kbd>Tab</kbd>
3. Select any completion
4. See the cursor still remaining after the dot rather than at the end of the chosen method

![completer-cursor-issue](https://user-images.githubusercontent.com/5832902/121724522-e1d0b000-cadf-11eb-8902-

[2021-06-11 17:58] krassowski opened #10392 "Julia file does not have an icon"
## Description

In JupyterLab 3.1.0a12 "Julia file" entry in the launcher is missing a dedicated icon:

![Screenshot from 2021-06-11 18-50-19](https://user-images.githubusercontent.com/5832902/121729142-09c31200-cae6-11eb-9b77-759f28c22f58.png)

While both Python and R have an icon. It might be nice to add an icon for Julia too. The same icon as used by IJulia might be fine, but it would be good t

[2021-06-11 18:06] krassowski opened #10394 "Using arrows in file dialog and others is broken"
## Description

Using arrows is not possible in the file browser input field since merging #10349.

## Reproduce

1. Open rename dialog
2. Try to use arrow keys in the input field
3. See buttons getting focus instead

![input-bug](https://user-images.githubusercontent.com/5832902/121730812-12b4e300-cae8-11eb-9710-31e9ccbf8f7c.gif)

## Expected behavior

Buttons do not steal focus from input fields

[2021-06-11 18:10] krassowski commented on #10394
@jahn96 would you like to look into this one? This should be fixable with a simple guard checking if the currently focused element is one of the buttons and otherwise aborting.

[2021-06-11 18:19] krassowski commented on #10194
Implemented in #10349 :tada: . Thank you @jahn96.

[2021-06-11 18:19] #10194 closed

[2021-06-11 18:24] #6790 closed

[2021-06-11 19:00] jahn96 commented on #10394
Yes! I am looking into it right now. Thank you for catching the bug!

[2021-06-11 22:01] isabela-pf commented on #10370
This was brought up in the JupyterLab accessibility meeting on [June 2](https://github.com/jupyter/accessibility/pull/51) and the JupyterLab team meeting on [June 9](https://github.com/jupyterlab/team-compass/issues/117#issuecomment-858386990). There weren't any community members who spoke against this at either meeting, though it should be noted neither meeting represents all active members of th

[2021-06-11 22:10] isabela-pf commented on #10388
Thanks for making this issue and proposing so many solutions! I'll give them a try as soon as possible.

[2021-06-11 22:56] isabela-pf commented on #10008
I'm reviewing all these screenshots as I'm going to start working on my next color contrast PR. I'm relatively confident I can make changes in most of the UI, but I will have to explore what is needed to make changes where the code editor is involved. That's an area I've never worked in before, and I don't know how much is configured in JupyterLab versus is the default of the editor and syntax hig

[2021-06-11 23:20] jasongrout commented on #10370
@isabela-pf - thank you so much for summarizing the discussion. I think a good set of next steps would be:

1. mention it again in the team meeting next week to call again for any objections
2. (optional?) it would be great to reach out to Marijn to see if there is any sort of timeline or intution for when CM6 might be declared stable.
2. Someone putting in a PR to remove the abstract editor inter

[2021-06-11 23:42] #10394 closed

[2021-06-12 05:35] shngt commented on #10392
Hi, is there a preference in terms of resolution? Most of the other icons seem to be either 16x22 or 16x24, but I do see 16x295 for React and 16x512 for HTML5 as well.

[2021-06-12 10:02] krassowski commented on #10392
It is just a convention that the width is set to 16px and the then the default height becomes matched to that (so r-kernel is 16x16 as it has rectangular view box of 22x22, html becomes 16x16 as it also has a rectangular view box but of 512x512). There is no preference about the view box dimensions currently I think.

[2021-06-12 14:01] krassowski commented on #10374
I reproduced the problem with Chrome 91 on Ubuntu 21.04. Moving the PDF tab around to via drag-drop works as a workaround.

[2021-06-12 14:14] krassowski commented on #10374
There are several Google Chrome issue about this one, some are duplicates of each other but as all are fresh the dupes were not yet confirmed:
- https://bugs.chromium.org/p/chromium/issues/detail?id=1218930 (fresh opened yesterday, probably duplicate)
- https://bugs.chromium.org/p/chromium/issues/detail?id=1217669 (opened three days ago)
- https://bugs.chromium.org/p/chromium/issues/detail?id=1202

[2021-06-12 14:15] krassowski commented on #10374
We probably could find a workaround, but the PDF code is already full of workarounds for specific browsers having weird behaviour, let's see if the Chrome folks can fix it up soon.

[2021-06-12 14:38] rohit-guitar opened #10396 "[JL 2.2.6] Invalid hook warning in LabIcon component"
Hi folks,

I am getting stuck at invalid hook warning in LabIcon component. In my project jupyterlab and all of the extensions are my dependencies and I am instantiating a new jupyterlab application in my index file. Everything is working except LabIcon component, it's a class component but using hooks which is anti-pattern for hooks. When i run jupyter lab from conda it works fine but in my own w

[2021-06-12 14:39] vyason commented on #10374
@krassowski I checked and the drag and drop works!
FYI, the same problem is there with Microsoft Edge as well, but I guess that's expected as it is chromium based.

[2021-06-12 15:21] yash112-lang commented on #10392
Hello @krassowski, is this issue is still open. I want to work on this issue. I am new to open source & want to contribute to the community.

[2021-06-12 15:26] yash112-lang commented on #9838
Hello, @adammclaurin, is this issue is still open. I am new to open source & want to contribute.

[2021-06-12 15:49] krassowski commented on #10392
Hi you are certainly welcome to. I don't know if @shngt started something already but usually an issue is not considered taken untill there is a (possibly draft) pull request or someone is assigned to it, so unless we get a response from @shngt feel free to prepare a pull request yourself.

If you both happen to prepare a PR  at the same time that's also great - it means that you can cross check y

[2021-06-12 16:23] shngt commented on #10392
Yes, please feel free to work on this! I started to take a look but the svg file I found isn't getting encoded/decoded properly (at least I think so). I'll continue to investigate what's going on when I have some time

[2021-06-12 16:35] krassowski commented on #10379
I think this change may have as many supporters as opponents (users who already use "Restart Kernel" in the context menu), so possibly keeping the status quo and focusing on https://github.com/jupyterlab/jupyterlab/pull/10373 to allow users to easily customise the context menus is the way to go. And maybe having a GUI to allow to do so easily. Would that work for you?

[2021-06-12 16:45] krassowski commented on #10365
Thanks for follow-up @stigersh. It might help to narrow it further down if you could add:

1. name and version of you browser,
2. name of your operating system (Mac/Windows/Linux)
3. the output of `jupyter labextension list`
4. logs from the developer console in your browser (please see [instructions here](https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_are_browser_developer_t

[2021-06-12 17:00] krassowski commented on #10358
Given this message:

and this one:

It looks like you are using a way outdated version of node.js. If you are concerned about security you should upgrade to a supported version of Node. The [current LTS release of Node](https://nodejs.org/en/about/releases/) is 14.17.0 (so you are four LTS releases behind - I would be scared to use such a setup) and the latest version is 16.3. I would recommend up

[2021-06-12 17:13] krassowski commented on #10361
Hi @icankeep thanks for opening this issue. I have a good news: this feature is still there! However, since https://github.com/jupyterlab/jupyterlab/pull/9275 you need to click on the blue bar rather than on an arrow.

@marthacryan: should we think about discoverability of this feature (e.g. add a small arrow on hover), or would adding a gif from the PR that introduced this change to the documenta

[2021-06-13 03:07] icankeep commented on #10361
@krassowski  I have tried it, clicking the blue bar does not collapse the code. But the previous toc works

[2021-06-13 03:10] icankeep commented on #10361
just like this gif

![](https://user-images.githubusercontent.com/2643044/66435384-8e888f00-e9d9-11e9-9b33-5d259cf7d387.gif)

[2021-06-13 07:53] dkwo commented on #5382
@dmonad Many thanks. Is there an issue or pr where I monitor that progress?

[2021-06-13 08:51] krassowski commented on #10361
I see. Thanks for the GIF! If I remember correctly, this feature was deemed to be too [confusing behaviour]( https://github.com/jupyterlab/jupyterlab-toc/issues/123) and was changed to opt-in in https://github.com/jupyterlab/jupyterlab-toc/pull/132. However it seems to me that it is not possible to enable this feature in the TOC version in JupyterLab core indeed.

In the meantime you may be intere

[2021-06-13 09:24] krassowski commented on #8832
Some feedback on 3.10a12 (only on items I consider regressions compared to 3.0):

- [ ] The command palette search icon could be white as in your mockup but currently is grey

    ![Screenshot from 2021-06-13 10-14-09](https://user-images.githubusercontent.com/5832902/121801675-6e8a8380-cc30-11eb-9308-a8b579e25393.png)

- [ ] The completer detail is poorly readable for selected items; maybe it cou

[2021-06-13 09:38] krassowski opened #10398 "Jupyter Forum (discourse) does not open correctly in 3.1.0.a12"
## Description

In Chrome and Firefox selecting `Help` → `Jupyter Forum` from the menu results in "Refused

This menu entry was requested in #8678 and introduced in #9892

## Reproduce

1. Open "Help" menu
2. Select "Jupyter Forum"
3. See error "discourse.jupyter.org refused to connect."

![Screenshot from 2021-06-13 10-35-01](https://user-images.githubusercontent.com/5832902/121802238-4c463500-cc

[2021-06-13 09:40] meeseeksmachine commented on #10398
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/allow-embedding-opening-from-within-jupyterlab/9578/1

[2021-06-13 09:51] icankeep commented on #10361
this commit is great, but I think it's more convenient to collapse the code via toc. Is it possible to add this feature in the future?
If not, I'm looking forward to the 3.1 release, thank you

[2021-06-13 10:47] krassowski opened #10399 "Do not focus on "delete" button in "delete file" dialog"
### Problem

When clicking <kbd>delete</kbd> in file browser (at least in 3.1.0a12) a confirmation dialog shows up asking to confirm deletion. The action button focused by default is to confirm ("Delete") but this is unfortunate because a sloppy user (me) can click on delete by accident while trying to enter a directory in the file browser by pressing <kbd>Enter</kbd>; as <kbd>delete</kbd> and <kb

[2021-06-13 11:12] krassowski opened #10401 "Entering a directory should focus the first entry to allow further navigation"
### Problem

Entering a directory with keyboard navigation does not activate any item in the file browser listing making it impossible to further navigate with keyboard (or to go up in the tree).

### Proposed Solution

Activate the first element in the file browser listing when opening a directory.

### Additional context

JupytrerLab 3.1.0a12

[2021-06-13 14:58] bollwyvl commented on #10380
Definitely a big :+1: on CM6. I think if we fully engage with it, there will be some good opportunities for using things like [DecorationSet](https://codemirror.net/6/docs/ref/#view.DecorationSet) to make huge challenges of [jupyterlab-lsp](https://github.com/krassowski/jupyterlab-lsp/issues/500) just... disappear. And the accessibility impact cannot be overstated.

However: while we're taking a b

[2021-06-13 15:00] joequant opened #10402 "path not found system interferes with requires loading"
## Description

I am trying to upgrade the Jupyroot kernel to work with jupyterlab 3.0.  The issue is that the kernel uses script injection
in order to do some displays.  The issue is that when the script tries to load a .js file in jupyterlab, the system will return an
html file with a 200 error code and the requires assumes that the html file is the .js file

## Reproduce

1. go to a jupyterlab

[2021-06-13 17:34] fcollonval commented on #10396
@rohit-guitar I don't know where your snippet is coming from. But looking at the 2.2.x branch code, I found:

https://github.com/jupyterlab/jupyterlab/blob/9a8dadf59424ed2a6ff2a3c84001d46e37104d75/packages/ui-components/src/icon/labicon.tsx#L252

This means an attribute of the `LabIcon` class is a react component (hence this is not an anti-pattern).

Regarding the error, [React documentation](http

[2021-06-13 21:01] Hoeze opened #10404 "Multiline editing not working"
## Description

I'm trying to use multiline editing with "alt+click" but beside of my cursor changing to a "+" nothing happens.
Also, I cannot find any keyboard shortcut to toggle multiline editing.

## Reproduce

1. Open notebook in jupyterlab
2. Press alt+click and try to select multiple lines
3. Search for non-existent "toggle multiline editing" shortcut :)

## Expected behavior

Multiline edit

[2021-06-13 22:30] krassowski commented on #10404
Thanks for opening the issue. I think it is <kbd>Ctrl</kbd> + Click, not <kbd>Alt </kbd> + Click in JupyterLab.

[2021-06-14 00:10] rohit-guitar commented on #10396
So I have the force resolution for the react and react-dom version in my package.json
[code]

So I don't that could cause the issue ?
@fcollonval So you found the right branch and the package. It's version 2.2.x and file LabIcon.tsx.
But _initReact function is returning a functional component inside a class component.
Don't you think that's anti pattern ?

[2021-06-14 02:18] VinayaSathyanarayana commented on #9741
Any suggestions please?

[2021-06-14 07:50] kwon14 opened #10405 "Disable upload button"
Hello.!
Thank you very much for your hard work.

Disable the upload feature as a usage policy.
As a result of browsing several websites
jupyterlab/packages/filebrowser/src/browser.ts
I've seen that you can just delete the "this.toolbar.addItem('upload', uploader);" line of code.

the question is
1. Is there a way to find out what the browser.ts file is?
2. Is there a way to block the upload button

[2021-06-14 08:26] jtpio commented on #10405
Thanks @kwon14.

Maybe this functionality could then be moved to its own plugin so it can be disabled with the `jupyter labextension disable` command?

Similar to the download UI and feature: https://github.com/jupyterlab/jupyterlab/pull/10065

[2021-06-14 08:36] #10399 closed

[2021-06-14 10:29] #8632 closed

[2021-06-14 10:33] krassowski commented on #10392
Closing as implemented in #10397. Thank you @shngt, and congrats on your first contribution to JupyterLab :)

[2021-06-14 10:33] #10392 closed

[2021-06-14 11:51] coulanuk opened #10407 "Cannot change cell type (Firefox)"
Dropdown Menu to select Code / Markdown / Raw does not respond to mouse cursor selection on:
JupyterLab 3.0.15
Firefox 89.0
Ubuntu 20.04.2
This issue was previous reported and fixed in [#2995](https://github.com/jupyterlab/jupyterlab/issues/2995).
Workaround is to use keyboard arrow keys to change the selection.

[2021-06-14 11:56] shngt commented on #10392
Thank you @krassowski ! :)

[2021-06-14 11:56] krassowski commented on #10407
Thank you for the report @coulanuk. We are already tracking this in https://github.com/jupyterlab/jupyterlab/issues/10189. Do you think that we can close this one as a duplicate and focus discussion over there?

[2021-06-14 11:57] stigersh commented on #10365
Hi Thanks for the answer, here is the info:
1. chrome Version 90.0.4430.212 (Official Build) (arm64)
2. MacOS BigSur version 11.4, chip Apple M1
3. output of `jupyter labextension list:`
`JupyterLab v3.0.16
/Users/annashtengel/anaconda3/share/jupyter/labextensions
        @jupyter-widgets/jupyterlab-manager v3.0.0 enabled OK (python, jupyterlab_widgets)

Other labextensions (built into JupyterLab)

[2021-06-14 12:01] stigersh commented on #10365
This is the notebook by the way, which works fine in jupyter notebook on my Mac.
[link to notebook](https://geometryprocessing.github.io/blackbox-computing-python/geo_viz/)

[2021-06-14 12:39] coulanuk commented on #10407
@krassowski Yes I have closed it. Thanks

[2021-06-14 12:39] #10407 closed

[2021-06-14 12:47] Mayankjha796 commented on #5413
Hello @martinzugnoni, is this issue is still open. I am new to open source and wants to contribute.

[2021-06-14 13:45] andreasadamides-mck opened #10408 "Updating logo for Jupyter Lab"
I was wondering if there is a way to update the logo of Jupyter Lab to a custom logo?

For example, this is possible out of the box in the JupyterHub application:

[code]

[2021-06-14 13:48] #10408 closed

[2021-06-14 13:49] andyadamides opened #10409 "Updating logo for Jupyter Lab"
I was wondering if there is a way to update the logo of Jupyter Lab to a custom logo?

For example, this is possible out of the box in the JupyterHub application:

[code]

[2021-06-14 16:10] #10387 closed

[2021-06-14 16:18] #10320 closed

[2021-06-14 21:33] agoose77 commented on #10402
@joequant what version of JupyROOT are you using? It should work fine in the latest versions.

[2021-06-14 21:38] NicoJG opened #10413 "Jupyter Lab hangs on startup and then 'tcgetpgrp failed: Not a tty' appears (in WSL2)"
## Description

In short: Jupyter Lab (and Jupyter Notebook) needs a long time to start. And opens it in the browser far to late (after a `tcgetpgrp failed: Not a tty` error). (in WSL2 with Ubuntu)

What happens:
- It hangs while starting after the message `Use Control-C to stop this server and shut down all kernels (twice to skip confirmation).`.
- Then for a few minutes there is no following out

[2021-06-15 04:05] jamesdbrock commented on #3010
Any update on this? Maybe the new JupyterLab v3 pre-built-extension feature provides a path for bundling a labextension with a kernel?

I want the same thing everyone here wants: an easy way to provide a custom Codemirror mode for syntax highlighting for a specific kernel without requiring the user to “install” a labextension.

[2021-06-15 04:37] shngt commented on #10369
Should this be closed?

[2021-06-15 06:19] rohit-guitar commented on #10396
Issue got resolved by resolving the dependency and making sure there is only one react app running. Yarn resolutions saved my day thanks.

[2021-06-15 06:19] #10396 closed

[2021-06-15 07:07] krassowski commented on #3010
Yes, CodeMirror modes can be installed as pre-built extensions and distributed via pip, conda or other package manager. One example is https://github.com/MarketSquare/jupyterlab_robotmode. It should be also possible to bundle a kernel and code mirror extension into a single package so users don't have to install it manually. As for pre-built extensions, the mode has to be defined roughly as in htt

[2021-06-15 07:24] fcollonval commented on #10413
Hey @NicoJG

Are you using a browser on Windows or on Ubuntu. I would strongly recommend starting JupyterLab without opening a browser (see _open_browser_ configuration option or `--no-browser` cli argument). And open the URL in a Windows webbrowser.

[2021-06-15 07:33] fcollonval opened #10414 "Translation of settings"
### Problem

JupyterLab has the infrastructure of translating text since v3. But this works only for strings defined in the code (or title and description of settings). It would be interesting to allow the translation of strings from settings for UI built out of a data representation as:
- introduced by #10254 #10373
- extension like jupyterlab-tour that allow tour step to be defined in settings.

[2021-06-15 07:41] NicoJG commented on #10413
I am using Firefox on Windows, which is (probably) opened via `wslview`.
And it works with JupyterLab and JupyterNotebook, but there is some bug, that prevents the CLI to advance.
I don't know which check is made for `tcgetpgrp failed: Not a tty`, but if this check would not exist I think everything would work just fine.

I forgot to mention that...
If I start JupyterLab or JupyterNotebook with `-

[2021-06-15 07:44] krassowski commented on #10414
This will likely mess with `json2ts` we are using for jupyterlab-lsp (and I would love see adopted in core too) if I am not wrong.

I would like to explore a different solution. I will get back to it after work.

[2021-06-15 09:52] jtpio opened #10415 "Reusable `ILabStatus` in downstream distributions"
### Problem

Currently the `status` defined on the `JupyterLab` application here:

https://github.com/jupyterlab/jupyterlab/blob/96b6ca109fb194d1f011a2f6fe1f4c673d88e6ea/packages/application/src/lab.ts#L102-L105

Refers to a `LabStatus` defined here:

https://github.com/jupyterlab/jupyterlab/blob/96b6ca109fb194d1f011a2f6fe1f4c673d88e6ea/packages/application/src/status.ts#L57-L60

The `ILabStatus`

[2021-06-15 09:53] jtpio commented on #10415
Adding to 4.0 for consideration although it's more of a nice-to-have, and also because of the API changes that change would introduce.

[2021-06-15 10:52] dmonad commented on #10380
ProseMirror indeed provides a very nice abstraction over rich-text content. If you want to express complex content like tables and if you want to make sure that your content conforms to some schema, then ProseMirror is awesome.

But it also has a very steep learning curve. Currently, Jupyter Notebooks only consist of a list of markdown, code, and raw cells + output. It doesn't require rich-text su

[2021-06-15 11:19] blink1073 commented on #6960
Fixed by https://github.com/jupyterlab/jupyterlab/pull/9179

[2021-06-15 11:19] #6960 closed

[2021-06-15 11:33] fcollonval commented on #10414
Hey @krassowski could you elaborate a bit what you have in mind?

[2021-06-15 11:42] fcollonval commented on #10413
So this is not related to jupyter and it is linked to WSL machinery.

Using WSL is pretty advanced, there will be no support of virtual machines as you can use the native version and there are too many virtual technology out there.

I would definitely not recommend for beginners to use virtual machines.

[2021-06-15 12:30] krassowski commented on #10414
So my concerns are the same as https://github.com/jupyterlab/jupyterlab-translate/issues/1#issuecomment-846325140 but also the addition of nunjucks as a dependency (not that I don't like it - used it and it is great, just not very active and possibly not necessary). I was thinking that maybe we could use something smarter even if it would require some work.

To start with a productive discussion,

[2021-06-15 12:39] krassowski commented on #10414
We would still need to modify settings system to hot-swap the strings but, we would not have:
- an extra runtime dependency (with its set of dependencies)
- a risk of injection or evaluation of something from settings strings which otherwise seem as safe things (neither nunjucks nor jinja is bulletproof; while we should usually trust the settings strings, why not to avoid the danger whatsoever)
-

[2021-06-15 12:58] fcollonval commented on #10414
Thanks @krassowski

I'm definitely :+1: for keeping thing simple - that was my intention with jupyterlab/jupyterlab-translate#2. And indeed JSON ITS could be a nice simpler possibility (did not know it so thanks for bringing up).

It will allow to simply extend the current logic that translate `title` and `description` of settings schema.

Good point.

---

cc @goanpeca @bollwyvl what do you think

[2021-06-15 15:21] fcollonval opened #10417 "Support drag and drop of tab between sidebars and the down area"
### Problem

This is a follow-up of https://github.com/jupyterlab/jupyterlab/pull/10201#issuecomment-834139475

It will result in solving https://github.com/jupyterlab/jupyterlab/issues/5502 too.

### Proposed Solution

Add mouse event handler needed mostly.

[2021-06-15 15:29] pmarcellino opened #10418 "Unsure how to put breakpoint in .py file"
In jupyterlab how do I put a break point in a `.py` file? I went through the tutorial post and documentation and don't see anything around this.

So far the only way I have found is that I can put a break point on when I call the function I import from the `.py` file  and then when it appears in the source pane in the lower right I can put a break point in.

[2021-06-15 15:50] krassowski commented on #10418
Hi @pmarcellino, if you want to debug a specific function of a Python module you can do so by connecting a kernel using `Create Console for Editor` function as demonstrated in https://github.com/jupyterlab/jupyterlab/issues/9525#issuecomment-754048357.

However it is not currently possible to re-use these breakpoints for code executed from notebook. I would love to have such a feature. I thought t

[2021-06-15 15:53] krassowski commented on #9525
What is stopping it from working when I point the session to the same kernel as does my notebook?

![test-fail](https://user-images.githubusercontent.com/5832902/122084825-12735b00-cdfa-11eb-8f9f-4835beb05d48.gif)

[2021-06-15 16:46] fcollonval opened #10419 "Customized widget toolbars"
### Problem

Document widgets are using a common widget `MainAreaWidget` that provides a toolbar. The toolbar items can be added through an API. But it happens regularly that institutions or user want more or less items.
Moreover we could support a more data-backed oriented configuration like for the menus or the shortcuts based on command id and a toolbar widget factory.

The widget factory will

[2021-06-15 17:01] krassowski commented on #10419
Having this in settings would alleviate https://github.com/jupyterlab/jupyterlab/issues/4170 for some users.

[2021-06-15 17:53] pmarcellino commented on #9525
Yes @krassowski this would be the perfect functionality. I did check it's not an import order issue. When replicating what you did but importing after adding the breakpoint that doesn't help.

Somehow if you put a break point at the line calling the function, and then step in you can add a break point in the source file there, but I don't know why that works.
![image](https://user-images.githubuse

[2021-06-15 18:16] gonzalezhomar commented on #9698
Seeing the comments, I have the same issues, but I don't seem to understand which close up solution. I'm working on jupyter 3.0.16 but I cannot even update jupyter lab and it doesn't even start properly.

[2021-06-15 18:30] jtpio commented on #9525
I would have expected this to work yes.

[2021-06-15 18:56] goanpeca commented on #7696
Ok @jasongrout looking at those issues you link, however I think the idea is to be able to have on the browser dev console for example:

[code]

Which currently fails with

<img width="309" alt="Screen Shot 2021-06-15 at 1 56 10 PM" src="https://user-images.githubusercontent.com/3627835/122108122-72a9d300-cde1-11eb-9461-b9db0600f265.png">

[2021-06-15 20:14] pmarcellino commented on #9525
Thinking about it, although it is less intuitive, having the functionality be that you have to point the kernal at the file to insert the break point would be better functionality, since the same file could actively be being use by multiple kernals at the same time.

[2021-06-15 21:16] krassowski commented on #10370
It seems that some of the default modes got simplified: https://github.com/codemirror/codemirror.next/issues/284 compared to v5.

[2021-06-15 22:12] krassowski commented on #10388
Note: the debugger in Chrome dev console alleviates the trade-off of having less pronounced background in two ways:
- by adding an arrow-like blue pointer on the line numbering gutter
- by adding a 1px border of more pronounced colour around the highlighted line:

![Screenshot from 2021-06-15 23-09-50](https://user-images.githubusercontent.com/5832902/122130006-e0302080-ce2e-11eb-8d57-77b6cca8c702

[2021-06-15 22:50] mlucool opened #10422 "extra_labextensions_path ordering"
### Problem

I have a set of extensions that can be found in a read-only path that I set in `extra_labextensions_path` (love this feature). Sometimes I one want do development on one of them, without losing the ability to use others (of course, I could reinstall). Following the prebuilt directions, I use `jupyter-labextension develop . --overwrite` to link my extension in my venv. If run lab witho

[2021-06-15 23:46] dmonad commented on #10391
Thanks for the report, I'll work on this!

[2021-06-16 07:45] MinimAI opened #10423 "Give collapsed code cells a title"
### Problem

I would like to specify a title for a code cell, which is displayed instead / next to the ellipses when a cell is hidden. Furthermore, it would be nice to hide multiple cells (i.e. based on the headings in the document).

### Proposed Solution
Regarding multiple cells, I liked the numerical option that was proposed by @cameronoelsen a few years ago: https://github.com/jupyterlab/jupyt

[2021-06-16 08:23] fcollonval commented on #5597
Fixed by #10296

[2021-06-16 08:23] #5597 closed

[2021-06-16 08:31] fcollonval opened #10424 "Default value for dirty cell _incorrect_"
## Description

When opening a notebook that contain outputs, the dirty state is not turn on when editing the code. It is only turn on when the cell has been first executed

![Peek 2021-06-16 10-24](https://user-images.githubusercontent.com/8435071/122185188-32079380-ce8d-11eb-9ccf-a544554006c3.gif)

This raises the question of the default value for the dirty state (or to be more precise of the _e

[2021-06-16 09:46] krassowski commented on #10423
Hi, thanks for opening the issue :) I think you will be happy to hear that support for collapsing multiple cells was merged two weeks ago: https://github.com/jupyterlab/jupyterlab/pull/10260 and will be available in upcoming 3.1 release. If you want to help testing this feature out you can install the latest alpha pre-release:

[code]

but please be aware that it is an alpha version with known iss

[2021-06-16 10:08] linminhtoo commented on #5897
Bumping this once again as it is such a lovely and useful feature of Jupyter Notebooks

[2021-06-16 12:25] jtpio commented on #10389
Maybe it's related to the `index.css` -> `theme.css` renaming.

[2021-06-16 16:13] #10383 closed

[2021-06-16 16:42] goanpeca opened #10427 "Some epic grouping stuff"

[2021-06-16 17:57] mlucool opened #10428 "Scroll Bar Bug"
## Description

Given a long notebook, the scroll bar is very jumpy. I think it's because the scroll bar isn't calculating the right size (based on the difference of height of the bar).

## Reproduce

Given a long (e.g. 300+ cell) notebook, try to scroll. The left is lab 2.3 and the right is 3.1.0a13 with the same notebook. Note the difference in scrolling and the difference in bar height.

![scro

[2021-06-16 18:22] krassowski commented on #10428
Likely related - the scroll is not properly restored when switching tabs:

![scroll-not-preserved](https://user-images.githubusercontent.com/5832902/122272112-19709b00-ced8-11eb-8bd2-929bb8c03e31.gif)

[2021-06-16 18:24] isabela-pf commented on #9647
Our main priority for the past few months has been
- Collecting community members planning to contribute to 4.0
- Communicating and ranking the work contributors are planning to do in the near future
- Making sure this work all has related public communication (like issues).

Here is the table that shows what community members are planning to work on. Impact, effort, and reach are defined in [this

[2021-06-16 18:33] krassowski opened #10429 "Running cell focused on output broken in 3.1.0a13"
## Description

It is no longer possible to <kbd>shift</kbd> + <kbd>enter</kbd> or <kbd>ctrl</kbd> + <kbd>enter</kbd> a cell focused by clicking on output. Clicking on cell code first or clicking "Run cell" button still works.

## Reproduce

![cannot-run](https://user-images.githubusercontent.com/5832902/122273498-66a13c80-ced9-11eb-94e2-65a28f5f126d.gif)

It worked well on 3.0:

![used-to-work](h

[2021-06-16 19:04] krassowski opened #10431 "The dirty indicator does not get cleared up after reverting changes"
## Description

As a user I often write code and then decide to revert it / that I should modify a different cell. In the state as for 3.1.0a13 the dirty indicator remains after reverting the change, which is more distracting than helpful. I would like the indicator to go away if I revert my code cell to previous state.

Originally suggested in my review in https://github.com/jupyterlab/jupyterlab

[2021-06-16 19:56] krassowski opened #10433 "The rename file dialog should not show up after the file is closed?"
## Description

There is an edge case scenario for the rename dialog related to closing an unsaved file which was never manually saved. In such case a dialog shows up asking user to either cancel closing the tab, discard the changes and close tab or save the changes and close the tab. However currently the "rename file" dialog is still showing up even though the file was already closed.

## Reprod

[2021-06-16 19:59] krassowski commented on #10429
Other shortcuts such as add cell above (<kbd>a</kbd>) or below (<kbd>b</kbd>) do not work either.

[2021-06-16 20:09] krassowski opened #10434 "Edge navigation is broken in some circumstances with virtual notebook"
## Description

With virtual notebook navigating to previous cell by pressing up and down arrow keys does not always work.

## Reproduce

1. Create a notebook with multiple cells
2. In the last cell enter "test" and execute the cell with <kbd>Shift</kbd> + <kbd>enter</kbd> so that exception is shown
3. Enter the new final cell
4. Try to move out of it using <kbd>↑</kbd> up arrow key
5. See it is n

[2021-06-16 20:20] krassowski opened #10435 "Empty raw cell & lost code cells in the virtual notebook"
## Description

An empty un-rendered raw cell appears in the virtual notebook on some undetermined actions. It can also eat the code cells as on the gif below.

## Reproduce

This one is extremely difficult to reproduce. There is some chaos factor and it only appears one in a dozen attempts. Async isuse/race condition?

![virtual-bug](https://user-images.githubusercontent.com/5832902/122286820-2b5

[2021-06-16 20:22] krassowski commented on #10435
I originally noticed it in an existing log notebook at the very end of it (so my reproduction attempts focused on it), but in that case it was not related to running cells at all - it was in there since the notebook was opened.

[2021-06-16 20:49] krassowski opened #10436 "False positive "File Changed" popup after renaming file"
## Description

A dialog with:

[code]

show up if we save `Untitled1.ipynb` notebook and then rename it immediately via the new dialog window and then create a new notebook (which automatically will become named `Untitled1.ipynb`).

## Reproduce

Here I had `Untitled2.ipynb` (as `Untitled1.ipynb` already existed in the directory):

![rename-after-save-race-condition](https://user-images.githubuse

[2021-06-16 20:51] krassowski commented on #10433
To clarify, I do not consider this a bug. The current behaviour seems slightly strange, but it is not immediately clear what would be the optimal UX.

[2021-06-17 08:15] fish-dango commented on #8867
I can take a try at this!

[2021-06-17 11:04] abitrolly opened #10437 "Save notebooks in indented JSON for version control"
* I'm always frustrated when I can't view changes in notebook commits, because notebook is serialized as one long JSON string.

### Proposed Solution

* Save notebooks in human readable indented JSON, so that when saved notebook is committed to `git` the changes are readable.
* Ideally add an option to rerun notebook to renumber steps from start, so that resulting diff differences are minimal.
* A

[2021-06-17 12:41] fcollonval commented on #10427
I think we can close this as it result of the ZenHub demo on the dev call.

[2021-06-17 12:41] #10427 closed

[2021-06-17 15:56] krassowski opened #10439 "Tab cycling in completer does not work when items are filtered"
## Description

- [x] The tab cycling (which is an alternative to arrow key cycling) in completer introduced in #10147 does not work properly when items are filtered.
- [ ] when items are filtered, in some cases the shift tab signature pop-up silencing does not work properly

## Reproduce

1. Open IPython notebook
2. Enter `s` in a code cell
3. Press <kbd>tab</kbd> to bring up completer
4. Press <

[2021-06-17 15:57] krassowski commented on #10439
CC @cameron-toy

[2021-06-17 16:21] krassowski commented on #10439
The problem appears to be that on the second pass the `this._activeIndex` is 0 even though in the first pass it was set to `this._activeIndex = index = 1`. This is because the following lines:

https://github.com/jupyterlab/jupyterlab/blob/699ddb4b96e4de94e650c6b19c687056b3f80995/packages/completer/src/widget.ts#L438-L442

Run at every <kbd>tab</kbd> press (and reset `_activeIndex` to 0). However,

[2021-06-17 16:43] krassowski opened #10440 "Do not jump to the first cell if pressing tab in notebook"
### Problem

* I'm always frustrated when I accidentally press <kbd>Tab</kbd> when focused on a notebook rather than on a cell (which happens if I click on cell output or cell collapser area) because:
   * the cell appears to be focused as indicated by the blue bar and all other keyboard events are directed to it
   * it results in the focus/selection jumping to the very first cell
   * which is e

[2021-06-17 16:44] krassowski commented on #10440
Cross-referencing https://github.com/jupyterlab/jupyterlab/issues/9399

[2021-06-17 16:47] tfmark opened #10441 "jupyterlab/application-extension:faviconbusy - debounce to prevent request spam?"
### Problem

Similar issue to https://github.com/jupyter/notebook/issues/2673, I'm seeing a **huge** number of requests to `favicon-busy-1.ico` in the space of a second or two:

![image](https://user-images.githubusercontent.com/80677094/122439233-606f9680-cf93-11eb-80e1-56594ded1d5c.png)

I'm not sure how to better debug/mitigate this beyond editing the `partial.html` and giving the elements dumm

[2021-06-17 16:57] krassowski commented on #10441
We could load it once with fetch API and then only set it as use base64 encoded data instead of URL. This should eliminate all requests (except for initial two).

[2021-06-17 17:09] krassowski commented on #10439
@cameron-toy I see a thumb up, would you like to take it from here and add a test for this case as well?

[2021-06-17 17:15] cameron-toy commented on #10439
@krassowski Yes I think I have a fix, I'll add a test and make a PR in a sec.

[2021-06-17 17:16] krassowski commented on #10441
Or it could be base64-encoded even earlier in https://github.com/jupyterlab/jupyterlab/blob/f0790b3ffd187b7dc923156b8ae227855abecefb/jupyterlab/staging/templates/partial.html#L12-L13... This would require defining a custom jinja2 function that takes path relative to static/ and returns `base64` encoded data.

[2021-06-17 17:25] krassowski commented on #10441
Some more ideas here: https://stackoverflow.com/questions/5199902/how-to-save-up-another-precious-http-request-for-the-tiny-favicon

Some hint at the need to configure cache policy beter.

[2021-06-17 18:10] krassowski commented on #10440
Would the proposed behaviour be ok with you @manfromjupyter @SamKacer (and anyone else interested)?

[2021-06-17 18:21] manfromjupyter commented on #10440
I like your gif, thank you for that. A screenreader user won't be clicking to the below tab. I understand your pain, but focus is still remaining in the cell, there is just a widget that highlights other thins you click on while focus still remains so users do not lose their train of thought. User may want to be typing things or copy something from another cell,  reorder the cells below, use the e

[2021-06-17 19:18] krassowski commented on #10429
It seems it was introduced in https://github.com/jupyterlab/jupyterlab/pull/10282. CC @cameron-toy.

[2021-06-17 19:34] jtpio opened #10442 "JupyterLab hangs on server shut down"
## Description

It appears that JupyterLab sometimes fail to gracefully shut down when it is stopped in the terminal with Ctrl-C.

## Reproduce

1. Start JupyterLab
2. Generate some activity: create notebook, start kernel...
3. Close the browser tab
4. Hit Ctrl-C in the terminal
5. Try sending a SIGTERM to the process

![image](https://user-images.githubusercontent.com/591645/122461023-1c8c8980-cf

[2021-06-17 20:17] goanpeca commented on #10442
Yes, I started seeing this a couple of days ago.

[2021-06-17 20:52] gloryVine opened #10443 "Can't disable cursor-blinking"
I am using JupyterLab on macOS. I need a non-blinking cursor, because the blinking is incredibly distracting, especially so since I am using a block cursor.
I tried following the suggestions in [this Jupyter issue](https://github.com/jupyter/notebook/issues/1570), in particular I added the code
`"CodeCell": { "cm_config": {"cursorBlinkRate": 0}}`
 in
`/.jupyter/nbconfig/notebook.json`
 and since t

[2021-06-17 22:48] cameron-toy commented on #10429
I have the desired behavior working by having the `jpCodeRunner` attribute always set to true for the notebook widget. Is there some situation where we wouldn't want `jpCodeRunner` to be set to true? The only time the attribute is referenced for the notebook is here:

https://github.com/jupyterlab/jupyterlab/blob/699ddb4b96e4de94e650c6b19c687056b3f80995/packages/mainmenu-extension/schema/plugin.js

[2021-06-18 12:26] fcollonval opened #10445 "create new notebook is failing in UI tests"
## Description

Since we check that the `createNew` notebook helper of galata is successful, the UI test is often failing. Most probably because of the notebook being name the same in multiple test files.

[2021-06-18 12:28] fcollonval commented on #10445
Xref #10410

[2021-06-18 12:34] #10389 closed

[2021-06-18 14:32] davidbrochart commented on #10442
https://github.com/jupyter-server/jupyter_server/pull/543 should fix it.

[2021-06-18 16:29] isabela-pf commented on #10388
Okay! First, here's my thoughts on the solutions you've proposed. I agree that Option 5 seems the most legible! My main concern is that it seems difficult to spot because better legibility for the text means it doesn't stand out much from the background (this is a normal problem for situations like this). I'd also prefer to use colors already in JupyterLab, though using Material Design colors is a

[2021-06-18 18:10] krassowski commented on #10388
Thank you. I would like to avoid the blue bit on the gutter as it signifies breakpoints in other debuggers, not the active line (I initially mixed these up - sorry!).

The proposed colours look good! What about the 1px outline/border above and below the highlighted line? I saw this in another editor recently too.

[2021-06-18 18:57] tbrodbeck opened #10447 "Jupyter terminal jobs never quit"
## Description

I realized that jobs in the jupyter terminal jobs do quit when the terminal is closed (what can happend automatically for some reason).  This leads to a lot of process bloat that gets created over time eating up memory and cpu.

## Reproduce

1. Open a jupyter server.
2. Create a Terminal.
3. Execute a command. For example `htop` (the same applies to `bash` or `zsh` itself btw)
4.

[2021-06-18 19:07] isabela-pf commented on #10388
That makes sense. Without using the blue in the gutter, I do think it makes sense to have the outline/border on the highlighted line since the background colors are not very dark. Were you thinking 100% opacity versions of the colors next to them, or something else?

[2021-06-18 19:18] krassowski commented on #10388
I guess that some value between 60% and 100% opacity would work well. I have not tried it yet, open to suggestions (and away from usable computer, my main laptop has crashed).

[2021-06-18 19:30] isabela-pf opened #10448 "Add commenting and/or chat in notebooks"
In a few [JupyterLab team meetings](https://github.com/jupyterlab/team-compass/issues/117) and other conversations I've heard people talk about commenting and or/chat in notebooks. With RTC in JupyterLab and the discussion around possibly migrating to Code Mirror 6 (#10370), this is increasingly feasible.

Because this is a big feature that is clearly on people's minds but has no written discussio

[2021-06-19 00:24] sorenwacker opened #10450 "No menu point for exporting notebook, e.g. to PDF."
![image](https://user-images.githubusercontent.com/3391614/122625420-4781e680-d062-11eb-8f24-cf7560038200.png)
I am missing the menu point for exporting to PDF in JupyterLab 3.0.14.

Is there something that I have to install??

[2021-06-19 04:51] jasongrout opened #10451 "Upload file from clipboard via paste"
### Problem

We can drag a file from our local system into the filebrowser to upload it. However, we cannot currently cut and paste a file from our local system into the file browser to upload it.

### Proposed Solution

Use the newly shipped API in Chrome and Safari to enable pasting a file into the filebrowser from supported browsers.

See https://chromestatus.com/feature/5671807392677888

### A

[2021-06-19 10:36] davidbrochart commented on #10442
OK that didn't fix the issue, what I can see is that it is related to Jupyter Server using AnyIO worker threads to run tasks in the background, introduced in https://github.com/jupyter-server/jupyter_server/pull/324.

[2021-06-19 12:05] icankeep commented on #10442
I had the same problem

[2021-06-19 13:44] GF-Huang commented on #5382
Is there a context menu to enable it at the run time?

[2021-06-19 14:07] GF-Huang commented on #5382
Hey guys, the `collaborative` feature seems can not solves this issue #9621, am I doing something wrong?

[2021-06-19 15:52] davidbrochart commented on #10442
I opened https://github.com/agronholm/anyio/pull/321 which should fix this issue.

[2021-06-19 15:57] jasongrout commented on #5382
The real-time collaboration gives us the foundation to solve #9621, but we haven't solved that issue yet. We still need to build some things on top of RTC to solve that issue.

[2021-06-19 17:07] goerz opened #10452 "Show pending/executing in TOC"
The [classic notebook TOC2 extension](https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/nbextensions/toc2/README.html) would show a color highlight to indicate which section was being edited/pending/executing. This was extremely useful for "Run all", as the TOC would serve as a nice progress indicator.

In the latest version of the jupyterlab TOC, in the form that is now built-in to Ju

[2021-06-19 17:15] krassowski commented on #10452
Nice ideas!

There is a PR open for it, which is almost ready (basically waiting to be merged): https://github.com/jupyterlab/jupyterlab/pull/9994; would you like to have a quick look and see if this implements the expected functionality well?

Minor detail: did you wish to cross-reference issues from another repository?

[2021-06-19 17:46] goerz commented on #10452
The screenshots in the PR look exactly like what I'd be hoping for, as far as section numbering is concerned 👍

You mean https://github.com/jupyterlab/retrolab/issues/168? I did want to crosslink from that issue to here, yes. Seems like Github creates the backlink automatically.

[2021-06-19 18:11] krassowski commented on #10452
No, I mean issues 66 (enable mathjax) and 97 (clarify extension installation language).

[2021-06-19 18:54] goerz commented on #10452
Ah... sorry, I'm a bit slow today. And yes, I completely missed that these issues are in the `jupyterlab-toc` repository. I meant to reference https://github.com/jupyterlab/jupyterlab-toc/issues/66 and https://github.com/jupyterlab/jupyterlab-toc/issues/97. Sorry about that! I edited the original comment, too.

[2021-06-20 04:52] mbektas commented on #10445
@fcollonval tests are run in series, so I wouldn't think failures are caused by name clash. It could be due to a wait issue in Galata's `notebook.createNew` API. I am investigating as well.

[2021-06-20 05:11] mbektas commented on #10445
I confirmed that it is a wait issue. When a name is set, notebook.createNew is not waiting enough for the rename operation. created https://github.com/jupyterlab/galata/issues/60 and will be pushing a fix.

[2021-06-20 11:15] SamKacer commented on #10440
As a disclaimer I haven't used jupyter lab in some time.

To me it would make sense for the cells to be a single compound component as defined in WAI ARIA Authoring Practises 1.1, so when tabbing back to it would focus the cell that was focused last and has the visual styling to indicate it is the active cell instead of the first cell being focused.

As @manfromjupyter pointed out, this is unlikel

[2021-06-20 14:32] SRILEKHA-V19 commented on #10003
I can take a look at this issue and give it a try :)

[2021-06-20 14:41] amimoto commented on #10369
This issue does affect me as well but seeing as I'm already making a plugin for an internal project, just going to roll the tweaks to the Copy Shareable URL into that.

Am I understanding correctly that while `page_config['shareUrl'] = ujoin(hub_prefix, 'user-redirect') ` gets set, it doesn't get used later on?

[2021-06-20 20:42] krassowski opened #10454 "Make ctrl + mouse wheel and ctrl with +/- zoom active widget if any"
### Problem

* I'm always frustrated when:
   * I accidentally trigger zoom as it causes entire JupyterLab to zoom in, which takes a long time (many re-layouts)
   * I want to zoom in specific editor view but everything gets magnified
* I would like it if I could have more granular control over zoom

### Proposed Solution

* this could be an opt-in behaviour so we do not interfere with browser use

[2021-06-20 20:47] krassowski commented on #407
Should this one be closed in favour of using jupyter-releaser?

[2021-06-21 01:06] jess-x opened #10455 "RTC: cursor variables persist across sessions"
### Problem

User names and color variables used in Awareness do not currently persist across sessions. When the browser refreshes, users get re-assigned a random user name and color

### Proposed Solution

Store the variables in localstorage

### Additional context

https://github.com/jupyterlab/jupyterlab/pull/10411#discussion_r651636879

[2021-06-21 08:05] #10445 closed

[2021-06-21 08:07] fcollonval commented on #10445
Thanks for fixing this @mbektas

[2021-06-21 09:06] eromoe commented on #9575
[code]

Below doesn't work
[code]

Don't open browser after adding
[code]

[2021-06-21 09:52] fcollonval commented on #8010
@jtpio could we close this?

[2021-06-21 09:54] jtpio commented on #8010
Sure.

For reference there is now a `Switch` component in the `ui-components` package:

https://github.com/jupyterlab/jupyterlab/blob/81f69be38cc9ffbea5b05706e334e5c85f58a853/packages/ui-components/src/components/switch.ts#L8-L11

[2021-06-21 09:54] #8010 closed

[2021-06-21 10:19] hbcarlos opened #10456 "First cell is broken when creating a new notebook."
## Description

First cell is broken when creating a new notebook. You can select the first cell for writing.

![issue_first_cell](https://user-images.githubusercontent.com/26092748/122746816-afb31100-d28a-11eb-8912-c29e784780b1.gif)

## Reproduce

Using master in dev mode, when creating a new notebook the default cell is broken.

Using Chrome Version 91.0.4472.114-1.
Using Firefox works fine

##

[2021-06-21 11:47] choies1 opened #10457 "Jupyter Lab: Table of Contents Option"
### Request

In ToC of Jupyter lab, there is no option(settings) as Jupyter Notebook extension (ToC2).
Is there any plan to add this option for Jupyter Lab?
![image](https://user-images.githubusercontent.com/10408785/122663778-d5cba900-d1d7-11eb-8041-b8460fc11ebf.png)

[2021-06-21 13:02] fcollonval commented on #10457
Hey @choies1 Thanks for raising this.

 I transferred your issue here as the toc extension is now part of jupyterlab core.

To split your question into what is there and what is not:
- Auto numbering => you can turn it on from the toolbar in the ToC. But indeed it state is not store. That could be a nice addition.
- Leave h1 items => there is on going PR #9994
- Begin numbering at => This could be

[2021-06-21 13:03] fcollonval commented on #9535
@marthacryan could we consider this as fixed with #10260?

[2021-06-21 13:29] echarles commented on #10139
Here is a mockup to get feedback on the place where the source tree could be placed. Further a discussion with @jtpio, the LoadedSource Event could be used to lazily populate the tree, and the new dockpanel below the mainarea (https://github.com/jupyterlab/jupyterlab/pull/10201) could be used to add a tab for that tree.

PS: @fcollonval
master branch does not allow me to move the contextual help n

[2021-06-21 13:47] krassowski commented on #10139
Do we need the source tree at all? There already is a file browser. IMO source tree is needed for internet browsers like Chrome because they do not have their own file browsers as they are not IDEs first. Do other editors/IDEs also implement a second source tree for debuggers? I think that placing breakpoints in files should be supported via connecting kernel to the file like demonstrated in https

[2021-06-21 14:29] jtpio commented on #10139
But then where would they be displayed in the file browser?

I think the reason the extra file tree was mentioned is because the files as seen by the kernel might not necessarily be the same as the ones on the server. For example in the case of remote kernels.

[2021-06-21 14:53] fcollonval commented on #10139
Hey @echarles I can confirm it was removed before merging in the PR. The reason was to not break the current possibility to have it side-by-side with a notebook. I'm working on a follow-up PR to allow drag-and-drop of tabs between sidebars and the down area. The contextual help will be moved in the down area in that PR.

[2021-06-21 17:11] jess-x commented on #10455
Hi @dmonad! Thanks again for suggesting https://github.com/jupyterlab/jupyterlab/pull/10411#discussion_r651636879. This is to keep track of the work later.

[2021-06-22 04:27] Eyon42 opened #10459 "[Bug] Old problem, now present with the latest firefox version."
_Originally posted by @Gusser93 in https://github.com/jupyterlab/jupyterlab/issues/2995#issuecomment-330101074_

I'm seeing the same behavior as this user.
OS: Pop os 20.04
Conda jupyterlab-3.0.14
Firefox 89.0

[2021-06-22 04:29] #10459 closed

[2021-06-22 04:31] Eyon42 commented on #10189
I'm seeing the same behavior.
OS: Pop os 20.04
Conda jupyterlab-3.0.14
Firefox 89.0

[2021-06-22 08:03] fcollonval opened #10460 "Rename dialog: clicking on the label does not change the checkbox"
## Description

in the rename dialog, the user needs to click explicitly on the checkbox. Clicking on the label does not work

![only_checkbox](https://user-images.githubusercontent.com/8435071/122886988-bac87880-d340-11eb-860e-225558eca179.gif)

## Reproduce

1. Create a new notebook
2. Close it
3. in the dialog click on the text _Don't ask me again_
4. The checkbox does not change

## Expected b

[2021-06-22 08:22] jtpio commented on #10460
Thanks @fcollonval.

This looks like the same as https://github.com/jupyterlab/jupyterlab/issues/10317?

[2021-06-22 08:27] fcollonval commented on #10460
Thanks sorry I miss that one...

[2021-06-22 08:27] #10460 closed

[2021-06-22 08:48] fcollonval opened #10461 "Refactor code: Move all widgets from apputils -> ui-components"
### Problem

Improve code structure by moving widgets from `apputils` to `ui-components`.

This requires an API change due to `SessionContext` using directly dialogs. That relation should be broken - session context should be a model and the caller should be responsible of displaying the error in a dialog if needed.

### Proposed Solution

The relation between `SessionContext` and `Dialog` should

[2021-06-22 11:15] asteppke commented on #9135
One key feature of the simple mode is that it saves screen space in general and therefore is more useable on smaller displays. Having the large notebook name reduces this advantage at the moment to a large extend.

So moving it to the side or in another spot that is more integrated would help any user that is constrained to a smaller output window, e.g. a notebook or tablet.

[2021-06-22 12:07] jtpio commented on #10456
Thanks Carlos for the report.

Just tested on Brave with Chromium 91 using the dev Binder on the latest `master` (https://mybinder.org/v2/gh/jupyterlab/jupyterlab/master?urlpath=lab-dev), and it seems to be working fine:

https://user-images.githubusercontent.com/591645/122921692-13107200-d363-11eb-96c3-7ad1dbc46152.mp4

Would you be able to also check on the dev Binder, just to make sure it's not