[2020-02-09 03:36] jasongrout commented on #7863
I'd probably use the keyboard shortcut to select all (ctrl/command a), then the keyboard shortcut to run the code (ctrl/command enter, I think).

[2020-02-09 04:47] telamonian commented on #6127
Strange that this works in notebook cells (which use codemirror) but not text editors (which use codemirror)...

Probably just needs a config fix somewhere

[2020-02-09 05:21] telamonian commented on #6127
Hah! I got it. It's the same problem that I fixed for the notebook and console waaay back in #5060: the 'shift tab' shortcut is also being used for the command to launch the interactive help tooltip. What's meant to happen is that if you just place the cursor at, say, a python keyword, 'shift tab' will open a tooltip with the relevant docstring; but if you have text selected and then hit 'shift ta

[2020-02-09 09:09] telamonian commented on #7859
This will get fixed by #7864

[2020-02-09 10:10] datdinhquoc commented on #6127
That 'shift-tab' is not working, so I have to press Ctrl-Z

[2020-02-09 16:53] ataiya commented on #7863
@jasongrout that's exactly what I said in "the only solution" but it is a pretty weak solution.
Think a-la MATLAB (which julia tries to replace), there you execute a script in the console by just pressing F5?

[2020-02-09 21:29] sterlinm commented on #5290
I'm having a similar issue with conda and jupyter lab on os x.

I have 3 conda environments on my machine:
- base (/Users/msterling/miniconda3)
- lab (/Users/msterling/miniconda3/envs/lab)
- py38 (/Users/msterling/miniconda3/envs/py38)

I have jupyter lab installed in the `lab` environment and the kernel for py38 is installed in the kernels for the lab environment (/Users/msterling/miniconda3/envs

[2020-02-09 23:55] telamonian commented on #6127
To clarify, `shift tab` to dedent will be fixed in either JupyterLab 2.0.0 (which will be released very soon), or one of the early 2.0.x releases, depending on when #7865 gets pulled in

[2020-02-10 04:30] prateekrastogi commented on #7860
Facing the same issues whle developing my own extension for JupyterLab. The error thrown is:
Build failed with 504, please run 'jupyter lab build' on the server for full output

Referencing another similiar issue for more info: https://github.com/jupyterlab/jupyterlab/issues/7608

Just as VS Code, may be extensions are way forward for jupyterlab. Fixing their issues, especially for js developers,

[2020-02-10 06:20] crystal5fish opened #7866 "An icon for Tensorboard"
![image](https://user-images.githubusercontent.com/28918823/74125408-2f998780-4c10-11ea-89d2-eaf0d4a8d761.png)

We are developing based on jupyterlab, after installed tensorboard, the name in sidebar is a little bit long and weird, would you please set an icon for Tensorboard. Thank you!!

[2020-02-10 07:03] telamonian commented on #7866
This is not an issue we can fix in jlab core, but is instead something that the [jupyterlab_tensorboard](https://github.com/chaoleili/jupyterlab_tensorboard) devs can address. You should open this issue over on [their board](https://github.com/chaoleili/jupyterlab_tensorboard/issues).

[2020-02-10 07:03] #7866 closed

[2020-02-10 10:01] BlueCog commented on #7660
Hi all,

_Please let me know if I need to add another ticket, or on how to add (tag users?) an request to change this._

After some extensive troubleshooting we noted that event adding config files (or flags) to configure private repositories or proxy the build is still failing.

We noted that the public repository is hard coded in yarn.lock (https://github.com/jupyterlab/jupyterlab/blob/5e68c8aa7

[2020-02-10 10:30] telamonian commented on #7839
Do you own/control both computers? Instead of a vpn you could just set up an ssh tunnel to map a remote port to a local one. Your jlab server would then have an address like `localhost:xxxx` and chrome wouldn't complain

[2020-02-10 16:04] qbitmultiverse opened #7868 "Notebook of Jupyterlab in Google AI Platform doesn't work from iPad"
relevant package versions, including:
jupyterlab and notebook versions: Google AI Platform/Notebooks
browser versions affected: chrom ver 80.0.3987.88
operating system and version: iPadOS 13.3.1
relevant server and JavaScript error messages: Notebooks of AI Platform does't open so no error message is shown.
screenshots or short screencasts illustrating the issue: There is no meaningful screenshots

[2020-02-10 17:05] allefeld commented on #7839
@telamonian thanks for the tip.

Yes, I could do that. It wouldn't be instead of the VPN though but within the VPN, so involve an additional layer / configuration / another program to start. So if there's a way to fix this on the Chrome side I would prefer that.

[2020-02-10 17:07] timkpaine commented on #7868
Jupyterlab will render fine on ipad, there are some related issues though:
https://github.com/jupyterlab/jupyterlab/issues/3275

[2020-02-10 17:07] timkpaine commented on #7868
Closing as this sounds like a Google-related issue, considering bringing it up directly with them.

[2020-02-10 17:07] #7868 closed

[2020-02-10 17:28] telamonian commented on #7839
If that's the issue, you can launch the ssh tunnel as part of the program invocation:

[code]

Alternatively, you absolutely can use https with your Jupyterlab server. The fact that you're on a lan or behind a vpn or whatever is completely irrelevant (after all, you're already using http). The instructions for using [ssl/https are here](https://jupyter-notebook.readthedocs.io/en/stable/public_serv

[2020-02-10 17:36] allefeld commented on #7839
Thanks again, now I don't have to look up the command line options. :)

Regarding SSL, are you sure that a self-signed certificate won't simply raise another security warning?

And afaik, Let's Encrypt (or actually certficates generally) doesn't work for non-public servers.

There's not really a reason to make my one-person JupyterLab public-facing, not to mention the fact that the IT department w

[2020-02-10 18:49] nelder commented on #6910
Any idea when the pre-release will be generally released?

[2020-02-10 19:04] allefeld commented on #7839
Alright, I set up the ssh tunnel as you described. It was a bit more complicated because the port used by JupyterLab wasn't free on my local machine, and I had to reconfigure remotely to again listen on localhost and not the external interface. But it did remove the "not secure" warning.

A question though: The way your wrote the command, Chrome / the app isn't started if ssh fails, which makes se

[2020-02-10 19:22] AlbertHilb opened #7869 "Replace toggle icon missing"
## Description

The replace toggle button in the document search overlay has no icon.

## Reproduce

1. Open the document search panel
2. No button to show the replace entry is visible

![Screenshot_dev_chromium](https://user-images.githubusercontent.com/1220427/74180041-03e1c600-4c3f-11ea-9095-5808af5c01a4.png)

## Expected behavior

A button to open the replace entry should be visible.

## Diagn

[2020-02-10 20:35] #6127 closed

[2020-02-10 20:36] blink1073 commented on #7869
cc @telamonian

[2020-02-10 21:59] jasongrout commented on #6910
Are you asking when 2.0 final will be released? Hopefully very very soon (i.e., hopefully a matter of days). The RC is out now, and we're waiting for the dust to settle on one more thing before releasing final.

[2020-02-10 23:51] qbitmultiverse commented on #7868
Thanks Tim, but google support told me that I should contact JupyterLab as you can see below...

-----------------------------------------------------------------------------------
Thank you for contacting Google Cloud Platform Support.

I understand that you’re trying to open the Jupyterlab Notebook on your Ipad but it’s not opening while it is opening just fine while using a MacOS.

Please note

[2020-02-11 00:00] timkpaine commented on #7868
If you can setup a stand-alone instance of jupyterlab (e.g. on your Mac) with no extensions or anything and connect to it from your iPad to debug, we can probably investigate further. But given that google's platform is proprietary and may have extra extensions or customizations, we cannot help any further.

[2020-02-11 00:01] jasongrout commented on #7868
@qbitmultiverse, discussion about how JupyterLab works on an ipad is at #3275. Let's continue the discussion over there to keep the conversation in one place. We know there are issues with the interface of JupyterLab on an ipad, and apparently it got better with ipados 13. Can you read that discussion carefully, and add any extra information there beyond what is reported there that you think would

[2020-02-11 00:03] jasongrout commented on #7868
And as @timkpaine said, to make sure that your information is relevant to JupyterLab itself, and not influenced by being in the Google platform, you can connect to JupyterLab on, say, Binder to check it out: https://mybinder.org/v2/gh/jupyterlab/jupyterlab-demo/master?urlpath=lab/tree/demo

[2020-02-11 04:36] allefeld commented on #5660
@jasongrout How would one then prototype an extension, when one cannot try code interactively first?

[2020-02-11 06:20] dmbhatti commented on #6119
Greetings,

I've been having this weird issue for a while now. Sometimes (not always), I spin up the server on a remote machine and when I run the link in any browser on my local machine, the page is blank white. The problem appears to be with the vendors~main.a861638f675c21acb02b.js request. It's not getting a response in a timely manner. I've left this to cook and after about 10mins the file fin

[2020-02-11 06:44] jasongrout commented on #5660
@wolfv and I worked on a dynamic extension mechanism in JupyterLab last month, with a goal of making it *much* easier to prototype an extension right in JupyterLab itself. It's still very much a work in progress, but you can see what we have at https://github.com/wolfv/jupyterlab-dynext. It's not quite ready for prime time, I think, but if you're adventurous and willing to put up with some rough e

[2020-02-11 06:48] jasongrout commented on #6119
Key words to me are "remote server" and that it eventually loads. Perhaps the connection has limited bandwidth and it takes that long to load the js file? After it is loaded once, it is in the browser cache, so it is quicker, until it either is evicted from the browser cache or the file changes (like from an extension installation, etc.).

[2020-02-11 06:49] jasongrout commented on #6119
How large is the file? We have done some things that may cut down on the size of that file too - any chance you could try with JupyterLab 2.0rc0, the latest 2.0 prerelease? You can install with `pip install --pre jupyterlab` if you are using pip.

[2020-02-11 06:50] jasongrout commented on #6119
Also, that file size may depend on the plugins you have installed beyond the core plugins.

[2020-02-11 07:44] kosit-orngsri commented on #7839
ความเปลี่ยนแปลงปัจจุบันที่เกิดขึ้นทําให้ปรับสภาพไม่ทัน

[2020-02-11 08:25] dmbhatti commented on #6119
Thank you for the insight! I ran it again from an incognito window and this time I noted the file as 7.4MB that took 2.2min to download. It really should have taken a few seconds. I've been trying to get a bandwidth measurement using iperf but its proving to be beyond my abilities.

Assuming plugins refers to the extensions, I only have the plotly-extension installed at the moment and I vaguely re

[2020-02-11 08:59] vidartf commented on #7821
Fixed via #6127.

[2020-02-11 08:59] #7821 closed

[2020-02-11 15:13] XFengwei commented on #3506
The only way that I can come up with is to restart Jupyter and open the same Jupyter file and copy the unsaved contents into the just-open file. Finish, and shut the previous one down

[2020-02-11 18:13] dremovd opened #7870 "Cut cell not working expectedly with find widget active"
## Description

When "Find..." widget is active if you use "Cut cells", then focus moves to an arbitrary place of the notebook.

## Reproduce

1. Open any large notebook
2. Command+F and find some text present in the notebook
3. Use "Cut cells"
4. Notebook instantly would be listed to another place. In other words, focus randomly changed.

## Expected behavior

4. Similar to behavior when "Find...

[2020-02-11 18:27] jasongrout commented on #7870
This is likely the same underlying issue as #7845

[2020-02-11 18:28] jasongrout commented on #4058
Is this working now, with JupyterLab 1.2.x?

[2020-02-11 18:29] dremovd commented on #7870
Yes, I didn't find this issue but looks like it's two cases of the same bug

[2020-02-11 18:29] #7870 closed

[2020-02-11 19:47] allefeld commented on #5660
@jasongrout, thanks! I think that dynext extension is a good idea. Rebuilding JupyterLab sometimes takes minutes, and I for one don't write flawless code on first try, especially if don't yet know what I'm doing.

I get (kind-of) the security considerations behind needing to make an extension. But it does make things very awkward. Not just for development, but also for simple user installation:

P

[2020-02-11 19:53] jasongrout commented on #5660
Thanks for engaging on these points. We really do want to make extension development have much less friction.

Yes, there is a recommended pattern for that. Essentially, you build your js and put it in a specific directory, and JupyterLab will see it and automatically offer to rebuild to include that extension if nodejs is installed. See https://jupyterlab.readthedocs.io/en/stable/developer/extens

[2020-02-11 19:54] jasongrout commented on #5660
Please file an issue.

[2020-02-11 20:07] allefeld commented on #5660
Thank you for being interested!

Great, good to know. That feature is not yet widely used though, is it? I don't remember in detail, but I install everything with conda, and very often I had to do the additional extension installation.

[2020-02-11 20:16] jasongrout commented on #5660
I think it's probably not widely used. I think most extensions do not have a python component.

[2020-02-11 20:20] mlucool opened #7871 "UX: Select Kernel Dropdown"
## Description

When you click on a kernel to change it, the select kernel dropdown should default select the kernel you are currently using.

## Reproduce

Start a notebook with any kernel but the first one in the select kernel list. Click on the kernel and you'll see the dropdown defaults to the first preferred kernel (which is sorted alpha-numerically).

![kernelSelect](https://user-images.gith

[2020-02-11 20:23] allefeld opened #7872 "Extension Manager is broken"
## Description

About half of the time when I use JupyterLab and open the Extension Manager, it is broken:

![image](https://user-images.githubusercontent.com/1738353/74274837-b29f0880-4d0a-11ea-9652-95755d124061.png)

I don't know what triggers this, it just seems to happen randomly.

Sometimes restarting the JupyerLab server restores the Extension Manager, but also not always.

The Developer Too

[2020-02-11 20:30] jasongrout commented on #7872
Here is that error formatted so we can read it:

[code]

[2020-02-11 20:31] jasongrout commented on #7872
Looks like there is some problem on the server side when it is trying to run npm.

[2020-02-11 21:02] allefeld opened #7873 "Python object inspector for the Jupyter Notebook"
I'm not entirely sure this is the right place, if not sorry & please redirect me.
It is a mixture between a feature suggestion and a request for comments.

When working with JavaScript, I very much appreciate the object inspector that comes with Chrome's Developer Tools Console:
![image](https://user-images.githubusercontent.com/1738353/74277357-4bd01e00-4d0f-11ea-95fe-892536ffa7b2.png)

I think i

[2020-02-11 21:08] jasongrout commented on #7873
Good, you saw the existing variable explorer extension. There is also a lot of work going into the debugger extension, which has a variable inspector: https://github.com/jupyterlab/debugger

I would have suggested ipyevents, but apparently you already tried that. Can ipyevents be extended to give target information?

If you do go custom, writing a custom widget extension has the advantage that it

[2020-02-11 21:22] allefeld commented on #7873
I've asked @mwcraig to comment.

The debugger looks promising. When does it come out of beta? ;)

[2020-02-11 21:45] jasongrout commented on #7873
Not sure. They are working hard on it.

[2020-02-12 00:10] blois commented on #7873
+1 to a structured representation of objects, [Polynote](https://polynote.org/) does a decent job of this for Scala.

I played around with a library to do this in Colab a while back, an example is: https://colab.research.google.com/gist/blois/e432e3aa45de92a09baf9a6644269a0e/copy-of-inspector.ipynb (need to execute the notebook to expand the objects).

All of the code for that one is https://githu

[2020-02-12 09:18] ikiw opened #7874 "Too many fetch calls (20+) to "/api/settings/@jupyterlab/docmanager-extension" on the first load."
## Description

Find too many fetch calls (20+) to /api/settings/@jupyterlab/docmanager-extension on the first load.
version - tried out in 1.2.6 & 1.2.3

## Reproduce

1. Open the Dev Tools
2. Load JupyterLab
3. Find the number of calls to docmanager-extension

## Expected behavior

Avoid the redundant calls. Ideally should be only 1 fetch call.

## Context

- Operating System and version: Mac Ca

[2020-02-12 09:29] jasongrout commented on #7874
This happens to me too on JLab 2.0rc0.

[2020-02-12 09:34] jasongrout commented on #7874
I think it comes from these lines which reload the settings: https://github.com/jupyterlab/jupyterlab/blob/7a97756d3808240a5881f9d63d2f955a27acb9eb/packages/docmanager-extension/src/index.ts#L244-L246

[2020-02-12 13:03] vidartf commented on #7872
Given the exception trace, it might be related to the `/-\-` spinner code. It is not obvious to me why the `--debug` flag should matter.

[2020-02-12 13:09] ikiw commented on #7874
@jasongrout : Debugged it and found addWidgetFactory which emits this change event is invoked from a forEach loop.

[https://github.com/jupyterlab/jupyterlab/blob/master/packages/application/src/mimerenderers.ts#L153](url)

I was able to resolve it locally, by maintaining a check if there is already a promise yet to be resolved. Please let know if this approach is good. I can create a PR.
[code]

[2020-02-12 16:17] allefeld commented on #7873
@blois, thanks, I'll have a look.

[2020-02-12 17:14] saulshanabrook commented on #4292
Here is a notebook example (exported to a script) that is slow to switch to from another tab (that uses Plotly):

[code]

Another example is a one cell with many outputs

[code]

I am gonna look into these use cases.

[2020-02-12 17:33] saulshanabrook commented on #7670
We chatted about this in the JupyterLab meeting today. I brought up the idea of allowing you to disable JupyterLab's context menu on any element and its children. It was preferred over allowing some option-shift-right click to allow a third context menu.

So I will look at how to add this to core. @afshin suggested that we could do this without having to modify lumino by modifying our event listen

[2020-02-12 18:13] ian-r-rose commented on #7670
@saulshanabrook For what it's worth, we are already [modifying](https://github.com/jupyterlab/jupyterlab/blob/8ebef8b7c524e098c0af5424cfd4fb9402a03a85/packages/application/src/frontend.ts#L151-L173) the lumino context menu logic a bit to do two things:
1. Capture the target of the click so that commands can inspect that for more information than is provided by the args, and
2. Showing the shift-ri

[2020-02-12 19:25] lesliewalcott opened #7875 "Bug: replacing cell contents after executing"
## Description

When I execute a cell by hitting "shift enter", the cell executes, but the cell contents is replaced with the previous cell that I ran.

Example:
In: print("hi")
Out: hi

In: 2+2
Out: 4

Upon executing, the "2+2" in my cell is replaced with "print("hi")". I took a few videos illustrating this with my actual code: https://imgur.com/a/TzifF5k

It always replaces the cell input with t

[2020-02-12 20:13] allefeld opened #7876 "interface to manage workspaces"
Under the URL `/lab/workspaces` without an appended workspace name, an interface to manage workspaces should be shown. that is:

- a list of existing workspaces, click opens it
- for each existing workspace, options to delete, rename, clone
- option to create a new workspace, either empty or as a clone of the default workspace.

[2020-02-12 21:00] jasongrout commented on #7875
Thanks for reporting this. That is *very* weird, and I don't remember ever hearing of something like this happening. The first thing I think of is that perhaps a browser extension or a jupyterlab extension is messing something up.

I realize since you can't reproduce it reliably, it's hard to try to narrow things down by going through the diagnosis guidelines at https://jupyterlab.readthedocs.io/e

[2020-02-12 21:02] jasongrout commented on #7875
Setting as "needs info" for a better way to reproduce this, and pending reproduction with no browser and jlab extensions installed. Also, were there any js console errors?

[2020-02-12 21:03] jasongrout commented on #7876
Thanks for a starting point for what a workspace manager might look like. I think @afshin has been thinking about what a workspace management system might look like as well.

[2020-02-12 21:40] saulshanabrook commented on #7670
Thanks @ian-r-rose! Turned out to be very easy to add a fix here with that pointer (https://github.com/jupyterlab/jupyterlab/pull/7877)

[2020-02-13 00:59] isabela-pf commented on #7871
This is a really good catch and makes more sense to me than the current experience. I second this proposal.

[2020-02-13 01:26] isabela-pf commented on #7039
Since I last commented, I've been thinking through the use of the command palette by considering what activities users might visit the command palette for. I'd love to get feedback on their accuracy or what might be missing.
1. Complete any action in JupyterLab (User is familiar with JupyterLab)
1. Complete an action in JupyterLab that does not have a configured shortcut (User is familiar with Jup

[2020-02-13 01:27] markellekelly commented on #7702
The problem seems to be with lumino, which doesn't currently support releasing a modifier mid-shortcut, regardless of whether you use two different modifiers. (e.g., ```['Ctrl C', 'Ctrl P']``` doesn't work if you press Ctrl+C, release, then press Ctrl+P.)
Currently, whenever all keys are released, ```keystroke``` is empty, causing the pending state to be cleared:
https://github.com/jupyterlab/lumi

[2020-02-13 01:38] isabela-pf commented on #7039
This is still one of several works in progress, but I want to share this so you can see where I am now.

![cp3](https://user-images.githubusercontent.com/50221806/74393258-6e6d4000-4dbe-11ea-9e0f-26b54bc86c7b.png)

Changes include moving and lowering the emphasis of the search icon, removing current command palette headings (I'm very unsure about this), and proper elevation for dialogs in Material

[2020-02-13 07:56] epogrebnyak commented on #2155
Is is correct there is still no quick way to copy output of the cell? I can click on an image, but cannot copy it? I go around by persisting a notebook in github, but that looks like a terrible workaround.

[2020-02-13 08:57] Constaiger commented on #2155
There's no way for me to create a view `Shift` + right or left click in the output (MacOS), no right/left click on the output has any effect.
But I just found out something:
 right click on a cell code (not the output) and select "Add to scratch cell" . From there you can actually select and copy the output...!

[2020-02-13 08:58] epogrebnyak commented on #2155
Should try that, thank you!

чт, 13 февр. 2020 г., 11:57 Constaiger <notifications@github.com>:

[2020-02-13 11:50] dhirschfeld commented on #7039
Showing the keyboard shortcuts (if configured) is also very useful (vscode does this above).

[2020-02-13 14:06] lesliewalcott commented on #7875
Hi Jason, if this happens again, I will comment here with more information. I don't have many Chrome extensions installed, but I have quite a few Jupyter extensions, so I will try disabling.  No js console errors.

[2020-02-13 15:13] jasongrout commented on #2155
You should be able to do Shift-right click to see the native browser menu, which may let you copy the image (depending on the OS and browser, I guess). You may be able to just drag the image directly onto your desktop (again, depending on the browser/OS).

"Add to scratch cell" is not an option in core JupyterLab, so it must be coming from an extension? Perhaps some extension is messing up the shi

[2020-02-13 15:16] jasongrout commented on #7875
Note that you can start JupyterLab with only the stock builtin plugins (i.e., no custom plugins you've installed) with `jupyter lab --core`. It's sort of like the "safe mode" in operating systems.

[2020-02-13 17:57] Constaiger commented on #2155
Ups... sorry, I searched for copy pasting in Colab, clicked and went directly to the answers just seen " Cell output, a way to copy". Didnt' realize this was for Jupyter.
I'd also like to be able to do this in Jupyter in a straighforward way... I'll try the right-shift there then...Thanks!

[2020-02-13 19:25] bhaskarnn9 opened #7880 "Issue running ipynb file in Pycharm Professional edition"
Steps to reproduce
1. Create a ipynb file in PyCharm PE
2. Run the file
3. Open console see the below error

This issue could be connected to the another issue I am facing with PyCharm: https://youtrack.jetbrains.com/issue/PY-40620

/Users/bhaskarn/.conda/envs/global/bin/jupyter notebook --no-browser
[W 00:50:25.334 NotebookApp] Error loading server extension jupyterlab
    Traceback (most recent

[2020-02-13 20:43] shimminj commented on #7412
I'm seeing this sporadically on JupyterLab 1.1.4, Chrome, on OSX.

Restarting the kernel does not clear the problem..  Reconnecting in a new browser window does.

Seeing errors like:
`Cannot execute key binding 'Enter': command 'notebook:enter-edit-mode' is not enabled. 3 index.js:504`
`Cannot execute key binding 'Ctrl Enter': command 'notebook:run-cell' is not enabled. index.js:504`
`Cannot execu

[2020-02-13 23:22] javag97 commented on #7039
Hello @isabela-pf! I hope all is well at CP Jupyter. I believe what you currently showed to be a considerable improvement from the current command palette. Your latest design iteration reminds me of the spotlight search feature from the macOS environment.
1.  I agree with the comment regarding keyboard shortcuts. I imagine this has been talked about internally yes?
1. With this new design, how do

[2020-02-13 23:22] agbaum commented on #7829
So it turns out this is sort of an issue with jedi, the completer used by IPython. Here's a demonstration of the issue using jedi itself, where `success` is the equivalent of the string that gets sent via the completion request in the scenario that works, and `fail` is the string that gets sent in the scenario that fails.

[code]

`success_complete` then has a bunch of completions in it, and `fail

[2020-02-14 01:46] telamonian commented on #7829
@agbaum what about what @t1nux said about it working as expected for builtin types and for notebook classic?

[2020-02-14 04:41] agbaum commented on #7829
I was able to reproduce the bug in notebook classic, my understanding of that comment was that it worked as expected at some point in the past.

As for built in types, I think jedi is just able to make those kinds of completions for builtin types. For instance, if you open up a clean ipython terminal and type:

`x = '.'; x.TABTAB`

it will autocomplete. Jedi knows that x has been defined as a stri

[2020-02-14 10:56] t1nux commented on #7829
Just to clarify my initial post, the currently not working completion **in the same cell**, ie.
[code]
 used to work in the past for the normal notebook. That was quite a bit before lab. I actually managed to find an old winpython version which I had on a USB stick, where this is still working. It is winpython-3.5.2.3 (from 2016). There, the above mentioned completing is working (for `str` and `np

[2020-02-14 11:30] dschick commented on #4778
would be great to change the shortcut.
see also this issue: https://github.com/jupyterlab/jupyterlab-shortcutui/issues/34

[2020-02-14 12:12] AlbertHilb opened #7881 "Jupyterlab search system does not match beginning and end of text lines"
## Reproduce

1. Open the search overlay
2. Select the regexp option
3. Insert `^` (or `$`) in the search field
4. No match appears

![immagine](https://user-images.githubusercontent.com/1220427/74526006-c02edb00-4f22-11ea-8ea4-7be25f0b7d7c.png)

## Expected behavior

The beginning (or the end) of each line should be matched.

## Diagnosis

The piece of code responsible for this behavior is [this

[2020-02-14 14:06] jtpio commented on #7873
Thanks @allefeld for sharing that, it looks good.

For now the variable inspector in the debugger extension (which [can be tested on Binder](https://mybinder.org/v2/gh/jupyterlab/debugger/stable?urlpath=/lab/tree/examples/index.ipynb)) is still being iterated on. The goal is to keep it language agnostic and use standard calls from the Debug Adapter Protocol (see [this JEP](https://github.com/jupyt

[2020-02-14 14:38] lepa22 commented on #2774
This issue is still not resolved. Is this (or should this be) reported on codemirror or is it something that should be implemented in JupyterLab? If the answer is the latter, is there a known roadmap about when this issue will be fixed?

[2020-02-14 15:25] tanya94 opened #7882 "No text in cell created with createCodeCell"
## Description

I try to write an extension, which creates new code cell in active notebook panel. I have this code:
[code]

Next I open notebook tab and there is new cell, but it is empty until I click on it manually.

It looks like this (I have new active cell, but it's empty):
![image](https://user-images.githubusercontent.com/7230011/74542845-6d224b80-4f55-11ea-827c-6f0339152284.png)

## Conte

[2020-02-14 15:50] jtpio commented on #7876
Similar to https://github.com/jupyterlab/jupyterlab/issues/6944?

[2020-02-14 16:32] jasongrout commented on #2774
I think it makes sense to bring up to CodeMirror, to see if it was intentional that parentheses were added to the `pairs` attribute, but not the explode attribute at https://github.com/codemirror/CodeMirror/blob/2f51b60003c17d55af03390b4ce49ee8600ddfc6/addon/edit/closebrackets.js#L12-L17

If it was intentional, I think someone could submit a PR to override it in JupyterLab, or at least provide a s

[2020-02-14 16:36] jasongrout commented on #2774
For context, here is where codemirror added the explode feature: https://github.com/codemirror/CodeMirror/issues/1552, and here is another place where it came up in discussion: https://github.com/codemirror/CodeMirror/issues/4478

[2020-02-14 16:37] jasongrout commented on #7882
To be clear, what happens when you click on it?

[2020-02-14 16:45] tanya94 commented on #7882
Text `some code line 1`, `some code line 2` in the cell appears :)

[2020-02-14 17:06] allefeld commented on #7876
@jtpio agreed, closing in favor of that issue.

[2020-02-14 17:06] #7876 closed

[2020-02-14 17:08] allefeld commented on #6944
quoting myself from #7876 "interface to manage workspaces":

[2020-02-14 17:12] afshin commented on #6944
@allefeld I would say a good way to start is to just add a command to the command palette and probably a menu item but *not* to tie it to a specific URL yet. URLs are a place in a user interface we should be *very* conservative about because they are one of the last things that change and they can be very long-lasting.

Since this is a user interface for managing workspaces, simply launching it th

[2020-02-14 19:15] allefeld commented on #6944
@afshin, I thought it would be the logical way to do it, but I understand.

[2020-02-14 19:29] thavidu commented on #4040
Seems like this could be an opposite default of the existing
[code]
setting

I wish there was something like:
[code]

[2020-02-14 21:27] saulshanabrook opened #7883 "Document How Links are Handled in Notebook"
We should document how links are handled in notebooks.

See this issue and linked issues for discussion https://github.com/jupyterlab/jupyterlab/issues/6835

[Raised by @deeplock on Gitter](https://github.com/jupyterlab/jupyterlab/issues/6835)

It could be added to the bottom of the Notebook page: https://jupyterlab.readthedocs.io/en/stable/user/notebook.html

[2020-02-14 21:31] deeplook opened #7884 "Open known file types with a terminal command inside a new tab"
A feature request more than a bug... I can put links in notebook markup cells pointing to a local file, that when clicked will open the preferred viewer for that file in a new tab. It would be _awesome_ to have the same effect, but from a terminal inside Jupyter. Like the macOS open command. In this case sth. like open result.json. Not sure if this would require a new command, though.

[2020-02-14 22:19] jasongrout commented on #7884
A couple of thoughts:
- I think we can control how links are rendered in the terminal, so perhaps we can do something to at least make clickable links to local files that are within the root.
- @williamstein has implemented this "open" in cocalc using the same terminal client we use (xtermjs). See https://github.com/sagemathinc/cocalc/issues/409 for some hints.
- I remember one conversation somewh

[2020-02-14 22:56] soerendip commented on #3506
Got this with jupyter lab and the Diagram editor jupyterlab-drawio when trying to save a drawing.

[2020-02-14 23:24] jasongrout commented on #7882
Thanks. So perhaps the codemirror cell is not getting refreshed or something on creation. Setting as Future for someone to investigate - if you have time to look into it and submit a PR, that would be great.

[2020-02-14 23:44] williamstein commented on #7884
Hmm, interesting.  That would be super easy to do in CoCalc:

![2020-02-14 15_37_16-](https://user-images.githubusercontent.com/1276278/74576596-5d4c3c80-4f40-11ea-86a9-1c50f6131b3f.png)

In the picture above I just use echo to generate a link, and for cocalc that link *will* open the file when clicked.  An `open` command could output the analogue of a link like that for JupyterLab's terminal.

It

[2020-02-15 01:24] #3784 closed

[2020-02-15 03:24] #7874 closed

[2020-02-15 06:24] jasongrout commented on #7884
How do you get a command line program to send a message over the websocket? Does the program know it is running in xtermjs, or somehow have access to that websocket, or does it somehow communicate with a service that does have a handle on the websocket, or some other way?

Thanks for your insights on this.

[2020-02-15 13:50] Yavuz2010 commented on #7669
thank you very much. it's okey, I wonder that How can I save this change?

[2020-02-15 18:20] williamstein commented on #7884
Here's the latest version of the code:

https://github.com/sagemathinc/cocalc/blob/master/src/smc-project/terminal/server.ts#L106

Basically, if the output contains an escape sequence wrapping some JSON message, then a function called handle_backend_messages parses out that JSON and sends it via a different channel over a websocket.  Looking at the code itself and comments, it says
[code]
The note

[2020-02-15 18:59] wesinator commented on #5520
jupyterlab 1.2.4, 1.2.6
macOS 10.14.6 Macbook Pro 15-inch retina
Firefox 72.0.2

**To reproduce:**
 - Connect external 1920x1080 monitor (display adapter or dock)
 - Drag browser tab window to monitor if it doesn't automatically move
 - Jupyter notebook with many cells, long scroll
 - Cursor in cell edited (cell above latest)
 - Disconnect from external display

**workaround:** opening the browser

[2020-02-15 20:55] #7775 closed

[2020-02-15 21:18] jasongrout commented on #7230
I'm working on getting ipywidgets (and especially custom ipywidgets) to work in JLab 2.0, and it may be a mess for end users to understand for *some* third-party packages, primarily because we (a) want one widget package to support jlab 1.0, jlab 2.0, and classic notebook, and (b) some widget packages apparently have to import and use phosphor. See https://github.com/jupyter-widgets/ipywidgets/pul

[2020-02-15 21:26] saulshanabrook commented on #7230
Wait so does ipywidgets depend on bqplot which depends on phosphor?

[2020-02-15 21:26] saulshanabrook commented on #7230
I would think that ipywidgets has some core package to handle the logic shared between notebook and all lab extensions, then it also has a jlab extension that depends on that, which would have different versions for jlab v1 and for v2 (it wouldn't support both at once).

[2020-02-15 21:30] saulshanabrook commented on #7230
I would expect custom widget packages to have two versions, one for jlab 1.0 and for jlab 2.0, if they depend on phosphor. If they were also jlab extensions themselves, then that should be fine as well? Is the issue that in ipywidgets output you hard code a link to a custom widget package JS library and use require to fetch it?

[2020-02-15 21:31] jasongrout commented on #7230
Yes, that's basically how it works. The key here is that bqplot on top of all of this has *one* codebase, but it imports phosphor to work with the underlying phosphor widgets.

Fortunately, because we have the basic structure you outline above, most widget packages I think will work just fine in jlab 1.0 or jlab 2.0. There are some corner cases, though, that are made sharper and more inconvient fo

[2020-02-15 21:34] jasongrout commented on #7230
My basic point is that we have a choice: we could take the position that we want to support extension developers as much as we can, so we'll enable a deprecation period to give them time to move over if the phosphor/lumino change is the only thing affecting them, or we could take the hard-line approach that we are moving over *now* and everybody has to move with en-mass with deprecation period. I

[2020-02-15 21:36] saulshanabrook commented on #7230
I agree with you about the choice, but I don't think it stops with the phosphor -> lumino change. It seems just as applicable for any backward incompatible change from jlab 1.0 to 2.0.

If we want to help extension authors not have to create a new version that targets 2.0, then I think we just shouldn't have a major version bump of the packages because the semver means "things might break".

So it

[2020-02-15 21:37] saulshanabrook commented on #7230
(for some context, I am a bit hesitant to start doing aliasing because it's not checked by typescript and introduces even more complexity and uncertainty into our build system).

[2020-02-15 21:39] saulshanabrook commented on #7230
@jasongrout if you wanna hop on zoom quickly, we could chat about this in real time then document our notes here.

[2020-02-15 22:18] allefeld commented on #7873
After thinking about this some more, I realized it's not enough to be able to listen to mouse events and get their target. To expand a subtree in response to a click I would need to be able to manipulate the DOM of an `ipywidgets.HTML` widget to fill in the subtree elements. As far as I can tell, there is no API to do so, and it is impossible to execute JavaScript immediately in a notebook (as opp

[2020-02-15 23:21] jasongrout commented on #7230
Sorry, running on some tight timelines today.

Here's the scenario I'm trying to help:

Sally just developed an extension in November for JupyterLab 1.0. Because some of her stakeholders can't upgrade until the end of the academic year, she must support the jlab version 1 of her extension until, say, JupyterLab 3 is released, but she also wants to release a jlab 2-compatible version. Now, it turns

[2020-02-15 23:31] jasongrout commented on #7230
I think the phosphor -> lumino change is a particularly good change to deprecate, since it is (a) a straight rename, no backwards-incompatible api changes, (b) we explicitly were trying to make the migration a good experience, and (c) it seems like it will be pretty trivial on our side to support.

That said, I won't be able to work on it before next Wednesday, so if we proceed with the release, f

[2020-02-16 20:52] allefeld commented on #7873
Sorry, for the incessant commenting, I hope this stuff is interesting for someone beside me, at least for future reference.

In the meantime I found [`ipytree`](https://github.com/QuantStack/ipytree), which provides a customizable tree widget based on `jsTree`. It allows to listen to events, but unfortunately not to "item open/close" events but only to "item select" events. That is enough to allow

[2020-02-17 03:15] dhirschfeld commented on #7873
@allefeld - I don't know that it does what you're after but it's kind of neat:
https://github.com/nteract/vdom

[2020-02-17 05:39] rmorshea commented on #7873
As mentioned in my response from https://github.com/nteract/vdom/issues/83 [idom](https://github.com/rmorshea/idom) (a personal project of mine) is probably the closest you're going to get to arbitrary DOM manipulation. You can try it out in [this notebook](https://mybinder.org/v2/gh/rmorshea/idom/master?filepath=examples%2Fintroduction.ipynb).

[2020-02-17 09:11] jtpio opened #7887 "Custom icon in a launcher card"
At the moment in 1.x, users can pass an `iconClass` to a command:

[code]

And define an icon as CSS background:

[code]

The icon should show up correctly in the launcher card.

In 2.x, it looks like the DOM element is not created unless a new `LabIcon` was instantiated beforehand: https://github.com/jupyterlab/jupyterlab/blob/b66bb79116285ccbd0876a6263ac2c0d6de27c33/packages/ui-components/src/ic

[2020-02-17 09:25] ChrisIdema opened #7888 "autosave overwrote manually saved notebook"
## Description

Last night I saved my notebook several times using the diskette icon.
This morning I found my notebook reverted to a very early version and it said it was auto-saved around the time I closed my computer. It overwrote all the work I did and saved manually last night. So it auto-saved an older version over the last manually saved version destroying all my work.

## Context

- Operati

[2020-02-17 09:49] lepa22 commented on #2774
@jasongrout Thank you. I reported the issue on CodeMirror: https://github.com/codemirror/CodeMirror/issues/6146

[2020-02-17 11:32] lambdamusic commented on #6884
I'm not using Conda but still have this problem.

I've also tried disabling all extensions but no luck.

[code]

After running it, it all seems fine but then I quickly start getting 404s..

[code]

Maybe this problem gets generated by the main jupyterlab process? I'm a bit stuck on how to debug it further...

[2020-02-17 11:38] ikiw opened #7889 "3 checkpoint get requests invoked to load a single notebook"
## Description
3 checkpoint get requests are invoked to load a single notebook. While this doesn't have any effect while running the jupyterlab in local, but the slowness is quite visible in a hosted notebook environment with the subsequent requests taking more time in the waiting state.

## Reproduce

1. Go to Jupyterlab
2. Click on any notebook
3.  Check the network log for checkpoint requests

[2020-02-17 13:16] romaingz opened #7890 "Enable to browse into a directory that contains a broken symlink"
## Description

Using the file browser on the left, I cannot browse to a directory that contains a broken symlink.

## Reproduce

1. In your home create a directory that contains a broken symlink
2. Go to jupyterlab
3. On the left pane (file browser) double click on that directory
4. The browser does not open the directory

## Expected behavior

I expect the directory to open and exclude the broke

[2020-02-17 15:09] cnydw commented on #7344
@jupyterlab/docmanager:IDocumentManager: An interface to the manager for all documents used by the application. Use this if you want to open and close documents, create and delete files, and otherwise interact with the file system.

`documentManager.open(filename)` can open a file in jupyterlab programmatically.

[2020-02-17 20:31] HashRocketSyntax opened #7891 "Bug: after deleting a cell, the ui jumps to ctrl+f"
## Description

## Reproduce

1. Do a ctrl+f.
2. Scroll down or up and keep programming.
3. Delete a cell a few minutes later.
4. It instantly jumps to a ctrl+f search... in a cell far from where I am working.

This has been happening for a few months now.

## Expected behavior

Not automatically executing ctrl+f after I delete a cell.

## Context

- Operating System and version: macOS 10.15.2
- B

[2020-02-17 21:05] mgeier opened #7892 "Feature Parity: Pink background for exceptions/tracebacks?"
## Description

JupyterLab has a pink background:

![image](https://user-images.githubusercontent.com/705404/74686039-87b42900-51d0-11ea-9b43-f54db9035594.png)

The Classic Notebook doesn't:

![image](https://user-images.githubusercontent.com/705404/74686102-bd591200-51d0-11ea-96a9-cfcaabf1b325.png)

## Reproduce

1. Run some code that raises an exception

## Expected behavior

Both should have th

[2020-02-18 07:04] songyuc opened #7894 "It seems the Jupter Lab can only be started in the Anaconda base environment?"
Hi guys!
Today I tried using a Anaconda environment (not base), to start Jupter Lab,
but it shows,

Traceback (most recent call last):
  File "/home/songyuc/software/python/anaconda/anaconda3/envs/conda-general/bin/jupyter", line 11, in <module>
    sys.exit(main())
  File "/home/songyuc/software/python/anaconda/anaconda3/envs/conda-general/lib/python3.7/site-packages/jupyter_core/command.py", lin

[2020-02-18 11:59] vidartf commented on #7230
Note that a lot of third-party ipywidget extensions import phosphor *typings*, even though there are no direct imports of run-time objects. E.g. for one widget library I have, updating to the latest ipywidgets RC (`npm install --save @jupyter-widgets/base@next @jupyter-widgets/controls@next`), gives these Typescript compile errors for the lab plugin (the only part that fails):

[code]

[2020-02-18 12:04] vidartf commented on #7230
(to be explicit about the previous comment: In such cases, the widget library authors will need to cast to `any` to enable support for both lab 1.x and 2.x in one release, AFAICT)

[2020-02-18 15:59] vidartf commented on #7888
Did the little * marking the file as changed since the last save disappear when you hit save? Is there anything in the server log? Is there anything in the browser developer console? There are multiple things that can have gone wrong, and it is hard to make any guesses without more details.

[2020-02-18 22:43] cchung85 opened #7897 "jupyter lab build --debug result in error:: json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
Hi,
Upon invoking jupyter lab build --debug, the following error occurs:
  An error occured.
json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)
See the log file for details:  /tmp/jupyterlab-debug-j3mncrio.log.
This is a repeatable issue. The log file content is copied below.

Looks like jupyter lab is expected a configuration json file somewhere and the file size is 0. So I w

[2020-02-19 00:02] k7wu commented on #7860
Thanks so much for the guidance. I tried to see if things were not installed and honestly couldn't tell. I ended up doing a quick reset of windows and reinstalled everything and now it works.

[2020-02-19 00:02] #7860 closed

[2020-02-19 00:42] AlbertHilb opened #7898 "Search results are not always updated"
## Description

Search results are not updated on changing content of cells that initially did not contain query matches.

![output](https://user-images.githubusercontent.com/1220427/74790573-3e3f0900-52b8-11ea-8245-fc4885508aa9.gif)

## Reproduce

1. Create a code cell with content `a = 1`
2. Create a second code cell with content `b = 2`
3. Open the search overlay and enter `2`
4. Append `2` to

[2020-02-19 17:49] billharbert commented on #3224
This is awesome!  I had the same question--two seconds reading this thread and issue fully solved.  Who doesn't want training and validation loss curves in Excel?  Someone has to support MS eh?  Thank you!

[2020-02-19 22:38] isabela-pf commented on #7039
@dhirschfeld You are absolutely right! I made the mistake of choosing example commands that do not have default configured shortcuts (so the space is empty), but I will make sure to include ones with shortcuts on the next mockup. Thank you for pointing that out.

[2020-02-19 23:07] isabela-pf commented on #7039
Hi from Jupyter Cal Poly @javag97 ! It's great to hear from you. And you are correct, what I looked at for comparable designs included the macOS spotlight search. In response to your questions

1. Yes, keyboard shortcuts will be shown when applicable. I chose poor example commands for this.
1. How users get here is something I am still flexible on, but I do think it could be opened the same way th

[2020-02-19 23:31] mlucool commented on #7670
Is there a way to extend this (likely in a second PR) so that all `img` tags by default use their native context menu. This is because copy/pasting an image from lab->elsewhere is very common and today's setup makes this harder.

Example:
[code]

On this image, I'd like to copy the image so it can paste into something like slack. If I drag+highlight then ctrl+c, it does not copy in a way that make

[2020-02-20 01:32] isabela-pf commented on #7039
Here's an updated mockup based on the current feedback:

![cp2](https://user-images.githubusercontent.com/50221806/74892176-b8fe3780-533d-11ea-87df-10af3106819f.png)

[2020-02-20 05:00] saulshanabrook commented on #7670
@mlucool I thought we did something a while back about making images use the native context menus... I'll try to find the old issue or reproduce this.

[2020-02-20 10:03] ggbhat opened #7900 "Open in new browser tab is broken(File browser menu option)"
## Description
Open in new browser tab option in file browser context menu is not working as expected

## Reproduce

- Right click on file to open context menu
- click open in new browser tab option

## Expected behavior
Selected file should open in new browser tab

## Context

- Operating System and version:
- Browser and version:
- JupyterLab version: 1 and 2

<details><summary>Troubleshoot Outp

[2020-02-20 12:57] mlucool commented on #7670
I did not check with `2.x` so maybe it is fixed. I am using `1.2.3`.

[2020-02-20 13:46] jasongrout commented on #7900
It seems to be working for me (the selected file does open in a new browser tab) with JLab 2.0 rc0. Can you describe exactly what it is doing that is not what you expected? Also, can you try going through the diagnostic guide https://jupyterlab.readthedocs.io/en/stable/getting_started/issue.html to test in a clean environment with no extensions, etc.?

[2020-02-20 14:42] jeff-sternberg commented on #7868
@qbitmultiverse I'm interested in helping out with this issue. Can you connect with me on [LinkedIn](https://www.linkedin.com/in/jeffsternberg/)? Thanks @timkpaine for the ping. ;-)

[2020-02-20 16:47] Hoeze opened #7901 "Output does not update after close and reopening Jupyterlab in the browser"
## Description
Output does not update after close and reopening Jupyterlab in the browser

## Reproduce
1. Open JupyterLab in the browser
2. Run long-running task, e.g. Keras training
3. Close and re-open the browser page

## Expected behavior
Output should be cached and should continue after re-opening the browser page.

## Context

- Operating System and version: Anaconda
- Browser and version:

[2020-02-20 21:00] asishm opened #7902 "Key presses not recognized"
1. Click inside a cell to edit the contents
2. Press Esc to go to out of the cell
3. Esc key press is not recognized. Cannot use any cell commands like ctrl + enter or Shift + enter or esc.
4. Manually clicking outside the cell and then using Shift+enter works. However up/down arrows aren't recognized to move up/down between cells.

## Context

- Operating System and version: Windows 10
- Browser

[2020-02-20 22:59] gautambak opened #7903 "api token on jupyterlab"
(crosspost from jupyeterlab's discourse page)

Hi There,

Not a bug per say, just have some trouble finding the information I need.

We have been using jupyterHub and are switching to jupyterLabs. Love it so far.

Previously, I’d go to the control panel and I could generate/see tokens there. How can I do this ins JupyterLabs? I’ve tried to search but it’s not clear to me how to get this info.

I’m

[2020-02-20 23:13] jasongrout commented on #7903
What is this control panel you mentioned? Is it part of JupyterHub?

[2020-02-20 23:31] gautambak commented on #7903
Yes. The control panel on jupyterHub has a option to get a token but I
can’t see a way to do it in jupyterLab.

On Thu, Feb 20, 2020 at 6:13 PM Jason Grout <notifications@github.com>
wrote:

--
Regards,

Gautam Bakshi

[2020-02-20 23:46] jasongrout commented on #7903
(disclaimer: I haven't used JupyterHub much at all)

So to be clear, you could go to the control panel like you always have, but you are asking if additionally you can see in the JupyterLab UX somewhere the token for the server for that JupyterLab instance?

[2020-02-21 00:00] jasongrout commented on #7884
Ah, thanks. So you still use escape codes to send messages from the command line program to the cocalc system, you just parse them on the server and send the message on a separate channel, rather than parsing on the client side. That makes a lot of sense - extract the information close to the generation (i.e., keep the messy escape code delimiter stuff as small a part of the system as you can), th

[2020-02-21 00:09] gautambak commented on #7903
no worries. Thanks for helping!

I'm saying if I want to get my token in jupyterHub, I go to control panel--> token to get my token.  Since moving to jupyterLab, I do not see a way to get/capture token.

[2020-02-21 00:34] jasongrout commented on #7903
I'm confused: JupyterLab is not a replacement for JupyterHub. JupyterHub lets you run classic notebook, JupyterLab, etc. I was thinking that you were using JupyterLab inside of JupyterHub (migrating from using the classic notebook in JupyterHub). Are you not running JupyterHub anymore?

JupyterLab doesn't have a control panel with the token. It prints out the token on the command line, just like t

[2020-02-21 01:14] rchiodo opened #7904 "Feature request: Jupyterlab services provide a way to retrieve stdout from a connection"
[We](https://github.com/Microsoft/vscode-python) use the jupyterlab services to connect to either jupyter notebook servers on the local machine or a remote machine.

In the local case we surface the stdout/stderr from the local process to VS code for the user to see.

We'd love to be able to do the same for the remote case. Sorry if this is already possible.

[2020-02-21 05:40] BlaneG opened #7905 "jupyterlab bqplot error "Error displaying widget" (same as the closed issue #6766)"
## Description

"Error displaying widget" returned using bqplot with jupyterlab
## Reproduce

I created a clean install with python 3.7 using the environment.yml in the voila repo plus installing jupyter lab and extensions for bqplot.  When trying to execute the bqplot.ipynb notebook found in the [voila repo](https://github.com/voila-dashboards/voila/tree/master/notebooks) from jupyter notebook th

[2020-02-21 09:27] vidartf commented on #7880
This sees like an issue with PyCharm, and unrelated to JupyterLab. Or am I missing something?

[2020-02-21 12:26] dhirschfeld commented on #7039
As to how users find out how to open the command palette, I still quite like the idea of a default background advertising important shortcuts - #5524

[2020-02-21 13:11] qbitmultiverse commented on #7868
Thanks all for your comments and kindly help on this. I made sure that the JupyterLab-demo  suggested by @jasongrout worked perfectly in my ipad and communicated that to Google Cloud Support team. They said that they're working with AI Platform Notebooks engineering team to look into this issue.

[2020-02-21 14:06] qbitmultiverse commented on #7868
I'm now able to open a JupyterLab in Google AI Platform from iPad after clearing cache of Chrome thanks to suggestions and help from Google cloud support team!

[2020-02-21 14:36] nscozzaro commented on #4316
+1 for making `onCellInserted` a subscribable signal here https://github.com/jupyterlab/jupyterlab/blob/b04758753313ef2602f1b6ad1a14043401d2d416/packages/notebook/src/widget.ts#L1445

[2020-02-21 15:32] jasongrout commented on #7905
Your browser messages indicate an iframe somewhere? Do you know what that might be about?

Can you give the exact instructions you used to set up your environment? We can try to reproduce it then.

[2020-02-21 15:41] jasongrout commented on #7880
Yes, I would recommend asking the PyCharm people about this. From the error messages, it seems that jupyterlab isn't installed or something? I'm not sure what jupyterlab has to do with running a file in pycharm.

[2020-02-21 15:41] #7880 closed

[2020-02-21 16:01] jasongrout commented on #7868
That's great! Thanks for following up here on that.

[2020-02-21 16:08] jasongrout commented on #4316
To be clear, `onCellInserted` is a function, not a signal, that is run when a cell is inserted at https://github.com/jupyterlab/jupyterlab/blob/b04758753313ef2602f1b6ad1a14043401d2d416/packages/notebook/src/widget.ts#L459

The two functions just above the _insertCell function show when it is called - when the model is changed, or when the model is updated.

[2020-02-21 20:11] santiagobasulto opened #7907 "Build failing because of ensure-max-old-space"
(I'm using Jupyter Lab 1.2.6)

I was just trying to install [nglview](https://github.com/arose/nglview) with their instructions:

[code]

but it fails given the ensure-max-old-space check (see the full log at the bottom of this issue).

I saw a few issues posted, and also the PR #7201  that was merged that seemed to resolve the issue by allowing the user to pass NODE_OPTIONS. But neither option is

[2020-02-21 20:23] jasongrout commented on #7907
Can you upgrade node? IIRC, the newest version of node automatically uses the space it needs.

[2020-02-21 20:29] santiagobasulto commented on #7907
Ah! I will give it a try right away, thanks.

[2020-02-22 01:08] gautambak commented on #7903
Thank you Jason. You are right and thanks for the info.

Yes, we are using jupyterlab within jupyterhub. Previously we were using the classic notebook and it has a button for control panel where I could access the tokens link and create a API token.

with jupyterLabs, compared to the classic notebook I cannot see a way of accessing the same token interface. Is there either a GUI or better yet a AP

[2020-02-22 02:23] jasongrout commented on #7903
Good question. I don't know if there is a button somewhere in jlab to access that control panel. @minrk, can you help?

You might ask the jupyterhub team too.

[2020-02-22 02:55] gautambak commented on #7903
Thanks Jason!

On Fri, Feb 21, 2020 at 9:23 PM Jason Grout <notifications@github.com>
wrote:

--
Regards,

Gautam Bakshi

[2020-02-22 03:11] ian-r-rose commented on #7903
@gautambak You should be able to access the hub control panel from the File menu: look for the "Hub Control Panel" item.

[2020-02-22 10:55] ChrisIdema commented on #7888
How do I see the server log?

[2020-02-22 12:13] AlbertHilb opened #7909 "CodeMirror file editor does not respect font size Settings value"
## Reproduce

1. Open Settings,
2. go to text editor section,
3. modify font size value,
4. save Settings,
5. the file editor font size does not change.

## Expected behavior

File editor font size should respect the new value in Settings.

Regards

[2020-02-22 14:02] santiagobasulto commented on #7907
Node version is 13.9, latest. Still failing 😔.

[2020-02-22 14:25] santiagobasulto commented on #7907
I've solved this by just not-minimizing the build, which I assume results in large js files (I haven't tested it yet). Is there anyway to either a) fix this issue? or b) minimize AFTER the build (maybe with some other external tool?)

[2020-02-22 14:42] minrk commented on #7903
Yup, as @ian-r-rose says, the link to the Hub control panel is in the File menu when you are using Lab.

[2020-02-22 15:10] santiagobasulto commented on #7907
I just made a quick test and minified `vendors~main.<hash>.js` "manually" (using uglify-js) and it worked, it reduced 30% of the total size. The vendors file is ES6, so I had to try the now unsupported [uglify-es](https://github.com/mishoo/UglifyJS2/tree/harmony), but I could try transpiling with babel and then applying UglifyJS3. Can you please tell me if the following logic makes sense:

[code]

[2020-02-22 23:58] BlaneG commented on #7905
I updated my Edge browser (Legacy to Chrome) and no longer have this issue.

[2020-02-22 23:58] #7905 closed

[2020-02-23 01:58] gautambak commented on #7903
Thanks so much - is there a way to get it via a API? Our app needs the token in order to enable the notebook to access various internal services. Right now we are asking our users to find it and enter it in, but ideally, we would prefer to pull it in ourselves. Is there a way to do this?

[2020-02-24 10:05] tibdex commented on #7393
I've look at other popular frontends and they do support it:

### Colaboratory

<img width="619" alt="Colab" src="https://user-images.githubusercontent.com/6574550/75143345-27a01400-56f5-11ea-9e12-8edc6bea4409.png">

You can see that they even linkify the input.

### nteract

<img width="790" alt="nteract" src="https://user-images.githubusercontent.com/6574550/75143376-35ee3000-56f5-11ea-89ea-8c82

[2020-02-24 16:43] telamonian commented on #7887
What you described was indeed the intended behavior (if no `LabIcon` existed matching `iconClass`, it was supposed to render a blank `div` with `class=iconClass`), but basically `UNSTABLE_getReact` had some problems (there was a reason I marked it `UNSTABLE`) and couldn't handle this situation correctly.

#7864 is now done, and it should make things much simpler. Every interface that has an `.icon

[2020-02-24 17:04] bhaskarnn9 commented on #7880
Yes.
I have indeed reported to PyChram team. It is being worked on, as of now. Can be tracked here : https://youtrack.jetbrains.com/issue/JBR-2163?p=PY-40620

[2020-02-24 17:38] santiagobasulto opened #7915 "Option --LabApp.override_static_url is not working on JupyterLab 1.2.6"
I've just upgraded to JupyterLab 1.2.6, I was working with 0.35 and this was working correctly. After updating, the `--LabApp.override_static_url` seems to have an incorrect behavior. The command I'm running is: `jupyter lab --LabApp.override_static_url='https://d397i2nmp1vg8j.cloudfront.net'`

The problem is that Jupyter Lab is prefixing the static URL with `http://localhost:8888/`, resulting in

[2020-02-24 17:58] #7909 closed

[2020-02-24 19:33] ikiw opened #7917 "Markdownviewer setOption doesn't use hypen-case for css selectors"
## Description

Similar to the issue #7909,  there are instances where css style setProperty is used with Camel Case. It may have to be replaced with hyphen-case. Suspecting the node returned is a DOM node HTMLElement. (http://phosphorjs.github.io/phosphor/api/widgets/classes/widget.html#node)

style.setProperty - https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleDeclaration/setProperty

ht

[2020-02-24 19:57] telamonian opened #7918 "Run test-services first in Linux/Windows JS CI tests"
While working on #7864 over the weekend, the Linux/Windows JS CI tests each had at least half a dozen spurious failures. Every single time the failure occurred during the run of the test-services package. The test-whatever packages are run in alphabetical order, so test-services isn't run until near the end of the tests, at around the ~30-35 min mark.

I think it would make the CI slightly less pa

[2020-02-24 19:59] meeseeksmachine commented on #7903
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/acessing-token-in-jupyterlabs/3380/2

[2020-02-24 20:42] thirdday commented on #7847
I had trouble with this particular package (others were fine) behind my company firewall/proxy.  Increasing the timeout didn't help.  At home with no proxy it worked fine though.

[2020-02-24 22:39] #7859 closed

[2020-02-24 23:34] kevinsneel opened #7921 "Can't load lab extensions at command nor in extension manager. suspect http proxy handling issue"
I work behind a corporate firewall. I am trying to add extensions to Jupyter Lab, but it doesn't seem capable of reaching the network.

If I try to add from the command line, I get:
Yarn configuration loaded.
Node v10.13.0

npm ERR! code E403
npm ERR! 403 registrynpmjsblockpage: @jupyter-widgets/jupyterlab-manager@latest

If I try to search for extensions from within lab, in the extensions manager

[2020-02-25 01:28] jasongrout opened #7922 "Flash of huge notebook icon on open"
## Description

JupyterLab 2.0.0rc2 flashes a huge Notebook icon when first opening in the launcher page, before it is immediately resized to a small icon on the launcher next to "Notebook"

## Reproduce

1. Install JupyterLab 2.0.0rc2
2. Open the page
3. Note the flash of a huge icon, which immediately scales down to be the Notebook icon in the launcher

## Expected behavior

No flash of a huge i

[2020-02-25 01:37] jasongrout commented on #7922
I think @telamonian mentioned at some point that the svg files like hhttps://github.com/jupyterlab/jupyterlab/blob/d3c1ffbcc85db1a85a8c3d733cd66438b302d812/packages/ui-components/style/icons/filetype/notebook.svg need a width and height specified, as in https://github.com/jupyterlab/jupyterlab/blob/d3c1ffbcc85db1a85a8c3d733cd66438b302d812/packages/ui-components/style/icons/filetype/folder.svg. Is

[2020-02-25 01:44] isabela-pf commented on #7039
@dhirschfeld I like that approach too, especially since I found multiple times users reported not finding the command palette or its shortcut when looking into issues associated with the command palette. I've seen #5524 before, and thought there had been more work done on it. I'll put it on my list to explore, though I will likely follow up on that issue when I get there.

[2020-02-25 02:25] jasongrout commented on #6934
Fixed by #7780?

[2020-02-25 02:25] #6934 closed

[2020-02-25 07:44] minrk commented on #7903
If you are in JupyterLab, you should have access to the current token as `PageConfig.getToken()`. You can can use this token to make requests to the Hub API to list/create new tokens at [`/hub/api/users/:name/tokens`](https://jupyterhub.readthedocs.io/en/stable/_static/rest-api/index.html#path--users--name--tokens) (GET lists, POST creates)

[2020-02-25 08:07] ggbhat commented on #7900
@jasongrout  I tested it in JLab 2.0 rc0, still having same issue.
![open-in-new-tab](https://user-images.githubusercontent.com/4777119/75226066-b8e4b880-57d1-11ea-9a17-381f9f265950.gif)

https://github.com/jupyterlab/jupyterlab/blob/d3c1ffbcc85db1a85a8c3d733cd66438b302d812/packages/docmanager-extension/src/index.ts#L461
[code]

In the above code it is referring to getDownloadUrl(). It is returnin

[2020-02-25 09:37] lucasfariaslf commented on #5863
What's the status on this?

[2020-02-25 09:47] jtpio commented on #7887
Thanks @telamonian.

Indeed it sounds like we can consolidate the documentation to make these cases more discoverable to extension developers.

[2020-02-25 10:01] stefansimik opened #7924 "Feature request: TOC for Python files"
## Description

When working with *.py files in jupyter notebook, orientation is not very comfortable,
especially in bigger  modules, containing many functions / classes / ...

It would be huge step forward in daily usability to add TOC (Table of content)
for *.py files, that could contain list of main elements in currently viewed file

* list of all functions and classes in order they are in file

[2020-02-25 10:04] stefansimik commented on #3920
Just curious, isn't the active directory folder already implemented as the left-most icon (grey folder) in the File Browser?

[2020-02-25 11:19] lresende commented on #7924
This is a duplicate of https://github.com/jupyterlab/jupyterlab-toc/issues/9. Please discuss any other details on the toc repository.

[2020-02-25 11:19] #7924 closed

[2020-02-25 13:05] gokceneraslan commented on #3920
What I meant by active workdir is `os.getcwd()` of the active python session.

[2020-02-25 13:14] afonit opened #7925 "Markdown Heading with MathJax not working consistently"
I am not sure this is intended to work - but though I would file the bug in case it should work.

JupyterLab 1.2.6
chrome 79.0.3945
windows 10

## Description
When using MathJax in Header Markdown, there is some odd behavior, sometimes it gets rendered in a light gray, other times it is the same color of the reset of the header, sometimes exponents are rendered properly - other times not.

## Repr

[2020-02-25 13:18] AlbertHilb commented on #7917
I can confirm, this is a bug.

[2020-02-25 13:35] vidartf commented on #7888
The server log would be anything output from starting the jupyter lab server (i.e. the output from running `jupyter lab` in a terminal).

[2020-02-25 13:46] asd1054 commented on #7095
I can‘t find this file in .jupyter/ ,,do I find somewhere wrong?

[2020-02-25 14:15] asd1054 commented on #7872
do u have fixed it?
could u give me some commands?
I can't repair it .

[2020-02-25 15:29] vidartf commented on #7890
Given that the exception is in the content manager (`/notebook/services/contents/filemanager.py` in trace), I think this issue might be better posted on the jupyter/notebook repo.

[2020-02-25 17:17] jasongrout commented on #7869
Fixed for me in 2.0.0rc2:
<img width="427" alt="Screen Shot 2020-02-25 at 9 17 14 AM" src="https://user-images.githubusercontent.com/192614/75270603-ace7ff00-57af-11ea-8526-cf40a9329334.png">

[2020-02-25 17:17] #7869 closed

[2020-02-25 21:32] santiagobasulto commented on #7915
I'm further researching this issue, and I've just found that somewhere, when building `page_config`, a forward slash is being prepended to the variable `fullStaticUrl`. This is what my `page_config` looks like:

[code]

[2020-02-26 07:35] telamonian commented on #7922
I've been playing around with this. The FOUC (flash of unstyled content) seems to be an issue specific to Firefox and inline svg rendered using React.

#7931 gives all the icons a default inline width/height (24x24 for most of them). There's still a FOUC when you reload the launcher, but since it's a small decrease in icon size rather than a large increase, it's much less noticable

[2020-02-26 10:57] nibheis commented on #7081
Hi there,

We are experiencing this too when the network gets pretty busy with more than 100 users on our hub. Refreshing the page is the quickest way to recover the on going work (and this indicates that server, kernel etc. are still running).

If I reproduce this by actually dropping my connection, it take less than 3 seconds to get the pop-up message. Is there a timeout value that can be config

[2020-02-26 14:28] afruehstueck opened #7932 "Select search expression on Ctrl+F"
In virtually every IDE, if you hit `Ctrl+F`, the search field opens with the previous content selected, such that when you `Ctrl+F` and start typing, you can directly input a new search expression.

In contrast, in Jupyterlab, the content will not be selected, which leads to a frustrating user experience.

## Reproduce
Here's a minimal demonstration of the behavior:
![jupyterlab](https://user-imag

[2020-02-26 14:52] jasongrout commented on #7932
Excellent idea, thanks for opening an issue.

Here is where, for example, the find is opened and focused: https://github.com/jupyterlab/jupyterlab/blob/ac4668cd5dc8288757477e4c1718a7f309851882/packages/documentsearch-extension/src/index.ts#L130

Perhaps this "focusInput" method can be changed to select the text? https://github.com/jupyterlab/jupyterlab/blob/ac4668cd5dc8288757477e4c1718a7f309851882

[2020-02-26 15:22] echarles opened #7933 "[DISCUSS] Black/White Listing for Extensions"
This issue intent is to collect requirements on the following initial proposal for a `black/white listing for extensions`.

# Problem

We want to bring more `Safety` to the JupyterLab users when they install and use [extensions](https://jupyterlab.readthedocs.io/en/stable/user/extensions.html).

# Goals

- Users should have ways to easily identify and block extensions considered as malicious.
- Us

[2020-02-26 16:17] meeseeksmachine commented on #7933
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/security-of-jupyterlab-extension-manager/3444/1

[2020-02-26 16:18] blink1073 commented on #7933
I think the whitelist and the blacklist should allow for regex patterns.  This would allow one to whitelist all `@jupyterlab/*` packages for example.

[2020-02-26 16:20] ArcticSnow commented on #6124
To add to this feature, could be the ability to launch jupyter lab directly into a workspace of choice whithout having to retype/complement the URL manually. Something along the line of:

[code]

[2020-02-26 16:27] saulshanabrook commented on #7933
Thanks for opening this @echarles! A few thoughts off the top of my head:

1. We should be clear that this only affects the extension manager UI, not the CLI, which would still be able to install whatever it likes.
2. Not sure if we need UI for whitelist/blacklist enabling. I thought the idea was that this would be set up more like for a whole enterprise or deployment, so would be present maybe in

[2020-02-26 16:30] echarles commented on #7933
Makes sense. We can support this whatever format (JSON...) we use.

[2020-02-26 16:38] Beaker034 opened #7935 ""Restart kernel, re-run whole notebook"-button missing"
Hi all,
I would love to switch from Jupyter Notebook to JupyterLab, but I really miss the "Restart kernel, re-run whole notebook"-button.
![Unbenannt](https://user-images.githubusercontent.com/44819139/75366190-a5fbe200-58be-11ea-88d8-07956d3fcf42.PNG)

Are there any plans to add it in a future version?

[2020-02-26 16:40] echarles commented on #7933
True, only UI in in scope. This implies that the safety could be skipped by power-user having access to the jlab env via CLI. The hosted users on Hubs (jupyerhub, binderhub...) would not have the ability to skip it.

We can implement the setting without exposing the toggle in the UI, that is not an issue.

The content of the modal still needs to be narrowed down. Is it simply a shout to the user t

[2020-02-26 16:41] saulshanabrook commented on #7933
We might also want to link users to the public blacklist location (if they are using the default) and say something like "Did you find an unsafe extension? Adda  PR to this list!"

[2020-02-26 16:48] jasongrout commented on #7935
There is a menu option to do this in the Kernel menu. That button must have been added to the notebook recently - we were pretty faithful about duplicating the notebook toolbar when we were writing JupyterLab.

Given that the command exists, it would be pretty easy to add to the toolbar as a CommandButton. A good first issue, perhaps?

Also, in JLab 2.0, there is a new "restart and run to current

[2020-02-26 16:50] jasongrout commented on #7935
Actually, it's there and it's *also* in the Run menu.

[2020-02-26 17:54] lotomb commented on #6330
I was looking for this. A long time ago, I worked with "The sage Notebook", where you can merge a cell with the one above it using Ctrl+Backspace inside the cell. So I find myself hitting Ctrl+Backspace to no avail.
(I seem to remember that it only worked when the cursor is at position 0 in the cell, which would make sense to me.)

[2020-02-26 19:26] jasongrout commented on #6330
Good memories! I remember using that quite a bit as well.

[2020-02-26 19:29] jasongrout commented on #6330
I think it would be great to have a command for merging above/below, and a keyboard shortcut like you mention for specific cases.

Here's a related PR that deletes an empty cell with Backspace: https://github.com/jupyterlab/jupyterlab/pull/7834

[2020-02-26 19:30] jasongrout commented on #6330
I'll mention an argument for having a nice keyboard shortcut for this is that you don't have to exit edit mode in order to merge - you can stay focused in edit mode (like illustrated in the two examples above).

[2020-02-26 19:34] jasongrout commented on #6330
Setting as a good first issue. The Merge code is at https://github.com/jupyterlab/jupyterlab/blob/30aef10f21707c0ec74ee6acc487a6c0948ca821/packages/notebook/src/actions.tsx#L185, and exposed as a command https://github.com/jupyterlab/jupyterlab/blob/30aef10f21707c0ec74ee6acc487a6c0948ca821/packages/notebook-extension/src/index.ts#L1443-L1453

Setting as a good first issue - first I think would be

[2020-02-26 20:30] minrk commented on #7933
What does the blacklist accomplish? How are greylist packages discoverable? I'm not sure what's accomplished by maintaining the blacklist compared to its absence.

pip doesn't have a package blacklist, nor does npm (the installer). But both PyPI and npmjs.com (the host) have been known to accept takedown requests when malicious packages are found. Would the blacklist use case be handled well enoug

[2020-02-26 20:52] jasongrout commented on #7933
Possibly. Maintaining our own blacklist that we control allows us to not depend on a third-party to honor our takedown requests, even if we are relying on them for hosting.

[2020-02-26 20:55] jasongrout commented on #7933
One nice thing about building in blacklist/whitelist support is that custom institutional deployments of JupyterLab can use these to customize what packages show up in the extension manager.

[2020-02-26 21:06] saulshanabrook commented on #7933
Hm, yeah it makes me think maybe we shouldn't add all this complicated logic until it's actually been shown we need it.

The institutional case is separate I think and would be nice to support, but doesn't seem like a dealbreaker for getting the extension manager UI enabled by default? Like maybe we wait until an institution is actually rolling this out and build the requirements around some more

[2020-02-26 21:16] jasongrout commented on #7933
True, good point. At least we can design the architecture at this point so that adding blacklist/whitelist support in the future is easier.

[2020-02-26 22:22] #7922 closed

[2020-02-26 22:27] markellekelly commented on #7738
Hi Sergio, I was able to switch the default mode for opening markdown files by adding  ```"defaultViewers": {
          "markdown": "Markdown Preview"
}``` to the Document Manager section of the Advanced Settings Editor. Would something like this be an acceptable solution or are you hoping for a more explicit menu item?

Additionally, it seems you can right click in markdown editor to open preview

[2020-02-26 22:30] jasongrout commented on #7933
I think for me personally, the biggest blocker is that there is some sort of warning to the user like what we show now in a modal when it is enabled. Perhaps that warning can be in the extension manager sidebar itself, though, and perhaps it can be modal inside that sidebar (i.e., the extension manager does not show any content until the user acknowledges the warning), or perhaps it could just be

[2020-02-26 22:33] jasongrout commented on #7230
I updated the todo items in the OP.

[2020-02-26 22:49] ajbozarth opened #7939 "Update jupyterlab's lint setup"
As discussed in a recent weekly dev meeting, the latest ESLint now supports a typescript plugin which would make tslint no longer necessary. the ipywidgets repo recently updated it's lint configs to the new version and can be used as a guide on updating the lab lint configs and version.

[2020-02-26 22:50] ajbozarth commented on #7939
Making this issue to make note that I am working on this in my spare moments. The above description probably needs a bit of fleshing out and clarification still.

[2020-02-27 01:05] SlowMonk opened #7941 "searching jump issue"
is anyone has the same problem?
When I search something

![Screenshot from 2020-02-27 10-03-23](https://user-images.githubusercontent.com/33189954/75402538-6c6fb900-5948-11ea-9665-f4d6761c5fd7.png)

this letter is still remain on the search box.
and when I create the new cell with  ctrl + a.
it just jump to the searched cell.

[2020-02-27 01:10] jasongrout commented on #7941
Can you try with the new JupyterLab 2.0 RC? You can install it in a fresh environment with `pip install --pre jupyterlab`

[2020-02-27 01:11] jasongrout commented on #7941
(Or you can wait a few days for JupyterLab 2.0 to be released. I *think* the problem here might be fixed in it...)

[2020-02-27 01:39] SlowMonk commented on #7941
im using 1.2.6. u also has the same problem?

[2020-02-27 03:28] jasongrout commented on #7941
It works for me in the upcoming 2.0

[2020-02-27 03:38] SlowMonk commented on #7941
how to install jupyter lab 2.0 with pip?

[2020-02-27 04:57] SlowMonk commented on #7941
I have a  one more question. if I search the word with ctrl+F.
usually the chrome browser automatically reselect the previous searched word.
but jupyter notebook does not? this is not still fixed in 2.0 right?
how should I submit this request for later version?

[2020-02-27 05:44] jasongrout commented on #7941
This was submitted as an issue earlier today: https://github.com/jupyterlab/jupyterlab/issues/7932

[2020-02-27 06:48] echarles commented on #7933
The blacklist is just a list of extensions considered malicious. The list can be updated with a PR or a user reporting suspicious extension. The extension manager then has a easy job to consult the blacklist and interact with the user to inform him that he should install a black-listed extension. If you do not have that blacklist, you can not warn the user against potential risks.

I introduced th

[2020-02-27 06:52] echarles commented on #7933
I have that mixed feeling about the modal vs the content and messages in the sidebar itself. Has JupyterLab already run user tests with mock screens to get feedback and choose the best UI?

[2020-02-27 06:56] echarles commented on #7933
We have discussed at yesterday meeting the amount of HTTP requests and load time and said this should be an attention point. With this proposal, we will create additional HTTP requests to get the listings. We have not discussed yet about that, but we could enforce at the startup the consultation of the blacklist and if an installed extension sits in the blacklist, inform the user he runs a risk. T

[2020-02-27 07:06] jasongrout commented on #7933
Not that I am aware of.

[2020-02-27 07:40] sperezconesa commented on #7738
Awesome! Thanks a lot. It's true that extra menu item is needed.
Keep up the good work!

[2020-02-27 09:59] Linusnie commented on #5897
Wouldn't it be possible to add back the option to click the "sidebar" (highlighted in the picture) to enable/disable the scrolling in the same way that it was working in Notebooks? Clicking the blue bar could still hide the output completely without a change. This way both options are there

This is the main issue keeping me from moving completely to jupyterlab at the moment

![Screenshot from 202

[2020-02-27 19:43] ForceConstant opened #7943 "Just get blank screen when starting/logging into JupyterLab."
## Description

I had an older version running .36.*, and upgraded to 1.2.6, and now I can't connect to it. I get the login prompt, but after that I just get the following errors in the log:  404 /vendors-main.*.js, and 404 /main.*.js  .

I followed the issue https://github.com/jupyterlab/jupyterlab/issues/6858 and tried uninstalling using pip, and reinstalling, but to no avail.

- Operating Syste

[2020-02-27 19:55] jasongrout commented on #7943
It sounds like there are some problems with your installation if it can't find the javascript files. I would first try an installation in a completely clean environment.

[2020-02-27 23:12] jeffyjefflabs commented on #7861
The more I think about it, the more I think it should be changed in ipywidgets instead.  The widgets are relying on Lab's css so it makes sense for them to match the variable names defined here (but perhaps a takeaway is to make sure to rename things in both places in the future).  Plus Lab has multiple themes so you'd have to change all of them.  So I opened https://github.com/jupyter-widgets/ipy

[2020-02-28 00:22] tgeorgeux commented on #7933
There has been no user testing around the extension manager.

Summarizing what I got from reading through this issue so far:
- We're looking at creating a ```whitelist``` and a ```blacklist``` functionality for extensions.
    - We're not
- Institutions can use these to manage what extensions their users can or cannot install based on their own preference, this will require custom solutions, but w

[2020-02-28 02:07] SlowMonk commented on #7932
which version this issue going to be fixed?

[2020-02-28 02:08] SlowMonk opened #7944 "ctrl+F bug jupyerlab"
https://github.com/jupyterlab/jupyterlab/issues/7932
I also find this issue.
which version is going to fix this bug?

[2020-02-28 03:10] saulshanabrook commented on #5864
Hey @reem yeah this would be nice! Unfortunately the layout restoration system currently doesn't have a way to do this...

If anyone needs code to do this that uses a reload, you can [check this out](https://github.com/Quansight-Labs/jupyter-widgets-takeover/blob/71b1ccf4c1e004f2f40884494a7adc9ebf0a16e8/src/index.tsx#L56-L78)

It looks like this should be doable though. I might experiment with it.

[2020-02-28 03:12] cocoaaa commented on #7569
This is probably why the setting is called markdown**Cell**Config (with an emphasis on "Cell"), as it doesn't seem to control the rendered markdown.  Is there a way to change to rendered cell's fontsize?

[2020-02-28 03:31] telamonian commented on #7569
Currently, you can increase the font size of rendered markdown with a menu option:

Settings -> JupyterLab Theme -> Increase Content Font Size

There's a related setting in the Theme section of the Advanced Settings Editor.

Not the most intuitive setting, so I agree this deserves a rethink (along with the rest of our settings system). It may make sense to merge unrendered and rendered md font siz

[2020-02-28 04:46] c-l-nguyen commented on #5290
Ok I was able to solve this on my machine by resetting the PATH variable to be the default at the top of my .zshrc file before anything else touches PATH. That is, I have include two lines at the top:

[code]

After restarting Jupyter Lab, doing `which python` now gives me the correct python version instead of 2.7 like it was before. Shoutout to @sterlinm for your comment since I figured if the PA

[2020-02-28 05:19] SlowMonk opened #7946 "another issue with shutdown kernel and re use"
jupyter lab

when it shutdown kernel and when I just try to reuse the jupyter lab
it have to restart the kernel. but jupyer notebook just automatically restart the kernel when I shutdown
please apply this issue

[2020-02-28 06:26] jasongrout commented on #7932
It's an open issue for anyone who wants to submit a PR. Would you like to contribute this fix? We can help you get set up to do the development.

[2020-02-28 06:27] jasongrout commented on #7944
Let's keep the conversation on that other issue, to keep things consolidated. Thanks!

[2020-02-28 06:27] #7944 closed

[2020-02-28 06:28] saulshanabrook commented on #5864
It actually [isn't that bad](https://github.com/Quansight-Labs/jupyter-widgets-takeover/blob/42a53962759adba51ccc3f54af0c13c8315e043b/src/workspace.tsx#L46-L53) to load a layout it seems like dynamically. At least this works when I tried it. Might not work for all extensions, some might only take data from state db on init, so updating it won't help.

cc @ian-r-rose

[2020-02-28 06:33] jasongrout commented on #7946
I'm not sure exactly what seems to be wrong to you. It seems like you are describing a difference between JupyterLab and the classic notebook? Something to do with shutting down a kernel and it restarting, or something?

Can you follow the template for new issues to describe a precise set of steps so that we can reproduce what you are seeing, and tell us exactly what different thing you expect to

[2020-02-28 11:01] vidartf commented on #7933
Two points worth noting:
- For *large* institutions, there is often internal npm/pypi repositories.
- No matter what solution we end up using, we should take care not to do an external fetch before the user actively engages with the extension manager, to avoid having all clients "phone home".

[2020-02-28 11:34] SylvainCorlay opened #7948 "Feature request: means to show the kernel banner in the notebook interface"
I think that it would be useful for the kernel banner (which is part of the kernel info reply and always displayed in consoles) to be accessible from the notebook interface.

For example, we could have an info :information_source: icon by the kernel name in the upper right corner.

[2020-02-28 12:19] CptanPanic commented on #7943
So I made a fresh pipenv, and now don't get a blank page, but I get an error launching a kernel.

[code]

[code]

[2020-02-28 13:35] SylvainCorlay commented on #7948
The new button could trigger a new kernel info request, or we could store the result of the initial one in the context and retrieve it.

[2020-02-28 13:42] Severac commented on #4213
That would be very useful for me too !
Do you know of any workaround to be able to do this ?

[2020-02-28 15:26] jeffyjefflabs commented on #7861
Fixed on the ipywidgets side.

[2020-02-28 15:26] #7861 closed

[2020-02-28 15:30] jasongrout commented on #7948
`await kernel.info` for a kernel connection `kernel` gets the result of the initial info request.

[2020-02-28 17:29] saulshanabrook commented on #2031
You can remove all the chrome now if you want to access some private attributes:

https://github.com/Quansight-Labs/jupyter-widgets-takeover/blob/29cfdc286b5ecccc53c0af01ef888dad2dd21d07/src/workspace.tsx#L92-L95

We should make commands for each of these to hide/show.

[2020-02-28 21:10] afonit commented on #7925
I saw Jupyter Lab 2.0 was just released.
I have upgraded to it and the markdown now works as expected.

[2020-02-28 21:10] #7925 closed

[2020-02-29 00:25] heresadam opened #7952 "Quote behavior in fstrings"
## Description

Exactly the same as this resolved bug https://github.com/jupyterlab/jupyterlab/issues/5588 but it's not resolved for me.

## Reproduce

1. `variable = "String"`
2. `print(f"Here's a varible: {variable}")`  what you want to write
3. `print(f"Here's a variable: {variable}"")` what you get, and you need to delete the extra quotation mark.

## Expected behavior
1. `variable = "String"`

[2020-02-29 01:21] lewisl opened #7953 "terminal is always black"
## Description

The terminal is always black with black text.
It is impossible to change the theme.
The "use <terminal> theme" command only works to choose dark or inherit.
Text is always invisible.

## Reproduce

Just open a terminal and try to do anything to change the theme.

## Expected behavior

The text should be visible.  It should be possible to change the background color of the terminal.

[2020-02-29 13:41] umerhasan17 opened #7954 "Bug in lumino widgets"
## Description

I have been following along the random astronomy picture of the day tutorial and came across this problem when using the package @lumino/widgets instead of @phosphor/widgets. The rest of it is identical. Is it something I am doing wrong or is it a bug within this newly created package I gather? The problem is in line 26.

## Code for reproducing

[code]

## Expected behavior

Same

[2020-02-29 14:40] asteppke commented on #7952
For some more context, this can be reproduced in JupyterLab 1.2.6 and 2.0 as well. This can be reproduced with a shorter example as well. When typing

[code]
the autocomplete function will change this to
[code]

Furthermore in `print(f"test")` autocomplete works but in `print(f"test "")` with an extra space it does not.

[2020-02-29 14:55] jasongrout commented on #7954
We just released JupyterLab 2.0. Are you using the 2.0 version of the tutorial with the JupyterLab 2.0 release?

[2020-02-29 16:50] echarles commented on #7933
True and they can control what they put in there. However the user is often still able/allowed to install packages/extensions from the internet.

+1

[2020-02-29 18:29] cocoaaa opened #7955 "Autocomplete for Latex"
Hi, I'm curious to know if there is a way to use autocomplete for latex commands when I write in a Markdown cell in LaTeX environment (eg. inside $...$ or $$...$$).  In [this](https://blog.jupyter.org/a-diagram-editor-for-jupyterlab-a254121ff919) article (under the "Future" section), there is a mention of an idea to integrate ShareLaTex's autocomplete and reference search capability to JupyterLab.

[2020-03-01 02:48] bollwyvl opened #7956 "Should IRunningItem require LabIcon?"
It seems the `IRunningItem` demanding a concrete `LabIcon` is a bit of an impedance mismatch, and may make it less portable to alternate implementations, if that's the intent of there being a `ILabIcon` in the first place...

[2020-03-01 09:42] yuzhujiutian opened #7958 "python.exe crashes up to 50% using inspect in jupyterlab"
## Description

After jupyterlab uses the inspect module, the python.exe program crashes up to 50%.

Every time the kernel is restarted, python.exe crashes on the second run cell code.

## Reproduce

1. cell code
[code]

2. Select the Cell and Click on Triangular button 'Run the selected cells and advance'

3. Scroll down to 'output' (it's OK)
[code]

4. Repeat step 2

5. See error 'python.exe cra

[2020-03-01 20:14] umerhasan17 commented on #7954
I upgraded to 2.0 and it builds. Thanks @jasongrout

[2020-03-01 20:14] #7954 closed

[2020-03-01 21:47] andyhegedus opened #7959 "Toolbar Buttons are not visible"
## Toolbar Icons are not visible Safari
Similar to 3331 which was previously closed
The buttons still work.  If I wait for the tool tip to show up I can identify the button.

<img width="354" alt="missing toolbar buttons" src="https://user-images.githubusercontent.com/44418310/75634392-5cfba480-5bc2-11ea-836f-adb63c836196.png">

Open notebook or create a new one.

## Expected behavior

Previously

[2020-03-01 23:58] vidartf commented on #7958
What happens if you run this code from a normal Python REPL (e.g. run `python`, and run the code there). What about if you put the code (twice) in a .py script and run that?

[2020-03-02 01:08] gautambak commented on #7903
Thank you so much and sorry for the delay. It worked I can see who has tokens but I can't see the token itself. Is there a way to see the actual token of the users?

[2020-03-02 01:53] sterlinm commented on #5290
Explicitly setting the path in my .zhrc file fixed this for me as well, although I'd love to understand what's going on. It's possible I just missed it, but I wonder if this might be an area where if I figured out how some of this works a bit better it would be helpful for me to add some more details to the jupyter docs. I'm always afraid that the documentation already exists somewhere in the jupy

[2020-03-02 03:56] telamonian commented on #7959
Well, that's not right. Jupyterlab won't just change on it's own, though. Did you do anything to trigger a Jupyterlab build recently, such as installing a new extension?

When problems like this occur, it's almost always due to a mismatch between package versions in your jupyterlab build. If I had to guess, you installed an extension that somehow pulled `@jupyterlab/apputils@2.0.0` into your jupyt

[2020-03-02 06:16] yuzhujiutian commented on #7958
code line 26 27
pycharm, has some other program ( but it has nothing to do with issure #7958.)
![image](https://user-images.githubusercontent.com/386347/75649222-70c00d00-5c8d-11ea-9e37-976793f279fe.png)

Comment code line 26 27
pycharm, run 3 times OK.
![image](https://user-images.githubusercontent.com/386347/75649129-263e9080-5c8d-11ea-99cf-53a293fb4bda.png)

Comment code line 26 27
anaconda env

[2020-03-02 06:23] yuzhujiutian commented on #7958
and if i comment code line 10 11 12
jupyter lab, run 3 times OK, no problem, so i guess it's related to the use of inspect.

![image](https://user-images.githubusercontent.com/386347/75650520-0c9f4800-5c91-11ea-8889-aa3c33fc70a0.png)

![image](https://user-images.githubusercontent.com/386347/75650483-eed1e300-5c90-11ea-9526-01d5fadebbf8.png)

[2020-03-02 13:18] biphasic commented on #7006
this would be great!

[2020-03-02 14:19] andyhegedus commented on #7959
Hi,

I have NOT installed any extensions.  I have just switched over from Notebooks and had only used it for a day or two.  In that time I had started and used JupyterLab without issue about 10 times.  It then started up with the missing toolbar buttons.  What is odd is when I work with it as such on occasion the buttons with reappear for a while and then disappear again. I have not seen a pattern

[2020-03-02 14:27] vidartf commented on #7958
I'm not sure if you simply ran the script twice, or if the code is there twice in the script?

[2020-03-02 15:09] jtpio opened #7960 "Extra padding for the kernel selection button in the toolbar"
It looks like there is now some extra padding for the kernel selection button in the toolbar:

![image](https://user-images.githubusercontent.com/591645/75688639-21370c80-5ca0-11ea-9168-9c1ee7845865.png)

I guess it would make sense to not create the icon DOM element if neither `icon` nor `iconClass` is specified?

[2020-03-02 15:38] anirrudh commented on #7959
Hey @andyhegedus, I just checked this issue on safari 13.0.5, and JupyterLab version 2.0.0. This error does not occur. Then, I went ahead and installed the version you had (1.2.6) -- and tested it again. I would either attempt a reinstall or upgrade to the latest version. Maybe it is a Safari bug?

[2020-03-02 16:09] jgmeyerucsd commented on #3506
I accidentally fixed this in windows by going to the anaconda prompt and typing 'control+x'. I meant to type 'control+c' to kill the process but then the process started printing that is was saving the files and the '_xrsf missing from post' at the top of the notebooks disappeared...

[2020-03-02 16:22] aseedb commented on #2833
I am desperately waiting for this issue to be fixed. Please please fix it :-)

[2020-03-02 16:28] andyhegedus commented on #7959
Hi,

Updated to version 2.0.0
Restarted computer and clear caches in Safari. It seems to have gotten worse. Now all buttons are gone. Before I had buttons on the left hand side.

Regards,

Andy Hegedus

[2020-03-02 16:33] jasongrout commented on #7959
Does it work in other browsers? Are there any errors in the server logs or browser JavaScript console? There are no browser or jupyterlab extensions installed? Is this a fresh installation in a clean new environment?

[2020-03-02 16:44] mike-matera opened #7962 "Notebook links open in a new browser tab (and 404s) as of 2.0.0"
## Description

Starting with the 2.0.0 update markdown cells that contain links to other notebooks try to open the new notebook in a separate browser tab resulting in a 404. In previous versions the links created new JupyterLab tabs and worked properly.

## Reproduce

On a fresh install I created three notebooks "welcome.ipynb" has links to the two others in a markdown cell:

[code]

Clicking the

[2020-03-02 17:29] #7960 closed

[2020-03-02 21:37] marisaaquilina commented on #7891
Fixed in PR #7835.

[2020-03-02 21:51] andyhegedus commented on #7959
Java Script Log from Safari

[Log] Starting application in workspace: "/lab" (vendors~main.842eeaf450a183e1e755.js, line 2)
[Log] Starting WebSocket: ws://localhost:8888/api/kernels/25d1b9bc-7fa0-4c7a-8584-6f79754fba55 (vendors~main.842eeaf450a183e1e755.js, line 2)
[Log] lambda_select – "#ldavis_el661854853336242060520235-lambda" (ldavis.v1.0.0.js, line 155)
[Log] Starting WebSocket: ws://localhos

[2020-03-02 22:21] bsyouness opened #7963 "Status bar styling issue"
The status bar items (at the bottom of the window) get clipped when the window isn't wide enough to display them:
<img width="515" alt="Screen Shot 2020-03-02 at 2 18 19 PM" src="https://user-images.githubusercontent.com/2256598/75723330-eed1e300-5c90-11ea-813d-9a0d5244b079.png">

Note, this also happens when other elements appear in the status bar that don't fit within the width of the window (e.

[2020-03-02 22:58] dclong opened #7965 "Better error message for installing JupyterLab extensions"
## Description

I got the following error message when installing a JupyterLab extension. It was hard for me to figure out which JupyterLab extension had caused the issue since I was building a Docker image. It would be much clearer if the name of the JupyterLab extension is included in the error message.

![image](https://user-images.githubusercontent.com/824507/75725735-f6e05180-5c95-11ea-8d40-7

[2020-03-03 01:58] thongnnguyen opened #7966 "Terminal in jupyter lab not working after set up with Apache ReverseProxy"
I have my person domain [https://mydomain.com](url) (SSL by letsencrypt enabled), in Apache config, I have http redirected to https:

[code]

I have been enabling port forwarding on my router so I can access my jupyterlab workspace at [https://mydomain.com:8888/](url), now I don't want to port forward anymore, I want to be able to access my workspace at [https://mydomain.com/lab](url)

After many

[2020-03-03 02:02] andyhegedus commented on #7959
Hi,
Some new info.  The buttons show are gone, then reappear for a bit and then disappear again.

When I start up via Anaconda Navigator.  The buttons are not visible, thought still work and the tool tips show up.

	The Javaconsole output here:
[Log] Starting application in workspace: "/lab" (vendors~main.842eeaf450a183e1e755.js, line 2)
[Log] Starting WebSocket: ws://localhost:8888/api/kernels/25

[2020-03-03 04:28] tgeorgeux opened #7967 "Extension Installer disclaimer UI"
There's been a push lately to improve JupyterLab's Extension Installer so it can ship activated in JupyterLab. There's been some discussion surrounding whitelisting/blocking extensions in #7933 as well as how to communicate that installing extensions may be a risk to the user.

First a little background for the design.

## Who cares about the extension installer?
**New users** will have a less int

[2020-03-03 06:28] ian-r-rose opened #7968 "PDFs are missing an icon"
# Description

PDF files in the file browser no longer have an accompanying icon.
It was never very good in the first place (my fault, I'm afraid), but now it is missing all together.

## Reproduce

Navigate to a PDF file i the file browser.
![image](https://user-images.githubusercontent.com/5728311/75748641-d4215d80-5cd4-11ea-8287-713f406d0f02.png)

## Context

@telamonian it looks like the file

[2020-03-03 08:48] tarrade opened #7969 "installation of @jupyterlab/celltags@2.0.0 failed with error: ValueError: "@jupyterlab/celltags" is not a valid extension: : No `jupyterlab` key"
## Description

jupyter labextension install @jupyterlab/celltags --no-build --debug

is crashing with the following message:
[code]

## Reproduce

I am buidling a docker images in which Anaconda is installed and I am installing some jupyter lab extensions. Only celltag cannot be installed properly (over 10  jupyter lab extensions). The code is here:
https://github.com/tarrade/proj_custom_ai_platf

[2020-03-03 09:34] tarrade commented on #7969
Just to add that the previous stable tag 0.2.0 is working in the same setup:
`jupyter labextension install @jupyterlab/celltags@0.2.0 --no-build --debug`

[2020-03-03 09:52] wqh17101 opened #7970 "kernel is always reconnecting"
## Description

kernel is always reconnecting

## Reproduce

Hi there i start a jupyterlab by
jupyter-lab --ip 0.0.0.0 --port xxxx
and open the browser

start a python3 console
and i got
![image](https://user-images.githubusercontent.com/26429138/75763493-4cd8f600-5d77-11ea-9964-73e2f5e429e1.png)

here is the log
![image](https://user-images.githubusercontent.com/26429138/75763584-6b3ef180-5d77-11

[2020-03-03 11:42] jtpio commented on #7969
Would it be possible to upgrade to JupyterLab 2.0? (which includes the `@jupyterlab/celltags` extension)

[2020-03-03 13:05] marto1 opened #7971 "Authorization header wrong when making channels/terminals/websocket/monitoring requests"
## Description
Hi,

I'm trying to upgrade a Jupyterhub+Jupyterlab setup. The entire setup uses Kerberos for authentication and every request made has to be authenticated in that way. Currently used Jupyterlab version is 0.35.6 and I'm trying to get it to 1.2.1.

The issue is after the main request to Jupyterlab is made the subsequent websocket requests all fail with Unauthorized 401:

![problem](h

[2020-03-03 13:20] tarrade commented on #7969
Hi @jtpio, I updated  Jupyterlab to 2.0.0 and I have the same exact issue to install:
jupyter labextension install @jupyterlab/celltags --no-build --debug
 (plus all other extension crashing).

What you are saying is that this extension should be installed by default, right ? I don't see it installed by default:

[code]

[2020-03-03 13:37] jtpio commented on #7969
Yes it's part of JupyterLab 2.0 core, so no need to install it manually.

But the core extensions don't show up with the `jupyter labextension list` command.

Also since the 2.0 is quite recent all third-party extensions might not be compatible yet.

[2020-03-03 17:11] echarles opened #7972 "[DISCUSS] Ability to ask npmjs.com to unpublish extensions from 3rd parties"
This is a place to discuss a specific topic raised in https://github.com/jupyterlab/jupyterlab/issues/7933 related to an alternative option to white/black lists.

@minrk [has suggested](https://github.com/jupyterlab/jupyterlab/issues/7933#issuecomment-591627795) that we could ask npmjs to remove jupyterlab extensions published by third parties that would be considered as malicious.

I will report

[2020-03-03 17:18] echarles commented on #7933
Related issues:

- https://github.com/jupyterlab/jupyterlab/issues/7967
- https://github.com/jupyterlab/jupyterlab/issues/7972

[2020-03-03 17:31] echarles commented on #7967
Thx @tgeorgeux. Do I understand the options correctly:

1. 1-time warning on each install (or on install after a defined amount of time).
2. Always visible checkbox in the manager (if not checked, manager is disabled).
3. Modal window that is shown one time per session (and not shown anymore if the user clicks on "don't show again")

How exclusive are those options? I guess we do not want all thre

[2020-03-03 17:39] blink1073 commented on #7962
Hi @mike-matera, it looks like you had no running kernel in the welcome notebook.  The link resolver relies on a running kernel.  I verified this by running your scenario with and without a kernel running in the notebook.

[2020-03-03 17:45] jasongrout commented on #7962
@blink1073 - do you know if that is the same behavior in jlab 1.2? In other words, is this a regression, or is it something that we've had all along that we should look at fixing?

[2020-03-03 17:46] blink1073 commented on #7962
AFAIK that has always been the behavior.

[2020-03-03 18:20] santiagobasulto commented on #7915
I've been dealing with this for a few days and still can't find the root cause. I feel like I'm close, but can't see where the initial bar in `fullStaticUrl` is added. @jasongrout can you give me a hint of where the static code could produce it? I can try fixing the bug.

[2020-03-03 18:55] jasongrout commented on #7915
I would first check here to see if it has the leading slash when we first get it (i.e., if the notebook class is adding the leading slash): https://github.com/jupyterlab/jupyterlab/blob/1.2.x/jupyterlab/extension.py#L63

[2020-03-03 18:58] santiagobasulto commented on #7915
Thanks for the hint. I remember going through that code while debugging and I think the leading slash was NOT there. I'll double check.

[2020-03-03 19:32] jasongrout commented on #7915
It looks like the problem is here: https://github.com/jupyterlab/jupyterlab_server/blob/865a6b783118d545623f5304c3d741478c673dc8/jupyterlab_server/handlers.py#L88-L94

That prefixing should probably be conditioned on testing the urls with the `is_url` function at the top of the file?

[2020-03-03 19:35] jasongrout commented on #7915
i.e., something like:

[code]

[2020-03-03 19:45] santiagobasulto commented on #7915
Ah, it makes sense. I'm going to do a few quick tests once I get back home. I didn't see that in the code, thanks for the help. I was looking the error in the frontend portion.

[2020-03-03 20:11] mlucool opened #7973 "UX: Easier File Rename"
## Description

When a new notebook is created, it is named `UntitledXX.ipynb`. In the old Notebook UI, this could be changed with a single click. In the current UI you need to right click then choose rename. Given how common it is to want to rename a notebook, I suggest we make this easier.

Suggestion 1: Double click on the name in the tab should allow one to change the file name (i.e. execute `

[2020-03-03 20:45] jasongrout commented on #7915
Thanks for working on this! If that is the problem, the PR would be to https://github.com/jupyterlab/jupyterlab_server

[2020-03-03 20:52] jasongrout commented on #7973
+1 to making this much easier to rename.

[2020-03-03 21:25] santiagobasulto commented on #7915
THAT'S IT! Thanks so much @jasongrout. That was the problem and your solution fixes it.

What's the best way to submit the PR and retroactively fix it in JupyterLab 1.2.x? I see the requirement is `jupyterlab_server~=1.0.0`, but is there a release schedule or anything like that?

[2020-03-03 21:28] jasongrout commented on #7973
This is very similar to #4119 - should we consolidate the discussion there?

[2020-03-03 21:29] mlucool commented on #7973
Sure, I didn't see that when I searched issues. Sorry for the second issue.

[2020-03-03 21:29] #7973 closed

[2020-03-03 21:29] jasongrout commented on #7915
I think we just make a patch release of jupyterlab_server, which is used by both jlab 1 and jlab 2.

[2020-03-03 21:32] santiagobasulto commented on #7915
Alright, I'll submit a PR in a minute.

[2020-03-03 22:03] santiagobasulto commented on #7915
Fixed here: https://github.com/jupyterlab/jupyterlab_server/pull/81

[2020-03-03 22:03] #7915 closed

[2020-03-03 22:25] tgeorgeux commented on #7967
For option 3 I was thinking it would be a warning on each extension install, but once per server session is another interesting idea.

These are starting points, I think the final will some combination of these, just wanted to start on the extremes.

Yes, these are competing options at this point.

[2020-03-03 22:25] anirrudh commented on #7959
Hey @andyhegedus, you are starting the lab instance using Anaconda Navigator only, correct? What I mean to say is, you aren't using the terminal command to start an instance of the lab, right?

[2020-03-03 22:28] jasongrout commented on #7943
That also sounds like an installation issue. Can you give exactly what commands you are using to create the new environment so we can see what you are doing?

[2020-03-03 22:29] andyhegedus commented on #7959
Correct.

And also to be a bit more clear in my last post since the formatting got worked out.

I was running some code mostly doing some simple NLP with Spacy and Gensim.

When I ran this block of code.  The buttons REAPPEARED  while it was processing and then disappeared once complete.  for my data this took about 1 min so I had a chance to see the buttons show up again.

import pyLDAvis.gensim

[2020-03-03 22:31] jasongrout commented on #7230
Congratulations and thanks everyone!

[2020-03-03 22:31] #7230 closed

[2020-03-03 22:43] andyhegedus commented on #7959
Hi,

Did a quick text launching from terminal.

Same issue.  Buttons do not show up.

Regards,

Andy Hegedus
Founder
AGH Analytics, LLC

An Engineering Services Firm

Learn Fast

1561 Ralston Ave
Burlingame, CA 94010

andy.hegedus@aghanalytics.com
M 650.619.1365

[2020-03-03 22:48] anirrudh commented on #7959
Just debugging wise, can you also try creating a new conda environment, installing jupyterlab, and then starting it from the env? I'm just not able to reproduce it on my end :(. macOS 10.5.3 is the version you are running, correct?

[2020-03-03 22:49] andyhegedus commented on #7959
Mac 10.14.6 (Mojave)

Regards,

Andy Hegedus

[2020-03-03 23:01] andyhegedus commented on #7959
Created another environment within Anaconda Navigator. Loaded JupyterLab application version 1.2.6 which is the Anaconda package version.  It will not launch.

From within Anaconda Navigator but from my base environment I can launch JupyterLab version 2.0.
Regards,

Andy Hegedus

[2020-03-03 23:10] #7965 closed

[2020-03-03 23:25] mlucool opened #7980 "UX: Clearer Read Only Status"
# Description
Read only notebooks in lab do not have any indication that save is failing nor that they are read only.

In Notebook there are both indications:
![image](https://user-images.githubusercontent.com/1813603/75829267-bc50e480-5d7b-11ea-9052-4361855d456a.png)

The left tag comes when you try and save and the right icon is always visible on read only notebooks.

## Proposal:
We add these b

[2020-03-03 23:33] jasongrout commented on #7980
I thought the save toolbar button was grayed out, right? It's not as visible as the above indications, but it is something.

[2020-03-03 23:34] #7969 closed

[2020-03-03 23:37] mlucool commented on #7980
Yes, sorry - the save icon is grayed out. Can we move it back to the no save icon? Grayed out is less in your face so I missed it!

Similarly, I still think we should add feedback when a user hits ctrl-s and nothing happens.

[2020-03-03 23:39] jasongrout commented on #7980
I do think it would be great to have clearer readonly status, like you say.

[2020-03-03 23:45] mlucool commented on #7933
I'll also note there is often a strong desire to take the community standard and then apply a policy on top (whitelist internal products, blacklist ones that don't have the right licences).

[2020-03-04 00:04] aliasmrchips opened #7982 "Trigger mimerender extension from another extension"
I made a mimerender extension and I am able to trigger the extension by opening a file from the file browser. I can also trigger the extension in the output cell of a notebook by using `IPython.display({my_mimetype: data}, raw=True)`. I would like to do "the same thing" but using javascript (i.e., from within another extension). So, I would make the data object locally and then call something, tri

[2020-03-04 00:05] andyhegedus commented on #7959
I was able to create test environment within Anaconda Navigator.  Installed JupyterLab version 1.2.6 which is their distro.
Launched same issue.

Regards,

Andy Hegedus
Founder
AGH Analytics, LLC

An Engineering Services Firm

Learn Fast

1561 Ralston Ave
Burlingame, CA 94010

andy.hegedus@aghanalytics.com
M 650.619.1365

[2020-03-04 00:13] jasongrout commented on #7982
For reference: this question started in a [conversation on Gitter](https://gitter.im/jupyterlab/jupyterlab?at=5e5e97e2cb91b5224f0ab236) [[1](https://gitter.im/jupyterlab/jupyterlab?at=5e5ee0e9a157485cb470259b), [2](https://gitter.im/jupyterlab/jupyterlab?at=5e5ee3588e04426dd01e97d7)].

[2020-03-04 00:15] jasongrout commented on #7982
So in the end, you want two tabs, one with the foo rendering, and one with the bar rendering? Or do you want the bar rendering inside the foo tab?

[2020-03-04 00:17] aliasmrchips commented on #7982
Separate tabs. As if, I had opened two files with the file browser.

[2020-03-04 00:34] jasongrout commented on #7959
The common thing in all of these cases seems to be using Anaconda Navigator (and presumably using the Anaconda packages, which we don't have control over). Can you try reproducing this using the command line tools in a clean environment using the official Jupyter packages?

[code]
Alternatively, have you tried asking Anaconda?

[2020-03-04 00:37] jasongrout commented on #7982
So it sounds like the suggestions on gitter are appropriate:

Look at how the rendermime registry is used in JupyterLab:
https://github.com/jupyterlab/jupyterlab/blob/8dc587729e5f2b2fa6087e854f0f988c0232802e/packages/tooltip/src/widget.ts#L71-L80
https://github.com/jupyterlab/jupyterlab/blob/7fb018558f9c812e3e2a3355fb6ab7c1a30486d8/packages/inspector/src/handler.ts#L152-L160
https://github.com/jup

[2020-03-04 00:39] andyhegedus commented on #7959
Hi,

Just ran test creating environment from terminal per your instructions.

Same result: Buttons are invisible, though they still work.

Regards,

Andy Hegedus
Founder
AGH Analytics, LLC

An Engineering Services Firm

Learn Fast

1561 Ralston Ave
Burlingame, CA 94010

andy.hegedus@aghanalytics.com
M 650.619.1365

[2020-03-04 00:46] jasongrout commented on #7959
And for that environment, what is `conda list --explicit`?

[2020-03-04 00:49] andyhegedus commented on #7959
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/osx-64/ca-certificates-2019.11.28-hecc5488_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libcxx-9.0.1-1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libsodium-1.0.17-h01d97ff_0.tar.bz2
https://conda.anaconda.

[2020-03-04 00:54] edzkite commented on #7044
[Kite](https://kite.com) is building a JupyterLab extension. As a a completions provider, we’d like to put forth a concrete implementation plan for this API refactor proposal. We intend to take on the work of actually implementing this, in co-ordination with @krassowski.

### Architecture
![flow](https://user-images.githubusercontent.com/47993402/75833323-8dcc0d00-5d6d-11ea-8b02-9283c5c41dce.png)

[2020-03-04 00:59] edzkite opened #7983 "Proposal: JupyterLab Completer UI"
[Kite](https://kite.com) is building a JupyterLab extension. As part of the [Completer API refactor](https://github.com/jupyterlab/jupyterlab/issues/7044#issuecomment-594249225), we’d also like to enhance the completer UI.

Current JupyterLab UI:
<img width="251" alt="jupyter" src="https://user-images.githubusercontent.com/47993402/75834088-e13f5a80-5d6f-11ea-8c4a-5982c34a796b.png">
Prospective Ne

[2020-03-04 01:04] jasongrout commented on #7959
Okay, I have exactly the same environment. Icons in a new Jupyter notebook show up just fine for me in Safari 12.1.2 and Firefox 73.

In Safari, I right-click on the save button in the notebook toolbar (the first button), and click "inspect element", and get something that looks like this:

<img width="686" alt="Screen Shot 2020-03-03 at 5 03 06 PM" src="https://user-images.githubusercontent.com/1

[2020-03-04 01:08] jasongrout commented on #7963
Fixed in #7964

[2020-03-04 01:08] #7963 closed

[2020-03-04 01:11] andyhegedus commented on #7959
Here is what I get.

Also Interesting note:  When I start up the icons above the notebook list are visible UNTIL the the list is return and then they become invisible.  So they are there for a time.

Regards,

Andy Hegedus

[2020-03-04 01:26] jasongrout commented on #7959
Did you mean to attach a picture?

[2020-03-04 01:47] aliasmrchips commented on #7982
Ok, I think I get it now. For steps 3) and 4), I assume I would do something like in the tutorial?https://github.com/jupyterlab/jupyterlab/blob/master/docs/source/developer/extension_tutorial.rst

Is there an "app" instance I can access from within a mimerender extension?

[2020-03-04 01:52] andyhegedus commented on #7959
Email does keep pictures.

<img width="1233" alt="PastedGraphic-1" src="https://user-images.githubusercontent.com/44418310/75836770-c1ac3000-5d77-11ea-9a16-caa4c7e99fe9.png">

[2020-03-04 02:03] jasongrout commented on #7982
You are going to have to make a normal extension for this.

[2020-03-04 02:05] jasongrout commented on #7959
And that was inspecting an icon that was not showing?

[2020-03-04 02:15] aliasmrchips commented on #7982
What handles this (creating a new MainAreaWidget) normally? For example, when you open a file in the file browser? The FileBrowser extension or something else?

[2020-03-04 02:19] jasongrout commented on #7982
Whoever wants to create a widget. See the astronomy picture of the day tutorial in the docs, for example.

[2020-03-04 02:20] andyhegedus commented on #7959
Correct Icon was not showing.

Regards,

Andy Hegedus
Founder
AGH Analytics, LLC

An Engineering Services Firm

Learn Fast

1561 Ralston Ave
Burlingame, CA 94010

andy.hegedus@aghanalytics.com
M 650.619.1365

[2020-03-04 02:25] andyhegedus commented on #7959
With toolbar in image.  Notice the toolbar where the save icon would be has a box visible.

<img width="957" alt="Invisible button,png" src="https://user-images.githubusercontent.com/44418310/75838904-2073a880-5d7c-11ea-96de-fa2d060153e6.png">
Andy Hegedus

[2020-03-04 02:48] aliasmrchips commented on #7982
Ok, two more questions:

1. Is there an example of making a mimerender extension from a normal extension?
2. Is there an example of lumino signals/messaging?

[2020-03-04 03:47] saulshanabrook commented on #7982
@aliasmrchips

Here is an example of [adding a rendermime widget](https://github.com/Quansight/ibis-vega-transform/blob/a8e2cebf1313bc4b87e9450cbb1226a39afe0e37/src/index.ts#L53-L65) but that won't add the file handling part.

Tons!

Here is one I just made up

[code]

[2020-03-04 06:46] echarles commented on #7967
This turns out to the following:

1. One-time warning on each install (or on-install after a defined amount of time)
2. Always visible checkbox in the manager (if not checked, manager is disabled)
3. Modal warning window on each extension installation (with "don't show again" checkbox)
4. Modal warning window one time per session when activating the extension manager (with "don't show again" check

[2020-03-04 08:12] jtpio opened #7984 "CSV Viewer row and column header styling"
It looks like starting from 2.0 the CSV files render differently in the data grid:

JupyterLab 2.0 / master:

![image](https://user-images.githubusercontent.com/591645/75814736-8e2acf00-5d92-11ea-9c94-1d96a75db9e6.png)

JupyterLab 1.x:

![image](https://user-images.githubusercontent.com/591645/75814707-80754980-5d92-11ea-8e61-2e251845cb60.png)

Moreover the color of the header cells is not updated

[2020-03-04 12:07] ForceConstant commented on #7943
`
pipenv install jupyterlab

pipenv shell

jupyter lab
`

[2020-03-04 12:35] lober-io opened #7987 "Documentation 1.2.7 not available"
## Description

When switching from the documentation of version "stable" to "1.27"   the page is not loaded

![image](https://user-images.githubusercontent.com/9661453/75880091-ea3a3580-5e1c-11ea-8cfd-580bd58f6d50.png)

## Reproduce

1. Go to 'https://jupyterlab.readthedocs.io/en/stable/'
2. Click on 'v: stable'
3. Click in 'v1.2.7
4. See error 'SORRY  This page does not exist yet'

## Expected b

[2020-03-04 13:48] jasongrout commented on #7987
I turned in docs for 1.2.7, but building it failed several times with an out of memory error

[2020-03-04 16:02] #7984 closed

[2020-03-04 16:03] blink1073 commented on #7987
Yes, this is related to https://github.com/jupyterlab/jupyterlab/pull/7930.  I updated the 1.x branch, and the latest build is passing, but we'll need a new tagged release.

[2020-03-04 16:09] gautambak commented on #7903
Hi Everyone, sorry to be a pain but I just wanted to see if anyone has guidance on how we can approach this?  Our usecase, is that our users are talking to our systems(which have tokens) and jhub so we want to get the tokens so we can seamless authenticate the platforms with each other.   Hope that helps shed light into why we are asking this question.

[2020-03-04 16:11] jasongrout commented on #7987
I think the 1.x branch documentation probably works now, then?

[2020-03-04 16:12] blink1073 commented on #7987
It does, but not for the v1.2.7 tag, since that commit doesn't have the docs build fix.

[2020-03-04 16:12] jasongrout commented on #7987
Yep. For now I deleted the option for 1.2.7, so there is just `latest`, `stable`, and `1.x`

[2020-03-04 16:13] blink1073 commented on #7987
That seems like a fair path moving forward.

[2020-03-04 16:16] jasongrout commented on #7903
These questions may be more suited for JupyterHub - it sounds like we're getting out of the scope and expertise of JupyterLab developers.

[2020-03-04 16:28] jasongrout commented on #7987
Great. Closing as resolved, then.

[2020-03-04 16:28] #7987 closed

[2020-03-04 16:30] jasongrout opened #7988 "Update APOD extension tutorial narrative"
At least one place in the narrative at https://jupyterlab.readthedocs.io/en/latest/developer/extension_tutorial.html, we still say something like:

Someone should go through the narrative (and actually try it) to make sure it is up to date.

[2020-03-04 18:07] aliasmrchips commented on #7982
Trying the signaling example, I get this error:

<img width="450" alt="Screen Shot 2020-03-04 at 11 05 31 AM" src="https://user-images.githubusercontent.com/963429/75908873-2f07a180-5e08-11ea-91a7-4b80030192fa.png">

I have split the code between two extensions with the "emit" in one and the "slot" connect in the other. Any ideas?

[2020-03-04 18:37] MarsBarLee commented on #7967
I'm working with Tim, so here's my iteration on Tim's second blacklist idea.

**Visible checkbox in the manager (if not checked, manager is disabled). Once checked, disclaimer is collapsible.**
![JupyterLab-Extension-Manager-Disclaimer](https://user-images.githubusercontent.com/46167686/75911040-e60e1800-5e1c-11ea-9417-d35981205d8c.gif)

This way, the disclaimer isn't as jarring as a modal warning

[2020-03-04 19:22] silvioalvim commented on #7959
Same problem here. Jupyterlab started on the terminal, but in both browsers it shows a buttonless interface. The menu seems incomplete, there is no way to work. Installed today, using pip3, I do not use Anaconda, I was planning to start learning but I have already encountered this problem, so far without a solution. I tested on Safari and Chrome, emptied caches and it still didn't work.
Mac 10.13.

[2020-03-04 19:22] SandervandenOord commented on #3964
I experienced also 'Failed to Fetch'. This was caused by my filename containing two underscores: Pandas_Basics_Introduction.ipynb results in Failed to Fetch, but when I rename this to PandasBasicsIntroduction.ipynb it works again.

[2020-03-04 19:37] jasongrout commented on #7959
I'm sorry to hear you are also having a similar issue. Maybe with two people seeing this, we can narrow down what the issue might be.

@andyhegedus - in your screenshot, I notice some differences in my icon vs yours. For example, yours has height/width 24, whereas mine is 18. Also, mine has an extra initial `<path>` element in the SVG. So it seems that we are actually not running the same JupyterL

[2020-03-04 19:41] jasongrout commented on #7959
@andyhegedus - When I run JupyterLab 2.0, I get what looks like the same svg as what you posted in your screenshot. Was your screenshot actually JupyterLab 2.0? I thought it was from the jlab 1.2.6 environments we were comparing.

[2020-03-04 19:42] jasongrout commented on #7959
CC also @telamonian, who has worked a lot more on icons than I have.

[2020-03-04 19:43] andyhegedus commented on #7959
Mine issues are with version 2.0.0

Regards,

Andy Hegedus

[2020-03-04 19:45] jasongrout commented on #7959
Also, @andyhegedus - can you screenshot with only opening a single new blank notebook? I don't know if there is additional css in the notebooks you are opening that may affect things.

In the original issue and when we were comparing environments, jlab 1.2.6 was the relevant version. Does JupyterLab 1.2.6 work for you?

If we are talking about jlab 2.0, can you give the `conda list --explicit` for

[2020-03-04 19:54] silvioalvim commented on #7959
Nobody asked, but here's the screenshot of my Jupyterlab when it opens in Safari. I hope it helps us find some solution
![Captura de Tela 2020-03-04 às 16 48 18](https://user-images.githubusercontent.com/9044286/75917416-bbca5380-5e38-11ea-8955-da7a2cceef56.png)

[2020-03-04 20:18] telamonian commented on #7959
@jasongrout As far as I can tell, andy's save.svg is the one from the 2.0.0 release, whereas yours is the one from 2.0.0-rc1 or -rc2. Jason, are you sure you're running the 2.0.0 release? The icon name in your `data-icon` field also isn't namespaced (yours is "save" instead of "ui-components:save"), which also suggests that your `@jupyterlab/ui-components` is from one of the earlier RCs

[2020-03-04 20:22] jasongrout commented on #7959
My screenshot is from jlab 1.2.6, which is the version I thought we were discussing at the time.

[2020-03-04 20:23] jasongrout commented on #7959
@silvioalvim - does your browser javascript console show any errors? It looks like you have a different issue where no css is getting loaded.

[2020-03-04 20:29] telamonian commented on #7959
@andyhegedus @silvioalvim If I was in your shoes, the first thing I would try is to nuke and rebuild your lab app dir, then immediately launch a new instance of Jupyterlab:

[code]

This should fix any version conflicts between your `@jupyterlab` packages. If the problem still persists after the above, that will help us narrow down the issue considerably, since no external extensions will be prese

[2020-03-04 20:41] telamonian commented on #7959
@andyhegedus I'm sorry that you're having trouble. Your problem is particularly odd, since the HTML for the toolbar icon that you should be seeing is present and well-formed. The only thing I can think of is that there's a problem the icon's CSS styling.

[2020-03-04 21:09] silvioalvim commented on #7959
When I try to build (jupyter lab build), I got errors. Logged below. In my case, I can try a fresh install again, from scratch.
--------
[LabBuildApp] Building in /usr/local/share/jupyter/lab
[LabBuildApp] Node v8.11.4

[LabBuildApp] Yarn configuration loaded.
[LabBuildApp] Building jupyterlab assets (build:prod:minimize)
[LabBuildApp] > node /usr/local/lib/python3.7/site-packages/jupyterlab/stagi

[2020-03-04 21:10] andyhegedus commented on #7959
Hi,
Confirming I am using 2.0.0.
First I think this is an interesting effect.  In general I do not see the button icons.
HOWEVER! When I run a particular piece of code relative to genesis and LDA the icons reappear while the code is being processed. Notice the asterisk indicating the running cell.
<img width="883" alt="while running" src="https://user-images.githubusercontent.com/44418310/75923027

[2020-03-04 21:22] andyhegedus commented on #7959
OK,

Now I am hosed!
Per your instruction

jupyter lab clean --all
jupyter lab build
jupyter lab

I got an error on the jupyter lab build.
[LabBuildApp] JupyterLab 2.0.0
[LabBuildApp] Building in /Users/andreashegedus/anaconda3/share/jupyter/lab
Build failed.
Troubleshooting: If the build failed due to an out-of-memory error, you
may be able to fix it by disabling the `dev_build` and/or `minimize`

[2020-03-04 21:25] silvioalvim commented on #7959
I got same error on the jupyter lab build!!! The log file says error on "node" version
(The engine "node" is incompatible with this module. Expected version ">= 8.16.2". Got "8.11.4"
error Found incompatible module.)
and finally ends with the message ([LabBuildApp] RuntimeError: npm dependencies failed to install)

[2020-03-04 21:32] andyhegedus commented on #7959
What I just did is use Anaconda Navigator to uninstall Jupyter Lab.
Close Navigator
and then reinstall via
conda install -c conda-forge jupyterlab

Start via terminal with jupyter lab.

I get back but button icons are still gone.
I can also start via Anaconda Navigator.  Side Note Anaconda Navigator shows version 2.0.0 and has icon showing an update is available.  If you update it actually takes y

[2020-03-04 21:49] telamonian commented on #7959
@silvioalvim As the error message says, your version of node is too old. Can you upgrade to the latest version of node 8, or better yet node 12 or 13 (I'm currently using 13.8.0)? If you can't, you can at least get back to you initial jupyterlab install as so:

[code]

Also, it seems like your issue is completely different from that of @andyhegedus. It would be very helpful if you could start a ne

[2020-03-04 21:51] jasongrout commented on #7959
You should have node 12 or later for JupyterLab 2.0.

[2020-03-04 21:54] telamonian commented on #7968
I'm on it

[2020-03-04 22:28] telamonian commented on #7959
@andyhegedus Whelp, the good news is that I figured out how to reproduce the error that you're seeing:

- I ran one of the test notebooks from the pyLDAvis project: https://github.com/bmabey/pyLDAvis/blob/master/notebooks/Movie%20Reviews%2C%20AP%20News%2C%20and%20Jeopardy.ipynb

- As soon as I ran the visualization step (the third code cell), all of the icons in jlab broke:

<img width="1177" alt=

[2020-03-04 22:31] andyhegedus commented on #7959
Well,

I would say that proves that I am not crazy, except it doesn’t really prove that.

Question if you run it again do they should up while it is running that cell like my case?

Regards,

Andy Hegedus

[2020-03-04 22:32] telamonian commented on #7959
"inspect element" offers no easy answers, but it does seem that as soon as I delete the cell containing the visualization all of the icons magically reappear...

@andyhegedus Can you please try deleting any related visualization cells and see what happens?

[2020-03-04 22:33] jasongrout commented on #7959
This does look rather suspicious: https://github.com/bmabey/pyLDAvis/blob/a108b0c6458012e17d0d0f8a5b09015e17201982/pyLDAvis/js/ldavis.css#L5-L8

[2020-03-04 22:35] andyhegedus commented on #7959
I can confirm that if I cut cell with visualization the icons reappear.  and when I revert the notebook to last check point they are gone again.

Regards,

Andy Hegedus

[2020-03-04 22:35] jasongrout commented on #7959
It looks to me like pyLDAvis is very specifically coded for the classic notebook (i.e., it includes javascript and css that is very specific to the classic notebook frontend). It doesn't claim to support JupyterLab. Perhaps an issue can be opened there about supporting JupyterLab?

[2020-03-04 22:38] telamonian commented on #7959
Yep, that's exactly what it is. I just traced it back then saw your comment. Apparently, that stylesheet gets loaded so long as any pyLDAvis visualizations are present, and the offending lines:

[code]

render all of the `<path>` elements inside of svgs invisible

[2020-03-04 22:40] andyhegedus commented on #7959
also on the issues for pyLDAvis
https://github.com/bmabey/pyLDAvis/issues/121 <https://github.com/bmabey/pyLDAvis/issues/121>
There is another example showing the buttons are missing.

Regards,

Andy Hegedus

[2020-03-04 22:47] andyhegedus commented on #7959
I raised an issue on pyLDAvis.
Andy

[2020-03-04 22:48] jasongrout commented on #7959
Good find! Apparently I've investigated this before, which I totally forgot: https://github.com/bmabey/pyLDAvis/issues/121#issuecomment-387215639

[2020-03-04 22:49] jasongrout commented on #7959
Thanks. Closing this as resolved from our perspective then, and further conversation sounds like it should happen over there: https://github.com/bmabey/pyLDAvis/issues/162

[2020-03-04 22:49] #7959 closed

[2020-03-05 00:01] jasongrout commented on #7626
You might be able to reproduce this by doing this:

Create a cell:
[code]
This will start some timed output.

Open a new view of the output of this cell.

Open the log console from the View menu. Set the log level to Info

Notice that when the output view is active, the log console does not show output, but when the notebook is active, it does show output. This is because the log console automatic

[2020-03-05 00:05] jasongrout commented on #7626
Some thoughts:

The key there is that the log console doesn't know that the output view is associated with the notebook, so perhaps there should be a more general framework for switching sources for the output view. I think some thinking needs to go into the design of the log console automatic switching of sources. In other words, I can't think of an easy elegant ux fix for this issue, but my gues

[2020-03-05 00:07] jasongrout commented on #7626
I mean, if there was an easy way for the log console to guess that the output view belonged to that notebook filename, then this particular case of an output view would probably be easy. I don't know of a way for the log console to do that, though.

[2020-03-05 01:00] markellekelly commented on #7372
I'm willing to take this on, but think there is a nontrivial design question here. I'm hoping to avoid chaining two dialogs. Pinging @isabela-pf for thoughts.

[2020-03-05 01:48] isabela-pf commented on #7372
I agree that chaining dialogs would create several problems. Markelle and I came up with a few options on how the existing dialog could be adapted.

This is the option we think would be best. The dialog looks the same when all documents are saved, but when unsaved files are detected the dialog reflects more options. I recommend this because it still reflects the status of open documents without ha

[2020-03-05 03:22] droctothorpe opened #7990 "Incorrect cookiecutter checkout label in extension tutorial"
## Description

The [extension tutorial](https://github.com/jupyterlab/jupyterlab/blob/master/docs/source/developer/extension_tutorial.rst#initialize-the-project-from-a-cookiecutter) doesn't work because in the `cookiecutter` command `--checkout v2.0beta` is being passed instead of `--checkout v2.0`. The latter is compatible with JupyterLab 2.0; the former is not.

## Reproduce

Go to the the [ext

[2020-03-05 03:29] droctothorpe commented on #7990
[Link](https://github.com/jupyterlab/jupyterlab/pull/7991/files) to PR.

[2020-03-05 05:54] mike-matera commented on #7962
Ahoy! @blink1073 @jasongrout it is a regression.

I use Jupter Lab to teach my intro to Python class and the behavior changed after February 28th. I've since downgraded and the class and the behavior went back to what I expected. Also, even in the mainstream notebook opening a link to an ipynb opens in Jupyter. Further, the server should not 404 when a document exists.

[2020-03-05 06:28] jasongrout commented on #7962
I see this issue, with or without a kernel running, with JupyterLab 2.0. Here's what happens for me:

Create a markdown cell in welcome.ipynb with:

[code]
Render the markdown cell. Notice that the links are correct (i.e., something like `http://localhost:8889/files/local.ipynb?_xsrf=...`). The links do work correctly too, opening the file in JupyterLab.

Now save and close the welcome.ipynb file

[2020-03-05 08:38] nguyenmanh1507 opened #7992 "Duplicate parameter 'format' not allowed in function with default parameter values on Safari"
## Description

Function `format` in [@jupyterlab/coreutils](https://github.com/jupyterlab/jupyterlab/blob/master/packages/coreutils/src/time.ts#L32) cause error
```SyntaxError: Duplicate parameter 'format' not allowed in function with default parameter values.``` on Safari 13

## Reproduce

1. Create new react app `$ npx create-react-app sandbox`
2. Inside `sandbox` folder run
    * `$ npx -p @st

[2020-03-05 09:38] samarthiith commented on #7171
I have the same problem.

[2020-03-05 10:02] kiranik opened #7994 "Adding File search capability to jupyter lab file browser"
File search feature can be added to jupyter lab file browser. This option will search for all file names with the given search string in it. Result will be a popup/menu with all the files found(Or a **No file found menu** in case). User can click on any of these files to open it in jupyter lab. File browser location will change to the location of last opened file. User must be able to configure th

[2020-03-05 10:28] marto1 commented on #7971
I managed to solve it after many hours of debugging.

Commenting this line https://github.com/jupyterlab/jupyterlab/blob/master/jupyterlab/extension.py#L217 prevented Jupyterlab from passing token to the javascript part which made the requests use Kerberos authorization instead.

Giving it an empty value also appears to work.

This is pretty weird because I have set:
[code]

So I guess it's not ge

[2020-03-05 11:42] javicarron commented on #7171
I used to have this problem, but it got solved when I installed a new environment with a different theme. I am sorry I can not access it anymore to do any diagnostics, as I deleted it. Maybe this can be useful to someone anyway.

[2020-03-05 11:51] e-dorigatti opened #9544 "Enter debug on exception"
This extension is gold, thank you!

I would like to propose a new feature, namely to enter debug when an uncaught exception occurs. This would allow the user to directly investigate the crime scene, check variables, and so on. It would really help development, especially when long-running computations are involved.

This would work just like when you run a script through `python -m ipdb -c c scrip

[2020-03-05 13:38] marto1 commented on #7971
I've also traced the handoff of JUPYTERHUB_API_TOKEN down to the extension.py. There doesn't seem to be a way to override the generated token.

[2020-03-05 17:17] jasongrout commented on #7962
Perhaps what is happening is that the session connection the resolver is trying to use is not available when the markdown cells are initially rendered, but does come up quickly enough that it is available when the markdown cells are later modified and rerendered?

[2020-03-05 20:44] blink1073 opened #7996 "Allow custom session startup behavior for widgets"
We currently offer some declarative kernel preferences on the widget factories that are used to define the behavior of kernel startup.  I propose that we add an option to provide a callback function, so that the widget factory has full control over the startup behavior, and can take into account external factors such as the result of an API call or information in the document itself.

Additionally

[2020-03-05 20:55] #7992 closed

[2020-03-05 21:07] #7988 closed

[2020-03-05 22:10] jasongrout commented on #7996
Makes sense to me.

[2020-03-05 22:10] jasongrout commented on #7962
Update: I identified the issue and am working on a fix.

[2020-03-06 00:46] joequant opened #7998 "jupyterlab-hub executable needs to be removed in 2.0.0"
## Description

jupyterlab-hub executable still is in 2.0.0 even though the library module has been removed

## Reproduce

install jupyterlab, the executable jupyterlab-hub still exists even though it throws an error if run

## Expected behavior

Executable should be removed

## Context

- Operating System and version: linux
- Browser and version:
- JupyterLab version: 2.0.0

[2020-03-06 01:27] #7962 closed

[2020-03-06 01:35] jasongrout commented on #7998
Tagging as 2.0 for a patch release. Thanks for bringing this to our attention.

[2020-03-06 01:38] #7968 closed

[2020-03-06 02:00] #7998 closed

[2020-03-06 02:40] drhades opened #8002 "some doubt about button click"
Here is my code in JupyterLab:
<img width="515" alt="截屏2020-03-0610 23 21" src="https://user-images.githubusercontent.com/82670/76044322-f517d600-5f94-11ea-9e57-74c09bb51751.png">

My doubt is, after button"ttt" is click, why:
1. button"prompt", no rich-rendered in cell output area, just text-rendered in log console twice as warn and info
it irch-rendered in Notebook

2. logging, no display in log

[2020-03-06 06:28] mike-matera commented on #7962
Awesome! Thanks. Jupyter lab is incredible. Thank you so much for the work you do.

[2020-03-06 08:35] jasongrout commented on #7962
This is now fixed in the just-released jupyterlab 2.0.1. It's available on pypi, and should be available on conda-forge soon.

[2020-03-06 10:28] timb82 commented on #7432
Any solution so far?
I'm stuck on exactly same problem. Errors in logs are consistent with what was posted above. The only difference is that I'm on Windows 10

[2020-03-06 14:24] maresb opened #8005 "Feature request: notebook:launch-temporary-notebook"
I am looking for a replacement for [Scratchpad](https://github.com/minrk/nbextension-scratchpad) functionality.  This is a follow-up to #3453, which was implemented by @BoPeng as the command `notebook:run-in-console` in #4330.

I am having a few problems with the current implementation, namely

1. I would like to interact with widgets, e.g. Plotly FigureWidgets, but they don't seem to work in the

[2020-03-06 15:17] sbowman-mitre commented on #7432
For me, the answer is: not really. Since I originally posted this, I've switched to a new mac computer. So, no possibly conflicts still sitting around since then. I decided to try this again since @timb82 was asking. My steps above were a little unclear, so I'll show my steps again here:
* `conda create --name jupyterlab_test python=3.8`
* `conda activate juptyerlab_test`
* `conda info` gives this

[2020-03-06 15:24] jasongrout commented on #7432
Can you post your log file again? The commands you issued should all work, so it seems like you may be having problems pulling down the npm package.

[2020-03-06 15:25] jasongrout commented on #7432
You could also try pulling down that package manually with `npm pack @jupyter-widgets/base@^3`, just to see if you can get it from npm.

[2020-03-06 15:28] sbowman-mitre commented on #7432
@jasongrout : full error log from my attempt today.
[jupyterlab-debug-error.log](https://github.com/jupyterlab/jupyterlab/files/4299038/jupyterlab-debug-error.log)

Resulted in:
npm notice
npm notice 📦  @jupyter-widgets/base@3.0.0
npm notice === Tarball Contents ===
npm notice 1.5kB  LICENSE
npm notice 467B   css/index.css
npm notice 4.8kB  lib/backbone-patch.js
npm notice 367B   lib/index.js
npm

[2020-03-06 15:40] jasongrout commented on #7432
Okay, that appeared to work. Can you try installing again, with the steps you listed above, in a clean environment? I was also having problems with npm last night, where it couldn't find a package until I manually pulled it down with npm pack. After I pulled it down, it suddenly could find it.

[2020-03-06 15:45] mgbvox opened #8006 "Jupyter Lab UI Icons Not Showing on Launch"
Description:
Icons for much of the JupyterLab UI don't show on launch:
<img width="955" alt="jlab" src="https://user-images.githubusercontent.com/26420601/76097633-09a89e00-5f96-11ea-9ca4-000f20a9c139.png">

Reproduction:
Launch JupyterLab. Open notebook. Cry.

Expected behavior:
The presence of icons.

Context:
This happened rather suddenly in the middle of a weeklong workflow. I just started a P

[2020-03-06 15:50] jasongrout commented on #8006
Can you try JupyterLab 1.2.7 (or even the newly released JupyterLab 2.0) in a clean environment?

[2020-03-06 16:50] jasongrout commented on #8002
The missing principle here is that the JupyterLab logconsole has nothing to do in and of itself with the python logging module. The JLab log console is for JupyterLab messages to the user. By default, all output from the kernel is logged to the jlab log console under the info level. Additionally, ipywidgets logs all output from things like button clicks, which normally is not displayed in the note

[2020-03-06 16:51] jasongrout commented on #8002
And the one more thing you are seeing is that the log console does not support rich widgets, so it is showing the text display of a widget rather than an interactive widget as a control.

[2020-03-06 16:52] sbowman-mitre commented on #7432
Done. I fully removed the conda env and started over. But, the result was the same error log. 😞

[2020-03-06 16:54] sbowman-mitre commented on #7432
One oddity I've noticed. Even when I install `@jupyter-widgets/base@3.0.0` manually, the jupyter system seems to not know. It continues to complain about `base` not being found.  I don't have any idea why.

[2020-03-06 17:08] jasongrout commented on #7432
The next step I would do if this were me to try to figure this out better is to go to the application directory (`jupyter lab path`), in the staging subdirectory, and try to build manually with `jlpm run build`, and generally poke around there to see what might be going on. It sounds like there is some sort of problem with npm here.

[2020-03-06 17:18] konradsitarz commented on #7556
I had this issue with the `jupyterlab v1.2.3` on Firefox browser after ~20min of running cell, on Chrome after ~40minutes.

I deployed it on AKS with helm chart https://jupyterhub.github.io/helm-chart/jupyterhub-0.9.0-alpha.1.073.53374ee.tgz.
I used nginx ingress controller on k8s cluster.

I suppose it might be connected with the nginx closing web socket too early but I don't have a clue how to d

[2020-03-06 19:20] telamonian commented on #8006
@mgbvox Downgrading probably won't fix your issue. There were a number of bugs in the 1.1.x versions where installing extensions could lead to dependency clashes that interacted with certain icons in complex ways. Those were all fixed by 1.2.0, so I second Jason's suggestion of upgrading to 1.2.7 or 2.0.0

[2020-03-06 20:13] allefeld commented on #7873
I created a first draft of a package for an interactive Python object and data inspector for the Jupyter Notebook.

https://github.com/allefeld/ipyinspector

Subnodes are created as parent items are expanded, based on the functionality of [`ipytree`](https://github.com/QuantStack/ipytree). It is a bit of an abuse of `ipytree`s interface, but it was the best I could do short of creating my own exte

[2020-03-06 21:00] mlucool commented on #4292
I want to point out another very similar example which does not have issues - making the biggest difference class names on some divs.

[code]

@williamstein - given that many nodes are no longer rendered - how did you handle search?

[2020-03-06 21:34] williamstein commented on #4292
A few relevant remarks:

1. Regarding switching tabs, CoCalc just keeps all the notebooks rendered at all times and hides them when they aren't visible.  This way switching back doesn't require re-rendering them.   Even a few hundred ms for switching editor tabs in cocalc isn't acceptable, due to the shortcomings of our UI meaning that you have to switch tabs a lot (unlike JupyterLab).

2. We now

[2020-03-06 21:43] jasongrout commented on #4292
Thanks for your insights, William. That's a great idea to have a threshold for switching to windowing. And I would love to see a notebook plugin in jlab that implements a single-editor philosophy, which hopefully would be fairly straightforward to integrate once one was built as a single component.

[2020-03-06 22:07] Abdelgo commented on #3506
There is a method that you could try that works for me, you keep open your Notebook that you cannot save (to not lost your work), then go on Jupyter Console where you can navigate through you files, go to the folder where you have your notebook select the notebook facing this issue, open it on another page, you let it until the kernel is connected then you can close this new window. once you come

[2020-03-07 02:28] #7889 closed

[2020-03-07 08:12] echarles commented on #7933
During last weekly meeeting, @vidartf raised a point regarding the need to bring more security and control on the URI serving the lists. The current proposal foresee that the user can change those URIs via its settings, which is not the best on a security point of vue as it would be very easy for the user to bypass the blacklist and install any malicious extensions.

I have looked at ways to defin

[2020-03-07 08:13] echarles commented on #7933
FYI Implementation is happening of the discussed features happening in:

- https://github.com/jupyterlab/jupyterlab/pull/7989
- https://github.com/jupyterlab/jupyterlab_server/pull/82

[2020-03-07 09:42] fashionguy opened #8009 "how to jump out of brackets through keyboard( I like to use tab)"
In jupyterlab, how to jump out of brackets through keyboard( I like to use tab) and how to show suggestions as I type.

[2020-03-07 09:45] yuzhujiutian commented on #7958
simply ran the script twic

[2020-03-07 14:04] mlucool commented on #7933
In general, my experience with these is that these lists often need some color to be maintained easily (i.e. commend a line with the issue number). I'd recommend not using JSON but something else, such as JSON5 or YAML or ...

[2020-03-07 19:06] tgeorgeux commented on #7983
@edzkite Thanks for bringing this up Ed, I'm not familiar exactly how completers work, would a person be running completions from multiple sources at the same time? ie: Kite completions, an LSP server for python developers, and Jupyterlab's built-in completions?

My follow-up question (if the answer above is yes) would be how much impact does it have on the user to know where the completions are c

[2020-03-07 21:53] tgeorgeux opened #8010 "Add UI Component - Switches"
@jtpio asked me about this a few days ago and I have been working on making a canonical switch for Jupyterlab.

I started with Material Design switches as a basis, but I think Blueprint switches are also nice. Material design switches:
![mio-components_assets_1MiD-2erXPyZKDpOOdaWTsqzkHGOt9Z7R_selectioncontrols-switches-states](https://user-images.githubusercontent.com/22109376/76152867-83fe1e80-60

[2020-03-08 03:09] drhades commented on #8002
@jasongrout Quite helpful. Thx!

[2020-03-08 20:39] geyang opened #8012 "[Feature Request] __file__ cell magic"
In my machine learning workflow, I log to a remote server using a logging prefix that mirrors the folder structure of my experiment module. When I do so from python scripts it is easy to find the path for the launch script. Currently this is not possible in the ipython kernel because the path is in the client space.

It seems that this is something that can be done cleanly using a magic command th

[2020-03-09 01:58] telamonian commented on #8010
Definitely. Possibly it should be a variant of a LabButton component

[2020-03-09 04:21] cceyda opened #8013 "JupyterHub+JupyterLab+JupyterEnterpriseGateway Restart Kernel hangs"
## Description
- Happens while using JupyterHub + Jupyterlab + JupyterEnterpriseGateway (remote kernels)

After kernel restart; connection to jupyterlab frontend is lost,
cannot see any output and the cell status gets stuck as [*].

- The issue only happens with remote kernels
- I'm opening this issue here because the problem seems to be only with jupyterlab. Restarting works fine on jupyter noteb

[2020-03-09 07:37] jtpio commented on #8010
FWIW: the [theme-toggle](https://github.com/jtpio/jupyterlab-theme-toggle) extension currently uses a Blueprint Switch to switch between the light and dark themes, to get an idea of what it looks like in lab:

![theme-toggle](https://user-images.githubusercontent.com/591645/76191906-b37b6b00-61e0-11ea-8bb8-ae6fd26c1bcb.gif)

The inner text is also quite useful. Maybe we would need something simila

[2020-03-09 08:08] timb82 commented on #7432
I've tried that, but I'm running into problems with "webpack". Here's where I'm at the moment, let me know if there's anything helpful in it or if I can somehow follow up.

[code]

[2020-03-09 11:55] h-vetinari commented on #6952
This has been solved by #7407.

[2020-03-09 11:55] #6952 closed

[2020-03-09 15:33] mochp opened #8017 "This extension does not yet support the current version of JupyterLab."
Extension Installation Error
An error occurred installing @telamonian/theme-darcula.

Error message:

This extension does not yet support the current version of JupyterLab.

Conflicting Dependencies:
JupyterLab Extension Package

=2.0.0 <2.1.0 >=1.1.3 <2.0.0 @jupyterlab/application
=2.0.0 <2.1.0 >=1.1.3 <2.0.0 @jupyterlab/apputils

[2020-03-09 16:34] NeoXx123 opened #8018 "Cannot install any package due to corporate proxy"
I'm behind a corporate proxy with Jupyter Lab installed within WSL.
I can't install any packages, any package I try to install I get the error message:

'ValueError: "@ijmbarr/jupyterlab_spellchecker" is not a valid npm package'

I figured its because of the proxy but I've tried a few things such as
[code]

and none seem to work.

Any suggestions?
Thanks

[2020-03-09 17:12] stefansimik opened #8019 "CSV file is downloaded with XLS suffix"
## Description

Hi, latest JupyterLab v2.0.1
has bad behavior **when downloading .csv file from FileBrowser**.

Instead of downloading the file with *.csv suffix, it downloads the file with *.xls suffix.
Download file is no Excel file of course, it is just saved with invalid *.xls suffix, which should not happen.

## Reproduce

See image below (zoom if needed)

![](https://i.ibb.co/4Z018kt/Jupyter

[2020-03-09 17:21] stefansimik commented on #8018
This is expected, if your company blocks communication.
Ask you network admin, to allow communication to most used Python / Jupyter servers:

   *.pypi.org
   *.pythonhosted.org
   *.continuum.io
   * anaconda.com
   *.conda.io
   *.github.com
   *.githubusercontent.com
   *.npmjs.com
   *.yarnpkg.com

or set real proxy user, that is allowed to communicate via network with command like

   # Set p

[2020-03-09 17:38] jasongrout commented on #8018
@stefansimik - thanks for a comprehensive answer. Would you like to add some version of this to our FAQ or documentation somewhere?

[2020-03-09 17:57] stefansimik commented on #8018
Of course, I am open to do anything useful for Jupyterlab ;)

If you can give some quick guidance, where / how it would be most useful,
I can do it, or you can use anything from my post in docs / faq if you feel you can do it.

[2020-03-09 18:05] jasongrout commented on #8018
I could see something like the above as a troubleshooting section in the extension section of the documents: https://jupyterlab.readthedocs.io/en/stable/user/extensions.html. Source file is here: https://github.com/jupyterlab/jupyterlab/blob/master/docs/source/user/extensions.rst

If you add it, can you also add some text to the parts about disabling ssl discouraging disabling ssl, and explaining

[2020-03-09 18:10] jasongrout commented on #8019
I just tried this with your diamonds.csv file, on macos and firefox 73 and chrome 80, and it downloaded a file named "diamonds.csv", just like is expected.

My guess is it has something to do with how things are set up in windows and microsoft office? Does it have the wrong filename if you try from a different browser?

[2020-03-09 18:11] jasongrout commented on #8019
And just checking - is this in a clean environment with no jupyterlab extensions installed, and no browser extensions installed? (See the issue reporting guidelines at https://jupyterlab.readthedocs.io/en/stable/getting_started/issue.html)

[2020-03-09 18:26] #7809 closed

[2020-03-09 19:10] saulshanabrook commented on #4292
I am working on developing some benchmarks here we can run: https://github.com/jupyterlab/jupyterlab/pull/8020

[2020-03-09 19:29] stefansimik commented on #8019
Going to check... I am back soon with answers... and better report here.

[2020-03-09 20:08] Juan-132 opened #8021 "Warning message when restarting Kernel"
Select 'Kernel'
Choose either:
- Restart Kernel ...
- Restart Kernel and Clear Outputs ...
- Restart Kernel and Run All Cells ...

Result:
![Capture](https://user-images.githubusercontent.com/59505296/76251812-fcb2d580-6247-11ea-8945-f7a9ba0600e3.PNG)

Expected result:
Do not show the warning message.

I find that restarting the Kernel (and rerunning all code), is a frequent action when working wi

[2020-03-09 20:11] stefansimik commented on #8018
Thank you Jason, I will do according to your instructions ;)

[2020-03-09 20:11] jasongrout commented on #8021
We've talked about following the common pattern of a checkbox that says "Don't show me this warning again" on such dialog boxes.

CC @tgeorgeux

[2020-03-09 20:44] edzkite commented on #7983
That is correct. A JupyterLab user would be able to get completions from both the LSP server and Kite.

In this setup, it’s extremely likely that the two providers will send the same completions to the completions list. Without visual differentiation and de-duping, this could give off the impression that completions are buggy.

Even with de-duping, adding a visual indicator would give users more i

[2020-03-09 21:09] jasongrout commented on #8013
Disclaimer: I don't have a lot of experience with JupyterHub and enterprise gateway.

IIRC, the notebook server sends a restarting message when the notebook itself decides to restart the kernel. I don't think services is waiting for a restart message if it has initiated the restart.

Do you know the easiest way to get access to a setup like this to try to debug it better?

[2020-03-09 21:24] ajbozarth commented on #7939
Un-assigning myself since I am unsure of if/when I will get to this.

[2020-03-09 23:30] stefansimik commented on #8019
Question 2:

Answer 2:
* Using the clean 'jlab-test' environment:
  * in  **jupyter lab**: the problem still happens on Win10 using Chrome latest (without any jupyter lab extensions installed). That means, *.xls file was downloaded.
  * in **jupyter notebook**: there is no problem (*.csv downloaded)
* Using the private browsing mode:
  * Same diagnose as above = problem still happens using Chrome

[2020-03-09 23:51] jasongrout commented on #8019
Thanks. That's especially helpful to note that it is not happening with classic notebook. Does it happen in other browsers besides Chrome? What happens if you rename the file to have a `.tsv` extension, just curious?

To anyone else, does anyone else see this problem?

[2020-03-09 23:55] stefansimik commented on #8019
Just tested:
diamonds.tsv file is correctly downloaded to diamonds.tsv file in download.

So it looks like, there is some special relation to handling *.csv suffix.
Other suffixes look like working correctly.

[2020-03-09 23:57] isabela-pf commented on #7372
I've had some time to think about this and want to add some of the problems this interface might still need worked out.

- I'm unsure if this is a high priority to users or not, but I don't like that this view does not specify if it is some or all documents unsaved.  This could be important if users made changes to a document they are hoping to get rid of via not saving, but are unsure if other do

[2020-03-10 00:00] stefansimik commented on #6884
The same problem here - using clean jlab-test environment on Win10 + Chrome latest.

[2020-03-10 00:08] stefansimik commented on #8019
Some hints - maybe the issue can be related to other known problems:
* https://stackoverflow.com/questions/30876661/csv-files-being-saved-as-xls-or-nothing-on-download

[2020-03-10 00:45] snu-ceyda commented on #8013
[JupyterhHub](https://hub.docker.com/r/jupyterhub/jupyterhub/) and [enterprise gateway](https://github.com/jupyter/enterprise_gateway/blob/master/etc/docker/docker-compose.yml) both provide docker installations but you would still need to do basic configuration. I unfortunately don't have another simpler way to setup a debug environment.
PS. yes I have tested  with jupyter 2.0 but the issue persis

[2020-03-10 09:51] JulianWgs commented on #3904
Are there any plans to move this into jupyter lab itself? I think this could solve a lot of headache when versioning or copying notebooks.

[2020-03-10 10:05] mochp opened #8022 "Spaces are too small"
![微信图片_20200310180159](https://user-images.githubusercontent.com/25894526/76301735-b918a400-62f9-11ea-83fe-f76ea5c7c9fc.png)

- Operating System and version:
   ubuntu19
- Browser and version:
  chrome
- JupyterLab version:
   2.01

[2020-03-10 10:09] gioarma opened #8023 "'Select Kernel' for deleted notebook"
## Description

Everytime I launch jupyter lab it asks for selecting the kernel for a notebook that I have created weeks ago and never reopened. I tried to delete the file, since I dind't care about it and I still get the same popup everytime I launch jupyter lab. Here is a screenshot of what I see everytime, as soon as I launch Jupyter Lab:

![Schermata 2020-03-10 alle 11 07 32](https://user-imag

[2020-03-10 11:09] vidartf commented on #7958
That would not be similar to running the code twice in Jupyter (it would be similar to restarting the kernel between each run).

[2020-03-10 19:40] stefansimik commented on #8018
Hi Jason,
I checkout the repo, but see, the docs is in special tech format.
Is there any web tutorial focused on developers you could recommend to :
* learn basic technology of the docs framework used here
* how to build / export the docs, so I can test  / verify final result
so I can seriously extend the docs?

[2020-03-10 19:49] mgbvox commented on #8006
Upgrading to 2.0 worked! Could have been a more seamless process, though -
it's not immediately clear how to upgrade Jupyter Lab vs Jupyter vs
Notebook.

On Fri, Mar 6, 2020 at 2:20 PM Max Klein <notifications@github.com> wrote:

--
Matthew Billman
Stanford University
Human Biology '15
Singer, Actor, and Artist
matthewbillman.com

[2020-03-10 20:13] jasongrout commented on #8018
The docs are in [restructuredtext](https://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html), and we use [sphinx](https://www.sphinx-doc.org/en/master/) to turn them into html.

To build them, go into the docs directory, install the packages in [requirements.txt](https://github.com/jupyterlab/jupyterlab/blob/master/docs/requirements.txt), and then you can do `make html` to generate

[2020-03-10 20:14] jasongrout commented on #8018
Some conventions we have are at https://jupyterlab.readthedocs.io/en/stable/developer/contributing.html

[2020-03-10 20:18] jasongrout commented on #8006
Can you write up a short description that would have helped you, that fills in the gaps? That would be helpful to others.

[2020-03-10 20:58] mgbvox commented on #8006
For sure!

This command ultimately does the trick:
`conda install -c conda-forge jupyterlab
`
However, I *believe* (though it's been a day or two so I'm hazy on the particulars) that must be run in the specific conda env that's giving you problems. Installing on base *might* not work (again, I'm hazy).

[2020-03-10 21:05] jasongrout commented on #8006
That's right - it's always important in conda to run that command in the environment you are trying to upgrade.

[2020-03-11 06:30] jasongrout commented on #8022
What spaces are you seeing as too small? I don't see any spaces in your screenshot.

[2020-03-11 06:32] jasongrout commented on #8017
Please file an issue with that extension's repo.

[2020-03-11 06:32] #8017 closed

[2020-03-11 06:32] jasongrout commented on #8017
I think it is https://github.com/telamonian/theme-darcula

[2020-03-11 09:59] vogelsgesang opened #8026 "Documentation: MIME type for Vega Lite outdated"
## Description

The documentation under https://github.com/jupyterlab/jupyterlab/blob/33d3d9af0e91f25d40fa3232c86ff54aa8f4dfcf/docs/source/user/file_formats.rst documents the MIME type as `application/vnd.vegalite.v1+json`. However, the correct MIME type seems to be `application/vnd.vegalite.v3+json`

## Reproduce

1. Output a response with MIME type `application/vnd.vegalite.v1+json`
2. See that

[2020-03-11 10:37] jasongrout commented on #8026
Thank you. We have indeed upgraded our version of vega-lite. Do you want to submit a PR fixing that in the documentation? The file to change is here:

https://github.com/jupyterlab/jupyterlab/blame/83d83880d8d8ea86c1dc8a41dd951bac08e29393/docs/source/user/file_formats.rst#L222

In fact, the paragraphs below it should be updated too. We currently ship renderers for: https://github.com/jupyterlab/ju

[2020-03-11 11:09] mochp commented on #8022
this is jupyter notebook,This looks pretty good。
![微信图片_20200311185554](https://user-images.githubusercontent.com/25894526/76410547-0c0e5c00-63cb-11ea-9e65-51d3c2d79dcd.png)

jupyterlab : Space between spaces looks too small

[2020-03-11 11:45] jasongrout commented on #8022
It looks like you are talking about the spaces in the editor, then? It seems that your editor font is proportional. That is not the normal default setup usually for JupyterLab, so something in your configuration is causing it to use a different font than normal.

Here is what it looks like for me in the default JupyterLab 2.0.1, current firefox on macos:
<img width="287" alt="Screen Shot 2020-03-1

[2020-03-11 13:45] leondavi opened #8028 "Export notebook as... menu is greyed out"
## Description

Export notebook as... menu is greyed out

![image](https://user-images.githubusercontent.com/18975070/76422954-b9bf4200-63ae-11ea-9ae7-c1307c7fd131.png)

## Reproduce

1. Go to file
2. Click on Export Notebook As...

## Expected behavior

## Context

- Operating System and version:
- Browser and version:  Firefox 74.0
- JupyterLab version: JupyterLab 1.2.6
- Jupyter Notebook: 6.0.3

[2020-03-11 13:54] jasongrout commented on #8028
Do you have these options available in the classic Notebook (make sure to launch classic notebook using the JLab Help menu)?

[2020-03-11 13:59] aspiers opened #8029 "Slow scrolling up/down, like j / k shortcuts in classic notebook"
[I've done a ton of searching and couldn't find this issue reported anywhere - apologies if it's a duplicate.]

## Description

In the classic Jupyter notebook, you can scroll small amounts with the `j` / `k` keyboard shortcuts, and the up/down cursor arrows move the focus between adjacent cells.  However in JupyterLab, the scrolling functionality has vanished, and instead `j` and `k` behave exact

[2020-03-11 14:10] jasongrout opened #8030 "Supporting Edge officially?"
Now that Edge uses the same underlying engine as Chrome, I think it may have enough features to support it officially (which we don't do now: https://jupyterlab.readthedocs.io/en/stable/getting_started/installation.html#supported-browsers)

[2020-03-11 14:20] aspiers commented on #8029
Apologies - I got confused by the Chrome SurfingKeys extension intercepting my keyboard shortcuts for my classic notebook on `localhost:8889` (I had already disabled it for Lab on `localhost:8888`).  So actually this is not a regression after all.  But it would still be a nice feature ;-)

[2020-03-11 14:23] jasongrout commented on #8029
Thanks for following up. Tagging as Future for further discussion - since we override up and down cursor keys, it would be nice to have separate scrolling keys, though as you've noticed j and k are already taken.

[2020-03-11 16:22] saulshanabrook commented on #4292
So colab virtualizes the outputs, but not the inputs. It uses the  [IntersectionObserver](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API) to figure out when they are in view, and if not replaces them with an empty div. The tricky part is figuring out the height for the outputs....

After you compute them once, they save them in the notebook, but not when exporting. So i

[2020-03-11 17:09] leondavi commented on #8028
Yes, the classic Notebook works fine

[2020-03-11 22:18] stefansimik commented on #8018
I am looking for the most intuitive place in docs,
where could be located hints about installation behind firewall.

What do you think about ?https://jupyterlab.readthedocs.io/en/stable/getting_started/installation.html

My hints will be mostly about installation (using pip/conda),
with focus on solving problems related to being behind firewall.
That's why I think the installation section is the m

[2020-03-11 22:43] joseph-zhong commented on #7891
Awesome! Thanks @marisaaquilina  so much for the fix. Do you know which version this will be included in?

[2020-03-12 00:23] isabela-pf commented on #7372
Thinking about what @/ zsailer said and after getting to talk to @tgeorgeux, I've made more adjustments.

![Screen Shot 2020-03-11 at 5 14 00 PM](https://user-images.githubusercontent.com/50221806/76475386-e3329a80-63bb-11ea-9602-64e0527ba8cc.png)

Adding the "close" x in the upper right is a break from most of Material Design's dialogs. It does not completely solve the potential confusion of the

[2020-03-12 03:44] amosbird commented on #7702
I think so. And it would help make  `['Ctrl C', 'Shift P']` work

[2020-03-12 04:13] jasongrout commented on #7702
I think a fix in Lumino to this would be to check right after this if the key is a modifier key, and if it is, return immeditately

https://github.com/jupyterlab/lumino/blob/8c253bea28fb9584adc65e0d5af4e6bec2d25659/packages/commands/src/index.ts#L449-L452

[2020-03-12 04:16] jasongrout commented on #7702
Looking at the code, does Lumino also have a problem with this shortcut? `['Ctrl C', 'Ctrl Shift P']`, even if control is held down? I think pressing the shift for the second key would trigger the emptying the pending state?

[2020-03-12 04:18] amosbird commented on #7702
I don't know how to verify that.

[2020-03-12 04:38] jasongrout commented on #7702
For Lumino changes, I think it would be enough to:

1. Extend keyboard layouts to include a separate section for modifier key keycodes (or maybe we just call them ignored keycodes? the idea is that we ignore them in the processing)
2. Extend the IKeyboardLayout with functions to test if a key is ignored, perhaps `isIgnoredKey` to mirror `isValidKey`?
3. Use this function to shortcut return at http

[2020-03-12 04:48] jasongrout commented on #7702
If I'm reading the code correctly, it's not that the key was released, it's that a key not in the keyboard layout was pressed (in your example, this would be the modifier shift key in the second chord of the shortcut).

[2020-03-12 04:52] #8026 closed

[2020-03-12 05:29] amosbird commented on #7702
I'm afraid patching Lumino is beyond my abilities. I would love to help testing.

[2020-03-12 08:26] jtpio commented on #7887
This should now be fixed in 2.0, thanks @telamonian!

[2020-03-12 08:26] #7887 closed

[2020-03-12 14:06] vidartf commented on #7660
This should be fixed e.g. with https://github.com/jupyterlab/jupyterlab/pull/7109. You will need to config the yarn registry, and jupyterlab should pick that up and use that (note you might also need the npm registry to be configured). When lab picks that up, it will overwrite the registry values in the lockfile.

[2020-03-12 14:13] vidartf commented on #7892
Note that there is no stated goal of having lab and classic notebook look exactly the same, so I don't think this should be backported to classic notebook even if we keep it here (there are other visual differences as well). That should not prevent us from having a discussion about how to best format error outputs though! The argument about low color contrast between text and background is the mos

[2020-03-12 14:18] vidartf commented on #7894
Did you install JupyterLab in the new environment? It seems unreliable to start lab in a sub-env if it was only installed in the base env. Generally, it is a good idea to keep the base environment "untouched" if you plan to use other environments, as you can get hard-to-debug cases like this.

Hope this helps!

[2020-03-12 14:19] vidartf commented on #7901
Closing as a duplicate of https://github.com/jupyterlab/jupyterlab/issues/2833

[2020-03-12 14:19] #7901 closed

[2020-03-12 14:26] vidartf commented on #7904
I'm unsure what you mean with "stdout/stderr from the local process". Do you mean the streams from the server process? If so, that is not directly available via the Jupyter protocols, and might be considered a security issue.

[2020-03-12 14:30] vidartf commented on #7902
Thanks for the report, and for including the log output! I cannot reproduce this behavior on lab 2.0 (try e.g. https://mybinder.org/v2/gh/jupyterlab/jupyterlab-demo/master?urlpath=lab/tree/demo). Is this something that happened once, or something you are reliably able to reproduce?

[2020-03-12 14:35] vidartf commented on #7921
You might need to add configuration for npm/yarn (which lab uses to manage/fetch extensions) to reach the external package registries. Please consult you local network admins for any specifics :)

[2020-03-12 14:35] #7921 closed

[2020-03-12 14:37] vidartf commented on #7900
This issue has been bouncing back and forth between multiple behaviors I think. @ggbhat Are you able to test this on multiple browsers, and report the behavior for each of them?

[2020-03-12 14:39] vidartf commented on #7869
@jasongrout Are those two arrow icons supposed to stack like that?

[2020-03-12 14:42] vidartf commented on #7081
Is this still an issue with lab 2.0?

[2020-03-12 15:07] vidartf commented on #7970
There is definitely some network issues (the 400 GET things in the server log seems relevant). Not sure what the cause is, but you could try to see if you can enable more logging in the server. You might also want to update the server packages (your report does not seem to include any of the recommended info).

[2020-03-12 15:20] ian-r-rose commented on #7902
I have also seen behavior like this, but intermittently, and have not been able to figure out what triggers it. I'll take a closer look if I see it again.

[2020-03-12 16:34] rchiodo commented on #7904
Yes the stdout that the remote server process is outputting. I'm not sure how that would be a security problem as the user has a kernel running on the remote machine in this situation anyway which lets them execute code there anyway. This is certainly less of a problem than having code execute.

The problem we're trying to solve is that the stdout from the jupyter server (and stderr) include usefu

[2020-03-12 16:45] jasongrout commented on #7904
The short answer to your question is that there is no mechanism on the server right now for communicating the server log to the frontend. This would need to change on the server side first to make those logs available to a frontend, so a PR should be opened in the [notebook server repo](https://github.com/jupyter/notebook/) (or the upcoming [jupyter server repo](https://github.com/jupyter/jupyter_

[2020-03-12 16:47] jasongrout commented on #7904
And perhaps only kernel-related log messages would be available to the frontend?

[2020-03-12 17:02] rchiodo commented on #7904
Yeah that seems sufficient to me. We don't actually need all of the stdout put out by the server. Really just the secondary information once it's already started.

[2020-03-12 20:44] jasongrout opened #8038 "3.0 Release Plan"
## Timeline

We released JupyterLab 3.0 on 24 Dec 2020. The [changelog](https://jupyterlab.readthedocs.io/en/stable/getting_started/changelog.html#v3-0) is in the documentation.

## Major features

We want major features in 3.0 to entice users to upgrade.

- [x] [@blink1073, @jasongrout] Extension system rework, allowing extensions to be installed without rebuilding JupyterLab: #7468 [Project Boar

[2020-03-12 21:07] jasongrout commented on #7853
I've added this to our checklist for 3.0 beta: https://github.com/jupyterlab/jupyterlab/issues/8038

[2020-03-12 21:07] #7853 closed

[2020-03-12 21:10] jasongrout commented on #7230
We will be shipping 2.0.2 next week, after which we can close the 2.0 milestone.

[2020-03-12 21:12] jasongrout commented on #8038
In our meeting, we also decided to not have a 2.1 release since the schedule is pretty tight already with 3.0. I moved all 2.1 milestone issues to the 3.0 milestone.

[2020-03-12 21:14] davidanthoff opened #8039 "Auto updating for extensions"
It would be great if the extension manager had an auto-update feature. Essentially I imagine something that is as smooth as say the VS Code extension story, i.e. something where users don't have to do anything to always be on the latest version of their extensions.

I think this would make for an awesome 3.0 headline feature.

I tried search for an existing issue for this, but couldn't find one. I

[2020-03-12 21:15] jasongrout commented on #8019
In particular, your links indicate this is not a JupyterLab issue.

[2020-03-12 21:17] davidanthoff commented on #8039
This would also really help with say the vega and vega-lite situation. They ship on a _much_ more frequent schedule than Jupyterlab, and right now this is causing real problems, in that the version of vega and vega-lite that ships with Jupyterlab is continuously out-of-date.

With an auto-updating extension system, there would be a simple solution: Jupyter ships some version of the vega and vega-l

[2020-03-12 21:21] jasongrout commented on #8039
For this to work for vega specifically, there needs to be a third-party extension (perhaps even basically a clone of the core extension with a different name) that is updated often. The alternative would be to have the vega extension *not* come in core, but be a non-core extension that is updated as often as it likes.

[2020-03-12 21:25] davidanthoff commented on #7853
Does this mean that at least until mid August the version of vega and vega-lite that ships with Jupyterlab will be frozen at the version that shipped with Jupyterlab 2.0.0? That is _really_ long... Is there some way to ship updated versions in 2.0.x patch releases?

[2020-03-12 21:35] davidanthoff commented on #8039
Could the normal Jupyterlab install ship a non-core extension that is updated frequently?

[2020-03-12 21:35] tgeorgeux commented on #7967
I had a couple of questions about the existing UI.

1) Is anybody attached to the @ symbols? They are a bit repetitive, I think we can go forward without them, but if somebody has a good reason to leave them in I am unaware of please let me know.
2) Some of the extensions in the existing UI don't have orgs or usernames (see screenshot). Is this something the extension developer is doing on purpose

[2020-03-12 21:39] jasongrout commented on #7853
That is the current plan

Probably not in 2.0.x patch releases (those are supposed to be pretty lightweight updates with very minimal risk), but perhaps as separate plugins that can be updated at will? Incidentally, this is one reason we don't ship ipywidgets in core, so we can release and update libraries independently of JupyterLab.

As a side note, it seems like we had discussions not too long

[2020-03-12 21:45] jasongrout commented on #8039
The definition of a core plugin is that it ships with JupyterLab by default and is managed as part of the JupyterLab release process...so no by definition, as things currently stand?

[2020-03-12 21:47] jasongrout commented on #7967
Yes. Npm is attached to them :). They are part of the official names of the packages. See the docs at npm about scopes for more info: https://docs.npmjs.com/about-org-scopes-and-packages

[2020-03-12 21:49] krassowski commented on #7044
@edzkite would you be also interested in snippet support? https://github.com/krassowski/jupyterlab-lsp/issues/208

[2020-03-12 21:50] jasongrout commented on #7967
Yes. An npm package can be named just a string of characters, or it can have a `@org/` prefix as part of the name. In other words, the name of the package is `@descarteslabs/jupyterlab-viewer2`, not `jupyterlab-viewer2`

[2020-03-12 21:53] edzkite commented on #7044
Absolutely!

[2020-03-12 21:59] jasongrout commented on #8039
Would you like to maintain such an extension, updating it as often as you like? We could help you get set up cloning the existing extension.

[2020-03-12 22:46] stefansimik commented on #8019
Yes, it's right.
It look like it is really not a JupyterLab issue, but issue related to combination of
* Win10
* Chrome browser
* and MS Office configuration

There is nothing, what could be solved by Jupyter project
and issue can be closed.

[2020-03-12 22:46] #8019 closed

[2020-03-12 22:52] davidanthoff commented on #8039
So I think it would be fantastic if that could be changed because I think that would really solve this problem. The model here is something like Windows: they ship Windows itself, and in their default setup they ship apps like the Calendar app. But the Calendar app at the same time is a store app, so it can at any point be updated independently from the core Windows product.

No, I have too much o

[2020-03-12 23:14] meeseeksmachine commented on #7902
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/having-issues-running-cells/3563/4

[2020-03-12 23:20] stefansimik opened #8040 "Docs cleanup - 3 empty pages at the end"
## Description

Hi,
latest docs contain 3 links, leading to **empty** (and probably useless) pages.
Is there any value or should we remove and stop generation of these 3 links?
See image below.

![2020-03-13_001136](https://user-images.githubusercontent.com/6208056/76575641-152d2500-64c0-11ea-945b-c319d504c82b.png)

[2020-03-12 23:31] stefansimik commented on #7825
That would be veery practical.
It happens so frequently, that I run everything, but then I see
I would like to remove some (very slow but not important) cell
from evaluation queue to speedup displaying results.

[2020-03-12 23:35] stefansimik commented on #7696
It would be nice to generate a shareable link to (document + specific section).

[2020-03-13 03:44] sanbeichahegongheguo commented on #6884
The same problem here - using clean conda environment on Win10 + Chrome latest.

[2020-03-13 05:38] ManuelZ commented on #4099
I have just been wandering around my code for one hour to figure out why when I click in my "checkpoints" directory I end up in the same spot that I was before clicking.

[2020-03-13 13:37] SolarisYan commented on #8013
@snu-ceyda please check you jupyterlab log, i have run with the three project long time, and it works well.

[2020-03-13 14:41] ggbhat commented on #7900
I tested it on chrome and edge. Result is same. Clicking on menu option will ask for download, rather opening in new tab.

[2020-03-13 18:22] anki-code opened #8042 "How to change url path location of JupyterLab"
Hello! I've spent couple of hours to move JupyterLab from http://localhost:8880/lab to http://localhost:8880/path/to/lab. I search repo, issues, documentation and after reading the sources I've found the solution:

### `jupyter lab --NotebookApp.base_url=/path/to`

This will completely move JupyterLab url path (location) to http://localhost/path/to/....

Thanks!

[2020-03-13 18:22] #8042 closed

[2020-03-14 14:45] MarsBarLee commented on #7967
![disclaimer-03-14-20](https://user-images.githubusercontent.com/46167686/76684118-ad6dfb80-65df-11ea-8e70-772891a21742.png)
Hi all, Tim and I have been working out some more details.

- We're thinking of increasing the size of the icons and moving them to the left to be more visible and make it easier to tell who or what organization the extension is from. For extensions from Github users, we wil

[2020-03-14 16:17] echarles commented on #7967
Thx @MarsBarLee @tgeorgeux

Is it possible to open a separated issue for the icon? The icon change is not really related to the disclaimer nor the black/white listings. It is also not minor enough to onboard here and subject to discussion (where to fetch the image...). Having a dedicated issue will ease the discussions and will keep things clear.

I will integrate in the B/W list PR the current te

[2020-03-14 17:04] #8006 closed

[2020-03-14 18:27] tgeorgeux opened #8043 "Larger Badges for Extension Installer UI"
@marsbarlee and I have been working on showing larger badges so people can more easily identify the source of their extensions.

## Why is this important?
There are various extensions, some of which are similar, from different sources. Some people may only want to download extensions released by Jupyter, or another org. In addition, it incentivizes others to build and maintain extensions (by givin

[2020-03-15 07:25] snu-ceyda commented on #8013
There are no errors on the jupyterhub log, which is running jupyterlab as SingleUserNotebookApp
(as i mention in issue description)

[2020-03-15 18:19] krassowski commented on #8043
Great work, I am so happy to see it going forward!

Responding to the question from the other issue:

I am not sure if I like my profile picture as much as to see it in the extension panel ;) However, it would be great if this would be opt-in!

Potentially related - what would there be a distinction between icons for https://github.com/jupyterlab and https://github.com/jupyter-widgets extensions a

[2020-03-16 09:43] echarles commented on #8043
The work done in the black/white listings does not remove the  "developed by Jupyter" icons. Strangely, the code was using a method `isWhitelisted` to create those icons. I have renamed that method to `isJupyterOrg` to avoid confusion. This only impact code and it was a private method anyway. On the user side, b/w listing does not change anything for the icons.

[2020-03-16 09:45] echarles commented on #8043
GitHub has a trick for this https://github.com/jupyterlab.png?size=200 - Sounds like super easy.

[2020-03-16 09:46] echarles commented on #8043
https://github.com/jupyterlab.png?size=32 for 32px size

[2020-03-16 09:47] echarles commented on #7967
Thx @tgeorgeux for opening a dedicated issue for the icons.

Implementation of the CSS for the disclaimer:

<img width="412" alt="Screenshot 2020-03-16 at 10 36 06" src="https://user-images.githubusercontent.com/226720/76743818-80eae880-6773-11ea-927a-b58a070b502e.png">

[2020-03-16 09:55] echarles commented on #8043
The NPM response contains details on the github repository in the `homepage` attributed. This can be used to extract the repo organisation/account and generate the icons. Please not that some extensions do not state `homepage` or state a homepage being not github. What to show in those cases? (default icon, no icon...)?

[code]

[2020-03-16 10:34] vidartf commented on #7953
What is your terminal theme set to?

![image](https://user-images.githubusercontent.com/510760/76747844-b8f12c00-6771-11ea-83d7-1f5d62bde15c.png)

[2020-03-16 14:12] vidartf commented on #7902
@ian-r-rose Well, it does say "command not enabled", so it might be related to the focus tracker?

[2020-03-16 14:20] ian-r-rose commented on #7902
Yes, that or perhaps a bug in applying/removing the `jp-mod-editMode` selector.

[2020-03-16 14:33] vidartf commented on #7900
Just to make sure we're talking about the same thing, you want to get a raw text view of the notebook JSON file, directly in the browser, right? There has been some finicky details previously to try to differentiate between this and downloading the file, and I'm not sure where in the code the work was done (cc @afshin who might have been involved?).

[2020-03-16 14:46] ggbhat commented on #7900
I am confused here, My expectation was  as menu label it should open file in new browser tab. But looking at the response in [related issue](https://github.com/jupyterlab/jupyterlab/issues/5380#issuecomment-424762514) it looks like it is downloading file in case of notebooks.
If the menu option is to download file then it is working fine. If it is to create new workspace(cloned one) to open in new

[2020-03-16 15:50] vidartf commented on #8043
I don't think we should hit github for icons. We might already need to put the extension manager behind a privacy notice (linking to the privacy policy of npm), and I wouldn't want to add further information leaks.

[2020-03-16 16:33] tgeorgeux commented on #8043
That makes sense. Should we add a neat little spec that the extension installer can call out to display a badge? It makes sense to me that extension developers may want to identify themselves.

[2020-03-16 17:44] lewisl commented on #7953
It was set to light theme.

I fixed it by reinstalling and update Jupyter and related packages.  Don’t really know what happened.

Call it closed.

Thanks for your reply.

From: Vidar Tonaas Fauske <notifications@github.com>
Reply-To: jupyterlab/jupyterlab <reply@reply.github.com>
Date: Monday, March 16, 2020 at 3:34 AM
To: jupyterlab/jupyterlab <jupyterlab@noreply.github.com>
Cc: Lewis Levin <lew

[2020-03-16 18:11] #7953 closed

[2020-03-16 18:33] vidartf commented on #8043
If we can think of one that won't generate a lot of extra network requests, sure!

[2020-03-16 18:36] vidartf commented on #7900
Ah, this is why @jasongrout asked "Can you describe exactly what it is doing that is not what you expected?" above :)

[2020-03-16 18:38] vidartf commented on #7900
Would you say this is a duplicate of #5380 then?

[2020-03-16 18:41] echarles commented on #8043
Regarding the privacy notice, this may help `npm, Inc., is being purchased by GitHub.` https://github.blog/2020-03-16-npm-is-joining-github/

For the HTTP Requests, I guess the current pagination can mitigate this. Also the icons would have to be displayed after all the other resources loaded so would not impact the jlab load time.

[2020-03-16 18:43] jasongrout commented on #5380
I think this was confusing to at least one other person in #7900. Revisiting this: @tgeorgeux - thoughts?

On the one hand, "Open with..." is really, right now, "Open in JupyterLab with...", while the sibling "Open in New Browser Tab" is really similar to what GitHub calls the "raw" file view, so perhaps something like "Open as Raw File in New Browser Tab" would be more clarifying (though too long

[2020-03-16 18:44] jasongrout commented on #7900
It looks like it to me. I've added another comment over there to try to further the discussion.

[2020-03-16 18:46] jasongrout commented on #8043
Oh, wow, thanks for bringing that to our attention!

[2020-03-16 18:54] tgeorgeux commented on #7933
After various discussions over a video with @echarles and other members of the JupyterLab team, I think it makes sense to treat the white and blacklist modes as follows:

### In blacklist mode:
- Do not show blacklisted extensions at all.
- When a blacklisted extension is installed, then becomes blacklisted, it is highlighted in red, and a warning is given to the user suggesting they disable and u

[2020-03-16 18:54] echarles commented on #8043
@jasongrout wow indeed. Who will be next?

[2020-03-16 18:59] echarles commented on #7933
@tgeorgeux Thx a lot for concretizing here the discussions. I have already updated the current PRs and they implement the logic you have described. I will just update the icon and the warning message. I will also remove the text that tells the user that blacklisted extensions exists.

[2020-03-16 19:04] saulshanabrook commented on #7933
This sounds great, yeah thanks @tgeorgeux for writing this up and @echarles for implementing.

👍 I am on board with this simpler option, not to notify users of a blacklisted extension if they search for it. We can always add more nuanced logic later if the need comes up.

[2020-03-16 21:35] jjjamie commented on #7962
Was pretty surprised when googling my error only gave one result - very impressed it's already fixed (in my case the error was in trying to display a png in a Markdown preview of a .md file). Thank you!

[2020-03-16 21:39] hoangmt commented on #2833
I have been reading all the related issues but there is no solution proposed. I really need this function.

[2020-03-16 22:54] jasongrout commented on #2833
We too would love if people would help contribute toward solving this!

[2020-03-17 03:50] ggbhat commented on #7900
Yes its duplicate of #5380,hence closing it .
Thanks..

[2020-03-17 03:50] #7900 closed

[2020-03-17 04:00] jasongrout commented on #8039
An interesting model - it would get tricky, I think, figuring out the right snapshot to ship with core, and handling version history, etc. We would still need someone to maintain the extension out of core, of course.

I think that is the core extension we have. I don't think the vega team maintains older versions of the vega extension.

It would be an interesting model to explore. I don't know who

[2020-03-17 04:02] jasongrout commented on #8039
(That is an invitation to anyone interested in taking this up and contributing :).

[2020-03-17 10:43] suntzuisafterU opened #8046 "LaTeX; export as pdf fails due to incorrect parsing of tex."
## Description

When exporting a notebook that contained latex in markdown cells as a pdf I ran into the following errors:
[code]

Which showed up in the new tab that was launched to create the pdf.

I proceeded to export as LaTeX to see what was going on.
Here is one example from the tex document:
[code]
The exporter appears to be escaping $ signs, which disables the math environment.
Then the \m

[2020-03-18 01:34] chuaxr opened #8047 "Using vim shortcuts when opening vim in terminal"
I've experienced certain cases where the usual vim shortcuts don't work in the jupyterlab terminal and are instead replaced by the browser/OS shortcuts:

1. I try to use Ctrl-V to enter vim mode, but end up pasting a block of text instead.
(Happens both on Microsoft Edge and Firefox)
2. I try to navigate between split windows with Ctrl-W, but end up closing the browser window.
(Happens in Firefox,

[2020-03-18 01:43] aquirdTurtle opened #8048 "Where did the caret icons go?"
I was using a couple of the caret icons in my "Collapsible Headers" extension. e.g. `button.style.background = "var(--jp-icon-caretright) no-repeat center";`. I believe this was drawing from jupyterlab/packages/theme-light-extension/style/images/. But these seem to have been removed for some reason in Jupyterlab 2.0, breaking the extension. Obviously I can add the files back in my own extension, b

[2020-03-18 02:48] jasongrout commented on #8047
I'm not sure we are able to override Ctrl-W in Firefox (I do notice a google search turning up http://shallowsky.com/blog/tech/web/firefox-quantum-fixing-ctrl-w.html)

We've had a lot of discussion about Ctrl-V and pasting: https://github.com/jupyterlab/jupyterlab/issues/1146 and https://github.com/jupyterlab/jupyterlab/pull/6391

[2020-03-18 02:54] jasongrout commented on #8048
CC @telamonian

[2020-03-18 02:57] jasongrout commented on #8040
I think you're right that we can just delete theme from the bottom of https://raw.githubusercontent.com/jupyterlab/jupyterlab/5d257432cd4e585bfd6556b0564843d0010373a0/docs/source/index.rst

[2020-03-18 08:48] asodeur opened #8049 "`bokeh.DataTable` does not render in JupyterLab"
## Description

`bokeh.DataTable` does not show in Jupyterlab.

## Reproduce
Run the following code in a JupyterLab notebook
[code]

## Expected behavior

Should display a table like the one you get in the HTML file produced when you change the output in the above code by
[code]

## Context

- Operating System and version: Windows 7
- Browser and version: Chrome 78.0.3904.87
- JupyterLab version:

[2020-03-18 10:21] #7670 closed

[2020-03-18 13:42] echarles commented on #7933
Just opened https://github.com/jupyterlab/jupyterlab/pull/8050 to enable by default the extension manager once the 2 PRs for listings are merged.

[2020-03-18 14:54] amitkle opened #8051 "find in files feature"
Hey,
Are you working on a feature like "find in files" of pycharm/notepad++ (ctrl+shift+f)?
We could really use something like that.
If not, I'm thinking of creating one of my own and wanted to know what you think about it.
I was thinking to add this to the normal find extension. Something like a checkbox of "search in files"
thanks!

[2020-03-18 15:35] palewire opened #8052 "Lab opening from terminal in Signal secure messaging app"
When I run `pipenv run jupyter lab` the terminal will open up the Signal secure message app rather than my web browser.

[2020-03-18 15:40] mhenault1 commented on #7412
I'm experiencing the same issue on jupyterlab v1.2.6, on both OSX/Ubuntu 16.04 and Chrome/Firefox. On the Chrome console, I am getting the same warning as @martinRenou:
[code]
This happens whatever command I try to use (run-cell, merge-cells, split-cell-at-cursor, etc). Restarting notebook, refreshing or restarting browser won't solve the problem.

It appears to be browser-specific though, as shor

[2020-03-18 17:36] jasongrout commented on #8051
I don't know of anyone working on it right now.

[2020-03-18 17:37] jasongrout commented on #8051
I was thinking it would be a separate panel, like vs code or sublime, and leave the current find as a current document search.