[2021-06-22 12:16] hbcarlos commented on #10456
Yes, it's broken on binder too. But since no one else reported this, I suppose what's broken is my Google Chrome. 😔

https://user-images.githubusercontent.com/26092748/122922614-19531e00-d364-11eb-9bc4-a17f36e158b1.mp4

[2021-06-22 12:23] jtpio commented on #10456
Just double checked the dev Binder with stock Chromium 91 on Ubuntu, and it works fine.

[2021-06-22 12:37] blink1073 commented on #407
Agreed, thanks!  Closing in favor of #10340.

[2021-06-22 12:37] #407 closed

[2021-06-22 14:01] fcollonval commented on #10450
@soerendip it looks like you are using some extension because the File menu is using a non standard wording `Diagram Notebook`. If you start the stock JupyterLab with binder, you will see the export feature:

![image](https://user-images.githubusercontent.com/8435071/122938545-24fa1100-d373-11eb-9981-71bcc1296107.png)

[2021-06-22 14:03] fcollonval commented on #10450
You need to have a notebook selected to have access to that submenu.

[2021-06-22 14:18] fcollonval commented on #10404
Actually <kbd>Alt</kbd> + Click will allow the multiline selection with the cursor at the same column and <kbd>Ctrl</kbd> + Click will allow multiline selection by click at multiple position.

If the keybinding is not working, there is a high change that shortcut is captured by the OS for something else - for example <kbd>Alt</kbd> + Click may trigger window motion on some Linux desktop.

![multil

[2021-06-22 14:34] strawpants commented on #10189
Same here, interesting enough. If I go into developer mode and force :hover on the upper div of the cell drop-down menu it works.

![image](https://user-images.githubusercontent.com/9840083/122941874-119c7500-d376-11eb-9fcf-c1169c0d679b.png)

[2021-06-22 16:10] Arij-Aladel commented on #10318
close for no response

[2021-06-22 16:10] #10318 closed

[2021-06-22 18:25] bforbesc commented on #4778
Portuguese keyboard Ctrl + - does not work either (zooms in Chrome). Please fix

[2021-06-22 23:39] jess-x opened #10463 "migrate nameFileOnSave to docmanager-extension"
### Problem

In Name File Dialog

https://github.com/jupyterlab/jupyterlab/pull/10294/files#r652503847

### Proposed Solution

https://github.com/jupyterlab/jupyterlab/pull/10294/files#r652506058

### Additional context

[2021-06-23 06:20] echarles commented on #10435
@krassowski I have tried a notebook with many empty cells (like your example) with current master, and indeed, I see a un-rendered cell at the end when I scroll. This happens in the case [1] I wait to scroll so the rendering is complete, and then scroll down to the bottom [2] If I scroll down while the virtual rendering is still happening. Is this the issue you were reporting or do you see also ot

[2021-06-23 06:35] chrisyeh96 opened #10464 "Issues with rendering SVG images"
## Description

There are 4 ways that I can think of for attempting to embed an SVG image into a Jupyter notebook. (By embed, I mean that the image becomes part of the notebook file, and not just a link to an image file elsewhere.) Oddly, only 2 of the methods work.

1. Image tag with Data URL (this works)
2. HTML element whose CSS background is set to an image with a Data URL (this works)
3. Raw

[2021-06-23 06:37] chrisyeh96 commented on #10464
Perhaps #8824 is a related issue, but the description in that issue was difficult for me to parse.

[2021-06-23 07:01] fcollonval opened #10465 "filebrowser shortcuts in settings"
- make the keybindings configurable in the settings via the shortcuts system (with the `jupyter.lab.shortcuts` key)

_Originally posted by @jtpio in https://github.com/jupyterlab/jupyterlab/issues/10206#issuecomment-837942984_

[2021-06-23 07:15] appomsk commented on #10443
I was able to remove the blinking cursor from jupyter labs for google chrome using Stylus extension by adding for `http://localhost:8888/lab`:

[code]

There is the same extension for Firefox, so I think it should work for this browser too.

[2021-06-23 07:23] fcollonval commented on #10443
Thanks @appomsk for sharing the trick.

[2021-06-23 07:32] martinRenou opened #10467 "Filebrowser: "Enter" behavior not implemented with a keybinding"
## Description

The "Enter" behavior is not implemented using the `app.commands.addKeyBinding` API or using settings. Instead, it's implemented manually hooking to the keyboard event:

https://github.com/jupyterlab/jupyterlab/blob/dd992bae99f49a279f6b68b864711d04a796d682/packages/filebrowser/src/listing.ts#L1026-L1045

One issue arising from this is that the shortcut does not show up in the contex

[2021-06-23 07:41] martinRenou commented on #10467
This was originally implemented by https://github.com/jupyterlab/jupyterlab/pull/1703

[2021-06-23 09:07] daN4cat commented on #10119
Great work and great discussion, thanks all for the effort you put in this project.

If I may drop my 2p here about the authentication and authorisation point, more from a generic industry standard point of view and approach. Hope you don't mind and not finding too patronising, just trying to give a generic perspective to the matter.

OpenID connect is used to add a proper identity story to OAuth

[2021-06-23 09:16] daN4cat commented on #10119
WRT a comment I read above, if I read it correctly:

[code]

Hope it's not like I suspect, but please don't build any dependency on JWT token itself to look up a user session and the like.
You can use the ID identifying the user as _subject_ claim in your JWT access_token for that.
Access_token can be refreshed by the JS application (Single Page Application - SPA) with auth code + refresh token an

[2021-06-23 09:22] krassowski commented on #10435
Yes this is the same issue, and yes there is (sometimes, not every time) an extra issue of executed cell disappearing; please see the GIF in first comment it was caught on record there; it does not happen every time I could not narrow conditions down.

Yes, https://github.com/jupyterlab/jupyterlab/issues/10428 is another issue where it worked in 2.3 but does not work in 3.1.

[2021-06-23 09:25] mnky9800n opened #10468 "jupyter has the path to the wrong envirnoment even though it loads from the correct path"
## Description

This is related to this stackoverflow post:

https://stackoverflow.com/questions/68085993/conda-environment-path-is-different-for-ipython-versus-jupyter

Basically, I create a new environment with conda, I conda install jupyter and jupyterlab. I run the jupyter lab server. This is loaded from the newly created environment. When I open a notebook in the browser, it says the path is

[2021-06-23 09:39] jtpio commented on #7738
Closing as fixed by #7942

[2021-06-23 09:39] #7738 closed

[2021-06-23 10:51] krassowski commented on #10318
Hi @Arij-Aladel sorry for lack of response - I had nothing to add.

I mean that there **might** be something that **might** break **if** you remove all extensions using the brute-force method of removing the file and directory that I mentioned. I am not aware of anything that would, but given that extension authors and the extension system does not expect users to be deleting files just like that,

[2021-06-23 11:15] fcollonval commented on #10468
Could you check you are actually using the kernel of the new environment?

You can list all installed kernels with the following command:

[code]

If you are seeing multiple kernel definition, you may need to pick the right one in the notebook.

![image](https://user-images.githubusercontent.com/8435071/123087710-21bf5d80-d425-11eb-8886-90d4a8baa55d.png)

[2021-06-23 11:26] krassowski commented on #10450
This might be related to https://github.com/deathbeds/ipydrawio/issues/21 and https://github.com/jupyterlab/jupyterlab/pull/9958.

[2021-06-23 11:59] mnky9800n commented on #10468
![image](https://user-images.githubusercontent.com/942355/123091977-4407aa00-d42a-11eb-951d-22cb5607ba0a.png)

The only kernels that appear  are the ones in this list. I am not sure why it has tensorflow, etc. in this list. Those are old kernels from other environments.

Also this is the output of the available kernels:

[code]

I'm at a complete loss. In every step it seems like the jupyter lab s

[2021-06-23 12:58] fcollonval commented on #10468
As you are using conda environment, I would advice you to install [nb_conda_kernels](https://github.com/Anaconda-Platform/nb_conda_kernels) in the same environment than JupyterLab. It will ease picking up the proper kernel. Then you should have the expected results for `sys.path`

[2021-06-23 13:03] mnky9800n commented on #10468
that worked thank you.

[2021-06-23 13:03] #10468 closed

[2021-06-23 15:48] ktaletsk opened #10471 "Checkbox styling is broken"
## Description

When upgrading my extension to JupyterLab 3.0 I noticed that the checkbox that I used in one of the forms is not rendered correctly, rather it is shown as a text field and lost the checkbox functionality. I narrowed down the issue to `appearance` and `webkit-appearance` being set to `none` instead of `checkbox` in CSS. To demonstrate, I created the cookiecutter extension that shows

[2021-06-23 16:20] krassowski opened #10472 "Focus on dialog buttons is not respected"
## Description

Delete with a <s>shortcut</s> keyboard navigation in file browser is broken on master. This was uncovered by https://github.com/jupyterlab/jupyterlab/pull/10400 which changed the default button to "Cancel".

## Reproduce

1. Select a file in the file browser
2. Press <kbd>del</kbd>
3. See dialog shows up correctly, click on "Delete"
4. See the file does not get deleted
5. See that

[2021-06-23 16:44] williamstein commented on #9147
For what it is worth, this also only renders once in cocalc-jupyter, but with a strange warning message:
![image](https://user-images.githubusercontent.com/1276278/123136233-8a97dd00-d407-11eb-9bf7-c7d16591b73b.png)

[2021-06-23 16:49] afshin commented on #9124
@bollwyvl Could you please check to see if this issue has been resolved?

[2021-06-23 16:49] krassowski commented on #9147
This is a bug when you consider the following:

![Screenshot from 2021-06-23 17-46-03](https://user-images.githubusercontent.com/5832902/123136546-f64f6980-d44a-11eb-844a-f6efcbd64153.png)

![Screenshot from 2021-06-23 17-46-13](https://user-images.githubusercontent.com/5832902/123136588-02d3c200-d44b-11eb-8ef9-d7d54fbca4cc.png)

which means there is no way to make it display only once, even if us

[2021-06-23 16:51] fcollonval commented on #9421
@martinRenou Is there some problems still unsolved?

[2021-06-23 17:02] jasongrout commented on #10269
We are triaging issues/PRs for 3.1. I'm just confirming here that I'd like to help get #10309 in to fix this issue for 3.1.

[2021-06-23 17:03] jasongrout commented on #10268
We are currently triaging issues for 3.1. Just confirming here that I'd still like to work on getting this in for 3.1.

[2021-06-23 17:04] bollwyvl commented on #9124
I haven't had a chance to get back to this.

Probably the only way to be _sure_ would be a `sharedPackages` CodeMirror singleton...

[2021-06-23 17:06] cameron-toy commented on #10269
@jasongrout Yes, is there a way to re-run the tests? I fixed the package integrity issues in my repo but the tests haven't re-run.

[2021-06-23 17:06] krassowski commented on #10471
As this was an element of public API (`InputDialog.getBoolean`) which got defunct in 3.0 and there are still extensions that have not migrated to 3.0 I think it would be good adding it back, but the styles should go to https://github.com/jupyterlab/jupyterlab/blob/master/packages/apputils/style/styling.css instead. This is a good way to implement disclaimers where an extra click is wanted from the

[2021-06-23 17:17] fcollonval commented on #10314
I track the error to that line:

https://github.com/jupyter-server/jupyter_server/blob/68a64ea13be5d0d86460f04e0c47eb0b6662a0af/jupyter_server/extension/application.py#L486

This is calling the `ServerApp.initialize` that will call `JupyterApp.initialize` in which the cli will be parsed and raise the error.

[2021-06-23 18:08] ktaletsk commented on #10471
Hi @krassowski, I have couple of questions/comments:
1. When was `InputDialog.getBoolean` deprecated? I can still see the code for it https://github.com/jupyterlab/jupyterlab/blob/dbdefed9db9332381fe4104bdf53ec314451951f/packages/apputils/src/inputdialog.ts#L67 and it is still mentioned in docs https://github.com/jupyterlab/jupyterlab/blob/f0790b3ffd187b7dc923156b8ae227855abecefb/docs/source/exten

[2021-06-23 18:15] krassowski commented on #10471
I don't think it was ever deprecated. I did not mean to say that it was deprecated and if you got this from my comment - sorry! I am working on making my English cleaner and easier to understand. I only meant to say that the CSS styles removed in 3.0 rendering checkboxes broken since 3.0. Then I added a comment on why I believe this function should continiue to be supported in future versions.

Th

[2021-06-23 18:17] ktaletsk commented on #10471
Oh, no problem, sorry for misunderstanding. Good to be on the same page

[2021-06-23 18:18] krassowski commented on #10471
Also, please note that https://github.com/jupyterlab/jupyterlab/pull/10043 introduced checkbox styles for file dialogs here: https://github.com/jupyterlab/jupyterlab/pull/10043/files#diff-44b56bf79f838c9023ebd121a0ae3a2d6e603331ba60bda47fbda2760b6735ddR43-R96

Maybe we could generalize that styles to make checkboxes work for all dialog windows?

[2021-06-23 19:05] alexlenail opened #10473 "selecting markdown and inputting `[` should add a link, not replace the selected text with ["
- In a code cell, selecting some `code` and inputting `(` results in `(code)`.
- In a text editor (I use sublime), selecting some `markdown` and inputting `[` results in `[markdown]`.
- In a markdown cell in jupyter lab, selecting `markdown` and inputting `[` results in `[`.

I'd love if selecting `markdown` in a markdown cell and inputting `[` would result in `[markdown]`.

[2021-06-23 19:16] krassowski commented on #10388
Sorry I missed this earlier but `--jp-layout-color1` does not work for inactive cells (and we need to consider both active an inactive cells) as inactive cells already have `--jp-layout-color1`.

[2021-06-23 20:20] hottwaj opened #10474 "ToC .py file navigation: remove method/class arguments"
### Problem

ToC for python files includes method args in "def" ToC entries and superclass spec in "class" entries. This makes ToC entries for python files cluttered and too verbose

### Proposed Solution

Remove anything in parentheses after a def or class definition when creating a ToC entry

### Additional context

I previously submitted an issue and PR to juptylab-toc containing identical chan

[2021-06-23 20:37] mlucool commented on #10139
As discussed with @echarles today, I suspect we don't want to lay this out in terms of files but in terms of packages. As an extreme example, if I have a [namespace package](https://packaging.python.org/guides/packaging-namespace-packages/) `foo` and subpackages `bar` and `baz` I would want to see:
[code]
Even if they aren't aligned on disk like that (e.g. different locations due to my `PYTHONPATH

[2021-06-23 20:48] hottwaj opened #10477 "ToC: nested functions/classes are not indented in ToC"
### Problem

Nested functions/classes are not indended in ToC.

e.g. given code:
[code]

Users will currently see in ToC:
[code]

But it would be preferable if they saw:
[code]

### Proposed Solution

Keep track of indentation in order to appropriately nest functions/classes

### Additional context

This issue was originally raised by @stefansimik on jupyterlab-toc project, see https://github.com/

[2021-06-23 21:18] krassowski commented on #10139
How would that work with languages that do not have a concept of packages? I mean the debugger is supposed to work with kernels other than Python in the future, is this right?

[2021-06-23 21:21] krassowski commented on #10139
Nowhere; this is a disadvantage of this idea indeed. But I think this is already how out-of-project files are handled in some other editors. They exist as an editor tab, but not in the file browser; these files can be opened manually, using code navigation, or from the debugger stacktrace (but not from file browser).

[2021-06-23 22:26] mlucool commented on #10139
Good point.

Idea 1: Generalize this to being similar to source mapped files. In python this is file->packages. In JS this works similar to how browsers handles source maps. For languages that only have files, this ends up being another file browser (that is, it maps back to itself).
Idea 2: Allow for language specific implementations of the left panel and make minimal assumptions. A file browser

[2021-06-24 08:22] jtpio opened #10480 "Move Galata to the `jupyterlab` repo?"
Opening a new issue since this was originally brought by @fcollonval during the weekly meeting yesterday: https://github.com/jupyterlab/team-compass/issues/117#issuecomment-867008413

Should we move Galata to the `jupyterlab` repository here?

Galata currently lives in its own repo under the `jupyterlab` organization: https://github.com/jupyterlab/galata

This would make it easier to iterate on it

[2021-06-24 08:23] jtpio commented on #10480
Adding to 4.0 since this is not critical for now, but at least worth considering.

[2021-06-24 08:43] fcollonval opened #10481 "Internal settings: from multiple jupyter.lab.... to object declaration"
This was discussion in the June 16th meeting.

Does it make sense to move from multiple keys `jupyter.lab....` to an object declaration for internal settings?

Pros:
- Be more json

Cons:
- We will need to create a tool to convert existing user settings files.

[2021-06-24 11:26] dk1013 commented on #4292
Wondering if there is any plan or progress to solve this issue. Jupyterlab is a good framework with lots of useful features, but being smooth with realistic notebooks should be of highest priority, without which all the other features are groundless.

[2021-06-24 12:24] sbowman-mitre commented on #4292
@dk1013 I have to admit that I haven't had this problem for some time now. I'm running JupyterLab 3+ in a local docker container, but I'm pretty confident that the problem went away by the time I'd upgraded to v2. And my notebooks have definitely remained large and continue to grow. :D

[2021-06-24 12:30] #10388 closed

[2021-06-24 12:44] davidbrochart commented on #10442
Third attempt :smile: in https://github.com/jupyter-server/jupyter_server/pull/545

[2021-06-24 14:43] #10465 closed

[2021-06-24 15:09] #10442 closed

[2021-06-24 18:06] gloryVine commented on #10443
Thank you @appomsk, this works. Hopefully we can have a Jupyter-native solution at some point, because I don't like having to add more and more extensions which can access all my website data (Stylus in this case).

[2021-06-24 22:20] kratika2210 commented on #10464
FWIW: Option 1 was working for my project until recently we upgraded to Jupyter lab 1.2.20 (still very far behind than the latest 😄) and then had to use Option 2 which works perfectly.

[2021-06-25 01:05] dk1013 commented on #4292
@sbowman-mitre
Thanks for the update. Can you provide more general info regarding your use case? Like do you have lots of plot visualisation, typically how many cells do you have in your notebook? I am using Jupyterlab v2, but I still feel the issue. (I typically have tens of figures and 100+ cells for a typical notebook.

[2021-06-25 07:26] icankeep opened #10482 "Can JupyterLab support foldable directories?"
## Current
![image](https://user-images.githubusercontent.com/39434627/123379211-60d5e600-d5c0-11eb-8cc3-4a54da9109ea.png)

## Expect
![image](https://user-images.githubusercontent.com/39434627/123379051-1e140e00-d5c0-11eb-8ac9-6c928ac6b9f9.png)

## detail
In the current directory structure, you cannot see other subdirectories of the parent directory after entering the subdirectory, which is very

[2021-06-25 07:30] fcollonval commented on #10482
Hey @icankeep

This is a duplicate of https://github.com/jupyterlab/jupyterlab/issues/5526
FYI it is actually on the roadmap for 4.0. But in the mean time, you can use an extension:
- https://github.com/martinRenou/jupyterlab-unfold
- https://github.com/youngthejames/jupyterlab_filetree

[2021-06-25 07:30] #10482 closed

[2021-06-25 09:10] Nanguage commented on #3964
I experienced the same error. Both jupyter lab and notebook can not save changes and autosave failed. There are no error message in the backend console.
![image](https://user-images.githubusercontent.com/14010939/123400391-4b6cb600-d5d8-11eb-878e-8578e4a57672.png)

[2021-06-25 09:40] krassowski commented on #10464
There are also cell outputs where SVG images are rendered but inside an iframe to isolate them from the main application. As a side note, Chromium based browsers in version 90-92 have some issues with iframes (partially resolved in 91, I hope they got fully fixed by 92).

I think the idea is that we need to isolate anything that comes from the kernel as it cannot be trusted (but should be displaye

[2021-06-25 09:45] ldb999 opened #10484 "new kernel not show in launcher"
## Description

My Jupyter lab does not recognize the new environment I created. I added new kernel with this:
conda create --name python37 python=3.7
conda activate python37
python -m ipykernel install --user --name python37 --display-name "Python [conda env:python37 ]"
and I can see new kernel in list:
![image](https://user-images.githubusercontent.com/86464372/123405425-c63bce00-d5e4-11eb-9f7a-

[2021-06-25 10:32] fcollonval opened #10486 "Set codemirror settings in one place"
### Problem

There are currently 4 places to set some codemirror settings like code folding. And there is no place to set such settings for the console. It will be better to have an unique place to define default options. And then to be able to override them if required - for example the font size may be changed by the user for the console.

### Proposed Solution

With codemirror to become the off

[2021-06-25 10:35] krassowski commented on #10486
Related to: https://github.com/jupyterlab/jupyterlab/issues/10352 and https://github.com/jupyterlab/jupyterlab/pull/9142

[2021-06-25 10:54] #10317 closed

[2021-06-25 10:54] #10471 closed

[2021-06-25 10:56] #10443 closed

[2021-06-25 10:59] vidartf commented on #8736
Well, 2.2 is still not backwards compatible with 2.1, but I assume we have moved on.

[2021-06-25 10:59] #8736 closed

[2021-06-25 12:19] krassowski commented on #10228
As this seems to affect many users, I wanted to highlight that you can now just:

[code]

or, if using conda:

[code]

to solve the problem.

[2021-06-25 12:27] jtpio commented on #10442
Thanks @davidbrochart!

[2021-06-25 12:36] jtpio opened #10969 "Galata: Open a file with a different factory"
### Problem

It could be useful to have the possibility to open files with different factories with Galata API, that are usually listed under the "Open With" menu:

![image](https://user-images.githubusercontent.com/591645/123425110-00e03f00-d5c2-11eb-846b-95c0b323dfac.png)

### Proposed Solution

Maybe that would mean adding support for right clicks, and the "Open With" menu.

### Additional cont

[2021-06-25 13:09] cchwala commented on #3506
Update: What I wrote above (trusting the notebook) did not help with the problem of saving the notebook.

But since I switched to another VPN for connecting to the remote machine, the problem has gone away. Hence, this might have something to do with how you connect to the remote machine. The VPN I use now tunnels all traffic, the VPN is used before did only set up some very specifc tunnels at spe

[2021-06-25 14:04] #10327 closed

[2021-06-25 14:13] pelacables opened #10487 "“jupyter lab build” fails with Invalid regular expression"
## Description

Dear all,

I’m running a fresh new jupyterhub 1.4.1 installtion follwoing the offcial docs.

[code]

The hub is up and running and now I’d like to add Jupyterlab extension.
the package is installed (among others):

[code]

but when I build it always fails with the next error:

[code]

## Reproduce

1. Install Jupyterhub & jupyterlab extension
2. run `jupyter lab build`

## Expected

[2021-06-25 14:48] jenghung opened #10488 "Cannot render execution_count = 21 cell after reopen ipynb file (jupyterlab-3.1.0a13)"
## Description
Execute notebook cells step by step and then save it.
After reopen it , the 21st execution cell cannot be rendered.

![image](https://user-images.githubusercontent.com/4241017/123438338-2b9eb780-d603-11eb-8219-e0cd4d816a93.png)

## Reproduce
Download the sample.ipynb file and open it on jupyterlab-3.1.0a13:
https://raw.githubusercontent.com/jenghung/files/master/sample.ipynb

![imag

[2021-06-25 15:14] gereleth commented on #8252
I tried to take a stab at this.

I looked at the [`packages/notebook/src/actions.tsx > hideOutput`](https://github.com/jupyterlab/jupyterlab/blob/105c72631e5d7c248a3cbee8024e880410b51685/packages/notebook/src/actions.tsx#L1202) function. Turns out it already has correct scrolling behaviour. So if you scroll down a long output of a selected cell, then go to the menu and click "View > Collapse Selec

[2021-06-25 16:00] krassowski commented on #10435
The reproduction for the lost cell is in https://github.com/jupyterlab/jupyterlab/issues/10488.

[2021-06-25 16:10] jasongrout commented on #4292
The other thing to try updating is your browser (or try a different browser). At times, for example, bugs in Firefox have made a dramatic difference in performance.

[2021-06-25 16:13] richardkang112 opened #10489 "handlePaste is not a valid property in Advanced Settings Editor"
## Description

'[additional property error] handlePaste is not a valid property' message is displayed when I go to 'Advanced Settings Editor -> Text Editor' after enabling 'Indent with Tab' option. It seems 'Indent with Tab' doesn't get applied due to the error.

![image](https://user-images.githubusercontent.com/50002894/123454485-9d98e180-d5ae-11eb-8e4c-4df60b60a1ca.png)

## Reproduce

1. Enabl

[2021-06-25 16:20] krassowski commented on #8252
Thank you for looking into it @gereleth. I had a quick look and realised that not all cells belong to notebooks - some cells are displayed in the console instead and some are even used as standalone cells in debugger dialog window. Also, the `@jupyterlab/cells` does not depend on `@jupyterlab/notebook`, but the `@jupyterlab/notebook` depends on `@jupyterlab/cells`.

An easy way out would be to try

[2021-06-25 16:36] krassowski commented on #10489
Thank you for the report. It looks like a duplicate of https://github.com/jupyterlab/jupyterlab/issues/9411.

The good news is that there already is a pull request open with a fix that may be included in 3.1.

 Do you think that we can close this one and keep tracking the progress in https://github.com/jupyterlab/jupyterlab/issues/9411?

[2021-06-25 16:39] krassowski commented on #10488
Thank you for testing the alpha release and providing this bug report - it is really useful!

[2021-06-25 17:16] uncrayon commented on #3964
@Nanguage I had the same problem before with jupyter lab. Do you have updated nodejs? Had you update alredy npm?

[2021-06-25 19:04] mlucool commented on #4292
For those commenting on slowness, it would be helpful to know:
1. Size/shape of notebooks (e.g. # of cells, types of output)
2. How long it takes to do the action which you perceive as slow (in s)

[2021-06-25 19:25] richardkang112 commented on #10489
@krassowski I'll close this issue. Thank you.

[2021-06-25 19:25] #10489 closed

[2021-06-26 10:58] gereleth commented on #8252
Importing from `@jupyterlab/notebook` in the `cells` package gives multiple ts errors like `error TS5055: Cannot write file '.../jupyterlab/packages/cells/lib/collapser.d.ts' because it would overwrite input file.` I guess it doesn't like the circular dependency between `notebook` and `cells`. So that way is probably out.

Emitting/handling signals makes sense, but I'm not sure how to implement th

[2021-06-26 11:46] krassowski commented on #8252
It's a good idea, I like it. On one hand, we already use this approach of `scrollIntoViewIfNeeded` when scrolling in debugger, on the other I am not sure how it would interact with the virtual notebook (in short the idea is that we will soon only render a fraction of cells that are currently visible to improve performance of rendering long notebooks).

The idea of using `scrollIntoViewIfNeeded` on

[2021-06-26 17:59] richardkang112 commented on #1281
Hello everyone. I am trying to add cm-show-invisibles addon to Jupyterlab's Codemirror instance, and it looks like this:

![image](https://user-images.githubusercontent.com/50002894/123521694-30f11600-d686-11eb-8300-aa61a493d6a1.png)

Would this be useful for the issue?

[2021-06-27 11:54] astrojuanlu commented on #9523
Related: https://github.com/jupyterlab/jupyterlab/issues/7776 https://github.com/mwouts/jupytext/issues/271

[2021-06-28 08:08] #10424 closed

[2021-06-28 08:08] hoishing commented on #6347
@jasongrout I understand your concern. However these complications hindered the implementation of such handy feature. If put it in a simple and naive way, what I expect for the toggle function is just collapse those expanded and expand those collapsed for the selected cells. Its simply what "toggle" means.

[2021-06-28 09:43] gereleth commented on #10473
It's possible to change this through settings.
Select "Settings > Advanced Settings Editor" from top menu.
Then choose "Notebook" on the left and look for `markdownCellConfig` in the System Defaults. You'll see that it has `"autoClosingBrackets": false`. You can set that to `true` in User Preferences like this:

[code]

Here's a screenshot showing the relevant settings:

![Screenshot_2021-06-28 se

[2021-06-28 10:48] icankeep commented on #5382
Great feature!
I really want to know in which version this issue #9621 can be solved

[2021-06-28 12:39] echarles commented on #10139
Here is what Visual Studio code shows when debugging a python file. I don't see a list of loaded sources. Some paths are mentioned via some variables

<img width="1611" alt="Screenshot 2021-06-28 at 14 30 26" src="https://user-images.githubusercontent.com/226720/123637753-aabc0780-d81e-11eb-843f-aced43894285.png">

[2021-06-28 13:22] jacobtomlinson opened #10496 "TOC add option to include or not titles from cell outputs"
## Description

In Dask Distributed we recently improved our rich HTML reprs for a few objects. However it appears that some of these objects use `<h1/2/3>` elements in their reprs and they are being listed in the toc.

xref https://github.com/dask/distributed/issues/4949

![image](https://user-images.githubusercontent.com/1610850/123643170-06d15c80-d81c-11eb-91b8-14644a746922.png)

## Reproduce

[2021-06-28 13:47] marvinbernhardt opened #10497 "Using debugger with xeus-python from separate env"
## Description

I have my jupyter packages in one conda environment.
In other conda environments I install and register ipykernels, which worked fine so far.
However I can not get the debugger to work with xeus-python and ipykernel installed in a separate environment. Is this supported?

## Reproduce

1. Install jupyter lab in one env called jupyter
2. Install xeus-python and ipykernel in a second

[2021-06-28 14:22] Mycron commented on #10487
Hi! I've got the same trying to compose Jupyterlab as environment module (with Lmod).
My context is:
OS: Red Hat Enterprise Linux Server release 7.8
Jupyterlab: 3.0.16
NodeJS: 14.17.1, (also got the same result with 12.19.0)
Extensions to install: jupyterlab_widgets(1.0.0), jupyterlab_git(0.30.1), nbdime(3.1.0), qgrid(1.3.1)

[2021-06-28 14:35] krassowski commented on #10487
It looks like something which is not specific to JupyterLab: https://stackoverflow.com/questions/64413433/webpack-serve-giving-invalid-regular-expression-error. One [answer](https://stackoverflow.com/a/64712032/6646912) recommends updating webpack-cli to 4.2.0; could you try doing so and see if it solves the problem, please?

By the way I would recommend migration to federated version of extension

[2021-06-28 14:50] alexlenail commented on #10473
Thanks for this!

I'd advocate this be the default, but if that doesn't seem right, then please close this issue.

Strangely, I'm not able to open the advanced settings editor at the moment -- clicking it or using the shortcut both don't work -- but that seems like something I need to sort out myself.

[2021-06-28 15:45] ian-r-rose commented on #10496
Thanks for the report @jacobtomlinson. This is a deliberate feature from the early days of the ToC extension (see the now archived https://github.com/jupyterlab/jupyterlab-toc/pull/16), though one that not everyone likes. The idea was for users to be able to generate TOC entries with code, so we also sniff the cell outputs for header-ish material. It's probably worth making the behavior configurab

[2021-06-28 15:58] #10214 closed

[2021-06-28 21:55] jasongrout commented on #6347
So it would invert the state for each cell individually? I think that makes sense in one way, but I can imagine it would be awkward from a workflow perspective. If the goal (from above) is to quickly toggle everything but not take up two shortcuts, my guess is making everything consistent in the first toggle is a widely-used pattern.

I think this makes sense as well and gives a very natural workf

[2021-06-28 22:10] jasongrout commented on #10496
Good to hear from you @ian-r-rose! I hope things are going well.

I would expect the same thing by default, since in general the notebook author is in control of the markdown cells, but is not (directly) in control of the outputs generated by libraries, etc.

[2021-06-28 22:19] jasongrout commented on #10473
Interestingly, we've just concluded conversation over the last several years about changing this setting to 'false' by default. See #9488, https://github.com/jupyterlab/jupyterlab/issues/5741

[2021-06-28 22:25] jasongrout commented on #10473
Also, I don't think having autoclosing brackets off necessarily precludes having automatic link insertion.

One of my favorite markdown editing features in other editors is being able to select some text and paste, and if the text in the clipboard is a link, the selected text turns into a link rather than having the clipboard replace the selected text. I'd love to see that supported too.

[2021-06-28 22:41] alexlenail commented on #10473
ha! Well I'm happy so long as I can turn autoclose on.

[2021-06-28 22:41] #10473 closed

[2021-06-28 23:26] rhedak opened #10499 "Jupyterlab doesn't find the correct version of nodejs: Says to install >= 12 even though I have 14"
## Description

I've installed jupyterlab 3.0.16 on Ubuntu 18.04
I then tried to install @jupyter-widgets/jupyterlab-manager but I got the error

"Please install nodejs >=12.0.0 before continuing. nodejs may be installed using conda or directly from the nodejs website."

But I have nodejs v14.17.1 installed...

## Reproduce

1. Install nodejs v14.17.1, jupyterlab 3.0.16 on Ubuntu 18.04
2. Try to i

[2021-06-29 07:22] fcollonval commented on #10497
Hey @marvinbernhardt have a look at the documentation of xeus-python to install that kernel: https://xeus-python.readthedocs.io/en/latest/installation.html#installing-the-kernel-spec

[2021-06-29 07:26] fcollonval commented on #10499
Hey @rhedak

Since JupyterLab 3, you don't need to install nodeJS to get most extension working. In particular, you do not need it for ipywidgets. Simply run

[code]

Then you can check `@jupyter-widgets/jupyterlab-manager` is installed by running:

[code]

[2021-06-29 07:46] fcollonval commented on #10488
Thanks for testing @jenghung

i'm unfortunately unable to reproduce; tested on
- Chromium Version 90.0.4430.212
- Firefox 88.0.1
OS Debian 11.0

[2021-06-29 08:01] rhedak commented on #10499
Thank you it worked! I wonder why I get the error when I try to do it from the GUI then?

can you help me out how to install the other extensions by code? E.g. @jupyterlab/toc-extension

[2021-06-29 08:06] krassowski commented on #10496
I would like this to be configurable too. I have notebooks where I want it to include the headings from outputs, and notebooks where I want it to skip them. Nevertheless we could ignore headings with special class name, e.g.

[code]

This could also help if a user wants to skip a specific heading in the notebook. What do you think about this idea?

[2021-06-29 08:10] fcollonval commented on #10499
ToC is part of JupyterLab since v3.

[2021-06-29 08:36] krassowski commented on #10488
Repro on master (actually on fcollonval:ft/e2e-docker as it had a binder ready faster):

![repro](https://user-images.githubusercontent.com/5832902/123764848-1359c180-d8bd-11eb-8ef9-a603592e8eaa.gif)

It's very pesky bug it did not show up on the first try, showed on the second open of the file (but I did not have the recording tool) and then it did not show for the next ~13 trials; only showed up

[2021-06-29 08:59] jacobtomlinson commented on #10496
This functionality [took me by surprise](https://en.wikipedia.org/wiki/Principle_of_least_astonishment), so my preference would be for the TOC to only use markdown outputs by default. Having a configurable option to include code cell outputs could be useful for those that like the feature.

I also like the idea of having a class to explicitly exclude headings from the TOC. This is something we cou

[2021-06-29 09:05] marvinbernhardt commented on #10497
Thank you so much!

[2021-06-29 09:05] #10497 closed

[2021-06-29 09:10] fcollonval opened #10501 "Kernel actions hooks"
### Problem

The current implementation of the debugger is agnostic to the notebook (or any document). It is only linked to the kernel that holds the debugger state. This raises some questions on how to customize kernel actions triggered by other extensions (in particular the notebook):

- The notebook toolbar buttons :arrow_forward: and :stop_button: are behaving _surprisingly_ when debugging as

[2021-06-29 10:17] fcollonval opened #10502 "Debugger in broken state"
## Description

The debugger can be in a broken state that results in the toolbar buttons not to appear.

![debug_feat_missing](https://user-images.githubusercontent.com/8435071/123780062-1495e900-d8d3-11eb-8b76-5a9ef33de9ac.gif)

## Reproduce

1. Open a notebook
2. Start the debugger
3. Set a breakpoint
4. Run the cell with the breakpoint
5. Hit `Terminate`
6. Close the notebook without saving
7.

[2021-06-29 10:40] fcollonval commented on #10502
Ok there is a kernel issue implied (ipykernel v6 rc2):

[code]

The tested cell is:

[code]

with the breakpoint set at `c = a + b`.

That said - the frontend should be resilient to that.

[2021-06-29 12:46] StefanBrand opened #10504 "Jupyter labextension does not find extension from kernel's conda env"
## Description

I install a JupyterLab extension via mamba in an environment other than the one where JupyterLab is installed. Then I install this environment as a new kernel. The extensions installed in this environment cannot be used in the notebook's kernel.

## Reproduce

1. `docker run -p 8888:8888 jupyter/base-notebook jupyter lab`
2. `docker exec -it <container-id> bash`
3. `mamba install -

[2021-06-29 12:58] Mycron commented on #10487
Hi, @krassowski ! Thank you for your attention!
I saw this topic on Stackoverflow, but their receipt didn't fit for me - I've got the same result with webpack@4.42.0 webpack-cli@3.3.11 or just webpack-cli@4.2.0.
Generally I'm trying to install **nbdime@3.1.0** extension by **pip install nbdime** , but as of [nbdime documentation](https://nbdime.readthedocs.io/en/latest/installing.html) saying me t

[2021-06-29 13:31] krassowski commented on #10487
@Mycron no, you do not need to run `nbdime extensions --disable` (this is for disabling the extension). Please just run:

[code]

which should first remove the extension installed using the old extensions system and then install the new version using the new system. If this does not help then share the output of:

[code]

[2021-06-29 13:45] Mycron commented on #10487
Yes, sorry!
I meant `nbdime extensions --enable`

[2021-06-29 13:48] Mycron commented on #10487
When running Jupyterlab session, I see in log these lines

It's a cause why I'm trying to invoke previous command

[2021-06-29 14:29] rhedak commented on #10499
Thank you very much. I'll close this issue then.

[2021-06-29 14:29] #10499 closed

[2021-06-29 15:50] #10428 closed

[2021-06-29 16:51] Mycron commented on #10487
Sufficient progress while searching possible cause of this issue.
@pelacables , check if your NodeJS was built with libICU support.
I've rebuild my NodeJS 14.17.1 with
` configopts = [
    '--with-intl=system-icu',
    '--shared --with-intl=system-icu',
 ]
` and this error is gone, while executing `'jupyter lab build'`

[2021-06-29 19:01] agoose77 commented on #10504
As far as JupyterLab is concerned, the kernel is separate from the frontend. This is by design; kernels don't need to be installed into virtual environments (or even conda environments), they just need to have a kernelspec installed into the right location (which you are doing manually).

Because of this separation, it is (in my opinion) unlikely that this will ever be changed to fulfil your use c

[2021-06-29 20:35] jasongrout commented on #10504
Elaborating on this: the frontend and its extensions serve many kernels. If the kernels have different extensions, or conflicting extensions, it's not clear what should be loaded and how to handle conflicts. I agree in general this is unlikely to change in the architecture. Right now, the frontend environment is the one that determines what extensions are loaded.

In your specific case, it sounds

[2021-06-30 00:33] jasongrout opened #10506 "Importing coreutils errors on process.argv"
## Description

The JLab `coreutils` package has a number of utilities, such as the URLExt utilities for dealing with URLs. However, importing the coreutils package imports its pageconfig module, which in turn populates the `deferredExtensions` and `disabledExtensions` variables from config on the page or trying to get a command-line variable: https://github.com/jupyterlab/jupyterlab/blob/8c15f776

[2021-06-30 08:17] fcollonval commented on #10504
Small note, the configuration parameter `extra_labextensions_path` could be used to address this (not tested):

https://github.com/jupyterlab/jupyterlab_server/blob/8bcdf52a06bd81e649825e153a3f93947064fe23/jupyterlab_server/config.py#L198-L200

In your case, you could try:

[code]

[2021-06-30 08:28] Carreau opened #10508 "SciPy 2021 Plenary session updates."
Apologies for the slightly off-topic issue,

I'm gathering all project updates from Jupyter to prepare a 5 minutes updates for the SciPy plenary session.

The discourse thread is here, but does not seem to have seem many updates WRT Jlab.:

https://discourse.jupyter.org/t/scipy-tools-plenary-session-at-scipy-2021/9567/3

We only have 5 minutes for all of Jupyter, so if one of you could post a mini

[2021-06-30 09:09] StefanBrand commented on #10504
@fcollonval Thank you for the command. It actually works for our use case :+1:

[2021-06-30 09:20] agoose77 opened #10509 "Restore edit mode after command"
I prefer to use keyboard shortcuts in most applications, and the workflow in JupyterLab is great. I do, however, find using commands in edit mode to be slightly long-winded; e.g. to change a cell to Markdown whilst in edit mode requires
* <kbd>Esc</kbd>
* <kbd>M</kbd>
* <kbd>Enter</kbd>

I wonder how difficult it would be to use <kbd>Esc</kbd> as a modifier, whereby the Edit mode is restored upon

[2021-06-30 09:21] RobinL commented on #9878
Some Vega examples are also broken - for example the [les mis force directed example](https://vega.github.io/editor/#/examples/vega/force-directed-layout)

The error in this case is:

[code]

It seems to be a problem with the bundled javascript

Here's a [spec](https://gist.github.com/RobinL/b1d8b7ebb1b09f5132de7fbc28e1e52a) with data inlined for easy copy-pasting.  You can view it in the vega edi

[2021-06-30 09:25] RobinL commented on #9878
I'm not an expert, but it feels like this could be a problem with webpack, perhaps similar to:
https://github.com/jupyterlab/jupyterlab/issues/8655

[2021-06-30 10:27] #10506 closed

[2021-06-30 11:22] agoose77 commented on #10508
Is it within scope of the talk to mention the new federated extensions? I wouldn't imagine it needs to be a lengthy conversation, probably just want to mention the highlights
* zero build installs (no need for Node)
* single-package installs (via PyPI, conda-forge, etc.)

[2021-06-30 12:18] krassowski commented on #10508
Additional things to consider as worth mentioning:

- RetroLab as an official remix of JupyterLab catering to users feeling more comfortable with classic layout
- ongoing effort to improve performance, testing of 3.1 pre-releases (or release depending where we will be at) welcome
- ongoing effort to improve accessibility (in a multitude of ways, but color contrast and keyboard navigation may be of

[2021-06-30 13:54] RobinL commented on #9878
Note that simpler Vega specs work fine - example below:

<detail>
[code]
</detail>

[2021-06-30 16:44] krassowski commented on #9590
Could it be also the cause of https://github.com/jupyterlab/jupyterlab/issues/10195?

[2021-06-30 16:49] jasongrout opened #10513 "3.1 Release Plan"
We are currently in 3.1 beta phase.

We are planning on releasing the first release candidate, 3.1rc0, on July 12, 2021, with a final release to follow soon after. All known PRs and issues affecting JupyterLab code should be resolved by July 12 or bumped to the 4.0 milestone.

Update: we made the first release candidate, [3.1.0rc1](https://pypi.org/project/jupyterlab/3.1.0rc1/) on July 13, 2021.

[2021-06-30 16:54] isabela-pf commented on #9819
Thanks!

[2021-06-30 16:55] isabela-pf commented on #9819
Thanks!

[2021-06-30 16:58] jasongrout commented on #9819
Looks like we have not updated past webpack 5.37.1 yet in master.

[2021-06-30 17:02] kolibril13 opened #10514 "Keep size of Titlebar when pressing "x"."
https://user-images.githubusercontent.com/44469195/124001368-d84ab180-d9d4-11eb-95cf-7812e5c7fcc2.mov

### Problem

I would like it if the "x" Button would not change position when having lots of open notebooks. Currently, it is moving (see movie).

### Proposed Solution

The Titlebar could only expend, when the mouse is moving, as it is the case in Google Chrome (see second part of the video)

[2021-06-30 19:47] #9819 closed

[2021-06-30 22:21] noahsprent commented on #4767
Quick note to anyone who finds it useful, the command ID for `Open from Path` is now `filebrowser:open-path`.

[2021-06-30 23:09] wmayner commented on #5895
Would also love to see this feature!

[2021-06-30 23:36] jasongrout commented on #10509
When you say Esc + M, do you mean you are holding down escape and M at the same time?

The keyboard shortcut system does support shortcuts that are sequential key presses. However, that will introduce a delay in the action in the usual case, since after pressing escape, it needs to wait for the timeout to see there are no other keys before the action can occur.

Escape is not treated any different

[2021-07-01 05:23] set92 commented on #9621
I think this is a duplicated of #4237, not sure which one you want to keep.

[2021-07-01 07:25] fcollonval opened #10521 "String variable not displayed in debugger variable tree view"
## Description

when turning on the debugger, strings are not displayed in the variables panel.

![string_in_tree_view](https://user-images.githubusercontent.com/8435071/123937573-969b1600-d996-11eb-904e-5c03e81369dc.gif)

After investigating, the error comes from the code removing quotes for string before displaying them. But the string variable have quotes only in the debugger line-by-line. When

[2021-07-01 07:28] fcollonval commented on #10514
Thanks for the proposal.

If someone wants to tackle this. It requires changes in [lumino](https://github.com/jupyterlab/lumino) project.

[2021-07-01 07:32] jtpio opened #10522 "Failing CodeQL check on CI"
We should check what is happening with the CodeQL check (javascript) now failing on CI:

https://github.com/jupyterlab/jupyterlab/runs/2956252150

Looking at the commits on `master`, it seems to have started with the `3.1.0b0` commit: 50ec56bea3ee8c00c20083da8c3768e51508baba

[2021-07-01 07:59] pelacables commented on #10487
Thanks, I'll give it a try later today but, did that fix the issue?

[2021-07-01 08:14] StefanBrand commented on #10504
I'm now trying to employ the `jupyter_lab_config.py` to set the `extra_labextensions_path`. I see multiple configuration options that seem relevant:

[code]

I have some questions:

1. Where to put the `jupyter_lab_config.py` so that it is applied automatically? The home directory is not an option as it is being mounted into the container in our JupyterHub setup.
2. What's the difference between t

[2021-07-01 08:17] Mycron commented on #10487
Yes, for me it's a final solution to solve this issue

[2021-07-01 08:19] Mycron commented on #10487
Of course, you have 2 options here:
* install libicu in a system
* use ICU module as a dependency for NodeJS

[2021-07-01 08:38] agoose77 commented on #10504
If you run `jupyter --paths` in a terminal, you will be presented with a breakdown of the various locations that Jupyter uses for configuration and data.

You can place a configuration file in any of the `config` locations and it will be picked up by to configuration system. From looking at the source again, if you have multiple configurations, all will be considered, but higher priority configs w

[2021-07-01 09:14] echarles commented on #10139
Did a quick try to send a `LoadedSource` request (https://microsoft.github.io/debug-adapter-protocol/specification#Requests_LoadedSources). With both xeux and latest ipython, I receive `Unhandled: on_loadedsources_request not available in PyDevJsonCommandProcessor.`

[2021-07-01 10:20] StefanBrand commented on #10504
Thank very much you for the comprehensive write-up! :heart:

We ended up copying `jupyter_lab_config.py` to `/etc/jupyter/` within the Dockerfile(s).

The  `jupyter_lab_config.py` would look like this (in the context of this issue and its OP):

[code]

This is the actual commit that contains the change for our use case: https://github.com/eurodatacube/base-images/pull/4/commits/bbf9bf25e4ee1088eb1

[2021-07-01 10:21] #10504 closed

[2021-07-01 11:23] krassowski commented on #10522
I opened https://github.com/github/codeql/issues/6190

[2021-07-01 11:24] fcollonval commented on #10504
Thanks @StefanBrand for sharing your findings.

[2021-07-01 11:35] fcollonval commented on #10139
The feature (id `supportsLoadedSourcesRequest`) is unfortunately not available in debugpy:

https://github.com/microsoft/debugpy/blob/2ae7dc96ecc4ca73b119c2056284d203afa10afd/src/debugpy/adapter/servers.py#L239

[2021-07-01 13:12] fcollonval commented on #10522
The error arises when parsing:

https://github.com/jupyterlab/jupyterlab/blob/c957e3f2b9a31f819a28a99cbbbfd1d08abaea21/packages/services/src/kernel/messages.ts#L134-L150

The error `Maximum call stack size exceeded` arises usually when recursive calls hit a certain limit. So I guess the template couple with `as T` is bringing problem. But why now and not before, I had no idea.

[2021-07-01 13:21] agoose77 commented on #10509
I was thinking of a release modifier, which I don't think we currently support. The idea would be that the <kbd>Esc</kbd> key enters command mode on hold, and leaves on exit. To integrate this with the existing behaviour, this new feature would only apply if any additional keys are depressed whilst <kbd>Esc</kbd> is held.

[2021-07-01 13:50] pelacables commented on #10487
@Mycron  thanks a lot, I managed to build it. But the extension is not listed yet:

[code]

@krassowski what config file is missing?

[code]

a bit of explanation on what lab is looking for?

(BTW, I've downgraded jupyterlab to version 2).

[2021-07-01 16:21] Mycron commented on #10487
@pelacables , please take a look for your config paths. It might be a problem here that when you are building Jupyterlab, you are possibly using its config directory, but when you are running Jupyterlab you are using only system(/etc/jupyter, /usr/local/etc/jupyter), user(/home/x2bioc/...) and Python module specific paths, not Jupyterlab's one

[2021-07-01 16:25] Mycron commented on #10487
I found interesting docs related to additional Jupyterlab configuration
https://jupyter.readthedocs.io/en/latest/use/jupyter-directories.html

[2021-07-01 16:31] jasongrout commented on #10509
We don't treat escape as a modifier, i.e., there is no way in the shortcut system right now to ask for a shortcut that is esc and m being held down at the same time. The shortcut system [closely follows](https://github.com/jupyterlab/lumino/blob/b71e3ba2ceb0a37d25cde02022f72154e1ff2d10/packages/commands/src/index.ts#L898-L901) the browser capabilities, and only uses a subset of the [browser-recogn

[2021-07-01 16:37] jasongrout commented on #10509
What maybe could work right now is pressing shift-escape (or modifier-escape) to jump to edit mode for one command. For example, we could define ["Accel Escape", "M"] for changing the current cell to markdown and jumping back to edit mode.

Or I think if there were popular commands that need to be done in edit mode, we could just define edit mode shortcuts directly. For example, we could just defi

[2021-07-01 16:40] jasongrout commented on #10509
I too find myself often a bit frustrated with inserting a new cell, starting to type, realizing it is the wrong type, then spending a second or two switching the type with several keystrokes. For this particular case, we could do what many other notebook platforms do and make inserting a markdown cell a separate command, e.g., A/B insert a code cell, while Accel-A/B insert a markdown cell, for exa

[2021-07-01 20:08] dnabb commented on #9311
Hello,

As a side note, would you mind articulating how / where you are adding ```display: inline-block```?

I've been trying to work around the issue adding it inline to the relevant ```<table> ``` tag, but any styling added this way seems to be ignored by Jupyterlab?

[2021-07-01 21:37] krassowski opened #10525 "Restore test for kernel that does not support debugger"
## Description

`js-debugger` tests [started failing](https://github.com/jupyterlab/jupyterlab/pull/10519/checks?check_run_id=2957338995#step:9:31729) as can be seen on #10519 and #10524 on "Debugging support" → `#isAvailable` → `should return false for kernels that do not have support for debugging`. This is likely due to `ipykernel` 6 release:

https://github.com/jupyterlab/jupyterlab/blob/dbdef

[2021-07-02 02:47] Nanguage commented on #3964
It's not works for me, still have this bug after update node and npm.

[2021-07-02 05:20] uncrayon commented on #3964
@Nanguage do you have the node lts version? I had to install manually the package (I use debian), the apt-get version was deprecated.

Also, do you use anaconda or did you install jupyter lab via pip? Do you use an env?

[2021-07-02 06:07] echarles opened #10526 "Better test coverage for the virtual notebook behavior"
### Problem

The virtual notebook renders some cells in a lazy way which is not easy to test.

We should have a way to test that behvior.

### Proposed Solution

TBD

### Additional context

https://github.com/jupyterlab/jupyterlab/pull/10505

[2021-07-02 08:02] echarles commented on #10435
Fixed with https://github.com/jupyterlab/jupyterlab/pull/10505

[2021-07-02 08:02] #10435 closed

[2021-07-02 08:02] echarles commented on #10488
Fixed by https://github.com/jupyterlab/jupyterlab/pull/10505

[2021-07-02 08:02] #10488 closed

[2021-07-02 09:18] pelacables commented on #10487
The build issue is fixed. My config problem (related to the specific extension) has nothing to do with the original issue anymore.
I close the issue. Thanks @Mycron for your help.

[2021-07-02 09:18] #10487 closed

[2021-07-02 13:50] mdbecker commented on #2833
It looks like #5382 is closed. Has this issue already been addressed?

[2021-07-02 15:04] pnfnp commented on #3964
In my case it's always happening when I'm trying to save after displaying a `plotly` figure.

[code]
<img width="767" alt="image" src="https://user-images.githubusercontent.com/38131266/124293898-69499600-db57-11eb-8615-d58181a30d23.png">

nodejs and npm ☑️

[2021-07-02 15:06] pnfnp commented on #3964
For me it's always happening when I try to save the file after showing a `plotly Figure`

nodejs and npm ✅

<img width="685" alt="image" src="https://user-images.githubusercontent.com/38131266/124294283-c9d8d300-db57-11eb-828f-41cc57591f85.png">

[2021-07-02 15:22] fcollonval opened #10528 "Docker image for ui-test not using the latest js files"
The jupyterlab docker image for ui tests is not building correctly the python package. This is not using the latest version of the js files.

[2021-07-02 15:28] ManPython opened #10529 "ImportError: The Jupyter Server requires tornado >=6.1.0"
## Description
Trying run app
`jupyter lab --ip=127.0.0.1 --port 7777`
I have error, that not have sense, coz exist reqiments
`ImportError: The Jupyter Server requires tornado >=6.1.0`

## Reproduce

Error what I got:

[code]

## Expected behavior
Run jupyterlab

## Context

- Operating System and version: LNX
- Browser and version: FF
- JupyterLab version: 3.0.16

[code]
<details><summary>Trouble

[2021-07-02 15:47] fcollonval commented on #10529
Hey @ManPython could you delete and recreate your virtual environment? It looks like a strange interaction that will be really though and specific to your installation to tackle.

[2021-07-02 16:56] krassowski commented on #10522
CodeQL team will be updating TypeScript to address this problem, but it may need ~two weeks before ending up in production, see: https://github.com/github/codeql/issues/6190#issuecomment-872900115

Should we just ignore this file for now?

[2021-07-02 17:07] ManPython commented on #10529
You mind `/./.venv/p37lib/` not  `/./.venv/p37/lib/` ? It's my mistake of replacing string due long path.

[2021-07-02 17:31] ManPython commented on #10529
Also I broken more..
I uninstalled tornado, and got problem with `ImportError: cannot import name 'gen' from 'tornado' (unknown location)`
Then I copied tornado from other venv.

[code]
Then
[code]
https://github.com/nteract/papermill/issues/486

[2021-07-02 17:32] ManPython commented on #10529
This issue can be closed I think. Don't know what reason was for this exactly but solved. ;]

[2021-07-02 17:35] meeseeksmachine commented on #10501
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/detect-kernel-restart-inside-extension/8970/3

[2021-07-02 17:58] ManPython opened #10530 "AttributeError: module 'nbconvert.exporters' has no attribute 'WebPDFExporter'"
On jupyter lab exist this same issue, but can't find the related handler to change.
https://github.com/jupyter/nbconvert/issues/1602

[2021-07-02 20:58] krassowski commented on #10472
Well, apparently this is not related to shortcut/context menu but to using <kbd>Enter</kbd> or mouse to select the button.

It turns out that selecting the button using keyboard <b>never worked</b> in 3.0 (and possible even earlier), this is always the default button was used regardless of which button was focused :facepalm:. Example on 3.0:

![it-was-always-broken](https://user-images.githubuserc

[2021-07-02 22:06] davidbrochart opened #10533 "Widget don't show the first time with akernel"
## Description

[akernel](https://github.com/davidbrochart/akernel) is a new Python kernel which supports Comms. Widgets have to be created twice in order to work in Jupyter Lab (they don't display the first time), although it works fine the first time in the Classic Notebook. The issue could be in akernel, but since it works fine in the Classic Notebook, I am not sure.

## Reproduce

1. Create a

[2021-07-02 22:15] krassowski commented on #10440
Thank you both for the feedback, I think I get what you say.

Yes, lets consider the following scenario:

1. user is editing a cell deep in the notebook
2. user presses <kbd>Esc</kbd> out of habit
3. user presses uses a keyboard shortcut to open file browser; by default it is <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>F</kbd> which may not be as handy for users of specific devices/assistive technol

[2021-07-02 22:25] krassowski commented on #8252
Fixed in #10491 thanks to @gereleth, it will be available in 3.1 :tada:. Here is how it looks:

![scroll-ok](https://user-images.githubusercontent.com/5832902/124333603-9d8b7980-db8c-11eb-95f5-74be7f736de6.gif)

[2021-07-02 22:25] #8252 closed

[2021-07-03 04:28] jasongrout commented on #2833
The first version of RTC will ship with 3.1 soon, and paves the way to addressing this issue in the future.

[2021-07-03 07:27] jasongrout commented on #6352
I'm hoping that with 4.0's planned move to codemirror 6, we can unify codemirror settings across the places codemirror is used in the codebase.

I would not tie the codemirror config to the 'interaction mode: notebook' setting - that was designed for changing how you could run code in the console, not how the code editor behaved. (I can see maybe we chose a name that was too generic?). In other wo

[2021-07-03 09:30] #10472 closed

[2021-07-03 09:46] blink1073 commented on #10456
Looks like this one is settled for now

[2021-07-03 09:46] #10456 closed

[2021-07-03 10:36] echarles commented on #10533
It never shows for me at first time for any kernel. I always have to refresh the page...

[2021-07-03 10:38] echarles commented on #10533
Sorry, I was meaning `I always have to run the cell to view the widget, it does not show up on the first page load`

[2021-07-03 11:34] davidbrochart commented on #10533
I think you are referring to a notebook that had a widget rendered and which was saved, then opened again. But in my case I'm starting from a new notebook and I actually run the cell, but I need to run it again to view the widget.

[2021-07-03 11:56] petrhrobar commented on #9583
As the matter of fact, it has already been implemented :D.

The solution is called `jupytext` and can e found [HERE.](https://github.com/mwouts/jupytext)

[2021-07-03 11:56] #9583 closed

[2021-07-03 13:38] aiqc commented on #9886
![image](https://user-images.githubusercontent.com/74990642/124356114-68117b00-dbe2-11eb-8aef-6aa0c8b7cb9f.png)
in pluto notebooks. no info about the shape though

[2021-07-03 18:28] drbarak commented on #2155
Here is a simple method:
1. Right click the out cell and choose 'view output full screen'
2. Press CTRL-A, CTRL-C (sometime you don't see anything, but after CTRL-A you will see the content highlighted)

[2021-07-03 20:40] krassowski commented on #2155
Thanks to everyone who contributed to the discussion here. As a context menu "Copy Output to Clipboard" option was implemented in #10282 and will be available in 3.1 soon (and this thread is getting long) I think we can close this issue.

If you have ideas for improving the current implementation, it would be best to open a separate issue to discuss those in more detail (please do mention this iss

[2021-07-03 20:40] #2155 closed

[2021-07-03 22:10] skyetim commented on #10496
If no one has taken this, I will have a go.

[2021-07-04 06:45] Marsdrummer commented on #5897
+1 on the request to make Lab act like Notebook in this feature. Also, the little ^ button via extension in the top nav bar to collapse is great.

[2021-07-04 07:30] #10529 closed

[2021-07-04 09:15] SamKacer commented on #10440
I don't think this would need to be overriden by changing the behavior of pressing the tab key. I think this could be just as a onfocus handler for the cell area specifically. just track active cell and onfocus, put focus on the active cell. Also better to do as onfocus instead of onkeydown tab since screen reader users have other ways to focus an element other than just tabbing to it.

[2021-07-04 10:23] blink1073 commented on #10496
Yes, please!

[2021-07-04 14:37] krassowski commented on #9583
Would the "Create Console for Editor" feature be of any help for you? It allows to execute selections with <kbd>Shift</kbd> + <kbd>Enter</kbd>:

![c](https://user-images.githubusercontent.com/5832902/124389090-8c9e4d80-dcdd-11eb-9909-440b08814a9d.gif)

[2021-07-04 20:59] lgautier opened #10538 "Can't change cell type to anything else than `code`."
## Description

The description is pretty much identical to the one for issue #2995. It seems like a return of it.

The selection menu for {code, Markdown, raw} appears broken. Either the selection menu disappears instantly (meaning that clicking on `code` displays only very briefly the drop-down with the other options, making the selection of anything impossible), or its stays long enough to allo

[2021-07-04 21:12] krassowski commented on #2995
A note from the future: the issue re-appeared in times of JupyterLab 3.x and Firefox 89; the cause is not yet established, but given a proliferation of duplicate issues I am here to leave a note that we are tracking this in https://github.com/jupyterlab/jupyterlab/issues/10189.

[2021-07-04 21:12] #2995 closed

[2021-07-04 21:14] krassowski commented on #10538
Hi @lgautier nice seeing you here. We are tracking it in #10189. I just noticed that the #2995 issue did not get updated with references to #10189 and subsequent duplicates (probably because it got locked) so this is a fourth duplicate; I just un-locked that one and commented to point to the new issue.

I had a go at fixing it last weekend but I did not come up with a solution. I wonder if this wa

[2021-07-04 23:59] lgautier commented on #10538
Thanks. I am closing this since this is a duplicate of  #10189.

[2021-07-04 23:59] #10538 closed

[2021-07-05 06:40] fcollonval commented on #10501
The pattern we used for the "copy shareable link" command in the file browser's context menu was to create a small targeted plugin that adds just that one command (this pattern could be used for a logical grouping of commands) and to have extension authors replace that extension with their own if they need: https://github.com/jupyterlab/jupyterlab/blob/master/packages/filebrowser-extension/src/ind

[2021-07-05 07:29] fcollonval commented on #10530
The related handler is in [jupyter_server](https://github.com/jupyter-server/jupyter_server/blob/a7153219352642781f8b6d01b33191fbbf4b115c/jupyter_server/nbconvert/handlers.py#L67).

[2021-07-05 07:29] fcollonval commented on #10530
Do you mind opening a PR there?

[2021-07-05 09:34] asteppke opened #10540 "Scroll bar jumps in 3.1.0b0"
## Description

When trying out the new beta version 3.1.0b0 and opening a notebook which works without problems in 3.0.16 the scroll bar jumps around and becomes unusable.

## Reproduce

In a longer notebook trying scrolling up and down. I cannot pinpoint the exact ingredients required to reproduce but here is a video showing the issue:

https://user-images.githubusercontent.com/5851636/124449580

[2021-07-05 09:37] krassowski commented on #10540
Thank you for the report. This was previously reported in https://github.com/jupyterlab/jupyterlab/issues/10428 and fixed in https://github.com/jupyterlab/jupyterlab/pull/10503; the next beta to be released this week will include this fix.

[2021-07-05 09:42] asteppke commented on #10540
@krassowski Thank you for the instant reply. I obviously used the wrong search terms and missed the previous reports. Looking very much forward to the next beta!

[2021-07-05 09:48] #10540 closed

[2021-07-05 09:52] iimog commented on #5382
I'd love to test this feature. But even when installing the current beta 3.1.0b0 and running `jupyter lab --collaborative` I don't have a "Share" entry in the main menu. Therefore, I'm unable to get the share link. Same problem if I clone and build jupyterlab from github. In the setting editor I see that there is no entry for "Share" in the "System Defaults", my "User Preferences" are empty (`{}`)

[2021-07-05 09:58] krassowski commented on #5382
Hi @iimog, to get the "Share" entry you also need to install `jupyterlab-link-share`, e.g. with pip:

[code]

or conda:

[code]

I wonder if it would be a good idea to include it by default in 3.1...

[2021-07-05 13:33] fcollonval opened #10541 "References are duplicated in tsconfig.test.json"
## Description

In `tsconfig.test.json` files like https://github.com/jupyterlab/jupyterlab/blob/master/packages/application/tsconfig.test.json package folders are duplicated.

[code]

Is there a reason for that or should this be fixed (I presume it is a consequence of the integrity script).

[2021-07-05 13:39] jtpio commented on #10541
Thanks, good catch :+1:

Looks like it might be coming from the following logic?

https://github.com/jupyterlab/jupyterlab/blob/2dbf25bf0e150fec3992697eaa84056ca236ea28/buildutils/src/ensure-package.ts#L309-L338

[2021-07-05 13:45] fcollonval commented on #10541
Ok I switch this to maintenance.

[2021-07-05 14:39] hbcarlos opened #10542 "Documentation outdated"
## Description
The section [Writing Documentation](https://jupyterlab.readthedocs.io/en/stable/developer/contributing.html#writing-documentation) on Read the Docs is outdated.

The documentation says we need to use `pip` to install the dependencies but the `docs/requirements.txt` file doesn't exist anymore, instead, there is a `conda` env file `docs/environment.yml`.

Also, once we have the depend

[2021-07-05 18:15] blink1073 commented on #10542
Fixed by #10543, thanks!

[2021-07-05 18:15] #10542 closed

[2021-07-05 18:49] dmonad opened #10544 "Persisting shared-models"
### Problem

After leaving a collaborative session in Jupyterlab 3.1a*, we always start a new collaborative session without retaining the editing history for that document. Internally, we use [Yjs](https://github.com/yjs/yjs) to build a shared model (e.g. YNotebook) that can be synchronized with other peers in real-time.

After all users left a session, the editing history of the Yjs model is lost

[2021-07-06 07:39] mlucool commented on #10448
This sounds like a great idea! Jupyter is sometimes used in regulated environments, where things like chat trigger regulatory obligations. To make this easier to use in those environments, I propose we make it possible to have log of all chats outside of the notebook itself (e.g. some function on the server which can be extended for custom logging).

In these environments there is also a need to a

[2021-07-06 08:08] sandboiii commented on #7715
I've spent entire evening trying to solve this problem, so I came up with this code:
[code]
This way I managed to display plot in JupyterLab

[2021-07-06 08:09] sandboiii commented on #7715
using `%matplotlib inline` should also work

[2021-07-06 09:03] fcollonval opened #10546 "Creating a new notebook does not pick up the preferred kernel."
## Description

#10510 change the behavior of JupyterLab when creating a new notebook as it will select `No kernel` by default instead of preferred kernel: (animation show try JLab with latest stable VS master)

![default_kernel](https://user-images.githubusercontent.com/8435071/124571340-fc304c00-de47-11eb-9494-4fe4a75d5dc8.gif)

## Reproduce

1. Create a new notebook File -> New -> Notebook
2. D

[2021-07-06 13:05] meeseeksmachine commented on #10508
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/scipy-tools-plenary-session-at-scipy-2021/9567/9

[2021-07-06 13:19] Carreau commented on #10508
I'd love if you can expand on the discourse thread, I'm not going to be the one presenting, and having a text for the presenter and something clearer for attendees; what the benefits are etc... would be a huge plus.

[2021-07-06 13:53] roboYou opened #10548 "Dependent package with vulnerability"
When scanning an image that contains jupyterlab with Trivy, it found vulnerability

`usr/local/lib/python3.7/dist-packages/jupyterlab/staging/yarn.lock
==================================================================
Total: 1 (HIGH: 1, CRITICAL: 0)

+---------------+------------------+----------+-------------------+---------------------+--------------------------------+
|    LIBRARY    | VULNERA

[2021-07-06 16:42] krassowski opened #10551 "Cells collapsed in notebook stay hidden after moving heading"
## Description

Cells collapsed in notebook stay hidden (/or in wrong place) after moving the cell with the heading.

## Reproduce

1. Collapse a heading that contains some extra cells below
2. Move the cell with the heading
3. See that the other cells disappeared

![lost-cell-after-drag](https://user-images.githubusercontent.com/5832902/124636876-f3a83780-de80-11eb-84cd-212e97eaf06c.gif)

## Expe

[2021-07-06 17:26] marthacryan commented on #10551
I think the most intuitive behavior would be to just move all of the hidden cells along with the heading

[2021-07-06 18:18] krassowski commented on #10259
Closing as implemented in https://github.com/jupyterlab/jupyterlab/pull/10493 (with slightly different in signal naming - see the discussion on the PR).

[2021-07-06 18:18] #10259 closed

[2021-07-06 18:24] #10521 closed

[2021-07-06 18:27] krassowski commented on #2814
This is now implemented, primarily by #10206, with follow up in #6859, #10280 and #10466. The shortcuts will be active by default and show up in the context menu (when opened over files) in the upcoming 3.1 release (now in beta).

[2021-07-06 18:27] #2814 closed

[2021-07-06 19:14] rleyvasal opened #10552 "Jupyterlab: Run Selected Text in Notebook"
### Problem

* I want to be able to execute selected code text inside a cell and see its output inside the Notebook.

* Currently there is an option in Jupyterlab to `Run Selected Text or Current Line in Console`. This functionality is inconvenient and takes longer to process because a new console window needs to be open to run the command and the option `Selected Text or Current Line in Console`

[2021-07-06 22:43] krassowski opened #10554 "Improve the user experience and awareness about prebuilt extensions"
### Problem

Many users find themselves trying to install extensions from source; this is not surprising especially given it was the only way for a long time and that the Extension Manager uses this approach.

Several extension authors who migrated to pre-built extensions either abandoned publishing source releases to NPM, or are unable to support troubleshooting errors in the built step following

[2021-07-06 23:11] krassowski commented on #10398
It appears that the solution may need to be implemented in JupyterLab and that would be to open the discourse in a new tab.

[2021-07-06 23:12] krassowski commented on #10439
Hi @cameron-toy just checking up on this, did you fix work or would you like me to take a look?

[2021-07-06 23:13] cameron-toy commented on #10439
@krassowski Ah, sorry! No, my fix did not work ): if you have time please take a look.

[2021-07-06 23:15] mlucool commented on #10554
I'll note some of the recent issues for `jupyterlab-execute-time` seem to be due to a broken install with our prebuilt module (https://github.com/deshaw/jupyterlab-execute-time/issues/44). I'm not sure yet if it's the extension, lab, or packaging, or a combo of all three (it works in dev and at least some combinations). Still outside of this issue, I agree it's pretty common to be confused of the

[2021-07-06 23:44] krassowski commented on #10554
I would love to see this happen (personally I don't have bandwidth to work on this though). I thought there was an issue for that but I cannot find it now. I guess https://github.com/jupyterlab/jupyterlab/issues/9538 is somehow related.

[2021-07-07 01:05] krassowski commented on #10439
Okey, so the chain of events is a bit complex. Here is my best idea of what is happening:

1. The completer has a mechanism of adding a partial match. Given two options: `test1`, `test2`, and starting string `t` it should complete (_select on a subset match_) `est` so the user gets `test` as a common prefix (a _subset_) of `test1` and `test2`. It seems to only kick in in some circumstances but not

[2021-07-07 01:21] krassowski commented on #10439
One way to see this is to say that the test cases:
- "should mark common subset on start and complete that subset on tab"
- "should mark common subset of completion items on start and complete that subset on tab"

Conflict with the "<kbd>Tab</kbd> as cycler" behaviour. But we can still have both; the solution would be to be a bit smarter in the step (3) and only announce the change if the `query`

[2021-07-07 01:52] krassowski commented on #10439
I opened a PR for the that, but we still need to resolve the second problem of occlusion on <kbd>Shift</kbd> + <kbd>Tab</kbd> (as shown on the `str.` example). Please let me know if you have any thoughts on that bit.

[2021-07-07 07:27] #10528 closed

[2021-07-07 07:27] #10546 closed

[2021-07-07 07:32] jtpio opened #10557 "`js-services` check failing on CI"
Looks like the `js-services` CI check is now failing more often than before, even though it is marked as "flaky".

Example run: https://github.com/jupyterlab/jupyterlab/runs/3003361817

Probably it has gone unnoticed until now because of the other CodeQL check also failing (https://github.com/jupyterlab/jupyterlab/issues/10522).

Scrolling through the commits on `master`, it started failing with h

[2021-07-07 07:35] yyf1986 opened #10558 "I can not install jupyterlab-language-pack-zh-CN"
when I use `pip install jupyterlab-language-pack-zh-CN`,
the comand output like
 `WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7fdfa108fe48>: Failed to establish a new connection: [Errno 101] Network is unreachable',)': /simple/jupyterlab-language-p

[2021-07-07 07:40] jtpio commented on #10525
Thanks for catching this.

Ideally we would continue testing the behavior with kernels that don't support debugging. But maybe the simplest for now would be to remove and skip that test?

[2021-07-07 08:00] hbcarlos opened #10560 "Share link button"
Regarding RTC, there is no button to copy the link and share it with other users, and as pointed out here, https://github.com/jupyterlab/jupyterlab/pull/10547#issuecomment-874979416, some users may find it confusing.

There is already a "Copy Shareable Link" entry on the context menu. But, when copying the link, this doesn't contain the token as the jupyterlab-link-share extension.

![share-link](

[2021-07-07 08:06] fcollonval commented on #10525
I'll try to tackle this one. It should be possible to use playwright request mock capability (if galata has no strange interaction with that).

[2021-07-07 08:14] psychemedia commented on #10554
Where the JupyterLab extensions manager lists a set of available extensions that a user *could* install (I'm not sure how this list is populated?), extensions may be listed that are not compatible with, or do not actually work in, the version of JupyterLab environment the user is using.

The classic notebook [`jupyter_nbextensions_configurator`](https://github.com/Jupyter-contrib/jupyter_nbextensi

[2021-07-07 08:24] fcollonval commented on #10560
There may be a conflict for Hub system in which that command is expected to return a link to a file to open it from a different user server.

[2021-07-07 08:38] fcollonval opened #10561 "Update debugger variable panel instead of closing it."
### Problem

For now, when an user opens variable panel, it is closed directly if the kernel state changes. It will be more interesting to let it open a refresh it to let the user see the evolution of variable (like it is done for a watch expression).

Follow-up of https://github.com/jupyterlab/jupyterlab/pull/10299

### Proposed Solution

Instead of closing the panel on variable changed event, a

[2021-07-07 08:45] hbcarlos opened #10562 "File title doesn't change when renaming files"
File title doesn't change in other clients when renaming files.

## Description
As you can see on the images, when renaming a file on the collaborative mode tab's title doesn't get updated.
Before renaming:
![rename-file-before](https://user-images.githubusercontent.com/26092748/124723504-6bbb3f80-df0b-11eb-9f2a-1bfcf01b55c9.png)
After renaming:
![rename-file-after](https://user-images.githubuserc

[2021-07-07 08:51] hbcarlos commented on #10560
Thanks, Frédéric!

If we add a new button, this might not be very clear for some users.
Maybe the best idea, for now, is to tell users to use this link for collaboration but sending the token apart.

[2021-07-07 08:56] jtpio commented on #10560
This was somehow the case for the `jupyterlab-link-share` extension, which used to get the token from the `PageConfig` directly.

But on the JupyterLab dev Binder there are actually two servers running: the front facing notebook server handling the authentication with the token, and the JupyterLab server running via `jupyter-server-proxy`. Linking to https://github.com/jupyterlab-contrib/jupyterla

[2021-07-07 09:16] jtpio commented on #10522
Sounds like we could yes. So we can have the CodeQL check green again while the upstream is being worked on.

[2021-07-07 10:35] #6667 closed

[2021-07-07 11:14] jtpio commented on #10557
It's probably related to the new `ipykernel` 6 which was released the same day: https://github.com/ipython/ipykernel/releases/tag/6.0.0

[2021-07-07 11:25] hbcarlos commented on #10560
Should we point users to `jupyterlab-link-share` extension in the documentation for Real-Time Collaboration or add it to lab core, as commented by @krassowski here https://github.com/jupyterlab/jupyterlab/pull/10547#issuecomment-874979416?

[2021-07-07 11:34] jtpio commented on #10560
Maybe we can indeed mention the `jupyterlab-link-share` extension as a way to share access to the same instance?

Not sure about moving it to core, as folks have many different ways of operating and running Jupyter Server instances (fixed password, no password), and it might be better to let them choose.

[2021-07-07 12:40] fcollonval opened #10565 "JupyterLabMenu is now a real Menu -> .menu missing breaks the api"
To remove JupyterLite out of the equation, I quickly tested with this gist and `jupyterlab==3.1.0b0` and it also seems to be happening on Binder:

- https://gist.github.com/jtpio/c54863279a09e6f2cd2c0216d55df5c2
- https://mybinder.org/v2/gist/jtpio/c54863279a09e6f2cd2c0216d55df5c2/master?urlpath=/lab

![image](https://user-images.githubusercontent.com/591645/124751529-05441a80-df27-11eb-8457-f911d

[2021-07-07 14:07] krassowski opened #10566 "Cannot navigate between cells when focused on output in 3.1.0b1"
## Description

After clicking on the cell output it is no longer possible to move between the cells using arrows keys.

## Reproduce

1. Create a cell with outputs
2. Try to focus the cell below or above using arrow keys
4. See that instead the notebook scrolls

![causes-scroll](https://user-images.githubusercontent.com/5832902/124773583-fb291880-df34-11eb-96b2-4a3bbca628b9.gif)

## Expected beha

[2021-07-07 15:31] GF-Huang commented on #4276
![image](https://user-images.githubusercontent.com/4510984/124787851-6b5a8d00-df7b-11eb-99c4-5e70b1166b9a.png)

stuck an hour.

[2021-07-07 16:12] #10227 closed

[2021-07-07 16:46] #10565 closed

[2021-07-07 17:36] krassowski commented on #10566
Removing `this.node.tabIndex = 0;` introduced in #10282 solves the problem.

https://github.com/jupyterlab/jupyterlab/blob/9b0e1d2b06cfa65b494c87049a386ea885a54b7a/packages/outputarea/src/widget.ts#L1112-L1122

@cameron-toy do you have an example situation for which setting the `tabIndex` was needed in order to focus the panel?

[2021-07-07 18:02] jasongrout commented on #10554
A couple of thoughts from our discussion in the dev meeting today:

1. In preparation for 3.0 release, we discussed and settled on "prebuilt" (no hyphen) as the adjective for this new extension mechanism. I think we changed every user-facing place to not have the term "federated", though we didn't want to make huge changes to the python implementation at the RC stage, so we left that internal pyth

[2021-07-07 18:41] lkytal commented on #8574
I have this problem too. Make you lost access to the previous results... Need a fix soon.

[2021-07-07 20:02] #10522 closed

[2021-07-07 20:07] jtpio commented on #10557
This seems to be reproducible locally with:

[code]

[2021-07-07 20:13] TomNicholas opened #10570 "Open new notebook directly from gist / URL"
### Problem

I would like it if I could open someone's else's notebook gist from github into my jupyterlab session, as a new notebook.

I regularly share work with my co-workers and want to execute their code, but currently the only way I know to do this is to copy-and-paste individual cells into my jupyterlab session, which is frustrating.

### Proposed Solution

Add an option to point to a githu

[2021-07-07 22:02] #10268 closed

[2021-07-07 22:26] mlucool opened #10573 "jupyter-lab --notebook-dir is broken"
## Description

In JupyterLab@2 `jupyter-lab --notebook-dir=/some/path` works. In lab@3 it no longer works via the CLI.

## Reproduce

`jupyter-lab --notebook-dir=/some/path`

## Expected behavior

Per `--help`:
[code]

## Context

- Operating System and version: Linux
- Browser and version: Chrome
- JupyterLab version: 3.1.0b1

[2021-07-07 22:30] goanpeca commented on #10573
Will take a look.

[2021-07-08 00:41] goanpeca commented on #10573
@mlucool I tried with the latest pip version and things work as expected for me.

I did this:

[code]

[2021-07-08 03:27] #10573 closed

[2021-07-08 04:26] DarkstarDream commented on #7569
If your problem is not yet solved then I would like to add my answer. I recently found out that if you increase the "content-font-size1" in Jupyter lab's advanced setting then it will increase the font size of rendered markdown.

Just add

[2021-07-08 04:34] DarkstarDream commented on #7569
If your problem is not yet solved then I would like to add my answer. I recently found out that if you increase the "content-font-size1" in Jupyter lab's advanced setting then it will increase the font size of rendered markdown.

Just add this in the theme setting
[code]

see the difference
`Before`
![image](https://user-images.githubusercontent.com/55599544/124862782-9e306f80-dfd3-11eb-9d78-711c7

[2021-07-08 04:56] Leon14451 opened #10576 "Jupyterlab cannot start"
When i run `jupyter-lab`, it print strange error, `invalid literal for int() with base 10: 'tcp://172.16.116.62:8888'`, i don't know this ip from where, because it's not my node ip. It's similar to #5385 but not same.

I have reinstalled different versions many times. 3.0.0, 3.0.16, 2.0.0.

This is the whole error i get.

[code]

[2021-07-08 05:29] jasongrout commented on #10576
From this error, it looks like somewhere you have your port being set to a whole address 'tcp://172.16.116.62:8888', instead of something like `8888`. If I were you trying to track down this, I'd search your configuration or try to find out where it is getting `tcp://172.16.116.62:8888`, and why it is trying to set the port to that address.

[2021-07-08 05:30] jasongrout commented on #10576
As a test, you might try giving the port explicitly with `--port 8888` in the command line. I think this should override whatever config is setting the port to that bad value.

[2021-07-08 05:56] fcollonval commented on #10525
Let's reopen this one as the test needs to be fixed.

[2021-07-08 07:35] Leon14451 commented on #10576
Yes, it works correctly. And also, i'm interested in where my port being set?

The Jupyterlab installs on python official docker image, and no config file exist.

[code]

So i confirm `'tcp://172.16.116.62:8888'` not exists in my system files. It should be generated by program?
Any suggestion is better. I'll keep on debugging.

[2021-07-08 07:58] jtpio opened #10577 "Localize the `Anonymous` user name"
At the moment `Anonymous` is defined here:

https://github.com/jupyterlab/jupyterlab/blob/c26b3159e6e1149b60089f2c6e4d694cad78c745/packages/docprovider/src/awareness.ts#L89

But could be localized using the `ITranslator`

[2021-07-08 07:59] jtpio commented on #10577
Actually even the names of the moons could be localized too:

https://github.com/jupyterlab/jupyterlab/blob/c26b3159e6e1149b60089f2c6e4d694cad78c745/packages/docprovider/src/awareness.ts#L2-L82

[2021-07-08 09:39] Leon14451 commented on #10576
New progress, it's not jupyter's fault anyway. Although i'm working on who did this.

root@jupyter-0:/opt/spark/work-dir# export | grep JUPYTER
declare -x JUPYTER_PORT="tcp://172.16.116.62:8888"
declare -x JUPYTER_PORT_2222_TCP="tcp://172.16.116.62:2222"
declare -x JUPYTER_PORT_2222_TCP_ADDR="172.16.116.62"
declare -x JUPYTER_PORT_2222_TCP_PORT="2222"
declare -x JUPYTER_PORT_2222_TCP_PROTO="tcp"
d

[2021-07-08 09:39] #10576 closed

[2021-07-08 09:41] #10562 closed

[2021-07-08 10:36] fcollonval commented on #10560
Small thought, once access control policy will be in. The workflow to share a document will need at least a two step process:
- start share action
- Set rights for the shared link

[2021-07-08 10:50] Leon14451 commented on #10576
The final truth:
https://kubernetes.io/docs/concepts/services-networking/service/#environment-variables

A service named jupyter exist in the same namespace of my pod on kubernetes.

And thanks, @jasongrout

[2021-07-08 11:44] krassowski opened #10578 "Unrendered last cell and warning in the search function (3.1.0b1)"
## Description

1. I saw an unrendered cell appear at the end of the notebook when working in last or penultimate cell
2. I noticed that the search bar shows a very verbose warning message saying the document is still loading (which indicates a loading error); this warning is stuck and does not go away after many minute since

![Screenshot from 2021-07-08 12-37-00](https://user-images.githubuserco

[2021-07-08 11:53] echarles commented on #10578
Thx for reporting @krassowski. Can you detail a little bit the scenario driving to that issue? Are you seeing a un-rendered cell before working in the last cell?

[2021-07-08 12:02] krassowski commented on #10578
I will fill in the details once I find a way to reproduce.

[2021-07-08 12:12] jtpio commented on #10202
cc @davidbrochart who has been making progress reusing some of @echarles's work in https://github.com/davidbrochart/jupyterlab-auth

If you would like to comment here and share ideas, screencast or screenshots that would be great :+1:

[2021-07-08 13:39] fcollonval commented on #10189
I had a try looking into this. I used the following snippet to see if something was stealing the focus as suggested by Jason:

[code]

But the focus is not changing when opening the select element.

[2021-07-08 13:40] krassowski commented on #10578
I encountered more suspicious behaviour related to cell rendering. Let's start by creating some cells:

![adding-cells-causes-scroll](https://user-images.githubusercontent.com/5832902/124930801-8b309600-dff9-11eb-9cca-664ae126d757.gif)

- starting with cell 22 the notebook no longer:
  - auto focuses the newly created cell
  - auto-scrolls to the new cell
- edge navigation is broken as reported in

[2021-07-08 13:41] davidbrochart commented on #10202
Here is a screencast of the [JupyterLab extension](https://github.com/davidbrochart/jupyterlab-auth):

https://user-images.githubusercontent.com/4711805/124929855-1cefd180-e001-11eb-8a39-f5dfecbeec2d.mp4

Currently there is a tab on the left with the connected users, but clicking on them takes you to their GitHub account, which is what they use to connect. I have added a new menu with the currentl

[2021-07-08 13:48] echarles commented on #10578
@krassowski I will look into the detailed report. You have at hand the scenario that fails, so if you could apply them on jupyterlab 2.3, this would help me to nail down the origin. Did we have some of those issue in 2.3 and didn't see them, or is it on master?

[2021-07-08 13:51] krassowski commented on #10578
I also cannot focus one of the cells; I deleted other cells but this one remained and is inaccessible:

![cannot-focus](https://user-images.githubusercontent.com/5832902/124932300-deefaf00-dffa-11eb-9e04-9ad6c2aa31be.gif)

More screencast:

![more-recording](https://user-images.githubusercontent.com/5832902/124932825-4ad21780-dffb-11eb-8e20-5900349e6357.gif)

I will have a look at 2.3, but I did n

[2021-07-08 13:52] krassowski commented on #10578
There might be an interaction with undo function as well.

[2021-07-08 14:27] echarles commented on #10578
Did a few test on master (2.3 seems to behave the same) and I would say there is a special case of the last cell (there seems to be a explicit scrolling somewhere). Will look at fixes tomorrow.

[2021-07-08 14:38] #10010 closed

[2021-07-08 15:14] tfmark commented on #6555
Is there a workaround for this? I'd like to capture when Enter is pressed in a `Text` widget, but it appears to do nothing?

[code]

[2021-07-08 18:54] #10566 closed

[2021-07-08 19:12] mlucool opened #10581 "ToC Run Cell(s) Bug (Prop#256497)"
## Description

The ToC should execute all cells in a header, even when code cells are hidden. Also, sometimes I click execute and the cell does not run (maybe the kernel is busy). See gif below

## Reproduce

![runCells](https://user-images.githubusercontent.com/1813603/124977611-ace04c00-dffe-11eb-88e0-a21ec29fe52c.gif)

## Context

- Operating System and version: Linux
- Browser and version: Ch

[2021-07-08 19:34] jess-x commented on #10581
Thanks @mlucool for reporting this. I will take a look :)

[2021-07-08 21:00] mlucool commented on #10570
Related work: https://ricardodeazambuja.com/jupyter/2019/04/06/jupyter-loading-from-web/

[2021-07-08 21:41] #10398 closed

[2021-07-09 06:29] meeseeksmachine commented on #10513
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/keyboard-shortcuts-with-overrides-json/5751/5

[2021-07-09 08:15] #9411 closed

[2021-07-09 11:32] krassowski commented on #10577
What if only one person in the collaborative session changes language? Is everyone going to get the updated language after refresh? If yes than we are fine, if no, is this really desirable to have a divergence, especially for the moon names?

I think translating the `Anonymous` bit is fine in any case, but not sure if people will be able to translate moon names in their head - imagine a teacher as

[2021-07-09 11:59] krassowski opened #10589 "Allow to place tooltip at a specific character position"
The `Tooltip` widget, which is used for <kbd>Shift</kbd> + <kbd>Tab</kbd> help, currently always:
- fetches the position of the cursor (caret) from the editor
- places the tooltip at the last character <s>in the line</s> of the current token where the the cursor is placed

### Problem

The LSP extension implements a hover function which would greatly benefit from re-using the JupyterLab's tooltip.

[2021-07-09 12:08] krassowski commented on #10589
Maybe I don't need both... maybe supplying the `position` is enough.

[2021-07-09 12:31] krassowski commented on #10429
This was fixed by #10517 and related issues were fixed by #10580.

[2021-07-09 12:31] #10429 closed

[2021-07-09 13:20] GF-Huang commented on #9879
Nobody care this? I don't know if the developers of JupyterLab will feel fatigued in their fingers when they type True many times.

[2021-07-09 13:44] Nazeeh21 commented on #9838
I would like to work on this issue!

[2021-07-09 14:01] krassowski commented on #9879
I think this would be a good addition for 4.0, but this may require work on the kernel side (even if we make filtering case-insensitive the kernels may be only providing case-sensitive matches). In that case we would need to work with the wider Jupyter community to establish changes to the completion request to enable us to ask for completion-insensitive matches.

In the meantime you may be intere

[2021-07-09 14:07] GF-Huang commented on #9879
@kirk86 Please hide your off topic comments.

[2021-07-09 14:40] pya commented on #4393
This workaround allows to set the name of the bash terminal: https://superuser.com/questions/84710/window-title-in-bash

The set name shows up in the terminal tab and in the OPEN TABS list but not under the section TERMINALS (second icon - square in circle - on the left in JupyterLab 3).

Should work on Windows `cmd` with `title` too.

This helps to  organize multiple open terminals when running s

[2021-07-09 16:16] #10589 closed

[2021-07-09 17:05] #10439 closed

[2021-07-09 17:18] jasongrout commented on #7218
Line breaking in MathJax 3 is discussed at https://github.com/mathjax/MathJax/issues/2312

[2021-07-09 17:39] #10557 closed

[2021-07-09 17:53] #10551 closed

[2021-07-09 17:56] krassowski opened #10593 "Improve cut/paste, undo, and execute for collapsed cells"
_Originally posted by @fcollonval in https://github.com/jupyterlab/jupyterlab/issues/10571#issuecomment-876361737_

[2021-07-09 22:21] ellisonbg opened #10595 "Responsive document toolbars"
### Problem

Documents such as notebooks in JupyterLab can have a toolbar of widgets (buttons, dropdowns, etc.). Extensions can add widgets to the toolbars and for a given panel width, the total number of widgets may not fit in the available space. Currently, buttons that overflow off the right side of the toolbar are not visible and there is no way for users to see or use those widgets.

### Prop

[2021-07-09 22:54] jasongrout commented on #10595
triple-dot?

Another thing I've seen is a double chevron, like &raquo;

[2021-07-10 08:40] fcollonval commented on #10595
FYI VS Code has a notion of primary/secondary items to distinguish those that will be gathered in a sub menu or not.

[2021-07-10 14:40] krassowski opened #10597 "Add Table of Contents to User Guide documentation"
### Problem

* There is no documentation for Table of Contents
* Multiple new ToC options and conditional behaviour was (/is going to be) introduced recently,
   * including already merged:
      * [ ] #9994,
      * [ ] #10167
    * and upcoming:
       * [ ] #10545,
       * [ ] #10537 (esp. `jp-toc-ignore` class)

### Proposed Solution

Add a brief overview of ToC into the User Guide part of th

[2021-07-10 14:53] krassowski commented on #9902
I will close this issue as it seems that this behaviour was implemented since the inclusion of ToC into JupyterLab core in 3.0.

Further option to also collapse cells in notebooks is also coming in #10545. I think that this question might have been a result of missing documentation for ToC which is now tracked in #10597.

[2021-07-10 14:53] #9902 closed

[2021-07-10 22:03] #10533 closed

[2021-07-10 23:15] krassowski opened #10600 "Smarter dirty state indicator check"
### Problem

The dirty state indicator introduced in 3.1 (currently in beta) works very nice for me. However oftentimes I reformat my Python or R code by adding or removing whitespaces without changes to the meaning. This triggers the dirty state indicator, but I would prefer if it did not.

There are two solutions I imagine:
- a simple workaround extension for now
- a more complete solution after

[2021-07-11 08:04] fcollonval opened #10601 "Avoid schema definition duplication in settings"
With the introduction of menus and toolbars customization through settings, the schema definition tends to be duplicated in multiple extensions

=> I wonder if we could publish our own types under some URL to avoid repeating this. It might make updating to new versions easier as well.

_Originally posted by @krassowski in https://github.com/jupyterlab/jupyterlab/pull/10469#discussion_r667246491_

[2021-07-11 08:40] echarles commented on #10434
Fix in https://github.com/jupyterlab/jupyterlab/pull/10602

[2021-07-11 08:41] echarles commented on #10578
@krassowski I have opened a fix in https://github.com/jupyterlab/jupyterlab/pull/10602. The reported issue are solved, and I have not been able to reproduce a unrendered cell. However, please try out the fix, you may have more ideas to break it 👍

[2021-07-11 13:45] krassowski commented on #10391
This is also happening on `from ... import ...`:

![from-import](https://user-images.githubusercontent.com/5832902/125197673-98968c00-e256-11eb-9f44-c2d6596f53b1.gif)

[2021-07-11 14:15] krassowski commented on #9538
Should we go ahead an open an issue/PR on https://github.com/pypa/trove-classifiers? Is there a need to vote on `Jupyter :: Lab` vs `Jupyter :: JupyterLab``?

[2021-07-11 15:21] bollwyvl commented on #9538
Yeah, it would be good to get it going.

Even though `3.1` has some significant changes, I still think we want to stick to the major values so that it only takes one PR a year, and indicates that we are serious about not breaking backwards compatibility within major releases.

From an SEO perspective, `JupyterLab` is probably better, and most of the classifiers are very wordy anyways. I'd say if n

[2021-07-11 15:37] meeseeksmachine commented on #9538
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/expanding-the-jupyter-trove-classifier-on-pypi/9928/1

[2021-07-11 22:18] afshin commented on #10195
After some investigation: this bug is unrelated to #9590. It is a side-effect of the logic that allows a user to override the original sidebar.

[2021-07-12 08:51] agoose77 commented on #10554
I'm not very familiar with Webpack (I'm really a Python + mild TS developer), so this proposal might be off-base, in which case let me know!

There are two problems that I perceive to exist with our current divide between prebuilt and source extensions.

1. Only source extensions are currently discoverable by the extension browser
2. The old methods of installing extensions do not inform the user

[2021-07-12 10:08] #10195 closed

[2021-07-12 10:10] #9590 closed

[2021-07-12 11:29] blink1073 commented on #10578
Fixed by https://github.com/jupyterlab/jupyterlab/pull/10602

[2021-07-12 11:29] #10578 closed

[2021-07-12 11:29] #10434 closed

[2021-07-12 11:42] echarles commented on #10046
@mlucool The reproducer for this issue is the same as https://github.com/jupyterlab/jupyterlab/issues/10045#issuecomment-813662295

Is this a duplicate or a different issue?

[2021-07-12 11:52] blink1073 commented on #10513
I am planning to release the RC at 4pm ET today.  At that point any in-progress enhancements will have to move to the 4.0 milestone. We can still work on bugs during the RC phase.

[2021-07-12 12:23] #10496 closed

[2021-07-12 12:43] echarles commented on #10207
Can simple CSS do the job, or do we need something more evolved to implement this?

[2021-07-12 12:49] echarles commented on #9374
https://github.com/Quansight/ksmm is till WIP, but I would like anticipating some important aspects to move forward.

The current POC is developed with React.js and pulls `react-bootstrap`, which is yet-another widget toolkit on top of Lumino and Blueprint.js, and rely on `@rjsf/bootstrap-4` to create the form. The cards are also created with React and diverge quite a lot from the current card of

[2021-07-12 15:09] echarles commented on #10207
There is a relation and impact with the output collapsing and the toc.

cc/ @jess-x

[2021-07-12 15:22] 3coins commented on #10595
I will start looking into this, will add some screenshots of possible solutions.

[2021-07-12 16:23] blink1073 commented on #10513
I'm working on another beta release using Jupyter Releaser now that #10606 is merged.  Ideally we will use releaser for the RC release today as well.

[2021-07-12 16:42] krassowski opened #10607 "Create .git-blame-ignore-revs?"
Git allows to ignore certain commits for blame. This could be handy for looking at history ignoring reformatting commits like https://github.com/jupyterlab/jupyterlab/pull/10344.

There is a very nice write up on this here: https://akrabat.com/ignoring-revisions-with-git-blame/

Currently everyone has to configure git to use this file locally; there is an open ticket for GitHub to support this nai

[2021-07-12 16:47] echarles commented on #10513
Great!. We have a few open PRs that deserves a bit more love and that would perfectly find their place in an upcoming 3.2 release if this is possible. I propose to add this topic at the agenda for our dev meeting.

[2021-07-12 17:14] jasongrout commented on #10513
FYI, I'm working on helping the autoclose brackets PR at #9488 get over the finish line.

[2021-07-12 19:09] jasongrout commented on #10513
I think #9488 is ready. It would be good if someone reviewed my last changes (or gave a sanity check about the final state of the PR - the merge was a bit problematic since key relevant parts of master had changed since the PR was opened.

[2021-07-12 19:57] jess-x commented on #10207
@echarles I agree output collapsing and toc will have impact, and also I have seen some interesting codeMirror behaviors under different CSS display modes. (i.e I have seen it turns uneditable when the input-area wrapper is displayed as inline-flex)

[2021-07-12 20:10] blink1073 commented on #10513
We're running over time a bit to get https://github.com/jupyterlab/jupyterlab/pull/10545, https://github.com/jupyterlab/jupyterlab/pull/10609, and https://github.com/jupyterlab/jupyterlab/pull/9488 into the release

[2021-07-12 20:42] #9535 closed

[2021-07-12 20:42] #10361 closed

[2021-07-12 22:49] blink1073 commented on #10513
We're going to cut the RC0 release first thing in the morning (ET) tomorrow to pick up https://github.com/jupyterlab/jupyterlab/pull/9488 and https://github.com/jupyterlab/jupyterlab/pull/10518

[2021-07-12 23:46] bollwyvl commented on #10513
Thanks for sticking with it, friends!

[2021-07-13 10:28] #5741 closed

[2021-07-13 11:03] fcollonval commented on #10189
More testing - actually this is probably due to some CSS when using the [demo from mdn](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select), the list of items stays display on Firefox when the mouse leave the list. But in JupyterLab, the list disappears.

[2021-07-13 11:17] jacobtomlinson opened #10613 "Workspaces not storing layout"
## Description

I recently updated a binder tutorial with newer dependencies and it seems that workspaces no longer remember open documents/tabs and layout.

## Reproduce

### MCRE

- `conda create -n jl-workspace -c conda-forge python=3.8 jupyterlab -y`
- `conda activate jl-workspace`
- `jupyter lab`
- Open a few notebooks and arrange them next to each other.
- Hit `File` > `Save Current Workspac

[2021-07-13 11:23] jtpio commented on #10613
Thanks @jacobtomlinson.

I believe this was recently fixed in https://github.com/jupyterlab/jupyterlab/pull/10603, and should be available in the next 3.1 prerelease.

[2021-07-13 11:27] jacobtomlinson commented on #10613
Thanks @jtpio this is a duplicate for sure.

Does this affect all JL3 versions? I'll need to pin to something older in order to run the tutorial tomorrow.

[2021-07-13 11:30] jtpio commented on #10613
Yes it looks like it's been a regression for JupyterLab 3.0.x. For reference it was first noticed when updating the JupyterLab demo in https://github.com/jupyterlab/jupyterlab-demo/pull/102#issuecomment-756082134

[2021-07-13 13:19] jacobtomlinson commented on #10613
Thanks so much for the quick responses @jtpio. I'll pin to JL2 for now and look forward to the 3.1 release.

[2021-07-13 15:30] echarles commented on #10045
As discussed with @goanpeca, I am working on this.

[2021-07-13 15:31] echarles commented on #10046
As discussed with @goanpeca, I am working on this.

[2021-07-13 16:19] ellisonbg opened #10617 "VegaLite theme doesn't track JupyterLab theme"
## Description

VegaLite allows themes to be provided, but we are currently not using them in a way that syncs the theme of VegaLite with that of JupyterLab. Thus, when a user changes themes in JupyterLab, VegaLite charts are not themed appropriately.

## Reproduce

1. Create a VegaLite based chart by opening a `.vl` file in the file browser.
2. Change to the dark theme.

## Expected behavior

The

[2021-07-13 16:21] ellisonbg commented on #10617
Here is a sample `.vl` file:

[code]

[2021-07-13 16:22] ellisonbg commented on #10617
Current behavior, light theme:

![Screen Shot 2021-07-13 at 9 21 06 AM](https://user-images.githubusercontent.com/27600/125488984-9762ea31-5014-49fa-aa3c-e292e9676c40.png)

Dark theme:

![Screen Shot 2021-07-13 at 9 21 13 AM](https://user-images.githubusercontent.com/27600/125489011-7dce99d3-fbc2-40ed-bbd7-bedf919484b9.png)

[2021-07-13 16:23] ellisonbg commented on #10617
The vega-themes package has examples of VegaLite themes:

https://github.com/vega/vega-themes

The dark theme here would give us a start on a dark theme.

[2021-07-13 16:59] blink1073 commented on #10513
Working on a beta 3 release, should finish in 10 minutes.  If builds pass after that and local tests work, we'll merge #10612 and cut the RC.  If not, we'll pull the beta 3 release and make a manual RC with #10612

[2021-07-13 17:02] blink1073 commented on #10513
Okay, that build failed because of the previously failed `b0`.  I'm going to take a gamble and make an RC using releaser, with the fallback plan of cutting a manual RC immediately after if needed.

[2021-07-13 17:20] jasongrout commented on #10617
Minimally, the vega plugin can listen for theme changes in jlab and adjust the theme to a light/dark theme, which presumably then would affect just new vega plots. Even better, it sounds like we should make our own theme that uses the jlab css variables instead of hard-coded colors so that existing plots are automatically updated to reflect a jlab theme change.

[2021-07-13 17:23] jasongrout commented on #10617
Do you mean that we should make a vega theme named "JupyterLab" that uses JLab css variables for the colors? If so, I agree. I don't think we should make a new theme for JupyterLab, which is another way to interpret your sentence (though we may need to add some more css variables to the jlab theme to have relevant colors available for vega and other plotting packages like bqplot?)

[2021-07-13 18:20] bollwyvl commented on #10513
Seein' the `.whl` but no `tar.gz`:

https://pypi.org/project/jupyterlab/3.1.0rc0/#files

[2021-07-13 18:24] bollwyvl commented on #10513
Seeing it now, will start `conda-forge`

[2021-07-13 18:27] blink1073 commented on #10513
RC 0 is broken, pressing with an RC1 manually

[2021-07-13 18:55] blink1073 commented on #10513
[RC1](https://github.com/jupyterlab/jupyterlab/releases/tag/v3.1.0rc1) is [up](https://pypi.org/project/jupyterlab/3.1.0rc1/)

[2021-07-13 19:05] bollwyvl commented on #10513
https://github.com/conda-forge/jupyterlab-feedstock/pull/282

[2021-07-13 21:44] blink1073 commented on #10513
I created the [3.1.x branch](https://github.com/jupyterlab/jupyterlab/tree/3.1.x).  `master` is now targeting 4.0

[2021-07-13 22:36] ellisonbg commented on #10617
It would be nice to be able to use the CSS variables, but the VegaLite
themes are JSON data that doesn't support CSS variables as they have both
an SVG and Canvas renderer. Thus, we will need to have multiple VegaLite
themes and a way to map them to the associated JupyterLab themes they work
with.

On Tue, Jul 13, 2021 at 10:23 AM Jason Grout ***@***.***>
wrote:

--
Brian E. Granger

Principal Tec

[2021-07-13 22:48] blink1073 commented on #10269
Fixed by https://github.com/jupyterlab/jupyterlab/pull/10518

[2021-07-13 22:48] #10269 closed

[2021-07-13 22:56] jasongrout commented on #10617
In that case, for the best experience it seems that we may need to figure out how to rerender figures that have already been rendered for a specific theme. Or perhaps the "refresh" that happens when a theme changes can be used to rerender existing figures. I suppose in the worst case, you'd need to refresh the page after changing them to get figures to rerender.

[2021-07-13 23:36] ellisonbg commented on #10617
Good point, we will need to handle the theme switching case when a chart
has already been rendered.

On Tue, Jul 13, 2021 at 3:56 PM Jason Grout ***@***.***>
wrote:

--
Brian E. Granger

Principal Technical Program Manager, AWS AI Platform ***@***.***)
On Leave - Professor of Physics and Data Science, Cal Poly
@ellisonbg on GitHub

[2021-07-14 04:08] jasongrout commented on #5741
To follow up here, #9488 does the above, and #10612 extends that behavior to the console. Now (in 3.1.0rc1), there is a Settings menu item which toggles auto close bracket in the notebook, file editor, and console, and the default is now off in all three of those components. You can also go into advanced settings and enable/disable individually for each component.

[2021-07-14 07:13] jess-x commented on #10207
That being said, tweaking some CSS and cherry-picking certain outputs does give us this satisfying looking proof-of-concept :)

https://user-images.githubusercontent.com/22648112/125579268-62399392-0d40-46fb-aebf-64fea54b5805.mov

[2021-07-14 08:06] echarles commented on #10207
@jess-x That is promising. I wonder what it gives when you have a notebook with a mix of cells having outputs, and other without outputs. I have super quickly changed the css to get the outputs to the right, and the rendering of those mixed cells (with and without output) was not satisfying. Also, I wonder what it the behavior on input/output collapsing.

[2021-07-14 08:39] jtpio opened #10619 "[3.1.0rc1] Markdown cell automatically switches to edit mode"
## Description

Using `jupyterlab==3.1.0rc1` on Binder:

https://user-images.githubusercontent.com/591645/125591145-f53e5c74-6200-4684-a47c-5288529c1a51.mp4

## Reproduce

1. Open JupyterLab 3.1.0rc1
2. Create a first markdown cell, then a code cell
3. Click on the markdown cell, then the code cell
4. The markdown cell switches to edit mode

Tested with:

- gist: https://gist.github.com/jtpio/c548

[2021-07-14 08:54] LuckyMD commented on #6650
Hi!
Thanks for all of your work. I just wanted to chime in quickly that I also thought the find & replace functionality was missing, then came across the stack overflow post linked above. One aspect that I definitely miss from `jupyter` is to find & replace only in highlighted cells. I commonly copy over cells and try to do the same thing on a different data object when prototyping or running a qu

[2021-07-14 09:27] krassowski commented on #6650
Hi @LuckyMD this was implemented in #10067 and is included in JupyterLab 3.1 which is now in release candidate phase (please help testing it if you would like to try out this feature). Example:

![test2](https://user-images.githubusercontent.com/5832902/125598493-e89084df-da98-4131-8825-b0606de82dc3.gif)

[2021-07-14 11:08] jacobtomlinson commented on #10613
I've had a play around with `3.1rc1` and noticed that this issue is not fully resolved. It seems to remember the layout of Jupyter core tabs like notebooks but forgets Dask plots from the dask-labextension. Do we need to change something over there to resolve this?

cc @ian-r-rose

[2021-07-14 11:16] jacobtomlinson commented on #10613
Actually sorry false alarm, I cant seem to reproduce it again.

[2021-07-14 11:16] #10613 closed

[2021-07-14 11:58] LuckyMD commented on #6650
Thanks a lot @krassowski! I will check it out. I'm still on 3.0.16 :)

[2021-07-14 15:47] jasongrout commented on #8801
Would this console be hooked up to the kernel you are currently working with, or spawn a new kernel?

[2021-07-14 16:37] vidartf opened #10620 "Log/dump RTC data for troubleshooting"
### Problem
We are releasing the RTC functionality in 3.1, and there's sure to be teething problems / corner cases we missed etc. Currently, if a someone experiences a problem, it might be hard to retrace/reproduce the steps for recreating the problem.

### Proposed Solution

- Add a command that a user can run to dump the current RTC state (with history?) of a shared document.
- And/or enable an

[2021-07-14 16:49] choldgraf commented on #8801
I hadn't considered that option, but it's a cool idea. My original thought was that it would just open up `bash` or whatever terminal environment is the default when you open a new terminal (basically, the same way that VSCode works). Though I could see it being useful to do something similar with a QTConsole+the current kernel or something like this.

[2021-07-14 18:04] jasongrout commented on #10513
What needs to happen during the RC phase?

- There are a few open issues that need to be investigated, and of course testing may turn up more.
- Time for external extensions to check compatibility (but likely won't need to be upgraded, since this is a minor release)
- Changelog to (probably?) edit
- Possibly a blog post to write

Anything else? Steve, did you want to get automated releases to work

[2021-07-14 18:12] blink1073 commented on #10513
I had updated the top level issue text this morning with answers to some of those questions.

[2021-07-14 19:33] jasongrout commented on #8801
Ah, I see I misread your comment, and was thinking a code console, when you were really talking about a terminal. Yeah, a terminal would be much easier.

[2021-07-14 19:46] blink1073 commented on #10513
We ran into a problem with the automated release, should be fixed by https://github.com/jupyterlab/jupyterlab/pull/10621.

[2021-07-15 01:04] ichasepucks opened #10622 "Unable to Disable Build Check"
## Description

Following along with https://github.com/jupyterlab/jupyterlab/pull/7381 indicates I should be able to disable the Build Check on first load.  We package a version of JL with several custom extensions built in.  When deployed to production we are seeing calls to `lab/api/build?1626307186716 (172.16.11.39) 21581.01ms` which are taking a very long time to complete.

@bollwyvl can you

[2021-07-15 03:16] jasongrout commented on #10622
The pr you mention was merged for the 2.0 milestone.

[2021-07-15 03:20] jasongrout commented on #10622
And confirming, the merge commit (https://github.com/jupyterlab/jupyterlab/commit/3d1e5ee94a2df3978018fe632217ad8a66675e28) is in 2.0, and not in the 1.x series.

[2021-07-15 07:02] fcollonval commented on #10595
Hey @3coins if you can provide you support for technical question. The best would be to open quickly a PR so we can discuss there. Or you can contact me via [gitter](https://gitter.im/jupyterlab/jupyterlab). Let me know also if you want to discuss design for this feature.

[2021-07-15 09:36] jtpio opened #10625 "RTC: Username hidden when the cursor is on the first line of a cell"
## Description

## Reproduce

Using this gist for testing: https://gist.github.com/jtpio/6ce26381703355e0ef1da4af742b7f72

1. Start JupyterLab in `collaborative` mode
2. Create a new notebook
3. Stay on the first line in the cell
4. Open JupyterLab in another window / browser

![image](https://user-images.githubusercontent.com/591645/125765920-a60e314a-d806-42c9-923e-f2ef61b3af03.png)

## Expected

[2021-07-15 09:38] jtpio commented on #10625
Probably this can be fixed with a bit of CSS.

Or upstream in `y-codemirror` if the issue is also there.

[2021-07-15 09:38] jtpio commented on #10625
Setting as 3.1 if there is time for it. Otherwise it could also be fixed later.

[2021-07-15 12:07] jtpio opened #10628 "Extension to create a new theme from JupyterLab"
### Problem

For now creating a new theme requires creating a new JupyterLab extension.

The existing cookiecutter already helps bootstrapping it: https://github.com/jupyterlab/theme-cookiecutter

However setting up the extension can be too much work for some folks, and they might get lost and confused by the amount of files in the cookiecutter while the only thing they want is to be able to tweak

[2021-07-15 12:10] jtpio commented on #10628
Ah pretty sure there was already an issue about this but couldn't find it!

Closing in favor of https://github.com/jupyterlab/jupyterlab/issues/3928

[2021-07-15 12:10] #10628 closed

[2021-07-15 13:14] bollwyvl commented on #10625
If we're fighting CSS... maybe we also put at least a one pixel padding above and below so `y` don't bleed out.

![Screenshot from 2021-07-15 09-09-32](https://user-images.githubusercontent.com/45380/125793505-8550df4c-af2a-49e0-b22a-abf0359ff4ce.png)

Maybe also throw a _tiny_ `border-radius` on all of the corners except for the one that connects with the cursor bar.

[2021-07-15 14:27] ichasepucks commented on #10622
Thanks.  Will consider forking 1.2 or monkey patching if I can figure out how to do it.

[2021-07-15 14:27] #10622 closed

[2021-07-15 18:08] 3coins commented on #10595
Sure, I don't have any code changes yet to create a pull request. Will contact you on gitter to discuss.

[2021-07-15 21:21] ichasepucks commented on #10622
In case anyone else wants to do this, it turns out, it _does_ work in the 1.2.20 version but is vastly different from the docs.  Created a file called `page_config.json` with the following contents:
[code]

Copied this file into the `/opt/conda/share/jupyter/lab/settings` directory and it worked.

[2021-07-15 23:34] ramiraza commented on #7012
Nice. It solved it for me too.

[2021-07-16 01:04] sjdemartini opened #10633 "Terminal is blank when re-opening terminal tab (no scrollback is available)"
## Description

When I close a Terminal tab and then re-open that terminal from the "Running Terminals and Kernels" section of JupyterLab (or simply refresh my browser page), the terminal appears "blank" and does not include any scroll-back to view prior commands that were run or view the current state of the terminal (e.g. if in the middle of using a CLI).

Demo:
![jupyterlab_terminal_blank](http

[2021-07-16 05:46] jess-x commented on #10207
@echarles I tried tweaking a few more css properties and this is what we have so far. This is definitely not a robust solution, but I hope it addresses some of the use cases :)

https://user-images.githubusercontent.com/22648112/125897907-fe53f132-9236-41cb-8ded-69b68c5d2a82.mov

[2021-07-16 05:52] echarles commented on #10207
Yeah, the cells width is not uniform. Have you investigated the usage of calc() https://developer.mozilla.org/en-US/docs/Web/CSS/calc() to fix the width of the cells? Try maybe to force the width to be the half of the full width with the calc() function.

[2021-07-16 08:29] idling-mind opened #10634 "Question: Can I use jupyterlab services package from nodejs"
Hi,
  I browsed through the nodejs example [here](https://github.com/jupyterlab/jupyterlab/tree/master/packages/services/examples/node). It uses a python script to start the jupyter notebook server. My question is if it's possible to connect to an already started notebook session from node?

I tried by passing `baseUrl` also as part of the `options`. However, I got the following error.

[code]

I

[2021-07-16 08:41] DiegoF90 commented on #6555
@tfmark very helpful thanks. Did you find a workaround for the FloatTextBox class?
This and BoundedIntText (in my case) do not seem to have the "on_submit" option.

[2021-07-16 08:41] #6459 closed

[2021-07-16 08:50] ThinkJackComputing opened #10635 "Change Drive letter and jupyter cannot choose right python.exe"
## Description

[code]

Here is my kernel json file.I change to the right drive letter path and is still not working.
[code]
## Reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error '...'

## Expected behavior

## Context

- Operating System and version:
- Browser and version:
- JupyterLab version:

<details><summary>Troubleshoot Output</summary>
<pre>
Paste the output f

[2021-07-16 10:30] tfmark commented on #6555
I cannot reproduce your behaviour with `7.6.3` are you still running 7.4.x ?

[code]
the `read_widget` value updates when I hit Enter inside the `write_widget`

[2021-07-16 10:42] DiegoF90 commented on #6555
I see... I might just need to update then. I am using 7.5.1.

[2021-07-16 13:47] bolliger32 opened #10636 "Cannot edit certain extension settings using overrides.json as of jlab 3"
## Description

I am unable to modify certain extensions, e.g. `@jupyterlab/fileeditor-extension:plugin`, `@jupyterlab/notebook-extension:tracker`, and various external extensions (e.g. `@krassowski/jupyterlab-lsp:plugin`) using `overrides.json` Other extensions were modifiable, e.g. the example provided in the docs illustrating how to use `overrides.json` (`@jupyterlab/apputils-extension:themes`)

[2021-07-16 16:02] krstp commented on #9410
Right now the issue specifically applies to `3.6`... super annoying especially when one needs to work across diff virtual conda envs

[2021-07-16 16:48] aiqc commented on #3869
Also mentioned in 4.0 roadmap:
"Changing syntax highlighting of cells based on a regex"

[2021-07-16 17:05] aiqc commented on #1145
I have about 15 documentation notebooks. Whenever I change my API, I have to edit each file. So this would be great for refactoring.

[2021-07-17 01:49] #10111 closed

[2021-07-17 01:49] #10154 closed

[2021-07-17 01:49] #10071 closed

[2021-07-17 01:49] #10088 closed

[2021-07-17 01:49] #10038 closed

[2021-07-17 01:49] #9948 closed

[2021-07-17 01:49] #9940 closed

[2021-07-17 01:49] #9906 closed

[2021-07-17 01:49] #9905 closed

[2021-07-17 05:32] hawkiyc opened #10637 "Does JupyterLab support keyboard shortcut with '⌘' button on Mac?"
Dear All,

JupyterLab is a wonderful IDE with extraordinary UI. However, I am used to some keyboard shortcuts with the '⌘' button in other IDE, and so, I want those shortcuts can work in JupyterLab too. Hence, I tried to set the keyboard shortcut as following,

`
{"shortcuts":[
{"command": "console:run-forced",
"keys": ["command Enter"],
"selector": ".jp-CodeConsole[data-jp-interaction-mode='noteb

[2021-07-17 11:18] krassowski commented on #10637
Yes, but I think it is named `Cmd` or `Accel` (for platform-independent version). In your example it would be `"keys": ["Accel Enter"]` or `"keys": ["Cmd Enter"]`. Please let me know if it worked for you. While it might be good to include it in the docs, I believe that ideally we would revive the shortcut configuration UI and merge it into the core (so it does not get outdated).

There is a bit ab

[2021-07-17 12:18] krassowski opened #10638 "Modal command palette cannot be invoked when cell is focused"
## Description

In notebook cells auto-focus after commands get executed. This leads to various unexpected behaviours.

## Reproduce

1. Open notebook
2. Enter an editor in a cell
3. Press <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>C</kbd> to open the command palette
4. See it show up and immediately disappear

This is because the modal palette gets hidden on focus of any element other than itself.

[2021-07-17 12:20] krassowski commented on #10189
The "focus on a cell as soon as possible" approach (which may or may not be related) is causing some other issues like #10638.

[2021-07-18 01:49] #9968 closed

[2021-07-18 14:25] hawkiyc commented on #10637
HI @krassowski,

Yes, it works fine after setting it to `Cmd Enter`. Thank you very much for your kind help.

Sincerely,

hawkiyc

[2021-07-18 14:26] #10637 closed

[2021-07-18 17:46] sejin-k opened #10640 "When i reopen the Jupyter lab browser, how can i see the output continuously??"
I want see the output in progress, When i reopen the Jupyter lab browser without turning off Jupyter Server.
For example,
Here are two jupyter browser (same jupyter server)
![그림1](https://user-images.githubusercontent.com/48510236/126076925-da5701c7-cbc6-4856-85e4-efe41174f580.png)
(left is browser A, right is browser B)
So i run the code on browser A, and i turn off the browser but  jupyter serve

[2021-07-18 17:51] TerenceLiu98 commented on #8663
@yuvipanda Hi! I am curious on how to disable/remove the `console` widget. Have you implement this feature? :-)

[2021-07-18 18:19] meeseeksmachine commented on #10637
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/does-jupyterlab-support-keyboard-shortcut-with-button-on-mac/10004/2

[2021-07-18 22:42] krassowski commented on #10638
I was able to mitigate this in an extension which basically re-implements the modal selector (/palette) widget using `blur` event instead of `focus` to decide when to close the modal selector, basically:

[code]

But this only works because in this particular sequence of events the focus had not made it yet to the selector (palette) so it will not be blurred (on the other hand it does get the fore

[2021-07-19 03:06] stevenleeS0ht opened #10642 "Hint callable signature when typing the parameter of callable inside bracket"
### Problem

Currently, `JupyterLab` doesn't support arguments hint (callable signature hint). It is inconvenient for user.

Some function have long argument list, and some may have may kwargs, It is difficult for user to remember them all.

### Proposed Solution

Just like what `PyCharm` does, display a single line (or multiple lines if it is too long) of function signature.

### Additional conte

[2021-07-19 03:39] ktaletsk opened #10643 "Kernels are not synchronized between collaborative editors"
I am not really sure if this behavior is a bug or not, but I was able to choose two different kernels and run them in turns in each of the windows (i.e. run Python commands in first editor and run R commands in another editor all in the same notebook).

<img width="1792" alt="RPyDesync" src="https://user-images.githubusercontent.com/8834829/126097835-67f4f677-06a5-44f7-bcbe-aef83fa46709.png">

##

[2021-07-19 08:05] krassowski commented on #10642
Hi @stevenleeS0ht, thank for raising this. You can already achieve something similar by pressing <kbd>Shift</kbd> + <kbd>Tab</kbd>, or by using the [jupyterlab-lsp](https://github.com/krassowski/jupyterlab-lsp) extension (see [automatic signature suggestions](https://github.com/krassowski/jupyterlab-lsp#automatic-signature-suggestions)).

[2021-07-19 08:30] fcollonval commented on #10600
Is this not to broad? I would say that removing only line trailing whitespaces is safer as indentation matters in language like python.

[2021-07-19 08:34] krassowski commented on #10600
This is why I propose using `dis.dis` for Python in the very next paragraph. Please note the "Extension Idea" tag - this issue is about enabling extensions to do so, not about implementing it in the core so I do not believe it should be closed as too broad :)

[2021-07-19 11:48] fcollonval commented on #10600
Sorry @krassowski my mistake I did not realize I close the issue :confounded:

[2021-07-19 15:29] fcollonval commented on #8453
Fixed by https://github.com/jupyterlab/jupyterlab/pull/10641

[2021-07-19 15:29] #8453 closed

[2021-07-19 19:30] AnudeepGunukula commented on #10597
Hi i am interested in this project. I have started working on it. Will try to add the table of contents to user guide documentation

[2021-07-20 01:35] #9241 closed

[2021-07-20 06:14] Winand commented on #4012
@dzubo [jupyter-resource-usage](https://github.com/jupyter-server/jupyter-resource-usage)

[2021-07-20 07:21] AnudeepGunukula commented on #10597
Hi krassowski,  "jupyterlab/docs/source/user/" is this the path where Toc.rst documentation for user is to be added ?

[2021-07-20 07:24] AnudeepGunukula commented on #10597
I have also seen that there is no README.md in jupyterlab/packages/toc/
assign issue to me i will complete both of them and will make a pr

[2021-07-20 07:52] ggrrll opened #10650 "FR: autocompletion in %debug mode"
### Problem

missing auto-completion  in %debug mode

### Proposed Solution

I am not sure if it is possible, but it would be nice to have the same auto-completion behavior (on  `tab` key press), while the cell is running in debugging mode, instead of jumping to the next cell (current behavior of  `tab` key press)

ps: I actually still use  J notebooks (not  J lab)

thanks for feedbacks

[2021-07-20 10:16] dboaretti opened #10652 "WebpackOptions not found"
## Description

I was trying to update a fedora machine from JupyterLab 2.2.4 to JupyterLab 3.0.14. This operation was successful on 2 other similar machines, but not on this one.
We have a problem loading the welcome page after successfully logging in. This is the output from `journalctl`:

[code]

the lines which break are here:

Jul 19 14:34:40 g-wst-lbb-jupyter2.ethz.ch jupyterhub[27243]: [W 2

[2021-07-20 10:26] echarles commented on #10045
I have debugged this issue and the behavior, although not good, can be explained (with my current understanding) with:

Step 1: If we have more divs than we have defined, the displayed widget (which corresponds to a div) is removed.

[code]

In the given reproducer, the kernel has not yet finished populating its div, so at a later point, a kernel message comes in and is aimed to be displayed with

[2021-07-20 12:48] krassowski commented on #10597
Yes, `toc.rst` (lowercase for consistency) in https://github.com/jupyterlab/jupyterlab/tree/master/docs/source/user sounds good to me.

Good catch! This could be useful too, but I think it is a bit lower priority.

Assigned! Please let me know if you have any questions or problems.

[2021-07-20 14:25] AnudeepGunukula commented on #10597
Thankyou krassowski ,
everything is now clear. i started working

[2021-07-20 15:55] echarles commented on #7478
For now https://github.com/jupyter-server/jupyter-resource-usage looks like implementing the UI for both classic notebook (which I don't find the javascript source code in the repo...) and jupyterlab.

If we had more features to the lab, we just need to make sure the classic notebook behavior remains intact.

I also wonder how we make make remote kernels support also this feature, whereas in a ent

[2021-07-20 15:56] chunjieChang opened #10655 "Embedding jupyterlab code editor to existing react app"
Hi, I'd like to stick jupyterlab's code editor (Just code editor) to our react app.

But there's nothing to start with jupyterlab as a React/Typescript Library.

Where can I start it from? I've tried examples directory, but seems like there are some errors on my machine's build.

[2021-07-20 16:00] ePerspi commented on #7081
Hi, my team is also experiencing this issue.

Setup:
- zero-to-jupyterhub-k8s: 0.9
- Kubernetes: 1.19.11
- JupyterHub: 1.1.0
- JupyterLab: 2.2.5/3.x
- CHP: 4.2.1
- NGINX (ingress controller): 1.20.1
- Chrome: 91

We have multiple JupyterHub instances with less than a 100 users, all experiencing the "Server Not Running" pop-up from time to time.
Enabling SSL through the ingress controller reduced t

[2021-07-20 16:21] echarles commented on #10655
@chunjieChang You may be interested in https://github.com/datalayer/jupyter-react-example.

This is still WIP and we are heavily working on it to cut a 1.0.0 version, but it basically does today what you describe, have jupyterlab as react component.

We will take your requirement `Just code editor` in our roadmap, but the `Cell`(not the full `Notebook`) component may already implement what you nee

[2021-07-20 16:23] ellisonbg opened #10656 "Time to remove the old circular kernel indicator in the notebook toolbar?"
### Problem

The classic Jupyter notebook has always had a circular icon in the toolbar that fills when the kernel is working. While this has been there from the beginning (I am responsible for adding it), it is not obvious to users what this is and how it works. In JupyterLab, we now have a status bar at the bottom of the page that indicate the kernel status in a more verbose, textual manner. Bas

[2021-07-20 16:47] danieltomasz opened #10657 "[3.1.0rc1] autoscroll center on output of previously selected cell when clicking on new cell with text/code"
## Description

After clicking on output, the next click anywhere else on another cell still centre the cell with output from first click
Here is the recording
https://www.dropbox.com/s/nu56qxqq9dx291m/simplescreenrecorder-2021-07-20_19.37.47.mp4?dl=0

I installed fresh pyenv virtualenv with  only  jupyterlab 3.1.rc , this behaviour persisted

Then I cleaned pip cache
I installed fresh pyenv virtu

[2021-07-20 17:16] krassowski commented on #10657
Would you be able to create a GIF reproducing the issue when it does happen?

[2021-07-20 17:24] telamonian commented on #10656
Currently we show the "kernel is busy" status in places accross the UI:

- In plain english in the status part
- an asterix to the left of the running cell
- an hourglass favicon in the browser tab (though that assumes tabs are visible)
- the empty/filled circle indicator in question

I agree with @ellisonbg that the filled circle is somewhat cryptic and may now be redundant; my question then thou

[2021-07-20 17:41] krassowski commented on #10656
A single user perspective:

This is not a replacement for icon on the notebook toolbar:
- it only shows the status of one (focused) notebook; I often have long running computations in another notebook open next to it and want to see whether it finished without having to switch to it,
- statusbar can be hidden,
- while I personally don't hide it, statusbar is the area of the screen that is inconven

[2021-07-20 17:46] danieltomasz commented on #10657
Here is the recording
https://www.dropbox.com/s/nu56qxqq9dx291m/simplescreenrecorder-2021-07-20_19.37.47.mp4?dl=0

After recording, I would reformulate  my previous  post
After clicking on output, the next  click anywhere else  on another cell still centre the  cell with output  from first click

This behaviour doesn't happen with the clean env with the same extension installed.
It still happens e

[2021-07-20 18:02] krassowski commented on #10657
Thank you. Could it be something with a specific notebook? Did you try to check the same notebook in the clean environment?

[2021-07-20 18:05] danieltomasz commented on #10657
The same notebook is ok in the clean conda environment
From the browser developer tools I got this when I am reproducing this behaviour
[code]

[2021-07-20 18:52] danieltomasz commented on #10657
Ok @krassowski  I think I found a possible cause
I installed fresh pyenv  with  3.1.rc , this behaviour persisted

Then I cleaned pip cache
I installed fresh pyenv  with  3. 0.16 , this behaviour disseapered

Previosly I reverted to   3. 0.16  without cleaning pip cache, and this behaviour persisted on 3.0.16 too

[2021-07-20 19:39] jasongrout commented on #10655
Also note that the actual code editor we use is Codemirror, if you are looking just for a code editor without the extra Jupyter bits.

[2021-07-20 19:49] krassowski commented on #10657
This might be related to https://github.com/jupyterlab/jupyterlab/pull/10491

[2021-07-20 19:52] krassowski commented on #10619
This might have been introduced in #10517. My other fix (#10580) for related issue introduced in the culprit PR (#10282) might be a sufficient fix for both, so maybe we could just revert #10580 (or amend it).

[2021-07-20 20:59] mlucool opened #10661 "Relative paths encoding of local extension locations cause unnecessary suggested builds"
_sorry for the poor title_

## Description
If you build an appdir and then symlink to it from a parent directory, local extensions all think their paths changed because we encode relative paths and not absolute paths.

## Reproduce

Install something like nbdime then:
[code]

Jupyter will now claim nbdime has changed.

## Expected behavior

No popup happens

## Context

- Operating System and vers

[2021-07-20 21:24] krassowski commented on #10657
Actually not, its not that. It seems like it is due to #10517. I reverted part of it https://github.com/jupyterlab/jupyterlab/pull/10664 and it might also fix this one. @danieltomasz could you please test if you can still reproduce it on this binder: https://mybinder.org/v2/gh/krassowski/jupyterlab/fix-unrender-markdown?urlpath=lab-dev ?

[2021-07-20 21:34] krassowski commented on #10655
@echarles are you thinking about upstreaming the Lumino inside React thingy? I did not try it yet, but it seems like it would be really useful for some of my extensions.

Currently it is a bit weird that we can embed React components inside Lumino widgets but we cannot do as much as embed a native Jupyter button inside a React component (which basically leads to jupyterlab-git and some other exten

[2021-07-20 23:24] danieltomasz commented on #10657
It seems to be ok now

[2021-07-21 06:44] echarles commented on #10655
@krassowski The problem I am trying to solve is getting more traction for jupyterlab in the react ecosystem.

- Today, you can do `React inside Lumino`, but at the end, you are building a `Lumino Application`.
- I am developing a solution to do exactly the reverse: `Lumino inside React`, to get at the end a `React Application`.

I am not for now targeting to ease for JupyterLab extension developer

[2021-07-21 10:41] #10619 closed

[2021-07-21 10:41] #10657 closed

[2021-07-21 15:35] krassowski opened #10668 "Develop symlinking does not work if `setup.py` of extension writes to standard output"
## Description

The following logic:

https://github.com/jupyterlab/jupyterlab/blob/98edcbdf844727b4b2c86be33f02d9ca4cefa59c/jupyterlab/federated_labextensions.py#L382-L392

is a bit naive in hoping that the extension developer will not print anything to standard output in `setup.py`. While the good practice would be not to print anything there, the real life shows that developers can add some pri

[2021-07-21 15:35] afshin commented on #4292
If you unzip this notebook and "Run All" cells, it will be about 9mb of text.: [large.ipynb.zip](https://github.com/jupyterlab/jupyterlab/files/6856944/large.ipynb.zip)

In JupyterLab 3.1.0rc1, it is noticeably slow when switching to this notebook tab or when closing a tab that results in switching to this notebook. It looks like this:

![slow-switch-3 1](https://user-images.githubusercontent.com/

[2021-07-21 16:29] cameron-toy opened #10672 "Global identity support"
### Problem

JupyterLab currently implements a basic, document-level identity for RTC. This identity is provided by the `WebSocketProviderWithLocks`. It's randomly generated, immutable, different for each document, and changes whenever a user reconnects. This makes it difficult to use for identification.

### Proposed Solution

A token that provides/manages identity globally. This token would wrap

[2021-07-21 16:44] vidartf commented on #10656
I'm -1 mostly for the same reasons that @krassowski added.

[2021-07-21 17:08] aiqc commented on #10656
I rely mostly on the browser tab favicon, but still find myself falling back to the blinky circle; especially when my kernel is behaving unexpectedly.

In the roadmap, we have "Progress bar or other indicator for long running notebook"
https://github.com/jupyterlab/jupyterlab/issues/8439

[2021-07-21 17:56] mlucool commented on #4292
Thanks for sharing @afshin. My quick test shows that the notebook you posted is being affected by https://github.com/jupyterlab/jupyterlab/issues/10046.

If you update `print` to `printer` then defined printer as:
[code]
The max output optimization can take effect.

I found that even with this, your notebook is slow, but this speeds up tab switching by ~30-50%. Even at a 50% speed up, this does no

[2021-07-21 18:37] krassowski commented on #10657
Hi @danieltomasz the fix was included in Release Candidate 2, I hope it will be working fine for you know, but if you find any other issues please let me know.

[2021-07-22 07:21] jtpio opened #10675 "[3.1.0rc2] `jupyterlab-fasta` fails to render: `t.on is not a function`"
## Description

The `jupyterlab-fasta` extension does not work with `3.1.0rc2`.

It might also be the case with other mimerender extensions.

## Reproduce

Can be reproduced with this gist:

- https://gist.github.com/jtpio/844ab4e85ae84f230cbcb0e56a59c88e
- https://mybinder.org/v2/gist/jtpio/844ab4e85ae84f230cbcb0e56a59c88e/master?urlpath=/lab

![image](https://user-images.githubusercontent.com/59

[2021-07-22 10:34] echarles commented on #4292
Hi, I made an attempt to use the idea to have a "Window" when loading a notebook in https://github.com/jupyterlab/jupyterlab/pull/9925. Only the visible cells in the viewport was loaded in the DOM, the cells before and after were not loaded. When the user was scrolling up and down, the cells coming into the defined viewport were loaded and the cells going out of the viewport were unloaded.

The po

[2021-07-22 10:49] krassowski commented on #4292
To clarify: I'm not against merging more work, just seeing more rough edge cases around the current implementation that I am afraid we won't be able to resolve before 3.1.

Speaking of alternative approaches, did we already try to set [`content-visibility`](https://developer.mozilla.org/en-US/docs/Web/CSS/content-visibility) and `contain` one entire `MainAreaWidget` to prevent layout re-flows? I t

[2021-07-22 12:32] echarles commented on #4292
Sure, any edge cases so far?

IMHO There is a trade-off with the current virtual notebook approach: the user sees the notebook while the cells are still being rendered, which makes jupyterlab less responsible on scroll during the time. Once the cells are fully rendered, there should not be any impact (the last fixes ensure also that the last cell is correctly rendered, even when the user type rapi

[2021-07-22 12:54] rvalieris commented on #8574
same issue here,  I noticed that only open tabs get duplicated, I think its something to do with how jupyterlab automatically starts a new kernel when you open a notebook.

so as a workaround I close the notebook tabs if I know I am about to lose connection( before shutting down the laptop), and later when I re-connect I can re-open the tab from the running kernels side bar.

[2021-07-22 15:08] afshin opened #10677 "Should "copy path" be an extension point?"
There seems to be a need to modify the "copy path" functionality in the file browser in JupyterLab. This extension, for example, resorts to observing every single command that is executed just so it can prepend the path with a `/` character:

https://github.com/epi2me-labs/jupyterlab-slash-copy-path/blob/master/src/index.ts#L27-L43

We specifically ensure that the path does *not* begin with a slas

[2021-07-22 16:04] mrinmoyprasad opened #10679 "Error opening stream: HTTP 404: Not Found (Kernel does not exist: xxxxx"
## Description

When trying to open Spark/PySpark notebooks on JupyterLab, after having sparkmagic installed on Ubuntu 18.04 - kernels do not successfully connect with the below error stacktrace:

[code]

## Reproduce

1. Install Spark, Livy, JupyterLab and Sparkmagic on Ubuntu 18.04 using steps mentioned in "To Reproduce" section below
2. Start JupyterLab
3. Open a "Spark" or "PySpark" notebook
4

[2021-07-22 16:04] mrinmoyprasad commented on #10679
Referencing the issue reported with sparkmagic: https://github.com/jupyter-incubator/sparkmagic/issues/722

[2021-07-22 18:23] HerculesJack commented on #9623
Same issue for jupyterlab 3.0.16, Firefox 90.0.2 and MacOS 11.3.1.

[2021-07-22 19:09] 3coins opened #10680 "Remove debug buttons in toolbar"
### Problem

Current notebook has 3 separate debug buttons which serve the same purpose. This is a poor use of toolbar space which could be used by other toolbar items.

<img width="700" alt="Screen Shot 2021-07-22 at 11 48 35 AM" src="https://user-images.githubusercontent.com/289369/126694679-85220209-cf5e-41ee-a999-01ccf6146cbe.png">

### Proposed Solution

Here are a few solutions:
1. Remove bo

[2021-07-22 20:42] trungleduc commented on #8439
Hello, i'm working on a patch to add a progress indicator to status bar, will something like this fit the demand in 4.0 release plan ?

![statusbar](https://user-images.githubusercontent.com/4451292/126706419-feb5e1b4-1f9e-4c31-bd49-7636e52bfa57.png)

![indicator](https://user-images.githubusercontent.com/4451292/126706231-c71d19ac-7980-479a-b815-7bd6af8ab65b.gif)

[2021-07-22 20:56] krassowski commented on #8439
Thank you for working on it, it's looking good to me! I would be happy to review a PR in 4.0 timeline. Some quick thoughts:
- we have a `ProgressBar` component - it might be worth exploring if it would be useful here (It might be too distracting, and will require some manual styling because the default styles are... well need improvement IMO)
- if adding both the progress and the elapsed time it m

[2021-07-22 22:44] aiqc commented on #8439
@trungleduc Fantastic! I'll close this issue once that PR is made. If you provide a Binder then people can test it out too

[2021-07-22 23:56] n8xm commented on #10189
Can confirm on:
- JupyterLab 3.0.16
- Firefox 90.0.1
- Arch Linux (kernel `5.13.4-arch1-1`)

Workaround:
1. Click on the dropdown menu.
2. Use the arrow keys on the keyboard to select the desired cell type.
3. Press enter to confirm.

[2021-07-23 07:19] fcollonval commented on #10668
Small note: this is the reason I used the `logging` package to emit message to `stderr` about `jupyter-packaging` in https://github.com/jupyterlab/extension-cookiecutter-ts/pull/171

I agree that capturing the last line of the `stdout` should do the trick.

[2021-07-23 07:27] trungleduc commented on #8439
@krassowska i'll take a look at `ProgressBar` component. For display configuration i think it's ok but the option to choose the position i haven't found solution yet.

[2021-07-23 07:27] fcollonval opened #10682 "CI broken by jupyter-server v1.10.0"
## Description

With the publication of jupyter-server v1.10.0, one @jupyterlab/services examples is broken in the CI:

[code]

Example: https://github.com/jupyterlab/jupyterlab/runs/3141134662?check_suite_focus=true

The PR that introduces the code: https://github.com/jupyter-server/jupyter_server/pull/523

[2021-07-23 09:08] fcollonval commented on #10189
Some updates - I still have not found the root cause. But I discovered that the simpler notebook example is also suffering the bug.

[2021-07-23 10:04] fcollonval commented on #10682
Fixed by https://github.com/jupyter-server/jupyter_server/pull/556

[2021-07-23 10:04] #10682 closed

[2021-07-23 11:05] nibheis commented on #7081
@ePerspi please check the nginx error logs on your jupyter hub instances.
If the maximum number of opened files is reached (even for just one worker), you'll see a line telling exactly that.

Also, I had a command line that allowed me to quickly check the number of opened files per worker process and ensure that nginx master process is splitting the load evenly across all workers. I'll try to find

[2021-07-23 11:23] chunjieChang commented on #10655
@echarles - thanks for sharing great project examples! I can't wait to work on it.

[2021-07-23 11:25] chunjieChang commented on #10655
@jasongrout i have some questions about example/cell (https://github.com/jupyterlab/jupyterlab/tree/master/examples/cell) is there other versions like creating as components not to call `.attach(panel, document.body)` as mounting whole documents.

[2021-07-23 11:26] krassowski opened #10684 "Notebook main area widget crash on closing search/replace bar"
## Description

When closing the search/replace bar after the search operation I encountered a crash that broke the notebook main area widget:

![Screenshot from 2021-07-23 12-14-27](https://user-images.githubusercontent.com/5832902/126774802-b0adeed2-5904-4c58-9048-a684f1b86a18.png)

With the following traceback:

[code]

## Reproduce

No idea. I will try to trigger it again with the same noteboo

[2021-07-23 11:39] krassowski commented on #10680
That's an excellent point. Some quick ideas:
3.1 Place the bug on the toggle button (discussed at team meeting - very mixed feelings)
3.2 Let's hide the flick switch and use colour and shape of the bug icon to indicate that the debugger is on. We could make the bug orange when the debugger gets activated. To make it colourblind friendly we could also add a running icon triangle (▶) in the lower ri

[2021-07-23 12:20] fcollonval commented on #10680
I fully agree with @krassowski

1. :-1:
2. Removing the switch that is taking horizontal space and put things on the icon would be better
3. Suggestion on the modified toolbar and button positions:
:arrow_forward:  (:beetle::arrow_forward:) :stop_button:  or :arrow_forward: :play_or_pause_button: :stop_button:
I'm unsure about the need to highlight the fact that the debug mode is on. But this is p

[2021-07-23 13:26] jtpio commented on #10680
At some point it was also discussed whether debugging should always be on, or when the user starts adding breakpoints. In that case the switch is not needed.

But as mentioned above having some visual indication in the toolbar can still be relevant, since the debugger is activated per notebook / kernel.

[2021-07-23 15:46] #10391 closed

[2021-07-23 16:32] Hoeze commented on #9017
Same issue as I posted here:
https://github.com/jupyterhub/jupyterhub/issues/2731

[2021-07-23 19:03] mahen-rawat opened #10691 "can't upgrade pip to 21.1.3"
Can you please help in upgrading the pip?

[2021-07-23 21:08] tgmuellerCochise commented on #2815
I'm a little confused on the Kernel Name and Language Model.  Below shows what I've gotten so far.
![image](https://user-images.githubusercontent.com/87499757/126840634-5292094e-8d95-4736-a797-7e003b6d0419.png)
![image](https://user-images.githubusercontent.com/87499757/126841350-5c953dca-13a9-4b6c-954d-fb2b0a8f26e1.png)

Questions:
1) are the subkernel and kernel names associated now with the not

[2021-07-24 12:23] krassowski commented on #10480
+1. I find it difficult to create new galata test cases just because of the very abstract API that does not allow to test elements that galata is not aware of; for example I tried to create a test case for #10693, which is exactly the kind of integration test I think galata could shine with, but galata has no support for command palette, nor a motion of editor inside of the cell.

This is a third

[2021-07-24 17:42] krassowski opened #10694 "Undo removes the partial output of currently running cell; cannot redo changes undone when other cell produces outputs"
## Description

The new system of storing history of changes in 3.1 introduced with Real Time Collaboration (RTC) has some peculiarities which do not work great with my [workflow](https://xkcd.com/1172/). The synchronization of outputs and inputs might be neat in some cases, but it can be disruptive for live-editing code while the cell is already running.

## Reproduce

### Demo isolated to a sing

[2021-07-24 18:36] #10638 closed

[2021-07-24 18:39] blink1073 commented on #10513
I plan to make the release at 3 ET on Monday (26 July) unless there are any objections.

[2021-07-24 21:27] pohlt opened #10696 "JupyterLabs does not find config files when installed in __pypackages__ according to PEP582 (e.g. using pdm)"
## Description

I'm using [PDM](https://github.com/pdm-project/pdm) to install jupyterlab. PDM installs packages according to PEP582, i.e., the packages are installed in a local `__pypackages__` directory.

When I start jupyterlab using `pdm run jupyter-lab` the configuration search paths do not include to directory `__pypackages__/3.8/etc/jupyter` where to configs are actually located. In the bro

[2021-07-24 22:18] krassowski commented on #10696
Thanks for bringing this up @pohlt. I believe that PEP 582 is still a draft, is this correct?

Have you tried passing the path to the config file using the `--config` argument? See `jupyter lab --help` for full description :)

[2021-07-25 10:57] blink1073 commented on #10675
@meeseeksdev please migrate to jupyterlab/jupyter-renderers

[2021-07-25 10:57] #10675 closed

[2021-07-25 11:00] graphedge commented on #4213
Hi - I'd like to point out one use case that may have interest all over the community.  If I have a teaching notebook, I'd like to leave a few cells with errors in them and then fix the error in the next cell.  I've seen it pointed out in Notebook discussions that you can freeze the cell and its output with an extension.  This would be great for restarting a kernel, executing everything, and havin

[2021-07-25 19:18] mwakaba2 opened #10697 "Missing cell ID on ICellModel instance"
## Description

When I try to access a cell's ID via `cell.id`, it's undefined. However, I'm able to get the id at `cell.model.id`.
The cell's instance type is [`ICellModel`](https://jupyterlab.readthedocs.io/en/latest/api/interfaces/cells.icellmodel.html)

## Reproduce

[code]

## Expected behavior

Expected the cell id to be defined.

## Context

- Operating System and version: mac Catalina 10.1

[2021-07-25 23:38] krassowski commented on #9039
The diagnosis is correct - `lumino`'s menu does not check selector and takes the last keybinding only comparing arguments, and ignoring selectors:

https://github.com/jupyterlab/lumino/blob/f434ff8bc751b58cc27b9cf0ab7cb31318e8dd15/packages/widgets/src/menu.ts#L1905-L1916

It should be possible to implement selector matching there using something similar to `matchKeyBinding()` function:

https://gi

[2021-07-25 23:47] krassowski commented on #6580
This was also reported in #6808 and fixed by https://github.com/jupyterlab/jupyterlab/pull/6859.

[2021-07-25 23:47] #6580 closed

[2021-07-26 01:50] #5869 closed

[2021-07-26 06:32] stphnlyd commented on #9945
There are multiple things here as I investigated now:
1. We defined the yarn registry to be like http://host/foo/bar without the slash at end. While this is workable for npm, jupyterlab's present logic drops the "bar" there, and thus makes a wrong url. That's why we got 404.
2. With the slash added to the yarn registry url and added auth so it becomes http://user:password@host/foo/bar/ there is a

[2021-07-26 14:25] fcollonval commented on #10697
The `Cell` class is actually a `Widget`, it's `id` is the DOM id of the widget node. I'm not sure it is desired to have it match the notebook cell id.

[2021-07-26 16:03] wazeerc opened #10700 "Duplicate shortcut"
### Problem
The lack of a duplicate line shortcut significantly slows down one's workflow.

### Proposed Solution
The possibility of adding a duplicate line keyboard shortcut would be really useful.

### Additional context

[2021-07-26 16:20] goanpeca commented on #10694
Thoughts on this one @dmonad  ?

[2021-07-26 16:42] JohanMabille opened #10701 "Wrong kernel state"
## Description

Jupyter Lab may not show the correct status of kernels that implement support for debugging, and more generally, that kernels that run the control and the shell on separate threads, as illustrated below:

![kernel_state_bug](https://user-images.githubusercontent.com/6754742/127022832-4596635a-b112-4b7f-b1ca-7419d8c07e70.gif)

## Reproduce

1. Launch two kernels with support for deb

[2021-07-26 16:52] afshin opened #10702 "A bad URL will cause Markdown Preview to fail"
A Markdown file that contains the following text will cause the Markdown Preview functionality in JupyterLab to fail:

[code]

<img width="445" alt="Screen Shot 2021-07-26 at 17 50 05" src="https://user-images.githubusercontent.com/159529/127027724-b270f742-e18b-41cf-a0da-92be58d44a47.png">

By comparison, the same Markdown text can render correctly in GitHub:

## Reproduce

1. Create a file calle

[2021-07-26 17:07] goanpeca commented on #10625
Pinging @hbcarlos :)

[2021-07-26 17:25] isabela-pf commented on #10643
Hey @ktaletsk, thanks so much for the specific and clear feedback! I love watching this screen recording, too because I'm kind of in awe that this works.

Kernel synchronization (or intentionally not synchronizing) is a messy issue and I don't have an answer on what behavior makes sense right now. I don't think this will be quickly decided, either. Switching kernels for all editors makes sense on

[2021-07-26 19:05] muraiki opened #10704 "Disable automatic hyperlinking on a per-notebook and per-cell basis"
### Problem

I would like it if there would be a way to disable automatic hyperlinking in cell output. In particular, when working with cybersecurity data, it can be dangerous to users if cell output containing data with malicious URLs is automatically hyperlinked.

### Proposed Solution

There should be a way to disable this for an entire notebook and for a specific cell. Perhaps this can be done

[2021-07-26 19:12] mwakaba2 commented on #10697
Hi @fcollonval, ah ok, thanks for the clarification! I'll continue to use the models. Just wasn't sure if the `cell.id` is supposed to be non-empty or not.

[2021-07-26 23:51] avasbr opened #10705 "Repeated keys only within a Jupyterlab terminal (3.0.16)"
## Description
I'm on the current set of versions for jupyter

jupyter --version
jupyter core     : 4.7.1
jupyter-notebook : 6.4.0
qtconsole        : not installed
ipython          : 7.25.0
ipykernel        : 6.0.3
jupyter client   : 6.1.12
jupyter lab      : 3.0.16
nbconvert        : 6.1.0
ipywidgets       : not installed
nbformat         : 5.1.3
traitlets        : 5.0.5

.. and I've recently had

[2021-07-27 06:52] subhamagrawal7 opened #10706 "Writing Tests for JupyterLab Extensions"
1. Can this library [Galata](https://github.com/jupyterlab/galata) be used for testing lab extensions and in general be used outside the core team??
2. If the tests can be written in Galata, it would be really helpful if you could provide some documentation for the same as the repository does not seem to have them (apart from the Readme.md which doesn't give all the functions that the API has).
3.

[2021-07-27 08:05] davidbrochart commented on #10701
I think we should not make any change in the kernel protocol. It is always better to provide more details about what is happening in the kernel, and let the client decide what to do with it, rather than filtering the information that is given to the client.
JupyterLab shows a kernel status indicator, which indicates if the kernel is executing some code, so it is clearly a bug in JLab if this statu

[2021-07-27 08:09] JohanMabille commented on #10701
Which is exactly what a change in the protocol would do: JupyterLab would know immediatly to which channel the status message is associated, instead of having to retrieve it via the parent header.

Changes in JupyterLab only means the part of the code I linked must be aware of all the requests and where they're supposed to be sent.

[2021-07-27 08:24] davidbrochart commented on #10701
Ah ok, I hadn't realized you wanted to add information when changing the protocol:

As you said, since the client can retrieve this information through the parent header, it is not really needed, but I agree this can make it simpler for clients.

[2021-07-27 11:19] icankeep opened #10707 "opening pdf file bug"
# reproduce
1. open pdf file
![image](https://user-images.githubusercontent.com/39434627/127145079-2dc0746a-d377-4e1a-a09c-3f188c2561fc.png)
2. switch to a notebook
3. switch back to the pdf file
![image](https://user-images.githubusercontent.com/39434627/127145102-005fceb2-3c36-42dc-9ce9-c8e2d600c76c.png)

# result
The view of pdf will not render properly.  my jupyterlab version is 3.0.14

[2021-07-27 11:48] krassowski commented on #10707
It looks like a duplicate of #10374 to me, which it seems is a bug in Chromium itself (but if you can find a workaround that we could apply that would be great!).

[2021-07-27 11:59] krassowski commented on #10705
The JupyterLab terminal is built using xterm.js and indeed there was a recent (1 month old) report of a similar new issue specifically with Chrome 92: https://github.com/xtermjs/xterm.js/issues/3377. Please check with a newer version of Chrome and go to issue in xterm.js repo and let maintainers know what you find, give as many details as possible, and also please keep us updated if you find a sol

[2021-07-27 12:00] krassowski commented on #10707
Closing as a duplicate.

[2021-07-27 12:00] #10707 closed

[2021-07-27 14:34] fcollonval commented on #4292
Hey

I can help on this. From what I read of the various benchmarks, a major bottleneck is the layout computation of all CodeMirror instance. So as suggested by @echarles, I see three paths (not exclusive):

1. Upgrading to Codemirror.next
2. Using only one Codemirror instance per notebook
3. Virtual notebook

Is there some other solutions? Which one should be try first - I tend to think about upg

[2021-07-27 14:46] mlucool commented on #4292
We hope to release a blog post on some of the history/things tried in this area in the near future.

Maybe it would be good to setup a community meeting on this topic?

[2021-07-27 15:03] meeseeksmachine commented on #4292
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/performance-analysis-and-improvements/10126/1

[2021-07-27 15:05] fcollonval commented on #4292
Sounds like a great idea. I open a discussion on the forum to iterate on a good time for that meeting.

cc @echarles @goanpeca

[2021-07-27 16:16] hbcarlos commented on #10694
Actually, there is a way of preventing Yjs from capturing operations.
see: https://docs.yjs.dev/api/undo-manager#example-stop-capturing

I'm working on this. I'll open a PR.

[2021-07-27 17:23] avasbr commented on #10705
Ahh, thanks for that link! I was indeed on Chrome 92.0.4515.107 (latest version as of writing) but on Firefox 90.0 I do not have this issue. I'll definitely comment back in this thread if an update to chrome fixes this issue. In the meantime, using Firefox (and it seems other browsers in general) is a perfectly reasonable solution for me so I will close this.

[2021-07-27 17:23] #10705 closed

[2021-07-27 19:45] gthomas-slack commented on #10369
Can confirm that we are seeing the same issue in our deployment of jupyterhub + jupyterlab.

Links generated using the "Copy Shareable Link" take the form of `/user/name/` instead of `/user-redirect/`

JupyterLab - 3.0.16
JupyterHub - 1.4.2
k8s - 1.18.16

[2021-07-27 20:22] SylvainCorlay commented on #10701
Following a direct conversation on this issue with @JohanMabille on this

 - we should probably have the front-end kernel busy/idle indicator only reflect the business of the Shell channel/thread of the kernel.
 - async kernels like `akernel` can have several cells running concurrently and a single "idle" message with the parent header of an execution request only indicates the fact that one execu

[2021-07-27 22:58] pacospace commented on #9894
for reference: https://github.com/thoth-station/jupyterlab-requirements using thoth(https://thoth-station.ninja/)/pipenv(https://github.com/pypa/pipenv) for resolution engines and micropipenv for installation: https://github.com/thoth-station/micropipenv

[2021-07-27 23:05] mlucool opened #10711 "cwd bug"
## Description

If you move a notebook that is running, the cwd does not change _even after kernel restart_. I'm not sure where in the stack this bug is, so feel free to redirect.

## Reproduce
1. Create a notebook in a directory with the following content. Run the notebook.
[code]
2. Move the notebook to another directory
3. Restart the kernel and rerun the notebook

## Expected behavior

The out

[2021-07-28 05:48] echarles commented on #4292
Thinking more, I am not sure moving to CodeMirror.next will have an effect on tab switch (it will for sure on tab load). We have not yet profile the tab switch like we had done for the tab load (https://jupyterlab-benchmarks.readthedocs.io/en/latest/measures/profiling.html), but my guess (to be confirmed) is that the browser just takes time to make visible again all the DOM nodes that were made hi

[2021-07-28 07:09] KrishnaKumarHariprasannan opened #10712 "Cross-link extension development and contributing guides"
## Description
Lab extensions are disabled in dev-mode which is correctly documented [here](https://jupyterlab.readthedocs.io/en/stable/developer/contributing.html#run-jupyterlab) but misses instructions to have it enabled. These instructions are available under [extension development guide](https://jupyterlab.readthedocs.io/en/stable/extension/extension_dev.html#developing-a-prebuilt-extension).

[2021-07-28 07:09] KrishnaKumarHariprasannan commented on #10712
@meeseeksdev tag documentation

[2021-07-28 07:17] KrishnaKumarHariprasannan commented on #10712
@meeseeksdev untag bug

[2021-07-28 08:11] fcollonval commented on #10706
Hey @subhamagrawal7

Yes you can. Jupyter widgets are tested using it for example: https://github.com/jupyter-widgets/ipywidgets/tree/master/ui-tests

Having use it, lately the experience is not as great as it could be. There are some plans to build it a bit differently to exploit more features from Playwright.

So I would recommend using [Playwright](https://playwright.dev) rather than Cypress. F

[2021-07-28 08:19] fcollonval commented on #10696
Yes it is.

Xref: https://www.python.org/dev/peps/pep-0582/

[2021-07-28 08:20] fcollonval commented on #10691
Closing this one as unrelated to JupyterLab.

[2021-07-28 08:20] #10691 closed

[2021-07-28 08:24] fcollonval commented on #10652
Hey I would clean the machine of JupyterLab - in particular remove the folder `/usr/local/share/jupyter/lab`. Then install JupyterLab 3.

[2021-07-28 09:35] JulianSMoore opened #10714 "Heading Collapse not working if level >1"
## Description

I was not able to find documentation indicating that this unexpected (and to me, undesirable) behaviour is by design

The attached notebook reproduces the unexpected and undesirable behaviour that only H1 headings seem to collapse everything beneath them, all other collapse actions only applying apparently to up to the next heading, whether it is of lower level or not.

Note that t

[2021-07-28 09:49] huyfam commented on #10189
I confirm this issue on my system.

- OS: Ubuntu 20.04.2
- Jupyter Lab 3.0.14 (through conda)
- Firefox 90.0 (64 bit).

It has occured for some time.

[2021-07-28 10:39] dboaretti commented on #10652
Thanks! This is a shared machine in our group. Cleaning and updating the machine is a bit more difficult than normal. I reverted JupyterLab to version 2.3.1 which is working as expected. I hope to get back to it by the end of September, and maybe I will be luckier.

[2021-07-28 11:04] #10712 closed

[2021-07-28 11:06] blink1073 commented on #10513
Release is complete: https://github.com/jupyterlab/jupyterlab/releases/tag/v3.1.0

[2021-07-28 11:06] #10513 closed

[2021-07-28 11:10] pacospace opened #10716 "Update to jupyterlab==3.1.0 breaks application installation for jupyterlab-requirements"
## Description

from Pipfile: https://github.com/thoth-station/jupyterlab-requirements/blob/master/Pipfile moved to new jupyterlab 3.1.0, running `jupyter --version`

[code]

and update packages.json from https://github.com/thoth-station/jupyterlab-requirements/blob/db8f97eda948d916f4a7abae10e13b60523d3bde/package.json#L54 to:
[code]
## Reproduce

1. Clone jupyterlab-requirements repo: https://git

[2021-07-28 11:34] fcollonval commented on #10716
Hey @pacospace

Yarn is not solving the @lumino/widgets module correctly and you end up with a subversion used by `@lumino/application` and by the root common packages.

[code]

I suggest you update the `@lumino` dependencies too.

[2021-07-28 11:57] krassowski commented on #10714
You seem to think that you have H3 and H4 headings but in fact you don't. What you have is one H1 heading and three H2 headings:

![showing the un-rendered markdown cells with heading levels as in the quote block that follows](https://user-images.githubusercontent.com/5832902/127317668-fadb5549-16c5-4a59-9333-1b1b5bf3e61d.png)

[code]

In Markdown the number of hash characters (`#`) determines the

[2021-07-28 14:10] pacospace commented on #10716
Thanks @fcollonval removed some unusued @lumino libraries and updating @lumino/widgets to latest did the trick! Thank you a lot!

[2021-07-28 14:19] vidartf commented on #4276
@GF-Huang Which version of JupyterLab? (and which version of nodejs?)

[2021-07-28 14:37] JulianSMoore commented on #10714
@krassowski Apologies about the "MWE" - you are of course right; I screwed up in constructing the "MWE". Unfortunately, there is an issue, I just failed to reproduce it properly. The NB in which I identified the issue has this TOC structure, and collapsing "Function Definitions" - which clearly does have proper structure under it - does nothing.

![image](https://user-images.githubusercontent.com/

[2021-07-28 15:14] echarles commented on #4292
I have gone the `refresh` with eg. https://github.com/jupyterlab/jupyterlab/pull/9384 but got paused with https://github.com/jupyterlab/jupyterlab/pull/9384#issuecomment-736748092, quoting @ellisonbg `I am very nervous about this. Over the years we have found a range of unexepected situations where we needed to call refresh. A lot of these were related to situations that cause CodeMirror to need t

[2021-07-28 15:19] krassowski commented on #10714
I can confirm this is a bug. Could you please try setting:

[code]

in `Advanced Settings Editor` → `Notebook`, saving, reloading JupyterLab and checking if it still happens?

[2021-07-28 15:27] GF-Huang commented on #4276
Latest version of 21 days ago.

[2021-07-28 15:30] echarles commented on #10714
Did a quick test with 3.1.rc2 and default settings, and looks to me like it works as expected.

<img width="639" alt="Screenshot 2021-07-28 at 17 29 48" src="https://user-images.githubusercontent.com/226720/127350989-cf69c920-a589-4487-ad5b-385ff9cb2b55.png">

[2021-07-28 15:32] krassowski commented on #10714
Nah, check out the repro notebook (`DESI Photo-Z 43.ipynb` on `Function Definitions`). It is some king of interaction between cell rendering and collapse feature.

[2021-07-28 15:40] krassowski commented on #10714
Screencast just in case:

![full-repro](https://user-images.githubusercontent.com/5832902/127352534-433e1dca-9a7f-4280-9f61-df63810962f0.gif)

[2021-07-28 15:51] echarles commented on #10714
oh, I was using the first reproducer. With the second, indeed, the cells being lazily rendered do not collapse.

[2021-07-28 16:28] ellisonbg commented on #4292
Glad to see this work stream continuing.

At one point, I thought we were seeing recursive (N^2) calls to `refresh`
(N is the number of cells). Do we fully understand the details of how/when
`refresh` is being called? The thing that stands out in my mind is that the
classic notebook has had fewer of these issues that JupyterLab in spite of
not using CodeMirror next. I don't think there are any fun

[2021-07-28 16:33] cameron-toy commented on #9885
Hi @layne-sadler, I'm a [Cal Poly Jupyter intern](https://github.com/jupytercalpoly) and my team and I have been working on an extension that will address this issue (here: https://github.com/jupytercalpoly/jupyterlab-comments)

The extension will support comments on text selections in notebooks as well as markdown and code files. There's a pre-alpha version running on a binder in the repo that ha

[2021-07-28 16:59] adpatter opened #10721 "A backward incompatible change was made to the saveState Signal."
## Description

A backward incompatible change was made to the saveState Signal.  Previously the Signal emitted with a `completed` message regardless of how the save happened.  Now it appears that if the save was done manually, the Signal emits with `completed-manually` and otherwise emits with `completed`.
## Reproduce

Connect a Slot to NotebookPanel#context.saveState and observe the change in m

[2021-07-28 17:01] adpatter commented on #10721
This Issue was mentioned during the 2021-07-28 WebDev Meeting: https://github.com/jupyterlab/team-compass/issues/117

[2021-07-28 17:18] krassowski commented on #10721
I think that this change can be safely reverted for now as we ended up reverting #10043 in #10609. Once we get the rename feature into 4.0 (/if) then I would even imaging emitting an object rather than a string which could follow something like (very rough draft, names and types subject to change):

[code]

[2021-07-28 17:18] bollwyvl opened #10722 "Custom appName reverts to JupyterLab"
## Description

For a custom Lab app, the `appName` (set at build time or via `jupyter-config-data`) should remain customized.

## Reproduce

- Build a custom lab with an `appName` of `CustomLab` or overwrite `index.html` on-the-fly by subclassing `LabApp`
- Open lab
- See `CustomLab` while the moons spin
- Once the workspace loads, it will be replaced with `JupyterLab (workspace stuff)`

## Expec

[2021-07-28 17:40] bollwyvl commented on #10706
For a lot of extensions I work on, i prefer the workflow offered by [robotframework](https://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html) and [seleniumlibrary](https://robotframework.org/SeleniumLibrary/SeleniumLibrary.html).

Some of the lab/notebook/(old) nteract patterns are wrapped up in the `pip`/`conda-forge` installable [robotframework-jupyterlibrary](https://robot

[2021-07-28 17:49] darcsoel commented on #10711
Bug is reproducible with Xeus kernel too.

[2021-07-28 18:09] richardkang112 commented on #7138
Hello. May I work on this issue?

[2021-07-28 18:36] darcsoel commented on #10711
issue not reproducible with next scenario:
1. create notebook, add lines
2. save and close
3. move to another folder

[2021-07-28 19:02] subhamagrawal7 commented on #10706
Thank you for all the suggestions @fcollonval @bollwyvl !! Will definitely try them out.

[2021-07-28 19:58] meetsitaram commented on #7138
I am no longer working on it.

[2021-07-28 22:00] mlucool commented on #10045
This is causing confusion for some users as data looks wrong at times because it is partially cutoff with no clear indication of such. Wrong data is worse than a slow experience.

I am not familiar with this code, but some ideas (many of which may be not possible):
1. Treat text as specials and do something more bespoke (maybe it'll solve https://github.com/jupyterlab/jupyterlab/issues/10046). See

[2021-07-28 22:17] aiqc commented on #9885
@cameron-toy Thanks for reaching out. Although I created a few issues just to give feedback, I wanted to reply and let you know that it looks and feels fantastic so far!

[2021-07-28 22:57] goanpeca opened #10726 "3.2 Release Tracking"
This issue will gather all issues we will be working on for the 3.2 release.

The list will be updated with issues and PRs that will be included.

This release will have a span of 1-2 months so he initial 3.2rc will be planned for the end of September.

## Work
-  Toolbar customization [#10469](https://github.com/jupyterlab/jupyterlab/pull/10469)
-  Rich variable rendering [#10299](https://github.

[2021-07-28 22:58] krassowski commented on #7138
The suggestion from https://github.com/jupyterlab/jupyterlab/issues/7138#issuecomment-526863115 is already implemented and available in JupyterLab 3.1 thanks to #10215. This requires to define a shortcut for `apputils:run-all-enabled` and pass the commands to be run in succession in the `args` argument:

[code]

I think that all that's left is documenting this behaviour in documentation for shortc

[2021-07-28 23:02] krassowski commented on #10726
- https://github.com/jupyterlab/jupyterlab/pull/10632 (to be discussed)

[2021-07-28 23:38] richardkang112 commented on #7138
@krassowski Sure, I'll work on the documentation. Thank you!

[2021-07-29 04:54] anurag4516 commented on #7081
We are also facing this issue very often applied @nibheis suggestions but still not outcome . This must be fixed not sure how others are solving this  . Any help is appreciated

[2021-07-29 06:38] JulianSMoore commented on #10714
With those additional settings, Function Definitions collapses and shows a button with "+89 cells hidden" - further good news: previously (but not reported) clicking the "cells hidden" button where it did appear also did not unhide the hidden cells (the only way to make them reappear was to click on a hidden heading in the ToC (heading visible in ToC, hidden in nb itself).

So, that at least mitig

[2021-07-29 12:57] bollwyvl commented on #9538
Opened up this: https://github.com/jupyterlab/jupyterlab/pull/10731

[2021-07-29 14:34] chiragjn opened #10732 "User Input guard/popup prevents further execution after stopping execution and kernel restarts"
## Description

It seems like an input guard with popup was added, while I can see it can be useful to catch user's attention, it is too disruptive for any other uses. For e.g. I use pdb `post_mortem` a lot to debug my expensive ML code to catch any bugs before I leave it for hours to run. But this new popup flow blocks and overlays itself over everything. Even if i dismiss it, it won't let me tak

[2021-07-29 16:04] geozeke commented on #10732
Greetings!

First, thanks to the dev team for the amazing work on this project :-)

I chatted with a dev on Gitter, and he pointed me to [jupyterlab/jupyterlab#8713](https://github.com/jupyterlab/jupyterlab/pull/8713) when I asked about this change. It caught me by surprise too. The logic behind the change makes sense - to avoid blocking when attempting to re-run a code cell that's waiting for use

[2021-07-29 17:31] gherold commented on #10016
In my current setup (JupyterLab 3.0.14, Python 3.9.5, Chrome 92.0.4515.107), this bug is still present. It also does not appear to depend on the browser or the mode in which it is started (same happened with disabled app-mode and in Firefox).

I came a little closer to the problem in that I found that in the ".jupyter" config directory, in the sub-dir lab/workspaces, a "default-37a8.jupyterlab-wor

[2021-07-29 17:37] krassowski opened #10736 "Improving the display of languages in the languages menu"
### Problem

The native language is displayed in parentheses leading to parenthesis-ception if the native name has region name itself.

![Screenshot from 2021-07-29 18-25-48](https://user-images.githubusercontent.com/5832902/127538272-0ec33be6-fb42-4a8b-9b4a-e520adee2800.png)

The relevant code is in:

https://github.com/jupyterlab/jupyterlab/blob/357afe8b777071a4e2db5044bde108e441dfb3c8/packages/

[2021-07-29 18:16] joelostblom commented on #10726
- Would there be room for https://github.com/jupyterlab/jupyterlab/pull/9068 be considered for 3.2?

[2021-07-29 18:36] krassowski opened #10737 "Gaps in translation coverage"
## Description

The Chinese language pack has 100% coverage so everything that does not display in the UI as translated is a bug:

Remaining:
- ~~`Locals`, `Arguments` and `registers` in debugger (I cannot find them - are those served by the debugger itself? If so, there could be a map on frontend)~~ -> Not coming from JupyterLab code.
- [ ] `Build failed with`, `Build aborted` etc in `builder/ind

[2021-07-29 20:56] akhmerov commented on #10732
A particularly disruptive situation is a `%debug` magic in IPython: there one is presented with the new input popup immediately after every interaction (since the debugger always waits for input).

[2021-07-30 00:28] krassowski commented on #10189
I spend too many hours trying to solve this.
- there is no mouse, control nor pointer event that we handle that is associated with this behaviour
- there are some transient events in React which could be somehow associated but this is difficult for me to debug
- this is uniquely associated with the toolbar: moving the `<select>` to other element (e.g. menubar) makes it behave well; moving it back

[2021-07-30 03:06] 3coins opened #10740 "Add kernel install instructions for non conda users"
### Problem

JS test in debugger package requires "xpython" kernel and fails if the kernel is missing.
[code]
For non conda users, there is no instructions on how to install the kernels in the developer docs.

### Proposed Solution

Add instructions to install [xeus-python](https://github.com/jupyter-xeus/xeus-python) package for non conda users.

### Additional context

N/A

[2021-07-30 05:37] echarles commented on #10732
What would be the solution to cover this case? This initial implementation (as shown on the image on https://github.com/jupyterlab/jupyterlab/pull/8713#issue-456135974) did not have a modal to ask for the input, but a modal to inform an input was already requested.

From the description and the tests I have run with your snippet, vemoving the model to ask the input won't help, right?

Well I think

[2021-07-30 05:39] echarles commented on #10732
@akhmerov Can you give a bit more details on the issue you have faced with `%debug`? This will help to find a solution/workaround. Thx.

[2021-07-30 06:20] fcollonval commented on #10189
Thanks a lot @krassowski to diving into this.

Should we open an issue on Firefox tracker to get some insights from them?

[2021-07-30 06:49] chiragjn commented on #10732
On re-tracing my steps I realised I was pressing Shift+Enter instead of Enter out of habit which was issue Run Cell instead of submitting input (0:08 - 0:09 in the video in the description). So pressing Enter works just fine. :)
As far as I can tell the issue is in the JS state, specifically a cell stop and kernel restart does not remove the waiting flag from memory (a refresh of the page does res

[2021-07-30 07:15] echarles commented on #10732
@chiragin Looks like this is another issue than the one raised at the beginning of this thread related to behaviour while debugging. If this is the case, can you open a separated issue for that?

[2021-07-30 11:07] krassowski commented on #10189
I found it! It turns out this is because of the mobile-friendly, scrollable toolbar feature from #8417 added in 2.2. [This](https://github.com/jupyterlab/jupyterlab/pull/8417/files#diff-22fc19a2f3ef27551a83af0f75d33604a07ad8f48331fdfbec42f1859ae9c72eR27-R29) CSS rule:

[code]

causes a reframe in Firefox triggering [Firefox bug 1440506](https://bugzilla.mozilla.org/show_bug.cgi?id=1440506) (Dropdo

[2021-07-30 11:55] akhmerov commented on #10732
After rereading, I realized that I faced essentially the same issue as in the original post. To work with %debug one usually needs very short inputs interlaced with examining the frames. Now the best approach for the user is to remove the popup from the cell at each debugger step. While I wasn't confused by the new UI, I just found the pop-up very disruptive to the workflow.

Note that the popup b

[2021-07-30 12:01] echarles commented on #10732
Maybe the next steps would be:

- Remove the modal that ask for user input to avoid breaking rapidly iterating users.
- Add a setting to disable the check for power users who know what they are doing.

[2021-07-30 12:15] krassowski commented on #10732
Off topic: @akhmerov @chiragjn have you tried JupyterLab debugger? Since you are already running JupyterLab 3.1, the only thing you need to do is tu update ipykernel:

[code]

or

[code]

And a toggle should show up on the Notebook toolbar allowing you to enable it. Just curious what your thoughts are.

Of course it does not make the need for making the workflow less disruptive any less important.

[2021-07-30 12:28] akhmerov commented on #10732
Hehe, I never saw the switch appear, even with jlab 3.1 and ipykernel 6.0.3 (both from conda-forge) :crying_cat_face:. Maybe now is the time to figure out what's wrong.

[2021-07-30 12:34] echarles commented on #10732
`pip install --upgrade --pre ipykernel` ?

[2021-07-30 12:49] akhmerov commented on #10732
[code]

[2021-07-30 13:41] meeseeksmachine commented on #10732
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/missing-debugger-option/9851/12

[2021-07-30 14:06] xeliba commented on #10722
Sorry for my question being a little off-topic.

How can you actually configure `appName`. And is it the same as the browser tab name, e.g. in Chrome?

For `jupyterlab==3.0`, I was able to change the name of the browser tab via
`jupyter lab build --name='MyFancyName'`
But it seems that this does not work anymore (not even on jupyterlab==3.1.1).

Actually the broswer tab name now shows something li

[2021-07-30 14:17] bollwyvl commented on #10722
Actually, we shipped this on 3.1.1 for #10724 (which was my need for right now), so I'm going to close this out...

But yeah, setting the `appName` and a few other things is weird. We ended up shipping a wrapper python package with a custom CLI, and just rewrite the JSON on the fly that comes out of `/lab`, as we have no interest in re-building anything, just helping distinguish in the browser tab

[2021-07-30 14:17] #10722 closed

[2021-07-30 14:39] mlucool commented on #10573
FTR, this was my bug. My contents manger imported from `notebook` instead of `jupyter_server`

[2021-07-30 14:42] beckernick commented on #10732
I'm also running into this issue. It's particularly difficult as I often don't know what step I want to take until evaluating the new frame, which requires hitting cancel.

Thanks for the suggestion @krassowski ! I haven't explored this before, but will spend some time on it. From a quick test, this looks quite useful for when I am debugging a function that I've defined in scope. For example, I ca

[2021-07-30 15:19] krassowski commented on #10732
There is a draft PR for that: https://github.com/jupyterlab/jupyterlab/pull/10298 and it might make it into 3.2 - please do subscribe to that one and help testing once ready :)

[2021-07-30 15:21] beckernick commented on #10732
Nice! Thanks for the pointer. Happy to take a look and test when ready.

[2021-07-30 15:45] krassowski commented on #10189
Also CC @3coins and @ellisonbg who are currently working on improving the toolbar experience. Any ideas how to solve this one? Should we remove the tiny scrollbars now given that #10720 is in? Or create a custom selector widget instead of using `<select>` as this seems to be causing multiple problems (and is difficult to style)?

[2021-07-30 16:27] goanpeca commented on #10726
Hi @joelostblom that is rather a large endeavor that has stalled, so unless someone champions it full time, I do not think it will make it.

[2021-07-30 18:47] 3coins commented on #10189
@krassowski Thanks for including in the discussion. Having scrollbars with responsive toolbar is redundant and likely to cause more issues, so this should be removed regardless of whether we go with custom selector widget or not.
Creating a custom selector widget would help with other issues with current <select> (quirks across browsers) and also provide flexibility in styling the widget.

[2021-07-30 18:52] ellisonbg commented on #10189
Yeah, I think we should remove toolbar scrolling with the responsive design that was merged.

[2021-07-30 19:46] 3coins opened #10749 "Update responsive toolbar to hide primary buttons last"
### Problem

Current responsive toolbar hides toolbar items that don't fit without any regard to priority of the item. Some buttons in the toolbar are useful at all times and can be hidden last.

### Proposed Solution

Define a primary and a secondary group for toolbar items. The secondary group items are hidden first starting from the right most element. After all secondary group items are hidden

[2021-07-30 20:08] #10721 closed

[2021-07-30 21:36] GoliathLeviathan opened #10751 "Editor ignores indent setting in Python notebooks"
When using JupyterLab, the indent setting seems to be ignored on notebook files (.ipynb). Tested with JupyterLab 3.1.1 (installed from pypi).

My user settings of the JupyterLab editor contains the following setting (created by JupyterLab when setting the indention using the Settings menu):
[code]
I would expect, that the editor inserts a tab character when indenting with the tab-key, but it still

[2021-07-30 21:40] ajbozarth commented on #8148
A heads up, @marthacryan and I are starting to look into implementing this. Is there anyone currently working on this that we may step on their toes?

[2021-07-30 21:54] isabela-pf commented on #8148
@ajbozarth @marthacryan Hooray!

I'm not aware of anyone working on this! Last I heard was @afshin had his name on it for #9647 but has also said in meetings that he'd be happy if other people did it.

[2021-07-30 21:58] afshin commented on #8148
@ajbozarth and @marthacryan, please do, by all means!

[2021-07-30 21:59] krassowski commented on #10751
Ok, I looked more into this. Your configuration is good and it indeed should (and does) insert tabs instead spaces. The problem is might be that you are editing configuration for Text Editor and expecting that it would work in Notebook too (I would expect the same but it does not). Instead you may need to go to *Advanced Settings Editor* → *Notebook* and edit configuration in there, separately for

[2021-07-30 22:11] GoliathLeviathan commented on #10751
This works indeed.

Looking forward to the unification of these settings, but my issue is solved.

Thanks.

[2021-07-30 22:11] #10751 closed

[2021-07-30 22:13] bollwyvl commented on #8148
Yeah, my toes are safe, as well. Again I'll toss out the 80% solution represented by [jupyterlab-rjsf](https://github.com/deathbeds/jupyterlab-starters/tree/master/packages/jupyterlab-rjsf)... 80% in that:
- the markdown rendering for titles, description, etc. is kinda trash
- it still gets a tad confused when the schema changes quickly
- is going to take some _thinking_ with how defaults/composit

[2021-07-30 23:17] krassowski commented on #10414
When drafting https://github.com/jupyterlab/jupyterlab/pull/10752 I noticed descriptions are not available for many plugins. I will look in more detail later (if time permits, from Monday onwards I am back to regular weekend-only contributions).

[2021-07-31 11:59] krassowski commented on #10640
Hi @sejin-k I think this is a duplicate of https://github.com/jupyterlab/jupyterlab/issues/2833, is this correct? We plan to tackle this for 4.0 release - any help would be greatly appreciated.

[2021-07-31 14:28] cnaccio commented on #4393
@pya this is a great workaround; thank you!

[2021-07-31 17:11] mwakaba2 commented on #10259
@krassowski Thanks again for the suggestions/feedback!
Just wanted to let you know that the feature to only get notified once all selected cells finished executions is out. 🙂
https://github.com/mwakaba2/jupyterlab-notifications/releases/tag/0.3.0

[2021-08-01 14:00] vincentsum777 opened #10753 "Update package to remove vulnerability in dependencies of old version of @jupyterlab/coreutils"
Hi, @jtpio @afshin, I accidentally find there is a vulnerability introduced by package **url-parse**:
### Issue

   A vulnerability is introduced in **_@jupyterlab/coreutils@4.3.0_**:
     Vulnerability **CVE-2021-27515** is detected in package **_url-parse_** (versions:<1.5.0):  [https://snyk.io/vuln/SNYK-JS-URLPARSE-1078283](https://snyk.io/vuln/SNYK-JS-URLPARSE-1078283)
  As far as I know, the

[2021-08-01 15:12] krassowski commented on #10753
Welcome @vincentsum777.

I believe this was fixed with an update of url-parse to 1.5.1 by #10219 in 3.1 release and backported to 3.0 branch in #10221 in 3.0.15. Please correct me if I am wrong.

As a PSA I would like to highlight that url-parse update wreaked havoc downstream (https://github.com/krassowski/jupyterlab-lsp/issues/595, https://github.com/krassowski/jupyterlab-lsp/issues/612) because

[2021-08-02 02:24] #10697 closed

[2021-08-02 06:28] chiragjn commented on #10732
I did read about it and I would love to, unfortunately, I have to use Python 3.6 at the moment and ipykernel 6.x is only available for 3.7+. So maybe someday in the future :sweat_smile:

[2021-08-02 11:27] vincentsum777 commented on #10753
@krassowski, thank you for your feedback. I know that this issue has been resolved since **@jupyterlab/coreutils@5.0.6**. However, **@jupyterlab/coreutils@4.3.0** still directly depends on **url-parse@1.4.7**:
`@jupyterlab/coreutils@4.3.0 ➔ url-parse@1.4.7`

What’s worse, **@jupyterlab/coreutils@4.3.0** is so popular ([2,746 downloads per week](https://www.npmjs.com/package/@jupyterlab/coreutils/v

[2021-08-02 11:51] sejin-k commented on #10640
[#2833](https://github.com/jupyterlab/jupyterlab/issues/2833) is the same issue as I thought. Thank you for your answer :)

[2021-08-02 11:51] #10640 closed

[2021-08-02 11:55] krassowski commented on #10753
Thank you. There is a draft pul request open for that #10755, please feel welcome to help with it. As I mentioned `url-parse@1.5.x` **breaks things** and apparently even 1.5.3 broke our tests, so if you believe it is _simply_ performing that update, please do help ;)

I see you opened similar or identical issues in other repositories - please see responses of other maintainers (e.g., https://githu

[2021-08-02 12:49] loichuder opened #10757 "`null` fileFormat raise `Format is invalid` error 400"
## Description

Playing around with the new `null` fileFormat introduced in #7596, I noticed that it is in fact not usable in its current state. The url to get model contents (https://github.com/jupyterlab/jupyterlab/blob/master/packages/services/src/contents/index.ts#L1057) translates the option `format: null` into `...&format=null` (`null` is serialized as string by `objectToQueryString`: https:

[2021-08-02 13:19] #8724 closed

[2021-08-02 14:50] bollwyvl commented on #10696
The (deprecated) `data_files` mechanism, and `zip_safe=False` is _pretty much_ required so that files end up in a _countable number of well-known places_ (about 5), whether installed by `pip`, `conda`, `julia`, `apt`, `cran`, etc.

In addition to that, there are a number of [environment variables](https://jupyter.readthedocs.io/en/latest/use/jupyter-directories.html#configuration-files), [`traitle

[2021-08-02 15:20] krassowski commented on #10431
This is still happening if a cell has no output:

![dirty-state-not-removed](https://user-images.githubusercontent.com/5832902/127884915-1a2b0f5e-ef6e-4d72-bbe8-8259f38de1c2.gif)

[2021-08-02 16:46] krassowski opened #10760 "Regression: cursor lands in wrong place on cell split"
## Description

Split cells is a function that I use pretty often and I expect the cursor to remain in the same place when it was before split, but in 3.1 it goes to the end of the cell instead.

Potentially related to #10297? My guess is that or the shared models for RTC.

## Reproduce

1. Open notebook
2. Create a cell with two lines, insert empty line in between
3. Set cursor on the empty line

[2021-08-02 16:53] krassowski commented on #10760
@mlucool was moving the cursor to the end of line part of the behaviour that you requested in #10210? Should we have two code paths depending on whether there is a selection or not?

[2021-08-02 19:06] hanmala123 opened #10763 "Incomplete widgets display of jupyterlab"
## Description

In jupyterlab, horizontal scrollbar and picture in widgets is incomplete, it can not display the last picture and the end of scrollbar.
![01](https://user-images.githubusercontent.com/35035210/127909760-d5fd357c-b806-42f4-9b39-daec5c7c24cf.png)

But in classic notebook, it has not this problem.
![00](https://user-images.githubusercontent.com/35035210/127909843-44d38987-961c-4456-b3

[2021-08-02 19:45] pohlt commented on #10696
Turns out that PDM pulls this `__pypackages__` thing off without relying on
PEP582.

Anyway, I understand your point. Thanks for looking into it.

On Mon, Aug 2, 2021 at 4:50 PM Nicholas Bollweg ***@***.***>
wrote:

[2021-08-02 19:45] #10696 closed

[2021-08-02 20:13] krassowski commented on #10763
It would really help if you could create a reproducible example, for example a minimal notebook with `fastai.vision.widgets` code that will install its dependencies and run on [![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/jupyterlab/jupyterlab-demo/5a5eb6b?urlpath=lab/tree/demo).